
.selected-checkbox-content {
    display: flex;
    justify-content: flex-end;
}

.selected-checkbox-description {
    padding-left: 5px;
}

.saveButton {
    float: right;
}

.ui-chkbox.ui-widget .ui-chkbox-box.ui-widget.ui-corner-all.ui-state-active > span, .ui-chkbox.ui-widget .ui-chkbox-box.ui-widget.ui-corner-all.ui-state-hover > span {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_38667f_256x240.png.xhtml?ln=primefaces-aristo");
}