.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-shadow.ui-hidden-container.ui-draggable {
    background: transparent;
}

.ui-dialog-content.ui-widget-content {
    background: white;
}

.ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-top.ui-draggable-handle {
    background: rgba(55, 102, 161, 0.7);
    color: rgb(255, 255, 255);
    text-shadow: none;
    padding: 4px 4px 4px 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}