@import url("#{request.contextPath}/resources/css/fahrzeugmerkmal/dialog.css");

.dialogContentWrapper {
    display: flex;
    flex-direction: column;
}

.inputRow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.newAuspraegungWrapper {
    margin-bottom: 10px;
}

.fahrzeugmerkmalInput {
    width: 560px;
}

.fahrzeugmerkmalAuspraegungTableInput {
    width: 450px;
}

.fahrzeugmerkmalInput,
.fahrzeugmerkmalAuspraegungTableInput,
.fahrzeugmerkmalAuspraegungInput,
.fahrzeugmerkmalModulInput {
    border-radius: 3px;
}

.fahrzeugmerkmalModulInput,
.fahrzeugmerkmalModulInput ul {
    width: 566px;
}

.fahrzeugmerkmalModulInput ul.ui-autocomplete-multiple-container.ui-widget {
    border-radius: 3px;
}

.fahrzeugmerkmalModulInput .ui-autocomplete-token.ui-state-active.ui-corner-all {
    border: 1px solid rgba(81, 137, 205, 0.7);
    background: rgba(81, 137, 205, 0.1);
}

.fahrzeugmerkmalModulInput span {
    color: #4f4f4f;
}

.fahrzeugmerkmalAuspraegungInput {
    width: 450px;
}

.newAuspraegungWrapper {
    display: flex;
    justify-content: space-between;
}

.fahrzeugmerkmalLabel {
    margin-bottom: 5px;
}

.buttonWrapper {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
}

.cancelButton {
    margin-left: 10px;
}

.fahrzeugmerkmalAutocompletePanel.ui-autocomplete-panel.ui-widget-content.ui-corner-all.ui-helper-hidden.ui-shadow {
    width: 570px !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: none;
}

.ui-widget-content.ui-datatable-even.ui-row-editing.ui-state-error {
    border: none;
    background: transparent;
}

