.contentWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.auspraegungenContent,
.fahrzeugmerkmalContent {
    width: 100%;
    margin-right: 10px;
}

.fahrzeugmerkmalContent  {
    margin-left: 10px;
}

.entryWrapper {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
