<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite"
        xmlns:projektReporting="http://xmlns.jcp.org/jsf/composite/projektReporting"
>
    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="controller"
                      type="de.interfaceag.bmw.pzbk.reporting.projekt.prozess.ProjectProcessViewController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:growl id="growl" sticky="false" severity="error" showDetail="true"/>
        <p:outputPanel id="zuordnungNav" class="inline-table">

            <div class="buttons-wrapper" style="width: calc(100% - 220px);">
                <div class="left inline-flex">

 
                    <p:link outcome="projektReporting" class="d-iflex" id="zuordnungBackBtn" includeViewParams="true" >
                        <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_arrow_back.png" class="glass"/>
                    </p:link>
 
                    <p:outputLabel id="derivatLabel"
                                   styleClass="statusabgleich derivatStatusLabel"
                                   rendered="#{cc.attrs.controller.derivatPresent}"
                                   value="#{cc.attrs.controller.derivatName}"/>

                    <p:outputLabel id="derivatStatusLabel"
                                   styleClass="statusabgleich derivatStatusLabel"
                                   rendered="#{cc.attrs.controller.derivatPresent}"
                                   value="#{cc.attrs.controller.derivatStatus}"/>

                </div>
                <div class="right d-iflex">
                    <p:commandButton id="createSnapshotButton"
                                     rendered="#{cc.attrs.controller.derivatPresent}"
                                     action="#{cc.attrs.controller.createNewSnapshot()}"
                                     style="margin-right: 5px;"
                                     value="#{msg.reporting_statusabgleichmatrix_neu_snapshot}"/>

                    <p:commandButton id="excelExportButton"
                                     ajax="false"
                                     rendered="false"
                                     actionListener="#{cc.attrs.controller.downloadExcelExport()}"
                                     value="#{msg.excelExport}"/>

                    <projektReporting:publicLink derivatName="#{cc.attrs.controller.derivatName}"
                                                 derivatPresent="#{cc.attrs.controller.derivatPresent}" />
                </div>
            </div>

        </p:outputPanel>
    </cc:implementation>
</ui:composition>
