<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:projektReporting="http://xmlns.jcp.org/jsf/composite/projektReporting"
      xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
>

<!-- INTERFACE -->
<cc:interface>
    <cc:attribute required="true" name="controller"
                  type="de.interfaceag.bmw.pzbk.reporting.projekt.prozess.ProjectProcessViewController"/>
</cc:interface>

<!-- IMPLEMENTATION -->
<cc:implementation>

    <p:growl id="growl" sticky="true" severity="warn" showDetail="true"/>

    <div class="p-20">
        <div class="statusLabelWrapper">
                <span>
                    <h:outputLabel value="#{msg.reporting_public_stand_label} "
                                   rendered="#{cc.attrs.controller.viewData.date ne null}"/>
                    <h:outputLabel value="#{cc.attrs.controller.viewData.date}">
                    	<f:convertDateTime pattern="dd.MM.yyyy"/>
                    </h:outputLabel>
                </span>
        </div>

        <projektReporting:prozessGraphic keyFigureController="#{cc.attrs.controller.viewData}"/>

    </div>
</cc:implementation>
</html>
