<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:projektReporting="http://xmlns.jcp.org/jsf/composite/projektReporting"
      xmlns:p="http://primefaces.org/ui"
      >

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="dateLabel"/>
        <cc:attribute required="true" name="keyFigureController" type="de.interfaceag.bmw.pzbk.reporting.projekt.prozess.ProjectProcessKeyFigureAccessController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <p:growl id="growl" sticky="true" severity="warn" showDetail="true" />

        <div class="p-20">
            <div class="statusLabelWrapper">
                <span> #{msg.reporting_public_stand_label} #{cc.attrs.dateLabel}</span>
            </div>

            <projektReporting:prozessGraphic keyFigureController="#{cc.attrs.keyFigureController}" />

        </div>
    </cc:implementation>
</html>
