<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <cc:interface>
        <cc:attribute required="true" name="derivatName" />
        <cc:attribute required="true" name="derivatPresent" />
    </cc:interface>

    <cc:implementation>

        <p:link id="derivatPublicLink"
                outcome="public/dashboard"
                styleClass="d-iflex"
                style="margin-left: 5px; text-decoration: none;"
                rendered="#{cc.attrs.derivatPresent}">
            <i class="fa fa-fw fa-globe glass" style="width: 23px; font-size: 17px; line-height: 23px; padding-left: 2px; padding-right: 2px;"/>
            <f:param name="derivat" value="#{cc.attrs.derivatName}"/>
        </p:link>
        <p:tooltip showDelay="500"
                   for="derivatPublicLink"
                   position="left"
                   value="#{msg.reporting_rs_public_link}" />

    </cc:implementation>
</html>
