<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="standLabel" type="de.interfaceag.bmw.pzbk.reporting.statusabgleich.ReportingStandLabel"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <h:outputStylesheet library="css" name="projektReportingStandLabel.css" />

        <div class="statusLabelWrapper">
            <span> #{msg.reporting_stand} #{cc.attrs.standLabel.date} </span>
        </div>

    </cc:implementation>
</html>
