<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:projektReporting="http://xmlns.jcp.org/jsf/composite/projektReporting"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite">
    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="reportingStatusabgleichController" type="de.interfaceag.bmw.pzbk.reporting.statusabgleich.ReportingStatusabgleichController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:growl id="growl" sticky="false" severity="error" showDetail="true" />
        <p:outputPanel id="zuordnungNav" class="inline-table">

            <div class="buttons-wrapper">
                <div class="left inline-flex">

                    <p:link outcome="projektReporting" class="d-iflex" id="zuordnungBackBtn" includeViewParams="true" >
                        <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_arrow_back.png" class="glass"/>
                    </p:link>

                    <p:outputLabel id="derivatLabel"
                                   styleClass="statusabgleich derivatStatusLabel"
                                   rendered="#{cc.attrs.reportingStatusabgleichController.derivatPresent}"
                                   value="#{cc.attrs.reportingStatusabgleichController.derivatName}" />

                    <p:outputLabel id="derivatStatusLabel"
                                   styleClass="statusabgleich derivatStatusLabel"
                                   rendered="#{cc.attrs.reportingStatusabgleichController.derivatStatusPresent}"
                                   value="#{cc.attrs.reportingStatusabgleichController.derivatStatus}" />


                    <p:commandButton id="createSnapshotButton"
                                     style="margin-left: 5px;"
                                     rendered="#{cc.attrs.reportingStatusabgleichController.derivatPresent}"
                                     value="#{msg.reporting_statusabgleichmatrix_neu_snapshot}"
                                     action="#{cc.attrs.reportingStatusabgleichController.createNewSnapshot()}" />

                    <h:form id="excelExportForm">
                        <p:commandButton id="excelExportButton" 
                                         value="#{msg.excelExport}" 
                                         class="d-iflex"
                                         style="margin-left: 5px; margin-right: 0px;"
                                         rendered="#{cc.attrs.reportingStatusabgleichController.derivatPresent}"
                                         actionListener="#{cc.attrs.reportingStatusabgleichController.downloadExcelExport()}"
                                         ajax="false"
                                         >                                        
                        </p:commandButton>
                    </h:form>

                    <projektReporting:publicLink derivatName="#{cc.attrs.reportingStatusabgleichController.derivatName}"
                                                 derivatPresent="#{cc.attrs.reportingStatusabgleichController.derivatPresent}" />

                </div>
                <div class="right d-iflex">
                </div>
            </div>

        </p:outputPanel>
    </cc:implementation>
</ui:composition>
