<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="statusmatrix" type="de.interfaceag.bmw.pzbk.reporting.statusabgleich.ReportingStatusmatrix"/>
        <cc:attribute name="controller" type="de.interfaceag.bmw.pzbk.reporting.statusabgleich.ReportingStatusabgleichController"/>
        <cc:attribute required="true" name="row" />
        <cc:attribute required="true" name="column" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <div class="table-cell blueCell">
            <span>
                <p:commandLink
                    style="color: white; text-decoration: none"
                    value = "#{cc.attrs.statusmatrix.getMatrixValue(cc.attrs.row, cc.attrs.column)}" 
                    id="keyFigure"
                    process="@this"
                    action="#{cc.attrs.controller.openDialog(cc.attrs.row, cc.attrs.column)}"
                    disabled ="#{cc.attrs.statusmatrix.isValueZero(cc.attrs.row, cc.attrs.column) 
                                 or empty cc.attrs.controller or cc.attrs.controller.viewData.filter.snapshot}"
                    />
            </span>
        </div>
    </cc:implementation>
</html>
