<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:projektReporting="http://xmlns.jcp.org/jsf/composite/projektReporting">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="viewData" type="de.interfaceag.bmw.pzbk.reporting.statusabgleich.ReportingStatusabgleichViewData"/>
        <cc:attribute name="controller" type="de.interfaceag.bmw.pzbk.reporting.statusabgleich.ReportingStatusabgleichController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <div class="p-20">
            <h:form id="statusabgleichForm" class="statusabgleich">

                <projektReporting:standLabel id="standLabel"
                                             standLabel="#{cc.attrs.viewData}" />

                <projektReporting:statusabgleichMatrix id="statusmatrix"
                                                       statusmatrix="#{cc.attrs.viewData}" 
                                                       controller="#{cc.attrs.controller}"/>

            </h:form>
        </div>
    </cc:implementation>
</html>
