<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:dialogs="http://xmlns.jcp.org/jsf/composite/reportingDialogs">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="statusabgleichController" type="de.interfaceag.bmw.pzbk.reporting.anforderungsuebersicht.ReportingStatusabgleichController" />
        <cc:attribute required="true" name="row" />
        <cc:attribute required="true" name="column" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <div id="#{cc.clientId}">
            <h:form id="anforderungsuebersichtForm">
                <p:dialog id="anforderungsuebersichtDialog" class="customDialog"
                          dynamic="true"
                          header="#{msg.anforderung_reporting_anforderungsuebersicht}"
                          widgetVar="anforderungsuebersichtDialog"
                          modal="true"
                          resizable="true"
                          width="95%">
                    <dialogs:statusabgleichDrilldownDialog id="anforderungsuebersichtDrilldown"
                                                          statusabgleichController="#{cc.attrs.statusabgleichController}"
                                                          row="#{cc.attrs.row}"
                                                          col="#{cc.attrs.col}"
                                                          />
                </p:dialog>
            </h:form>
        </div>
    </cc:implementation>
</html>
