<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="werkTable" type="de.interfaceag.bmw.pzbk.reporting.projekt.werk.ProjectWerkTable"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <h:outputStylesheet library="css" name="projektReportingWerkTable.css" />

        <div class="werkTableWrapper">

            <div class="werkTableHeader" >
                <div class="statusLabelWrapper">
                    <div class="line"></div>
                    <span> Stand: 20.12.2018 </span>
                    <div class="line"></div>
                </div>
                <div class="werkIconLegende">
                    <div class="werkIconLegendeHead">Legende:</div>
                    <div class="werkIconLegendeIcons">
                        <div class="tableHeaderOk tableIconHeader" />
                        <div class="werkIconLegendeTextOk">Bestätigt</div>
                    </div>
                    <div class="werkIconLegendeIcons">
                        <div class="tableHeaderOffen tableIconHeader" />
                        <div class="werkIconLegendeTextOffen">Offen</div>
                    </div>
                    <div class="werkIconLegendeIcons">
                        <div class="tableHeaderNichtWeiterverfolgt tableIconHeader" />
                        <div class="werkIconLegendeTextNichtWeiterverfolgen">Nicht Weiterverfolgen</div>
                    </div>
                </div>

                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 1354 140" style="enable-background:new 0 0 1354 140;" xml:space="preserve">

                    <g id="Ebene_2" class="st0">
                        <rect x="-72.5" y="-84.5" class="st1" width="1531" height="301"/>
                    </g>
                    <g id="Ebene_1">
                        <g>
                            <defs>
                                <rect id="SVGID_1_" x="-7" y="0.26" width="1360.66" height="139.74"/>
                            </defs>
                            <clipPath id="SVGID_2_">
                                <use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
                            </clipPath>
                            <g class="st2">
                                <text transform="matrix(1 0 0 1 8.9482 31.5898)" class="st3 st4 st5">lt0</text>
                            </g>
                            <g class="st2">
                                <defs>
                                    <rect id="SVGID_3_" x="-7" y="0.26" width="1360.66" height="139.74"/>
                                </defs>
                                <clipPath id="SVGID_4_">
                                    <use xlink:href="#SVGID_3_"  style="overflow:visible;"/>
                                </clipPath>
                                <g class="st6">
                                    <g>
                                        <defs>
                                            <rect id="SVGID_5_" x="97.09" y="63" width="158.76" height="78"/>
                                        </defs>
                                        <clipPath id="SVGID_6_">
                                            <use xlink:href="#SVGID_5_"  style="overflow:visible;"/>
                                        </clipPath>
                                        <polygon class="st7" points="246.29,105.01 228.99,70.5 106.59,70.5 106.6,139.5 229.01,139.5 					"/>
                                        <polygon class="st8" points="246.29,105.01 228.99,70.5 106.59,70.5 106.6,139.5 229.01,139.5 					"/>
                                    </g>
                                </g>
                                <g class="st9">
                                    <g>
                                        <defs>
                                            <rect id="SVGID_7_" x="226.54" y="63" width="310.72" height="78"/>
                                        </defs>
                                        <clipPath id="SVGID_8_">
                                            <use xlink:href="#SVGID_7_"  style="overflow:visible;"/>
                                        </clipPath>
                                        <polygon class="st10" points="527.7,105.01 510.44,70.5 236.35,70.5 253.6,105.01 236.36,139.5 510.46,139.5 					"/>
                                        <polygon class="st11" points="527.7,105.01 510.44,70.5 236.35,70.5 253.6,105.01 236.36,139.5 510.46,139.5 					"/>
                                    </g>
                                </g>
                                <g class="st12">
                                    <g>
                                        <defs>
                                            <rect id="SVGID_9_" x="508.28" y="63" width="854.17" height="78"/>
                                        </defs>
                                        <clipPath id="SVGID_10_">
                                            <use xlink:href="#SVGID_9_"  style="overflow:visible;"/>
                                        </clipPath>
                                        <polygon class="st13" points="1352.89,105.01 1335.64,70.5 518.09,70.5 535.34,105.01 518.11,139.5 1335.66,139.5 					"/>
                                        <polygon class="st14" points="1352.89,105.01 1335.64,70.5 518.09,70.5 535.34,105.01 518.11,139.5 1335.66,139.5 					"/>
                                    </g>
                                </g>
                            </g>
                            <g class="st2">
                                <text transform="matrix(1 0 0 1 330.3755 110.8242)"><tspan x="0" y="0" class="st3 st4 st15">V</tspan><tspan x="9.79" y="0" class="st3 st4 st15">ereinbarung</tspan></text>
                            </g>
                            <g class="st2">
                                <text transform="matrix(1 0 0 1 131.1919 110.8242)" class="st3 st4 st15">Ausleitung</text>
                            </g>
                            <g class="st2">
                                <text transform="matrix(1 0 0 1 891.5439 95.8486)" class="st3 st4 st15">Umsetzung</text>
                            </g>
                            <g class="st2">
                                <text transform="matrix(1 0 0 1 911.3193 125.7842)" class="st3 st4 st15">VBBG</text>
                            </g>
                            <g class="st2">
                                <text transform="matrix(1 0 0 1 631.3198 125.7842)" class="st3 st4 st15">VKBG</text>
                            </g>
                            <g class="st2">
                                <text transform="matrix(1 0 0 1 1196.2637 125.7842)" class="st3 st4 st15">BBG</text>
                            </g>
                            <line class="st16" x1="548.4" y1="105" x2="1333.11" y2="105"/>
                            <line class="st17" x1="1.66" y1="41.07" x2="1344.78" y2="41.07"/>
                            <polygon class="st18" points="1339,54.7 1353.66,41.07 1339,27.44 		"/>
                            <rect x="1.66" y="31.99" class="st18" width="4" height="18"/>
                            <g class="st2">
                                <defs>
                                    <rect id="SVGID_11_" x="-7" y="0.26" width="1360.66" height="139.74"/>
                                </defs>
                                <clipPath id="SVGID_12_">
                                    <use xlink:href="#SVGID_11_"  style="overflow:visible;"/>
                                </clipPath>
                                <g class="st19">
                                    <g>
                                        <defs>
                                            <rect id="SVGID_13_" x="-8.34" y="63" width="118.26" height="78"/>
                                        </defs>
                                        <clipPath id="SVGID_14_">
                                            <use xlink:href="#SVGID_13_"  style="overflow:visible;"/>
                                        </clipPath>
                                        <rect x="1.16" y="70.5" class="st20" width="99.25" height="69"/>
                                        <rect x="1.16" y="70.5" class="st21" width="99.25" height="69"/>
                                    </g>
                                </g>
                            </g>
                            <g class="st2">
                                <text transform="matrix(1 0 0 1 4.2832 110.8242)"><tspan x="0" y="0" class="st3 st4 st15">F</tspan><tspan x="8.8" y="0" class="st3 st4 st15">r</tspan><tspan x="14.69" y="0" class="st3 st4 st15">e</tspan><tspan x="23.23" y="0" class="st3 st4 st15">i</tspan><tspan x="27.36" y="0" class="st3 st4 st15">g</tspan><tspan x="36.93" y="0" class="st3 st4 st15">e</tspan><tspan x="45.5" y="0" class="st3 st4 st15">g</tspan><tspan x="55.07" y="0" class="st3 st4 st15">e</tspan><tspan x="63.63" y="0" class="st3 st4 st15">b</tspan><tspan x="73.2" y="0" class="st3 st4 st15">e</tspan><tspan x="81.73" y="0" class="st3 st4 st15">n</tspan></text>
                            </g>
                            <polygon class="st22" points="644.33,41.07 654.66,57.11 664.98,41.07 654.66,25.04 		"/>
                            <polygon class="st22" points="924.33,41.07 934.66,57.11 944.98,41.07 934.66,25.04 		"/>
                            <polygon class="st22" points="1203.83,41.07 1214.16,57.11 1224.48,41.07 1214.16,25.04 		"/>
                            <g class="st2">
                                <text transform="matrix(1 0 0 1 611.5908 18.9102)"><tspan x="0" y="0" class="st3 st23 st15">K</tspan><tspan x="10.29" y="0" class="st3 st23 st15">o</tspan><tspan x="18.83" y="0" class="st3 st23 st15">v</tspan><tspan x="26.32" y="0" class="st3 st23 st15">A </tspan><tspan x="41.44" y="0" class="st3 st23 st15">V</tspan><tspan x="52.19" y="0" class="st3 st23 st15">K</tspan><tspan x="62.99" y="0" class="st3 st23 st15">B</tspan><tspan x="73.46" y="0" class="st3 st23 st15">G</tspan></text>
                            </g>
                            <g class="st2">
                                <text transform="matrix(1 0 0 1 891.6553 18.9102)"><tspan x="0" y="0" class="st3 st23 st15">K</tspan><tspan x="10.29" y="0" class="st3 st23 st15">o</tspan><tspan x="18.83" y="0" class="st3 st23 st15">v</tspan><tspan x="26.32" y="0" class="st3 st23 st15">A </tspan><tspan x="41.44" y="0" class="st3 st23 st15">V</tspan><tspan x="52.19" y="0" class="st3 st23 st15">B</tspan><tspan x="62.86" y="0" class="st3 st23 st15">B</tspan><tspan x="73.33" y="0" class="st3 st23 st15">G</tspan></text>
                            </g>
                            <g class="st2">
                                <text transform="matrix(1 0 0 1 1176.5352 18.9102)"><tspan x="0" y="0" class="st3 st23 st15">K</tspan><tspan x="10.29" y="0" class="st3 st23 st15">o</tspan><tspan x="18.83" y="0" class="st3 st23 st15">v</tspan><tspan x="26.32" y="0" class="st3 st23 st15">A B</tspan><tspan x="52.11" y="0" class="st3 st23 st15">B</tspan><tspan x="62.58" y="0" class="st3 st23 st15">G</tspan></text>
                            </g>
                        </g>
                    </g>
                </svg>


            </div>

            <p:dataTable id="werkTable"
                         value="#{cc.attrs.werkTable.projectReports}"
                         var="projectReport"
                         class="glass-table no-hover"
                         >

                <p:column id="projekt"
                          styleClass="projectColumn"
                          headerText="#{msg.projektreporting_werk_projekt}">
                    #{projectReport.projectName}

                </p:column>

                <p:column id="numberOfAusleitungen"
                          styleClass="ausleitungenColumn"
                          headerText="#{msg.projektreporting_werk_ausleitungen} [#]">
                    #{projectReport.numberOfAusleitungen}
                </p:column>

                <p:column id="numberOfVereinbarungenBestaetigt"
                          styleClass="iconColumn leftBorder" >
                    <f:facet name="header" >
                        <div class="tableHeaderOk tableIconHeader " />
                    </f:facet>
                    #{projectReport.numberOfVereinbarungenBestaetigt}
                </p:column>

                <p:column id="numberOfVereinbarungenOffen"
                          styleClass="iconColumn" >
                    <f:facet name="header" >
                        <div class="tableHeaderOffen tableIconHeader" />
                    </f:facet>
                    #{projectReport.numberOfVereinbarungenOffen}
                </p:column>

                <p:column id="numberOfVereinbarungenNichtWeiterverfolgt"
                          styleClass="iconColumn rightBorder" >
                    <f:facet name="header" >
                        <div class="tableHeaderNichtWeiterverfolgt tableIconHeader" />
                    </f:facet>
                    #{projectReport.numberOfVereinbarungenNichtWeiterverfolgt}
                </p:column>

                <p:column id="firstPhaseUmsetzungsbestaetigungBestaetigt"
                          styleClass="iconColumn leftBorder" >
                    <f:facet name="header" >
                        <div class="tableHeaderOk tableIconHeader" />
                    </f:facet>
                    #{projectReport.firstPhaseBestaetigt}
                </p:column>

                <p:column id="firstPhaseUmsetzungsbestaetigungOffen"
                          styleClass="iconColumn" >
                    <f:facet name="header" >
                        <div class="tableHeaderOffen tableIconHeader" />
                    </f:facet>
                    #{projectReport.firstPhaseOffen}
                </p:column>

                <p:column id="firstPhaseUmsetzungsbestaetigungNichtWeiterverfolgt"
                          styleClass="iconColumn rightBorder" >
                    <f:facet name="header" >
                        <div class="tableHeaderNichtWeiterverfolgt tableIconHeader" />
                    </f:facet>
                    #{projectReport.firstPhaseNichtWeiterverfolgt}
                </p:column>

                <p:column id="secondPhaseUmsetzungsbestaetigungBestaetigt"
                          styleClass="iconColumn leftBorder" >
                    <f:facet name="header" >
                        <div class="tableHeaderOk tableIconHeader" />
                    </f:facet>
                    #{projectReport.secondPhaseBestaetigt}
                </p:column>

                <p:column id="secondPhaseUmsetzungsbestaetigungOffen"
                          styleClass="iconColumn" >
                    <f:facet name="header" >
                        <div class="tableHeaderOffen tableIconHeader" />
                    </f:facet>
                    #{projectReport.secondPhaseOffen}
                </p:column>

                <p:column id="secondPhaseUmsetzungsbestaetigungNichtWeiterverfolgt"
                          styleClass="iconColumn rightBorder" >
                    <f:facet name="header" >
                        <div class="tableHeaderNichtWeiterverfolgt tableIconHeader" />
                    </f:facet>
                    #{projectReport.secondPhaseNichtWeiterverfolgt}
                </p:column>

                <p:column id="thirdPhaseUmsetzungsbestaetigungBestaetigt"
                          styleClass="iconColumn leftBorder" >
                    <f:facet name="header" >
                        <div class="tableHeaderOk tableIconHeader" />
                    </f:facet>
                    #{projectReport.thirdPhaseBestaetigt}
                </p:column>

                <p:column id="thirdPhaseUmsetzungsbestaetigungOffen"
                          styleClass="iconColumn" >
                    <f:facet name="header" >
                        <div class="tableHeaderOffen tableIconHeader" />
                    </f:facet>
                    #{projectReport.thirdPhaseOffen}
                </p:column>

                <p:column id="thirdPhaseUmsetzungsbestaetigungNichtWeiterverfolgt"
                          styleClass="iconColumn" >
                    <f:facet name="header" >
                        <div class="tableHeaderNichtWeiterverfolgt tableIconHeader" />
                    </f:facet>
                    #{projectReport.thirdPhaseNichtWeiterverfolgt}
                </p:column>


            </p:dataTable>

        </div>


    </cc:implementation>
</html>
