<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:filter="http://xmlns.jcp.org/jsf/composite/filter"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="filterController" type="de.interfaceag.bmw.pzbk.reporting.projekt.werk.ProjectWerkFilterController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:form id="filterForm" class="h-100">

            <p:remoteCommand name="filter" process="@form"
                             action="#{cc.attrs.filterController.filter()}" />

            <p:panel class="filter-wrapper">
                <p:commandButton ajax="false"
                                 id="resetButton"
                                 class="resetButton"
                                 value="Reset"
                                 action="#{cc.attrs.filterController.reset()}"/>
                <p:tooltip showDelay="500"  for="resetButton" position="bottom" value="#{msg.tooltipp_zuordnung_filter_resetButton}" />

                <p:panelGrid columns="1" class="filter-grid w-100" columnClasses="filter-element">
                    <filter:filterHeader label="#{msg.filter}" smallTopMargin="#{false}"/>
                </p:panelGrid>
            </p:panel>
        </h:form>
    </cc:implementation>
</ui:composition>
