<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite">
    <!-- INTERFACE -->
    <cc:interface>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:growl id="growl" sticky="false" severity="error" showDetail="true" />
        <p:outputPanel id="zuordnungNav" class="inline-table">

            <div class="buttons-wrapper">
                <div class="left inline-flex">

                    <p:commandLink onclick="redirectBack()" class="d-iflex" id="zuordnungBackBtn">
                        <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_arrow_back.png" class="glass"/>
                    </p:commandLink>

                </div>
                <div class="right d-iflex">

                </div>
            </div>

        </p:outputPanel>
    </cc:implementation>
</ui:composition>
