<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
.
    <h:outputStylesheet library="css" name="main.css"/>
    <h:outputStylesheet library="css" name="button/text_button.css"/>
    <h:outputStylesheet library="css" name="button/button.css"/>
    <h:outputStylesheet library="css" name="berechtigungWorkflow/berechtigung.css"/>

    <h:body >
        <h:form id="mainContentForm">
            <div class="berechtigung-header">
                <h:outputLabel id="rolleLabel" value="#{msg.rolleFuerMitarbeiter}"/>
            </div>

            <div class="content-berechtigung-description">
                <h:outputLabel value="#{msg.berechtigungworkflow_rolle_desription}"/>
            </div>

            <div class="berechtigung-content">
                <p:selectOneMenu id="rollenOneMenu" value="#{berechtigungFlowController.viewData.selectedRole}">
                    <f:selectItems value="#{berechtigungFlowController.viewData.chooseableRoles}" var="rolle"/>
                </p:selectOneMenu>
            </div>

            <div class="footer">
                <p:commandButton id="proceedButton"
                                 value="#{msg.berechtigungworkflow_button_go_on}"
                                 process="@form"
                                 action="berechtigung-waehlen"
                                 styleClass="glass-button"
                                 actionListener="#{berechtigungFlowController.updateBerechtigungenForRole()}"/>
            </div>
        </h:form>
    </h:body>
</ui:composition>
