<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:outputStylesheet library="css" name="main.css"/>
    <h:outputStylesheet library="css" name="accordion/accordion.css"/>
    <h:outputStylesheet library="css" name="button/text_button.css"/>
    <h:outputStylesheet library="css" name="button/button.css"/>
    <h:outputStylesheet library="css" name="berechtigungWorkflow/berechtigung.css"/>

    <h:body class="content">
        <h:form>
            <div class="berechtigung-header">
                <h:outputLabel id="selectedRolleLabel"
                               value="#{msg.berechtigungworkflow_choose} #{berechtigungFlowController.viewData.selectedRole}"/>
            </div>

            <div class="berechtigung-content-choose">

                <div class="berechtigung-accordion-panel-choose">
                    <p:accordionPanel rendered="#{berechtigungFlowController.viewData.berechtigungenForRoleWithLeserecht.berechtigungValue ne null}">
                        <p:tab title="#{msg.berechtigungworkflow_schreibrechte}">
                            <p:selectManyCheckbox
                                    collectionType="java.util.ArrayList"
                                    value="#{berechtigungFlowController.viewData.selectedBerechtigungenWithSchreibrecht}"
                                    converter="#{berechtigungFlowController.viewData.berechtigungWorkflowConverterForSchreibreccht}"
                                    rendered="#{berechtigungFlowController.viewData.berechtigungenForRoleWithSchreibrecht.berechtigungValue ne null
                                    and berechtigungFlowController.viewData.berechtigungenForRoleWithSchreibrecht.berechtigungValue.size() > 0}"
                                    layout="grid" columns="1">
                                <f:selectItems
                                        value="#{berechtigungFlowController.viewData.berechtigungenForRoleWithSchreibrecht.berechtigungValue}"
                                        var="berechtigung"
                                        itemValue="#{berechtigung}"
                                        itemLabel="#{berechtigung.value}"
                                        itemDisabled="#{berechtigungFlowController.viewData.isSchreibberechtigungSelectedInSLeseecht(berechtigung)}"/>
                                <p:ajax listener="#{berechtigungFlowController.viewData.selectedBerechtigungenWithSchreibrecht}" update="@form" />
                            </p:selectManyCheckbox>

                            <!-- empty state for schreib-rechte -->
                            <p:outputLabel
                                    rendered="#{berechtigungFlowController.viewData.berechtigungenForRoleWithSchreibrecht.berechtigungValue == null
                                    or berechtigungFlowController.viewData.berechtigungenForRoleWithSchreibrecht.berechtigungValue.size() == 0}"
                                    value="#{msg.berechtigungworkflow_empty_schreibrechte_to_choose}">
                            </p:outputLabel>
                        </p:tab>
                    </p:accordionPanel>
                </div>

                <div class="berechtigung-accordion-panel-choose padding-left" style="#{berechtigungFlowController.displayNoneWhenEcoc()}">
                    <p:accordionPanel>
                        <p:tab title="#{msg.berechtigungworkflow_leserechte}">
                            <p:selectManyCheckbox
                                    collectionType="java.util.ArrayList"
                                    value="#{berechtigungFlowController.viewData.selectedBerechtigungenWithLeserecht}"
                                    converter="#{berechtigungFlowController.viewData.berechtigungWorkflowConverterForLesereccht}"
                                    layout="grid" columns="1"
                                    rendered="#{berechtigungFlowController.viewData.berechtigungenForRoleWithLeserecht.berechtigungValue ne null
                                    and berechtigungFlowController.viewData.berechtigungenForRoleWithLeserecht.berechtigungValue.size() > 0}" >
                                <f:selectItems
                                        value="#{berechtigungFlowController.viewData.berechtigungenForRoleWithLeserecht.berechtigungValue}"
                                        var="berechtigung"
                                        itemValue="#{berechtigung}"
                                        itemLabel="#{berechtigung.value}"
                                        itemDisabled="#{berechtigungFlowController.viewData.isLeseberechtigungSelectedInSchreibrecht(berechtigung)}"/>
                                <p:ajax listener="#{berechtigungFlowController.viewData.selectedBerechtigungenWithLeserecht}" update="@form" />
                            </p:selectManyCheckbox>

                            <!-- empty state for lese-rechte -->
                            <p:outputLabel
                                    rendered="#{berechtigungFlowController.viewData.berechtigungenForRoleWithLeserecht.berechtigungValue == null
                                    or berechtigungFlowController.viewData.berechtigungenForRoleWithLeserecht.berechtigungValue.size() == 0}"
                                    value="#{msg.berechtigungworkflow_empty_leserechte_to_choose}">
                            </p:outputLabel>
                        </p:tab>
                    </p:accordionPanel>
                </div>
            </div>

            <div class="footer-berechtigung-waehlen">
                <p:commandButton value="#{msg.berechtigungworkflow_button_back}"
                                 styleClass="glass-button"
                                 actionListener="#{berechtigungFlowController.resetSelectedBerechtigungen()}"
                                 action="berechtigung"/>

                <p:commandButton value="#{msg.berechtigungworkflow_button_go_on}"
                                 styleClass="glass-button"
                                 action="summary"
                                 disabled="#{berechtigungFlowController.isButtonDisabled()}"
                                 process="@form"/>
            </div>
        </h:form>
    </h:body>
</ui:composition>