<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui" xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:outputStylesheet library="css" name="button/text_button.css"/>
    <h:outputStylesheet library="css" name="button/button.css"/>
    <h:outputStylesheet library="css" name="main.css"/>
    <h:outputStylesheet library="css" name="berechtigungWorkflow/berechtigung.css"/>

    <h:body class="content">
        <h:form>
            <div class="berechtigung-header">
                <h:outputLabel id="rolleLabel" value="#{msg.berechtigungworkflow_successfull}"/>
            </div>

            <div class="berechtigung-content">
                <h:outputText value="#{msg.berechtigungworkflow_endpage1}" />
            </div>

            <div class="berechtigung-content">
                <h:outputText value="#{msg.berechtigungworkflow_endpage2}" />
            </div>

            <div class="footer">

                <p:commandButton id="proceedButton"
                                 value="#{msg.berechtigungworkflow_zum_am_tool}"
                                 action="returnFromBerechtigungFlow"
                                 styleClass="glass-button ok-button"/>

            </div>
        </h:form>
    </h:body>
</ui:composition>
