<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:outputStylesheet library="css" name="main.css"/>
    <h:outputStylesheet library="css" name="accordion/accordion.css"/>
    <h:outputStylesheet library="css" name="button/text_button.css"/>
    <h:outputStylesheet library="css" name="button/button.css"/>
    <h:outputStylesheet library="css" name="berechtigungWorkflow/berechtigung.css"/>

    <h:body class="content">
        <h:form>
            <div class="berechtigung-header">
                <h:outputLabel value="#{msg.berechtigungworkflow_summary_title}"/>
            </div>

            <div class="berechtigung-content-choose">
                <div class="berechtigung-accordion-panel-choose">
                    <p:accordionPanel id="summaryAccordion">
                        <p:tab id="summaryHeaderTab" title="#{msg.berechtigungworkflow_schreibrecht}">
                            <h:outputText value="#{berechtigungFlowController.viewData.selectedRole.bezeichnung}"/>
                            <p:dataTable
                                    emptyMessage="#{msg.berechtigungworkflow_empty_schreibrechte}"
                                    value="#{berechtigungFlowController.viewData.selectedBerechtigungenWithSchreibrecht}"
                                    var="berechtigung"
                                    rows="10"
                                    scrollable="true">
                                <p:column>
                                    <h:outputText value="#{berechtigung.value}"/>
                                </p:column>

                            </p:dataTable>
                        </p:tab>
                    </p:accordionPanel>
                </div>

                <div class="berechtigung-accordion-panel-choose padding-left" style="#{berechtigungFlowController.displayNoneWhenEcoc()}">
                    <p:accordionPanel id="summaryLeseAccordion">
                        <p:tab id="summaryLeseHeaderTab" title="#{msg.berechtigungworkflow_leserecht}">
                            <h:outputText value="#{berechtigungFlowController.viewData.selectedRole.bezeichnung}"/>
                            <p:dataTable
                                    emptyMessage="#{msg.berechtigungworkflow_empty_leserechte}"
                                    value="#{berechtigungFlowController.viewData.selectedBerechtigungenWithLeserecht}"
                                    var="berechtigung"
                                    rows="10"
                                    scrollable="true">
                                <p:column>
                                    <h:outputText value="#{berechtigung.value}"/>
                                </p:column>

                            </p:dataTable>
                        </p:tab>
                    </p:accordionPanel>
                </div>
            </div>

            <div class="berechtigung-content-datenschutz">
                <p:accordionPanel rendered="#{!berechtigungFlowController.isDatenschutzAngenommen()}">
                    <p:tab title="#{msg.berechtigungworkflow_datenschutz}">
                        <div class="datenschutz-checkbox-container">
                            <p:selectBooleanCheckbox
                                    value="#{berechtigungFlowController.viewData.datenschutzAngenommen}">
                                <p:ajax update="@form"/>
                            </p:selectBooleanCheckbox>

                            <h:outputText class="datenschutz-checkbox-container-description" value="Akzeptieren Sie die Datenschutzrichtlinien?" />
                        </div>
                    </p:tab>
                </p:accordionPanel>
            </div>

            <div class="footer-berechtigung-waehlen">
                <p:commandButton
                        value="Zurück"
                        action="berechtigung-waehlen"
                        styleClass="glass-button cancel-button"/>
                <p:commandButton
                        value="Antrag absenden"
                        disabled="#{!berechtigungFlowController.viewData.isDatenschutzAngenommen()}"
                        action="berechtigungworkflowEndpage"
                        actionListener="#{berechtigungFlowController.persistAntrag()}"
                        styleClass="glass-button"/>
            </div>
        </h:form>
    </h:body>
</ui:composition>