.center {
    overflow-x: hidden;
    overflow-y: auto;
}

.admButtons{
    width: 100%;
}

.admButtons > button {
    border-radius: 3px;
    font-size: 15px;
    background: lightgray;
    box-shadow: 0 0;
    text-shadow: 0 0;
    margin-right: 5px;
}

.admButtons .vsText {
    margin-left: 5px;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.new,
.admButtons .new {
    margin-right: 15px;
    background: #2D9CDB;
    color: white;
    border-color: #138bdd;
}

.admButtons > div {
    display: table-cell;
    vertical-align: middle;
    white-space:nowrap;
}

.admButtons .basicButtons {
    text-align: right;
    min-width: 230px;
}

.admButtons .right {
    text-align: right;
    width: 100%;
    padding-left: 10px;
}

.admButtons .right > div {
    display: inline-block;
}

.admButtons .basicButtons .ui-commandlink.ui-widget{
    text-decoration: none;
    margin-left: 5px;
    display: inline-flex;
}
.admButtons .basicButtons img{
    height: 20px;
    padding: 3px;
}

.anfoContent {
    background: transparent;
    height: 100%;
    padding: 0;
}

.anfoContent > .ui-panel-content {
    padding: 0 !important;
    height: 100%;
}

#anfoForm{
    height: 100%;
}

.anfoFormular {
    height: 100%;
    background: transparent;
}

.anfoFormularPanel > .ui-carousel-viewport {
    background: white;
}

.anfoFormularPanel > .ui-accordion-header.ui-state-default  { 
    margin: 0;
    text-shadow: initial;
    box-shadow: none;
    background: rgba(148, 148, 148, 0.29);
    text-align: left;
    padding-left: 40px;
    font-weight: bold;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 2.2em;
    margin-top: 15px;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
}

.anfoFormularPanel > .ui-accordion-header.ui-state-default:nth-of-type(1) {
    margin-top: 0;
    background: linear-gradient(to right,rgba(33, 150, 243, 0.3), rgba(148, 148, 148, 0.3));
}

.anfoFormularPanel > .ui-accordion-header.ui-state-default:nth-of-type(2) {
    background: linear-gradient(to right,rgba(255, 212, 0, 0.3), rgba(148, 148, 148, 0.3));
}
.anfoFormularPanel > .ui-accordion-header.ui-state-default:nth-of-type(3) {
    background: linear-gradient(to right,rgba(204, 73, 60, 0.3), rgba(148, 148, 148, 0.3));
}
.anfoFormularPanel > .ui-accordion-header.ui-state-default:nth-of-type(4) {
    background: linear-gradient(to right,rgba(201, 0, 253, 0.3), rgba(148, 148, 148, 0.3));
}

.ui-accordion .ui-accordion-header .ui-icon {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-aristo");
}

.ui-panel-titlebar-icon .ui-icon{
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_38667f_256x240.png.xhtml?ln=primefaces-aristo") !important;
}

.ui-button-icon-left{
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_38667f_256x240.png.xhtml?ln=primefaces-aristo") !important;
}
.ui-state-hover .ui-button-icon-left{
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-aristo");
}

.anfoTabTable {
    width: 100%;
    padding: 10px;
    padding-bottom: 20px;
}

.anfoTabTable .small-column {
    min-width: 260px;
    vertical-align: top;
}
.anfoTabTable .info-column {
    max-width: 20px;
    vertical-align: top;
    padding-right: 5px;
}

.anfoTabTable .max-column {
    padding: 0;
    width: 100%;
    height: 28px;
    vertical-align: top;
}

.anfoTabTable .max-column table {
    border-spacing: 0 2px;
}
.anfoTabTable .max-column td {
    padding-left: 0;
}

.anfoTabTable .max-column .anfoTabInput {
    width: 99%;
}

.anfoTabInput {
    border: 1px solid lightgrey !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.goToNextStatusDiv{
    display: inline-block;
}

.festgestelltInInput{
    width: 100%;
}

.festgestelltInInput .ui-autocomplete-multiple-container {
    float: left;
    width: 100%;
}

.ui-autocomplete-dropdown.ui-button.ui-widget.ui-button-icon-only {
    margin-top: 0.7px;
    margin-right: 1px;
    height: calc(100% - 1.3px);
    border-top: 0;
    border-bottom: 0;
}

.sensorCoCArrowsPanel {
    display: inline-flex;
}

.sensorCoCArrowsPanel ul {
    list-style: none; 
    overflow: hidden; 
    padding: 0;
    margin: 0;
}

.sensorCoCArrowsPanel ul li {
    float: left; 
}

.sensorCoCArrowsPanel ul li label {
    color: white;
    text-decoration: none; 
    padding: 5px 0 5px 40px;
    background: #5189CD; /* Fallback */
    background: hsla(202, 70%, 52%, 1); 
    position: relative; 
    display: block;
    float: left;
}

.sensorCoCArrowsPanel ul li label:after { 
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid hsla(202, 70%, 52%, 1);
    position: absolute;
    top: 50%;
    margin-top: -50px; 
    left: 100%;
    z-index: 2; 
}

.sensorCoCArrowsPanel ul li label:before { 
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 50px solid transparent;       
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px; 
    margin-left: 1px;
    left: 100%;
    z-index: 1; 
}

.sensorCoCArrowsPanel ul li:first-child label {
    padding-left: 10px;
}

.sensorCoCArrowsPanel ul li:last-child label {
    padding-right: 5px;
}
.sensorCoCArrowsPanel ul li:nth-child(2) label       { background:        hsla(202, 70%, 62%, 1); }
.sensorCoCArrowsPanel ul li:nth-child(2) label:after { border-left-color: hsla(202, 70%, 62%, 1); }
.sensorCoCArrowsPanel ul li:nth-child(3) label       { background:        hsla(202, 70%, 72%, 1); }
.sensorCoCArrowsPanel ul li:nth-child(3) label:after { border-left-color: hsla(202, 70%, 72%, 1); }

.sencosCoCDelete {
    position: absolute;
    background: #86c5ea;
    padding: calc(0.5em - 2px);
    padding-right: 10px;
}

.sencosCoCDelete img {
    height: 1em;
    vertical-align: middle;
    margin-top: -2px;
    opacity: 0.55;
}

.sencosCoCDelete img:hover {
    opacity: 1;
}

.sonsorCoCPanel {
    width: 100%;
}

.rollenDropdown {
    width: 100px;
    min-width: 0 !important;
}

.auswTable th.ui-state-default:first-of-type {
    padding-left: calc(1em + 11px);
}
.auswTable th.ui-state-default {
    background: white;
    border-top: 0;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid lightgray;
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    font-weight: bold;
    padding-bottom: 10px;
}

.auswTable tbody:before {
    line-height:5px;
    content:".";
    color:white;
    display:block;
}
.auswTable .ui-row-toggler {
    position: relative;
    left: 50%;
}
.meldungZuordnenTable{
    padding-bottom: 0;
    padding-top: 15px;
    text-align: center;
    border: none; 
}

.srcollTable{
    height: 30vh;
    overflow-y: scroll;

}

.anfoAuswBtn.inline {
    position: absolute;
    margin-top: 3px;
}

.anfoAuswBtn.ui-button.ui-widget.ui-button-text-only.auswirkungHinzufuegenButton.inline {
    margin: 0;
}

.anfoAuswDelete {
    display: flex;
    /*border: 1px solid lightgray;*/
    float: right;
}

.anfoAuswDelete img{
    height: 1em;
    padding: calc(0.5em - 2px);
    opacity: 0.55;
}

.anfoAuswDelete img:hover {
    opacity: 1;   
}

.auswTable td:first-of-type {
    padding-left: calc(1em + 11px);
}
.auswTable td {
    border: none !important;
    border-bottom: 1px solid lightgray !important;
}


.auswTable tbody tr:hover {
    background-color: hsla(202, 70%, 80%, 1);
    color: white;
}

.umsetzerDataTable .ui-datatable-data .column-radio{ 
    text-align: center;
}

.umsetzerDataTable .ui-datatable-data td{
    border: none;
}

.umsetzerDataTable tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-highlight {
    background: hsla(202, 70%, 80%, 1);
    border: none;
}
.umsetzerDataTable tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-highlight td {
    text-shadow: none;
}

.umsetzerDataTable thead th.ui-state-default {
    border: none;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
    background: white;
}

.umsetzerDataTable .umsetzerDelete img{
    height: 1em;
    margin-top: 2px;
    opacity: 0.5;
}

.umsetzerDataTable .umsetzerDelete:hover img {
    opacity: 1;
}


.umsetzerDataTable tbody:before {
    line-height: 5px;
    content: ".";
    color: white;
    display: block;
}

.anfoZielwertEinheitInput.ui-selectonemenu {
    display: flex;
    margin-left: 10px;
}

.anfoZielwertEinheitInput .ui-selectonemenu-label {
    padding: 3px;
}

.auswirkungenPanel tbody td:nth-of-type(2):not([role='gridcell']) {
    position: absolute;
    background: white
}

.auswirkungenPanel .menu.ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all{
    top:7px;
    height:25px;
    margin-right:5px;
    min-width:225px !important;
}
.menu.ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all .ui-selectonemenu-label {
    height:17px;
    font-size: 1em;
    box-shadow: 0 0;
    text-shadow: 0 0;
}

.auswInputPanel {
    overflow: hidden;
    width: 0;
    display: inline-flex;
    background: white;
}
.auswInputPanel .ui-inputfield.anfoTabInput {
    width: 140px;
    margin-right: 5px;
}

.auswirkungSpeichernButton.ui-button.ui-widget.anfoAuswBtn.ui-corner-all,
.auswirkungSpeichernButton.ui-button.ui-widget.anfoAuswBtn.ui-corner-all.ui-state-hover {
    margin: 0;
    margin-top: 0.5px;
}

.auswirkungSpeichernButton {
    display: inline ;
}

.anfoTabTable:first-of-type > tbody tr {
    height: calc(100% + 30px);
}

.attachmentPanel.ui-panel.ui-widget.ui-widget-content.ui-corner-all {
    padding: 0;
}

.attachmentPanel .ui-panel-content.ui-widget-content {
    padding: 0;
}

.attachmentPanel .ui-fileupload.ui-widget .ui-fileupload-buttonbar.ui-widget-header.ui-corner-top {
    background: white;
    border: none;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.attachmentPanel .ui-fileupload.ui-widget.empty {
    border: 1px dashed lightgray;
    vertical-align: middle;
    display: table;
    width: 100%;
    padding-top: 10px;
}

.attachmentPanel .ui-fileupload.ui-widget.empty .ui-fileupload-buttonbar.ui-widget-header.ui-corner-top .ui-button.ui-widget.ui-button-text-icon-left.ui-fileupload-choose {
    border: none;
    border-radius: 0;
    background: white;
}
.attachmentPanel .ui-fileupload.ui-widget.empty .ui-fileupload-buttonbar.ui-widget-header.ui-corner-top .ui-button.ui-widget.ui-button-text-icon-left.ui-fileupload-choose.ui-state-hover span {
    text-decoration: underline;
}

.attachmentPanel .ui-button-text.ui-c {
    padding-left: 3.3em;
}

.attachmentPanel .ui-button-icon-left.ui-icon.ui-c.ui-icon-plusthick {
    background-image: url("#{resource['images:icons/color/icon_cloud.png']}");
    background-position: inherit;
    background-size: 2em;
    border-radius: 0;
    width: 2em;
    height: 2em;
    margin-top: -1em;
}

.attachmentPanel .anhangDelete img {
    height: 1em;
}

.attachmentPanel .fileUploadTable th.ui-state-default {
    background: white;
    border-top: 0;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
    padding-bottom: 10px;
}

.attachmentPanel .fileUploadTable td:first-of-type {
    padding-left: calc(1em + 40px);
    text-align: left;
}

.attachmentPanel .fileUploadTable td {
    text-align: center;
}

.attachmentPanel .fileUploadTable td {
    border: none;
}

.attachmentPanel .fileUploadTable tbody tr:hover {
    background-color: hsla(202, 70%, 80%, 1);
    color: white;
}

.attachmentPanel .ui-fileupload.ui-widget:not(.empty) .ui-fileupload-buttonbar.ui-widget-header.ui-corner-top {
    position: absolute;
    padding: 0;
}

.attachmentPanel .ui-fileupload.ui-widget:not(.empty) .ui-fileupload-buttonbar.ui-widget-header.ui-corner-top .ui-button-icon-left.ui-icon.ui-c.ui-icon-plusthick {
    background: transparent;
}

.attachmentPanel .ui-fileupload.ui-widget:not(.empty) .ui-fileupload-buttonbar.ui-widget-header.ui-corner-top .ui-button-text.ui-c {
    padding-left: 1em;
}

.attachmentPanel .fileUploadTable tbody:before {
    line-height:10px;
    content:".";
    color:white;
    display:block;
}

.ui-outputlabel.ui-widget.admTitle{
    font-size: 1.5em ;
    font-weight: bold ;
}
.ui-commandlink.ui-widget.admTitle{
    font-size: 1.5em ;
    font-weight: bold ;
}
.ui-outputlabel.ui-widget.statusText{
    font-size: 1.5em ;
    margin-left: 1em;
    margin-right: 1em;
}

.ui-commandlink.ui-widget.vsText {
    font-size: 1.5em ;
    font-weight: bold ;
    margin-left: 1em;
    margin-right: 1em;
    background: #3399ff;
    padding: 2px;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.infoButton{
    border-radius:50%;
    width:25px;
    height:25px;
    border-color:black;
}

.zuAnfoButton {
    margin-right: 2em;
}

.rechtDelete{

}
.rechtDelete img {
    height: 1em;
    vertical-align: middle;
    margin-top: -2px;
}

.searchButton{
    float: right;
}

.dialogLabel{
    margin-right: 10px;
}

/* DialogMitarbeiter zuordnen/bearbeiten */
.admin-margin {
    margin: -18px 0px;
}

.mitarbeiterZuordnenTable tr{
    border: 1px solid #ccc;
}

.mitarbeiterZuordnenTableHeader {
    background: #000;
    color: #fff;
}

.mitarbeiter-zuordnen-h3 {
    font-size: 14px;
    line-height: 14px;
    margin: .3em 1em;
    text-shadow: none;
    color: #222324;
    display: table;
    font-weight: 600;
}

.z-h3-admin {
    margin: -8px 0px 5px -4px;
}

.mitarbeiter-zuordnen-right {
    z-index: 99999;
    width: 248px;
    position: absolute;
    right: 20px;
    margin-top: 4px;}

.auswTable .MitarbeiterBearbeitenMuelleimer {
    width: 14px;
    padding: 4px calc(1em + 11px) 4px 10px;
}

.MitarbeiterBearbeitenTable .ui-datatable-tablewrapper {
    max-height: 200px;
}

.no-border.ui-panelgrid>*>tr,
.no-border.ui-panelgrid>*>tr>td {
    border: none;
}

.adminContent {
    height: auto !important;
    padding-right: 20px !important;
    padding-top: 15px !important;
    padding-left: 10px !important;
}

.berechtigungFilterPanel {
    padding-top: 40px !important;
}


.berechtigungShowOnly{
    color: #5189cd !important;
    font-size: 14px !important;
}

.showOnlyButton{
    width: 70px !important;
}
.showOnlyButtonDiv{
    padding-left: 15px !important;
}

.content{
    top: 20px !important;
}

.neueBerechtigungButton {
    margin-left: 10px !important;
}