.anfoList {
    position: relative;
    height: 100%;
    max-height: 100%;
    padding: 0 5px 20px;
}

.anfoList > .ui-widget-content {
    background: transparent;
}

.anfoList .ui-datalist-data {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.anfoList .anfoListItemWrapper {
    margin-top: 5px;
    display: flex;
}

.anfoListItem {
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
    min-height: 88px;
    display: flex;
}

.anfoListItemSelect {
    width: 10px;
    min-height: 88px;
    padding: 0;
    height: 100%
}

.anfoListItemSelect.ui-button.ui-widget.ui-state-default.ui-corner-all {
    border: none;
    border-radius: 0;
}

.anfoListItemSelect.ui-selectbooleanbutton.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only {
    background-size: 200% 100%;
    background: transparent;
    border-right: none;
}

.anfoListItemSelect.ui-selectbooleanbutton.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-active {
    background: rgba(66, 121, 190, 1);
    border-right: 1px solid rgba(18, 48, 84, 0.35);
    margin-bottom: -5px;
}

.anfoListItemSelect.ui-selectbooleanbutton.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:hover {
    background: rgba(66, 121, 190, 0.5) left bottom;
    width: 8px;
    border-right: 1px solid rgba(18, 48, 84, 0.25);
}

.anfoListItemSelect.ui-selectbooleanbutton.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-active:hover {
    background: rgba(66, 121, 190, 1) left bottom;
    width: 8px;
}

.anfoListItemSelect .ui-button-text {
    display: none;
}

.anfoListItemImage {
    border: none;
    float: left;
    margin-right: 10px;
    margin-left: 2px;
}

.anfoListItemImage img {
    height: 70px;
    width: auto;
    display: block;
    border-radius: 3px;
}

.anfoListItemHeader {
    box-sizing: border-box;
    width: calc(100% - 10px);
    height: auto;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 10px;
}

.anfoListItemHeader .headline.clickable {
    background: rgba(255, 255, 255, 0.2);
    padding: 2px 10px;
    border-radius: 3px;
    border: 1px solid rgba(205, 205, 205, 0.8);
}

.anfoListItemHeader .headline.clickable:hover {
    background: rgba(81, 137, 205, 0.3);
    border: 1px solid #5189cd;
}

.anfoListItemBody {
    padding: 0 10px 10px 10px;
    overflow: hidden;
}

.anfoListItemBody .anfoListItemBeschr.lang:hover,
.anfoListItemBody .anfoListItemBeschr.kurz:hover {
    cursor: pointer;
}

.anfoListItemType {
    color: rgba(255, 255, 255, 0.8);
}

.anfoListItemSCoCWrapper {
    padding: 6px 0;
}

.anfoListItemSCoC.ui-widget {
    font-size: 0.75em;
    color: rgba(255, 255, 255, 0.8);
}

.anfoListItemId.ui-widget {
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 5px;
    text-decoration: none;
}

.contentNav .ui-button.ui-widget.ui-state-default.ui-corner-all.anfoListItemStatus,
.anfoListItemStatus {
    color: white;
    background: rgba(55, 102, 161, 1.0);
    padding: 2px 10px;
    vertical-align: middle;
    margin-left: 10px;
    border: 1px solid rgba(18, 48, 84, 0.35);
    float: right;
    border-radius: 3px;
    text-shadow: none;
}

.anfoListItemVersionWrapper {
    display: inline-table;
}

.activeFiltersAutocomplete {
    width: calc(100% - 326px);
    max-width: 1225px;
    position: fixed;
    z-index: 10;
    background-color: transparent;
    border: 0px;
    padding: 0px 0 2px 5px;
}

#anfoListForm .activeFiltersAutocomplete {
    padding-left: 0px;
    margin-left: 60px;
}

.activeFiltersAutocomplete > ul {
    width: 100%;
    background-color: transparent;
    border: 1px solid transparent !important;
}

.activeFiltersAutocomplete > ul .ui-state-hover {
    width: 100%;
    background-color: transparent;
    border: 1px solid transparent !important;
}

.activeFiltersAutocomplete, .activeFiltersAutocomplete ul {
    cursor: default;
}

.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all.filterManyCheckbox {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: none;
    text-shadow: none;
    width: 170px;
}

.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all.filterManyCheckbox .ui-selectcheckboxmenu-label.ui-corner-all {
    border: 1px solid transparent;
}

.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all.filterManyCheckbox .ui-selectcheckboxmenu-label.ui-corner-all.ui-state-hover,
.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all.filterManyCheckbox.ui-state-focus:hover .ui-selectcheckboxmenu-label.ui-corner-all {
    background: transparent;
    border: 1px solid #5189cd;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    box-shadow: none;
}

.ui-selectcheckboxmenu-trigger.ui-state-default.ui-corner-right {
    background: transparent;
    box-shadow: none;
}

.activeFiltersAutocomplete {
    min-height: 24.7px;
}

.activeFiltersAutocomplete input {
    display: none;
}

.search-sensorcoc-label {
    padding-left: 5px;
}

.anfoListItemText {
    width: 50vw;
}

.anfoList_menu_wrapper tr.ui-widget-content {
    background: transparent;
    border: none;
}

.anfoList_actions_icon {
    position: fixed;
    margin-right: 3px;
}


.anfoList_actions_menu {
    transform: translateX(-200px);
    width: 250px;
}

.anfoList_actions_menu a {
    text-decoration: none;
}

.anfoList_actions_menu tr.ui-widget-content:hover {
    background: #5189CD;
    cursor: pointer;
}

.anfoList_popup {
    background: rgba(34, 35, 36, 0.9);
    border: 1px solid #3766a1;
    border-radius: 3px;
    padding: 15px;
    box-sizing: border-box;
    position: absolute;
    top: 55px;
    z-index: 10;
    margin-left: -7px;
}

.anfoList_popup * {
    color: white;
}

.anfoList_popup:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 8px solid transparent;
    border-bottom: 8px solid #5189CD;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    right: 6px;
    top: -16px;
}

.anfoList_popup .menu_grid {
    width: 100%;
    margin-top: 5px;
}

.anfoList_popup .menu_grid tr.zero {
    opacity: 0.5;
}

.anfoList_popup .menu_grid tr:not(.zero) *:hover,
.anfoList_popup .menu_grid tr:hover:not(.zero) {
    cursor: pointer;
}

.anfoList_popup .menu_grid tr td a {
    width: 198px;
    display: inline-block;
}

.anfoList_popup .menu_grid .anfoList_menu_link {
    text-decoration: none;
}

.anfoList_popup .menu_grid td.ui-panelgrid-cell {
    border: none;
}

.anfoList_popup .menu_grid td.ui-panelgrid-cell img.item_icon {
    height: 24px;
    width: 24px;
    display: block;
}

.anfoList_popup .menu_grid td.ui-panelgrid-cell img.item_icon_small {
    height: 1em;
    width: 1em;
    display: block;
}

.anfoList_popup .menu_grid tr td.ui-panelgrid-cell:first-of-type {
    padding-right: 5px;
}

.anfoList_popup .menu_grid tr:hover:not(.zero) td.ui-panelgrid-cell.amount label {
    color: white;
}

.anfoList_popup .items {
    max-width: 275px;
    margin: auto;
}

.anfoList_popup .items_header {
    padding-bottom: 10px;
    border-bottom: 1px solid #5189cd;
    padding-right: 11px;
    margin-top: 15px;
}

.anfoList_popup .items_header:first-of-type {
    margin-top: 0;
}

.anfoList_popup .menu_grid .label {
    width: 100%;
}

.anfoList_popup .menu_grid tr .ui-commandlink.ui-widget.anfoList_menu_link {
    color: white;
}

.anfoList_popup .menu_grid .anfoList_menu_link {
    text-decoration: none;
}

.filter-template .ui-icon {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-aristo");
}

.filter-template tbody .ui-icon {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-aristo");
}

.filter-template .ui-state-hover .ui-icon.ui-icon-triangle-1-s,
.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all.filterManyCheckbox.ui-state-focus:hover .ui-selectcheckboxmenu-trigger.ui-state-default.ui-corner-right .ui-icon.ui-icon-triangle-1-s {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_2e83ff_256x240.png.xhtml?ln=primefaces-aristo");
}

.filter-template .ui-icon.ui-icon-close:hover,
.filter-template .ui-icon.ui-icon-circle-close:hover {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_2e83ff_256x240.png.xhtml?ln=primefaces-aristo");
}

.version-anzeige {
    color: white;
    background: rgba(55, 102, 161, 0.8);
    padding: 2px 5px;
    vertical-align: middle;
    margin-left: 10px;
    border: 1px solid rgba(18, 48, 84, 0.15);
    border-radius: 3px;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
    margin-top: 5px;
}

.contentNav .ui-selectonemenu.ui-widget.ui-corner-all.anfoListSelectSort {
    margin-left: 5px;
    border-radius: 3px;
    background-color: rgba(29, 33, 41, 0.3);
    border: 1px solid rgba(204, 204, 204, 0.5);
    box-shadow: none;
    height: 26px;
}

.contentNav .ui-selectonemenu.ui-widget.ui-corner-all.anfoListSelectSort.ui-state-hover {
    background-color: rgba(81, 137, 205, 0.3);
    border: 1px solid #5189CD;
}

.contentNav .ui-selectonemenu.ui-widget.ui-corner-all.anfoListSelectSort label {
    background: transparent;
    color: rgba(255, 255, 255, 0.8);
}

.contentNav .ui-selectonemenu.ui-widget.ui-corner-all.anfoListSelectSort .ui-selectonemenu-trigger {
    background: transparent;
    border: none;
    border-left: 1px solid rgba(204, 204, 204, 0.5);
}

.contentNav .ui-selectonemenu.ui-widget.ui-corner-all.anfoListSelectSort.ui-state-hover .ui-selectonemenu-trigger {
    border-left: 1px solid #5189CD;
}

.contentNav .ui-selectonemenu.ui-widget.ui-corner-all.anfoListSelectSort.ui-state-hover .ui-selectonemenu-trigger .ui-icon.ui-icon-triangle-1-s.ui-c {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-aristo") !important;
}

.anfoListTextLabel {
    position: relative;
    top: -8px;
    border-radius: 3px;
    margin-left: 4px;
    background: rgba(255, 255, 255, 0.0);
    color: rgba(255, 255, 255, 1);
    padding: 4px 0px 4px 3px;
}

.showPerPageLabel {
    margin-left: 20px;
}

.sortByLabel {
    margin-left: 20px;
}

.contentNav .ui-button.ui-widget.ui-state-default.ui-corner-all.numberOfResultsLabel,
.numberOfResultsLabel {
    float: left;
    margin-top: 2px;
    margin-left: 5px;
}

.contentNav .ui-button.ui-widget.ui-state-default.ui-corner-all.numberOfResultsLabel .ui-button-text {
    padding: 1px;
}


.anfoListItemBox,
.anfoListItemBox:hover {
    width: auto;
    height: 18px;
    background: rgba(255, 255, 255, 0.0);
    float: left;
    margin-left: 5px;
    border: 1px solid rgba(204, 204, 204, 0.0);
    margin-top: 2px;
}

.contentNav .ui-button.ui-widget.ui-state-default.ui-corner-all.anfoListItemButton {
    float: left;
    margin-top: -3px;
    margin-left: -7px;
    margin-right: -7px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #999;
    border-radius: 3px 3px 3px 3px;
    transition: 0.1s;
}

.contentNav .ui-button.ui-widget.ui-state-default.ui-corner-all.anfoListItemButton:hover {
    background: rgba(66, 121, 190, 0.5);
    z-index: 9;
}

.contentNav .ui-button.ui-widget.ui-state-default.ui-corner-all.anfoListItemButton.ui-state-active {
}

.contentNav .ui-button.ui-widget.ui-state-default.ui-corner-all.anfoListItemButton.ui-state-active:hover {
    background: rgba(66, 121, 190, 1);
    z-index: 9;
}

.contentNav .ui-button.ui-widget.ui-state-default.ui-corner-all.anfoListItemButton.ui-state-disabled.ui-state-active:hover {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #999;
    opacity: 0.35;
}

.ui-state-active ~ .anfoListItemSelectAll {
    height: 22px;
    width: 5px;
    background: rgba(66, 121, 190, 1);
    position: absolute;
    border-right: 1px solid rgba(18, 48, 84, 0.35);
    border-radius: 2px 0px 0px 2px;
    margin-top: -2px;
    margin-left: -6px;
    transition: 0.1s;
}

.ui-state-disabled.ui-state-active ~ .anfoListItemSelectAll {
    display: none;
}

.contentNav .ui-button.ui-widget.ui-state-default.ui-corner-all.anfoListItemButton .ui-button-text {
    padding: 1px;
    background: transparent;
    border: 0px;
}


.anfoListSelectboxLabel {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

.anfoListLeftHeight {
    height: 100%;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.resetButton.trippleHeigtButton {
    height: 60px;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.resetButton.doubleHeigtButton {
    height: 40px;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.resetButton.anwendenButton {
    height: 28px;
    margin-top: 0px;
    background: rgba(29, 33, 41, 0.3);
    border: 1px solid rgba(204, 204, 204, 0.5);
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.resetButton {
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    margin-top: 4px;
    height: 20px;
    cursor: pointer;
    border: 1px solid #999;
    margin-left: 5px;
    position: absolute;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.resetButton span {
    padding: 1px 8px 1px 8px;
    text-shadow: none;
}

.filter-wrapper .ui-widget-content .ui-button.ui-widget.ui-state-default.ui-corner-all.resetButton:hover,
.ui-button.ui-widget.ui-state-default.ui-corner-all.resetButton:hover {
    cursor: pointer;
    background: rgba(81, 137, 205, 0.5);
    border: 1px solid #5189CD;
}

.filter-wrapper .ui-widget-content .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-state-disabled.resetButton:hover,
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-state-disabled.resetButton:hover {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #999;
    cursor: default;
}

.ErgebnisseLadenButton {
    margin-left: 50%;
    left: -79px;
    position: absolute;
    margin-bottom: 40px;
    background: rgba(255, 255, 255, 0.2);
}

@media (min-width: 1550px) {
    .ErgebnisseLadenButton {
        margin-left: 665px;
    }
}


.imgButton,
.ui-button.ui-widget.ui-state-default.ui-corner-all.imgButton {
    background-repeat: no-repeat;
    background-position: center;
    width: 22px;
    height: 22px;
    position: absolute;
    border: 1px solid transparent;
    opacity: 0.9;
}

.imgButton.ui-state-hover,
.imgButton.ui-state-focus,
.ui-button.ui-widget.ui-state-default.ui-corner-all.imgButton.ui-state-focus.ui-state-hover {
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    box-shadow: none;
    opacity: 1;
    cursor: pointer;
}

.imgButtonGlass {
    width: 22px;
    height: 22px;
}

.imgButtonGlass:hover {
    cursor: pointer;
}

.save-search_popup .ui-widget-content .ui-panelgrid-cell.icon .ui-row-editor {
    border-radius: 3px;
    padding: 3px;
    border: 1px solid #ccc;

}


.imgButtonSmall {
    width: 18px;
    height: 18px;
}

.anfoListItemId {
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
}

.saveSelection {
    display: none;
}

.saveSelectionShow {
    display: none;
}

.ui-widget-content .sucheSpeichernInputRow .ui-inputfield.save-search-inputfield {
    background: #434445;
    border: 1px solid transparent;
    margin: 5px 5px 2px -3px;
    padding-left: 6px;
    width: 140px;
    color: rgba(255, 255, 255, 0.9);
    height: 13px;
}

button.ui-button.ui-widget.ui-state-default.ui-corner-all.saveSelection.speichernButton.imgButton {
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #434445;
    width: 22px;
    height: 22px;
    margin-top: 5px;
}

.ui-widget-content .ui-panelgrid-cell:hover .sucheSpeichernInputRow .ui-inputfield.save-search-inputfield.ui-state-focus,
.ui-widget-content .ui-panelgrid-cell:hover .sucheSpeichernInputRow .ui-inputfield.save-search-inputfield:hover {
    border: 1px solid rgba(204, 204, 204, 0.5);
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.imgButton.speichernButton .ui-icon-disk {
    background: none;
}


button.ui-button.ui-widget.ui-state-default.ui-corner-all.saveSelection.speichernButton.imgButton:hover,
.ui-widget-content .sucheSpeichernInputRow .ui-inputfield.save-search-inputfield.ui-state-focus,
.ui-widget-content .sucheSpeichernInputRow .ui-inputfield.save-search-inputfield:hover {
    background-color: #485c74;
    border: 1px solid #fff;
    cursor: pointer;
}

.ui-widget-content .ui-panelgrid-cell:hover button.ui-button.ui-widget.ui-state-default.ui-corner-all.saveSelection.speichernButton.imgButton {
}

.ui-widget-content .ui-panelgrid-cell:hover button.ui-button.ui-widget.ui-state-default.ui-corner-all.saveSelection.speichernButton.imgButton:hover {
    border: 1px solid rgba(204, 204, 204, 0.5);
}

.sucheSpeichernInputRow {
    display: inline-block !important;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}

.anfoListTextlabel {
    color: white;
    padding: 3px 5px;
    vertical-align: middle;
    margin-left: 4px;
    border-radius: 3px;
    text-shadow: none;
    margin-top: -2px;
    background: rgba(81, 137, 205, 0.35);
    border: 1px solid rgba(205, 205, 205, 0.8);
    color: rgba(255, 255, 255, 1);
}

.anfoListArtLabel {
    width: 42px;
    text-align: center;
    padding: 2px 0px;
    height: 18px;
    float: right;
    top: 48px;
    position: relative;
    margin-left: -45px;
}

.anfoListItem.pzbk {
    background: rgba(81, 137, 205, 0.35);
}

.filter-grid .ui-widget-content {
    color: transparent;
}

.filter-column.ui-panelgrid-cell {
    padding-left: 0px;
}

.ui-button-icon-right.ui-icon.ui-c.ui-icon-close {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-right.resetButton.d-iflex span {
    padding-right: 25px;
}