.filter-column.date input {
    width: 100px;
}

.filter-template .content {
    top: 10px;
}

.filter-column.time input {
    width: 100%;
    box-sizing: border-box;
}

.column-date {
    width: 160px;
}

td.column-date {
    opacity: 0.7;
}

#anfoHistoryForm {
    margin-top: 10px;
}

.p-20 .ui-commandlink.ui-widget.d-iflex {
    padding-top: 10px;
}