.secNavBar .ui-button.ui-widget.ui-state-default.ui-corner-all.prozessbaukastenLink {
    color: white;
    background: rgba(55, 102, 161, 1);
    vertical-align: middle;
    border: 1px solid rgba(18, 48, 84, 0.35);
    box-shadow: none;
}