thead .ui-button.ui-widget.ui-state-default.ui-corner-all,
thead button {
    border-radius: 3px;
    background: rgba(29, 33, 41, 0.3);
    box-shadow: 0 0;
    text-shadow: 0 0;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.7);
    border: none;
}


thead .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-state-hover,
thead button:hover,
thead .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-state-active,
thead button:active {
    background: rgba(81, 137, 205, 0.3);
    border-color: #5189CD;
}

thead .ui-button-text-only .ui-button-text {
    padding: 2px 10px 2px 10px;
}

.derivatStatus .ui-datalist-data {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

th {
    background: transparent !important;
}

.anforderungZuordnenTable tr td:nth-child(even),
.anforderungZuordnenTable tr td:nth-child(even):hover,
.anforderungZuordnenTable tr.ui-widget-content.ui-datatable-selectable.ui-state-highlight td:nth-child(even),
.anforderungZuordnenTable tr.ui-widget-content.ui-datatable-selectable.ui-state-hover td:nth-child(even) {
    background: rgba(81, 137, 205, 0.3);
}

.anforderungZuordnenTable tr td:nth-child(odd), .anforderungZuordnenTable tr td:nth-child(odd):hover{
    background: transparent !important;
}

.anforderungZuordnenTable tr td:nth-child(2),
.anforderungZuordnenTable tr.ui-widget-content.ui-datatable-selectable.ui-state-highlight td:nth-child(2)
.anforderungZuordnenTable tr.ui-widget-content.ui-datatable-selectable.ui-state-hover td:nth-child(2){
    background: transparent !important;
}

.anforderungVereinbarenTable tr td:nth-child(even),
.anforderungVereinbarenTable tr td:nth-child(even):hover,
.anforderungVereinbarenTable tr.ui-widget-content.ui-datatable-selectable.ui-state-highlight td:nth-child(even),
.anforderungVereinbarenTable tr.ui-widget-content.ui-datatable-selectable.ui-state-hover td:nth-child(even) {
    background: transparent !important;
}

.anforderungVereinbarenTable tr td:nth-child(odd), .anforderungVereinbarenTable tr td:nth-child(odd):hover{
    background: rgba(81, 137, 205, 0.3);
}

.anforderungVereinbarenTable tr td:nth-child(1),
.anforderungVereinbarenTable tr.ui-widget-content.ui-datatable-selectable.ui-state-highlight td:nth-child(1)
.anforderungVereinbarenTable tr.ui-widget-content.ui-datatable-selectable.ui-state-hover td:nth-child(1),
.anforderungVereinbarenTable tr td:nth-child(3),
.anforderungVereinbarenTable tr.ui-widget-content.ui-datatable-selectable.ui-state-highlight td:nth-child(3)
.anforderungVereinbarenTable tr.ui-widget-content.ui-datatable-selectable.ui-state-hover td:nth-child(3){
    background: transparent !important;
}

.selectedButton .imageContainerSmall.anfoListFreigabeButton {
    background: rgba(81, 137, 205, 0.7);
}

.displayNone {
    display: none;
}

.noPadding {
    padding: 0px;
}

.noPadding > .ui-panel-content.ui-widget-content {
    padding: 0px;
    padding-left: 10px;
}

.ui-datatable.ui-widget.ui-datatable-scrollable {
    border: 0px;
}

.ui-widget-header.ui-datatable-scrollable-header {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.ui-datatable-scrollable-body > table {
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin-left: 1px;
    margin-right: 1px;
}

.ui-datatable-scrollable-header-box {
    margin-right: 0px !important;
}

.ui-datatable.ui-widget.ui-datatable-scrollable .ui-widget-header.ui-datatable-scrollable-header {
    background: rgba(55, 102, 161, 0.3);
}

.anforderungZuordnenTable,
.anforderungVereinbarenTable{
    padding: 0;
    border-radius: 3px;
    margin-bottom: 10px;
    background: transparent;
    height: calc(100% - 5px);
}

.content {
    overflow: hidden;
}

.ui-datatable-scrollable-theadclone {
    visibility: hidden;
}

.transparent {
    background-color: transparent;
}

td .ui-panelgrid-cell {
    background: transparent;
    border: 0px;
    color: white;
}

.ui-panelgrid .ui-panelgrid-cell {
    border: 0px;
}

tr .ui-widget-content{
    background-color: transparent;
    color: white;
    border: 0px;
}

.glass-button .ui-autocomplete-token.ui-state-active, .glass-button .ui-autocomplete-dropdown.ui-button.ui-widget.ui-button-icon-only, .ui-selectonemenu.glass-button .ui-selectonemenu-trigger.ui-corner-right, .ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-highlight, .ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-hover, .ui-datatable tbody tr.ui-widget-content.ui-state-highlight {
    text-shadow: none;
    color: white;
}

.p-20 tbody tr a.ui-commandlink.ui-widget, .p-20 tbody tr:hover a.ui-commandlink.ui-widget, .p-20 tbody tr.ui-state-highlight a.ui-commandlink.ui-widget {
    color: white;
}

.ui-menu.ui-menu-dynamic.ui-contextmenu.ui-widget.ui-widget-content.ui-corner-all.ui-helper-clearfix.ui-shadow {
    background-color: rgba(55, 102, 161, 0.9);
    color: white;
    border: 1px solid white;
    padding-top: 0px;
    width: auto;
}

.ui-widget-content .ui-state-hover {
    box-shadow: none;
}

.ui-widget-content .ui-state-hover {
    background: transparent;
    color: white;
}

.ui-menuitem.ui-widget.ui-corner-all a {
    padding-right: 10px;
    padding-left: 15px;
}

.noComment {
    min-width: 380px;
    max-width: 380px;
}

.commentShown {
    min-width: 684px;
    max-width: 684px;
}

.zuordnenCol {
    min-width: 320px;
    max-width: 320px;
}

.ui-widget-content.ui-datatable-even.ui-datatable-selectable.no-hover
.ui-widget-content.ui-datatable-even.ui-datatable-selectable.no-hover.ui-state-hover {
    color: black;

}

.headerLabel {
    color: white;
}

.bodyLabel {
    color: black;
}

.ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-highlight td {
    background: rgba(81, 137, 205, 0.3);
}

.ui-inputfield.ui-inputtextarea.ui-widget.ui-state-default.ui-corner-all.ui-inputtextarea-resizable {
    padding: 5px;
}

.ui-inputfield.ui-inputtextarea.ui-widget.ui-state-default.ui-corner-all.ui-inputtextarea-resizable.ui-state-hover {
    background-color: white;
    color: black;
}

.historyButton {
    border-color: rgba(29, 33, 41, 0.3);
    border-radius: 3px;
    background-color: rgba(29, 33, 41, 0.3);
    color: white;
}

.historyButton:hover {
    border-color: rgb(81, 137, 205);
    background-color: rgba(81, 137, 205, 0.3);
}

img.historyButton {
    height: 17px;
    padding: 3px;

}

.tableDialog .ui-dialog-content.ui-widget-content {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.ui-datatable.ui-widget.ui-datatable-scrollable.glass-table.historyTable {
    padding-top: 0px;
}

.ui-datatable.ui-widget.ui-datatable-scrollable.glass-table.historyTable > .ui-widget-header.ui-datatable-scrollable-header {
    border: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.ui-datatable.ui-widget.ui-datatable-scrollable.glass-table.historyTable table {
    border: 0px;
}

.historyTable .ui-datatable-scrollable-body {
    margin-right: -20px;
}

.getDerivattoZak-scrollTable tr td,
.historyTable tr td {
    color: #4f4f4f;
}

.anfoDerivat_menu_wrapper tr.ui-widget-content {
    background: transparent;
    border: none;
}

.anfoDerivat_actions_menu {
    transform: translateX(-200px);
    width: 250px;
}

.anfoDerivat_actions_menu a {
    text-decoration: none;
}

.anfoDerivat_actions_menu tr.ui-widget-content:hover {
    background: #5189CD;
    cursor: pointer;
}

.anfoDerivat_popup {
    background: rgba(34, 35, 36, 0.9);
    border: 1px solid #3766a1;
    border-radius: 3px;
    padding: 15px;
    box-sizing: border-box;
    position: absolute;
    top: 55px;
    z-index: 10;
    margin-left: -7px;
}

.anfoDerivat_popup * {
    color: white;
}

.anfoDerivat_popup:before{
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 8px solid transparent;
    border-bottom: 8px solid #5189CD;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    right: 6px;
    top: -16px;
}

.anfoDerivat_popup .menu_grid {
    width: 100%;
    margin-top: 5px;
}

.anfoDerivat_popup .menu_grid tr.zero {
    opacity: 0.5;
}

.anfoDerivat_popup .menu_grid tr:not(.zero) *:hover,
.anfoDerivat_popup .menu_grid tr:hover:not(.zero) {
    cursor: pointer;
}


.anfoDerivat_popup .menu_grid tr td a {
    width: 198px;
    display: inline-block;
}


.anfoDerivat_popup .menu_grid .anfoDerivat_menu_link {
    text-decoration: none;
}

.anfoDerivat_popup .menu_grid td.ui-panelgrid-cell {
    border: none;
}

.anfoDerivat_popup .menu_grid td.ui-panelgrid-cell img.item_icon {
    height: 24px;
    width: 24px;
    display: block;
}

.anfoDerivat_popup .menu_grid td.ui-panelgrid-cell img.item_icon_small {
    height: 1em;
    width: 1em;
    display: block;
}

.anfoDerivat_popup .menu_grid tr td.ui-panelgrid-cell:first-of-type {
    padding-right: 5px;
}

.anfoDerivat_popup .menu_grid tr:hover:not(.zero) td.ui-panelgrid-cell.amount label {
    color: white;
}

.anfoDerivat_popup .items {
    max-width: 275px;
    margin: auto;
}

.anfoDerivat_popup .items_header {
    padding-bottom: 10px;
    border-bottom: 1px solid #5189cd;
    padding-right: 11px;
    margin-top: 15px;
}

.anfoDerivat_popup .items_header:first-of-type {
    margin-top: 0;
}

.anfoDerivat_popup .menu_grid .label {
    width: 100%;
}

.anfoDerivat_popup .menu_grid tr .ui-commandlink.ui-widget.anfoDerivat_menu_link{
    color: white;
}

.anfoDerivat_popup .menu_grid .anfoDerivat_menu_link {
    text-decoration: none;
}

.statusGrau {
    background: rgba(189, 189, 189, 1);
    padding: 2px 10px;
    vertical-align: middle;
    border: 1px solid rgba(18, 48, 84, 0.35);
    border-radius: 3px;
    color: white;
}

.statusBlau {
    background: rgba(81,137,205,1);
    padding: 2px 10px;
    vertical-align: middle;
    border: 1px solid rgba(18, 48, 84, 0.35);
    border-radius: 3px;
    color: white;
}

.statusRot {
    color: white;
    background: rgba(218, 125, 11, 1);
    padding: 2px 10px;
    vertical-align: middle;
    border: 1px solid rgba(18, 48, 84, 0.35);
    border-radius: 3px;
}

.statusGelb {
    color: white;
    background: rgba(218, 187, 11, 1);
    padding: 2px 10px;
    vertical-align: middle;
    border: 1px solid rgba(18, 48, 84, 0.35);
    border-radius: 3px;
}

.statusGruen {
    color: white;
    background: rgba(14, 200, 98, 1);
    padding: 2px 10px;
    vertical-align: middle;
    border: 1px solid rgba(18, 48, 84, 0.35);
    border-radius: 3px;
}

.statusgroup{
    margin: 9px 11px 11px 0px;
}

.daStatus{
    margin-top: 2px;
    margin-bottom: 2px;
}

.ui-datatable tbody tr.ui-widget-content.no-hover {
    color: #4f4f4f;
}

.anforderungZuordnenTable.systemDashboardTable .ui-datatable-scrollable-body {
    border-radius: 0px;
}
.systemDashboardTable .ui-paginator.ui-paginator-bottom.ui-widget-header.ui-corner-bottom{
    border-radius: 0px 0px 3px 3px;
    padding-bottom: 4px
}

.ui-datatable tbody tr.ui-widget-content.no-hover.rowStyle {
    display: inherit;
}

.ui-datatable.systemDashboardTable tbody tr.ui-widget-content.no-hover.rowStyle {
    display: table-row;
}

.ui-datatable-scrollable.glass-table .ui-datatable-scrollable-header-box thead {
    display: table-row;
}

.ui-datatable-scrollable.glass-table.systemDashboardTable .ui-datatable-scrollable-header-box thead {
    display: table-row-group;
}

.ui-datatable-scrollable.glass-table.systemDashboardTable .ui-datatable-scrollable-header-box thead tr th {
    padding-top: 5px;
    padding-bottom: 5px;
}


.anforderungZuordnenTable .rowStyle,
.anforderungVereinbarenTable .rowStyle {
    height: 50px;
}

.anforderungZuordnenTable .ui-datatable-scrollable-body,
.anforderungVereinbarenTable .ui-datatable-scrollable-body{
    height: auto !important;
    max-height: calc(100vh - 190px);
    background: #fff;
    border-radius: 0px 0px 3px 3px;
}
.quickFilter{
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    margin-left: 0px !important;
    width: 170px;
}

.anforderungZuordnenTable .ui-icon-check {
    background-position: -65px -145px;
}

.filter-wrapper {
    padding-left: 25px !important;
}

.anforderungZuordnenTable .ui-datatable-scrollable-body .ui-datatable-scrollable-theadclone,
.anforderungVereinbarenTable .ui-datatable-scrollable-body thead{
    display: none;
}

.anforderungVereinbarenTable .ui-datatable-scrollable-header-box tr .ui-panelgrid .ui-panelgrid-cell {
    padding-left: 0px;
    padding-right: 0px;
}

.anforderungVereinbarenTable .ui-datatable-scrollable-body > table {
    border-right: none;
    border-left: none;
}

.anforderungZuordnenTable .ui-datatable-scrollable-body > table {
    border-right: none;
    border-left: none;
}

.anforderungVereinbarenTable .ui-datatable-scrollable-header-box table thead tr .commentShown .ui-panelgrid tr td.ui-panelgrid-cell label.headerLabel.kommentarLabel {
    margin-left: 34px;
}

.anforderungVereinbarenTable  .ui-cell-editor-output {
    display: table;
}

.anforderungVereinbarenTable .statusLabel.statusSpalte label {
    display: table-caption;
}

.ui-outputlabel.ui-widget.derivatStatusLabel {
    border-radius: 3px;
    background: rgba(29, 33, 41, 0.3);
    box-shadow: 0 0;
    text-shadow: 0 0;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.7);
    border: none;
    line-height: 16px;
    padding: 2px 5px 2px 5px;
    margin-left: 5px;
}

.statusChangeButton {
    margin-left: 5px;
}

.derivatStatusChangeWrapper {
    background:rgba(81,137,205,0.35);
    border:1px solid rgba(205,205,205,0.8);
    margin-left: 5px;
    padding: 2px;
    border-radius: 3px;
}

.derivatStatusChangeWrapper .derivatLabel {
    font-weight: normal;
    color: white;
    line-height: 16px;
    padding: 2px 5px 2px 5px;
    margin-left: 5px;
}

.textExpandable:hover, .textCollapsible:hover {
    cursor: pointer;
}
