.filter-template .content {
    top: 0px;
}

#anfoListForm .activeFiltersAutocomplete {
    height: auto !important;
    position: relative;
    top: -35px;
    margin-left: 82px;
}

.contentFilter {
    position: relative;
    margin-top: 0px;
}


.anfoList_actions_icon {
    position: relative;
}

.filter-template #anfoListForm .contentNav {
    position: relative;
    margin-top: -55px;
}
.ui-button.ui-widget.ui-state-default.ui-corner-all.resetButton {
    white-space: nowrap;
}

.content .ui-outputpanel.ui-widget.p-20 {
    margin-top: -12px;
}