/* ==== NAVBAR ==== */
.anfoButtons {
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}

.statusButtonWrapper {
    margin-right: 5px;
}

.editButtonWrapper > div {
    display: flex;
}

.ui-menu .ui-menu-dynamic {
    background: rgba(34, 35, 36, 0.9);
}

.anfoVersionButton .ui-button.ui-widget.ui-corner-all.ui-button-text-icon-right {
    background: transparent;
    color: white;
    border-radius: 0;
    border: 0;
    vertical-align: middle;
}

.anfoVersionButton .ui-button.ui-widget.ui-button-text-icon-right.ui-state-active.ui-state-default.ui-corner-all,
.anfoVersionButton .ui-button.ui-widget.ui-button-text-icon-right.ui-state-hover.ui-state-default.ui-corner-all {
    background: transparent;
}

.anfoVersionButton .ui-button-text-icon-right .ui-button-text {
    padding: 0;
    padding-right: 20px;
}

.anfoVersionButton .ui-button-icon-right.ui-icon.ui-c {
    margin-right: -5px;
}

/* ----------- */
.anfoAnsichtPanel,
.anfoAnsichtPanel .ui-panel-content.ui-widget-content {
    padding: 0;
}

.anfoAnsichtPanel {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.anfoAnsichtPanel .left {
    padding-right: 10px;
    width: calc(100% - 325px);
    min-width: 984px;
    float: left;
}

.anfoAnsichtPanel .right {
    width: 315px;
    display: inline;
}

.right {
    float: right;
}

.right .glass-box {
    position: relative;
}

.anfoAnsichtPanel .left .box-content {
    padding-bottom: 0px;
    padding-right: 5px;
    padding-top: 10px;
}

.anfoAnsichtPanel .glass-box {
    margin-bottom: 10px;
}

.anfoAnsichtPanel .glass-box.details .box-content .grid-50:first-of-type .row > div:first-of-type {
    width: 215px;
}

.anfoAnsichtPanel .glass-box.details .box-content .grid-50 .row > div:first-of-type {
    width: 180px;
}

.anfoAnsichtPanel .glass-box.zeitpunkte .box-content .row > div:first-of-type,
.anfoAnsichtPanel .glass-box.zak .box-content .row > div:first-of-type,
.anfoAnsichtPanel .glass-box.verantwortlichkeit .box-content .row > div:first-of-type {
    width: 1px;
}

.anfoAnsichtPanel .glass-box.grafik .box-content img {
    width: 100%;
}

.anfoAnsichtBox.grafik .box-content img {
    border: 1px solid transparent;
}

.anfoAnsichtBox.grafik .box-content img:hover {
    border: 1px solid #5189CD;
    background-color: rgba(81, 137, 205, 0.3);
    cursor: pointer;
}

.modulTable {
    box-sizing: border-box;
    width: 100%;
}

.modulTable thead {
    display: none;
}

.modulTable tr td {
    border: 0px;
    width: 1em;
    box-sizing: content-box;
}

.modulTable tr td img {
    height: 1em;
    width: 1em;
}

.modulTable tr td:first-of-type {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.modulTable tr td:nth-of-type(2) {
    padding-left: 5px;
}

.anforderungMeldungStatus {
    color: white;
    background: rgba(55, 102, 161, 1);
    padding: 2px 10px;
    vertical-align: middle;
    border: 1px solid rgba(18, 48, 84, 0.35);
    border-radius: 3px;
}

.anfoAnsichtBox.grafik .ui-panel.ui-widget-content.ui-corner-all.ui-helper-hidden {
    top: 51px !important;
    left: 0px !important;
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
}

.anfoAnsichtBox.grafik .ui-panel.ui-widget-content.ui-corner-all.ui-helper-hidden img {
    max-width: 800px;
    max-height: 800px;
    top: 10px;
    position: relative;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin: auto;
    display: block;
}

.ui-menu.ui-menu-dynamic.ui-widget.ui-widget-content.ui-corner-all.ui-helper-clearfix.ui-shadow {
    background: rgba(34, 35, 36, 0.8);
    border: 1px solid #5189cd;
    width: auto;
    padding-right: 20px;
    box-shadow: none;
}

.ui-menu.ui-menu-dynamic.ui-widget.ui-widget-content.ui-corner-all.ui-helper-clearfix.ui-shadow:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 8px solid transparent;
    border-bottom: 8px solid #5189CD;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    left: 6px;
    top: -16px;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.fileDownloadButton {
    background: transparent;
    border-radius: 0px;
    border: none;
    padding: 0px;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.fileDownloadButton .ui-button-text.ui-c {
    padding: 0px;
    color: #5189cd;
    font-size: 14px;
    line-height: 14px;
    border-bottom: none;
    text-align: left;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.fileDownloadButton .ui-button-text.ui-c:hover {
    color: #3766a1;
}

.modulStatusCommentPanel .ui-g-3,
.modulStatusCommentPanel .ui-g-9 {
    padding: 4px 0px;
}

.anfoAnsichtPanel .glass-box.verantwortlichkeit .box-content .row.anfoViewAnaengeZeile .ui-outputpanel.ui-widget {
    padding-right: 4px;
}

.anfoAnsichtPanel .anfoAnsichtBox .box-content.row .ui-g-12 {
    padding-right: 10px;
}

.anfoAnsichtPanel .anfoAnsichtBox .ui-g-6 .modulsTable {
    margin-left: 5px;
    padding-right: 15px;
    margin-top: -4px;
    border: none;
    margin-bottom: 15px;
    max-height: 180px;
}

.anfoAnsichtPanel .anfoAnsichtBox .box-content .row .anfoSmallColumn {
    width: 170px;
    padding-bottom: 10px;
}

.anfoAnsichtPanel .anfoAnsichtBox .box-content .row .anfoSmallTextColumn,
.anfoAnsichtPanel .anfoAnsichtBox .box-content .row .anfoBigTextColumn {
    padding-right: 10px;
    padding-bottom: 10px;
}

.secNavBar .buttons-wrapper .anfoViewButtonsBar {
    min-width: 1309px;
}

.modulsTable .ui-datatable-tablewrapper tbody tr td .no-header {
    margin-top: -10px;
}

@media (max-width: 1348px) {
    .anfoAnsichtPanel .right {
        float: left;
        margin-left: 669px;
    }
}

.ui-autocomplete .ui-autocomplete-dropdown {
    right: -4px;
}

.afViewHistoryButton {
    padding-right: 4px;
}

.zugeordneterProzessbaukastenFeld .ui-widget-content .ui-panelgrid-cell {
    border: none;
}

.prozessbaukastenZuordnenTableColumn .ui-column-filter {
    display: none;
}

.prozessbaukastenZuordnenLink .ui-state-hover {
    color: #3766a1;
}

.ui-widget-content a.prozessbaukastenZuordnenLink {
    color: #5189cd !important;
}

.prozessbaukastenZuordnenDataTable .ui-datatable-header {
    background: none;
}

.secNavBar .ui-button.ui-widget.ui-state-default.ui-corner-all.prozessbaukastenLink {
    color: white;
    background: rgba(55, 102, 161, 1);
    vertical-align: middle;
    border: 1px solid rgba(18, 48, 84, 0.35);
    box-shadow: none;
}