.ui-link.ui-widget.prozessbaukastenZuordnenLink {
    color: white;
    background: rgba(55, 102, 161, 1);
    padding: 4px 14px;
    vertical-align: middle;
    border: 1px solid rgba(18, 48, 84, 0.35);
    border-radius: 3px;
    text-decoration: none;
}