.center {
    overflow-x: hidden;
    overflow-y: auto;
}

.textAlginCenter {
    text-align: center !important;
}

.anfoButtons {
    width: 100%;
}

.anfoButtons > button {
    border-radius: 3px;
    font-size: 15px;
    background: lightgray;
    box-shadow: 0 0;
    text-shadow: 0 0;
    margin-right: 5px;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter-container {
    width: 93%
}

.ui-selectonemenu-panel .ui-selectonemenu-filter {
    width: 100%;
    padding-right: 0px;
}

.anfoButtons .vsText {
    margin-left: 5px;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.new,
.anfoButtons .new {
    margin-right: 15px;
    background: #2D9CDB;
    color: white;
    border-color: #138bdd;
}

.anfoButtons > div {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
}

.anfoButtons .basicButtons {
    text-align: right;
    min-width: 230px;
}

.anfoButtons .basicButtons .ui-commandlink.ui-widget {
    text-decoration: none;
    display: inline-flex;
}

.anfoContent {
    background: transparent;
    height: 100%;
    padding: 0;
}

.anfoContent > .ui-panel-content {
    padding: 0 !important;
    height: 100%;
}

#anfoForm {
    height: 100%;
}

.anfoFormular {
    height: 100%;
    background: transparent;
}

.anfoTabTable {
    width: 100%;
    padding: 10px;
    padding-bottom: 20px;

}

.anfoTabTable .small-column {
    min-width: 260px;
    vertical-align: top;
}

.anfoTabTable .info-column {
    max-width: 20px;
    vertical-align: top;
    padding-right: 5px;
}

.anfoTabTable .max-column {
    padding: 0;
    width: 100%;
    height: 28px;
    vertical-align: top;
}

.anfoTabTable .max-column table {
    border-spacing: 0 2px;
}

.anfoTabTable .max-column td {

}

.anfoTabTable .max-column .anfoTabInput {
    width: 99%;
}

.goToNextStatusDiv {
    display: inline-block;
}

.festgestelltInInput {
    width: 100%;
}

.festgestelltInInput .ui-autocomplete-multiple-container {
    float: left;
    width: calc(100% - 2.4em);
}

.festgestelltInInput .ui-autocomplete-panel .ui-autocomplete-items.ui-autocomplete-list {
    max-height: 350px;
}

.ui-autocomplete-panel.ui-widget-content.ui-corner-all.ui-helper-hidden.ui-shadow {
    padding: 0px;
}

.werkInput {
    float: left;
    width: calc(100% - 2.4em);
}

.werkInput .ui-autocomplete-panel .ui-autocomplete-items.ui-autocomplete-list {
    max-height: 350px;
}

.werkInput .glass-button {
    border: 1px solid #ccc !important;
    background: #ccc !important;
}

.werkInput .glass-button .ui-autocomplete-token.ui-state-active, .glass-button .ui-autocomplete-dropdown.ui-button.ui-widget.ui-button-icon-only {
    color: black;
}

.sensorCoCArrowsPanel {
    display: inline-flex;
}

.sensorCoCArrowsPanel ul,
.sencosCoCDelete,
.auswTable tbody tr:hover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: rgba(34, 35, 36, 0.9) url("#{request.contextPath}/resources/images/bg/db_bg_10-blurred.jpeg") no-repeat fixed center center;
}

.sensorCoCArrowsPanel ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.sensorCoCArrowsPanel ul li {
    float: left;
}

.sensorCoCArrowsPanel ul li label {
    color: white;
    text-decoration: none;
    padding: 5px 10px 5px 30px;
    background: rgba(255, 255, 255, 0.3);
    position: relative;
    display: block;
    float: left;
}

.sensorCoCArrowsPanel ul li label:after {
    content: " ";
    display: block;
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 2;
    background: url("#{request.contextPath}/resources/images/icons/white/icon_arrow_r.png") no-repeat;
    background-size: 14px 100%;
    overflow: hidden;
}

.sensorCoCArrowsPanel ul li:first-child label {
    padding-left: 10px;
}

.sensorCoCArrowsPanel ul li:last-child label {
    padding-right: 5px;
}

.sencosCoCDelete {
    position: relative;
    top: 0;
    bottom: 0;
    float: right;
    z-index: 2;
    padding: 5px 10px 5px 5px;
    border-radius: 0 3px 3px 0;
}


.sencosCoCDelete img {
    height: 0.75em;
    opacity: 0.7;
}

.sencosCoCDelete:before {
    content: " ";
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.sencosCoCDelete:hover img {
    opacity: 1;
}

.sonsorCoCPanel {
    width: 100%;
}

.meldungZuordnenTable, .anfoHistoryTable {
    padding-bottom: 0;
    padding-top: 15px;
    text-align: center;
}

.meldungZuordnenTable {
    border: 1px solid #5189CD;
}


.anfoAuswBtn.inline {
    position: absolute;
    margin-top: 3px;
}

.anfoAuswBtn.ui-button.ui-widget.anfoAuswBtn.inline {
    margin: 0;
}

.anfoAuswDelete {
    display: flex;
    float: right;
}

.anfoAuswDelete img {
    height: 1em;
    padding: calc(0.5em - 2px);
    opacity: 0.55;
}

.anfoAuswDelete img:hover {
    opacity: 1;
}


.umsetzerDataTable .ui-datatable-data .column-radio {
    text-align: center;
}

.umsetzerDataTable .umsetzerDelete img {
    height: 1em;
    margin-top: 2px;
    opacity: 0.5;
}

.umsetzerDataTable .umsetzerDelete:hover img {
    opacity: 1;
}

.meldungZuordnenTable .meldungDelete .deleteContainer {
    height: 20px;
    width: 20px;
}

.meldungZuordnenTable .meldungDelete:hover .deleteContainer img {
    opacity: 1;
}

.meldungZuordnenTable .meldungDelete .deleteContainer img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 2px;
    opacity: 0.5;
}

.imageContainer img {
    max-width: 100%;
    max-height: 100%;
}

.imageContainerSmall {
    height: 15px;
    width: 15px;
    margin-left: 3px;
}

.imageContainerSmall img {
    max-width: 100%;
    max-height: 100%;
}

.imageContainerDelete {
    opacity: 0.55;

}

.imageContainerDelete:hover {
    opacity: 1;

}


.modulsTable {
    margin-bottom: 0px;
}


.modulsPanel .modulsTable {
    margin-bottom: 20px;
}

.modulsPanel .modulsTable tbody thead {
    display: none;
}

.modulsPanel .modulsTable tbody tbody tr td {
    padding-left: 95px;
}

.modulsTable .markHauptModul .imageContainer,
.modulsTable .markFreigabeConainter .imageContainer {
    height: 13px;
    width: 13px;
    margin-left: 4px;
    margin-top: -1px;
}

.modulsTable .markFreigabeConainter .imageContainer {
    margin-right: 4px;
    margin-top: 3px;
}

.modulsPanel .modulsTable .markFreigabeConainter .imageContainer {
    height: 15px;
    width: 15px;
    margin-left: 4px;
    margin-top: 6px;
}

.modulsTable .hauptModulChosen {
    color: #138bdd;
    font-weight: bold;
}

.modulsTable .markHauptModul {
    width: 32px;
}

.modulsPanel .modulsTable .markHauptModul {
    width: 6%;
}

.modulsTable .modulNameContainer {
    width: auto;
}

.modulsTable tbody .modulNameContainer {
    padding-left: 14px;
}

.modulsTable .dropDownIconConainter {
    width: 25px;
}

.modulsPanel .modulsTable .dropDownIconConainter {
    width: 6%;
}

.modulsTable .markVereinbarungConainter {
    width: 120px;
}

.modulsTable tbody .markVereinbarungConainter {
    padding-left: 14px;
}

.modulsPanel .modulsTable .markVereinbarungConainter {
    width: 22%;
}

.modulsTable .markFreigabeConainter {
    width: 60px;
}

.modulsTable tbody .markFreigabeConainter {
    display: inline-flex;
}

.modulsPanel .modulsTable .markFreigabeConainter {
    width: 20%;
}

.modulsTable .markEditContainer {
    width: 68px;
}

.modulsTable .commentContainer {
    margin-left: 4px;
    margin-top: 0px;
    padding: 0px 3px;
    height: 21px;
    width: 21px;
}

.formAnhaengeContainer .formAnhaengeContainer-links a {
    margin-left: -8px;
}

.anfoZielwertEinheitInput.ui-selectonemenu {
    display: flex;
    margin-left: 10px;
}

.anfoZielwertEinheitInput .ui-selectonemenu-label {
    padding: 3px;
}

.auswirkungenPanel tbody td:nth-of-type(2):not([role='gridcell']) {
    position: absolute;
    background: white
}

.auswirkungenPanel .menu.ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all {
    top: 7px;
    height: 25px;
    margin-right: 5px;
    min-width: 225px !important;
}

.menu.ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all .ui-selectonemenu-label {
    height: 100%;
    font-size: 1em;
    box-shadow: 0 0;
    text-shadow: 0 0;
    box-sizing: border-box;
}

.auswInputPanel {
    overflow: hidden;
    width: 0;
    display: inline-flex;
    background: white;
}

.auswInputPanel .ui-inputfield.anfoTabInput {
    width: 140px;
    margin-right: 5px;
}

.auswirkungenForm {
}

.auswirkungSpeichernButton {
    display: inline;
}

.anfoTabTable:first-of-type > tbody tr {
    height: calc(100% + 30px);
}

.attachmentPanel.ui-panel.ui-widget.ui-widget-content.ui-corner-all {
    padding: 0;
}

.attachmentPanel .ui-panel-content.ui-widget-content {
    padding: 0;
}

.attachmentPanel .ui-fileupload.ui-widget .ui-fileupload-buttonbar.ui-widget-header.ui-corner-top {
    background: white;
    border: none;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.attachmentPanel .ui-fileupload.ui-widget.empty {
    border: 1px dashed lightgray;
    vertical-align: middle;
    display: table;
    width: 100%;
    padding-top: 10px;
}

.attachmentPanel .ui-fileupload.ui-widget.empty .ui-fileupload-buttonbar.ui-widget-header.ui-corner-top .ui-button.ui-widget.ui-button-text-icon-left.ui-fileupload-choose {
    border: none;
    border-radius: 0;
    background: white;
}

.attachmentPanel .ui-fileupload.ui-widget.empty .ui-fileupload-buttonbar.ui-widget-header.ui-corner-top .ui-button.ui-widget.ui-button-text-icon-left.ui-fileupload-choose.ui-state-hover span {
    text-decoration: underline;
}

.attachmentPanel .ui-button-text.ui-c {
    padding-left: 3.3em;
}

.attachmentPanel .ui-button-icon-left.ui-icon.ui-c.ui-icon-plusthick {
    background-image: url("#{resource['images:icons/color/icon_cloud.png']}");
    background-position: inherit;
    background-size: 2em;
    border-radius: 0;
    width: 2em;
    height: 2em;
    margin-top: -1em;
}

.attachmentPanel .anhangDelete img {
    height: 1em;
}

.attachmentPanel .fileUploadTable table {
    margin-top: 28px;
}

.attachmentPanel .fileUploadTable th.ui-state-default {
    background: white;
    border-top: 0;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
    padding-bottom: 5px;
    padding-left: 1em;
}

.attachmentPanel .fileUploadTable td:first-of-type {
    padding-left: calc(1em + 4px);
    text-align: left;
}

.attachmentPanel .fileUploadTable td:nth-of-type(2) {
    padding-left: calc(1em + 4px);
    text-align: left;
}

.attachmentPanel .fileUploadTable td {
    text-align: center;
}

.attachmentPanel .fileUploadTable td {
    border: none;
}

.attachmentPanel .fileUploadTable tbody tr:hover {
    background-color: transparent;
    color: #4f4f4f;
}

.attachmentPanel .ui-fileupload.ui-widget:not(.empty) .ui-fileupload-buttonbar.ui-widget-header.ui-corner-top {
    position: absolute;
    padding: 0;
}

.attachmentPanel .ui-fileupload.ui-widget:not(.empty) .ui-fileupload-buttonbar.ui-widget-header.ui-corner-top .ui-button-icon-left.ui-icon.ui-c.ui-icon-plusthick {
    background: transparent;
}

.attachmentPanel .ui-fileupload.ui-widget:not(.empty) .ui-fileupload-buttonbar.ui-widget-header.ui-corner-top .ui-button-text.ui-c {
    padding-left: 1em;
}

.ui-outputlabel.ui-widget.fachIdText {
    font-size: 1.5em;
    font-weight: bold;
}

.ui-commandlink.ui-widget.fachIdText {
    font-size: 1.5em;
    font-weight: bold;
}

.ui-outputlabel.ui-widget.statusText {
    font-size: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
}

.ui-commandlink.ui-widget.vsText {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 1em;
    margin-right: 1em;
    background: #3399ff;
    padding: 2px;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.infoButton {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-color: black;
}

.zuAnfoButton {
    margin-right: 2em;
}

.rechtDelete img {
    height: 1em;
    vertical-align: middle;
    margin-top: -2px;
}

.anfoViewImage {
    width: 100%;
}

#viewAfo .ui-datatable.ui-widget.modulsTable.no-header {
    margin-top: -5px;
}


.ui-datatable.ui-widget.modulsTable.no-header .ui-widget-content.ui-datatable-selectable .ui-widget,
.ui-datatable.ui-widget.modulsTable.no-header .ui-widget-content.ui-datatable-selectable .modulNameContainer {
    color: #222324;
}

.ui-datatable.ui-widget.modulsTable.no-header .ui-widget-content.ui-datatable-selectable.ui-state-hover .ui-widget,
.ui-datatable.ui-widget.modulsTable.no-header .ui-widget-content.ui-datatable-selectable.ui-state-highlight .ui-widget,
.ui-datatable.ui-widget.modulsTable.no-header .ui-widget-content.ui-datatable-selectable.ui-state-hover .modulNameContainer,
.ui-datatable.ui-widget.modulsTable.no-header .ui-widget-content.ui-datatable-selectable.ui-state-highlight .modulNameContainer {
    color: #4f4f4f;
}

.ui-datatable.ui-widget.modulsTable.no-header .ui-widget-content.ui-datatable-selectable.ui-state-hover .ui-icon,
.ui-datatable.ui-widget.modulsTable.no-header .ui-widget-content.ui-datatable-selectable.ui-state-highlight .ui-icon,
#dialog .ui-datatable-tablewrapper thead .ui-chkbox-box.ui-state-active .ui-chkbox-icon.ui-icon.ui-c.ui-icon-check {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_616161_256x240.png.xhtml?ln=primefaces-aristo");
}

.ui-g-12 {
    margin: 0px;
    padding: 0px;
    padding-right: 25px;
}

.ui-g-6 {
    margin: 0px;
    padding: 0px;
}

.anfoListToDerivat {
    width: 7vw;
    margin-right: 10px !important;
}

.filter-wrapper .ui-datalist .ui-datalist-content.ui-widget-content {
    background: transparent;
}

.filter-wrapper .ui-datalist .ui-datalist-content.ui-widget-content ul.ui-datalist-data {
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.filter-wrapper .ui-datalist .ui-datalist-content.ui-widget-content ul.ui-datalist-data .ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all {
    width: 140px !important;
    min-width: 140px !important;
}

.buttons-wrapper .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.d-iflex {
    margin-right: 5px;
}

#navbarCompForm .buttons-wrapper .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.d-iflex {
    margin-right: 0px;
}

.ui-radiobutton-box.ui-widget.ui-corner-all.ui-state-default.ui-state-active .ui-radiobutton-icon.ui-icon.ui-c.ui-icon-bullet {
    background-size: 15px;
    margin: 2px 0px 0px 0px;
    background-image: url("#{request.contextPath}/resources/images/icons/color/icon-kreis-blau.png");
}

#dialog .ui-widget-content .ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable.no-hover.ui-state-highlight {
    background: none;
}

#dialog .ui-widget-content .ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable.no-hover.ui-state-highlight td {
    color: #4f4f4f;
}

.filter-template form .buttons-wrapper .right.d-iflex a.ui-commandlink.ui-widget.d-iflex {
    margin-left: 3px;
}

.anfoAnsichtBox .ui-widget-content.ui-datatable-selectable .ui-row-toggler.ui-icon.ui-icon-circle-triangle-e {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_616161_256x240.png.xhtml?ln=primefaces-aristo");
}

.anfoAnsichtBox .ui-widget-content.ui-datatable-selectable .ui-row-toggler.ui-icon.ui-icon-circle-triangle-e:hover {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_2e83ff_256x240.png.xhtml?ln=primefaces-aristo");
}

.contentNavSelectCheckbox {
    color: rgba(255, 255, 255, 0.9);
    margin-left: 5px;
    border-radius: 3px;
    background-color: rgba(29, 33, 41, 0.3);
    border: 1px solid rgba(204, 204, 204, 0.5);
    box-shadow: none;
}

.contentNavSelectCheckbox .ui-selectcheckboxmenu-trigger {
    background: transparent;
    border: none;
    border-left: 1px solid rgba(204, 204, 204, 0.5);
}

.contentNavSelectCheckbox.ui-state-hover .ui-selectcheckboxmenu-trigger {
    border-left: 1px solid #5189CD;
    border-bottom: 0px;
}

.contentNavSelectCheckbox label {
    background: transparent;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: none !important;
    text-shadow: none;
    font-weight: normal;
}

.contentNavSelectCheckbox:hover {
    background-color: rgba(81, 137, 205, 0.3) !important;
    border: 1px solid #5189CD !important;
}

.contentNavSelectCheckbox.ui-state-hover .ui-selectcheckboxmenu-trigger .ui-icon.ui-icon-triangle-1-s.ui-c {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-aristo") !important;
}


.addAnfoListTextLabel {
    padding: 4px 8px;
    top: -8px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.0);
    color: rgba(255, 255, 255, 1);
    padding-right: 0px;
    padding-left: 3px;
}

.markFreigabeConainter .freigebenAblehnenModul {
    height: 20px;
    width: 20px;
    margin-right: 5px;
    margin-top: -1px;
}

.freigebenAblehnenModul .imageContainerSmall img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 2px;
    opacity: 1.0;
}

.imageContainerSmall.anfoListFreigabeButton img {
    margin-top: 0px;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.anfoListFreigabeButton.ub-ub-button,
.anfoListFreigabeButton {
    height: 20px;
    width: 20px;
    margin-right: 3px;
    margin-left: 0px;
    background: rgba(29, 33, 41, 0.30);
    border: 1px solid rgba(29, 33, 41, 0.2);
    border-radius: 3px;
    float: left;
    padding: 2px;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.anfoListFreigabeButton.ub-ub-button:hover,
.anfoListFreigabeButton:hover {
    cursor: pointer;
    background: rgba(81, 137, 205, 0.5);
    border: 1px solid #5189CD;
}

.ui-inputswitch.ui-widget.ui-widget-content.ui-corner-all {
    margin-bottom: -4px;
}


.markFreigabeConainter .commentContainer .fa.fa-comment-o {
    color: rgba(29, 33, 41, 0.7);
}

.markFreigabeConainter .commentContainer .fa.fa-comment-o:hover {
    color: #5189CD;
}

.ui-datatable tbody td.ub-edit-button-cell {
    padding-left: 0px;
}

.imageContainerSmall.anfoListFreigabeButton.ub-edit-button {
    width: 15px;
    height: 15px;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.anfoListFreigabeButton.ub-ub-button {
    width: auto;
    height: 21px;
    margin-right: 5px;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.anfoListFreigabeButton.ub-ub-button span {
    color: white;
    padding: 0px 5px;
    text-shadow: none;
}

.ui-datatable .ui-datatable-data td.db-fortschritt-cell {
    padding-right: 5px;
}

.umsKovAPhasenTopNav {
    margin-left: 20px;
}

.anfoViewButtonsRight {
    padding-right: 325px;
}

.fileUploadTable .fileUploadTableColumn a,
.fileUploadTable tbody tr.ui-widget-content.ui-state-highlight .fileUploadTableColumn a,
.fileUploadTable tbody tr.ui-widget-content:hover .fileUploadTableColumn a {
    text-decoration: none;
    color: #5189cd;
}

.fileUploadTable tbody tr.ui-widget-content .fileUploadTableColumn a:hover {
    color: #3766a1;
}

.anfoAnhangGrafik {
    width: 100%;
    height: auto;
}

.link-bubble-freigabe {
    text-decoration: none;
    width: 24px;
    height: 24px;
    padding: 1px 4px;
    border: 1px solid rgba(29, 33, 41, 0.2);
    border-radius: 3px;
    background-color: rgba(29, 33, 41, 0.3);
    color: white;
}

.link-bubble-freigabe:hover {
    border-color: rgb(81, 137, 205);
    background-color: rgba(81, 137, 205, 0.3);
    color: white !important;
}

.ui-widget a .fa.fa-comment-o {
    color: white !important;
}

.ui-widget a:hover .fa.fa-comment-o {
    color: white !important;
}

.ui-inplace-display.ui-state-highlight {
    background: white !important;
    color: #4f4f4f !important;
    text-shadow: none !important;

}

.inplace_edit_button {
    margin-left: 10px;
}

