.auswirkungDialog {
    top: 100px;
}

.auswirkungDialog > .ui-dialog-content.ui-widget-content {
    margin-left: 10px;
    margin-right: 10px;
    overflow-x: hidden;
}

.auswirkungDialog > .ui-dialog-titlebar {
    background: transparent;
    color: inherit;
    text-shadow: none;
    font-size: 16px;
    border-bottom: 1px solid #e6ca7d;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 6px;
    padding-right: 6px;
}

.auswirkungDialog > .ui-dialog-titlebar .ui-dialog-titlebar-icon.ui-dialog-titlebar-close.ui-corner-all.ui-state-hover {
    box-shadow: none;
    background: #ccc;
    border: 1px solid #a8a8a8;
    border-radius: 0;
}

.auswTabTable {
    width: 100%;
    border-bottom: 1px solid lightgray;
    padding-bottom: 25px;
}

.auswTabTable .small-column {
    min-width: 150px;
}

.auswTabTable .max-column {
    width: 100%;
}

.auswTabTable .max-column > input{
    box-shadow: none !important;
    border-radius: 0;
    width: calc(100% - 18px);
    padding-right: 12px;
}