.auswTable td:first-of-type {
    padding-left: calc(1em + 40px);
}
.auswTable td {
    border: none !important;
    border-right: 0px transparent !important;
    border-bottom: 1px solid lightgray !important;
}

.auswTable .auswTable tbody tr td,
.auswTable .auswTable tbody tr td:hover,
.auswTable .auswTable tbody tr.ui-widget-content.ui-state-highlight.ui-row-editing {
    text-shadow: none;
    background: #eee;
    color: #222324;
    border: none;
}

.auswTable tbody tr td .ui-datepicker-trigger.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only {
    border-radius: 0px 3px 3px 0px;
    border: 1px solid #ccc;
    border-width: 1px 1px 1px 0px;
}
.auswTable .auswTable tbody tr td .ui-datepicker-trigger.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-state-hover {
    border: 1px solid #5189cd;
}

.auswTable th.ui-state-default:first-of-type {
    padding-left: calc(1em + 40px);
}
.auswTable th.ui-state-default {
    background: white;
    border-top: 0;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
    padding-bottom: 10px;
}

.auswTable tbody:before {
    line-height:5px;
    content:".";
    color:white;
    display:block;
}

.ui-widget-content.ui-datatable-even.ui-state-highlight.ui-row-editing ,
.ui-widget-content.ui-datatable-odd.ui-state-highlight.ui-row-editing {
    border-right: none;
}

.ui-widget-content.ui-datatable-even.ui-state-highlight.ui-row-editing:first-of-type {
    border-top: none;
}