.center-template .center {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 105px;
    color: #1d2129;
    padding-bottom: 10px;
}
.center-template .content-wrapper {
    margin-right: calc(-1 * (100vw - 100%));
}
.center-template .content {
    padding: 0 20px;
    min-width: 984px;
    margin: auto;
}
