.ui-inputfield.ui-inputtextarea.ui-widget.ui-state-default.ui-corner-all.fullwidth.ui-inputtextarea-resizable {
    width: 450px;
    white-space: pre-wrap; 
    word-wrap: break-word;
    color: black;
}

.lastButton {
    margin-left: 10px;
}

