html {
    min-width: 1280px;
    overflow-y: hidden;
}

@media (max-height: 500px) {
    html {
        overflow-y: auto;
    }
}

body.center-template {
    background: url(../resources/images/bg/db_bg_10.jpeg) no-repeat center center fixed !important;
    background-size: cover !important;
}

body.center-template .content {
    height: 100vh;
    padding: 0;
    max-width: none;
}

.db-topnav-wrapper {
    height: 75px;
}

.db-topnav {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
}

.db-topnav-logo-wrapper {
    width: 100%;
}

.db-topnav-profile-wrapper {
    display: inline-flex;
    float: right;
}

.db-topnav-profile {
    margin-right: 24px;
    margin-left: 15px;
    display: table;
}

.db-topnav-profile-icon {
    padding: 2px;
    color: white;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
    width: 24px;
    height: 22px;
    font-size: 14px;
    border: 1px solid white;
    line-height: 22px;
    opacity: 0.8;
}

.db-topnav-profile-icon *:hover,
.db-topnav-profile-icon:hover {
    cursor: pointer;
}

.db-topnav-profile-icon:hover {
    opacity: 1;
}

.db-topnav-profile-link.ui-widget {
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}

.db-topnav-profile-link.ui-widget:hover {
    text-decoration: underline;
}

.db-topnav-profile-menu {
    position: absolute;
    right: 25px;
    top: 48px;
    min-height: 195px;
    min-width: 200px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 15px 15px 20px;
}

.db-topnav-profile-menu:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 8px solid transparent;
    border-bottom: 8px solid #5189CD;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    right: 6px;
    top: -16px;
}

.db-topnav-profile-menu .info-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.db-topnav-profile-menu .info-profile-icon-wrapper {
    margin: auto;
    display: table;
    margin-bottom: 10px;
    margin-top: 10px;
}

.db-topnav-profile-menu .info-profile-icon {
    padding: 2px;
    background: #5189CD;
    color: white;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 65px;
    height: 65px;
    font-size: 14px;
}

.db-topnav-profile-menu .db-topnav-menu-logout-wrapper {
    margin: auto;
    text-align: center;
    position: absolute;
    bottom: 25px;
    width: calc(100% - 30px);
}

.db-topnav-profile-menu .db-topnav-menu-logout {
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 5px 35px;
    color: white;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.31);
}

.db-topnav-profile-menu .db-topnav-menu-logout:hover {
    background: rgba(81, 137, 205, 0.3);
    color: white;
    border: 1px solid #5189CD;
}

.db-topnav-profile-menu .menu-grid {
    width: 100%;
}

.db-topnav-profile-menu .menu-grid tr {
    background: transparent;
}

.db-topnav-profile-menu .menu-grid td tr:hover {
    background: rgba(81, 137, 205, 0.7);
    cursor: pointer;
}

.db-topnav-profile-menu .menu-grid tr:hover .ui-commandlink.ui-widget.db-topnav-menu-link {

}

.db-topnav-profile-menu .menu-grid .db-topnav-menu-link {
    text-decoration: none;
    color: white;
}

.db-topnav-profile-menu .menu-grid td.ui-panelgrid-cell {
    border: none;
    width: 136px;
}

.db-topnav-profile-menu .menu-grid td.ui-panelgrid-cell img {
    height: 24px;
    width: 24px;
}

.db-topnav-profile-menu .menu-grid tr td.ui-panelgrid-cell:first-of-type {
    display: flex;
    width: 24px;
}


.db-topnav-notif-icon img {
    height: 28px;
}

.db-content-wrapper {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    height: 75vh;
    padding-top: 50vh;
    margin-top: -210px;
}

.db-logo-wrapper {
    display: table;
    margin: auto;
    height: 110px;
    transform: scale(0.8);
}

.db-logo-wrapper .text-wrapper {
    display: inline-block;
}

.db-logo-wrapper label {
    color: white;
}

.db-logo-wrapper label:first-of-type {
    font-weight: bold;
    font-size: 70px;
    display: block;
    line-height: 0.8;

}

.db-logo-wrapper label:nth-of-type(2) {
    font-size: 38px;
    padding-left: 3px;
    display: block;
    margin-top: -5px;
}

.db-logo-bmw {
    height: 110px;
    margin-right: 10px;
    margin-bottom: -18px;
}

.db-logo-text {
    height: 110px;
}

.db-search-wrapper {
    display: inline-block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.db-search {
    display: flex;
    border: 1px solid lightgray;
    border-radius: 3px;
    box-sizing: border-box;
    margin-left: 324px;
    width: 584px;
}


.db-search-input {
    min-width: 200px;
    width: 100%;
    height: 44px;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.db-content .ui-inputfield.ui-state-focus,
.db-search-input > input,
.db-content .ui-autocomplete-input.ui-inputfield.ui-widget.ui-corner-all {
    min-width: 200px;
    border-radius: 0;
    padding-left: 15px;
    border: none !important;
    box-shadow: none;
    height: 100%;
    box-sizing: border-box;
}

.db-search-link {
    background: rgba(81, 137, 205, 0.7);
    width: 45px;
    border-radius: 0 3px 3px 0px;
    margin-left: -3px;
    margin-right: 0px;
}

.db-search-link:hover {
    background: #5189CD;
}

.db-search-icon {
    height: 20px;
    margin-top: 12px;
    margin-left: 11px;
}

.db-qlinks-wrapper {
    margin-bottom: 15px;
}

.db-qlinks {
    width: 632px;
    margin: auto;
    display: table;
    text-align: center;
}

.db-qlinks > div {
    display: table-cell;
    width: 33%;
}

.db-qlinks .db-qlink-header,
.ui-menuitem.ui-widget.ui-corner-all a.meldungNeuOnlySensorBtn {
    background: rgba(181, 181, 181, 0.35);
    color: white;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.80);
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
}

.db-qlinks .db-qlink-header.op-50:hover,
.db-qlinks .db-qlink-header.op-50 *:hover {
    cursor: default;
}

.db-qlink-anfo .db-qlink-header {
    border-radius: 3px 0px 0px 3px;
}

.db-qlink-pzbk .db-qlink-header {
    border-radius: 0 3px 3px 0;
}

.db-qlink-menu-wrapper {
    overflow-y: hidden;
    max-height: 0;
    transition: max-height 0.15s ease-out;
    border-bottom: 1px solid rgba(255, 255, 255, 0.00);
    box-sizing: border-box;
}

.db-qlink-menu {
    background: rgba(255, 255, 255, 0.30);
    color: white;
    padding: 5px;
    position: relative;
    box-sizing: border-box;
}

.db-qlink-anfo .db-qlink-menu-wrapper {
    margin-left: 3px;
    margin-right: 1px;
}

.db-qlink-fproj .db-qlink-menu-wrapper {
    margin-left: 1px;
    margin-right: 1px;
}

.db-qlink-pzbk .db-qlink-menu-wrapper {
    margin-right: 3px;
    margin-left: 1px;
}

.db-qlink-menu .db-qlink-menu-grid {
    width: 100%;
}

.db-qlink-menu .db-qlink-menu-grid tr {
    background: transparent;
    color: white;
    border: transparent;
    text-align: left;
}


.db-qlink-menu .db-qlink-menu-grid td {
    padding: 2px 3px;
}

.db-qlink-menu .db-qlink-menu-grid .icon.ui-panelgrid-cell {
    width: 1em;
}

.db-qlink-menu-icon {
    height: 1em;
    display: flex;
}


.db-topnav-notif-menu {
    color: white;
    position: absolute;
    right: 25px;
    top: 70px;
    background: transparent;
    border-radius: 5px;
    box-sizing: border-box;
}

.db-items {
    max-width: 270px;
    min-width: 255px;
    margin: auto;
}

.db-items-header {
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.65);
    padding-right: 11px;
    margin-top: 30px;
}

.db-items-header:first-of-type {
    margin-top: 0;
}

.db-items-header .amount {
    float: right;
    margin-left: 10px;
}

.db-items-grid {
    width: 100%;
}

.db-items-grid tr {
    border: 1px solid rgba(255, 255, 255, 0.80);
    border-radius: 5px;
    display: block;
    background: rgba(181, 181, 181, 0.35);
    color: white;
    margin-top: 10px;
}

.db-items-grid tr.zero {
    opacity: 0.5;
}

.db-items-grid tr:after {
    content: " ";
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.4);
    width: 0px;
    height: 8px;
    right: 13px;
    margin-top: 1px;
}

.db-items-grid tr:last-of-type:after {
    border: none;
}

.db-qlink-menu-grid tr:hover {
    background: rgba(81, 137, 205, 0.7);
}

.db-items-grid tr:hover {
    background: rgba(81, 137, 205, 0.5);
    border-color: #5189CD;
}

.db-qlink-menu-grid tr:hover,
.db-qlink-menu-grid tr *:hover,
.db-items-grid tr:hover,
.db-items-grid tr *:hover {
    cursor: pointer;
    opacity: 1;
}

.db-items-grid td.ui-panelgrid-cell {
    border: none;
    vertical-align: middle;
    font-size: 0.9em;
}

.db-items-grid td.ui-panelgrid-cell.icon {
    padding: 4px 0 4px 10px;
}

.db-items-grid td.ui-panelgrid-cell.label {
    width: 100%;
    padding-right: 4px;
}

.db-items-grid td.ui-panelgrid-cell.label label {
    padding: 0px 4px;
    color: #f3f3f3;
    border-right: 2px solid rgba(255, 255, 255, 0.3);
}

.db-items-grid td.ui-panelgrid-cell.label label:last-of-type {
    border: none;
}

.db-items-grid td.ui-panelgrid-cell.amount {
    font-size: 15px;
    font-weight: bold;
    padding-left: 0px;
}

.db-items-grid td.ui-panelgrid-cell.amount label.zero {
    opacity: 0.65;
    font-weight: normal;
}

.db-item-icon {
    height: 25px;
    display: flex;
}

.dashboardMenuMarginBottom {
    margin-bottom: 30px;
}

#searchForm .ui-autocomplete-multiple-container.ui-inputfield {
    width: 520px;
    min-width: 520px;
    height: 24px;
    min-height: 24px;
    border: none;
    border-radius: 2px 0px 0px 2px;
    padding: 10px;
    background: rgba(255, 255, 255, 1);
    color: #fff;
    box-sizing: inherit;
}

#searchForm .ui-autocomplete-multiple-container.ui-inputfield .ui-autocomplete-input-token input {
    color: rgba(34, 35, 36, 1);
}

#searchForm .ui-icon.ui-icon-close {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-aristo");
}

#searchForm .ui-icon.ui-icon-close:hover {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_2e83ff_256x240.png.xhtml?ln=primefaces-aristo");
}

#searchForm .ui-autocomplete-token.ui-state-active.ui-corner-all,
#searchForm .ui-autocomplete-token.ui-state-active.ui-corner-all.ui-helper-hidden {
    margin: 0px;
    margin-right: 4px;
    padding: 2px;
    background: rgba(34, 35, 36, 0.7);
}

.nopadding.ui-panelgrid-cell {
    padding: 0px;
}

.ui-panelgrid.ui-widget.db-topnav-profile-table {
    width: 200px;
    text-align: left;
}

.link {
    color: white;
    text-decoration: none;
    text-align: left;
}

.dashboardMenu {
    background: transparent !important;
}

.ui-menuitem-link.ui-corner-all.link.ui-state-hover {
    background: rgba(81, 137, 205, 0.7);
    box-shadow: none;
}

.ui-menu .ui-menuitem.ui-widget.ui-corner-all .ui-menuitem-text {
    color: white !important;
}

.ui-menuitem.ui-widget.ui-corner-all a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}


.db-topnav-profile-menu .menu-grid .ui-widget-content .ui-panelgrid-cell.nopadding .db-topnav-menu-logout {
    margin-left: 32px;
    margin-top: 10px;
}

.db-qlink-fproj .db-qlink-menu .ui-menu.dashboardMenu {
    width: 185px;
    padding-top: 0px;
}

.db-qlink-anfo .db-qlink-menu .ui-menu.dashboardMenu {
    width: 182px;
    padding-top: 0px;
}

.plus {
    height: 16px;
    width: 16px;
    background: url("#{resource['images/icons/white/icon_plus.png']}") no-repeat !important;
    background-size: 16px 16px !important;
    padding-right: 5px;
}

label.ui-outputlabel.ui-widget.label {
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.75);
}

.db-save-search-wrapper {
    width: 100%;
    margin-top: -46px;
}

.db_save-search_button {
    width: 26px;
    height: 24px;
    margin-left: 912px;
    z-index: 9999999;
    border-radius: 3px;
    background: rgba(181, 181, 181, 0.35);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.80);
    padding: 10px 8px;
}

.db_save-search_button:hover {
    background: rgba(81, 137, 205, 0.7);
    cursor: pointer;
}

.db-search-wrapper .db-save-search-actions-menu-wrapper {
    width: 100%;
    margin-top: 0px;
}

.db-search-wrapper .save-search_actions_menu {
    top: calc(45px + 50vh);
    margin-left: 544px;
}

.save-search_popup .ui-widget-content .ui-inputfield.save-search-inputfield.ui-state-focus {
    height: 24px;
    width: 289px !important;
}

.db-save-search-actions-menu-wrapper .save-search_popup:before {
    right: 12px;
}

.version {
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: white;
    font-size: 10px;
}

.ui-menu.ui-widget.ui-widget-content.ui-corner-all.ui-helper-clearfix.dashboardMenu.prozessbaukastenMenu {
    overflow: hidden;
    width: 100%;
}

.ui-menuitem-link.ui-corner-all.link.padding-left-5px {
    padding-left: 5px;
}
