.ui-spinner-input.ui-inputfield {
    text-align: left;
    width: 60px;
    height: 18px;
}

.ui-spinner.ui-widget.ui-corner-all {
    margin-top: 1px;
}

.ui-spinner-button.ui-spinner-down.ui-corner-br.ui-button.ui-widget.ui-state-default.ui-button-text-only {
    height: 13px;
}

.month-column {
    width: 50px;
}

.anfoHistTable {
    padding: 0;
    border-radius: 3px;
    margin-bottom: 10px;
    background: transparent;
}

.anfoHistTable .ui-widget-content {
    padding: 0;
}

.auswTable .ui-datatable-tablewrapper table thead {
    display: none;
}

.auswTable .ui-datatable-tablewrapper table tbody:before {
    display: none;
}


.auswTable.projects .ui-datatable-tablewrapper table thead {
    display: contents;
    padding-left: 10px;
    padding-right: 10px;
}

.auswTable.projects thead tr td, .auswTable.projects thead tr:hover, .auswTable.projects thead tr td:hover, .auswTable.projects thead tr.ui-widget-content.ui-state-highlight.ui-row-editing {
    text-shadow: none;
    background: rgba(0, 0, 0, 0);
    color: #222324;
    border: none;

}

.ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-hover td .ui-icon,
.ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-highlight td .ui-icon,
.ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-hover td .ui-icon.ui-icon-triangle-1-s,
.ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-highlight td .ui-icon.ui-icon-triangle-1-s,
.ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-hover td .ui-icon.ui-icon-calendar,
.ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-highlight td .ui-icon.ui-icon-calendar,
.anfoFormularPanel .ui-datatable-tablewrapper thead .ui-chkbox-icon.ui-icon.ui-c.ui-icon-check,
.auswTable .auswTable tbody tr td .ui-datepicker-trigger.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only .ui-icon,
.auswTable .auswTable tbody tr td .ui-icon {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_616161_256x240.png.xhtml?ln=primefaces-aristo");
}


.ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-hover td .ui-icon:hover,
.ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-highlight td .ui-icon:hover,
.ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-hover td .ui-icon.ui-icon-triangle-1-s,
.ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-highlight td .ui-icon.ui-icon-triangle-1-s:hover,
.ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-hover td .ui-icon.ui-icon-calendar,
.ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-highlight td .ui-icon.ui-icon-calendar:hover,
.anfoFormularPanel .ui-datatable-tablewrapper thead .ui-chkbox-icon.ui-icon.ui-c.ui-icon-check:hover,
.auswTable .auswTable tbody tr td .ui-datepicker-trigger.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-state-hover .ui-icon,
.auswTable .auswTable tbody tr td .ui-icon:hover {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_2e83ff_256x240.png.xhtml?ln=primefaces-aristo");
}

.auswTable .auswTable tbody tr td .ui-icon.ui-icon-close {
    background-image: url("#{request.contextPath}/resources/images/icons/color/icon_trash.png");
    width: 25px;
    background-size: 13px;
    border-radius: 0px;
    padding-top: 3px;
    background-position-y: 2px;
    background-position-x: 8px;
}

.filter-template .content {
    top: 53px;
    min-width: 804px;
}

.ui-datatable tbody tr.ui-widget-content.ui-state-highlight a,
.ui-datatable tbody tr.ui-widget-content:hover a {
    color: #4f4f4f;
}

.ui-datatable .ui-column-filter {
    margin: 0px;
    width: 90%;
}

.derivateFilterDiv {
    padding-right: 10px;
}

.filter-grid .ui-widget-content {
    color: rgba(34, 35, 36, 0.9) !important;;
    background: transparent;
}

.derivateFilterDiv .filter-element {
    padding-right: 0px !important;
    padding: 0px 0px !important;
    border: none;
}

.derivateFilterDiv .ui-state-hover {

    background-color: transparent;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.derivat-button.derivat-active-button {
    background-color: #cb3927;
    color: white;
}

.ui-progressbar.ui-widget.ui-widget-content.ui-corner-all.auspraegungenProgressbar {
    background: #d4d5d6;
    border: 1px solid #acb5bf;
    border-radius: 3px;
}

.ui-progressbar.ui-widget.ui-widget-content.ui-corner-all.auspraegungenProgressbar.abgeschlossen > .ui-progressbar-value {
    background-color: #32a918;
    border-radius: 1px 1px 1px 1px;
}

.ui-progressbar.ui-widget.ui-widget-content.ui-corner-all.auspraegungenProgressbar > .ui-progressbar-value {
    background-color: rgba(81, 137, 205, 0.5);
    background-image: none;
    margin: 0px;
    border-radius: 1px 3px 3px 1px;
}

.imageContainerSmall.derivat-button.fahrzeugmerkmaleButton {
    height: 20px;
    width: 20px;
    margin-right: 3px;
    margin-left: 0px;
    background: rgba(29, 33, 41, 0.30);
    border: 1px solid rgba(29, 33, 41, 0.2);
    border-radius: 3px;
    float: left;
    padding: 2px;
}

.imageContainerSmall.derivat-button.fahrzeugmerkmaleButton:hover {
    cursor: pointer;
    background: rgba(81, 137, 205, 0.5);
    border: 1px solid #5189CD;
}
