
body.center-template {
    background: url(../resources/images/bg/db_bg_10.jpeg) no-repeat center center fixed !important;
    background-size: cover !important;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.error-wrapper {
    transform: scale(1);
}

.berechtigungEndpage {
    line-height: 1.2em;
}

.error-text-wrapper {
    text-align: left;
    margin-top: 100px;
    width: 640px;
    height: 210px;
    display: grid;
    background: rgba(34, 35, 36, 0.75);
    border-radius: 3px;
    border: 1px solid rgba(204, 204, 204, 0.5);
    padding: 12px 10px;
}

.error-text-wrapper label {
    font-size: 16px;
    margin: 6px;
    color: rgba(255,255,255,0.9);
    padding: 0px 12px 0px 0px;
}

.error-text-wrapper label:first-of-type {
    font-size: 26px;
    font-weight: bold;
    color: rgba(255,255,255,0.7);
    padding: 0px 0px 15px 0px;
    line-height: 1.3em;
}

.error-text-wrapper label:nth-of-type(2) {
    font-size: 13px;
    padding: 0px;
    font-weight: normal;
    margin-top: 0px;
    padding-right: 12px;
}

.error-text-wrapper label.zurStartseiteLabel {
    margin-top: 15px;
}

.error-text-wrapper label a.zurStartseiteButton {
    background: rgba(255, 255, 255, 0.3);
    padding: 4px 6px;
    margin-top: 10px;
}

.error-text-wrapper label a.zurStartseiteButton:hover {
    background: rgba(81, 137, 205, 0.5);
}

.errorTextLink {
    color: #5189cd;
    text-decoration: none;
}

.errorTextLink:hover {
    color: #3766a1;
}

.button-register-content {
    padding-top: 20px;
}