.imageContainerSmall.anfoListFreigabeButton.ub-edit-button {
    height: 20px;
    width: 20px;
}

.ui-progressbar.ui-widget.ui-widget-content.ui-corner-all.umsetzungProgressbar {
    background: rgba(81, 137, 205, 0.5);
    border: 1px solid rgba(81, 137, 205, 0.5);
    height: 19px;
    border-radius: 3px;
}

.ui-progressbar.ui-widget.ui-widget-content.ui-corner-all.umsetzungProgressbar.umsetzungAbgeschlossen > .ui-progressbar-value {
    background-color: rgba(58, 169, 24, 0.9);
    border-radius: 1px 1px 1px 1px;
}

.ui-progressbar.ui-widget.ui-widget-content.ui-corner-all.umsetzungProgressbar > .ui-progressbar-value {
    background-color: rgba(66, 121, 190, 0.9);
    background-image: none;
    height: 19px;
    margin: 0px;
    border-radius: 1px 3px 3px 1px;
}

.ui-progressbar.ui-widget.ui-widget-content.ui-corner-all.umsetzungProgressbar > .ui-progressbar-label {
    color: white;
    font-weight: normal;
    line-height: 19px;
    height: 19px;
}

.ui-progressbar.ui-widget.ui-widget-content.ui-corner-all.umsetzungProgressbar > .ui-progressbar-value {
    height: 17px;
}

.dialogCheckboxMenu .ui-selectcheckboxmenu-trigger.ui-state-default.ui-corner-right > .ui-state-default .ui-icon {
    background-image: url("/PZBK/javax.faces.resource/images/ui-icons_38667f_256x240.png.xhtml?ln=primefaces-aristo") !important;
}

.dialogCheckboxMenu .ui-selectcheckboxmenu-trigger.ui-state-default.ui-corner-right {
    background: #e5e5e5 !important;
}

.ui-selectcheckboxmenu.dialogCheckboxMenu .ui-selectcheckboxmenu-trigger .ui-icon {
    margin-top: -8px !important;
}

.filter-header.no-left-margin {
    margin-left: 0px;
}

.filter-element.ui-panelgrid-cell {
    border: none;
    padding: 2px 2px 2px 5px;
    font-size: 0.9em;
}

.small-top-margin {
    margin-top: 5px;
    margin-bottom: 0px;
}

.filter-wrapper.ui-panel.ui-widget.ui-widget-content.ui-corner-all {
    padding: 25px !important;
}