
@import url("#{request.contextPath}/resources/css/public/color.css");
@import url("#{request.contextPath}/resources/css/public/glass.css");
@import url("#{request.contextPath}/resources/css/public/layout.css");
@import url("#{request.contextPath}/resources/css/public/table.css");
@import url("#{request.contextPath}/resources/css/public/paginator.css");
@import url("#{request.contextPath}/resources/css/public/scrollpanel.css");
@import url("#{request.contextPath}/resources/css/public/menu.css");
@import url("#{request.contextPath}/resources/css/public/datepicker.css");

html, body {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(29, 33, 41);
    direction: ltr;
    line-height: 1.34;
    unicode-bidi: embed;
    font-size: 14px;
    font-family: AvenirWindows, "Segoe UI", Arial, sans-serif;
    background: url("#{request.contextPath}/resources/images/bg/db_bg_10-blurred.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@supports (--css: variables) {
    body {
        color: var(--grey_1d2129);
    }
}

*:focus {
    outline: none;
}

* {
    -webkit-tap-highlight-color: transparent;
}

/*removeModulSeTeam the 'clear- x' in MS- browsers*/
input::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

.secNavBar {
    position: relative;
    left: 0;
    right: 0;
    height: 40px;
    top: 50px;
    color: rgb(29, 33, 41);
    margin: auto;
    width: calc(100% - 40px);
    padding-right: 0;
    padding-left: 0;
}

@supports (--css: variables) {
    .secNavBar {
        color: var(--grey_1d2129);
    }
}

.panel .ui-selectonemenu-list {
    border-radius: 3px;
    font-size: 13px;
    background: white;
    box-shadow: 0 0;
    text-shadow: 0 0;
    margin-right: 5px;
}

#dialog .ui-widget-content .ui-datatable .ui-datatable-scrollable-body tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-highlight td {
    color: rgb(255, 255, 255);;
}

.ui-datatable tbody tr.ui-widget-content.ui-state-highlight a,
.ui-datatable tbody tr.ui-widget-content:hover a {
    color: rgb(255, 255, 255);;
}

.ui-state-disabled.clickableTextButton {
    opacity: 0.0;
}

/*Primefaces*/
.ui-widget {
    font-size: 1em;
}

.ui-widget-content {
    border: none;
}

.ui-tabs-outline {
    outline: none !important;
}

.top .ui-state-default .ui-icon,
.glass-button.ui-state-default .ui-icon,
.glass-button .ui-state-default .ui-icon {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-aristo");
}

.ui-autocomplete-token-icon.ui-icon:hover,
.ui-autocomplete-dropdown:hover .ui-icon,
.ui-selectonemenu:hover .ui-selectonemenu-trigger .ui-icon,
.ui-button:hover > .ui-icon {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-aristo");
}

.ui-selectmanymenu .ui-selectlistbox-filter-container .ui-icon-search {
    right: 6px;
}

.customDialog .ui-dialog-content.ui-widget-content {
    padding: 15px 20px 15px 20px;
    font-size: 14px;
}

.ui-dialog-content.ui-widget-content {
    padding: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: rgb(229, 229, 229);
    font-weight: 100;
    color: rgb(79, 79, 79);
    text-shadow: none;
}

@supports (--css: variables) {
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        background: var(--grey_e5e5e5);
        color: rgb(79, 79, 79);
    }
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
    background: rgb(255, 255, 255);
    box-shadow: none;
    color: rgb(79, 79, 79);
    border: 1px solid rgb(204, 204, 204);
}

@supports (--css: variables) {
    .ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
        color: rgb(79, 79, 79);
        border: 1px solid rgb(204, 204, 204);;
    }
}

.ui-shadow {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3) !important;
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3) !important;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3) !important;
}

.ui-corner-all {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

/*Dialogs*/
.customDialog {
    border-radius: 3px;
    border: 1px solid rgb(255, 255, 255);;
    padding: 0;
    margin: 27px 20px 20px 20px;
    background: transparent;
}

.customDialog.ui-dialog .ui-dialog-titlebar {
    background: rgba(55, 102, 161, 0.7);
    color: rgb(255, 255, 255);;
    text-shadow: none;
    padding: 4px 4px 4px 20px;
}

.customDialog > .ui-dialog-content.ui-widget-content {
    overflow-x: hidden;
    background: rgb(255, 255, 255);;
}

.customDialog > .ui-dialog-titlebar .ui-dialog-titlebar-icon.ui-dialog-titlebar-close.ui-corner-all {
    margin-top: 2px;
}

.ui-dialog .ui-dialog-titlebar-close span {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-aristo");
    margin-left: -1px;
    margin-top: -1px;
}

.customDialog > .ui-dialog-titlebar .ui-dialog-titlebar-icon.ui-dialog-titlebar-close.ui-corner-all.ui-state-hover {
    box-shadow: none;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgb(204, 204, 204);;
    border-radius: 3px;
}

.ui-icon-download {
    background-position: -224px -47px;
}

.customDialog .footer {
    margin: 10px 0 0 0;
    float: right;
}

.modalFalseDialog {
    border: 1px solid rgb(187, 187, 187);
    box-shadow: 0 0px 16px rgb(153, 153, 153) !important;
}

.ui-autocomplete-panel.ui-widget-content.ui-corner-all {
    border: 1px solid rgb(55, 102, 161);
    border-radius: 0 0 3px 3px;
    box-sizing: border-box;
    background: rgba(34, 35, 36, 0.95);
    color: rgb(255, 255, 255);;
}

.ui-autocomplete-panel .ui-autocomplete-list {
    background: transparent;
    color: rgb(255, 255, 255);;
}

.ui-autocomplete-item.ui-autocomplete-list-item.ui-state-highlight {
    background: rgba(81, 137, 205, 0.3);
    text-shadow: none;
}

.ui-chkbox.ui-widget .ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default {
    background: transparent;
    box-shadow: none;
    border: 1px solid #a8a8a8;
}

.ui-chkbox.ui-widget .ui-chkbox-box.ui-widget.ui-corner-all.ui-state-active {
    border: 1px solid #a8a8a8;
    color: white;
}

.ui-chkbox.ui-widget .ui-chkbox-box.ui-widget.ui-corner-all.ui-state-hover {
    border-color: rgb(55, 102, 161);
    color: rgb(55, 102, 161);
    box-shadow: none;
    cursor: pointer;
}

.ui-chkbox.ui-widget .ui-chkbox-box.ui-widget.ui-corner-all.ui-state-active > span,
.ui-chkbox.ui-widget .ui-chkbox-box.ui-widget.ui-corner-all.ui-state-hover > span {
    color: rgb(255, 255, 255);;
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-aristo");
}

.whiteCheckbox .ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default.ui-state-active > span {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-aristo");
}

tbody tr .ui-chkbox.ui-widget .ui-chkbox-box.ui-widget.ui-corner-all.ui-state-active > span,
tbody tr .ui-chkbox.ui-widget .ui-chkbox-box.ui-widget.ui-corner-all.ui-state-hover > span {
    color: rgb(255, 255, 255);
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_616161_256x240.png.xhtml?ln=primefaces-aristo");
}

.ui-dialog .ui-dialog-content {
    margin: 0;
}

.wertebereichDialogButton {
    position: relative;
    margin-left: 40%;
    margin-top: 6%;
}

.ui-fieldset.ui-widget.ui-widget-content.ui-corner-all.ui-hidden-container.ui-fieldset-toggleable {
    border: #000000;
    border-style: solid;
    border-width: 2px;
}

.ui-selectonemenu.ui-widget.ui-corner-all {
    background-color: rgb(255, 255, 255);;
    border-radius: 0 3px 3px 0;
    border-color: #ccc;
}

.ui-selectonemenu.ui-widget.ui-corner-all.ui-state-focus {
    box-shadow: none;
}

.ui-selectonemenu.ui-widget.ui-corner-all > label {
    border-radius: 0;
    box-shadow: none;
    border: none;
}

.ui-selectonemenu.ui-widget.ui-corner-all.ui-state-hover {
    border-color: rgb(81, 137, 205);
    box-shadow: none;
}

.ui-selectonemenu .ui-selectonemenu-trigger.ui-corner-right {
    box-sizing: border-box;
    box-shadow: none;
    width: 26px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0 3px 3px 0;
    margin-right: -1px;
}

.ui-selectonemenu label.ui-selectonemenu-label {
    box-sizing: border-box;
}

.ui-selectonemenu.glass-button .ui-selectonemenu-trigger.ui-corner-right:before {
    content: " ";
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.ui-menuitem.ui-widget.ui-corner-all.ui-state-hover,
.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-corner-all.ui-state-highlight,
.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-corner-all.ui-state-hover {
    border-radius: 0;
    color: white;
    text-shadow: 1px 1px #5d5d5d;
    box-shadow: none;
}

.ui-menuitem.ui-widget.ui-corner-all a {
    width: 99%;
    padding: 5px 0px 5px 10px;
}

.ui-menuitem.ui-widget.ui-corner-all:hover a.ui-menuitem-link.ui-corner-all.link {
    box-shadow: none;
    background: rgb(81, 137, 205);
    cursor: pointer;
}

.ui-selectonemenu-panel.ui-widget.ui-widget-content.ui-corner-all.ui-helper-hidden.ui-shadow {
    box-shadow: none;
    border: 1px solid rgb(55, 102, 161);
    border-radius: 3px;
    box-sizing: border-box;
    background: rgba(34, 35, 36, 0.95);
    color: rgb(255, 255, 255);
}

.ui-selectonemenu-items-wrapper,
.ui-selectonemenu-panel .ui-selectonemenu-list {
    background: transparent;
    color: rgb(255, 255, 255);;
}

.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-corner-all.ui-state-highlight {
    color: rgb(81, 137, 205);
    background: transparent;
    text-shadow: none;
}

.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-corner-all.ui-noselection-option {
    display: none;
}

.ui-inputfield.ui-state-focus.ui-widget,
.ui-inputfield.ui-state-hover.ui-widget,
.ui-inputfield.ui-state-focus,
.ui-inputfield.ui-state-hover {
    border: 1px solid rgb(81, 137, 205);
    box-shadow: none;
}

.ui-autocomplete-multiple-container.ui-widget {
    border-radius: 0 3px 3px 0;
    box-shadow: none;
    border: 1px solid rgb(204, 204, 204);;
}

.ui-autocomplete.ui-autocomplete-multiple.festgestelltInInput.glass-button .ui-autocomplete-token.ui-state-active.ui-corner-all .ui-autocomplete-token-label {
    background: rgba(34, 35, 36, 0.7);
}

.ui-autocomplete.ui-autocomplete-multiple.festgestelltInInput button.ui-autocomplete-dropdown.ui-button-icon-only {
    border: 1px solid rgb(204, 204, 204);;
    background: #ccc;
}

.ui-autocomplete.ui-autocomplete-multiple.festgestelltInInput button.ui-autocomplete-dropdown.ui-button-icon-only.ui-state-hover {
    border: 1px solid rgb(81, 137, 205);
    background: rgb(204, 204, 204);;
}

.ui-autocomplete.ui-autocomplete-multiple.festgestelltInInput button.ui-autocomplete-dropdown.ui-button-icon-only .ui-button-icon-primary.ui-icon {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_616161_256x240.png.xhtml?ln=primefaces-aristo");
}

.ui-autocomplete.ui-autocomplete-multiple.festgestelltInInput button.ui-autocomplete-dropdown.ui-button-icon-only.ui-state-hover .ui-button-icon-primary.ui-icon {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_2e83ff_256x240.png.xhtml?ln=primefaces-aristo") !important;
}

.filter-template .ui-autocomplete-multiple-container.ui-widget {
    border-radius: 3px 3px 3px 3px;
    box-shadow: none;
    padding: 1px;
    width: 100%;
    height: 24px;
}

.ui-autocomplete-dropdown.ui-button.ui-widget {
    border-radius: 0;
    text-shadow: none;
    box-shadow: none;
}

.ui-autocomplete-dropdown.ui-button.ui-widget.ui-button-icon-only {
    margin: 0;
}

.ui-autocomplete-token.ui-state-active {
    border-radius: 3px;
    background: #f5f5f5;
    color: rgb(51, 51, 51);
    text-shadow: none;
    font-weight: normal;
    border-color: rgba(255, 255, 255, 0.3);
    box-shadow: none;
    padding: 0;
}

.ui-autocomplete-multiple-container .ui-autocomplete-token.ui-state-active.ui-corner-all {
    background: rgba(255, 255, 255, 0.2);
    color: rgb(255, 255, 255);
    border: 1px solid transparent;
}


.topnav_wrapper .topnav_search_input .ui-autocomplete-multiple-container.ui-inputfield.ui-state-focus {
    width: 400px;
    min-width: 400px;
    padding-left: 1px;
}

.ui-autocomplete-panel.ui-widget-content.ui-corner-all.ui-helper-hidden.ui-shadow {
    padding: 10px;
    width: 540px !important;
}

.ui-autocomplete-items.ui-autocomplete-table {
    background: transparent;
    width: 100%;
}

.ui-autocomplete-items.ui-autocomplete-table tr.ui-widget-header {
    background: rgba(255, 255, 255, 0.1);
}

.ui-autocomplete-items.ui-autocomplete-table tr.ui-widget-header td {
    color: rgb(255, 255, 255);
    text-shadow: none;
}

.ui-autocomplete-items.ui-autocomplete-table tr {
    background: transparent;
    padding: 0px 10px;
}

.ui-autocomplete-items.ui-autocomplete-table tr.ui-state-highlight {
    border: none
}

.ui-autocomplete-items.ui-autocomplete-table tr td {
    border: none;
}

.ui-autocomplete-items.ui-autocomplete-table tr.ui-state-highlight td {
    background: rgb(81, 137, 205);
}

.ui-autocomplete-items.ui-autocomplete-table tr td label {
    color: rgb(255, 255, 255);;
    text-shadow: none;
}


.ui-progressbar.ui-widget.ui-widget-content.ui-corner-all {
    border: 1px solid rgb(204, 204, 204);;
    border-radius: 0;
}

.ui-progressbar-value.ui-widget-header.ui-corner-left {
    border-radius: 0;
    background: rgb(81, 137, 205);
    border-color: transparent;
}

.ui-fileupload-cancel.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only {
    border: none;
    background: transparent;
}

.ui-fileupload-content.ui-widget-content.ui-corner-bottom .ui-fileupload-files {
    width: 100%;
    border-top: 1px dashed rgb(204, 204, 204);;
    margin-bottom: 0;
}

.ui-fileupload-content.ui-widget-content.ui-corner-bottom {
    padding: 0;
}

.ui-fileupload-content.ui-widget-content.ui-corner-bottom tbody td:last-of-type {
    width: 25px;
}

#viewAfoNav\:navbarCompForm\:zugMeldungenButton_menu {
    width: 415px;
    background: rgb(255, 255, 255);;
}


img.glass {
    height: 17px;
    padding: 3px;
}

.clickable:hover .highlight {
    text-decoration: underline;
}

.clickable:hover, .clickable *:hover {
    cursor: pointer;
}

.ui-outputlabel.ui-state-error {
    background-color: transparent;
}

.secNavBar .buttons-wrapper .left .ui-menubutton {
    margin-left: 5px;
}

.secNavBar .buttons-wrapper .right .editButtonWrapper .ui-button.ui-button-text-only,
.secNavBar .buttons-wrapper .right .statusButtonWrapper .ui-button.ui-button-text-only {
    margin-right: 5px;
}

.topnav_wrapper .ui-autocomplete-input-token input {
    color: rgb(34, 35, 36);
}

.topnav_wrapper .ui-autocomplete-multiple-container.ui-widget {
    border: 1px !important;
    background: transparent;
    margin-top: 2px;
    margin-left: 4px;
}


.ui-widget-content form .ui-g .ui-g-3 .ui-widget {
    vertical-align: middle;
    margin-left: 5px;
}


.ui-expanded-row-content.ui-widget-content td,
.ui-expanded-row-content.ui-widget-content td:hover {
    background: rgb(255, 255, 255);;
    color: rgb(34, 35, 36);
}

.auswTable .ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all {
    margin-top: 3px;
}

.ui-widget-content:hover a .fa {
    color: rgb(79, 79, 79);
}

.ui-widget-content a:hover .fa {
    color: rgb(81, 137, 205);
}

.ui-state-default.ui-sortable-column.ui-state-hover,
.ui-state-default.ui-sortable-column.ui-state-active,
.ui-state-default.ui-sortable-column.ui-state-focus {
    box-shadow: none;
}

.scocGrid .ui-panelgrid-cell .ui-datatable.ui-widget.ui-datatable-scrollable {
    border: none;
}

.anfoTabTable .modulsTable.no-header thead {
    display: none;
}

.anfoTabTable .modulsTable.no-header table tbody table tbody td:nth-child(1) {
    display: none;
}

.anfoTabTable .modulsTable.no-header table tbody table tbody td {
    padding-left: 30px;
}

#viewAfo .anfoAnsichtBox.details .modulsTable table tbody thead {
    display: none;
}

#viewAfo .anfoAnsichtBox.details .modulsTable table tbody table tbody td:nth-child(1) {
    display: none;
}

#viewAfo .anfoAnsichtBox.details .modulsTable table tbody table tbody td {
    padding-left: 50px;
}

.anfoListPflichtfeld {
    color: rgb(81, 137, 205);
}

.anfoListPflichtfeld-2 {
    color: rgb(81, 137, 205);
}

.anfoListPflichtfeld-3 {
    color: rgb(79, 79, 79);
}

.ui-inputfield.ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus, .ui-widget-header .ui-inputfield.ui-state-focus {
    box-shadow: none;
}

/*---------------------------------*/
.ui-outputpanel-loading.ui-widget {
    margin: auto;
    width: 50px;
    background: url("#{resource['images:icons/misc/loading.gif']}") center center no-repeat;
    background-size: 40px;
}

.mitarbeiter-zuordnung-table {
    padding: 5px 0 5px 0 !important;
    border-spacing: 0px;
}

/*InputSwitch*/
.ui-inputswitch-handle.ui-state-default {
    border-radius: 3px;
    background: rgb(204, 204, 204);;
}

.ui-inputswitch.ui-widget.ui-widget-content.ui-corner-all {
    border-radius: 3px;
    background-color: rgb(55, 102, 161);
    border: 1px solid #696d70;
}

.ui-inputswitch.ui-widget.ui-widget-content.ui-corner-all > .ui-inputswitch-off {
    border-radius: 0 3px 3px 0;
    color: rgb(255, 255, 255);;
    background: #696d70;
    width: auto !important;
}

@supports (--css: variables) {
    .ui-inputswitch.ui-widget.ui-widget-content.ui-corner-all > .ui-inputswitch-off {
        background: var(--grey_696d70);
    }
}

.ui-inputswitch-on.ui-state-active {
    background: rgb(55, 102, 161);
    box-shadow: none;
    text-shadow: none;
    border-radius: 3px 0 0 3px;
    color: rgb(255, 255, 255);;
}


/*Wizard*/
.ui-wizard-step-title.ui-state-default.ui-corner-all {
    background: rgb(238, 238, 238);
    border: none;
    color: rgb(192, 198, 204);
    padding: 5px 10px;
    font-size: 1em;
    border-radius: 3px;
    margin-bottom: 10px;
}

.ui-wizard-step-title.ui-state-default.ui-state-highlight.ui-corner-all {
    background: rgba(34, 35, 36, 0.9);
    color: rgb(255, 255, 255);;
}

.ui-panel-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-all {
    background: rgb(204, 204, 204);
    height: 15px;
    padding-top: 5px;
}

.ui-widget-header {
    background: rgb(204, 204, 204);;
    border: none;
    border-radius: 3px;
}

.ui-panelgrid.ui-widget {
    width: 100%;
}

.ui-selectmanymenu.ui-inputfield.ui-widget.ui-widget-content.ui-corner-all {
    width: 100%;
    padding: 2px 0px 2px 3px;
    margin: 1px 0px 0px -3px;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);;
}

.ui-widget-content.ui-panelgrid-cell {
    border: 1px solid rgb(204, 204, 204);;
    padding: 6px 10px 0px 13px;
}

.ui-panel-titlebar-icon.ui-corner-all.ui-state-default {
    background: rgb(255, 255, 255);;
    border: 1px solid rgb(255, 255, 255);;
    border-radius: 3px;
    margin-top: -2px;
}

.ui-panel-titlebar-icon.ui-corner-all.ui-state-default.ui-state-hover {
    box-shadow: none;
    background: rgba(81, 137, 205, 0.3);
    border: 1px solid rgb(81, 137, 205);
    margin-top: -2px;
}

.ui-panel-title {
    text-shadow: none;
}

.ui-selectlistbox-item.ui-state-hover {
    background-color: rgb(255, 255, 255);;
    color: rgb(79, 79, 79);
    box-shadow: none;
}

.ui-selectlistbox-item.ui-state-highlight {
    background: transparent;
    color: rgb(79, 79, 79);
    text-shadow: none;
}

.ui-chkbox.ui-widget.d-flex {
    width: 18px;
}

.filter .ui-scrollpanel-container .ui-scrollpanel-content {
    padding: 10px 0px 25px 15px !important;
}

.grafik-close-button {
    width: 36px;
    height: 36px;
    top: -780px;
    left: 372px;
    position: relative;
    border-radius: 3px;
    margin: auto;
    display: block;
}

.anfoAnsichtBox.grafik .ui-panel.ui-widget-content.ui-corner-all.ui-helper-hidden .grafik-close-button img.glass {
    width: 36px;
    height: 36px;
    left: 0px;
    margin: 0px;
    top: 0px;
    border: 1px solid transparent;
    background: transparent;
}

.anfoAnsichtBox.grafik .ui-panel.ui-widget-content.ui-corner-all.ui-helper-hidden .grafik-close-button img.glass:hover {
    background: rgba(205, 205, 205, 0.1);
    border: 1px solid rgb(204, 204, 204);;
    cursor: pointer;
}

.addButton-ums {
    float: right !important;
}

