.projectColumn {
    width: 80px;
}

.iconColumn {
    text-align: center;
    width: 80px;
}

.ausleitungenColumn {
    width: 120px;
    text-align: center;
}

.ui-datatable .ui-datatable-data td.iconColumn.leftBorder  {
    border-left: 2px solid rgba(55, 102, 161, 0.5);
}

.ui-datatable .ui-datatable-data td.iconColumn.rightBorder  {
    border-right: 2px solid rgba(55, 102, 161, 0.5);
}

.werkTableWrapper .ui-datatable-tablewrapper {
    overflow: hidden;
}

.tableIconHeader {
    content: "";
    height: 30px;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    background-size: 34px 34px;
    background-position: center;
    background-repeat: no-repeat;
}

.tableHeaderOk {
    background-image: url("#{resource['images/icons/projekte/icon-bestaetigt.png']}");
}

.tableHeaderOffen {
    background-image: url("#{resource['images/icons/projekte/icon-offen.png']}");
}

.tableHeaderNichtWeiterverfolgt {
    background-image: url("#{resource['images/icons/projekte/icon-nichtweiter.png']}");
}

.werkTableWrapper .werkTableHeader {
    text-align: center;
}
.werkTableWrapper .werkTableHeader svg {
    margin-bottom: 5px;
    margin-top: -16px;
}

.statusLabelWrapper .line {
    width: 100%;
    height: 3px;
    background-color: white;
}

.statusLabelWrapper {
    width: 215px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
}

.statusLabelWrapper span {
    color: white;
}

.werkIconLegende {
    border: 1px solid #fff;
    display: flex;
    width: 190px;
    margin-left: 230px;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    left: 0px;
}

.werkIconLegendeHead {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
}

.werkIconLegendeIcons {
    margin: 25px 5px 0px 0px;
    width: 50px;
}

.werkIconLegendeTextOk {

}

.werkIconLegendeTextOffen {

}

.werkIconLegendeTextNichtWeiterverfolgen {

}

/*******   SVG   *********/

svg {
    font-family: 'Arial';
}
.st0{display:none;}
.st1{display:inline;stroke:#000000;stroke-miterlimit:10;}
.st2{clip-path:url(#SVGID_2_);}
.st3{fill:#FFFFFF;}
.st4{font-weight: bold;}
.st5{font-size:19px;}
.st6{opacity:0.45;clip-path:url(#SVGID_4_);}
.st7{clip-path:url(#SVGID_6_);fill:#5189CD;}
.st8{clip-path:url(#SVGID_6_);fill:none;stroke:#FFFFFF;}
.st9{opacity:0.5;clip-path:url(#SVGID_4_);}
.st10{clip-path:url(#SVGID_8_);fill:#3766A1;}
.st11{clip-path:url(#SVGID_8_);fill:none;stroke:#FFFFFF;}
.st12{opacity:0.55;clip-path:url(#SVGID_4_);}
.st13{clip-path:url(#SVGID_10_);fill:#123054;}
.st14{clip-path:url(#SVGID_10_);fill:none;stroke:#FFFFFF;}
.st15{font-size:16px;}
.st16{clip-path:url(#SVGID_2_);fill:none;stroke:#FFFFFF;}
.st17{clip-path:url(#SVGID_2_);fill:none;stroke:#FFFFFF;stroke-width:4;}
.st18{clip-path:url(#SVGID_2_);fill:#FFFFFF;}
.st19{opacity:0.6;clip-path:url(#SVGID_12_);}
.st20{clip-path:url(#SVGID_14_);fill:#222324;}
.st21{clip-path:url(#SVGID_14_);fill:none;stroke:#CCCCCC;}
.st22{clip-path:url(#SVGID_2_);fill:#EEC100;}
