.statusLabelWrapper .line {
    width: 100%;
    height: 3px;
    background-color: white;
}

.statusLabelWrapper {
    width: 215px;
    text-align: left;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 2px;
}

.statusLabelWrapper span {
    color: white;
    font-size: 20px;
}


/******** SVG *******/
svg {
    font-family: 'Arial';
}

.st0{clip-path:url(#SVGID_2_);}
.st1{fill:#FFFFFF;}
.st3{font-size:19px;}
.st4{opacity:0.45;clip-path:url(#SVGID_4_);}
.st5{clip-path:url(#SVGID_6_);fill:#5189CD;}
.st6{clip-path:url(#SVGID_6_);fill:none;stroke:#FFFFFF;}
.st7{opacity:0.5;clip-path:url(#SVGID_4_);}
.st8{clip-path:url(#SVGID_8_);fill:#3766A1;}
.st9{clip-path:url(#SVGID_8_);fill:none;stroke:#FFFFFF;}
.st10{opacity:0.55;clip-path:url(#SVGID_4_);}
.st11{clip-path:url(#SVGID_10_);fill:#123054;}
.st12{clip-path:url(#SVGID_10_);fill:none;stroke:#FFFFFF;}
.st13{clip-path:url(#SVGID_12_);fill:#3766A1;}
.st14{clip-path:url(#SVGID_12_);fill:none;stroke:#FFFFFF;}
.st15{font-size:16px;}
.st16{opacity:0.55;clip-path:url(#SVGID_14_);}
.st17{clip-path:url(#SVGID_16_);fill:#123054;}
.st18{clip-path:url(#SVGID_16_);fill:none;stroke:#FFFFFF;}
.st19{clip-path:url(#SVGID_18_);fill:#123054;}
.st20{clip-path:url(#SVGID_2_);fill:none;stroke:#FFFFFF;}
.st21{opacity:0.55;clip-path:url(#SVGID_20_);}
.st22{clip-path:url(#SVGID_22_);fill:#123054;}
.st23{opacity:0.2;clip-path:url(#SVGID_20_);}
.st24{clip-path:url(#SVGID_24_);fill:#5189CD;}
.st25{clip-path:url(#SVGID_26_);fill:#3766A1;}
.st26{opacity:0.1;clip-path:url(#SVGID_20_);}
.st27{clip-path:url(#SVGID_28_);fill:#5189CD;}
.st28{clip-path:url(#SVGID_20_);fill:#222324;}
.st29{clip-path:url(#SVGID_20_);fill:none;stroke:#CCCCCC;}
.st30{clip-path:url(#SVGID_30_);fill:#222324;}
.st31{clip-path:url(#SVGID_30_);fill:none;stroke:#CCCCCC;}
.st32{clip-path:url(#SVGID_32_);fill:#222324;}
.st33{clip-path:url(#SVGID_32_);fill:none;stroke:#CCCCCC;}
.st34{clip-path:url(#SVGID_34_);fill:#222324;}
.st35{clip-path:url(#SVGID_34_);fill:none;stroke:#CCCCCC;}
.st36{opacity:0.8;clip-path:url(#SVGID_34_);}
.st37{clip-path:url(#SVGID_36_);fill:#CCCCCC;}
.st38{clip-path:url(#SVGID_38_);fill:#4F4F4F;}
.st39{clip-path:url(#SVGID_38_);fill:none;stroke:#32A918;}
.st40{clip-path:url(#SVGID_38_);fill:none;stroke:#EEC100;}
.st41{clip-path:url(#SVGID_38_);fill:none;stroke:#D3111D;}
.st42{clip-path:url(#SVGID_38_);fill:#222324;}
.st43{clip-path:url(#SVGID_38_);fill:none;stroke:#CCCCCC;}
.st44{clip-path:url(#SVGID_40_);fill:#222324;}
.st45{clip-path:url(#SVGID_40_);fill:none;stroke:#CCCCCC;}
.st46{opacity:0.5;clip-path:url(#SVGID_40_);}
.st47{clip-path:url(#SVGID_42_);fill:none;stroke:#CCCCCC;stroke-width:2;}
.st47green{clip-path:url(#SVGID_42_);fill:green;stroke:#CCCCCC;stroke-width:2;}
.st47red{clip-path:url(#SVGID_42_);fill:red;stroke:#CCCCCC;stroke-width:2;}
.st48{clip-path:url(#SVGID_40_);fill:#4F4F4F;}
.st49{clip-path:url(#SVGID_40_);fill:none;stroke:#32A918;}
.st50{clip-path:url(#SVGID_40_);fill:none;stroke:#EEC100;}
.st51{clip-path:url(#SVGID_2_);fill:none;stroke:#32A918;}
.st52{clip-path:url(#SVGID_44_);fill:#4F4F4F;}
.st53{clip-path:url(#SVGID_44_);fill:none;stroke:#CCCCCC;}
.st54{clip-path:url(#SVGID_46_);fill:#222324;}
.st55{clip-path:url(#SVGID_46_);fill:none;stroke:#CCCCCC;}
.st56{opacity:0.8;clip-path:url(#SVGID_48_);}
.st57{filter:url(#Adobe_OpacityMaskFilter);}
.st58{clip-path:url(#SVGID_50_);fill:url(#SVGID_52_);}
.st59{clip-path:url(#SVGID_50_);mask:url(#SVGID_51_);}
.st60{clip-path:url(#SVGID_54_);fill:#4F4F4F;}
.st61{clip-path:url(#SVGID_2_);fill:none;stroke:#FFFFFF;stroke-width:2;}
.st62{clip-path:url(#SVGID_2_);fill:#FFFFFF;}
.st63{clip-path:url(#SVGID_56_);fill:#222324;}
.st64{clip-path:url(#SVGID_56_);fill:none;stroke:#CCCCCC;}
.st65{clip-path:url(#SVGID_58_);fill:#222324;}
.st66{clip-path:url(#SVGID_58_);fill:none;stroke:#CCCCCC;}
.st67{clip-path:url(#SVGID_60_);fill:#222324;}
.st68{clip-path:url(#SVGID_60_);fill:none;stroke:#CCCCCC;}
.st69{opacity:0.5;clip-path:url(#SVGID_60_);}
.st70{clip-path:url(#SVGID_62_);fill:none;stroke:#CCCCCC;stroke-width:2;}
.st70green{clip-path:url(#SVGID_62_);fill:green;stroke:#CCCCCC;stroke-width:2;}
.st70red{clip-path:url(#SVGID_62_);fill:red;stroke:#CCCCCC;stroke-width:2;}
.st71{clip-path:url(#SVGID_60_);fill:#4F4F4F;}
.st72{clip-path:url(#SVGID_60_);fill:none;stroke:#32A918;}
.st73{clip-path:url(#SVGID_60_);fill:none;stroke:#EEC100;}
.st74{clip-path:url(#SVGID_64_);fill:#222324;}
.st75{clip-path:url(#SVGID_64_);fill:none;stroke:#CCCCCC;}
.st76{clip-path:url(#SVGID_66_);fill:#4F4F4F;}
.st77{clip-path:url(#SVGID_66_);fill:none;stroke:#CCCCCC;}
.st78{clip-path:url(#SVGID_68_);fill:#4F4F4F;}
.st79{clip-path:url(#SVGID_68_);fill:none;stroke:#A7A7A7;}
.st80{fill:#A7A7A7;}
.st82{font-size:12px;}
.st83{clip-path:url(#SVGID_70_);fill:none;stroke:#FFFFFF;stroke-width:4;}
.st84{opacity:0.5;clip-path:url(#SVGID_72_);}
.st85{clip-path:url(#SVGID_74_);fill:none;stroke:#CCCCCC;stroke-width:2;}
.st85green{clip-path:url(#SVGID_74_);fill:green;stroke:#CCCCCC;stroke-width:2;}
.st85red{clip-path:url(#SVGID_74_);fill:red;stroke:#CCCCCC;stroke-width:2;}
.st86{clip-path:url(#SVGID_76_);fill:none;stroke:#CCCCCC;stroke-width:2;}
.st86green{clip-path:url(#SVGID_76_);fill:green;stroke:#CCCCCC;stroke-width:2;}
.st86red{clip-path:url(#SVGID_76_);fill:red;stroke:#CCCCCC;stroke-width:2;}
.st87{clip-path:url(#SVGID_78_);fill:none;stroke:#CCCCCC;stroke-width:2;}
.st87green{clip-path:url(#SVGID_78_);fill:green;stroke:#CCCCCC;stroke-width:2;}
.st87red{clip-path:url(#SVGID_78_);fill:red;stroke:#CCCCCC;stroke-width:2;}
.st88{clip-path:url(#SVGID_80_);fill:#4F4F4F;}
.st89{clip-path:url(#SVGID_80_);fill:none;stroke:#32A918;}
.st90{clip-path:url(#SVGID_80_);fill:none;stroke:#EEC100;}
.st91{clip-path:url(#SVGID_80_);fill:none;stroke:#D3111D;}
.st92{clip-path:url(#SVGID_82_);fill:#4F4F4F;}
.st93{clip-path:url(#SVGID_82_);fill:none;stroke:#32A918;}
.st94{clip-path:url(#SVGID_82_);fill:none;stroke:#EEC100;}
.st95{clip-path:url(#SVGID_82_);fill:none;stroke:#D3111D;}
.st96{clip-path:url(#SVGID_84_);fill:#4F4F4F;}
.st97{clip-path:url(#SVGID_84_);fill:none;stroke:#CCCCCC;}
.st98{clip-path:url(#SVGID_86_);fill:#4F4F4F;}
.st99{clip-path:url(#SVGID_86_);fill:none;stroke:#CCCCCC;}
.st100{clip-path:url(#SVGID_88_);fill:#4F4F4F;}
.st101{clip-path:url(#SVGID_88_);fill:none;stroke:#CCCCCC;}
.st102{clip-path:url(#SVGID_90_);fill:#4F4F4F;}
.st103{clip-path:url(#SVGID_90_);fill:none;stroke:#A7A7A7;}
.st104{opacity:0.8;clip-path:url(#SVGID_92_);}
.st105{filter:url(#Adobe_OpacityMaskFilter_1_);}
.st106{clip-path:url(#SVGID_94_);fill:url(#SVGID_96_);}
.st107{clip-path:url(#SVGID_94_);mask:url(#SVGID_95_);}
.st108{clip-path:url(#SVGID_98_);fill:#4F4F4F;}
.st109{clip-path:url(#SVGID_92_);fill:#222324;}
.st110{clip-path:url(#SVGID_92_);fill:none;stroke:#CCCCCC;}
.st111{letter-spacing:-1;}
.st112{font-size:9px;}
.st113{clip-path:url(#SVGID_100_);fill:#4F4F4F;}
.st114{clip-path:url(#SVGID_100_);fill:none;stroke:#CCCCCC;}
.st115{clip-path:url(#SVGID_102_);fill:#4F4F4F;}
.st116{clip-path:url(#SVGID_102_);fill:none;stroke:#CCCCCC;}
.st117{clip-path:url(#SVGID_104_);fill:#4F4F4F;}
.st118{clip-path:url(#SVGID_104_);fill:none;stroke:#CCCCCC;}
.st119{clip-path:url(#SVGID_106_);fill:#4F4F4F;}
.st120{clip-path:url(#SVGID_106_);fill:none;stroke:#A7A7A7;}
.st121{clip-path:url(#SVGID_108_);fill:#4F4F4F;}
.st122{clip-path:url(#SVGID_108_);fill:none;stroke:#A7A7A7;}
.st123{clip-path:url(#SVGID_110_);fill:#4F4F4F;}
.st124{clip-path:url(#SVGID_110_);fill:none;stroke:#A7A7A7;}
.st125{clip-path:url(#SVGID_112_);fill:#222324;}
.st126{clip-path:url(#SVGID_112_);fill:none;stroke:#CCCCCC;}
.st127{clip-path:url(#SVGID_114_);fill:#4F4F4F;}
.st128{clip-path:url(#SVGID_114_);fill:none;stroke:#CCCCCC;stroke-width:0.845;}
.st129{clip-path:url(#SVGID_114_);fill:#222324;}
.st130{clip-path:url(#SVGID_114_);fill:none;stroke:#CCCCCC;}
.st131{clip-path:url(#SVGID_116_);fill:#4F4F4F;}
.st132{clip-path:url(#SVGID_116_);fill:none;stroke:#CCCCCC;stroke-width:0.845;}
.st133{clip-path:url(#SVGID_2_);fill:#EEC100;}
.st134{font-size:15px;}


.filter-wrapper .ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all {
    margin-left: 0px;
}

.ui-outputlabel.ui-widget.statusabgleich.derivatStatusLabel {
    border-radius: 3px;
    background: #4871a2;
    box-shadow: 0 0;
    text-shadow: 0 0;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.7);
    border: none;
    line-height: 25px;
    padding: 0px 10px 0px 10px;
    margin-left: 5px;
}

.ui-growl-image.ui-growl-image-warn {
    display: none;
}

.ui-growl-item-container.ui-state-highlight.ui-corner-all.ui-helper-hidden.ui-shadow.ui-growl-warn {
    background-color: rgba(72, 113, 162, 0.9);
}

