.displayNone {
    display: none;
}

.vereinbarungBeschreibungText {
    cursor: pointer;
}


.ui-datatable.ui-widget.glass-table.prozessbaukastenAnforderungTable {
    border: 0px;
}

.ui-datatable.ui-widget.glass-table.prozessbaukastenAnforderungTable th {
    text-align: center;
}

.ui-datatable.ui-widget.glass-table.prozessbaukastenAnforderungTable
.ui-column-filter.ui-inputfield.ui-inputtext.ui-widget.ui-state-default.ui-corner-all {
    width: 100%;
    border-radius: 3px;
}

.ui-outputpanel.ui-widget.glass-box.anfoAnsichtBox.anforderungenButtonsPanel button {
    border-radius: 3px;
    background: rgba(29, 33, 41, 0.3);
    box-shadow: 0 0;
    text-shadow: 0 0;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(204, 204, 204, 0.7);

}

.anforderungenButtonsPanel {
    margin-top: 10px;
    border: 0px;
}

.anforderungenButtonsPanel button:nth-of-type(2) {
    margin-left: 5px;
}

.flex-justify-content-flex-end {
    justify-content: flex-end;
}

.ui-datatable-header.ui-widget-header.ui-corner-top {
    background-color: rgba(55, 102, 161, 0.3);
    border-radius: 0px;
}

.ui-inputfield.ui-inputtext.ui-widget.ui-state-default.ui-corner-all.anforderungTableHeaderInput {
    border-radius: 3px;
    border: 1px solid rgba(204, 204, 204, 0.7);
    padding: 5px;
}

.ui-datatable.ui-widget.glass-table.prozessbaukastenAnforderungTable th input {
    display: none;
}

.ui-datatable.ui-widget.glass-table.prozessbaukastenAnforderungTable .ui-datatable-header.ui-widget-header.ui-corner-top input {
    margin-top: 5px;
}

.ui-datatable.ui-widget.glass-table.prozessbaukastenAnforderungTable
.ui-datatable-header.ui-widget-header.ui-corner-top input.ui-state-focus {
    border-color: rgba(55, 102, 161, 0.3);
    box-shadow: 0px 0px 5px 5px rgba(55, 102, 161, 0.3);;
}

.removeAnforderungIcon img{
    margin-left: -5px;
}

.text-align-center {
    text-align: center;
}

.ui-selectcheckboxmenu-trigger.ui-state-default.ui-corner-right,
.ui-selectcheckboxmenu-multiple-container.ui-widget.ui-inputfield.ui-state-default.ui-corner-all {
    border: 1px solid #5189CD;
    box-shadow: none;
    border-radius: 3px;
}

.ui-selectcheckboxmenu-trigger.ui-state-default.ui-corner-right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.ui-widget-content .ui-state-active {
    border: none;
    background: none;
    font-weight: normal;
    color: rgb(79, 79, 79);;
    text-shadow: none;
}

