.prozessbaukastenAttributeLabel {
    width: 170px !important;
    padding-bottom: 10px;
}

.infotextIcon {
    width: 30px;
}

.prozessbaukastenAtrributeValue {
    width: auto;
}

.prozessbaukastenAtrributeRow div {
    display: inline-block;
}

.detailsPanel,
.verantwortlichkeitenPanel {
    margin-top: 10px;
}

.ui-outputpanel.ui-widget.glass-box.anfoAnsichtBox.beschreibung.prozessbaukastenPanel {
    border-top-left-radius: 0px;
}