.detailsPanel .inputTextarea,
.prozessbaukastenPanel .inputTextarea,
.prozessbaukastenPanel .inputText {
    width: 100%;
}

.requiredAttribute {
    color: #7d9aab;
}

.glass-box .box-content .row > div:first-of-type label.notRequiredAttribute {
    color: #4f4f4f;
}

.glass-box .box-content .row > div label.ui-outputlabel.ui-widget.requiredAttribute.ui-state-error {
    color: red;
}

.ui-inputfield.ui-inputtextarea.ui-widget.ui-state-default.ui-corner-all.ui-state-error.inputTextarea.ui-inputtextarea-resizable,
.ui-inputfield.ui-inputtext.ui-widget.ui-state-default.ui-corner-all.ui-state-error.inputText {
    border: 1px solid red;
}

.ui-autocomplete.mitarbeiterAutocomplete input {
    width: 540px;
}