.tab-template {
    display: flex;
    flex-wrap: wrap;
}

.tabColumn {
    flex-basis: 1553px;
    flex-shrink: 900;
    margin-right: 10px;
}

.grafikenColumn {
    flex-basis: 315px;
    flex-shrink: 0;
    max-width: 315px;
}

.ui-tabs.ui-widget.ui-widget-content.ui-corner-all.ui-hidden-container.ui-tabs-top.tabView {
    background-color: transparent;
}

.ui-tabs.ui-widget.ui-widget-content.ui-corner-all.ui-hidden-container.ui-tabs-top.tabView ul {
    padding-left: 0px;
}

.ui-tabs.ui-widget.ui-widget-content.ui-corner-all.ui-hidden-container.ui-tabs-top.tabView .ui-tabs-nav.ui-helper-reset.ui-widget-header.ui-corner-all {
    background-color: transparent;
    background: none;
}

/*tabs*/
.ui-tabs.ui-widget.ui-widget-content.ui-corner-all.ui-hidden-container.ui-tabs-top.tabView .ui-state-default.ui-corner-top.tabTitle {
    background-color: rgba(55, 102, 161, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.7);;
    box-shadow: none;
    top: 2px;
    transition: 0.5s;
}

/*active tab*/
.ui-tabs.ui-widget.ui-widget-content.ui-corner-all.ui-hidden-container.ui-tabs-top.tabView .ui-state-default.ui-tabs-selected.ui-state-active.ui-corner-top.tabTitle {
    background-color: rgba(55, 102, 161, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.7);;
}

/*tab hover*/
.ui-tabs.ui-widget.ui-widget-content.ui-corner-all.ui-hidden-container.ui-tabs-top.tabView .ui-state-default.ui-corner-top.tabTitle.ui-state-hover {
    background-color: rgba(55, 102, 161, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.7);;
}

.ui-tabs.ui-widget.ui-widget-content.ui-corner-all.ui-hidden-container.ui-tabs-top.tabView a {
    color: white;
    text-shadow: none;
}

.ui-tabs.ui-widget.ui-widget-content.ui-corner-all.ui-hidden-container.ui-tabs-top.tabView .ui-state-default.ui-state-hover.ui-corner-top.tabTitle {
    box-shadow: none;
}


.grafikenColumn .box-content {
    padding: 10px;
}

.grafikenColumn .box-content img {
    width: 294px;
    height: 294px;
}

.grafikenColumn .ui-outputpanel.ui-widget.glass-box.anfoAnsichtBox.grafik:first-child {
    margin-bottom: 10px;
    margin-top: 40px;
}

.navbar {
    max-width: 1553px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .leftButtons,
.navbar .rightButtons {
    display: flex;
    align-items: flex-start;
}

.tabView .ui-tabs-panels {
    background-color: transparent;
    border: none;
    border-top-right-radius: 3px;
}

.ui-tabs-panel.ui-widget-content.ui-corner-bottom {
    padding: 0px;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.changeStatusButton {
    margin-right: 5px;
}