.prozessbaukastenAttributeLabel {
    width: 170px;
    padding-bottom: 10px;
}

.infotextIcon {
    width: 30px;
}

.prozessbaukastenAtrributeValue {
    width: auto;
}


.glass-box .box-content .row > div.prozessbaukastenAtrributeInput {
    display: flex;
    align-items: center;
}

.prozessbaukastenAtrributeRow div {
    display: inline-block;
}

.detailsPanel,
.verantwortlichkeitenPanel {
    margin-top: 10px;
}

.definierteAnhaengePanel {
    border-top-left-radius: 0;
}

.ui-outputpanel.ui-widget.glass-box.anfoAnsichtBox.beschreibung.prozessbaukastenPanel {
    border-top-left-radius: 0px;
}

.ui-messages.ui-widget.ui-helper-hidden.ui-fileupload-messages {
    display: none;
}

.ui-fileupload.ui-widget.ui-fileupload-responsive.prozessbaukastenAnhangUpload
.ui-fileupload-buttonbar.ui-widget-header.ui-corner-top{
    background: transparent;
}

.ui-fileupload.ui-widget.ui-fileupload-responsive.prozessbaukastenAnhangUpload
.ui-fileupload-content.ui-widget-content.ui-corner-bottom .ui-fileupload-files {
    border-top: none;
}
.ui-outputpanel.ui-widget.glass-box.anfoAnsichtBox.beschreibung.definierteAnhaengePanel
a.ui-commandlink.ui-widget {
    color: black;
    text-decoration: none;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.removeButton,
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.removeButton {
    margin-left: 10px;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.prozessbaukastenDownloadButton {
    margin-left: 5px;
}


