/* 
    Created on : 19.11.2018, 13:08:36
    Author     : jacob
*/

#tooltipWrapper {
    position: absolute; 
    top: 100px; 
    right: 10px; 
    z-index: 10;
}
#tooltipWrapper .ui-outputpanel {
    height: calc(100vh - 220px) !important;
}

#tooltipHeader {
    visibility: hidden; 
    width: 426px; 
    top: -30px; 
    height: 20px;
    background: rgba(55, 102, 161, 0.7);
    color: #fff;
    text-shadow: none;
    padding: 6px 4px 5px 20px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 3px 3px 0px 0px;
    border-color: #fff;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    box-sizing: content-box;
}

#tooltipWrapper .tooltip-panel {
    background-color: white; 
    visibility: hidden; 
    height: calc(100vh - 285px) !important;
    width: 410px;
    padding: 15px 20px 15px 20px;
    font-size: 14px;
    border-radius: 0px 0px 3px 3px;
    border-color: #fff;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    box-sizing: content-box;
}

.tooltip-closethick {
    cursor: pointer; 
    position: absolute; 
    top: 7px; 
    right: 15px;
    border-radius: 3px;
    border: 1px solid transparent;
}

.tooltip-closethick:hover {
    border: 1px solid #fff;
}