.ui-datatable-scrollable-body {
    height: auto !important;
    max-height: calc(100vh - 150px);
    background: #fff;
    border-radius: 0px 0px 3px 3px;
}


.glass-table thead {
    padding: 5px 20px;
    background: rgba(55, 102, 161, 0.3);
    color: white;
    font-size: 1.1em;
}

.ui-datatable.ui-widget.ui-datatable-scrollable.glass-table .ui-widget-header.ui-datatable-scrollable-header {
    background: transparent;
}

.content {
    overflow: hidden;
}

.filter-template .content {
    top: 53px;
    min-width: 804px;
}


