.sensorCoCDialog {
}

.sensorCoCDialog > .ui-dialog-content.ui-widget-content {
    margin-left: 10px;
    margin-right: 10px;
    overflow-x: hidden;
}

.sensorCoCDialog > .ui-dialog-titlebar {
    background: #5189CD;
    color: white;
    text-shadow: none;
    font-size: 16px;
}

.scocGrid {
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.scocROColumn, .scocTechnColumn {
    padding: 0 !important;
    border: none !important;
    vertical-align: top;
}

.scocTechnColumn, .scocROColumn {
    padding-right: 5px !important;
}

.scocROColumn {
    width: 40%;
}

.scocTechnColumn {
    width: 40%;
}

.scocTechnColumn > .scocAutoComplete > input {
    width: calc(100% - 19px);
}

.scocGridHeader {
    padding: 5px 10px;
    text-align: center;
    font-weight: bolder;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 5px;
}

.scocTechnologieTable > .ui-datatable-scrollable-body,
.scocROTable > .ui-datatable-scrollable-body{
    height: 300px;
}

.scocTechnologieTable > .ui-widget-header,
.scocROTable > .ui-widget-header {
    display: none;
}

.scocAutoComplete {
    width: calc(100% - 8px);
    margin: 5px;
}

.scocAutoComplete > input{
    box-shadow: none !important;
    border-radius: 0;
    width: calc(75% - 18px);
    padding-right: 12px;
}

.scocAutoComplete > input{
    box-shadow: none !important;
    border-radius: 0;
    width: calc(100% - 18px);
    padding-right: 12px;
}

.scocTechnologieTable tr.ui-state-hover,
.scocROTable tr.ui-state-hover{
    box-shadow: none;
    background: white;
    color: #4f4f4f;
}

.scocTechnologieTable tr.ui-state-highlight,
.scocROTable tr.ui-state-highlight {
    background: #5189CD;
    color: white;
    text-shadow: none;
}

.scocTechnologieTable tr label:hover,
.scocROTable tr label:hover {
    cursor: pointer;
}

.maZuordnen div.ui-selectlistbox-listcontainer table.ui-selectlistbox-list tbody tr{
    min-height: 17px !important;
    max-height: 17px !important;
    margin-bottom: 7px !important;
}

.maZuordnen div.ui-selectlistbox-listcontainer table.ui-selectlistbox-list tbody tr.ui-selectlistbox-item.ui-corner-all td {
    width: 17px;
    pointer-events: none;
}

.maZuordnen div.ui-selectlistbox-listcontainer table.ui-selectlistbox-list tbody tr.ui-selectlistbox-item.ui-corner-all td div.ui-chkbox.ui-widget div.ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default{
    pointer-events: auto;
}