.statusLabelWrapper .line {
    width: 100%;
    height: 3px;
    background-color: white;
}

.statusLabelWrapper {
    width: 215px;
    text-align: left;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    padding-left: 5px;
    padding-top: 2px;
}

.statusLabelWrapper span {
    color: white;
    font-size: 20px;
}


.table {
    display: table;
    border-spacing: 5px;
}


.table-column {
    display: table-column;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    background-color: #4f4f4f;
    padding: 10px;
    width: 130px;
    height: 30px;
}

.leftSumColumn .table-cell.leftColumnHeader,
.leftHeaderColumn .table-cell.leftColumnHeader {
    background-color: #222324;
    margin-bottom: 0px;
    text-align: center;
    height: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
}

.leftSumColumn .table-cell.leftColumnHeader svg {
    top: 3px;
    position: relative;
}


.caption {
    background-color: #222324;
    width: 1080px;
    height: 36px;
    text-align: center;
    margin-right: 5px;
    line-height: 30px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.caption span {
    top: 3px;
    position: relative;
}

.tableHeader .table-cell {
    height: 50px;
    text-align: center;
    margin-right: 0px;
}

.tableSum .table-cell {
    height: 10px;
    text-align: center;
    margin-right: 0px;
    background-color: #222324;
    line-height: 10px;
}

.tableSum .table-cell:last-child,
.tableHeader .table-cell:last-child {
    margin-right: 0px;
}

.tableSum,
.tableHeader {
    margin-right: 5px;
}

.table-row .table-cell {
    text-align: center;
    line-height: 30px;
}

.flex {
    display: flex;
    align-items: flex-end;
}

.flexVertical {
    flex-direction: column;
}

.flexHorizontal {
    flex-direction: row;
    color: white;
}

.flexHorizontal .table-cell span {
    top: 1px;
    position: relative;
}

.leftSumColumn .table-cell,
.leftHeaderColumn .table-cell {
    margin-bottom: 5px;
}

.borderBox {
    outline-width: 2px;
    outline-style: solid;
    outline-offset: -1px;
}

.greenBorder {
    outline-color: #32a918;
}

.yellowBorder {
    outline-color: #eec100;
}

.redBorder {
    outline-color: #d3111d;
}

.grayBorder {
    outline-color: #9e9e9e;
}

.redCell:before,
.blueCell:before {
    position: absolute;
    transform: translate(-10px,-10px);
    content: "";
    width: 150px;
    height: 50px;
    display: block;
    background-color: rgba(81, 137, 205, 0.3);
}

.redCell:before {
    background-color: rgba(211, 47, 47, 0.3);
}

.leftSumColumn {
    margin-left: 5px;
}

.sum-cell {
    width: 40px;
    text-align: center;
    line-height: 30px;
    background-color: #222324;
    font-size: 16px;
    font-weight: bold;
}

.tableSum {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
}

.filter-wrapper .ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all.filterSingle {
    margin-left: 0px;
    width: 140px;
    min-width: 140px !important;
}

.ui-selectonemenu-panel.ui-widget.ui-widget-content.ui-corner-all.ui-helper-hidden.ui-shadow.filterPanel.singleFilterPanel
.ui-selectonemenu-filter.ui-inputfield.ui-inputtext.ui-widget.ui-state-default.ui-corner-all.ui-state-hover {
    background-color: white;
    color: black;
}

.table-cell.boldCell {
    font-weight: bold;
}

.table-cell.display-block {
    display: block;
}

.height-5px {
    height: 5px;
}

.table-cell.width-5px {
    width: 5px;
    height: 5px;
    padding: 0;
    margin: 0;
    background: transparent;
}

.ui-outputlabel.ui-widget.statusabgleich.derivatStatusLabel {
    border-radius: 3px;
    background: #4871a2;
    box-shadow: 0 0;
    text-shadow: 0 0;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.7);
    border: none;
    line-height: 25px;
    padding: 0px 10px 0px 10px;
    margin-left: 5px;
}
.sumIcon {
    fill: #fff;
}
