.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.ui-datatable.ui-widget.ui-datatable-scrollable .ui-widget-header.ui-datatable-scrollable-header {
    background: rgb(55, 102, 161);
    color: rgb(255, 255, 255);
}

.ui-datatable .ui-datatable-header {
    background-color: rgb(55, 102, 161);
    color: rgb(255, 255, 255);
    font-weight: normal;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
    background: transparent;
    width: 100%;
    color: rgb(255, 255, 255);
}

.system-monitoring-title {
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.1em;
}

.system-monitoring-text {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-size: 0.9em;
}

.system-monitoring-summary-content {
    padding-bottom: 30px;
}

.system-monitoring-table-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.filter-count-label {
    position: relative;
    padding: 4px 8px;
    top: -8px;
    border-radius: 3px;
    margin-left: 4px;
    background: rgba(255, 255, 255, 0.0);
    color: rgba(255, 255, 255, 1);

}

.filter-count-label {
    color: rgb(255, 255, 255);
    vertical-align: middle;
    margin-left: 4px;
    margin-top: -2px;
    border-radius: 3px;
    text-shadow: none;
    padding: 3px;
    background: rgba(81,137,205,0.35);
    border: 1px solid rgba(205,205,205,0.8);
}


