.umsetzerDialog {
}

.umseGrid {
    width: 100%;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

.umseModuleColumn, .umseTeamsColumn, .umseKomponenteColumn {
    padding: 0 !important;
    border: none !important;
}

.umseModuleColumn, .umseTeamsColumn {
    padding-right: 5px !important;
}

.umseModuleColumn {
    width: 40%;
}

.umseTeamsColumn {
    width: 20%;
}

.umseKomponenteColumn {
    width: 40%;
}

.umseKomponenteColumn > .umseAutoComplete > input {
    width: calc(100% - 19px);
}

.umseGridHeader {
    padding: 5px 10px;
    text-align: center;
    font-weight: bolder;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 5px;
}

.umseModulTable > .ui-datatable-scrollable-body,
.umseKompTable > .ui-datatable-scrollable-body,
.umseTeamTable > .ui-datatable-scrollable-body{
    height: 400px;
}

.umseModulTable thead,
.umseKompTable thead,
.umseTeamTable thead {
    display: none;
}

.scocAutoComplete {
    width: 75%;
    margin: 5px;
}

.umseAutoComplete {
    width: 100%;
    margin-bottom: 5px;
}

.scocAutoComplete > input{
    box-shadow: none !important;
    border-radius: 0;
    width: calc(75% - 18px);
    padding-right: 12px;
}

.umseAutoComplete > input{
    box-shadow: none !important;
    border-radius: 0;
    width: calc(100% - 18px);
    padding-right: 12px;
}

#dialog .scocGrid .ui-widget-content .scocROColumn a.ui-commandlink.ui-widget {
    color: #fff;
}

.p-20 tbody tr a.ui-commandlink.ui-widget,
.p-20 tbody tr:hover a.ui-commandlink.ui-widget,
.p-20 tbody tr.ui-state-highlight a.ui-commandlink.ui-widget{
    color: #4f4f4f;
}

.p-20 .ui-icon-check{
    background-position: -65px -145px;
}

#dialog  .scocGrid .fa {
    margin-left: -10px;
}

#dialog .scocGrid .anfoListFreigabeButton {
    height: 19px;
    width: 19px;
    padding: 2px;
    margin-right: 0px;
}

.ub-dialog-button {
    width: 12px;
    height: 12px;
    padding: 6px;
    margin: 0px 0px 0px -30px;
    position: absolute;
}

.ub-dialog-save-button {
    margin-left: -60px;
}

.ui-selectcheckboxmenu-multiple.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all,
.ui-selectcheckboxmenu-multiple.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all.ui-state-hover,
.ui-selectcheckboxmenu-multiple.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all.ui-state-active {
    box-shadow: none;
    border-color: rgba(79, 79, 79, 0.5);
}

ul.ui-selectcheckboxmenu-multiple-container.ui-widget.ui-inputfield.ui-state-default.ui-corner-all,
ul.ui-selectcheckboxmenu-multiple-container.ui-widget.ui-inputfield.ui-state-default.ui-corner-all.ui-state-hover,
ul.ui-selectcheckboxmenu-multiple-container.ui-widget.ui-inputfield.ui-state-default.ui-corner-all.ui-state-active,
.ui-selectcheckboxmenu-multiple.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all div.ui-selectcheckboxmenu-trigger.ui-state-default.ui-corner-right,
.ui-selectcheckboxmenu-multiple.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all div.ui-selectcheckboxmenu-trigger.ui-state-default.ui-corner-right.ui-state-hover,
.ui-selectcheckboxmenu-multiple.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all div.ui-selectcheckboxmenu-trigger.ui-state-default.ui-corner-right.ui-state-active {
    border: none;
    box-shadow: none;
}

ul.ui-selectcheckboxmenu-multiple-container.ui-widget.ui-inputfield.ui-state-default.ui-corner-all li.ui-selectcheckboxmenu-token.ui-state-active.ui-corner-all{
    background: rgba(34, 35, 36, 0.7);
    color: rgba(255, 255, 255, 1);
    border: none;
}

.ui-selectcheckboxmenu-multiple.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all ul.ui-selectcheckboxmenu-multiple-container.ui-widget.ui-inputfield.ui-state-default.ui-corner-all li.ui-selectcheckboxmenu-token.ui-state-active.ui-corner-all span.ui-selectcheckboxmenu-token-icon.ui-icon.ui-icon-close{
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-aristo") !important;
}

.ui-selectcheckboxmenu-token-label{
    text-shadow: none;
    font-weight: normal;
}

.ui-selectcheckboxmenu-panel.ui-widget.ui-widget-content.ui-corner-all.ui-helper-hidden {
    box-shadow: none;
    border: 1px solid #3766a1;
    border-radius: 0 0 3px 3px;
    background-color: rgba(34, 35, 36, 0.9);
}

.ui-selectcheckboxmenu-panel.ui-widget.ui-widget-content.ui-corner-all.ui-helper-hidden div.ui-widget-header.ui-corner-all.ui-selectcheckboxmenu-header.ui-helper-clearfix{
    border-radius: 0px;
    border-bottom: 1px solid #3766a1;
    background: transparent;
}

.ui-selectcheckboxmenu-panel.ui-widget.ui-widget-content.ui-corner-all.ui-helper-hidden div.ui-selectcheckboxmenu-items-wrapper ul.ui-selectcheckboxmenu-items.ui-selectcheckboxmenu-list.ui-widget-content.ui-widget.ui-corner-all.ui-helper-reset {
    background: transparent;
    color: rgba(255, 255, 255, 0.8);
}

.ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default.ui-state-active span.ui-chkbox-icon.ui-icon.ui-icon-check {
    border-color: rgb(168, 168, 168);
}

.ui-widget-content .ui-datatable .ui-datatable-scrollable-body tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-highlight  {
    background: url("#{request.contextPath}/resources/images/bg/db_bg_10-blurred.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(34, 35, 36, 0.9);
    text-shadow: none;
    color: #fff;
}

.ui-widget-content .ui-datatable .ui-datatable-scrollable-body tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-highlight  > td{
    color: #fff;
}

