

.contentNav {
    width: calc(100% - 40px);
    height: 30px;
    vertical-align: middle;
    display: inline-table;
    padding: 20px 5px 0px 20px;
}

.actualContentNav {
    width: calc(100% - 40px);

}

.filter-template .content {
    top: 0px !important;
}

.contentFilter,
.filter-template .contentNav .actualContentNav  {
    height: 30px;
    vertical-align: middle;
    display: inline-table;
    padding: 20px 100% 5px 20px;
    position: fixed;
    z-index: 9;
}

.contentFilter {
    margin-top: -81px;
    z-index: 10;
}

.filter-template .contentNav .actualContentNav  {
    margin-top: -53px;
    min-width: 764px;
}

.buttons-wrapper {
    width: 100%;
    vertical-align: middle;
}

.left {
    display: inherit;
    position: relative;
    float: left;
}

.phase {
    margin-left: -480px;
    padding-left: 50%;
    float: left;
}

.center-container {
    display: flex;
    align-items: center;
}

.right {
    float: right;
}

.inline-table {
    display: inline-table;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.inline-flex {
    display: inline-flex;
}

.ui-datatable thead th {
    padding: 3px 10px;
    background: transparent !important;
}

thead .ui-state-default span.ui-icon {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-aristo");
}

thead .ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all.ui-state-hover span.ui-icon {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_616161_256x240.png.xhtml?ln=primefaces-aristo");
}


thead .ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all {
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.4);
    height: 28px;
    box-shadow: none;
    min-width: 178px !important;
    margin-top: 1px;
}

thead .ui-selectonemenu-label.ui-inputfield.ui-corner-all {
    height: 22px;
    background: transparent;
    color: rgba(255, 255, 255, 0.9);
    width: 151px;
    padding: 3px 5px 0px 5px;
}

thead .ui-selectonemenu-trigger.ui-state-default.ui-corner-right {
    background: transparent;
    border-radius: 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
    border-width: 0px 0px 0px 1px;
    padding-top: 2px;
}

thead .ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all.ui-state-hover {
    background-color: #879ab7;
    border: 1px solid #3766a1;
}

thead .ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all.ui-state-hover .ui-selectonemenu-label.ui-inputfield.ui-corner-all {
    color: #fff;
}

thead .ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all.ui-state-hover .ui-selectonemenu-trigger.ui-state-default.ui-corner-right {
    border-color: #3766a1;
}

thead a.ui-commandlink.ui-widget {
    color: #fff;
    margin-top: 4px;
    margin-right: 0px;
    text-shadow: none;
}

thead a.ui-commandlink.ui-widget:hover {
    color: #5189cd;
}


.kovAcolumn {
    background: #fff;
}

.filter-template .buttons-wrapper .right.ums-buttons-right {
    margin-top: 3px;
}
.filter-template .buttons-wrapper .right.ums-buttons-right .ui-button.ui-button-text-only.d-iflex.ums-excelButton {
    top: -3px;
    margin-right: 5px;
}
.filter-template .buttons-wrapper .right.ums-buttons-right .ums-bearbeitenButton {
    margin-top: -3px;
}

.filter-template .buttons-wrapper .right.ums-buttons-right a.ui-commandlink.d-iflex {
    margin-left: 3px;
}


/*Phasen*/

.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only  {
    background: rgba(29, 33, 41, 0.2);
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: rgba(205, 205, 205, 0.9);
    padding: 1px 2px 1px 2px;
    top: -2px;
    border-radius: 1px;
    margin-right: 22px;
    height: 30px;
}


.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-hover {
    background: rgba(81,137,205,0.3);
    border-style: solid;
    border-color: #5189cd;
}

.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.current {
    background: #222324;
    border-style: solid;
    border-color: #5189cd;
}

.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-disabled {
    opacity: 0.25;
}





.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only .ui-button-text {
    color: rgba(255, 255, 255, 0.7);
}

.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-hover .ui-button-text {
    color: rgb(255, 255, 255);
}

.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.current .ui-button-text {
    color: #fff;
}

.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-disabled .ui-button-text {
}



/*Pfeil*/
.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:before, 
.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.current:before,
.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-hover.current:before,
.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-hover:before,
.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-disabled:before {
    content: " ";
    display: block;
    position: absolute;
    top: -1px;
    left: -14px;
    z-index: 5;
    overflow: hidden;
    width: 14px;
    height: 30px;
}

.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:after,
.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.current:after,
.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-hover.current:after,
.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-hover:after,
.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-disabled:after  {
    content: " ";
    display: block;
    position: absolute;
    top: -1px;
    left: 100%;
    z-index: 5;
    overflow: hidden;
    width: 14px;
    height: 30px;
}


.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:before  {
    background: url("#{resource['images:icons/phasen-pfeile/button-pfeil-inaktiv-b.png']}") center center no-repeat;
}
/*
.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.first:before  {
    background: none;
}
*/
.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:after  {
    background: url("#{resource['images:icons/phasen-pfeile/button-pfeil-inaktiv-a.png']}") center center no-repeat;
}

.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.current:before,
.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-hover.current:before  {
    background: url("#{resource['images:icons/phasen-pfeile/button-pfeil-aktiv-b.png']}") center center no-repeat;
    z-index: 6;
}
.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.current:after,
.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-hover.current:after  {
    background: url("#{resource['images:icons/phasen-pfeile/button-pfeil-aktiv-a.png']}") center center no-repeat;
    z-index: 6;
}

.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-hover:before  {
    background: url("#{resource['images:icons/phasen-pfeile/button-pfeil-hover-b.png']}") center center no-repeat;
    z-index: 7;
}
.phase .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.ui-state-hover:after  {
    background: url("#{resource['images:icons/phasen-pfeile/button-pfeil-hover-a.png']}") center center no-repeat;
    z-index: 7;
}

table a.ui-commandlink.ui-widget.link-bubble {
    text-decoration: none;
}

.link-bubble-bericht {
    position: absolute;
}

.link-bubble-umsetzung {
    margin-left: 8px;
    margin-top: 3px;
    width: 24px;
    height: 24px;
    padding: 1px 4px;
    border: 1px solid rgba(29, 33, 41, 0.3);
    border-radius: 3px;
    background-color: #A9AAAC;
    color: white;
}

.displayNone {
    display: none;
}

.umsetzunBeschreibungText {
    cursor: pointer;
}

.link-bubble-umsetzung-head {
    border-color: white;
    text-align: center;
}

.link-bubble-umsetzung-head:hover {
    background-color: rgba(81, 137, 205, 0.6);
}

.link-bubble-umsetzung-head:hover .fa{
    color: white !important;
}

.link-bubble-umsetzung-content {
    background-color: rgba(169, 170, 172, 0.7);
}

.link-bubble-umsetzung-content:hover {
    border-color: rgb(81, 137, 205);
    background-color: rgba(81, 137, 205, 0.3);
}

.link-bubble-zuordnen {
    width: 24px;
    height: 24px;
    padding: 1px 4px;
    border: 1px solid rgba(29, 33, 41, 0.3);
    border-radius: 3px;
    background-color: rgba(29, 33, 41, 0.3);
    color: white;
}

.link-bubble-zuordnen:hover {
    border-color: rgb(81, 137, 205);
    background-color: rgba(81, 137, 205, 0.3);
    color: white !important;
}

.ui-widget a .fa{
    color: white !important;
}

.ui-widget-content:hover a .fa{
    color: white !important;
}

.ui-widget-content a:hover .fa{
    color: #5189cd !important;
}

.ui-widget a:hover .fa{
    color: #5189cd !important;
}

table span.ui-commandlink.ui-widget.ui-state-disabled.link-bubble {
    text-decoration: none;
    margin-left: 8px;
    position: absolute;
    margin-top: 1px;
}

.ui-inputfield.ui-inputtextarea.ui-widget.ui-state-default.ui-corner-all.kommentCol.ui-inputtextarea-resizable {
    width: 450px;
}

.umsHeaderSwitch.ui-button.ui-button-text-only.ui-selectbooleanbutton > .ui-button-text {
    padding-top: 1px;
    padding-bottom: 1px;
}

.ui-button.ui-button-text-only.ui-selectbooleanbutton.umsHeaderSwitch .ui-button-text {
    background: rgba(29, 33, 41, 0.30);
}

.ui-chkbox.ui-widget .ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default {
    background: rgba(29, 33, 41, 0.30);
}

.ui-columntoggler-close {
    background: rgba(29, 33, 41, 0.30);
}

.disableSelection .ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default {
    display: none;
}

.selectUmsStatus {
    width: 190px;
}

.filter-template tbody .ui-icon {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_616161_256x240.png.xhtml?ln=primefaces-aristo");
}

.margin-top-5px  {
    margin-top: 5px;
}

.ui-widget-content.no-hover.ui-row-editing.ui-state-error {
    background-color: white;
}

.ui-datatable-scrollable-theadclone 
.link-bubble-umsetzung.ui-commandlink.ui-widget.link-bubble.link-bubble-umsetzung.link-bubble-umsetzung-head {
    display: none;
}

.anzahlTrefferTextLabel {
    position: relative;
    padding: 4px 8px;
    top: -8px;
    border-radius: 3px;
    margin-left: 4px;
    background: rgba(255, 255, 255, 0.0);
    color: rgba(255, 255, 255, 1);
    padding-right: 0px;
    padding-left: 3px;
}

.anzahlTrefferTextLabel {
    color: white;
    padding: 3px 5px;
    vertical-align: middle;
    margin-left: 4px;
    border-radius: 3px;
    text-shadow: none;
    margin-top: -2px;
    background: rgba(81,137,205,0.35);
    border: 1px solid rgba(205,205,205,0.8);
    color: rgba(255, 255, 255, 1);
}

.statusBlau {
    background: rgba(81,137,205,1);
    padding: 2px 10px;
    vertical-align: middle;
    border: 1px solid rgba(18, 48, 84, 0.35);
    border-radius: 3px;
    color: white;
}