.ui-cell-editor {
    width: 230px !important;
    display: inline-block;
}
.commentShown{
    max-width: 765px !important;
    min-width: 765px !important;
}
.ui-cell-editor-output{

    width: 230px  !important;;
    display: inline-block;
}

.ui-row-editor.ui-helper-clearfix {
    width: 30px;
    display: inline-block;
}

.inlineOutputPanel {
    display: inline-block;
    width: 100px;
}

.ui-row-editor.ui-helper-clearfix::after
{
    display: inline-block;
}

.glass-table span {
    box-sizing: content-box;
}

.ui-datatable tbody td.commentShown {
    margin-left: 2px;
}

.ui-datatable tbody td.noComment div {
    margin-left: 5px;
}

.ui-datatable tbody td.commentShown div.statusSpalte {
    margin-top: 6px;
}

.ui-datatable tbody td.commentShown div.ui-cell-editor {
    margin-top: 11px;
}

.ui-datatable tbody td.commentShown div.ui-row-editor {
    margin-top: 13px;
}

.ui-datatable tbody td.commentShown div.statusSpalte.statusLabel {
    margin-top: 11px;
    text-align: center;
}

.ui-datatable tbody td.commentShown div.statusSpalte.kommentarSpalte {
    margin-left: 20px;
    margin-top: 2px;
}

.ui-datatable tbody td.commentShown a.historyLabel {
    margin-top: 12px;
}

.ui-tooltip {
    z-index: 999999999 !important;
}

.daHistorieDialogTableNoHeader .ui-datatable-scrollable-body table thead.ui-datatable-scrollable-theadclone {
    display: none;
}

.vereinbarungBeschreibungText {
    cursor: pointer;
}
