/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.12.2016, 20:32:41
    Author     : evda
*/

.kommentContainer {

}

.kommentCol {
    width: 99%;
    padding: 0px !important;    
    overflow: hidden;
    overflow-wrap: break-word;
    height: 56px;
}

.vsInfoCol, .vsDatumCol {    
    padding: 2px;
}

.vsInfoCol {
    width: 30px;
}

.vsDatumCol {
    width: 60px;
}

.anfoKommentTooltip {
    max-width: 400px !important;
    max-height: 300px !important;
    padding: 2px !important;    
    overflow-x: hidden !important;
    overflow-y: auto !important;
    overflow-wrap: break-word !important;
}

