
body.center-template {
    background: url(../resources/images/bg/db_bg_10.jpeg) no-repeat center center fixed !important;
    background-size: cover !important;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.error-wrapper {
    transform: scale(1);
}

.berechtigungEndpage {
    line-height: 1.2em;
}

.error-text-wrapper {
    text-align: left;
    margin-top: 100px;
    width: 640px;
    height: 130px;
    display: grid;
    background: rgba(34, 35, 36, 0.75);
    border-radius: 3px;
    border: 1px solid rgba(204, 204, 204, 0.5);
    padding: 12px 10px;
}

.error-text-wrapper label {
    font-size: 16px;
    margin: 6px;
    color: rgba(255,255,255,0.9);
    padding: 0px 12px 0px 0px;
}

.error-text-wrapper label:first-of-type {
    font-size: 26px;
    font-weight: bold;
    color: rgba(255,255,255,0.7);
    padding: 0px 0px 15px 0px;
    line-height: 1.3em;
}
