<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:reportingComponents="http://xmlns.jcp.org/jsf/composite/reportingComponents">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="projektReportingDashboardController" type="de.interfaceag.bmw.pzbk.reporting.projekt.dashboard.ProjektReportingDashboardController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:form id="dashboardForm">
            <div class="dashboard-wrapper" >
                <div class="ui-g">
                    <div class="ui-g-6">
                        <h:outputLink class="dashboardImageGrob"
                                      value="#{projektReportingPublicDashboardController.projectProcessUrl}" >
                            <div class="reportingDashboardItemLink">
                                <reportingComponents:dashboardItemImage name="images/draft/ProjReporting-hell-ProjAnsicht-icon.png" uid="reportsimple"  />
                                <reportingComponents:dashboardItemTitle value="#{msg.reporting_dashboard_rechts_Projektansicht}" />
                            </div>
                        </h:outputLink>
                    </div>
                    <div class="ui-g-6">
                        <h:outputLink class="dashboardImageFachteam" value="#{projektReportingPublicDashboardController.statusabgleichUrl}" >
                            <div class="reportingDashboardItemLink">
                                <reportingComponents:dashboardItemImage name="images/draft/ProjReporting-hell-StatAbgleich-icon.png" uid="reportfachteam" />
                                <reportingComponents:dashboardItemTitle value="#{msg.reporting_dashboard_rechts_Statusabgleich}" />
                            </div>
                        </h:outputLink>
                    </div>
                </div>
            </div>
        </h:form>
    </cc:implementation>
</html>
