<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"      
      xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="controller" type="de.interfaceag.bmw.pzbk.datenschutzerklaerung.DatenschutzerklaerungMethods"/>
        <cc:attribute required="true" name="viewData" type="de.interfaceag.bmw.pzbk.datenschutzerklaerung.DatenschutzerklaerungViewData"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <div id="datenschutzerklaerungContent" class="datenschutzerklaerungContent">
            <h:form id="datenschutzerklaerungForm">
                <p:remoteCommand name="processDatenschutzerklaerungForm" update="@form" action="#{cc.attrs.controller.updateDatenschutzerklaerungForUser()}"/>

                <div class="contentTab">
                    <div id="datenschutzContent" class="datenschutzContent">
                                                
                            <p:outputLabel styleClass="datenschutzerklaerungPageTitle">#{msg.datenschutzerklaerung}</p:outputLabel>
                            <p:outputLabel styleClass="infoLabelImportant">#{msg.datenschutzerklaerung_message}.</p:outputLabel>
                            <p:outputLabel styleClass="infoLabelImportant">#{msg.datenschutzerklaerung_warnung}.</p:outputLabel>         

                            <div class="datenschutzerklaerungWrapper" >
                                <h:outputText id="datenschutzerklaerungText"
                                                  value="#{cc.attrs.viewData.datenschutzerklaerungText}"
                                                  styleClass="datenschutzerklaerungText"/>                   

                                
                            </div>

                        
                    </div>

                    <div class="datenschutzFooter">
                        <p:selectBooleanCheckbox  id="readAndUnderstoodCheckbox" value="#{cc.attrs.viewData.datenschutzerklaerungReadAndUnderstood}" 
                                                  styleClass="readAndUnderstoodCheckbox"                                           
                                                  itemLabel="#{msg.datenschutzerklaerung_gelesen_und_verstanden}">
                            <p:ajax update="akzeptiereButton"/>
                        </p:selectBooleanCheckbox>                
                        <p:commandButton id="akzeptiereButton" class="button akzeptiereButton" 
                                         disabled="#{cc.attrs.controller.notReadyToBeAkzeptiert()}"
                                         value="#{msg.datenschutzerklaerung_akzeptieren}"
                                         onclick="processDatenschutzerklaerungForm()"
                                         />
                    </div>
                </div>
            </h:form>
        </div>

    </cc:implementation>

</html>
