<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <cc:interface>
        <cc:attribute required="true" name="derivat" />
    </cc:interface>

    <cc:implementation>
        <div class="top-wrapper">
            <div class="icon" >
                <p:link id="topnavDashboardIcon" outcome="dashboard.xhtml" style="text-decoration: none;">
                    <img class="db-logo-bmw clickable" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/misc/bmw_group_logo_black.png" />
                    <f:param name="derivat" value="#{cc.attrs.derivat}" />
                </p:link>
            </div>
            <div class="derivat">
                #{msg.reporting_title}
                #{cc.attrs.derivat}
            </div>
        </div>
    </cc:implementation>
</html>
