
.center-template .center {
    top: 130px;
}

.berechtigungantrag-content {
    display: flex;
}

.berechtigungantrag-subcontent {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    height: 100%;
    width: 100%;
}

.berechtigungantrag-subcontent-padding{
   margin-left: 20px;
}

.berechtigungantrag-subcontent-left-side {
    max-width: 300px;
}

.berechtigungantrag-header {
    padding: 20px;
}

.panelHeader {
    align-items: center;
    font-weight: normal;
    color: white;
    background-color: rgba(18, 48, 84, 0.7);
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-radius: 3px 3px 0 0;
}


/** button length is table-item-length */
.table-button-element {
    width: 100%
}

th.ui-state-default {
    box-shadow: none;
}

.ui-datatable.noHeaderTable th {
    display: none;
}

.ui-datatable.filterHeaderTable thead {
    background-color: rgba(18, 48, 84, 0.7);
}

.ui-datatable.filterHeaderTable th {
    padding-bottom: 15px;
}


.ui-datatable.filterHeaderTable input {
    width: 90%;
}

.ui-datatable.filterHeaderTable tbody td {
    padding: 10px 10px 10px 10px;
}

.ui-datatable.noHeaderTable tbody td {
    padding: 10px 20px;
}

.rowWrapper {
    display: flex;
    justify-content: space-between;
}

.rowWrapper .actionColumn {
    display: flex;
    flex-wrap: nowrap;
}

.rowWrapper .rowcolumn {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.contentWrapper {
    background: white;
}

.berechtigungantrag-subcontent .imageContainerSmall {
    height: 20px;
    width: 20px;
    margin-right: 3px;
    margin-left: 0px;
    background: rgba(29, 33, 41, 0.30);
    border: 1px solid rgba(29, 33, 41, 0.2);
    border-radius: 3px;
    float: left;
    padding: 2px;
}

.berechtigungantrag-subcontent .imageContainerSmall img {
    max-width: 100%;
    max-height: 100%;
}

.mitarbeiterButton {
    
}

.mitarbeiterButton:focus {
    border: 2px solid rgba(18, 48, 84, 0.7) !important;
}

