<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite"
    xmlns:filter="http://xmlns.jcp.org/jsf/composite/filter">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="vereinbarungStatusFilter" type="de.interfaceag.bmw.pzbk.vereinbarung.dto.DerivatVereinbarungStatusFilter"/>
        <cc:attribute required="true" name="appendButtonFunction" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <filter:filterHeader label="#{cc.attrs.vereinbarungStatusFilter.derivatName}"
                             smallTopMargin="#{false}"/>

        <filter:genericFilter id="vereinbarungStatusFilter" 
                              showTypeLabel="#{false}"
                              label="#{msg.status}"
                              appendButtonFunction="#{cc.attrs.appendButtonFunction}"
                              searchFilter="#{cc.attrs.vereinbarungStatusFilter.vereinbarungStatusFilter}" />
        <filter:genericFilter id="umsetzungsbestaetigungStatusFilter" 
                              showTypeLabel="#{false}"
                              label="#{msg.ubStatusKurz}"
                              appendButtonFunction="#{cc.attrs.appendButtonFunction}"
                              searchFilter="#{cc.attrs.vereinbarungStatusFilter.umsetzungsbestaetigungStatusFilter}" />

        <filter:genericFilter id="zakStatusFilter" 
                              showTypeLabel="#{false}"
                              label="#{msg.zakStatusKurz}"
                              appendButtonFunction="#{cc.attrs.appendButtonFunction}"
                              searchFilter="#{cc.attrs.vereinbarungStatusFilter.zakStatusFilter}" />

    </cc:implementation>
</ui:composition>
