<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite"
    xmlns:filter="http://xmlns.jcp.org/jsf/composite/filter">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="zuordnungStatusFilter" type="de.interfaceag.bmw.pzbk.zuordnung.DerivatZuordnungStatusFilter"/>
        <cc:attribute required="true" name="appendButtonFunction" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <filter:filterHeader label="#{cc.attrs.zuordnungStatusFilter.derivatName}"
                             smallTopMargin="#{false}"/>

        <filter:genericFilter id="zuordnungStatusFilter" 
                              showTypeLabel="#{false}"
                              label="#{msg.status}"
                              appendButtonFunction="#{cc.attrs.appendButtonFunction}"
                              searchFilter="#{cc.attrs.zuordnungStatusFilter.zuordnungStatusFilter}" />

        <filter:genericFilter id="zuordnungZakStatusFilter" 
                              showTypeLabel="#{false}"
                              label="#{msg.zakStatusKurz}"
                              appendButtonFunction="#{cc.attrs.appendButtonFunction}"
                              searchFilter="#{cc.attrs.zuordnungStatusFilter.zuordnungZakStatusFilter}" />

    </cc:implementation>
</ui:composition>
