<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="label" type="java.lang.String" />
        <cc:attribute required="true" name="smallTopMargin" type="java.lang.Boolean" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:panel styleClass="filter-header no-left-margin
                 #{cc.attrs.smallTopMargin ? 'small-top-margin' : ''}" >
            <p:outputLabel value="#{cc.attrs.label}" />
        </p:panel>
    </cc:implementation>
</ui:composition>
