<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="searchFilter" type="de.interfaceag.bmw.pzbk.filter.BooleanUrlFilter"/>
        <cc:attribute required="true" name="offLabel" type="java.lang.String"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:panelGrid columns="1" class="filter-grid w-100" columnClasses="filter-element">
            <p:selectBooleanButton id="value1"
                                   value="#{cc.attrs.searchFilter.active}"
                                   onLabel="#{msg.searchFilter_in_prozessbaukasten_on}"
                                   onchange="filter();"
                                   style="height: auto;"
                                   styleClass="resetButton quickFilter"
                                   valueChangeListener="#{cc.attrs.searchFilter.toggle()}"
                                   offLabel="#{cc.attrs.offLabel}"
                                   >
            </p:selectBooleanButton>
        </p:panelGrid>
    </cc:implementation>
</ui:composition>
