<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="searchFilter" type="de.interfaceag.bmw.pzbk.filter.DateSearchFilter"/>
        <cc:attribute required="true" name="filter"/>
        <cc:attribute required="false" name="mindate" default="#{null}"/>
        <cc:attribute required="false" name="maxdate" default="#{null}"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:panelGrid id="filterDateSelection" columns="1" class="filter-grid w-100" columnClasses="filter-column date">
            <p:outputLabel for="dateFilter" value="#{localizationService.getValue(cc.attrs.searchFilter.type.propertyName)}" />
            <p:calendar id="dateFilter"
                        class="filter-input-date"
                        value="#{cc.attrs.searchFilter.selected}"
                        pattern="dd-MM-yyyy"
                        placeholder="TT/MM/JJJJ"
                        mask="true"
                        mindate="#{cc.attrs.mindate}"
                        maxdate="#{cc.attrs.maxdate}"
                        locale="de"
                        navigator="true">
                <p:ajax event="dateSelect" onstart="#{cc.attrs.filter}" />
            </p:calendar>
        </p:panelGrid>
    </cc:implementation>
</ui:composition>
