<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite"
        xmlns:filter="http://xmlns.jcp.org/jsf/composite/filter" xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="searchFilter" type="de.interfaceag.bmw.pzbk.filter.VonBisDateSearchFilter"/>
        <cc:attribute required="true" name="filter"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <h:outputScript library="js" target="body" name="primefacesLocaleDe.js" />

        <p:panelGrid id="filterDateSelection" columns="1" class="filter-grid w-100" columnClasses="filter-column date">
            <filter:genericDateFilter id="von" 
                                      filter="#{cc.attrs.filter}"
                                      searchFilter="#{cc.attrs.searchFilter.vonDateFilter}" />

            <filter:genericDateFilter id="bis" 
                                      filter="#{cc.attrs.filter}"
                                      searchFilter="#{cc.attrs.searchFilter.bisDateFilter}" />

        </p:panelGrid>
    </cc:implementation>
</ui:composition>
