<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite"
    xmlns:filter="http://xmlns.jcp.org/jsf/composite/filter">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="searchFilter" type="de.interfaceag.bmw.pzbk.filter.MultiValueSearchFilter"/>
        <cc:attribute required="true" name="appendButtonFunction" />
        <cc:attribute required="true" name="showTypeLabel" type="java.lang.Boolean" />
        <cc:attribute required="false" name="headerLabel" type="java.lang.String" />
        <cc:attribute required="false" name="label" type="java.lang.String" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <filter:filterHeader label="#{localizationService.getValue(cc.attrs.searchFilter.type.propertyName)}" rendered="#{cc.attrs.showTypeLabel}"
                             smallTopMargin="#{false}"/>
        <filter:filterHeader label="#{cc.attrs.headerLabel}" rendered="#{cc.attrs.headerLabel ne null}" 
                             smallTopMargin="#{false}"/>

        <p:panelGrid columns="1" class="filter-grid w-100" columnClasses="filter-element">
            <p:selectCheckboxMenu id="filterMany" 
                                  class="filterManyCheckbox" 
                                  value="#{cc.attrs.searchFilter.selectedValues}" 
                                  label="#{cc.attrs.label != null ? cc.attrs.label : localizationService.getValue(cc.attrs.searchFilter.type.propertyName)}"
                                  filter="true" 
                                  filterMatchMode="contains" 
                                  panelStyle="width:720px" 
                                  onShow="#{cc.attrs.appendButtonFunction}"
                                  panelStyleClass="filterStatusMeldungPanel filterPanel"
                                  converter="#{cc.attrs.searchFilter.converter}">
                <f:selectItems value="#{cc.attrs.searchFilter.all}" var="f" 
                               itemLabel="#{f.name}" itemValue="#{f}" />
            </p:selectCheckboxMenu> 
        </p:panelGrid> 
    </cc:implementation>
</ui:composition>
