<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite"
    xmlns:filter="http://xmlns.jcp.org/jsf/composite/filter">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="searchFilter" type="de.interfaceag.bmw.pzbk.filter.MultiValueSearchFilter"/>
        <cc:attribute required="true" name="filter"/>
        <cc:attribute required="true" name="showTypeLabel" type="java.lang.Boolean" />
        <cc:attribute required="false" name="headerLabel" type="java.lang.String" />
        <cc:attribute required="false" name="label" type="java.lang.String" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <filter:filterHeader label="#{localizationService.getValue(cc.attrs.searchFilter.type.propertyName)}" rendered="#{cc.attrs.showTypeLabel}"
                             smallTopMargin="#{false}"/>
        <filter:filterHeader label="#{cc.attrs.headerLabel}" rendered="#{cc.attrs.headerLabel ne null}" 
                             smallTopMargin="#{false}"/>

        <p:panelGrid columns="1" class="filter-grid w-100" columnClasses="filter-element">
            <p:inputText id="textFilter" value ="#{cc.attrs.searchFilter.value}" 
                         onkeypress="if (event.keyCode == 13) {
                                     onchange();
                                     return false;
                                 }" >
                <p:ajax event="change" oncomplete="#{cc.attrs.filter}" />
                <p:ajax event="blur" oncomplete="#{cc.attrs.filter}" />
            </p:inputText>
        </p:panelGrid> 
    </cc:implementation>
</ui:composition>
