<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:anforderungOhneMeldungComps="http://xmlns.jcp.org/jsf/composite/anforderungOhneMeldungComps"
      xmlns:anforderungEdit="http://xmlns.jcp.org/jsf/composite/anforderungEdit"
>

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="viewData" type="de.interfaceag.bmw.pzbk.anforderungohnemeldungedit.AnforderungOhneMeldungEditViewData"/>
        <cc:attribute required="true" name="viewPermission" type="de.interfaceag.bmw.pzbk.anforderungohnemeldungedit.AnforderungOhneMeldungEditViewPermission"/>
        <cc:attribute required="true" name="anforderungOhneMeldungEditController" type="de.interfaceag.bmw.pzbk.anforderungohnemeldungedit.AnforderungOhneMeldungEditController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:outputStylesheet library="css" name="public/color.css"/>
        <h:outputStylesheet library="css" name="public/icons.css"/>

        <h:outputStylesheet library="css" name="accordion/accordion.css"/>

        <p:outputLabel id="editNichtBerechtigt" value="#{msg.nichtBerechtigt}" style="color: white; font-size: 1.3em; padding-left: 30px;" rendered="#{!cc.attrs.viewPermission.page}"/>
        <p:panel class="anfoContent anfoAnsichtBox" rendered="#{cc.attrs.viewPermission.page}">
            <h:form id="anfoForm" enctype="multipart/form-data">
                <p:growl id="growl" sticky="true" severity="error" />

                <p:remoteCommand name="save" id="save"
                                 action="#{cc.attrs.anforderungOhneMeldungEditController.save()}"
                                 update="@form"
                                 process="@form" />

                <p:inputText id="anfoSensorInput"
                             type="hidden"
                             readonly="true"
                             disabled="true" class="anfoTabInput"
                             value="#{cc.attrs.viewData.ersteller}"/>

                <div class="anfoFormular">
                    <p:accordionPanel
                        id="anfoAccordion"
                        dynamic="true"
                        multiple="true"
                        activeIndex="0,1,2,3"
                        styleClass="anfoFormularPanel"
                        style="margin-bottom:0">

                        <p:tab title="#{msg.anfoderungsformulierung}">
                            <h:panelGrid id="anforderungsformulierungTable" columns="3" class="anfoTabTable" width="100%" columnClasses="small-column,info-column,max-column">

                                <p:outputLabel id="erstellerLabel"
                                               for="erstellerInput"
                                               value="#{msg.anforderung_ersteller}"/>
                                <h:commandLink onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anforderungErstellerInput'}]); return false;" >
                                    <span class="fa fa-info-circle op-80"/>
                                </h:commandLink>
                                <p:inputTextarea id="erstellerInput" rows="1" cols="50" maxlength="200"
                                                 class="anfoTabInput"
                                                 value="#{cc.attrs.viewData.ersteller}">
                                </p:inputTextarea>


                                <p:panelGrid>
                                    <p:outputLabel id="sensorCocLabel" value="#{msg.sensorCoc}:" for="validationSensorCoc" class="anfoListPflichtfeld"/>
                                    <h:inputHidden id="validationSensorCoc"
                                                   validator="#{cc.attrs.anforderungOhneMeldungEditController.validateSensorCoc}"
                                                   value="null"
                                                   required="true"
                                                   validatorMessage="#{msg.sensorCocError}"/>
                                </p:panelGrid>
                                <h:commandLink onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoSensorCoCInput'}]); return false;">
                                    <span class="fa fa-info-circle op-80"/>
                                </h:commandLink>
                                <h:panelGrid columns="2" id="sonsorCoCPanel" class="sonsorCoCPanel">
                                    <p:commandButton
                                        id="sensorCoCHinzufuegenButton"
                                        value="#{msg.sensorCoc} #{msg.hinzufuegenKlein}"
                                        type="button"
                                        class="glass-button"
                                        onclick="PF('sensorCocDialog').show();"
                                        update="sensorCocDialog"
                                        rendered="#{cc.attrs.viewData.sensorCoc == null}"/>
                                    <p:outputPanel rendered="#{cc.attrs.viewData.sensorCoc != null}" class="sensorCoCArrowsPanel">
                                        <ul>
                                            <li><p:outputLabel value="#{cc.attrs.viewData.sensorCoc.ressort}" /></li>
                                            <li><p:outputLabel value="#{cc.attrs.viewData.sensorCoc.ortung}" /></li>
                                            <li>
                                                <p:outputLabel value="#{cc.attrs.viewData.sensorCoc.technologie}" />
                                                <p:commandLink class="sencosCoCDelete" title="#{msg.entfernen}"
                                                               rendered="#{cc.attrs.viewPermission.deleteSensorCoCButton}"
                                                               onclick="deselectSCoC()" id="deleteSensorCoc" >
                                                    <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_cancel.png"/>
                                                </p:commandLink>
                                            </li>
                                        </ul>
                                    </p:outputPanel>
                                    <p:remoteCommand name="deselectSCoC" action="#{cc.attrs.anforderungOhneMeldungEditController.deselectSensorCoC()}" update="sonsorCoCPanel :#{p:component('sensorCocDialog')} anfoSensorCoCLeiterOutput" process="@this"/>
                                </h:panelGrid>

                                <p:outputLabel value="#{msg.sensorCoCLeiter}:"/>
                                <h:commandLink onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'sensorCoCLeiter'}]); return false;">
                                    <span class="fa fa-info-circle op-80"/>
                                </h:commandLink>
                                <p:outputLabel id="anfoSensorCoCLeiterOutput" class="anfoTabInput borderless"
                                               value="#{cc.attrs.viewData.sensorCoc.sensorCoCLeiter.name}"/>

                                <p:outputLabel id="tteamLabel" for="anfoTteamInput" value="#{msg.tteam}:" class="anfoListPflichtfeld-2"/>
                                <h:commandLink onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoTeamInput'}]); return false;" >
                                    <span class="fa fa-info-circle op-80"/>
                                </h:commandLink>
                                <p:selectOneMenu id="anfoTteamInput"
                                                 value="#{cc.attrs.viewData.tteam}"
                                                 filter="true"
                                                 converter="#{cc.attrs.anforderungOhneMeldungEditController.tteamConverter}"
                                                 required="true"
                                                 disabled="#{!cc.attrs.viewPermission.tteamInput.hasRightToEdit()}"
                                                 requiredMessage="#{msg.tteamError}"
                                                 class="glass-button"
                                                 appendTo="@this"
                                                 >
                                    <p:ajax event="itemSelect" update="tteamleiterOutput" listener="#{cc.attrs.anforderungOhneMeldungEditController.updateTteamleiter()}" />
                                    <f:selectItem itemLabel="#{msg.tteamAuswahl}" itemValue="#{null}"  noSelectionOption="true"/>
                                    <f:selectItems value="#{cc.attrs.anforderungOhneMeldungEditController.workFields.allTteams}" var="aTT" itemLabel="#{aTT}" itemValue="#{aTT}" class="T-TeamBox" />

                                </p:selectOneMenu>

                                <p:outputLabel for="tteamleiterOutput" value="#{msg.tteamleiter}:" />
                                <h:commandLink onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoTeamInput'}]); return false;" >
                                    <span class="fa fa-info-circle op-80"/>
                                </h:commandLink>
                                <p:outputLabel id="tteamleiterOutput" class="anfoTabInput borderless" value="#{cc.attrs.viewData.tteam.teamleiter.name}" />

                                <p:outputLabel id="beschreibungDELabel" for="anfoBeschrAfoDEInput" value="#{msg.beschreibungAnforderung} DE:" class="anfoListPflichtfeld"/>
                                <h:commandLink onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoBeschrAfoDEInput'}]); return false;" >
                                    <span class="fa fa-info-circle op-80"/>
                                </h:commandLink>
                                <p:inputTextarea id="anfoBeschrAfoDEInput" rows="1" cols="50" maxlength="1024"
                                                 disabled="#{!cc.attrs.viewPermission.beschreibungDeInput}"
                                                 class="anfoTabInput" value="#{cc.attrs.viewData.beschreibungAnforderungDe}"
                                                 required="true" requiredMessage="#{msg.esMussEineBeschreibungAngegebenWerden}">
                                </p:inputTextarea>

                                <p:outputLabel id="beschreibungENLabel" for="anfoBeschrAfoENInput" value="#{msg.beschreibungAnforderung} #{msg.en}"
                                               rendered="true"/>
                                <h:commandLink onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoBeschrAfoENInput'}]); return false;">
                                    <span class="fa fa-info-circle op-80"/>
                                </h:commandLink>
                                <p:inputTextarea id="anfoBeschrAfoENInput" rows="1" cols="50" maxlength="1024"
                                                 disabled="#{!cc.attrs.viewPermission.beschreibungEnInput}"
                                                 class="anfoTabInput" value="#{cc.attrs.viewData.beschreibungAnforderungEn}"
                                                 required="false"
                                                 rendered="true"/>

                                <p:outputLabel for="anfoKommentarInput" value="#{msg.kommentarAnforderung}:"
                                               rendered="true"/>
                                <h:commandLink onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoKommentarInput'}]); return false;">
                                    <span class="fa fa-info-circle op-80"/>
                                </h:commandLink>
                                <p:inputTextarea id="anfoKommentarInput" rows="1" cols="50"
                                                 class="anfoTabInput" value="#{cc.attrs.viewData.kommentarAnforderung}"
                                                 required="false"
                                                 rendered="true"/>

                                <p:outputLabel id="zielwertLabel" for="anfoZielwertInput" value="#{msg.zielwert}:" class="anfoListPflichtfeld"/>
                                <h:commandLink onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoZielwertInput'}]); return false;">
                                    <span class="fa fa-info-circle op-80"/>
                                </h:commandLink>
                                <p:inputTextarea id="anfoZielwertInput"
                                                 disabled="#{!cc.attrs.viewPermission.zielwertInput}"
                                                 rows="1" cols="50" maxlength="1024"
                                                 class="anfoTabInput" value="#{cc.attrs.viewData.zielwert.wert}"
                                                 required="true"
                                                 requiredMessage="#{msg.esIstEinZielwertErforderlich}"/>

                                <p:outputLabel for="anfoZielwertKommentarInput" value="#{msg.zielwertKommentar}:"/>
                                <h:commandLink onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoZielwertKommentarInput'}]); return false;">
                                    <span class="fa fa-info-circle op-80"/>
                                </h:commandLink>
                                <p:inputTextarea id="anfoZielwertKommentarInput"
                                                 rows="1" cols="50" maxlength="1024"
                                                 disabled="#{!cc.attrs.viewPermission.kommentarZielwertInput}"
                                                 class="anfoTabInput" value="#{cc.attrs.viewData.zielwert.kommentar}"
                                                 required="false"/>
                                <p:panelGrid>
                                    <p:outputLabel id="umsetzerLabel" value="#{msg.umsetzer}:" for="validationUmsetzer" class="anfoListPflichtfeld-2"/>
                                    <h:inputHidden id="validationFahrzeugmerkmale"
                                                   validator="#{cc.attrs.anforderungOhneMeldungEditController.validateFahrzeugmerkmale}"
                                                   value="null"
                                                   required="true"
                                                   validatorMessage="#{msg.fahrzeugmerkmal_not_configured}"/>
                                </p:panelGrid>

                                <h:commandLink onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'umsetzer'}]); return false;"
                                               >
                                    <span class="fa fa-info-circle op-80"/>
                                </h:commandLink>

                                <h:panelGrid id="umsetzerPanel" columns="1" >
                                    <h:inputHidden id="validationUmsetzer"
                                                   validator="#{cc.attrs.anforderungOhneMeldungEditController.validateUmsetzer}"
                                                   value="null"
                                                   required=""
                                                   validatorMessage="#{msg.umsetzerError}"/>

                                    <p:commandButton id="umsetzerBearbeitenButton" value="#{msg.umsetzer} #{msg.bearbeiten}" type="button"
                                                     onclick="PF('umsetzerDialog').show()"
                                                     disabled="#{!cc.attrs.viewPermission.umsetzerInput}"
                                                     update="dialog:umsetzerForm:umsetzerDlgContent"
                                                     class="umsetzerBearbeitenButton glass-button"/>
                                    <p:tooltip showDelay="500"  for="umsetzerBearbeitenButton"  position="bottom" value="#{msg.tooltipp_afoMeldEditComp_umsetzerBearbeitenButton}" />
                                    <h:panelGrid id="modulsPanel" columns="1" class="modulsPanel">
                                        <p:dataTable id="modulsTable" class="modulsTable"
                                                     value="#{cc.attrs.viewData.freigaben}"
                                                     var="freigabe"
                                                     emptyMessage="#{msg.modulFreigabeEmpty}"
                                                     rowKey="#{freigabe.seTeamId}">

                                            <p:column id="modulNameColumn" class="modulNameContainer" headerText="#{msg.modul}">
                                                #{freigabe.modulName} > #{freigabe.seTeamName}
                                            </p:column>
                                            <p:column class="dropDownIconConainter">
                                                <p:rowToggler id="rowToggler" />
                                            </p:column>
                                            <p:column class="markVereinbarungConainter" headerText="#{msg.vereinbarungstyp}">
                                                <p:selectBooleanButton id="vereinbarungTypeInput"  disabled="#{!cc.attrs.viewPermission.umsetzerInput}" value="#{freigabe.zak}"
                                                                       onLabel="ZAK" offLabel="STD">
                                                </p:selectBooleanButton>
                                                <p:tooltip showDelay="500"  for="vereinbarungTypeInput"  position="bottom"
                                                           value="#{msg.tooltipp_afoMeldEditComp_vereinbarenTypInput}" />
                                            </p:column>
                                            <p:column class="markFreigabeConainter"  headerText="#{msg.freigabe}">
                                                <ui:fragment  rendered="#{freigabe.freigabe}">
                                                    <div class="imageContainer"><img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon-check-green.png"/></div>
                                                </ui:fragment>
                                            </p:column>
                                            <p:column id="fahrzeugmerkmalColumn" headerText="#{msg.fahrzeugmerkmale}" >
                                                <anforderungEdit:fahrzeugmerkmalEditButton id="fahrzeugmerkmalEditButton"
                                                                                           anforderungEditFahrzeugmerkmalButtonActions="#{cc.attrs.anforderungOhneMeldungEditController}"
                                                                                           anforderungEditFahrzeugmerkmalButtonData="#{freigabe}"
                                                                                           modulSeTeamId="#{freigabe.modulSeTeamId}" 
                                                                                           rendered="#{cc.attrs.viewPermission.fahrzeugmerkmaleButton}"/>
                                            </p:column>
                                            <p:column width="16">
                                                <p:commandLink immediate="true" rendered="#{freigabe.freigabe eq false}" id="umsetzerDeleteButton"
                                                               update="modulsTable dialog:umsetzerForm:umsetzerDialog" actionListener="#{cc.attrs.anforderungOhneMeldungEditController.removeModulFreigabe(freigabe)}">
                                                    <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png" width="16px" height="16px"/>
                                                </p:commandLink>
                                                <p:tooltip showDelay="500"  for="umsetzerDeleteButton"  position="bottom" value="#{msg.tooltipp_afoMeldEditComp_umsetzerDeleteButton}" />
                                            </p:column>
                                            <p:rowExpansion>
                                                <p:dataTable value="#{cc.attrs.anforderungOhneMeldungEditController.getUmsetzerListFilteredByModulSeTeam(freigabe.seTeamId)}"
                                                             class="no-header"
                                                             var="filteredUmsetzer">
                                                    <p:column>
                                                        #{filteredUmsetzer.komponenteName} (#{filteredUmsetzer.komponentePpg})
                                                    </p:column>
                                                </p:dataTable>
                                            </p:rowExpansion>
                                        </p:dataTable>
                                    </h:panelGrid>
                                </h:panelGrid>

                                <p:outputLabel id="festgestelltInLabel" for="anfoFestgestelltInInput" value="#{msg.festgestelltIn}:" class="anfoListPflichtfeld"/>
                                <h:link onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoFestgestelltInInput'}]); return false;">
                                    <span class="fa fa-info-circle op-80"/>
                                </h:link>
                                <p:autoComplete id="anfoFestgestelltInInput"
                                                multiple="true"
                                                dropdown="true"
                                                value="#{cc.attrs.viewData.festgestelltInList}"
                                                var="fi"
                                                requiredMessage="#{msg.festgestelltInError}"
                                                itemValue="#{fi}"
                                                itemLabel="#{fi.wert}"
                                                completeMethod="#{cc.attrs.anforderungOhneMeldungEditController.completeFestgestelltIn}"
                                                converter="#{cc.attrs.anforderungOhneMeldungEditController.festgestelltInConverter}"
                                                styleClass="festgestelltInInput glass-button"
                                                required="false"
                                                appendTo="@this"
                                                >
                                    <p:ajax event="itemUnselect" process="@form" partialSubmit="true" update="anfoFestgestelltInInput"/>
                                    <p:ajax event="itemSelect" process="@form" partialSubmit="true" update="anfoFestgestelltInInput"/>
                                </p:autoComplete>

                                <p:outputLabel for="anfoPhasenbezug" value="#{msg.phasenbezug}:" />
                                <h:commandLink onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoPhasenbezug'}]); return false;" >
                                    <span class="fa fa-info-circle op-80"/>
                                </h:commandLink>
                                <p:column >
                                    <div class="d-iblock">
                                        <p:outputPanel class="ContentBooleanButton" id="anfoPhasenbezug">
                                            <p:selectBooleanButton id="anfoKonzeptrelevantInputSwitch"
                                                                   disabled="#{!cc.attrs.viewPermission.phasenbezugInput.hasRightToEdit()}"
                                                                   value="#{cc.attrs.viewData.phasenbezug}"
                                                                   onLabel="#{msg.konzeptrelevant}" offLabel="#{msg.architekturrelevant}" />
                                            <p:tooltip showDelay="500"  for="anfoKonzeptrelevantInputSwitch"  position="bottom" value="#{msg.tooltipp_afoMeldEditComp_anfoKonzeptrelevantInputSwitch}" />
                                        </p:outputPanel>
                                    </div>
                                </p:column>

                                <p:outputLabel for="anfoPotentialStandardInput"
                                               rendered="#{cc.attrs.viewPermission.potentialStandardisierungInput.rendered}"
                                               value="#{msg.potentialStandardisierung}:"/>
                                <h:commandLink onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoPotentialStandardInput'}]); return false;"
                                               rendered="#{cc.attrs.viewPermission.potentialStandardisierungInput.rendered}"
                                               >
                                    <span class="fa fa-info-circle op-80"/>
                                </h:commandLink>
                                <p:column rendered="#{cc.attrs.viewPermission.potentialStandardisierungInput.rendered}"
                                          >
                                    <div class="d-iblock">
                                        <p:outputPanel class="ContentBooleanButton" id="anfoPotentialStandardInput">
                                            <p:selectBooleanButton id="anfoPotentialStandardInputSwitch"
                                                                   disabled="#{!cc.attrs.viewPermission.potentialStandardisierungInput.hasRightToEdit()}"
                                                                   value="#{cc.attrs.viewData.potentialStandardisierung}"
                                                                   onLabel="#{msg.ja}" offLabel="#{msg.nein}" />
                                        </p:outputPanel>
                                    </div>
                                </p:column>


                                <p:panelGrid>
                                    <p:outputLabel id="referenzSystemLinkLabel" value="#{msg.anforderung_referenzsystem}:"
                                                   />
                                </p:panelGrid>
                                <h:commandLink id="addAuswirkungLink" onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anforderungReferenzSystemLinkInput'}]); return false;">
                                    <span class="fa fa-info-circle op-80"/>
                                </h:commandLink>
                                <h:panelGrid id="auswirkungenPanel" class="auswirkungenPanel"  >
                                    <div>
                                        <h:form id="auswirkungenForm" class="auswirkungenForm">
                                            <p:commandButton id="addAuswirkungBtn"
                                                             icon="ui-icon-plus"
                                                             ajax="true"
                                                             onclick="showAuswirkungInput()"
                                                             styleClass="glass-button anfoAuswBtn inline">
                                            </p:commandButton>
                                            <p:outputPanel class="auswInputPanel" id="auswInputPanel">
                                                <p:selectOneMenu
                                                    id="auswAuswirkInput"
                                                    filter="true"
                                                    styleClass="menu glass-button"
                                                    panelStyleClass="panel"
                                                    value="#{cc.attrs.viewData.newReferenzSystem}"
                                                    style="top:0;">
                                                    <f:selectItem itemLabel="#{msg.anforderung_referenzsystem}" itemValue="#{null}"
                                                                  noSelectionOption="true" itemDisabled="#{true}" />
                                                    <f:selectItems value="#{cc.attrs.viewData.referenzSysteme}"/>
                                                </p:selectOneMenu>
                                                <p:inputText
                                                    validatorMessage="#{msg.auswirkung}"
                                                    id="auswWertInput"
                                                    class="anfoTabInput auswWertInput"
                                                    placeholder="#{msg.anforderung_referenzsystem_id}"
                                                    value="#{cc.attrs.viewData.newReferenzSystemId}">
                                                </p:inputText>
                                                <p:commandButton id="addAuswirkung"
                                                                 process="@form"
                                                                 actionListener="#{cc.attrs.viewData.addReferenzSystem()}"
                                                                 async="true"
                                                                 update="editAfo:anfoForm:anfoAccordion:auswirkungenPanel"
                                                                 icon="ui-icon-plus"
                                                                 styleClass="glass-button inline">
                                                </p:commandButton>

                                            </p:outputPanel>
                                        </h:form>
                                    </div>

                                    <p:outputPanel id="auswirkungen" rendered="#{cc.attrs.viewData.referenzSystemLinksNotEmpty}">
                                        <p:dataTable value="#{cc.attrs.viewData.referenzSystemLinks}" var="ref"
                                                     editable="true"
                                                     editMode="row"
                                                     id="auswTable" class="auswTable" >
                                            <p:column headerText="#{msg.anforderung_referenzsystem}">
                                                <h:outputText id="anfoAuswirkungText" value="#{ref.referenzsystem}" class="anfoAuswText"/>
                                            </p:column>
                                            <p:column headerText="#{msg.anforderung_referenzsystem_id}" >
                                                <p:cellEditor>
                                                    <f:facet name="output">
                                                        <h:outputText id="anfoAuswirkungWert" value="#{ref.referenzsystemId}"
                                                                      class="anfoAuswWert" />
                                                    </f:facet>
                                                    <f:facet name="input">
                                                        <p:inputText id="nameChangeInput" value="#{ref.referenzsystemId}"
                                                                     class="anfoAuswWert"
                                                                     required="true" />
                                                    </f:facet>
                                                </p:cellEditor>
                                            </p:column>
                                            <p:column style="width:32px">
                                                <p:rowEditor />
                                            </p:column>
                                            <p:column width="30">
                                                <p:commandLink id="auswirkungLoeschenLink"
                                                               title="#{msg.entfernen}"
                                                               update ="editAfo:anfoForm:anfoAccordion:auswirkungenPanel"
                                                               process="@this"
                                                               class="anfoAuswDelete">
                                                    <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                                    <p:collector id="auswirkungLoeschenCollector" value="#{ref}"
                                                                 removeFrom="#{cc.attrs.viewData.referenzSystemLinks}" unique="true"/>
                                                </p:commandLink>
                                            </p:column>
                                        </p:dataTable>
                                    </p:outputPanel>

                                </h:panelGrid>



                                <p:outputLabel for="anhangUpload" value="#{msg.anhaenge}:" class="anfoListPflichtfeld-2"/>
                                <h:commandLink onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anhangUpload'}]); return false;">
                                    <span class="fa fa-info-circle op-80"/>
                                </h:commandLink>
                                <anforderungOhneMeldungComps:anforderungOhneMeldungEditAnhangEditComp id="anhangUpload" anforderungOhneMeldungEditController="#{cc.attrs.anforderungOhneMeldungEditController}"
                                                                                                      viewData="#{cc.attrs.viewData}" />
                            </h:panelGrid>
                        </p:tab>
                    </p:accordionPanel>
                </div>
            </h:form>
        </p:panel>

    </cc:implementation>
</html>
