<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="anforderungOhneMeldungController" type="de.interfaceag.bmw.pzbk.anforderungohnemeldungview.AnforderungOhneMeldungViewController"/>
        <cc:attribute required="true" name="viewData" type="de.interfaceag.bmw.pzbk.anforderungohnemeldungview.AnforderungOhneMeldungViewAnforderungData" />

    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:outputStylesheet library="css" name="public/color.css"/>
        <h:outputStylesheet library="css" name="public/icons.css"/>

        <div id="#{cc.clientId}">
            <p:outputLabel id="viewNichtBerechtigt" value="#{msg.nichtBerechtigt}"
                           style="color: white; font-size: 1.3em; padding-left: 30px;"
                           rendered="#{!cc.attrs.anforderungOhneMeldungController.viewPermission.page}"/>


            <h:form id="anfoderungOhneMeldungViewForm">
                <p:panel class="anfoAnsichtPanel transparent"
                         rendered="#{cc.attrs.anforderungOhneMeldungController.viewPermission.page}">
                    <div class="left">
                        <!-- Beschreibung -->
                        <p:outputPanel class="glass-box anfoAnsichtBox beschreibung">
                            <div class="box-header">#{msg.anforderung}</div>
                            <div class="box-content row">
                                <div class="ui-g-12">
                                    <div class="row">
                                        <div class="anfoSmallColumn">
                                            <p:outputLabel value="#{msg.beschreibungAnforderung}:"/>
                                        </div>
                                        <div class="anfoBigTextColumn">
                                            <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_flag_ger.png" class="icon m-r-5"/>
                                            <p:inplace id="inplaceBeschreibung" effect="fade" editor="true" disabled="#{!cc.attrs.anforderungOhneMeldungController.viewPermission.inViewEditDisable}"  >
                                                <f:facet name="output">
                                                    <p:outputLabel  id="anfoBeschrDeText" class="pre-wrap" value="#{cc.attrs.viewData.beschreibungAnforderungDe}" />
                                                    <p:graphicImage rendered="#{cc.attrs.anforderungOhneMeldungController.viewPermission.inViewEditDisable}" url="/resources/images/icons/white/icon_edit.png" class="glass inplace_edit_button" />
                                                </f:facet>
                                                <f:facet name="input">
                                                    <p:ajax event="save" listener="#{cc.attrs.anforderungOhneMeldungController.saveFromView()}" update="@form" />
                                                    <p:inputTextarea style="width: 100%;" value="#{cc.attrs.anforderungOhneMeldungController.anforderungOhneMeldungViewWorkFields.beschreibungAnforderungDe}" required="true" label="#{msg.beschreibungAnforderung}" />
                                                </f:facet>
                                            </p:inplace>
                                        </div>
                                        <div>

                                        </div>
                                    </div>
                                    <ui:fragment rendered="#{! empty cc.attrs.viewData.beschreibungAnforderungEn}">
                                        <div class="row">
                                            <div class="anfoSmallColumn"></div>
                                            <div class="anfoBigTextColumn">
                                                <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_flag_eng.png"
                                                     class="icon m-r-5"/>
                                                <p:outputLabel id="anfoBeschrEnText" class="pre-wrap"
                                                               value="#{cc.attrs.viewData.beschreibungAnforderungEn}" />
                                            </div>
                                        </div>
                                    </ui:fragment>

                                    <div class="ui-g-6">
                                        <div class="row">
                                            <div class="anfoSmallColumn">
                                                <p:outputLabel  value="#{msg.zielwert}:"/>
                                            </div>
                                            <div class="anfoSmallTextColumn">
                                                <p:outputLabel styleClass="fa icon-zielwert m-r-5"/>
                                                <p:outputLabel id="anfoZielwertWertText" class="pre-wrap" value="#{cc.attrs.viewData.zielwert.wert} " />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="anfoSmallColumn">
                                                <p:outputLabel value="#{msg.zielwertKommentar}:"/>
                                            </div>
                                            <div class="anfoSmallTextColumn">
                                                <p:outputLabel id="anfoZielwertKommentarText" class="pre-wrap" value="#{cc.attrs.viewData.zielwert.kommentar}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-g-6">
                                        <ui:fragment rendered="#{cc.attrs.viewData.status.statusId != 0 and cc.attrs.viewData.status.statusId != 1}">
                                            <div>
                                                <p:dataTable id="freigegebeneModulsTable" class="modulsTable"
                                                             value="#{cc.attrs.viewData.anfoFreigabeBeiModul}"
                                                             var="modulFreigabe"
                                                             emptyMessage="#{msg.modulFreigabeEmpty}"
                                                             rowKey="#{modulFreigabe.modulSeTeam}"
                                                             scrollable="true"
                                                             scrollHeight="90"
                                                             >
                                                    <p:column class="modulNameContainer" headerText="#{msg.umsetzer}" >
                                                        <h:outputText id="modulId" value="#{modulFreigabe.modulSeTeam.elternModul.name} > #{modulFreigabe.modulSeTeam.name}"/>
                                                    </p:column>

                                                    <p:column class="dropDownIconConainter">
                                                        <p:rowToggler rendered="#{!cc.attrs.viewData.getUmsetzerListFilteredByModulSeTeam(modulFreigabe.modulSeTeam).isEmpty()}"/>
                                                    </p:column>

                                                    <p:column class="markVereinbarungConainter" headerText="#{msg.vereinbarung}">
                                                        <p:outputLabel value="#{modulFreigabe.vereinbarungType}" >
                                                            <f:converter converterId="vereinbarungTypeConverter" />
                                                        </p:outputLabel>
                                                    </p:column>

                                                    <p:column class="markFreigabeConainter" headerText="#{msg.status}" >
                                                        <p:outputLabel class="imageContainer" rendered="#{modulFreigabe.freigabe}"><span class="fa icon-check-green"/></p:outputLabel>
                                                        <p:outputLabel id="modulAbgelehntMark" class="imageContainer" rendered="#{modulFreigabe.abgelehnt}"><span class="fa icon-cancel-red" /></p:outputLabel>
                                                        <p:commandLink id="emptyCommentMark"
                                                                       update="dialog:anfoModulCommentForm:anfoModulCommentDialogContent:modulCommentPanel"
                                                                       actionListener="#{cc.attrs.anforderungOhneMeldungController.showAnfoModulCommentDialog(modulFreigabe)}"
                                                                       class="commentContainer link-bubble-freigabe"
                                                                       rendered="#{modulFreigabe.kommentar != null and modulFreigabe.kommentar != ''}">
                                                            <span class="fa fa-comment-o" />
                                                        </p:commandLink>
                                                        <p:tooltip showDelay="500"  for="emptyCommentMark" value="#{modulFreigabe.kommentar}"
                                                                   showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                                                                   trackMouse="true" position="none" rendered="#{modulFreigabe.kommentar != null and modulFreigabe.kommentar != ''}"/>
                                                    </p:column>

                                                    <p:column class="markEditContainer" rendered="#{not modulFreigabe.freigabe and (cc.attrs.viewData.status.statusId == 8 or cc.attrs.viewData.status.statusId == 13)}">
                                                        <p:commandLink id="modulFreigebenBtn" class="freigebenAnnehmenModul"
                                                                       rendered="#{cc.attrs.viewData.isAuthorizedForModulSeTeam(modulFreigabe.modulSeTeam)}"
                                                                       actionListener="#{cc.attrs.anforderungOhneMeldungController.showModulFreigebenDialog(modulFreigabe, true)}">
                                                            <div class="imageContainerSmall anfoListFreigabeButton"><img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_check.png"/></div>
                                                        </p:commandLink>
                                                        <p:tooltip showDelay="500"  for="modulFreigebenBtn" value="#{msg.modulfreigabe}"
                                                                   showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                                                                   trackMouse="true" position="none"/>

                                                        <p:commandLink id="modulAblehnenBtn" class="freigebenAblehnenModul"
                                                                       rendered="#{!modulFreigabe.abgelehnt and cc.attrs.viewData.isAuthorizedForModulSeTeam(modulFreigabe.modulSeTeam)}"
                                                                       actionListener="#{cc.attrs.anforderungOhneMeldungController.showModulFreigebenDialog(modulFreigabe, false)}">
                                                            <div class="imageContainerSmall anfoListFreigabeButton"><img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_cancel.png"/></div>
                                                        </p:commandLink>
                                                        <p:tooltip showDelay="500"  for="modulAblehnenBtn" value="#{msg.modulAblehnen}"
                                                                   showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                                                                   trackMouse="true" position="none"/>
                                                    </p:column>

                                                    <p:rowExpansion>
                                                        <p:dataTable value="#{cc.attrs.viewData.getUmsetzerListFilteredByModulSeTeam(modulFreigabe.modulSeTeam)}"
                                                                     class="no-header"
                                                                     var="filteredUmsetzer">
                                                            <p:column width="4%" />
                                                            <p:column>
                                                                <h:outputText value="#{filteredUmsetzer.komponente.name} (#{filteredUmsetzer.komponente.ppg})" />
                                                            </p:column>
                                                        </p:dataTable>
                                                    </p:rowExpansion>

                                                </p:dataTable>
                                            </div>
                                        </ui:fragment>
                                    </div>
                                </div>
                            </div>


                        </p:outputPanel>


                        <!-- Verantwortlichkeiten -->
                        <p:outputPanel class="glass-box anfoAnsichtBox details">
                            <div class="box-header">#{msg.verantwortlichkeiten}</div>
                            <div class="box-content grid ui-g row">
                                <div class="ui-g-6">
                                    <ui:fragment rendered="#{cc.attrs.viewData.sensorCoc ne null}">
                                        <div class="row">
                                            <div class="anfoSmallColumn"><p:outputLabel value="#{msg.sensorCoc}:"/></div>
                                            <div class="anfoSmallTextColumn"><p:outputLabel id="anfoSensorCoCText" value="#{cc.attrs.viewData.sensorCoc.technologie}" /></div>
                                        </div>
                                    </ui:fragment>

                                    <ui:fragment rendered="#{cc.attrs.viewData.tteam ne null}">
                                        <div class="row">
                                            <div class="anfoSmallColumn"><p:outputLabel value="#{msg.tteam}:" /></div>
                                            <div class="anfoSmallTextColumn"><p:outputLabel id="anfoTteamText" value="#{cc.attrs.viewData.tteam.teamName}"/></div>
                                        </div>
                                    </ui:fragment>
                                </div>
                                <div class="ui-g-6">
                                    <div class="row">
                                        <div class="anfoSmallColumn"><p:outputLabel value="#{msg.sensorCoCLeiter}:" /></div>
                                        <div class="anfoSmallTextColumn"><p:outputLabel id="anfoSensorCoCLeiterText" value="#{cc.attrs.viewData.sensorCoc.sensorCoCLeiter.name}"/></div>
                                    </div>
                                    <div class="row">
                                        <div class="anfoSmallColumn"><p:outputLabel value="#{msg.teamleiter}:" /></div>
                                        <div class="anfoSmallTextColumn"><p:outputLabel id="teamleiterText" value="#{cc.attrs.viewData.tteam.teamleiter.name}" /></div>
                                    </div>

                                </div>
                            </div>
                        </p:outputPanel>



                        <!-- Details -->
                        <p:outputPanel id="detailsPanel" class="glass-box anfoAnsichtBox details">
                            <div class="box-header">#{msg.details}</div>
                            <div class="box-content grid ui-g row">
                                <div class="ui-g-12">




                                    <div class="ui-g-6">
                                        <ui:fragment rendered="#{cc.attrs.viewData.status.statusId == 4 or
                                                                 cc.attrs.viewData.status.statusId == 5 or
                                                                 cc.attrs.viewData.status.statusId == 6 or
                                                                 cc.attrs.viewData.status.statusId == 8 or
                                                                 cc.attrs.viewData.status.statusId == 9}">
                                            <div  class="row">
                                                <div class="anfoSmallColumn"><p:outputLabel value="#{msg.phasenbezug}:"/></div>
                                                <div class="anfoSmallTextColumn"><p:outputLabel id="anfoPhasenbezugText" value="#{cc.attrs.viewData.phasenbezug eq true ? msg.konzeptrelevant : msg.architekturrelevant}" /></div>
                                            </div>
                                        </ui:fragment>
                                        <ui:fragment rendered="#{cc.attrs.viewData.status.statusId == 5 or
                                                                 cc.attrs.viewData.status.statusId == 6 or
                                                                 cc.attrs.viewData.status.statusId == 8 or
                                                                 cc.attrs.viewData.status.statusId == 9}">
                                            <div  class="row">
                                                <div class="anfoSmallColumn"><p:outputLabel value="#{msg.zeitpktUmsetzungsbest}:"/></div>
                                                <div class="anfoSmallTextColumn"><p:outputLabel id="anfoztpktUmsetzText" value="#{cc.attrs.viewData.zeitpktUmsetzungsbest eq true ? msg.vkbg : msg.vabg}" /></div>
                                            </div>
                                        </ui:fragment>
                                        <ui:fragment rendered="#{cc.attrs.viewData.status.statusId == 6 or
                                                                 cc.attrs.viewData.status.statusId == 8 or
                                                                 cc.attrs.viewData.status.statusId == 9}">
                                            <div  class="row">
                                                <div class="anfoSmallColumn"><p:outputLabel value="#{msg.potentialStandardisierung}:"/></div>
                                                <div class="anfoSmallTextColumn">
                                                    <p:outputLabel styleClass="fa icon-#{cc.attrs.viewData.potentialStandardisierung ? 'check-green': 'cancel-red'} m-r-5" />
                                                    <p:outputLabel id="anfoPotentialStandardisierungText" value="#{cc.attrs.viewData.potentialStandardisierung eq true ? msg.ja : msg.nein}" />
                                                </div>
                                            </div>
                                        </ui:fragment>
                                    </div>
                                    <div class="ui-g-6">
                                        <div class="row">
                                            <div class="anfoSmallColumn">
                                                <p:outputLabel value="#{msg.festgestelltIn}:"/>
                                            </div>
                                            <div id="festgestelltInList" class="anfoSmallTextColumn">
                                                <p:outputLabel id="anfoFestgestelltInText" class="pre-wrap" value="#{cc.attrs.viewData.festgestelltInToString()}" />
                                            </div>
                                        </div>
                                        <ui:fragment rendered="#{! empty cc.attrs.viewData.kommentarAnforderung}">
                                            <div class="row">
                                                <div class="anfoSmallColumn"><p:outputLabel value="#{msg.kommentar}:"/></div>
                                                <div class="anfoSmallTextColumn"><p:outputLabel id="anfoKommentarText" class="pre-wrap" value="#{cc.attrs.viewData.kommentarAnforderung}" /></div>
                                            </div>
                                        </ui:fragment>
                                        <div class="row">
                                            <div class="anfoSmallColumn"><p:outputLabel value="#{msg.anforderungohnemeldungview_ersteller}:" /></div>
                                            <div class="anfoSmallTextColumn"><p:outputLabel id="anfoSensorText" value="#{cc.attrs.viewData.ersteller}"/></div>
                                        </div>
                                        <div class="row">
                                            <div class="anfoSmallColumn"><p:outputLabel value="#{msg.erstellungsdatum}:"/></div>
                                            <div class="anfoSmallTextColumn"><p:outputLabel
                                                    id="erstellungsdatum"
                                                    value="#{cc.attrs.viewData.erstellungsdatum}">
                                                    <f:convertDateTime pattern="dd.MM.yyyy" type="date" />
                                                </p:outputLabel></div>
                                        </div>
                                        <div class="row">
                                            <div class="anfoSmallColumn"><p:outputLabel value="#{msg.anforderungohnemeldungview_referenzsystemlink}:" /></div>
                                            <div class="anfoSmallTextColumn"><p:outputLabel id="anforderungReferenzLinks" value="#{cc.attrs.viewData.getAllReferenzSystemLinkAsString()}"/></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </p:outputPanel>

                    </div>
                    <div class="right">
                        <!-- Grafik -->

                        <p:outputPanel class="glass-box anfoAnsichtBox grafik" >
                            <div class="box-header">Grafik</div>
                            <div class="box-content">
                                <p:graphicImage value="#{image.getImageForAnforderung(1)}"
                                                cache="false"
                                                onclick="PF('detailPanel').show();">
                                    <f:param name="objectId" value="#{cc.attrs.viewData.id}" />
                                    <f:param name="parameter" value="1" />

                                </p:graphicImage>
                            </div>
                            <p:panel id="detailPanel" widgetVar="detailPanel" visible="false" style="position: fixed; top: 50px; left: 50px; z-index: 1000;" >
                                <p:graphicImage
                                    cache="false"
                                    value="#{image.getImageForAnforderung(2)}">
                                    <f:param name="objectId" value="#{cc.attrs.viewData.id}" />
                                </p:graphicImage>
                                <p:commandLink class="grafik-close-button" onclick="PF('detailPanel').close();">
                                    <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_cancel.png"
                                         class="glass grafik-close-button"
                                         style="background-color: rgba(55, 102, 161, 0.3);"/>
                                </p:commandLink>
                            </p:panel>
                        </p:outputPanel>

                        <!-- Anhaenge -->
                        <p:outputPanel id="anhaengePanel" class="glass-box anfoAnsichtBox verantwortlichkeit"
                                       rendered="#{! empty cc.attrs.viewData.anhaenge}">
                            <div class="box-header">#{msg.anhaenge}</div>
                            <div id="anhaengeFragment" class="box-content">
                                <ui:fragment rendered="#{! empty cc.attrs.viewData.anhaenge}">
                                    <h:form id="formAnhaenge" class="formAnhaengeContainer">
                                        <ui:repeat value="#{cc.attrs.viewData.anhaenge.toArray()}" var="anh" >
                                            <div class="row anfoViewAnaengeZeile">
                                                <p:outputPanel>
                                                    <div class="ui-icon ui-icon-download"></div>
                                                </p:outputPanel>
                                                <p:outputPanel class="formAnhaengeContainer-links">
                                                    <p:commandButton ajax="false" id="anfoAnhangDl" class="fileDownloadButton" value="#{anh.dateiname}">
                                                        <p:fileDownload value="#{cc.attrs.anforderungOhneMeldungController.downloadAnhang(anh)}" />
                                                    </p:commandButton><br/>
                                                </p:outputPanel>
                                            </div>
                                        </ui:repeat>
                                    </h:form>
                                </ui:fragment>
                            </div>
                        </p:outputPanel>

                        <p:outputPanel id="derivatePanel"
                                       class="glass-box anfoAnsichtBox verantwortlichkeit"
                                       style="overflow: hidden;"
                                       rendered="#{! empty cc.attrs.viewData.anforderungDerivatList}">
                            <div class="box-header">#{msg.derivat}</div>
                            <div class="box-content">
                                <p:dataTable id="derivateDataTable"
                                             class="modulsTable no-header"
                                             scrollable="true"
                                             style="max-height: 150px; border: 0px;"
                                             scrollHeight="#{cc.attrs.viewData.anforderungDerivatList.size() > 3 ? '150' : ''}"
                                             var="da"
                                             emptyMessage="#{msg.keinemDerivatZugeordnet}"
                                             value="#{cc.attrs.viewData.anforderungDerivatList}">
                                    <p:column width="75">
                                        <p:outputLabel value="#{da.derivatName}" />
                                    </p:column>
                                    <p:column width="120">
                                        <p:outputLabel value="#{da.status.toString()}" />
                                    </p:column>
                                    <p:column width="25" rendered="#{da.zurKenntnisGenommenColumn}">
                                        <p:outputLabel id="kenntnisLabel" class="imageContainer" rendered="#{da.zurKenntnisGenommenLabel}"
                                                       ><span class="fa icon-check-green"/>
                                        </p:outputLabel>
                                        <p:tooltip showDelay="500"  for="kenntnisLabel" value="#{zurKenntnisGenommen}"
                                                   showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                                                   trackMouse="true" position="none"/>
                                        <p:commandLink id="kenntnisBtn" class="freigebenAnnehmenModul"
                                                       rendered="#{da.zurKenntnisGenommenButton}"
                                                       process="@form"
                                                       action="#{cc.attrs.anfoCtrl.acceptZurKenntnisGenommen(da)}">
                                            <div class="imageContainerSmall anfoListFreigabeButton">
                                                <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_check.png"/></div>
                                        </p:commandLink>
                                        <p:tooltip showDelay="500"  for="kenntnisBtn" value="#{msg.zurKenntnisNehmen}"
                                                   showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                                                   trackMouse="true" position="none"/>
                                    </p:column>
                                    <p:column width="40">
                                        <p:outputLabel value="#{da.isNachZakUebertragen() ? 'ZAK' : ''}" />
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </p:outputPanel>
                    </div>

                </p:panel>
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton id="confirmDialogJaButton" value="#{msg.ja}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                    <p:commandButton id="confirmDialogNeinButton" value="#{msg.nein}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>
            </h:form>
        </div>
    </cc:implementation>
</html>
