<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="anforderungOhneMeldungEditController" type="de.interfaceag.bmw.pzbk.anforderungohnemeldungedit.AnforderungOhneMeldungEditController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <div class="left" >
            <p:link id="prozessbaukastenZuordnenLink"
                    class="prozessbaukastenZuordnenLink"
                    outcome="prozessbaukastenView"
                    rendered="#{cc.attrs.anforderungOhneMeldungEditController.prozessbaukastenPresent}"
                    value="#{cc.attrs.anforderungOhneMeldungEditController.prozessbaukastenLinkName}"
                    >
                <f:param name="fachId" value="#{cc.attrs.anforderungOhneMeldungEditController.fachId}" />
                <f:param name="version" value="#{cc.attrs.anforderungOhneMeldungEditController.version}" />
            </p:link>
        </div>
        <div class="right editButtonWrapper">
            <p:commandLink class="d-iflex" id="AnfoEditSpeichernBtn"
                           onclick="save();" >
                <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_save.png" class="glass"/>
            </p:commandLink>



            <p:tooltip showDelay="500"  for="AnfoEditSpeichernBtn" value="#{msg.speichern}"
                       showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                       trackMouse="true" position="none"/>
            <p:commandLink id="cancelAnfoButton" class="d-iflex"
                           action="#{cc.attrs.anforderungOhneMeldungEditController.cancel()}">
                <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_cancel.png" class="glass"/>
            </p:commandLink>
            <p:tooltip showDelay="500"  for="cancelAnfoButton" value="#{msg.verwerfen}"
                       showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                       trackMouse="true" position="none"/>
        </div>
    </cc:implementation>
</html>
