<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:dialogs="http://xmlns.jcp.org/jsf/composite/dialogs">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="false" name="modulFreigabeCommentDialog" type="de.interfaceag.bmw.pzbk.controller.dialogs.ModulFreigabeCommentDialog"/>
        <cc:attribute required="false" name="modulFreigabeProceedDialog" type="de.interfaceag.bmw.pzbk.controller.dialogs.ModulFreigabeProccedDialog"/>
        <cc:attribute required="false" name="anforderungPlausiKomChangedCtrl" type="de.interfaceag.bmw.pzbk.controller.dialogs.AnforderungChangedInStatusPlausiConfirmDialog" />
        <cc:attribute required="false" name="versionPlusCreateNewVersionDialog" type="de.interfaceag.bmw.pzbk.controller.dialogs.VersionPlusCreateNewVersionDialog" />
        <cc:attribute required="false" name="versionPlusKommentarDialog" type="de.interfaceag.bmw.pzbk.controller.dialogs.VersionPlusKommentarDialog" />
        <cc:attribute required="false" name="changeVersionProceedDialog" type="de.interfaceag.bmw.pzbk.controller.dialogs.ChangeVersionProceedDialog" />
        <cc:attribute required="false" name="statusChangeMethodChangeDialog" type="de.interfaceag.bmw.pzbk.controller.dialogs.StatusChangeMethodChangeDialog" />
        <cc:attribute required="false" name="statusChangeNextStatusDialog" type="de.interfaceag.bmw.pzbk.controller.dialogs.StatusChangeNextStatusDialog" />
        <cc:attribute required="false" name="derivatZuordnenDialogPersistDerivat" type="de.interfaceag.bmw.pzbk.controller.dialogs.DerivatZuordnenDialogPersistDerivat" />
        <cc:attribute required="false" name="derivatZuordnenDialog" type="de.interfaceag.bmw.pzbk.controller.dialogs.DerivatZuordnenDialog" />
        <cc:attribute required="false" name="derivatAnzeigenDialogDerivatForAnforderungList" type="de.interfaceag.bmw.pzbk.controller.dialogs.DerivatAnzeigenDialogDerivatForAnforderungList" />
        <cc:attribute required="false" name="derivatAnzeigenProceedDialog" type="de.interfaceag.bmw.pzbk.controller.dialogs.DerivatAnzeigenProceedDialog" />
        <cc:attribute required="false" name="prozessbaukastenZuordnenDialogFields" type="de.interfaceag.bmw.pzbk.prozessbaukasten.zuordnen.ProzessbaukastenZuordnenDialogFields" />
        <cc:attribute required="false" name="prozessbaukastenZuordnenDialogPersist" type="de.interfaceag.bmw.pzbk.prozessbaukasten.zuordnen.ProzessbaukastenZuordnenDialogMethods" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <!-- Anforderung -->

        <h:form id="afoPlausKomChangedForm">
            <p:dialog id="anfoderungPlausiKomChangedDialog" class="customDialog"
                      dynamic="true"
                      header="#{msg.changedwarnung}"
                      widgetVar="anforderungOhneMeldungPlausiChangedDialog"
                      modal="true"
                      closable="true"
                      resizable="true"
                      width="500">
                <dialogs:anforderungPlausiChangedDialog id="anfoderungPlausiKomChangedDialogContent" 
                                                        anfoContr="#{cc.attrs.anforderungPlausiKomChangedCtrl}" />
            </p:dialog>
        </h:form>
        <h:form id="modulFreigabeForm" >
            <p:dialog id="modulFreigabeCommentDialog" class="customDialog"
                      dynamic="true"
                      header="#{msg.modul} #{msg.status} #{msg.kommentar}"
                      widgetVar="modulFreigabeCommentDialog"
                      modal="true"
                      closable="false"
                      resizable="true"
                      width="500">
                <dialogs:modulFreigabeCommentDialog id="modulFreigabeCommentDialogContent" anfoCtrl="#{cc.attrs.modulFreigabeCommentDialog}" proceed="#{cc.attrs.modulFreigabeProceedDialog}"/>
            </p:dialog>                
        </h:form>
        <h:form id="changeVersionDialogForm">
            <p:dialog id="changeVersionDialog" class="customDialog"
                      dynamic="true"
                      header="#{msg.vorherigeVersionAufKeineWeiterverfolgung}"
                      widgetVar="changeVersionDialog"
                      modal="true"
                      closable="true"
                      resizable="true"
                      width="500">
                <dialogs:changeVersionDialog id="changeVersionDialogContent" 
                                             changeVersionProceedDialog="#{cc.attrs.changeVersionProceedDialog}" />
            </p:dialog>
        </h:form>


        <h:form id="versionPlusForm">
            <p:dialog id="versionPlusDialog" class="customDialog"
                      dynamic="true"
                      header="#{msg.versionplus}"
                      widgetVar="versionPlusDialog"
                      modal="true"
                      resizable="true"
                      width="600">
                <dialogs:versionPlusDialog id="versionPlusDlgContent" versionPlusCreateNewVersionDialog="#{cc.attrs.versionPlusCreateNewVersionDialog}"
                                           versionPlusKommentarDialog="#{cc.attrs.versionPlusKommentarDialog}" />
            </p:dialog>
        </h:form>
        <h:form id="statusChangeForm">
            <p:dialog id="statusChangeDialog" class="customDialog"
                      dynamic="true"
                      header="#{msg.statusWechsel}"
                      widgetVar="statusChangeDialog"
                      modal="true"
                      resizable="true"
                      width="600">
                <dialogs:statusChangeDialog id="statusChangeDlgContent" statusChangeMethodChangeDialog="#{cc.attrs.statusChangeMethodChangeDialog}" statusChangeNextStatusDialog="#{cc.attrs.statusChangeNextStatusDialog}" />
            </p:dialog>
        </h:form>
        <h:form id="anfoModulCommentForm">
            <p:dialog id="anfoModulCommentDialog" class="customDialog"
                      dynamic="true"
                      header="#{msg.modul} #{msg.status} #{msg.kommentar}"
                      widgetVar="anfoModulCommentDialog"
                      modal="true"
                      closable="true"
                      resizable="false"
                      width="500">
                <dialogs:anfoModulCommentDialog id="anfoModulCommentDialogContent" modulFreigabeCommentDialog="#{cc.attrs.modulFreigabeCommentDialog}"/>
            </p:dialog>
        </h:form>
        <h:form id="derivateZuordnenForm">
            <p:dialog id="derivateZuordnenDialog" class="customDialog"    
                      dynamic="true"
                      closable="false"
                      header="#{msg.derivateZuordnen}"
                      widgetVar="derivateZuordnenDialog"
                      modal="true"
                      resizable="true"
                      width="500">
                <dialogs:newDerivateZuordnenDialog id="derivateZuordnenDlgContent" derivatZuordnenDialogPersistDerivat="#{cc.attrs.derivatZuordnenDialogPersistDerivat}" derivatZuordnenDialog="#{cc.attrs.derivatZuordnenDialog}" />
            </p:dialog>
        </h:form>   
        <h:form id="derivatenAnzeigenForm">
            <p:dialog id="derivatenAnzeigenDialog" class="customDialog"
                      dynamic="true"
                      closable="false"
                      header="#{msg.anforderungenNachZakUebertragen}"
                      widgetVar="derivatenAnzeigenDialog"
                      modal="true"
                      resizable="true"
                      width="600">
                <dialogs:newDerivatenAnzeigenDialog id="derivatenAnzeigenDlgContent" derivateListForAnforderung="#{cc.attrs.derivatAnzeigenDialogDerivatForAnforderungList}" derivatenAnzeigenProceedDialog="#{cc.attrs.derivatAnzeigenProceedDialog}" />                     
            </p:dialog>
        </h:form>      
        <h:form id="prozessbaukastenZuordnenForm">
            <p:dialog id="prozessbaukastenZuordnenDialog" class="customDialog"
                      dynamic="true"
                      closable="false"
                      header="#{msg.prozessbaukastenzuordnendialog_titel}"
                      widgetVar="prozessbaukastenZuordnenDialog"
                      modal="true"
                      resizable="true"
                      width="80%">
                <dialogs:prozessbaukastenZuordnenDialog id="prozessbaukastenZuordnenDialogContent" prozessbaukastenZuordnenDialogFields="#{cc.attrs.prozessbaukastenZuordnenDialogFields}" prozessbaukastenZuordnenDialogPersist="#{cc.attrs.prozessbaukastenZuordnenDialogPersist}" />                     
            </p:dialog>
        </h:form>

    </cc:implementation>
</html>

