<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:dialogs="http://xmlns.jcp.org/jsf/composite/dialogs"
      xmlns:anforderungEdit="http://xmlns.jcp.org/jsf/composite/anforderungEdit"
>

<cc:interface>
    <cc:attribute required="false" name="anforderungPlausiKomChangedCtrl"
                  type="de.interfaceag.bmw.pzbk.controller.dialogs.AnforderungChangedInStatusPlausiConfirmDialog"/>
    <cc:attribute required="false" name="sensorCocDialogFields"
                  type="de.interfaceag.bmw.pzbk.controller.dialogs.SensorCocDialogFields"/>
    <cc:attribute required="false" name="sensorCocDialogMethods"
                  type="de.interfaceag.bmw.pzbk.controller.dialogs.SensorCocDialogMethods"/>
    <cc:attribute required="false" name="umsetzerDialogFields"
                  type="de.interfaceag.bmw.pzbk.controller.dialogs.UmsetzerDialogFields"/>
    <cc:attribute required="false" name="umsetzerDialogMethods"
                  type="de.interfaceag.bmw.pzbk.controller.dialogs.UmsetzerDialogMethods"/>
    <cc:attribute required="false" name="anforderungEditFahrzeugmerkmalDialogData"
                  type="de.interfaceag.bmw.pzbk.anforderungsworkflow.edit.api.AnforderungEditFahrzeugmerkmalDialogData"/>
    <cc:attribute required="false" name="anforderungEditFahrzeugmerkmalDialogActions"
                  type="de.interfaceag.bmw.pzbk.anforderungsworkflow.edit.api.AnforderungEditFahrzeugmerkmalDialogActions"/>
    <cc:attribute required="true" name="anhang" type="de.interfaceag.bmw.pzbk.entities.Anhang"/>
</cc:interface>

<cc:implementation>

    <p:dialog id="fahrzeugmerkmalEditDialog"
              dynamic="true"
              header="#{msg.anforderung_fahrzeugmerkmal_dialog_header}"
              widgetVar="fahrzeugmerkmalEditDialog"
              modal="true"
              closable="false"
              resizable="false"
              width="600"
    >
        <anforderungEdit:fahrzeugmerkmalEditDialog id="fahrzeugmerkmalEditDialogContent"
                                                   anforderungEditFahrzeugmerkmalDialogActions="#{cc.attrs.anforderungEditFahrzeugmerkmalDialogActions}"
                                                   anforderungEditFahrzeugmerkmalDialogData="#{cc.attrs.anforderungEditFahrzeugmerkmalDialogData}"/>
    </p:dialog>


    <h:form id="afoPlausKomChangedForm">
        <p:dialog id="anfoderungPlausiKomChangedDialog" class="customDialog"
                  dynamic="true"
                  header="#{msg.changedwarnung}"
                  widgetVar="anforderungOhneMeldungPlausiChangedDialog"
                  modal="true"
                  closable="true"
                  resizable="true"
                  width="500">
            <dialogs:anforderungPlausiChangedDialog id="anfoderungPlausiKomChangedDialogContent"
                                                    anfoContr="#{cc.attrs.anforderungPlausiKomChangedCtrl}"/>
        </p:dialog>
    </h:form>
    <h:form id="anhangGrafikDialogForm">
        <p:dialog id="anhangGrafikDialog" class="customDialog modalFalseDialog"
                  dynamic="true"
                  header="#{cc.attrs.anhang.dateiname}"
                  widgetVar="anhangGrafikDialog"
                  modal="false"
                  closable="true"
                  resizable="true"
                  width="400">
            <dialogs:anhangGrafikDialog id="content" anhang="#{cc.attrs.anhang}"/>
        </p:dialog>
    </h:form>
    <h:form id="sensorCocForm">
        <p:dialog id="sensorCocDialog" class="customDialog umsetzerDialog"
                  dynamic="true"
                  header="#{msg.sensorCoc}"
                  widgetVar="sensorCocDialog"
                  modal="true"
                  resizable="false"
                  width="1024"
                  position="center top">
            <dialogs:sensorCocDialog id="sensorCocDlgContent" sensorCocMethods="#{cc.attrs.sensorCocDialogMethods}"
                                     sensorCocFields="#{cc.attrs.sensorCocDialogFields}"/>
        </p:dialog>
    </h:form>

    <h:form id="umsetzerForm">
        <p:dialog id="umsetzerDialog" class="customDialog umsetzerDialog"
                  dynamic="true"
                  header="#{msg.umsetzer}"
                  widgetVar="umsetzerDialog"
                  modal="true"
                  resizable="false"
                  position="center top"
                  width="1024">
            <dialogs:newUmsetzerDialog id="umsetzerDlgContent" umsetzerFields="#{cc.attrs.umsetzerDialogFields}"
                                       umsetzerMethods="#{cc.attrs.umsetzerDialogMethods}"/>
        </p:dialog>
    </h:form>

    <h:form id="infoAnzeigenForm">
        <p:dialog id="infoAnzeigenDialog" class="customDialog"
                  dynamic="true"
                  header="#{msg.details}"
                  widgetVar="infoAnzeigenDialog"
                  modal="true"
                  resizable="true"
                  width="800">
            <dialogs:infoAnzeigenDialog id="infoAnzeigenDlgContent" infotextController="#{infotextController}"/>
        </p:dialog>
        <p:remoteCommand name="showInfoAnzeigenDialog" actionListener="#{infotextController.showInfoTextDialog}"
                         update="infoAnzeigenForm"/>
    </h:form>

</cc:implementation>
</html>


