<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="anforderungOhneMeldungEditController" type="de.interfaceag.bmw.pzbk.anforderungohnemeldungedit.AnforderungOhneMeldungEditController"/>
        <cc:attribute required="true" name="viewData" type="de.interfaceag.bmw.pzbk.anforderungohnemeldungedit.AnforderungOhneMeldungEditViewData"/>


    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:panel id="attachmentPanel" class="attachmentPanel">
            <p:fileUpload  id = "fileUploadCommandLink" update="attachmentPanel"
                           label="#{cc.attrs.viewData.anhaenge.size() > 0 ? '+' : msg.hinzufuegenDnD}"
                           mode="advanced"
                           dragDropSupport="true"
                           fileUploadListener="#{cc.attrs.anforderungOhneMeldungEditController.uploadAnhang}"
                           auto="true"
                           styleClass="#{cc.attrs.viewData.anhaenge.size() > 0 ? '' : 'empty'}" >


                <p:commandButton id="removeVorschaubildButton" value="#{msg.vorschaubildEntfernen}"
                                 rendered="#{cc.attrs.viewData.anhangForBild ne null}"
                                 actionListener="#{cc.attrs.viewData.removeVorschaubild()}"
                                 update="editAfo:anfoForm:anfoAccordion:anhangUpload:anhangTable"
                                 style="margin-left: 60px;" />


                <p:dataTable value="#{cc.attrs.viewData.anhaenge}"
                             class="fileUploadTable"
                             var="anhang"
                             rowKey="#{anhang.dateiname}"
                             id="anhangTable"
                             selection="#{cc.attrs.viewData.anhangForBild}"
                             rowIndexVar="index"
                             emptyMessage="#{msg.keinAnhangVorhanden}"
                             rendered="#{cc.attrs.viewData.anhaenge.size() > 0}">

                    <p:column class="fileUploadTableColumn" headerText="#{msg.dateien}">
                        <p:commandLink
                            actionListener="#{cc.attrs.anforderungOhneMeldungEditController.showAnhangGrafikDialog(anhang)}"
                            class="fileDownloadButton" immediate="true" update="@form"
                            rendered="#{anhang.dateityp == 'image/jpeg' or anhang.dateityp == 'image/png' or anhang.dateityp == 'jpg'}"
                            value="#{anhang.dateiname}">
                        </p:commandLink>
                        <p:commandButton ajax="false" id="anfoAnhangDl" class="fileDownloadButton" value="#{anhang.dateiname}" immediate="true"
                                         rendered="#{anhang.dateityp != 'image/jpeg' and anhang.dateityp != 'image/png' and anhang.dateityp != 'jpg'}">
                            <p:fileDownload value="#{cc.attrs.anforderungOhneMeldungEditController.downloadAnhang(anhang)}" />
                        </p:commandButton>
                    </p:column>

                    <p:column headerText="#{msg.dateigroesse}" width="100">
                        <h:outputText value="#{anhang.filesizeAsString}" />
                    </p:column>

                    <p:column selectionMode="single"
                              headerText="#{msg.alsTitelbild}"
                              style="text-align:center;visibility: #{anhang.dateityp == 'image/jpeg' or anhang.dateityp == 'image/png' or anhang.dateityp == 'jpg' or anhang == null ? 'visible' : 'hidden'}">
                    </p:column>

                    <p:column headerText="" width="100">
                        <p:commandLink class="anhangDelete" title="#{msg.entfernen}" id="fileuploadDeleteFile"
                                       actionListener = "#{cc.attrs.viewData.removeAnhang(anhang)}"
                                       update=":#{cc.clientId}:attachmentPanel" process=":#{cc.clientId}:attachmentPanel">
                            <p:collector value="#{anhang}" removeFrom="#{cc.attrs.viewData.anhaenge}" unique="true"/>
                            <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                        </p:commandLink>
                        <p:tooltip showDelay="500"  for="fileuploadDeleteFile"  position="top" value="#{msg.tooltipp_anfoMgmtObjectAnhangEditComp_Fileupload_deleteFile}" />
                    </p:column>
                </p:dataTable>
            </p:fileUpload>
        </p:panel>
    </cc:implementation>
</html>