<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:link="http://xmlns.jcp.org/jsf/composite/link">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="berichtswesenCtrl" type="de.interfaceag.bmw.pzbk.berichtswesen.BerichtswesenController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <div class="p-20">  
            <h:form id="zakStatusForm">
                <p:growl id="growl" sticky="false" severity="info" showDetail="true" /> 

                <p:dataTable value="#{cc.attrs.berichtswesenCtrl.tableData}" 
                             var="tableData" 
                             id="zakStatusTable" 
                             class="glass-table"
                             emptyMessage="#{msg.keineZAKgefunden}"
                             selection="#{cc.attrs.berichtswesenCtrl.selectedTableData}"
                             rowSelectMode="checkbox"
                             rowKey="#{tableData.rowKey}"  
                             rowStyleClass="no-hover" 
                             paginator="true"
                             rowsPerPageTemplate="20,50,100"
                             paginatorPosition="bottom"
                             rows="20"
                             > 
                    <p:ajax event="rowSelectCheckbox" process="@this" update="@form zakStatusContent:zakStatusForm:zakStatusTable"/>
                    <p:ajax event="rowUnselectCheckbox" process="@this" update="@form zakStatusContent:zakStatusForm:zakStatusTable"/>
                    <p:ajax event="toggleSelect"  process="@this" update="@form zakStatusContent:zakStatusForm:zakStatusTable" listener="#{cc.attrs.berichtswesenCtrl.selectAllAnforderungen(!cc.attrs.berichtswesenCtrl.allSelected)}"/>
                    <p:column selectionMode="multiple" style="width: 16px; text-align: center;"> 
                    </p:column>
                    <p:column headerText="#{msg.anforderung}" width="50">
                        <link:anforderungLink id="anforderungShowLink" anforderungLink="#{tableData}" />
                    </p:column>
                    <p:column headerText="#{msg.modulname}" width="50">
                        <h:outputText value="#{tableData.modulName}" />            
                    </p:column>
                    <p:column headerText="ZAK-ID" width="50">
                        <a href="#{cc.attrs.berichtswesenCtrl.buildZakUrl(tableData.zakId)}">
                            <h:outputText value="#{tableData.zakId.toString()}" />  
                        </a>
                    </p:column>
                    <p:column headerText="#{msg.beschreibung}" width="180">
                        <p:commandLink 
                            update="zakStatusContent:zakStatusForm:zakStatusTable"
                            style="text-decoration: none;"
                            actionListener="#{cc.attrs.berichtswesenCtrl.toggleBeschreibung(tableData.id)}">
                            <h:outputText value="#{cc.attrs.berichtswesenCtrl.getBeschreibungFullRenderCondition(tableData.id) ? 
                                                   tableData.anforderungBeschreibungDE : tableData.anforderungBeschreibungDE.length() > 75 ? 
                                                   tableData.anforderungBeschreibungDE.substring(0,75).concat('...') : tableData.anforderungBeschreibungDE}"  />
                        </p:commandLink>
                    </p:column>
                    <p:columns id="modulColumns"
                               value="#{cc.attrs.berichtswesenCtrl.viewData.filteredDerivate}" 
                               columnIndexVar="columnIndex" 
                               headerText="#{derivat.name}"
                               sortable="true"
                               var="derivat"         
                               width="80" >
                        <f:facet name="header">
                            <div class="ui-g">
                                <div class="ui-g-6">
                                    <p:outputLabel value="#{derivat.name} #{columnKommentar}" />
                                </div>
                                <div class="ui-g-6">
                                    <p:commandLink id="kommentarSwitch" class="zakHeaderSwitch" styleClass="fa fa-comment-o link-bubble link-bubble-bericht" onclick="toggleComment(#{columnIndex})" />
                                </div>
                                <div class="ui-g-6">
                                    <h:outputText value="#{derivat.zakUpdate}" rendered="#{derivat.zakUpdate ne null}">
                                        <f:convertDateTime pattern="dd.MM.yyyy" />
                                    </h:outputText>
                                </div>
                            </div>
                        </f:facet>
                        <div class="ui-g">
                            <div class="ui-g-6">
                                <p:outputLabel rendered="#{tableData.derivateIds.contains(derivat.id) and tableData.mapForStatus.get(derivat.id) ne 'Übertragung fehlerhaft'}" 
                                               value="#{tableData.mapForStatus.get(derivat.id)}" />
                                <p:commandLink rendered="#{tableData.derivateIds.contains(derivat.id) and tableData.mapForStatus.get(derivat.id) eq 'Übertragung fehlerhaft'}" 
                                               actionListener="#{cc.attrs.berichtswesenCtrl.commentDialogController.show(tableData.zakResponse)}"
                                               value="#{tableData.mapForStatus.get(derivat.id)}" />
                                <p:commandLink
                                    actionListener="#{cc.attrs.berichtswesenCtrl.showCommentDialog(anforderungModul)}"
                                    id="zakShowCommentDialog"  
                                    rendered="#{tableData.derivateIds.contains(derivat.id) and false}"
                                    styleClass="fa fa-comment-o link-bubble link-bubble-bericht"/>
                            </div>
                            <div class="ui-g-6 commentColumn">
                                <p:panel id="commentPanel" widgetVar="commentPanel" class="commentPanel#{columnIndex}">
                                    <p:outputLabel id="columnKommentar" rendered="#{tableData.derivateIds.contains(derivat.id)}"  value="#{tableData.zakKommentar}" />
                                </p:panel>
                            </div>
                        </div>
                    </p:columns>                                        
                </p:dataTable>

                <h:commandLink id="excelExportCommandLink" style="visibility: hidden;">
                    <p:outputLabel value="#{msg.excelExport}" />
                    <p:dataExporter type="xls" postProcessor="#{cc.attrs.berichtswesenCtrl.postProcessXLS}" target="zakStatusTable" fileName="ZAKStatus" />
                </h:commandLink>
            </h:form>
        </div>
    </cc:implementation>
</html>
