<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite"
        xmlns:filter="http://xmlns.jcp.org/jsf/composite/filter">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="berichtswesenCtrl" type="de.interfaceag.bmw.pzbk.berichtswesen.BerichtswesenController"/>

    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:form id="zakStatusFilterForm" class="h-100">

            <p:remoteCommand name="filter" process="@form"
                             action="#{cc.attrs.berichtswesenCtrl.filter()}" />


            <p:panel class="filter-wrapper"> 
                <p:commandButton ajax="false"
                                 id="FilterUmsFormResetButton" 
                                 class="resetButton" 
                                 value="Reset" 
                                 action="#{cc.attrs.berichtswesenCtrl.reset()}"/>
                <p:tooltip showDelay="500"  for="FilterUmsFormResetButton"  position="bottom" value="#{msg.tooltipp_berichtswesen_filter_resetButton}" />

                <p:panelGrid columns="1" class="filter-grid w-100 berichtswesenFilterGrid" columnClasses="filter-element">


                    <filter:genericInputFilter id="anforderungFilter" 
                                               showTypeLabel="#{false}"
                                               headerLabel="#{msg.anforderung}"
                                               filter="filter()"
                                               searchFilter="#{cc.attrs.berichtswesenCtrl.berichtswesenViewFilter.anforderungFilter}" />

                    <filter:genericInputFilter id="beschreibungFilter" 
                                               showTypeLabel="#{false}"
                                               headerLabel="#{msg.beschreibung}"
                                               filter="filter()"
                                               searchFilter="#{cc.attrs.berichtswesenCtrl.berichtswesenViewFilter.beschreibungFilter}" />

                    <filter:genericFilter id="sensorCocFilter" 
                                          showTypeLabel="#{false}"
                                          headerLabel="#{msg.attribute}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{cc.attrs.berichtswesenCtrl.berichtswesenViewFilter.sensorCocFilter}" />

                    <filter:genericFilter id="modulFilter" 
                                          showTypeLabel="#{false}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{cc.attrs.berichtswesenCtrl.berichtswesenViewFilter.modulFilter}" />




                    <p:panelGrid id="freigegebenSeitFilter" columns="1" class="filter-grid w-100 berichtswesenFilterGrid" columnClasses="filter-column date">
                        <p:outputLabel  value="#{msg.berichtswesen_Filter_freigegeben_seit} "  class="berichtswesenFreigegebenSeit" />
                        <p:calendar id="freigegebendateFilter" 
                                    class="filter-input-date" 
                                    value="#{cc.attrs.berichtswesenCtrl.berichtswesenViewFilter.freigegebenSeitFilter.selected}"
                                    pattern="dd-MM-yyyy" 
                                    placeholder="TT/MM/JJJJ" 
                                    mask="true" 
                                    locale="de" 
                                    navigator="true">
                            <p:ajax event="dateSelect" onstart="filter()" />
                        </p:calendar>
                    </p:panelGrid>
                    <p:panelGrid id="geaendertSeitFilter" columns="1" class="filter-grid w-100 berichtswesenFilterGrid" columnClasses="filter-column date">
                        <p:outputLabel  value="#{msg.berichtswesen_Filter_geaendert_seit} "  class="berichtswesenFreigegebenSeit" />
                        <p:calendar id="geaendertdateFilter" 
                                    class="filter-input-date" 
                                    value="#{cc.attrs.berichtswesenCtrl.berichtswesenViewFilter.geaendertSeitFilter.selected}"
                                    pattern="dd-MM-yyyy" 
                                    placeholder="TT/MM/JJJJ" 
                                    mask="true" 
                                    locale="de" 
                                    navigator="true">
                            <p:ajax event="dateSelect" onstart="filter()" />
                        </p:calendar>
                    </p:panelGrid>

                    <ui:repeat value="#{cc.attrs.berichtswesenCtrl.berichtswesenViewFilter.berichtswesenStatusFilter}" 
                               var="berichtswesenStatusFilter" >

                        <filter:berechtigungStatusFilter id="berichtswesenStatusFilter"
                                                         appendButtonFunction="appendAnwendenButton();"
                                                         berichtswesenStatusFilter="#{berichtswesenStatusFilter}"
                                                         />

                    </ui:repeat>
                </p:panelGrid>


            </p:panel>
        </h:form>
    </cc:implementation>
</ui:composition>
