<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite">
    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="berichtswesenCtrl"
                      type="de.interfaceag.bmw.pzbk.berichtswesen.BerichtswesenController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:outputStylesheet library="css" name="zak/zakNavComp.css"/>

        <p:growl id="growl" sticky="false" severity="error" showDetail="true"/>

        <h:form id="berichtswesenNavform">
            <div id="zakStatusNav" class="zak-nav-container">

                <div class="button-left">
                    <p:remoteCommand name="berichtswesenDerivateSearch"
                                     action="#{cc.attrs.berichtswesenCtrl.updateDerivatList()}"/>

                    <p:commandLink onclick="redirectBack()" id="zakNavCompBackBtn" styleClass="navigate-back margin-right">
                        <img alt=""
                             src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_arrow_back.png"
                             class="glass margin-right"/>
                    </p:commandLink>
                    <p:tooltip showDelay="500" for="zakNavCompBackBtn" value="#{msg.zurueck}"
                               showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                               trackMouse="true" position="none"/>


                    <p:commandButton id="toggler" type="button"
                                     value="#{msg.spalten}" class="margin-right"/>
                    <p:columnToggler datasource="zakStatusContent:zakStatusForm:zakStatusTable" trigger="toggler"/>

                    <p:selectCheckboxMenu id="filterDerivate"
                                          class="contentNavSelectCheckbox margin-right"
                                          value="#{cc.attrs.berichtswesenCtrl.viewData.filteredDerivate}"
                                          label="#{msg.derivate}"
                                          filter="true"
                                          rendered="#{!cc.attrs.berichtswesenCtrl.viewData.derivate.isEmpty()}"
                                          filterMatchMode="contains"
                                          panelStyle="width: 220px"
                                          onShow="appendZAKStatusDerivateButton();"
                                          panelStyleClass="filterStatusMeldungPanel filterStatusMeldungPanel padding-right"
                                          converter="#{cc.attrs.berichtswesenCtrl.viewData.derivatConverter}">
                        <f:selectItems value="#{cc.attrs.berichtswesenCtrl.viewData.derivate}"
                                       class="whiteCheckbox"
                                       var="derivat"
                                       itemValue="#{derivat}" itemLabel="#{derivat.produktlinie} | #{derivat.name}"/>
                    </p:selectCheckboxMenu>

                    <p:outputLabel id="anzahlErgebnisse" class="headline anfoListTextlabel"
                                   value="#{cc.attrs.berichtswesenCtrl.tableData.size()} #{msg.ergebnisse}"/>
                </div>
                <div class="button-right">
                    <p:commandButton id="excelExportButton"
                                     value="#{msg.export}"
                                     class="margin-right"
                                     onclick="$('#zakStatusContent\\:zakStatusForm\\:excelExportCommandLink').click();"/>
                    <p:tooltip showDelay="500" for="excelExportButton" value="#{msg.inExcelExportieren}"
                               showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                               trackMouse="true" position="none"/>
                    <p:commandButton id="generateLinkButton"
                                     value="#{msg.linkGenerieren}"
                                     process="@this"
                                     actionListener="#{copyLinkDialogController.show(cc.attrs.berichtswesenCtrl.url)}"
                    />

                    <p:inputText id="urlText" value="#{cc.attrs.berichtswesenCtrl.url}" style="display:none;"/>
                    <p:growl id="link" sticky="false" severity="info" showDetail="true"/>
                    <p:tooltip showDelay="500" for="generateLinkButton" value="#{msg.linkFuerDieAuswahl}"
                               showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                               trackMouse="true" position="none"/>
                </div>

            </div>
        </h:form>
    </cc:implementation>
</ui:composition>
