
.zak-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.navigate-back {
    align-items: center;
    display: flex;
}

.button-left {
    display: flex;
    align-items: center;
}

.button-right {
    display: flex;
}

.margin-right {
    margin-right: 5px !important;
}