
.ui-button.ui-widget.ui-state-default.ui-corner-all.resetButton.doubleHeightButton {
    height: 40px;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.resetButton.anwendenButton {
    height: 28px;
    margin-top: 0px;
    background: rgba(29, 33, 41, 0.3);
    border: 1px solid rgba(204, 204, 204, 0.5);
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.resetButton {
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    margin-top: 4px;
    height: 20px;
    cursor: pointer;
    border: 1px solid #999;
    margin-left: 5px;
    z-index: 999999;
    position: absolute;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.resetButton span {
    padding: 1px 8px 1px 8px;
    text-shadow: none;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-right.resetButton.d-iflex span {
    padding-right: 25px;
}

.filter-wrapper .ui-widget-content .ui-button.ui-widget.ui-state-default.ui-corner-all.resetButton:hover,
.ui-button.ui-widget.ui-state-default.ui-corner-all.resetButton:hover {
    cursor: pointer;
    background: rgba(81, 137, 205, 0.5);
    border: 1px solid #5189CD;
}

.filter-wrapper .ui-widget-content .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-state-disabled.resetButton:hover,
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-state-disabled.resetButton:hover {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #999;
    cursor: default;
}

.filter-template .ui-icon.ui-icon-close:hover,
.filter-template .ui-icon.ui-icon-circle-close:hover {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_2e83ff_256x240.png.xhtml?ln=primefaces-aristo");
}

.filter-wrapper.ui-panel.ui-widget.ui-widget-content.ui-corner-all {
    padding-left: 25px !important;
}

.filter-template .ui-state-hover .ui-icon.ui-icon-triangle-1-s {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_2e83ff_256x240.png.xhtml?ln=primefaces-aristo") !important;
}

.ui-widget-content .ui-icon {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-aristo");
}

.quickFilter {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    margin-left: 0px !important;
    width: 170px;
}

.filter-grid .ui-widget-content {
    color: transparent;
}

.filter-column.ui-panelgrid-cell {
    padding-left: 0px;
}

td .ui-panelgrid-cell {
    background: transparent;
    border: 0px;
    color: white;
}

.ui-panelgrid .ui-panelgrid-cell {
    border: 0px;
}

tr .ui-widget-content {
    background-color: transparent;
    color: white;
    border: 0px;
}

.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all.filterManyCheckbox {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: none;
    text-shadow: none;
    width: 170px;
}

.ui-selectcheckboxmenu-trigger {
    color: white !important;
}

.ui-selectcheckboxmenu-trigger :hover {
    color: #5189cd !important;
}

.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all.filterManyCheckbox .ui-selectcheckboxmenu-label.ui-corner-all {
    border: 1px solid transparent;
}

.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all.filterManyCheckbox .ui-selectcheckboxmenu-label.ui-corner-all.ui-state-hover,
.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all.filterManyCheckbox.ui-state-focus:hover .ui-selectcheckboxmenu-label.ui-corner-all {
    background: transparent;
    border: 1px solid #5189cd;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    box-shadow: none;
}

.ui-selectcheckboxmenu-trigger.ui-state-default.ui-corner-right {
    background: transparent;
    box-shadow: none;
}