
.contentFilter, .filter-template .contentNav {
    width: calc(100% - 260px);
    height: 30px;
    vertical-align: middle;
    display: inline-table;
    padding: 10px 100% 5px 20px;
    position: fixed;
    z-index: 9;
}

.reportingTteamTable {
    width: 350px;
    padding-right: 0px;
    padding-top: 0px;
}

.reportingTteamTableHead {
    background: #222324;
    padding: 1px 2px 1px 2px;
    border-radius: 1px;
    margin-right: 12px;
    height: 26px;
    box-shadow: 0 0;
    text-shadow: 0 0;
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid #5189cd;
    text-align: center;
    margin-left: 12px;


    font-weight: normal;
    font-size: 1.1em;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

.reportingTteamTableHead:before {
    background: url("#{request.contextPath}/resources/images/icons/phasen-pfeile/button-pfeil-aktiv-b.png") center center no-repeat;
    content: " ";
    display: block;
    position: absolute;
    z-index: 5;
    overflow: hidden;
    width: 14px;
    height: 30px;
    margin-left: -16px;
    top: 41px;
}

.reportingTteamTableHead:after {
    background: url("#{request.contextPath}/resources/images/icons/phasen-pfeile/button-pfeil-aktiv-a.png") center center no-repeat;
    content: " ";
    display: block;
    position: absolute;
    z-index: 5;
    overflow: hidden;
    width: 14px;
    height: 30px;
    margin-left: 315px;
    top: 41px;
}

.reportingTteamTable tbody tr {
    height: 28px;
}

.reportingCocTable {
    width: 400px;
    padding-right: 0px;
    padding-top: 0px;
}


.reportingCocTableHead {
    background: #222324;
    padding: 1px 2px 1px 2px;
    border-radius: 1px;
    margin-right: 12px;
    height: 26px;
    box-shadow: 0 0;
    text-shadow: 0 0;
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid #5189cd;
    text-align: center;
    margin-left: 12px;

    font-weight: normal;
    font-size: 1.1em;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

.reportingCocTableHead:before {
    background: url("#{request.contextPath}/resources/images/icons/phasen-pfeile/button-pfeil-aktiv-b.png") center center no-repeat;
    content: " ";
    display: block;
    position: absolute;
    z-index: 5;
    overflow: hidden;
    width: 14px;
    height: 30px;
    margin-left: -16px;
    top: 41px;
}

.reportingCocTableHead:after {
    background: url("#{request.contextPath}/resources/images/icons/phasen-pfeile/button-pfeil-aktiv-a.png") center center no-repeat;
    content: " ";
    display: block;
    position: absolute;
    z-index: 5;
    overflow: hidden;
    width: 14px;
    height: 30px;
    margin-left: 365px;
    top: 41px;
}

.reportingCocTable tbody tr {
    height: 28px;
}

.reporting-tteamTable-legend-content-width {
    padding-left: 8px !important; /* override grid */
    padding-top: 30px !important; /* override grid */
    padding-bottom: 30px;
    width: calc(33.3333% + 750px + 18px);
}
