.reporting-legend-layout-container {
    display: flex;
    flex-direction: column;
}

.reporting-legend-container {
    display: flex;
    justify-content: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
}

.reporting-legend-container :first-child {
    padding-left: 10px;
}

.reporting-legend-icon-container {
    padding-right: 30px;
    color: white;
    flex-wrap: unset;
}

/* override icon glass styles */
.glass {
    border: none;
    background: none;
}

.glass:hover {
    border: none;
    background: none;
}
