.filter-template .content {
    overflow: auto;
}

.contentFilter, .filter-template .contentNav {
    width: calc(100% - 260px);
    height: 30px;
    vertical-align: middle;
    display: inline-table;
    padding: 20px 100% 5px 20px;
    position: fixed;
    z-index: 9;
}

.fachteam-table-container {
    /* dynamic height is used for table legend*/
    height: calc(100% - 500px);
}

.reporting-fachteam-content_width {
    padding-left: 8px;
    padding-top: 30px;
    padding-bottom: 30px;
    /*note 33.33% is left side and 500px is the right side of the table, the last 20 px is padding*/
    width: calc(33.3333% + 500px - 17px);
}

.reportingFachteamTableHead:after {
    background: url("#{request.contextPath}/resources/images/icons/phasen-pfeile/button-pfeil-aktiv-a.png") center center no-repeat;
    content: " ";
    display: block;
    position: absolute;
    z-index: 5;
    overflow: hidden;
    width: 14px;
    height: 30px;
    margin-left: 463px;
    top: 41px;
}

.reportingFachteamTableHeadText {
    color: #fff;
    padding: .3em 1em;
    display: block;
    line-height: normal;
    text-shadow: 0 0;
    font-weight: normal;
    font-size: 1.1em;
    font-family: Arial, sans-serif;
    cursor: pointer;
    text-align: center;
}

.reportingFachteamTable {
    width: 500px;
    padding-right: 0px;
    padding-top: 0px;
}

.reportingFachteamTable tbody tr {
    height: 28px;
}

.reportingFachteamTableHead {
    background: #222324;
    padding: 1px 2px 1px 2px;
    border-radius: 1px;
    margin-right: 12px;
    height: 26px;
    box-shadow: 0 0;
    text-shadow: 0 0;
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid #5189cd;
    text-align: center;
    margin-left: 12px;
}

.reportingFachteamTableHead:before {
    background: url("#{request.contextPath}/resources/images/icons/phasen-pfeile/button-pfeil-aktiv-b.png") center center no-repeat;
    content: " ";
    display: block;
    position: absolute;
    z-index: 5;
    overflow: hidden;
    width: 14px;
    height: 30px;
    margin-left: -16px;
    top: 41px;
}
