.reportingZeitraum {
    color: white;
    font-size: 1.7em;
    line-height: 1.74;
    margin-bottom: 2%;
}

.svg-wrapper {
    margin-top: 15px;
}

.reportingSensorCocTabelle {
    padding-right: 0px;
    padding-top: 0px;
}

.reportingSensorCocTabelle tbody tr {
    height: 28px;
}


.ui-g-12 {
    margin: 0px;
    padding: 0px;
    padding-right: 25px;
}

.filter-template .content {
    top: 53px !important;
}

.filter-template .contentNav {
    min-width: 764px;
}

.no-header {
    margin-top: 28px;
}

.no-header thead {
    display: none;
}

.ui-datatable thead th.reportingTableHeadIcon {
    width: 40px;
    height: 28px;
    background-size: 20px !important;
    background-repeat: no-repeat !important;
    background-position: 6px 4px !important;
}

.reportingTablePlatzhalter {
    width: 40px;
    height: 28px;
    background-size: 20px !important;
    background-repeat: no-repeat !important;
    background-position: 6px 4px !important;
}

.ui-datatable thead th.reportingTableHeadIconEingang {
    background-image: url("#{request.contextPath}/resources/images/icons/ssa-prozess/icon-eingang.png") !important;
}

.ui-datatable thead th.reportingTableHeadIconAusgang {
    background-image: url("#{request.contextPath}/resources/images/icons/ssa-prozess/icon-ausgang.png") !important;
}

.ui-datatable thead th.reportingTableHeadIconBearbeitung {
    background-image: url("#{request.contextPath}/resources/images/icons/ssa-prozess/icon-in-bearbeitung.png") !important;
}

.ui-datatable thead th.reportingTableHeadIconDurchschLaufzeit {
    background-image: url("#{request.contextPath}/resources/images/icons/ssa-prozess/icon-uhr.png") !important;
}

.ui-datatable thead th.reportingTableHeadIconFreigegeben {
    background-image: url("#{request.contextPath}/resources/images/icons/white/icon_check.png") !important;
}

.ui-datatable thead th.reportingTableHeadIconLanglaufer {
    background-image: url("#{request.contextPath}/resources/images/icons/ssa-prozess/icon-langlaufer.png") !important;
    background-size: 25px !important;
    background-position: 6px 3px !important;
}

.ui-datatable thead th.reportingTableHeadIconTrash {
    background-image: url("#{request.contextPath}/resources/images/icons/ssa-prozess/icon-trash.png") !important;
}

/* Info reporting Tooltip  */

a.reportingtooltip {
    position: relative;
    text-decoration: none;
    color: white
}

.dashboardItemTitleWrapper {
    width: 70%;
    padding: 0% 15%;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.80);
    border-width: 0px 1px 1px 1px;
    border-radius: 0px 0px 3px 3px;
    background-color: rgba(81, 137, 205, 0.5);
    text-align: center;
}

.reportingDashboardWrapper .ui-g-6 {
    padding: 10px 10px 20px;
}

.dashboardItemTitle {
    line-height: 2.3em;
    font-size: 1.3em;
    text-align: center;
}

.dashboardImageWrapper {
    padding: 8% 20%;
    width: 60%;
    background: rgba(181, 181, 181, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.80);
    border-radius: 3px 3px 0px 0px;
    height: 60%;
    display: flex;
    justify-content: space-around;
}

.dashboardImage {
    width: 340px;
    height: auto;
    margin: auto;
    padding: 0px;
}

.reportingDashboardItemLink {
    color: rgba(255, 255, 255, 1.0);
    text-decoration: none;
}

.reportingDashboardWrapper {
    width: 900px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.reportingDashboardItemLink:hover .dashboardImageWrapper {
    background: rgba(81, 137, 205, 0.5);
    border-color: #5189CD;
}

.reportingDashboardItemLink:hover .dashboardItemTitleWrapper {
    background: rgba(81, 137, 205, 0.8);
    border-color: #5189CD;
}

.textExpandable:hover, .textCollapsible:hover {
    cursor: pointer;
}


th.ui-state-default.ui-sortable-column.ui-state-hover {
    color: #4f4f4f;
}

thead th.ui-state-default.ui-sortable-column span.ui-icon {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_616161_256x240.png.xhtml?ln=primefaces-aristo");
}

.pointer {
    cursor: pointer;
}

text {
    cursor: default;
}

#tooltipWrapper {
    position: absolute;
    top: 100px;
    right: 10px;
    z-index: 10;
}

#tooltipHeader {
    visibility: hidden;
    width: 426px;
    top: -30px;
    height: 20px;
    background: rgba(55, 102, 161, 0.7) !important;
    color: #fff;
    text-shadow: none;
    padding: 6px 4px 5px 20px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 3px 3px 0px 0px;
    border-color: #fff;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    box-sizing: border-box;
}

#tooltipWrapper .ui-outputpanel {
    background-color: white;
    visibility: hidden;
    height: calc(100vh - 220px) !important;
    width: 410px;
    padding: 15px 20px 15px 20px !important;
    font-size: 14px;
    border-radius: 0px 0px 3px 3px;
    border-color: #fff;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    box-sizing: border-box;
}

.tooltip-closethick {
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 15px;
    border-radius: 3px;
    border: 1px solid transparent;
}

.tooltip-closethick:hover {
    border: 1px solid #fff;
}

.snapshot {
    cursor: default;
}
