<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite"
    xmlns:filter="http://xmlns.jcp.org/jsf/composite/filter">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="systemMonitoringController" type="de.interfaceag.bmw.pzbk.systemMonitoring.SystemMonitoringController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:form id="systemMonitoringFilterForm" class="h-100">

            <p:remoteCommand name="filter" process="@form" update="@form systemMonitoringNavigation:systemMonitoringNav systemMonitoringDashboardContent:monitoring-form-table" actionListener="#{cc.attrs.systemMonitoringController.changeFilterEvent()}" />

            <p:panel class="filter-wrapper">
                <p:panelGrid columns="1" class="filter-grid w-100">
                    <p:outputLabel class="filter-header" value="Zeitraumfilter" />
                    <filter:genericVonBisDateFilter id="datumMonitoringFilter"
                                                    filter="filter()"
                                                    searchFilter="#{cc.attrs.systemMonitoringController.filter}" />

                    <filter:genericSingleFilter id="monitoringDerivatFilter"
                                                showTypeLabel="#{false}"
                                                headerLabel="Optional Filter"
                                                itemLabel="#{msg.projektreporting_statusabgleich_derivatAuswaehlen}"
                                                searchFilter="#{cc.attrs.systemMonitoringController.derivatFilter}"
                                                appendButtonFunction=""/>

                </p:panelGrid>

            </p:panel>
        </h:form>
    </cc:implementation>
</ui:composition>
