<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite"> 
    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="systemMonitoringController" type="de.interfaceag.bmw.pzbk.systemMonitoring.SystemMonitoringController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:outputPanel id="systemMonitoringNav" class="inline-table">
            <h:form id="system-monitor-na-form">
                <div class="buttons-wrapper">
                    <div class="left inline-flex">
                        <p:commandLink onclick="redirectBack()" class="d-iflex" id="backButton">
                            <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_arrow_back.png" class="glass"/>
                        </p:commandLink>

                        <p:outputLabel id="anzahlErgebnisse" class="filter-count-label"
                                       value="#{cc.attrs.systemMonitoringController.monitoringViewData.monitoringDtoList.size()} #{msg.ergebnisse}" />
                    </div>
                </div>
            </h:form>
        </p:outputPanel>
    </cc:implementation>
</ui:composition>
