<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="systemMonitoringController" type="de.interfaceag.bmw.pzbk.systemMonitoring.SystemMonitoringController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation rendered="#{cc.attrs.systemMonitoringController.userIsAdmin}">
        <h:form id="monitoring-form-table" class="p-20">
            <div class="system-monitoring-summary-content">
                <div class="system-monitoring-title">
                    Zusammenfassung:
                </div>

                <div class="system-monitoring-text">Letzter Lauf von ZAK GET:
                    #{cc.attrs.systemMonitoringController.monitoringViewData.logSummaryInformationDto.lastZakGet == null ?
                            "noch nicht gelaufen" : cc.attrs.systemMonitoringController.monitoringViewData.logSummaryInformationDto.lastZakGet}
                </div>

                <div class="system-monitoring-text">Letzter Lauf von ZAK POST:
                    #{cc.attrs.systemMonitoringController.monitoringViewData.logSummaryInformationDto.lastZakPost == null ?
                        "noch nicht gelaufen" : cc.attrs.systemMonitoringController.monitoringViewData.logSummaryInformationDto.lastZakPost}
                </div>

                <div class="system-monitoring-text">ZAK POST value: #{cc.attrs.systemMonitoringController.monitoringViewData.logSummaryInformationDto.zakSummary} </div>

            </div>

            <div class="system-monitoring-title"> ZAK-Uebertragung</div>

            <p:dataTable value="#{cc.attrs.systemMonitoringController.monitoringViewData.monitoringDtoList}"
                         id="zak-table"
                         var="data"
                         widgetVar="data"
                         class="glass-table"
                         rowKey="#{data.id}"
                         paginator="true"
                         paginatorPosition="bottom"
                         paginatorAlwaysVisible="false"
                         rows="10"
                         emptyMessage="#{msg.keineZAKgefunden}"
                         tableStyle=""
                         rowsPerPageTemplate="10, 25, 50, 100"
                         scrollable="true">

                <f:facet name="header">
                    <p:outputPanel>
                        <h:outputText value="Globale Suche: " />
                        <p:inputText id="globalFilter" onkeyup="PF('data').filter()" style="width:150px" placeholder="Suchbegriff"/>
                    </p:outputPanel>
                </f:facet>

                <p:column headerText="#{msg.datum}">
                    <h:outputText value="#{data.aenderungsdatum}" >
                        <f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss" />
                    </h:outputText>
                </p:column>
                <p:column filterBy="#{data.anforderungFachId}" filterMatchMode="contains" headerText="#{msg.anforderung}">
                    <h:outputText value="#{data.anforderungFachId}" />
                </p:column>
                <p:column filterBy="#{data.derivatName}" filterMatchMode="contains" headerText="#{msg.derivat}">
                    <h:outputText value="#{data.derivatName} | #{data.derivatProduktlinie}" />
                </p:column>
                <p:column filterBy="#{data.zakId}" filterMatchMode="contains" headerText="#{msg.zak_id}">
                    <h:outputText value="#{data.zakId}" />
                </p:column>
                <p:column filterBy="#{data.isNachZakUebertragen()}" filterMatchMode="contains" headerText="#{msg.send_to_zak}">
                    <h:outputText value="#{data.isNachZakUebertragen()}" />
                </p:column>
                <p:column filterBy="#{data.isZakUebertragungErfolgreich()}" filterMatchMode="contains" headerText="#{msg.send_to_zak_is_successful}">
                    <h:outputText value="#{data.isZakUebertragungErfolgreich()}" />
                </p:column>
                <p:column filterBy="#{data.zakstatus}" filterMatchMode="contains" headerText="Zak-Status">
                    <h:outputText value="#{data.zakstatus}" />
                </p:column>
                <p:column filterBy="#{data.derivatStatus}" filterMatchMode="contains" headerText="#{msg.derivat_status}">
                    <h:outputText value="#{data.derivatStatus}" />
                </p:column>
                <p:column filterBy="#{data.anforderungStatus}" filterMatchMode="contains" headerText="#{msg.anforderung_status}">
                    <h:outputText value="#{data.anforderungStatus}" />
                </p:column>
            </p:dataTable>

            <div class="system-monitoring-title"> Log-Entries</div>
            <p:dataTable value="#{cc.attrs.systemMonitoringController.monitoringViewData.logEntryDtosList}"
                         var="log"
                         class="glass-table"
                         rowKey="#{log.id}"
                         paginator="true"
                         paginatorPosition="bottom"
                         paginatorAlwaysVisible="false"
                         rows="10"
                         emptyMessage="#{msg.keineLogDatenGefunden}"
                         tableStyle=""
                         rowsPerPageTemplate="10, 25, 50, 100"
                         scrollable="true">

                <p:column headerText="#{msg.datum}">
                    <h:outputText value="#{log.date}" >
                        <f:convertDateTime pattern="dd.MM.yyyy HH:mm:ss" />
                    </h:outputText>
                </p:column>
                <p:column filterBy="#{log.logLevel}" filterMatchMode="contains" headerText="Log-Level">
                    <h:outputText value="#{log.logLevel}" />
                </p:column>
                <p:column filterBy="#{log.logValue}" filterMatchMode="contains" headerText="Log-Value">
                    <h:outputText value="#{log.logValue}" />
                </p:column>
            </p:dataTable>

        </h:form>


        <p:panel class="notAuthorizedContent" rendered="#{!cc.attrs.systemMonitoringController.userIsAdmin}">
            <h:outputText value="#{msg.versuchterZugriffAufGeschuetztenBereich}" />
        </p:panel>

    </cc:implementation>
</html>