<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="imports">
        <h:outputStylesheet library="css" name="public/growl.css" />
    </ui:define>

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="modulFreigabeCommentDialog" type="de.interfaceag.bmw.pzbk.controller.dialogs.ModulFreigabeCommentDialog"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:growl id="growl" sticky="false" severity="error" showDetail="true" autoUpdate="" />  
        <div id="#{cc.clientId}">     
            <p:outputPanel id="modulCommentPanel" class="no-border modulStatusCommentPanel">
                <div class="ui-g-3">
                    <p:outputLabel value="#{msg.bearbeiter}:" style="font-weight: bold;"/>
                </div>
                <div class="ui-g-9">
                    <p:outputLabel value="#{cc.attrs.modulFreigabeCommentDialog.anfoModulZumFreigeben.bearbeiter.toString()}"/>
                </div>
                <div class="ui-g-3">
                    <p:outputLabel value="#{msg.datum}:" style="font-weight: bold;" />
                </div>
                <div class="ui-g-9">
                    <p:outputLabel value="#{cc.attrs.modulFreigabeCommentDialog.getFormattedDate(cc.attrs.modulFreigabeCommentDialog.anfoModulZumFreigeben.datum)}"/>
                </div>
                <div class="ui-g-3">
                    <p:outputLabel value="#{msg.kommentar}:" style="font-weight: bold;" />
                </div>
                <div class="ui-g-9">
                    <p:outputLabel value="#{cc.attrs.modulFreigabeCommentDialog.anfoModulZumFreigeben.kommentar}"/>
                </div>
            </p:outputPanel>
        </div>

    </cc:implementation>
</html>
