<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="proceedMethods" type="de.interfaceag.bmw.pzbk.prozessbaukasten.zuordnen.AnforderungenProzessbaukastenZuordnenDialogMethods"/>
        <cc:attribute required="true" name="viewFields" type="de.interfaceag.bmw.pzbk.prozessbaukasten.zuordnen.AnforderungenProzessbaukastenZuordnenDialogFields"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <h:outputStylesheet library="css" name="dialogs/anforderungenProzessbaukastenZuordnenDialog.css" />
        <h:outputStylesheet library="css" name="public/icons.css" />

        <p:autoComplete id="topnav_search_input"
                        styleClass="topnav_search_input anforderung-autocomplete"
                        placeholder="#{msg.suche}"
                        minQueryLength="2"
                        var="result"
                        itemValue="#{result}"
                        autoHighlight="false"
                        panelStyleClass="anforderung-autocomplete-panel text-align-justify"
                        emptyMessage="#{msg.keinErgebnis}"
                        maxResults="10"
                        onkeyup="#{navbarController.doSearch()}"
                        groupBy="#{result.typ}"
                        converter="#{navbarController.searchResultDTOConverter}"
                        value="#{cc.attrs.viewFields.autocompleteSearchResult}"
                        completeMethod="#{navbarController.completeAnforderungSearch}">
            <p:ajax event="itemSelect"
                    listener="#{cc.attrs.viewFields.addAnforderung}"
                    update="dialog:anforderungenZuordnenForm:anforderungZuordnenDialogContent:anforderungenZugeordnet"
                    />
            <p:column styleClass="anforderung-autocomplete-fachid-column">
                <p:outputLabel value="#{result.name}"/>
                <p:outputLabel value="#{result.version != null ? ' | V' : ''}#{result.version != null ? result.version : ''}"/>
            </p:column>
            <p:column>
                <p:outputLabel id="resultBeschreibung" value="#{result.beschreibung}"/>
            </p:column>
        </p:autoComplete>

        <h3><span>#{msg.prozessbaukasten_anforderungenzuordnen_dialog_zugeordnete}</span></h3>

        <p:dataTable id="anforderungenZugeordnet"
                     var="zugeordneteAnforderung"
                     scrollable="true"
                     class="prozessbaukastenZuordnenDataTable"
                     scrollHeight="400"
                     value="#{cc.attrs.viewFields.zugeordneteAnforderungen}"
                     scrollRows="20"
                     liveScroll="true"
                     >
            <p:column  style="width:20px">
                <p:commandLink id="minusButton" actionListener="#{cc.attrs.viewFields.removeAnforderung(zugeordneteAnforderung)}"
                               update="dialog:anforderungenZuordnenForm:anforderungZuordnenDialogContent:anforderungenZugeordnet"
                               ajax="true" async="true"
                               >
                    <span class="fa icon-minus"/>
                </p:commandLink>
            </p:column>
            <p:column class="anforderungenZuordnenTableColumn" style="width:250px"  headerText="#{msg.prozessbaukasten_anforderungenzuordnen_dialog_name}">
                <p:link id="anforderungenZugeordnetLink" class="anforderungenZuordnenLink no-hover"
                        outcome="anforderungView"
                        value="#{zugeordneteAnforderung.name}"
                        >
                    <f:param name="fachId" value="#{zugeordneteAnforderung.fachId}" />
                    <f:param name="version" value="#{zugeordneteAnforderung.version}" />
                </p:link>
            </p:column>
            <p:column class="anforderungenZuordnenTableColumn text-align-justify"
                      headerText="#{msg.prozessbaukasten_anforderungenzuordnen_dialog_beschreibung}"
                      >
                <h:outputText id="anforderungZugeordnetBeschreibung" value="#{zugeordneteAnforderung.beschreibung}" />
            </p:column>
        </p:dataTable>


        <div class="footer-container">
            <div class="footer">
                <p:growl id="growl" sticky="false" severity="error" showDetail="true" />
                <p:commandButton id="confirmDialogJaButton"
                                 value="#{msg.prozessbaukasten_anforderungenzuordnen_dialog_zuodnen_Button}"
                                 styleClass="ui-confirmdialog-yes margin-right-5px"
                                 action="#{cc.attrs.proceedMethods.anforderungenZuordnen()}"
                                 process="@form"
                                 update="growl"
                                 />
                <p:commandButton id="confirmDialogNeinButton"
                                 value="#{msg.abbrechen}"
                                 styleClass="ui-confirmdialog-no"
                                 icon="ui-icon-close"
                                 actionListener="#{cc.attrs.proceedMethods.resetAnforderungenProzessbaukastenZuordnenDialog()}"
                                 update="dialog:anforderungenZuordnenForm:anforderungZuordnenDialogContent:anforderungenZugeordnet"
                                 />
            </div>
        </div>
    </cc:implementation>
</html>