<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="imports">
        <h:outputStylesheet library="css" name="public/growl.css" />
    </ui:define>

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="anfoCtrl" type="de.interfaceag.bmw.pzbk.controller.AbstractAnfoMgmtObjectController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:growl id="growl" sticky="false" severity="error" showDetail="true" autoUpdate="" />  
        <div id="#{cc.clientId}">     
            <p:outputPanel id="modulAnhangPanel" class="no-border modulStatusCommentPanel">
                <div class="box-content">
                    <p:graphicImage value="#{image.getAnhangContentLoaded()}" class="anfoAnhangGrafik" >
                        <f:param name="anhangId" value="#{cc.attrs.anfoCtrl.selectedAnhang.id}"/>                        
                    </p:graphicImage>
                </div>
            </p:outputPanel>
        </div>
    </cc:implementation>
</html>
