<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="anfoContr" type="de.interfaceag.bmw.pzbk.controller.dialogs.AnforderungChangedInStatusPlausiConfirmDialog"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation> 
        <h:outputText value="#{msg.anforderungChanged}" style="white-space: pre-wrap;"  />

        <div class="footer-container">
            <div class="footer">
                <h:panelGroup>
                    <p:commandButton id="proceedBtn"
                                     value="#{msg.weiter}" 
                                     action="#{cc.attrs.anfoContr.saveFromDialog()}"  >
                    </p:commandButton>
                    <p:commandButton id="cancelBtn" value="#{msg.abbrechen}" onclick="PF('anforderungPlausiChangedDialog').hide()"/>
                </h:panelGroup>
            </div>
        </div>
    </cc:implementation>
</html>
