<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="anhang" type="de.interfaceag.bmw.pzbk.entities.Anhang"/>
    </cc:interface>



    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:growl id="growl" sticky="false" severity="error" showDetail="true" autoUpdate="" />
        <p:outputPanel id="modulAnhangPanel" class="no-border modulStatusCommentPanel">
            <div class="box-content">
                <p:graphicImage value="#{image.getAnhangContentLoaded()}" class="anfoAnhangGrafik" >
                    <f:param name="anhangId" value="#{cc.attrs.anhang.id}"/>
                </p:graphicImage>
            </div>
        </p:outputPanel>
    </cc:implementation>
</html>
