<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:define name="imports">
        <h:outputStylesheet library="css" name="public/growl.css" />
    </ui:define>

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="copyLinkDialogController" 
                      type="de.interfaceag.bmw.pzbk.controller.dialogs.CopyLinkDialogController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>                         
        <p:growl id="growl" sticky="false" severity="info" showDetail="false" />
        <p:inputTextarea id="inputLink" 
                         cols="48"
                         rows="3"
                         styleClass="fullwidth"
                         value="#{cc.attrs.copyLinkDialogController.message}" />
        <div class="footer-container">
            <div class="footer">
                <h:panelGroup>
                    <p:commandButton id="copy"  value="#{msg.copyLink}" 
                                     actionListener="#{cc.attrs.copyLinkDialogController.showGrowl()}"
                                     update="growl"
                                     onclick="copyLinkToClipboard();"/>
                    <p:commandButton id="hide"  value="#{msg.close}" 
                                     styleClass="lastButton"
                                     onclick="PF('copyLinkDialog').hide()"/>
                </h:panelGroup>
            </div>
        </div>
    </cc:implementation>
</html>
