<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="vereinbarungHistoryController" type="de.interfaceag.bmw.pzbk.vereinbarung.history.VereinbarungHistoryController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <div class="body">
            <p:dataTable id="derivatAnfoHistory"
                         var="dah"                 
                         value="#{cc.attrs.vereinbarungHistoryController.daHistory}"                         
                         emptyMessage="#{msg.keineHistorie}" 
                         rowStyleClass="no-hover"
                         scrollable="true"
                         scrollHeight="540"
                         class="glass-table historyTable daHistorieDialogTableNoHeader">
                <p:column headerText="#{msg.zeitpunkt}" class="no-hover" style="width: 150px;">
                    <p:outputLabel value="#{cc.attrs.vereinbarungHistoryController.convertDate(dah.datum)}"/>
                </p:column>
                <p:column headerText="#{msg.bearbeiter}"  class="no-hover" style="width: 200px;">
                    <p:outputLabel value="#{dah.bearbeiter}"/>
                </p:column>
                <p:column headerText="#{msg.status}" class="no-hover" style="width: 200px;">
                    <p:outputLabel value="#{dah.status}"/>
                </p:column>
                <p:column headerText="#{msg.kommentar}" class="no-hover" style="">
                    <p:outputLabel value="#{dah.kommentar}" style="white-space: pre-wrap;"/>
                </p:column>
            </p:dataTable>
        </div>

        <div class="footer-container"  style="border-top: 1px solid rgba(55, 102, 161, 1.0);">
            <p:panelGrid columns="2" style="margin-left: 25px; margin-right: 25px;">
                <p:panelGrid columns="1" >
                    <p:outputLabel for="folgeprozessComment" value="#{msg.neuerHistorieEintrag}" style="color: black;" />
                    <p:inputTextarea id="folgeprozessComment" rows="2" cols="150" 
                                     style="width: 100%;"
                                     maxlength="10000"
                                     value="#{cc.attrs.vereinbarungHistoryController.kommentar}"
                                     class="kommentCol" >
                    </p:inputTextarea>
                </p:panelGrid>
                <p:panelGrid columns="1" >
                    <p:commandButton id="setFolgeprozessCommentButton" ajax="true" value="#{msg.speichern}" 
                                     style="width: 95px; float: right; margin-right: 25px;"
                                     actionListener="#{cc.attrs.vereinbarungHistoryController.confirmDaHistorieCommentDialog()}"
                                     update="addAnfoContent:addAnfoForm:addAnfoTable dialog:derivatAnforderungModulHistorieForm:derivatAnforderungModulHistorieDialogContent:derivatAnfoHistory 
                                     dialog:derivatAnforderungModulHistorieForm:derivatAnforderungModulHistorieDialogContent:folgeprozessComment"/>
                    <p:commandButton value="#{msg.ok}" style="width: 95px;float: right;margin-right: 25px;" 
                                     actionListener="#{cc.attrs.vereinbarungHistoryController.closeDaHistorieDialog()}"/>
                </p:panelGrid>
            </p:panelGrid>
        </div>
    </cc:implementation>
</html>
