<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="derivatController" type="de.interfaceag.bmw.pzbk.derivateview.DerivatController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>        

        <c:forEach var="status" items="#{derivatController.derivatStatusChangeDTO.possibleNextStatus}">
            <p:commandButton value="#{derivatController.derivatStatusChangeDTO.getStatusChangeNameForStatus(status)}"
                             action="#{cc.attrs.derivatController.changeDerivatStatus(status)}" 
                             process="@form"/>
            
        </c:forEach>


        <p:commandButton value="#{msg.abbrechen}" onclick="PF('derivatChangeStatusDialog').hide()" />

       
    </cc:implementation>
</html>
