<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="viewData" type="de.interfaceag.bmw.pzbk.derivateview.DerivatDeleteDialogFields"/>
        <cc:attribute required="true" name="controller" type="de.interfaceag.bmw.pzbk.derivateview.DerivatDeleteDialogMethods"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>        
        <div id="#{cc.clientId}">
            <h:outputText escape="false" style="color: red; font-weight: bold;" value="#{cc.attrs.controller.derivatDeleteMessage}" />

            <div id="zuordnungenDiv">
                <p:outputLabel id="zuordnungenLabel" for="zuordnungenValues" style="font-weight: bold;" value="#{msg.derivat_zuordnungen}: "/>
                <h:outputText id="zuordnungenValues" escape="false" value="#{cc.attrs.controller.derivatZuordnungen}" />
            </div>
        </div>

        <div class="footer-container">
            <div class="footer">
                <h:panelGroup>
                    <p:commandButton id="proceedBtn"
                                     value="#{msg.weiter}" 
                                     immediate="true"
                                     actionListener="#{cc.attrs.controller.proceedWithDerivatRemoval()}"
                                     onclick="PF('derivatDeleteConfirmDialog').hide()"
                                     >
                    </p:commandButton>
                    <p:commandButton value="#{msg.abbrechen}" onclick="PF('derivatDeleteConfirmDialog').hide()" />
                </h:panelGroup>
            </div>
        </div>
    </cc:implementation>
</html>
