<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="displayCommentCtrl" type="de.interfaceag.bmw.pzbk.controller.dialogs.CommentDialogController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation> 
        <h:outputText value="#{cc.attrs.displayCommentCtrl.text}" style="white-space: pre-wrap;"  />

        <div class="footer-container">
            <div class="footer">
                <h:panelGroup>
                    <p:commandButton id="hide"  value="#{msg.ok}" onclick="PF('displayCommentDialog').hide()"   />
                </h:panelGroup>
            </div>
        </div>
    </cc:implementation>
</html>
