<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="editCommentCtrl" type="de.interfaceag.bmw.pzbk.controller.dialogs.EditCommentDialogController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation> 
        <p:inputTextarea rows="6" cols="40" 
                         autoResize="true"
                         maxlength="8000"
                         placeholder="#{msg.kommentarStatuswechselPlaceholder}"
                         value="#{cc.attrs.editCommentCtrl.kommentar}" 
                         style="white-space: pre-wrap; width: 448px; min-width: 448px; max-width: 448px;"   />

        <div class="footer-container">
            <div class="footer">
                <h:panelGroup>
                    <p:commandButton id="hide"  value="#{msg.ok}" 
                                     actionListener="#{cc.attrs.editCommentCtrl.hide()}"/>
                </h:panelGroup>
            </div>
        </div>
    </cc:implementation>
</html>
