<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="confCtrl" type="de.interfaceag.bmw.pzbk.controller.ConfigurationController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:dataTable rendered="#{cc.attrs.confCtrl.existSucessfulUploads()}" var="uDone" value="#{cc.attrs.confCtrl.uploadSheetsDone}">
            <p:column headerText="#{msg.excelUloadSuccessfulMsg}">
                <h:outputText value="#{uDone}" />
            </p:column>
        </p:dataTable>
        <p:dataTable rendered="#{cc.attrs.confCtrl.existFailedUploads()}" var="uFailed" value="#{cc.attrs.confCtrl.uploadSheetsFailures}">
            <p:column headerText="#{msg.excelUloadFailureMsg}">
                <h:outputText value="#{uFailed}" />
            </p:column>
        </p:dataTable>
    </cc:implementation>
</html>