<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="confCtrl" type="de.interfaceag.bmw.pzbk.controller.ConfigurationController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:outputText id="fileProcessText" value="#{msg.excelProcessTest}"/>
<!--        <p:progressBar id="fileProcessBar" widgetVar="progressBarExcelProcess" ajax="true" value="#{cc.attrs.confCtrl.progress}" labelTemplate="{value}%" styleClass="animated" global="false">

        </p:progressBar>-->
    </cc:implementation>
</html>