<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:define name="imports">
        <h:outputStylesheet library="css" name="public/growl.css" />
    </ui:define>

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="addAnfoCtrl" type="de.interfaceag.bmw.pzbk.vereinbarung.VereinbarungController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:growl id="growl" sticky="false" severity="error" showDetail="true" autoUpdate="" />  
        <div id="#{cc.clientId}" class="body">     
            <p:outputLabel for="folgeprozessComment" style="font-weight: bold;" value="#{msg.kommentarZurUbEing}" />
            <p:focus for="folgeprozessComment" />
            <p:inputTextarea id="folgeprozessComment" rows="3" cols="70" 
                             value="#{cc.attrs.addAnfoCtrl.kommentar}"
                             class="kommentCol" >
            </p:inputTextarea>
        </div>
        <div class="footer-container">
            <div class="footer">
                <h:panelGroup>
                    <p:commandButton id="setFolgeprozessCommentButton" ajax="true" value="#{msg.ok}" 
                                     actionListener="#{cc.attrs.addAnfoCtrl.confirmEditCommentDialog()}"/>
                    <p:commandButton value="#{msg.abbrechen}"  
                                     actionListener="#{cc.attrs.addAnfoCtrl.cancelEditCommentDialog()}"/>
                </h:panelGroup>
            </div>
        </div>
    </cc:implementation>
</html>
