<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="configurationController" type="de.interfaceag.bmw.pzbk.controller.ConfigurationController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <div id="#{cc.clientId}">
            <!--Ab primefaces 6.0.6 kann auf 'p:textEditor' umgestiegen werden.-->
            <p:editor id="berschreibungsTextChangeInput" value="#{configurationController.beschreibungsText}" required="true"/>

            <div class="footer-container">
                <div class="footer">
                    <h:panelGroup>
                        <p:commandButton id="confirmDialogJaButton" value="#{msg.ok}" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
                                         onclick="PF('infoBearbeitenDialog').hide();"
                                         action="#{configurationController.onTextEdit(configurationController.beschreibungsText)}"
                                         update="settingsForm:adminAccordionPanel:infoTextTable"/>
                        <p:commandButton value="#{msg.abbrechen}" onclick="PF('infoBearbeitenDialog').hide()"/>              

                    </h:panelGroup>
                </div>
            </div>
        </div>
    </cc:implementation>
</html>