<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="infotextController" type="de.interfaceag.bmw.pzbk.controller.InfotextController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <div id="#{cc.clientId}">
            <h:outputText escape="false" value="#{infotextController.infoText}" />
            <div class="footer-container">
                <div class="footer">
                    <h:panelGroup>
                        <p:commandButton id="confirmDialogJaButton" value="#{msg.ok}" styleClass="ui-confirmdialog-yes" 
                                         onclick="PF('infoAnzeigenDialog').hide();"/>
                    </h:panelGroup>
                </div>
            </div>
        </div>
    </cc:implementation>
</html>