<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:define name="imports">
        <h:outputStylesheet library="css" name="public/growl.css" />
    </ui:define>

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="dialogData" type="de.interfaceag.bmw.pzbk.umsetzungsverwaltung.KovaPhasenViewBerechtigungDialogData"/>
        <cc:attribute required="true" name="processChanges"  method-signature="java.lang.String action()"/>
        <cc:attribute required="true" name="hide"  method-signature="java.lang.String action()"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <p:growl id="growl" sticky="true" life="2000" severity="error" showDetail="false" />  

        <p:dataTable 
            id="ubBerechtigungTable"
            value="#{cc.attrs.dialogData.berechtigungList}"
            var="berechtigung"                
            paginator="true"           
            paginatorPosition="bottom"
            paginatorAlwaysVisible="false"
            rows="10">
            <p:column headerText="#{msg.sensorCoc}"
                      sortBy="#{berechtigung.sensorCoc.pathToString()}"
                      width="20%" >
                <p:outputLabel value="#{berechtigung.sensorCoc.pathToString()}" />
            </p:column>
            <p:column rendered="false"
                      sortBy="#{cc.attrs.dialogData.berechtigungListContains(berechtigung)}"
                      width="1%">
                <p:outputPanel rendered="#{berechtigung.umsetzungsbestaetiger != null}">
                    <i class="fa fa-check-square-o"/>
                </p:outputPanel>
            </p:column>
            <p:column headerText="#{msg.umsetzungsbest}" 
                      width="50%" 
                      rendered="#{cc.attrs.dialogData.editMode}">
                <p:selectCheckboxMenu id="multiple" value="#{berechtigung.umsetzungsbestaetiger}" 
                                      label="" multiple="true"
                                      panelStyle="width:350px" 
                                      styleClass="dialogCheckboxMenu"
                                      converter="#{personalSettingsController.mitarbeiterConverter}">
                    <f:selectItems value="#{berechtigung.possibleUmsetzungsbestaetiger}"
                                   var="ums" 
                                   itemValue="#{ums}" 
                                   itemLabel="#{ums.vorname} #{ums.nachname} #{ums.vorname != null ? '|' : ''} #{ums.abteilung}" />
                    <p:ajax event="change" async="true" 
                            listener="#{cc.attrs.dialogData.isChanged(berechtigung)}" />
                    <p:ajax event="toggleSelect" async="true"
                            listener="#{cc.attrs.dialogData.isChanged(berechtigung)}"/>
                </p:selectCheckboxMenu>
            </p:column>
            <p:column headerText="#{msg.umsetzungsbest}" 
                      width="50%" 
                      rendered="#{!cc.attrs.dialogData.editMode}">
                <p:outputPanel rendered="#{cc.attrs.dialogData.berechtigungListContains(berechtigung)}">
                    <ui:repeat value="#{berechtigung.umsetzungsbestaetiger}" var="umsetzungsbestaetiger">
                        <p:outputLabel value="#{umsetzungsbestaetiger.toString()}" style="margin-right: 15px;"/>
                    </ui:repeat>
                </p:outputPanel>
            </p:column>
        </p:dataTable>
        <div class="footer-container">
            <div class="footer">
                <h:panelGroup id="commandButtonGroup">
                    <p:outputLabel id="ubSensorCocEdit" rendered="#{cc.attrs.dialogData.editPermission}">
                        <p:commandLink actionListener="#{cc.attrs.dialogData.toggleEditMode()}" 
                                       update="dialog:kovaPhasenBerechtigungDialogForm:kovaPhasenBerechtigungDialogContent:ubBerechtigungTable
                                       dialog:kovaPhasenBerechtigungDialogForm:kovaPhasenBerechtigungDialogContent:commandButtonGroup"
                                       rendered="#{!cc.attrs.dialogData.editMode}" >
                            <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_edit_black.png" title="#{msg.bearbeiten}" class="ui-button ui-widget ui-state-default ui-corner-all ub-dialog-button"/>  
                        </p:commandLink>  
                        <p:commandLink id="processChangesButton"
                                       action="#{cc.attrs.processChanges}" 
                                       rendered="#{cc.attrs.dialogData.editMode}" >
                            <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_save.png" title="#{msg.speichern}" class="ui-button ui-widget ui-state-default ui-corner-all ub-dialog-button ub-dialog-save-button"/> 
                        </p:commandLink> 
                        <p:commandLink  id="revertChangesButton"
                                        action="#{cc.attrs.hide}" 
                                        rendered="#{cc.attrs.dialogData.editMode}" >
                            <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_cancel.png" title="#{msg.verwerfen}" class="ui-button ui-widget ui-state-default ui-corner-all ub-dialog-button"/> 
                        </p:commandLink> 
                    </p:outputLabel>
                    <p:commandButton id="closeDialogButton"
                                     value="#{msg.ok}" 
                                     action="#{cc.attrs.hide}" />              
                </h:panelGroup>
            </div>
        </div>
    </cc:implementation>
</html>