<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="dialogCtrl" type="de.interfaceag.bmw.pzbk.anforderungsworkflow.dialogs.MeldungZuordnungsDialogController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <div id="#{cc.clientId}">
            <h3><span>#{msg.verfuegbareMeldungen}</span></h3>
            <p:dataTable id="verfuegbareMeldungen" 
                         var="meldung" 
                         scrollable="true"
                         scrollHeight="200"
                         scrollRows="10"
                         liveScroll="true"
                         emptyMessage="#{msg.keineMeldung}"
                         value="#{cc.attrs.dialogCtrl.choosableMeldungen}">
                <p:column id="idColumn" width="100"
                          filterBy="#{meldung.fachId}" filterMatchMode="contains">
                    <h:outputText id="meldungIdText" value="#{meldung.fachId}" />
                </p:column>
                <p:column headerText="#{msg.technologie}">
                    <h:outputText id="meldungTechnologieText" value="#{meldung.getTechnologie()}" />
                </p:column>
                <p:column headerText="#{msg.beschreibung}">
                    <h:outputText id="meldungBeschreibungText" value="#{meldung.beschreibung.length() gt 200 ? meldung.beschreibung.substring(0,197).concat('...') : meldung.beschreibung}" />
                </p:column>
                <p:column style="width:20px">
                    <p:commandLink action="#{cc.attrs.dialogCtrl.addMeldung(meldung)}" update="dialog:meldungenZuordnenForm:meldungenZuordnenDlgContent" >
                        <span class="fa fa-plus-square-o"/>
                    </p:commandLink>
                </p:column>

            </p:dataTable>
            <h3><span>#{msg.zugeordneteMeldungenLang}</span></h3>

            <p:dataTable id="zugeordneteMeldungenFeldTable" var="meldung" 
                         scrollable="true"
                         scrollHeight="200"
                         value="#{cc.attrs.dialogCtrl.chosenMeldungen}">

                <p:column headerText="#{msg.id}" width="100">
                    <h:outputText id="meldungIdText" value="#{meldung.fachId}" />
                </p:column>
                <p:column headerText="#{msg.technologie}">
                    <h:outputText id="meldungTechnologieText" value="#{meldung.getTechnologie()}" />
                </p:column>
                <p:column headerText="#{msg.beschreibung}">
                    <h:outputText id="meldungBeschreibungText" value="#{meldung.beschreibung.length() gt 200 ? meldung.beschreibung.substring(0,197).concat('...') : meldung.beschreibung}" />
                </p:column>
                <p:column style="width:20px">
                    <p:commandLink class="meldungDelete" action="#{cc.attrs.dialogCtrl.removeMeldung(meldung)}" 
                                   update="dialog:meldungenZuordnenForm:meldungenZuordnenDlgContent"
                                   rendered = "#{cc.attrs.dialogCtrl.anzahlChosenMeldungen > 1}">
                        <!-- <span class="fa fa-minus-square-o"/> -->
                        <div class="deleteContainer imageContainerSmall"><img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/></div>
                    </p:commandLink>                        
                </p:column>

            </p:dataTable>

            <div class="footer-container">
                <div class="footer">
                    <h:panelGroup>
                        <p:commandButton id="confirmDialogJaButton" 
                                         value="#{msg.ok}" 
                                         styleClass="ui-confirmdialog-yes" 
                                         icon="ui-icon-check"
                                         process="@form"
                                         action="#{cc.attrs.dialogCtrl.save()}"/>
                        <p:commandButton id="confirmDialogNeinButton" 
                                         value="#{msg.abbrechen}" 
                                         styleClass="ui-confirmdialog-no" 
                                         icon="ui-icon-close"
                                         action="#{cc.attrs.dialogCtrl.discardChanges()}"/>
                    </h:panelGroup>
                </div>
            </div>
        </div>
    </cc:implementation>
</html>