<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite">

<!-- INTERFACE -->
<cc:interface>
    <cc:attribute required="true" name="berechtigungCtrl"
                  type="de.interfaceag.bmw.pzbk.berechtigung.BerechtigungController"/>
</cc:interface>

<!-- IMPLEMENTATION -->
<cc:implementation>
    <f:facet name="last">
        <h:outputStylesheet library="css" name="sensorCoCDialog.css"/>
        <h:outputStylesheet library="css" name="berechtigung/mitarbeiterZuordnenDialog.css"/>
    </f:facet>

    <p:growl id="growl" sticky="false" severity="info" showDetail="true"/>

    <p:wizard flowListener="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.onFlowProcess}"
              styleClass="berechtigung-wizard"
              nextLabel="Weiter" widgetVar="berechtigungWizard" id="berechtigungWizard">
        <p:tab id="mitarbeiterAuswahlTab" title="#{msg.mitarbeiterAuswaehlen}"
               rendered="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.mitarbeiterAuswahlRenderCondition}">
            <h:panelGrid id="anfoHeaderSearch" columns="2" class="anfoTabTable" width="100%">
                <p:outputLabel for="suchInputName" class="small-column dialogLabel" value="#{msg.suche}"/>
                <h:panelGrid id="anfoPanelGrid" columns="3" class="max-column" width="100%">
                    <p:inputText id="suchInputName" class="max-column"
                                 value="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.nachnameZuSuchen}">
                        <p:watermark for="suchInputName" value="Name"/>
                    </p:inputText>
                    <p:inputText id="suchInputVorname" class="max-column"
                                 value="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.vornameZuSuchen}">
                        <p:watermark for="suchInputVorname" value="Vorname"/>
                    </p:inputText>
                    <p:inputText id="suchInputAbteilung" class="max-column"
                                 value="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.abteilungZuSuchen}">
                        <p:watermark for="suchInputAbteilung" value="Abteilung"/>
                    </p:inputText>
                </h:panelGrid>
            </h:panelGrid>

            <h:panelGrid width="100%" columns="1">
                <p:commandButton value="#{msg.suchen}"
                                 action="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.handleSuche}"
                                 update="suchergebnisseTable" class="searchButton"/>
            </h:panelGrid>

            <h:panelGrid class="scrollTable">
                <p:dataTable id="suchergebnisseTable"
                             var="nutzer"
                             value="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.gefundeneMitarbeiters}"
                             class="auswTable meldungZuordnenTable"
                             selection="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.selectedMitarbeiter}"
                             rowKey="#{nutzer}"
                             emptyMessage="#{msg.keineMitarbeiter}"
                             rows="5"
                             paginator="true"
                             paginatorPosition="bottom">
                    <p:column width="30">
                        <h:outputText id="userInSystem" value="#{nutzer.id != null ? 'AM' : 'LDAP'}"/>
                        <p:tooltip showDelay="500" for="userInSystem" value="#{msg.zeigtAnObNutzerImSystemOderLDAP}"/>
                    </p:column>
                    <p:column headerText="#{msg.nachname}">
                        <h:outputText value="#{nutzer.nachname}"/>
                    </p:column>
                    <p:column headerText="#{msg.vorname}">
                        <h:outputText value="#{nutzer.vorname}"/>
                    </p:column>
                    <p:column headerText="#{msg.abteilung}">
                        <h:outputText value="#{nutzer.abteilung}"/>
                    </p:column>
                    <p:column headerText="E-Mail">
                        <h:outputText value="#{nutzer.email}"/>
                    </p:column>
                    <p:column>
                        <p:outputLabel value="#{msg.unvollstaendigerEintragInDerDatenbank}"
                                       rendered="#{nutzer.QNumber eq null}"/>
                    </p:column>
                    <p:column selectionMode="single"
                              style="width:16px;text-align:center"/>
                </p:dataTable>
            </h:panelGrid>
        </p:tab>
        <p:tab id="rolleAuswahlTab" title="#{msg.rolleWaehlen}">
            <h3 class="mitarbeiter-zuordnen-h3">
                <h:outputText id="rolleAuswahlOutputLabelH31"
                              rendered="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.getOneMitarbeiterRenderCondition()}"
                              value="#{msg.rolleFuerMitarbeiter} #{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.selectedMitarbeiter.toString()} #{msg.waehlen}"/>
            </h3>

            <h:panelGrid id="secondStepNewUser" columns="2" class="anfoTabTable" width="100%">
                <p:outputLabel class="small-column dialogLabel" value="#{msg.rolle}"/>
                <p:selectOneMenu id="rollenOneMenu"
                                 value="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.aktuelleRolle}">
                    <f:selectItems value="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.rollen}"/>
                    <p:column>
                        <h:outputText value="#{rolle.bezeichnung}"/>
                    </p:column>
                    <p:watermark for="suchRolle" value="#{msg.rolle}"/>
                </p:selectOneMenu>


            </h:panelGrid>

            <!-- SensorCoC-Auswahl  -->


        </p:tab>
        <p:tab id="roleBerechtigenTab" title="#{msg.berechtigen}">
            <p:panel id="roleAdminTabForm"
                     rendered="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.getAdminRenderCondition()}">
                <p:outputLabel class="mitarbeiter-zuordnen-h3  z-h3-admin"
                               value="#{msg.berechtigungAls} #{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.aktuelleRolle.bezeichnung} #{msg.fuer}
                                   #{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.selectedMitarbeiter.toString()} #{msg.mitarbeiterWaehlen}"/>
            </p:panel>

            <p:panelGrid class="mitarbeiterZuordnenTable" id="roleSensorTabForm"
                         rendered="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.getSensorRenderCondition()}"
                         columns="2">
                <f:facet name="header">
                    <h3 class="mitarbeiter-zuordnen-h3">#{msg.berechtigungAls} #{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.aktuelleRolle} #{msg.fuer}
                        #{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.selectedMitarbeiter.toString()} #{msg.mitarbeiterWaehlen}"</h3>
                </f:facet>

                <p:outputLabel for="sucheSensorBerechtigungSelectMany" class="small-column dialogLabel"
                               value="#{msg.schreibrechtewaehler}"/>
                <p:selectManyMenu id="sucheSensorBerechtigungSelectMany"
                                  value="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.selectedSensorCocs}"
                                  converter="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.sensorCocConverter}"
                                  var="scoc"
                                  filter="true"
                                  filterMatchMode="contains"
                                  showCheckbox="true"
                                  class="maZuordnen">
                    <p:ajax event="change"
                            listener="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.updateSensorCocRoList()}"/>
                    <f:selectItems value="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.sensorCocs}"
                                   var="scoc" itemLabel="#{scoc.pathToStringShort()}" itemValue="#{scoc}"/>

                    <p:column>
                        <h:outputText value="#{scoc.pathToStringShort()}"/>
                    </p:column>
                </p:selectManyMenu>

                <p:outputLabel for="sucheSensorROBerechtigungSelectMany" class="small-column dialogLabel"
                               rendered="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.aktuelleRolle.id ne 2}"
                               value="#{msg.leserechtewaehlen}"/>
                <p:selectManyMenu id="sucheSensorROBerechtigungSelectMany"
                                  value="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.selectedSensorCocsRO}"
                                  rendered="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.aktuelleRolle.id ne 2}"
                                  converter="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.sensorCocConverter}"
                                  var="scoc"
                                  filter="true"
                                  filterMatchMode="contains"
                                  showCheckbox="true"
                                  class="maZuordnen">
                    <p:ajax event="change"
                            listener="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.updateSensorCocList()}"/>
                    <f:selectItems value="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.sensorCocsRo}"
                                   var="scoc" itemLabel="#{scoc.pathToStringShort()}" itemValue="#{scoc}"/>

                    <p:column>
                        <h:outputText value="#{scoc.pathToStringShort()}"/>
                    </p:column>
                </p:selectManyMenu>
            </p:panelGrid>

            <p:panel id="roleTTeamleiterTabForm"
                     rendered="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.getTTeamleiterRenderCondition()}">
                <h3 class="mitarbeiter-zuordnen-h3 z-h3-admin">#{msg.berechtigungAls} #{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.aktuelleRolle} #{msg.fuer}
                    #{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.selectedMitarbeiter.toString()} #{msg.mitarbeiterWaehlen}</h3>
                <p:outputLabel for="sucheTTeamBerechtigungSelectMany" class="small-column dialogLabel"
                               value="#{msg.berechtigungen}"/>
                <p:selectManyMenu id="sucheTTeamBerechtigungSelectMany"
                                  value="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.selectedTteams}"
                                  converter="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.tteamConverter}"
                                  var="tteam"
                                  filter="true"
                                  filterMatchMode="contains"
                                  showCheckbox="true"
                                  class="maZuordnen">
                    <f:selectItems value="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.tteams}"
                                   var="tteam" itemLabel="#{tteam.getTeamName()}" itemValue="#{tteam}"/>

                    <p:column>
                        <h:outputText value="#{tteam.teamName}"/>
                    </p:column>
                </p:selectManyMenu>
            </p:panel>
            <p:panel id="roleTTeamVertreterTabForm"
                     rendered="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.tteamVertreterRenderCondition}">
                <h3 class="mitarbeiter-zuordnen-h3 z-h3-admin">#{msg.berechtigungAls} #{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.aktuelleRolle} #{msg.fuer}
                    #{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.selectedMitarbeiter.toString()} #{msg.mitarbeiterWaehlen}</h3>
                <p:outputLabel for="sucheTTeamVertreterBerechtigungSelectMany" class="small-column dialogLabel"
                               value="#{msg.berechtigungen}"/>
                <p:selectManyMenu id="sucheTTeamVertreterBerechtigungSelectMany"
                                  value="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.selectedTteamsForVertreter}"
                                  converter="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.tteamConverter}"
                                  var="tteam"
                                  filter="true"
                                  filterMatchMode="contains"
                                  showCheckbox="true"
                                  class="maZuordnen">
                    <f:selectItems value="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.tteams}"
                                   var="tteam" itemLabel="#{tteam.getTeamName()}" itemValue="#{tteam}"/>

                    <p:column>
                        <h:outputText value="#{tteam.teamName}"/>
                    </p:column>
                </p:selectManyMenu>
            </p:panel>


            <p:panelGrid class="mitarbeiterZuordnenTable" id="roleTteamMitgliedTabForm"
                         rendered="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.getTTeamMitgliedRenderCondition()}"
                         columns="2">
                <f:facet name="header">
                    <h3 class="mitarbeiter-zuordnen-h3">#{msg.berechtigungAls} #{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.aktuelleRolle} #{msg.fuer}
                        #{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.selectedMitarbeiter.toString()} #{msg.mitarbeiterWaehlen}"</h3>
                </f:facet>

                <p:outputLabel for="sucheTTeamMitgliedBerechtigungSelectMany" class="small-column dialogLabel"
                               value="#{msg.schreibrechtewaehler}"/>
                <p:selectManyMenu id="sucheTTeamMitgliedBerechtigungSelectMany"
                                  value="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.selectedTteamsForMitglied}"
                                  converter="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.tteamConverter}"
                                  var="tteam"
                                  filter="true"
                                  filterMatchMode="contains"
                                  showCheckbox="true"
                                  class="maZuordnen">
                    <p:ajax event="change"
                            listener="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.updateTteamMitgliedRoList() }"/>
                    <f:selectItems
                            value="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.tteamMitgliedList}"
                            var="scoc" itemLabel="#{tteam.getTeamName()}" itemValue="#{tteam}"/>

                    <p:column>
                        <h:outputText value="#{tteam.teamName}"/>
                    </p:column>
                </p:selectManyMenu>

                <p:outputLabel for="sucheTTeamMitgliedROBerechtigungSelectMany" class="small-column dialogLabel"
                               value="#{msg.leserechtewaehlen}"/>
                <p:selectManyMenu id="sucheTTeamMitgliedROBerechtigungSelectMany"
                                  value="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.selectedROTteamsForMitglied}"
                                  converter="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.tteamConverter}"
                                  var="tteamRo"
                                  filter="true"
                                  filterMatchMode="contains"
                                  showCheckbox="true"
                                  class="maZuordnen">
                    <p:ajax event="change"
                            listener="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.updateTteamMitgliedList()}"/>
                    <f:selectItems
                            value="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.tteamMitgliedRoList}"
                            var="scoc" itemLabel="#{tteamRo.getTeamName()}" itemValue="#{tteamRo}"/>

                    <p:column>
                        <h:outputText value="#{tteamRo.teamName}"/>
                    </p:column>
                </p:selectManyMenu>
            </p:panelGrid>
            <p:panelGrid class="mitarbeiterZuordnenTable" id="roleECocTabForm"
                         rendered="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.getECocRenderCondition()}"
                         columns="2">
                <f:facet name="header">
                    <h3 class="mitarbeiter-zuordnen-h3">#{msg.berechtigungAls} #{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.aktuelleRolle} #{msg.fuer}
                        #{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.selectedMitarbeiter.toString()} #{msg.mitarbeiterWaehlen}</h3>
                </f:facet>

                <p:outputLabel for="sucheECocBerechtigungSelectMany" class="small-column dialogLabel"
                               value="#{msg.berechtigungen}"/>
                <p:selectManyMenu id="sucheECocBerechtigungSelectMany"
                                  value="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.selectedModules}"
                                  converter="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.modulSeTeamConverter}"
                                  var="module"
                                  filter="true"
                                  filterMatchMode="contains"
                                  showCheckbox="true"
                                  class="maZuordnen">
                    <f:selectItems value="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.modules}"
                                   var="module" itemLabel="#{module.name}" itemValue="#{module}"/>
                    <p:column>
                        <h:outputText value="#{module.name}"/>
                    </p:column>
                </p:selectManyMenu>
            </p:panelGrid>


            <p:panelGrid class="mitarbeiterZuordnenTable" id="roleAnfordererTabForm"
                         rendered="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.getAnfordererRenderCondition()}"
                         columns="2">
                <f:facet name="header">
                    <h3 class="mitarbeiter-zuordnen-h3">#{msg.berechtigungAls} #{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.aktuelleRolle} #{msg.fuer}
                        #{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.selectedMitarbeiter.toString()} #{msg.mitarbeiterWaehlen}</h3>
                </f:facet>

                <p:outputLabel for="sucheAnfordererBerechtigungSelectMany" class="small-column dialogLabel"
                               value="#{msg.derivatWaehlen}"/>
                <p:selectManyMenu id="sucheAnfordererBerechtigungSelectMany"
                                  value="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.selectedDerivate}"
                                  converter="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.derivatConverter}"
                                  var="derivat"
                                  filter="true"
                                  filterMatchMode="contains"
                                  showCheckbox="true"
                                  class="maZuordnen">
                    <f:selectItems value="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.derivate}"
                                   var="derivat" itemLabel="#{derivat.name}" itemValue="#{derivat}"/>

                    <p:column>
                        <h:outputText value="#{derivat.name}"/>
                    </p:column>
                </p:selectManyMenu>

                <p:outputLabel for="sucheAnfordererZakBerechtigungSelectMany" class="small-column dialogLabel"
                               value="#{msg.derivatZakWaehlen}"/>
                <p:selectManyMenu id="sucheAnfordererZakBerechtigungSelectMany"
                                  value="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.selectedZakEinordnungen}"
                                  var="zak"
                                  filter="true"
                                  filterMatchMode="contains"
                                  showCheckbox="true"
                                  class="maZuordnen">
                    <f:selectItems
                            value="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.zakEinordnungen}"
                            var="zak" itemLabel="#{zak}" itemValue="#{zak}"/>

                    <p:column>
                        <h:outputText value="#{zak}"/>
                    </p:column>
                </p:selectManyMenu>
            </p:panelGrid>

            <p:panelGrid class="mitarbeiterZuordnenTable" id="roleUmsetzungsbestTabForm"
                         rendered="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.getUmsetzungsbestaetigerRenderCondition()}"
                         columns="2">
                <f:facet name="header">
                    <h3 class="mitarbeiter-zuordnen-h3">#{msg.berechtigungAls} #{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.aktuelleRolle} #{msg.fuer}
                        #{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.selectedMitarbeiter.toString()} #{msg.mitarbeiterWaehlen}</h3>
                </f:facet>

                <p:outputLabel for="sucheUmsetzungsbestaetigerBerechtigungSelectMany" class="small-column dialogLabel"
                               value="#{msg.schreibrechtewaehler}"/>
                <p:selectManyMenu id="sucheUmsetzungsbestaetigerBerechtigungSelectMany"
                                  value="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.selectedSensorCocs}"
                                  converter="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.sensorCocConverter}"
                                  var="scoc"
                                  filter="true"
                                  filterMatchMode="contains"
                                  showCheckbox="true"
                                  class="maZuordnen">
                    <f:selectItems value="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.sensorCocs}"
                                   var="scoc" itemLabel="#{scoc.pathToStringShort()}" itemValue="#{scoc}"/>

                    <p:column>
                        <h:outputText value="#{scoc.pathToStringShort()}"/>
                    </p:column>
                </p:selectManyMenu>
            </p:panelGrid>

            <div class="mitarbeiter-zuordnen-right">
                <p:commandButton id="mitarbeitenZuordnenSubmitButton"
                                 value="#{msg.submit}"
                                 style="float: right;"
                                 action="#{cc.attrs.berechtigungCtrl.processInput}"
                />
            </div>
        </p:tab>
    </p:wizard>
</cc:implementation>
</html>
