<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<!-- INTERFACE -->
<cc:interface>
    <cc:attribute required="true" name="dialogController"
                  type="de.interfaceag.bmw.pzbk.berechtigung.MitarbeiterBearbeitenDialogController"/>
    <cc:attribute required="true" name="berechtigungCtrl"
                  type="de.interfaceag.bmw.pzbk.berechtigung.BerechtigungController"/>
    <cc:attribute required="true" name="changeController"
                  type="de.interfaceag.bmw.pzbk.berechtigung.MitarbeiterQnumberChangeController"/>
</cc:interface>

<!-- IMPLEMENTATION -->
<cc:implementation>

    <h:outputStylesheet library="css" name="berechtigung/mitarbeiterBearbeitenDialog.css"/>

    <div id="#{cc.clientId}">

        <div class="ui-g">
            <div class="ui-g-9">
                <h:panelGrid id="anfoHeader" columns="2" class="anfoTabTable" width="100%"
                             columnClasses="small-column,max-column">
                    <p:outputLabel value="#{msg.vorname}"/>
                    <p:outputLabel value="#{cc.attrs.dialogController.mitarbeiterToEdit.vorname}"/>

                    <p:outputLabel value="#{msg.nachname}"/>
                    <p:outputLabel value="#{cc.attrs.dialogController.mitarbeiterToEdit.nachname}"/>

                    <p:outputLabel value="#{msg.abteilung}"/>
                    <p:outputLabel value="#{cc.attrs.dialogController.mitarbeiterToEdit.abteilung}"/>

                    <p:outputLabel value="E-Mail"/>
                    <p:outputLabel value="#{cc.attrs.dialogController.mitarbeiterToEdit.email}"/>
                </h:panelGrid>
            </div>

            <div class="ui-g-3">
                <p:commandButton id="neueBerechtigungHinzufuegenBtn"
                                 value="#{msg.NeueBerechtigungFuer} #{cc.attrs.dialogController.mitarbeiterToEdit.vorname}
                                     #{cc.attrs.dialogController.mitarbeiterToEdit.nachname} #{msg.hinzufuegenKlein}"
                                 rendered="#{cc.attrs.dialogController.viewPermission.addPermissionButton}"
                                 actionListener="#{cc.attrs.berechtigungCtrl.showAddZuordnungDialog(cc.attrs.dialogController.mitarbeiterToEdit.id)}"
                                 update="@this">
                </p:commandButton>

                <p:commandButton value="#{msg.qnumberchangedialog_show_button}"
                                 style="margin-top: 5px; float: right;"
                                 rendered="#{cc.attrs.berechtigungCtrl.viewPermission.admin}"
                                 actionListener="#{cc.attrs.changeController.showQnumberChangeDialog(cc.attrs.dialogController.mitarbeiterToEdit)}"/>

            </div>
        </div>

        <div class="permissionWrapper">

            <p:panel id="mitarbeiterAdminPanel" collapsed="true" header="#{msg.admin}"
                     toggleable="false" rendered="#{cc.attrs.dialogController.viewPermission.adminTab}">
                <f:facet name="actions">
                    <p:commandLink styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
                                   rendered="#{cc.attrs.dialogController.viewPermission.removeRoleButton}"
                                   actionListener="#{cc.attrs.dialogController.stripRoleAdmin()}">
                        <h:outputText styleClass="ui-icon ui-icon-trash"/>
                    </p:commandLink>
                </f:facet>
            </p:panel>
            <p:panel widgetVar="rolleAdminMessagePanel" id="rolleAdminMessagePanel"
                     visible="#{cc.attrs.dialogController.removeAdmin}">
                #{msg.achutngDurchBestätigungWirdDieRolleAdminEntfernt}
            </p:panel>


            <p:panel id="mitarbeiterSensorPanel" header="#{msg.sensor}"
                     toggleable="true" collapsed="false"
                     rendered="#{cc.attrs.dialogController.viewPermission.sensorTab}">
                <f:facet name="actions">
                    <p:commandLink
                            styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default actions-in-menu-bar"
                            rendered="#{cc.attrs.dialogController.viewPermission.removeRoleButton}"
                            update="dialog:mitarbeiterBearbeitenForm:mitarbeiterBearbeitenDlgContent:rolleSensorMessagePanel"
                            actionListener="#{cc.attrs.dialogController.stripRoleSensor()}">
                        <h:outputText styleClass="ui-icon ui-icon-trash"/>
                    </p:commandLink>
                </f:facet>
                <p:panel widgetVar="rolleSensorMessagePanel" id="rolleSensorMessagePanel"
                         visible="#{cc.attrs.dialogController.removeSensor}">
                    Achtung! Durch Bestätigen wird die Rolle #{msg.sensor} vom Nutzer entfernt.
                </p:panel>
                <div class="ui-g MitarbeiterBearbeitenTable">
                    <div class="ui-g-6">
                        <p:dataTable id="mitarbeiterSensorTable"
                                     var="b"
                                     emptyMessage="#{msg.keinSensorCocSchreibrecht}"
                                     value="#{cc.attrs.dialogController.sensorCocAsSensorSchreibend}"
                                     class="auswTable meldungZuordnenTable">
                            <p:column headerText="#{msg.schreibend}">
                                #{b.name}
                            </p:column>
                            <p:column class="MitarbeiterBearbeitenMuelleimer">
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               rendered="#{b.delete}">
                                    <img style="opacity:0.5;"
                                         src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               update="mitarbeiterSensorTable"
                                               rendered="#{b.editPermission}"
                                               actionListener="#{cc.attrs.dialogController.addBerechtigungToRemoveList(b)}">
                                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </div>
                    <div class="ui-g-6">
                        <p:dataTable id="mitarbeiterSensorLeseTable"
                                     var="b"
                                     emptyMessage="#{msg.keinSensorCocLeserecht}"
                                     value="#{cc.attrs.dialogController.sensorCocAsSensorLesend}"
                                     class="auswTable meldungZuordnenTable">
                            <p:column headerText="#{msg.lesend}">
                                #{b.name}
                            </p:column>
                            <p:column class="MitarbeiterBearbeitenMuelleimer">
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               rendered="#{b.delete}">
                                    <img style="opacity:0.5;"
                                         src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               update="mitarbeiterSensorLeseTable"
                                               rendered="#{b.editPermission}"
                                               actionListener="#{cc.attrs.dialogController.addBerechtigungToRemoveList(b)}">
                                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>
            </p:panel>

            <p:panel id="mitarbeiterSensorEingPanel" header="#{msg.SensorEing}"
                     toggleable="true" collapsed="false"
                     rendered="#{cc.attrs.dialogController.viewPermission.sensorEingeschraenktTab}">
                <f:facet name="actions">
                    <p:commandLink styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
                                   rendered="#{cc.attrs.dialogController.viewPermission.removeRoleButton}"
                                   update="dialog:mitarbeiterBearbeitenForm:mitarbeiterBearbeitenDlgContent:rolleSensorEingMessagePanel"
                                   actionListener="#{cc.attrs.dialogController.stripRoleSensorEingeschraenkt()}">
                        <h:outputText styleClass="ui-icon ui-icon-trash"/>
                    </p:commandLink>
                </f:facet>
                <p:panel widgetVar="rolleSensorEingMessagePanel" id="rolleSensorEingMessagePanel"
                         visible="#{cc.attrs.dialogController.removeSensorEing}">
                    Achtung! Durch Bestätigen wird die Rolle #{msg.SensorEing} vom Nutzer entfernt.
                </p:panel>
                <div class="ui-g MitarbeiterBearbeitenTable">
                    <div class="ui-g-12">
                        <p:dataTable id="mitarbeiterSensorEingTable"
                                     var="b"
                                     emptyMessage="#{msg.keinSensorCocSchreibrecht}"
                                     value="#{cc.attrs.dialogController.sensorCocAsSensorEingSchreibend}"
                                     class="auswTable meldungZuordnenTable">
                            <p:column headerText="#{msg.schreibend}">
                                #{b.name}
                            </p:column>
                            <p:column class="MitarbeiterBearbeitenMuelleimer">
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               rendered="#{b.delete}">
                                    <img style="opacity:0.5;"
                                         src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               update="mitarbeiterSensorEingTable"
                                               rendered="#{b.editPermission}"
                                               actionListener="#{cc.attrs.dialogController.addBerechtigungToRemoveList(b)}">
                                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>
            </p:panel>

            <p:panel id="mitarbeiterSensorCoCLeiterPanel"
                     header="#{msg.sensorCoCLeiter}"
                     toggleable="true" collapsed="false"
                     rendered="#{cc.attrs.dialogController.viewPermission.sensorCocLeiterTab}">
                <f:facet name="actions">
                    <p:commandLink styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
                                   rendered="#{cc.attrs.dialogController.viewPermission.removeRoleButton}"
                                   update="dialog:mitarbeiterBearbeitenForm:mitarbeiterBearbeitenDlgContent:rolleSensorCoCLeiterMessagePanel"
                                   actionListener="#{cc.attrs.dialogController.stripRoleSensorCoCLeiter()}">
                        <h:outputText styleClass="ui-icon ui-icon-trash"/>
                    </p:commandLink>
                </f:facet>
                <p:panel widgetVar="rolleSensorCoCLeiterMessagePanel" id="rolleSensorCoCLeiterMessagePanel"
                         visible="#{cc.attrs.dialogController.removeSensorCoCLeiter}">
                    Achtung! Durch Bestätigen wird die Rolle #{msg.sensorCoCLeiter} vom Nutzer entfernt.
                </p:panel>
                <div class="ui-g MitarbeiterBearbeitenTable">
                    <div class="ui-g-6">
                        <p:dataTable id="mitarbeiterVerantwortlicherFTSSensorTable"
                                     var="b"
                                     emptyMessage="#{msg.keinSensorCocSchreibrecht}"
                                     value="#{cc.attrs.dialogController.sensorCocAsSensorCocLeiterSchreibend}"
                                     class="auswTable meldungZuordnenTable">
                            <p:column headerText="#{msg.schreibend}">
                                #{b.name}
                            </p:column>
                            <p:column class="MitarbeiterBearbeitenMuelleimer">
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               rendered="#{b.delete}">
                                    <img style="opacity:0.5;"
                                         src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               update="mitarbeiterVerantwortlicherFTSSensorTable"
                                               rendered="#{b.editPermission}"
                                               actionListener="#{cc.attrs.dialogController.addBerechtigungToRemoveList(b)}">
                                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </div>
                    <div class="ui-g-6">
                        <p:dataTable id="mitarbeiterVerantwortlicherFTSSensorLeseTable"
                                     var="b"
                                     emptyMessage="#{msg.keinSensorCocLeserecht}"
                                     value="#{cc.attrs.dialogController.sensorCocAsSensorCocLeiterLesend}"
                                     class="auswTable meldungZuordnenTable">
                            <p:column headerText="#{msg.lesend}">
                                #{b.name}
                            </p:column>
                            <p:column class="MitarbeiterBearbeitenMuelleimer">
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               rendered="#{b.delete}">
                                    <img style="opacity:0.5;"
                                         src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               update="mitarbeiterVerantwortlicherFTSSensorLeseTable"
                                               rendered="#{b.editPermission}"
                                               actionListener="#{cc.attrs.dialogController.addBerechtigungToRemoveList(b)}">
                                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>
            </p:panel>

            <p:panel id="mitarbeiterVertreterSCLPanel"
                     header="#{msg.vertreterSCL}"
                     toggleable="true" collapsed="false"
                     rendered="#{cc.attrs.dialogController.viewPermission.vertreterSCLTab}">
                <f:facet name="actions">
                    <p:commandLink styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
                                   rendered="#{cc.attrs.dialogController.viewPermission.removeRoleButton}"
                                   update="dialog:mitarbeiterBearbeitenForm:mitarbeiterBearbeitenDlgContent:rolleVertreterSCLMessagePanel"
                                   actionListener="#{cc.attrs.dialogController.stripRoleVertreterSCL()}">
                        <h:outputText styleClass="ui-icon ui-icon-trash"/>
                    </p:commandLink>
                </f:facet>
                <p:panel widgetVar="rolleVertreterSCLMessagePanel" id="rolleVertreterSCLMessagePanel"
                         visible="#{cc.attrs.dialogController.removeVertreterSCL}">
                    Achtung! Durch Bestätigen wird die Rolle #{msg.vertreterSCL} vom Nutzer entfernt.
                </p:panel>
                <div class="ui-g MitarbeiterBearbeitenTable">
                    <div class="ui-g-6">
                        <p:dataTable id="mitarbeiterFTSSensorTable"
                                     var="b"
                                     emptyMessage="#{msg.keinSensorCocSchreibrecht}"
                                     value="#{cc.attrs.dialogController.sensorCocAsVertreterSCLSchreibend}"
                                     class="auswTable meldungZuordnenTable">
                            <p:column headerText="#{msg.schreibend}">
                                #{b.name}
                            </p:column>
                            <p:column class="MitarbeiterBearbeitenMuelleimer">
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               rendered="#{b.delete}">
                                    <img style="opacity:0.5;"
                                         src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               update="mitarbeiterFTSSensorTable"
                                               rendered="#{b.editPermission}"
                                               actionListener="#{cc.attrs.dialogController.addBerechtigungToRemoveList(b)}">
                                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </div>
                    <div class="ui-g-6">
                        <p:dataTable id="mitarbeiterFTSSensorLeseTable"
                                     var="b"
                                     emptyMessage="#{msg.keinSensorCocLeserecht}"
                                     value="#{cc.attrs.dialogController.sensorCocAsVertreterSCLLesend}"
                                     class="auswTable meldungZuordnenTable">
                            <p:column headerText="#{msg.lesend}">
                                #{b.name}
                            </p:column>
                            <p:column class="MitarbeiterBearbeitenMuelleimer">
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               rendered="#{b.delete}">
                                    <img style="opacity:0.5;"
                                         src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               update="mitarbeiterFTSSensorLeseTable"
                                               rendered="#{b.editPermission}"
                                               actionListener="#{cc.attrs.dialogController.addBerechtigungToRemoveList(b)}">
                                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>
            </p:panel>

            <p:panel id="mitarbeiterTteamleiterPanel" header="#{msg.tteamleiter}"
                     toggleable="true" collapsed="false"
                     rendered="#{cc.attrs.dialogController.viewPermission.tteamLeiterTab}">
                <f:facet name="actions">
                    <p:commandLink styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
                                   rendered="#{cc.attrs.dialogController.viewPermission.removeRoleButton}"
                                   update="dialog:mitarbeiterBearbeitenForm:mitarbeiterBearbeitenDlgContent:rolleTteamleiterMessagePanel"
                                   actionListener="#{cc.attrs.dialogController.stripRoleTteamleiter()}">
                        <h:outputText styleClass="ui-icon ui-icon-trash"/>
                    </p:commandLink>
                </f:facet>
                <p:panel widgetVar="rolleTteamleiterMessagePanel" id="rolleTteamleiterMessagePanel"
                         visible="#{cc.attrs.dialogController.removeTteamleiter}">
                    Achtung! Durch Bestätigen wird die Rolle #{msg.tteamleiter} vom Nutzer entfernt.
                </p:panel>
                <div class="ui-g MitarbeiterBearbeitenTable">
                    <div class="ui-g-12">
                        <p:dataTable id="mitarbeiterTTLTable"
                                     var="b"
                                     emptyMessage="#{msg.keinTteam}"
                                     value="#{cc.attrs.dialogController.tteamAsTteamleiterSchreibend}"
                                     class="auswTable meldungZuordnenTable">
                            <p:column headerText="#{msg.tteam}">
                                #{b.name}
                            </p:column>
                            <p:column class="MitarbeiterBearbeitenMuelleimer">
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               rendered="#{b.delete}">
                                    <img style="opacity:0.5;"
                                         src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               update="mitarbeiterTTLTable"
                                               rendered="#{b.editPermission}"
                                               actionListener="#{cc.attrs.dialogController.addBerechtigungToRemoveList(b)}">
                                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </div>

                </div>
            </p:panel>
            <p:panel id="mitarbeiterTteamVertreterPanel" header="#{msg.tteamvertreter}"
                     toggleable="true" collapsed="false"
                     rendered="#{cc.attrs.dialogController.viewPermission.tteamVertreterTab}">
                <f:facet name="actions">
                    <p:commandLink styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
                                   rendered="#{cc.attrs.dialogController.viewPermission.removeRoleButton}"
                                   update="dialog:mitarbeiterBearbeitenForm:mitarbeiterBearbeitenDlgContent:rolleTteamVertreterMessagePanel"
                                   actionListener="#{cc.attrs.dialogController.stripeRoleTteamVertreter()}">
                        <h:outputText styleClass="ui-icon ui-icon-trash"/>
                    </p:commandLink>
                </f:facet>
                <p:panel widgetVar="rolleTteamVertreterMessagePanel" id="rolleTteamVertreterMessagePanel"
                         visible="#{cc.attrs.dialogController.removeTteamVertreter}">
                    Achtung! Durch Bestätigen wird die Rolle #{msg.tteamvertreter} vom Nutzer entfernt.
                </p:panel>
                <div class="ui-g MitarbeiterBearbeitenTable">
                    <div class="ui-g-12">
                        <p:dataTable id="mitarbeiterTTVTable"
                                     var="tteam"
                                     emptyMessage="#{msg.keinTteam}"
                                     value="#{cc.attrs.dialogController.tteamVertreterTteamNames}"
                                     class="auswTable meldungZuordnenTable">
                            <p:column headerText="#{msg.tteam}">
                                #{tteam}
                            </p:column>
                            <p:column class="MitarbeiterBearbeitenMuelleimer">
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               rendered="#{cc.attrs.dialogController.isTteamSelectedByVertreterForDelete(tteam)}">
                                    <img style="opacity:0.5;"
                                         src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               update="mitarbeiterTTVTable"
                                               rendered="#{cc.attrs.dialogController.checkForTteamVertreterDeleteButton(tteam)}"
                                               actionListener="#{cc.attrs.dialogController.addTteamVertreterToRemoveList(tteam)}">
                                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </div>

                </div>
            </p:panel>

            <p:panel id="mitarbeiterTteamMitgliedPanel" header="#{msg.tteammitglied}"
                     toggleable="true" collapsed="false"
                     rendered="#{cc.attrs.dialogController.viewPermission.tteamMitgliedTab}">
                <f:facet name="actions">
                    <p:commandLink
                            styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default actions-in-menu-bar"
                            rendered="#{cc.attrs.dialogController.viewPermission.removeRoleButton}"
                            update="dialog:mitarbeiterBearbeitenForm:mitarbeiterBearbeitenDlgContent:rolleTteamMitgliedMessagePanel"
                            actionListener="#{cc.attrs.dialogController.stripRoleTteamMitglied()}">
                        <h:outputText styleClass="ui-icon ui-icon-trash"/>
                    </p:commandLink>
                </f:facet>
                <p:panel widgetVar="rolleTteamMitgliedMessagePanel" id="rolleTteamMitgliedMessagePanel"
                         visible="#{cc.attrs.dialogController.removeTteamMitglied}">
                    Achtung! Durch Bestätigen wird die Rolle #{msg.tteammitglied} vom Nutzer entfernt.
                </p:panel>
                <div class="ui-g MitarbeiterBearbeitenTable">
                    <div class="ui-g-6">
                        <p:dataTable id="mitarbeiterTteamMitgliedTable"
                                     var="tteam"
                                     emptyMessage="#{msg.keintteamMitgliedSchreibrecht}"
                                     value="#{cc.attrs.dialogController.tteamMitgliedSchreibend}"
                                     class="auswTable meldungZuordnenTable">
                            <p:column headerText="#{msg.schreibend}">
                                #{tteam}
                            </p:column>
                            <p:column class="MitarbeiterBearbeitenMuelleimer">
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               rendered="#{cc.attrs.dialogController.isTteamSelectedByMitgliedForDeleteWritable(tteam)}">
                                    <img style="opacity:0.5;"
                                         src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               update="mitarbeiterTteamMitgliedTable"
                                               rendered="#{cc.attrs.dialogController.checkForTteamMitgliedWritingDeleteButton(tteam)}"
                                               actionListener="#{cc.attrs.dialogController.addTteamSchreibendToRemoveList(tteam)}">
                                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </div>
                    <div class="ui-g-6">
                        <p:dataTable id="mitarbeiterTteamMitgliedLesendTable"
                                     var="tteamRo"
                                     emptyMessage="#{msg.keintteamMitgliedLeserecht}"
                                     value="#{cc.attrs.dialogController.tteamMitgliedLesend}"
                                     class="auswTable meldungZuordnenTable">
                            <p:column headerText="#{msg.lesend}">
                                #{tteamRo}
                            </p:column>
                            <p:column class="MitarbeiterBearbeitenMuelleimer">
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               rendered="#{cc.attrs.dialogController.isTteamSelectedByMitgliedForDeleteReadable(tteamRo)}">
                                    <img style="opacity:0.5;"
                                         src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               update="mitarbeiterTteamMitgliedLesendTable"
                                               rendered="#{cc.attrs.dialogController.checkForTteamMitgliedReadingDeleteButton(tteamRo)}"
                                               actionListener="#{cc.attrs.dialogController.addTteamLesendToRemoveList(tteamRo)}">
                                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>
            </p:panel>

            <p:panel id="mitarbeiterEcoCPanel" header="#{msg.ecoc}" toggleable="true"
                     collapsed="false" rendered="#{cc.attrs.dialogController.viewPermission.ecocTab}">
                <f:facet name="actions">
                    <p:commandLink styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
                                   rendered="#{cc.attrs.dialogController.viewPermission.removeRoleButton}"
                                   update="dialog:mitarbeiterBearbeitenForm:mitarbeiterBearbeitenDlgContent:rolleEcocMessagePanel"
                                   actionListener="#{cc.attrs.dialogController.stripRoleECoC()}">
                        <h:outputText styleClass="ui-icon ui-icon-trash"/>
                    </p:commandLink>
                </f:facet>
                <p:panel widgetVar="rolleEcocMessagePanel" id="rolleEcocMessagePanel"
                         visible="#{cc.attrs.dialogController.removeEcoc}">
                    Achtung! Durch Bestätigen wird die Rolle #{msg.ecoc} vom Nutzer entfernt.
                </p:panel>
                <div class="ui-g MitarbeiterBearbeitenTable">
                    <div class="ui-g-12">
                        <p:dataTable id="mitarbeiterECocTable"
                                     var="b"
                                     emptyMessage="#{msg.keinModul}"
                                     value="#{cc.attrs.dialogController.modulSeTeamAsEcocSchreibend}"
                                     class="auswTable meldungZuordnenTable">
                            <p:column headerText="#{msg.seTeam}">
                                #{b.name}
                            </p:column>
                            <p:column class="MitarbeiterBearbeitenMuelleimer">
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               rendered="#{b.delete}">
                                    <img style="opacity:0.5;"
                                         src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               rendered="#{b.editPermission}"
                                               update="mitarbeiterECocTable"
                                               actionListener="#{cc.attrs.dialogController.addBerechtigungToRemoveList(b)}">
                                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>
            </p:panel>

            <p:panel id="mitarbeiterAnfordererPanel" header="#{msg.anforderer}"
                     toggleable="true" collapsed="false"
                     rendered="#{cc.attrs.dialogController.viewPermission.anfordererTab}">
                <f:facet name="actions">
                    <p:commandLink styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
                                   rendered="#{cc.attrs.dialogController.viewPermission.removeRoleButton}"
                                   update="dialog:mitarbeiterBearbeitenForm:mitarbeiterBearbeitenDlgContent:rolleAnfordererMessagePanel"
                                   actionListener="#{cc.attrs.dialogController.stripRoleAnforderer()}">
                        <h:outputText styleClass="ui-icon ui-icon-trash"/>
                    </p:commandLink>
                </f:facet>
                <p:panel widgetVar="rolleAnfordererMessagePanel" id="rolleAnfordererMessagePanel"
                         visible="#{cc.attrs.dialogController.removeAnforderer}">
                    Achtung! Durch Bestätigen wird die Rolle #{msg.anforderer} vom Nutzer entfernt.
                </p:panel>
                <div class="ui-g MitarbeiterBearbeitenTable">
                    <div class="ui-g-6">
                        <p:dataTable id="mitarbeiterAnfordererTable"
                                     var="b"
                                     emptyMessage="#{msg.keinDerivat}"
                                     value="#{cc.attrs.dialogController.derivatAsAnfordererSchreibend}"
                                     class="auswTable meldungZuordnenTable">
                            <p:column headerText="#{msg.derivat}">
                                #{b.name}
                            </p:column>
                            <p:column class="MitarbeiterBearbeitenMuelleimer">
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               rendered="#{b.delete}">
                                    <img style="opacity:0.5;"
                                         src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               rendered="#{b.editPermission}"
                                               update="mitarbeiterAnfordererTable"
                                               actionListener="#{cc.attrs.dialogController.addBerechtigungToRemoveList(b)}">
                                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>

                    </div>
                    <div class="ui-g-6">
                        <p:dataTable id="mitarbeiterAnfordererZakTable"
                                     var="b"
                                     emptyMessage="#{msg.keineZak}"
                                     value="#{cc.attrs.dialogController.zakEinordnungAsAnfordererSchreibend}"
                                     class="auswTable meldungZuordnenTable">
                            <p:column headerText="#{msg.zakEinordnung}">
                                #{b.name}
                            </p:column>
                            <p:column class="MitarbeiterBearbeitenMuelleimer">
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               rendered="#{b.delete}">
                                    <img style="opacity:0.5;"
                                         src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               update="mitarbeiterAnfordererZakTable"
                                               rendered="#{b.editPermission}"
                                               actionListener="#{cc.attrs.dialogController.addBerechtigungToRemoveList(b)}">
                                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>
            </p:panel>

            <p:panel id="mitarbeiterUmsetzungsbestaetigerPanel" collapsed="false" header="#{msg.umsetzungsbest}"
                     toggleable="true" rendered="#{cc.attrs.dialogController.viewPermission.umsetzungsbestaetigerTab}">
                <f:facet name="actions">
                    <p:commandLink styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
                                   rendered="#{cc.attrs.dialogController.viewPermission.removeRoleButton}"
                                   actionListener="#{cc.attrs.dialogController.stripRoleUmsetzungsbestaetiger()}"
                                   update="dialog:mitarbeiterBearbeitenForm:mitarbeiterBearbeitenDlgContent:rolleUmsetzungsbestaetigerMessagePanel">
                        <h:outputText styleClass="ui-icon ui-icon-trash"/>
                    </p:commandLink>
                </f:facet>
                <p:panel widgetVar="rolleUmsetzungsbestaetigerMessagePanel" id="rolleUmsetzungsbestaetigerMessagePanel"
                         visible="#{cc.attrs.dialogController.removeUmsetzungsbestaetiger}">
                    Achtung! Durch Bestätigen wird die Rolle #{msg.umsetzungsbest} vom Nutzer entfernt.
                </p:panel>
                <div class="ui-g MitarbeiterBearbeitenTable">
                    <div class="ui-g-12">
                        <p:dataTable id="mitarbeiterUmsBestSensorTable"
                                     var="b"
                                     emptyMessage="#{msg.keinSensorCoc}"
                                     value="#{cc.attrs.dialogController.sensorCocAsUmsetzungsbestaetigerSchreibend}"
                                     class="auswTable meldungZuordnenTable">
                            <p:column>
                                #{b.name}
                            </p:column>
                            <p:column class="MitarbeiterBearbeitenMuelleimer">
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               rendered="#{b.delete}">
                                    <img style="opacity:0.5;"
                                         src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               update="mitarbeiterUmsBestSensorTable"
                                               rendered="#{b.editPermission}"
                                               actionListener="#{cc.attrs.dialogController.addBerechtigungToRemoveList(b)}">
                                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>
            </p:panel>

            <p:panel id="mitarbeiterLeserPanel" collapsed="false" header="#{msg.leser}"
                     toggleable="true" rendered="#{cc.attrs.dialogController.viewPermission.leserTab}">
                <f:facet name="actions">
                    <p:commandLink styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
                                   actionListener="#{cc.attrs.dialogController.stripRoleLeser()}"
                                   update="rolleLeserMessagePanel">
                        <h:outputText styleClass="ui-icon ui-icon-trash"/>
                    </p:commandLink>
                </f:facet>
                <p:panel widgetVar="rolleLeserMessagePanel" id="rolleLeserMessagePanel"
                         toggleable="true" closable="true" visible="#{cc.attrs.dialogController.removeLeser}">
                    Achtung! Durch Bestätigen wird die Rolle #{msg.leser} vom Nutzer entfernt.
                </p:panel>
                <div class="ui-g MitarbeiterBearbeitenTable">
                    <div class="ui-g-12">
                        <p:dataTable id="mitarbeiterLeserBestSensorTable"
                                     var="b"
                                     emptyMessage="#{msg.keinSensorCoc}"
                                     value="#{cc.attrs.dialogControllerl.sensorCocAsLeser}"
                                     class="auswTable meldungZuordnenTable">
                            <p:column>
                                #{b.name}
                            </p:column>
                            <p:column class="MitarbeiterBearbeitenMuelleimer">
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               rendered="#{b.delete}">
                                    <img style="opacity:0.5;"
                                         src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                                <p:commandLink class="rechtDelete" title="#{msg.entfernen}"
                                               update="mitarbeiterLeserBestSensorTable"
                                               rendered="#{b.editPermission}"
                                               actionListener="#{cc.attrs.dialogController.addBerechtigungToRemoveList(b)}">
                                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>
            </p:panel>

        </div>
        <div class="footer-container">
            <div class="footer">
                <h:panelGroup>
                    <p:commandButton id="confirmDialogJaButton"
                                     value="#{msg.ok}"
                                     styleClass="ui-confirmdialog-yes"
                                     icon="ui-icon-check"
                                     action="#{cc.attrs.dialogController.processChanges()}"
                    />
                    <p:commandButton id="abbrechenButton" onclick="PF('mitarbeiterBearbeitenDialog').hide();"
                                     actionListener="#{cc.attrs.dialogController.clearRolleZuEntziehenList()}"
                                     value="#{msg.abbrechen}"
                    />


                </h:panelGroup>
            </div>
        </div>
    </div>
</cc:implementation>
</html>
