<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:define name="imports">
        <h:outputStylesheet library="css" name="public/growl.css" />
    </ui:define>

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="anfoCtrl" type="de.interfaceag.bmw.pzbk.controller.dialogs.ModulFreigabeCommentDialog"/>
        <cc:attribute required="true" name="proceed" type="de.interfaceag.bmw.pzbk.controller.dialogs.ModulFreigabeProccedDialog" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:growl id="growl" sticky="false" severity="error" showDetail="true" />  
        <div id="#{cc.clientId}">

            <p:outputLabel for="modulFreigabeComment" style="font-weight: bold;" value="#{msg.kommentar}:"/>
            <p:inputTextarea rows="3" 
                             cols="50" 
                             id="modulFreigabeComment"
                             class="kommentCol" 
                             value="#{cc.attrs.anfoCtrl.modulFreigabeKommentar}"
                             required="#{cc.attrs.anfoCtrl.kommentarRequired}"
                             >
                <p:ajax event="blur" update="modulFreigabeComment"/>
            </p:inputTextarea>
        </div>

        <div class="footer-container">
            <div class="footer">
                <h:panelGroup>
                    <p:commandButton id="proceedBtn"
                                     value="#{msg.weiter}" 
                                     immediate="true"
                                     action="#{cc.attrs.proceed.proceedWithModulFreigabe(cc.attrs.anfoCtrl.anfoModulZumFreigeben)}"
                                     ajax="true"
                                     update="growl"
                                     >
                    </p:commandButton>
                    <p:commandButton value="#{msg.abbrechen}" onclick="PF('modulFreigabeCommentDialog').hide()" />
                </h:panelGroup>
            </div>
        </div>
    </cc:implementation>
</html>
