<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <cc:interface>
        <cc:attribute required="true" name="derivatZuordnenDialogPersistDerivat" type="de.interfaceag.bmw.pzbk.controller.dialogs.DerivatZuordnenDialogPersistDerivat"/>
        <cc:attribute required="true" name="derivatZuordnenDialog" type="de.interfaceag.bmw.pzbk.controller.dialogs.DerivatZuordnenDialog"/>
    </cc:interface>

    <cc:implementation>
        <h:outputStylesheet library="css" name="public/color.css"/>
        <h:outputStylesheet library="css" name="public/icons.css"/>

        <div id="#{cc.clientId}">
            <h3><span>#{msg.verfuegbareDerivate}</span></h3>

            <p:dataTable id="verfuegbareDerivate" 
                         var="derivat" 
                         scrollable="true"
                         scrollHeight="200"
                         value="#{cc.attrs.derivatZuordnenDialog.derivateChoosable}">
                <p:column style="width:20px">
                    <p:commandLink action="#{cc.attrs.derivatZuordnenDialog.addDerivat(derivat)}" 
                                   update='dialog:derivateZuordnenForm:derivateZuordnenDlgContent'>
                        <span class="fa icon-plus"/>
                    </p:commandLink>
                </p:column>
                <p:column headerText="#{msg.name}">
                    <h:outputText id="derivatNameText" value="#{derivat.derivatName}" />
                </p:column>

                <p:column headerText="#{msg.produktlinie}" style="text-align:center;">
                    <h:outputText id="derivatProdlinieText" value="#{derivat.produktlinie}" />
                </p:column>

            </p:dataTable>

            <h3><span>#{msg.zugeordneteDerivate}</span></h3>
            <p:dataTable id="zugeordneteDerivateFeldTable" 
                         var="derivat" 
                         scrollable="true"
                         scrollHeight="200"
                         value="#{cc.attrs.derivatZuordnenDialog.zugeordneteDerivate}">

                <p:column style="width:20px">
                    <p:commandLink rendered="#{cc.attrs.derivatZuordnenDialog.canBeRemoved(derivat)}" 
                                   action="#{cc.attrs.derivatZuordnenDialog.removeDerivat(derivat)}" 
                                   update='dialog:derivateZuordnenForm:derivateZuordnenDlgContent'>
                        <span class="fa icon-minus"/>
                    </p:commandLink>
                </p:column>
                <p:column headerText="#{msg.name}">
                    <h:outputText id="derivatNameText" value="#{derivat.derivatName}" />
                </p:column>

                <p:column headerText="#{msg.produktlinie}" style="text-align:center;">
                    <h:outputText id="derivatProdlinieText" value="#{derivat.produktlinie}" />
                </p:column>
            </p:dataTable>


            <div class="footer-container">
                <div class="footer">
                    <h:panelGroup>
                        <p:commandButton id="confirmDialogJaButton" 
                                         value="#{msg.ok}" 
                                         styleClass="ui-confirmdialog-yes" 
                                         action="#{cc.attrs.derivatZuordnenDialogPersistDerivat.persistDerivatChanges()}"
                                         process="@form"
                                         />
                        <p:commandButton id="confirmDialogNeinButton" 
                                         value="#{msg.abbrechen}" 
                                         styleClass="ui-confirmdialog-no" 
                                         icon="ui-icon-close"
                                         action="#{cc.attrs.derivatZuordnenDialogPersistDerivat.discardChanges()}"
                                         process="@form" />
                    </h:panelGroup>
                </div>
            </div>
        </div>
    </cc:implementation>
</html>