<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="derivateListForAnforderung" type="de.interfaceag.bmw.pzbk.controller.dialogs.DerivatAnzeigenDialogDerivatForAnforderungList"/>
        <cc:attribute required="true" name="derivatenAnzeigenProceedDialog" type="de.interfaceag.bmw.pzbk.controller.dialogs.DerivatAnzeigenProceedDialog"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <div id="#{cc.clientId}">
            <p:dataTable id="deriTable" var="da" value="#{cc.attrs.derivateListForAnforderung.zuordnungAnforderungenDerivatList}"
                         rowKey="#{da.id}"
                         editable="true"
                         editMode="cell"
                         emptyMessage="#{msg.keinDerivatZurUebertragung}"
                         rowStyleClass="no-hover">
                <p:ajax event="cellEdit" listener="#{cc.attrs.derivatenAnzeigenProceedDialog.onAnfoDeriEdit(da)}" update="@all" />
                <p:column headerText="#{msg.nachZak}" width="80">
                    <h:selectBooleanCheckbox id="nachZakChk" rendered="#{!da.isNachZakUebertragen()}"
                                             onclick="toggleNachZak_#{da.id}();"/>
                    <ui:fragment rendered="#{da.isNachZakUebertragen()}" >
                        <div class="imageContainerSmall"><img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon-check-blue.png"/></div>
                    </ui:fragment>
                    <p:remoteCommand actionListener="#{cc.attrs.derivatenAnzeigenProceedDialog.toggleNachZak(da)}" name="toggleNachZak_#{da.id}" />
                </p:column>
                <p:column headerText="#{msg.derivatName}">
                    <h:outputText id="deriDeriName" value="#{da.derivatName}" />
                </p:column>
            </p:dataTable>
            <div class="footer-container">
                <div class="footer">
                    <h:panelGroup style="position: absolute; left: 18px !important;">

                    </h:panelGroup>

                    <h:panelGroup style="float: right;">
                        <p:commandButton id="nachZakButton"
                                         value="#{msg.uebertragen}"
                                         styleClass="ui-confirmdialog-yes"
                                         update="growlNachZak"
                                         action="#{cc.attrs.derivatenAnzeigenProceedDialog.sendNachZak()}"
                                         oncomplete="PF('derivatenAnzeigenDialog').hide();"
                                         ajax="true"
                                         style="margin-right: 5px;"
                                         class="zakBtnClass"
                                         disabled="#{empty cc.attrs.derivateListForAnforderung.zuordnungAnforderungenDerivatList}"
                                         >
                        </p:commandButton>
                        <p:growl id="growlNachZak" sticky="false" severity="info" showDetail="true" />
                        <p:commandButton id="cancelBtn"
                                         value="#{msg.abbrechen}"
                                         process="@form"
                                         action="#{cc.attrs.derivatenAnzeigenProceedDialog.reloadPage()}"
                                         />
                    </h:panelGroup>
                </div>
            </div>
        </div>
    </cc:implementation>
</html>
