<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="umsetzerFields" type="de.interfaceag.bmw.pzbk.controller.dialogs.UmsetzerDialogFields"/>
        <cc:attribute required="true" name="umsetzerMethods" type="de.interfaceag.bmw.pzbk.controller.dialogs.UmsetzerDialogMethods"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <f:facet name="last">
            <h:outputStylesheet library="css" name="umsetzerDialog.css"  />
            <h:outputScript library="js" name="anforderung.js" />
        </f:facet>
        <p:growl id="growl" sticky="false" showDetail="true" severity="info" />
        <p:panelGrid columns="3" class="umseGrid" columnClasses="umseModuleColumn, umseTeamsColumn, umseKomponenteColumn">
            <p:column>
                <div class="umseGridHeader" >
                    <p:outputLabel value="#{msg.egv}" />
                </div>
                <p:autoComplete id="modulAutoComplete"
                                placeholder="#{msg.suche}"
                                minQueryLength="0"
                                styleClass="umseAutoComplete"
                                cache="true"
                                value="#{cc.attrs.umsetzerFields.selectedModul}"
                                var="modul"
                                itemValue="#{modul}"
                                itemLabel="#{modul.name}"
                                completeMethod="#{cc.attrs.umsetzerFields.completeModul}"
                                converter="#{cc.attrs.umsetzerFields.modulConverter}"
                                scrollHeight="200">
                    <p:ajax event="itemSelect"
                            process="@this"
                            listener="#{cc.attrs.umsetzerFields.refreshModulSeTeamList()}"
                            update="@this modulTable seTeamTable komponentTable"/>
                </p:autoComplete>
                <p:dataTable
                    id="modulTable"
                    class="umseModulTable"
                    value="#{cc.attrs.umsetzerFields.filteredModule}"
                    var="modul"
                    lazy="true"
                    rowIndexVar="rowIndex"
                    rowKey="#{modul.name}"
                    selectionMode="single"
                    selection="#{cc.attrs.umsetzerFields.selectedModul}"
                    disabledTextSelection="false"
                    scrollable="true"
                    scrollHeight="200"
                    emptyMessage=""
                    scrollRows="25"
                    liveScroll="true"
                    widgetVar="modulTable">
                    <p:ajax event="rowSelect"
                            process="@this"
                            listener="#{cc.attrs.umsetzerFields.refreshModulSeTeamList()}"
                            update="@this dialog:umsetzerForm:umsetzerDlgContent:seTeamTable dialog:umsetzerForm:umsetzerDlgContent:komponentTable"/>
                    <p:column>
                        #{modul.name}
                    </p:column>
                </p:dataTable>
            </p:column>
            <p:column>
                <div class="umseGridHeader" >
                    <p:outputLabel value="#{msg.seTeams}" />
                </div>
                <p:autoComplete placeholder="#{msg.suche}"
                                minQueryLength="0"
                                id="seTeamAutoComplete"
                                styleClass="umseAutoComplete"
                                value="#{cc.attrs.umsetzerFields.selectedSeTeam}"
                                var="modulSeTeam"
                                itemValue="#{modulSeTeam}"
                                itemLabel="#{modulSeTeam.name}"
                                completeMethod="#{cc.attrs.umsetzerFields.completeSeTeam}"
                                converter="#{cc.attrs.umsetzerFields.modulSeTeamConverter}"
                                scrollHeight="200" >
                    <p:ajax event="itemSelect"
                            process="@this"
                            listener="#{cc.attrs.umsetzerFields.refreshUmsetzerKompList()}"
                            update="@this modulTable seTeamTable komponentTable"/>
                </p:autoComplete>
                <p:dataTable
                    id="seTeamTable"
                    class="umseTeamTable"
                    value="#{cc.attrs.umsetzerFields.filteredModulSeTeams}"
                    var="seTeam"
                    lazy="true"
                    rowIndexVar="rowIndex"
                    rowKey="#{seTeam.name}"
                    selectionMode="single"
                    selection="#{cc.attrs.umsetzerFields.selectedSeTeam}"
                    disabledTextSelection="false"
                    scrollable="true"
                    scrollHeight="200"
                    emptyMessage=""
                    scrollRows="25"
                    liveScroll="true"
                    widgetVar="seTeamTable">
                    <p:ajax event="rowSelect"
                            process="@this"
                            listener="#{cc.attrs.umsetzerFields.refreshUmsetzerKompList()}"
                            update="@this dialog:umsetzerForm:umsetzerDlgContent:komponentTable dialog:umsetzerForm:umsetzerDlgContent:modulTable"/>
                    <p:column>
                        #{seTeam.name}
                    </p:column>
                </p:dataTable>
            </p:column>
            <p:column>
                <div class="umseGridHeader" >
                    <p:outputLabel value="#{msg.komponente}" />
                </div>
                <p:autoComplete placeholder="#{msg.suche}"
                                id="umseKompAutoComplete"
                                minQueryLength="0"
                                styleClass="umseAutoComplete"
                                value="#{cc.attrs.umsetzerFields.selectedKomponente}"
                                var="modulKomponente"
                                itemValue="#{modulKomponente}"
                                itemLabel="#{modulKomponente.name}#{modulKomponente ne null ? ' (' : ''}#{modulKomponente.ppg}#{modulKomponente ne null ? ')' : ''}"
                                completeMethod="#{cc.attrs.umsetzerFields.completeKomponente}"
                                converter="#{cc.attrs.umsetzerFields.modulKomponenteConverter}"
                                scrollHeight="200">
                    <p:ajax event="itemSelect"
                            process="@this"
                            update="@this"/>
                </p:autoComplete>
                <p:dataTable
                    id="komponentTable"
                    class="umseKompTable"
                    value="#{cc.attrs.umsetzerFields.filteredModulKomponenten}"
                    var="komponent"
                    lazy="true"
                    rowIndexVar="rowIndex"
                    rowKey="#{komponent.name}"
                    selectionMode="single"
                    selection="#{cc.attrs.umsetzerFields.selectedKomponente}"
                    disabledTextSelection="false"
                    scrollable="true"
                    scrollHeight="200"
                    emptyMessage=""
                    scrollRows="25"
                    liveScroll="true"
                    widgetVar="komponentTable">
                    <p:ajax event="rowSelect"
                            update="dialog:umsetzerForm:umsetzerDlgContent:seTeamTable dialog:umsetzerForm:umsetzerDlgContent:modulTable"
                            process="@this"/>
                    <p:column>
                        #{komponent.name} (#{komponent.ppg})
                    </p:column>
                </p:dataTable>
            </p:column>
        </p:panelGrid>
        <p:panelGrid>
            <p:commandButton id="addUmsetzerBtn" value="#{msg.hinzufuegen}"
                             process="@form"
                             update="growl dialog:umsetzerForm:umsetzerDlgContent:umsetzerTable"
                             actionListener="#{cc.attrs.umsetzerFields.addUmsetzer()}"
                             class="addButton-ums"/>
        </p:panelGrid>
        <p:outputPanel id="selectedUmsetzerPanel">

            <p:dataTable value="#{cc.attrs.umsetzerFields.dialogUmsetzerViewDataSet}"
                         var="umsetzer"
                         class="umsetzerDataTable"
                         rowKey="#{umsetzer.name}"
                         id="umsetzerTable"
                         emptyMessage="#{msg.keineUmsetzerVorhanden}">

                <p:column headerText="#{msg.modul}">
                    <h:outputText value="#{umsetzer.modulName}" />
                </p:column>

                <p:column headerText="#{msg.seTeam}">
                    <h:outputText value="#{umsetzer.seTeamName}" />
                </p:column>

                <p:column headerText="#{msg.komponente}">
                    <h:outputText value="#{umsetzer.komponenteName} (#{umsetzer.komponentePpg})" />
                </p:column>

                <p:column headerText="" width="16">
                    <p:commandLink class="umsetzerDelete"
                                   title="#{msg.entfernen}"
                                   rendered="#{!umsetzer.isModulFreigegeben}"
                                   update="umsetzerTable"
                                   actionListener="#{cc.attrs.umsetzerFields.removeUmsetzer(umsetzer)}">
                        <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                    </p:commandLink>
                </p:column>
                <p:ajax event="rowSelect"  process="@form"
                        update="@this editAfo:anfoForm:anfoAccordion:modulsPanel"/>
            </p:dataTable>

        </p:outputPanel>

        <div class="footer-container">
            <div class="footer">
                <h:panelGroup>
                    <p:commandButton id="applyChangesToUmsetzerBtn" value="#{msg.ok}"
                                     actionListener="#{cc.attrs.umsetzerMethods.processUmsetzerChanges()}"
                                     update="selectedUmsetzerPanel editAfo:anfoForm:anfoAccordion:modulsPanel
                                     growl"
                                     onclick="PF('umsetzerDialog').hide()"/>
                    <p:commandButton value="#{msg.abbrechen}"
                                     actionListener="#{cc.attrs.umsetzerMethods.resetUmsetzerList()}"
                                     onclick="PF('umsetzerDialog').hide()"/>
                </h:panelGroup>
            </div>
        </div>

    </cc:implementation>
</html>