<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="projectProcessDrilldown" type="de.interfaceag.bmw.pzbk.reporting.projekt.prozess.ProjectProcessDrilldown" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <p:dataTable id="anforderungsuebersichtTable"
                     var="anforderung"
                     widgetVar="anforderungsuebersichtTable"
                     value="#{cc.attrs.projectProcessDrilldown.drilldownData}"
                     emptyMessage="#{msg.anforderung_reporting_keineAnforderungen}"
                     rowIndexVar="rowIndex"
                     paginator="true"
                     rows="10"
                     sortBy="#{anforderung.fachId}"

                     paginatorAlwaysVisible="false"
                     paginatorPosition="bottom" >

            <p:column width="10%" id="fachIdAndVersion" headerText="#{msg.reporting_RS_projektsicht_fachId}">

                <p:link target="_blank" outcome="anforderungView"
                        value="#{anforderung.fachIdAndVersion}" style="color: black; width: 100%;">
                    <f:param name="id" value="#{anforderung.id}" />
                    <f:param name="fachId" value="#{anforderung.fachId}" />
                    <f:param name="version" value="#{anforderung.version}" />
                </p:link>

            </p:column>

            <p:column width="10%" id="modul" headerText="#{msg.reporting_RS_projektsicht_modul}" rendered="#{cc.attrs.projectProcessDrilldown.shouldModulColumnBeShown()}">
                <p:outputLabel value="#{anforderung.modulname}"/>
            </p:column>

            <p:column width="10%" id="zakId" headerText="#{msg.reporting_RS_projektsicht_zakId}" rendered="#{cc.attrs.projectProcessDrilldown.shouldZakIdColumnBeShown()}">
                <p:outputLabel value="#{anforderung.zakID}"/>
            </p:column>

            <p:column width="60%" headerText="#{msg.reporting_RS_projektsicht_beschreibung}" >
                <p:outputLabel id="beschreibungTextFull"
                               class="bodyLabel fullTextCollapsible"
                               value="#{anforderung.beschreibung}"
                               onclick="toggleAnforderungBeschreibung(#{rowIndex})"
                               styleClass="displayNone textCollapsible" />
                <p:outputLabel id="beschreibungTextPreview"
                               class="textExpandable"
                               value="#{anforderung.shortBeschreibung}"
                               onclick="toggleAnforderungBeschreibung(#{rowIndex})" />
            </p:column>

            <p:column width="8%" headerText="#{msg.reporting_RS_projektsicht_status}" >
                <p:outputLabel value="#{anforderung.status}"/>
            </p:column>

        </p:dataTable>

        <div class="footer-container">
            <div class="footer">
                <h:panelGroup>

                    <p:commandButton value="#{msg.ok}" style="margin-left: 10px; padding-left: 2px; padding-right: 2px;" onclick="PF('anforderungsuebersichtDialog').hide()"  />
                </h:panelGroup>
            </div>
        </div>


    </cc:implementation>
</html>