<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:prozessbaukasten="http://xmlns.jcp.org/jsf/composite/prozessbaukasten">

    <cc:interface>
        <cc:attribute required="true" name="anforderungenTab" type="de.interfaceag.bmw.pzbk.prozessbaukasten.view.ProzessbaukastenAnforderungenTab" />
        <cc:attribute required="true" name="anforderungenTabReorder" type="de.interfaceag.bmw.pzbk.prozessbaukasten.view.ProzessbaukastenAnforderungenTabReorder" />
    </cc:interface>

    <cc:implementation>

        <h:outputStylesheet library="css" name="prozessbaukasten/anforderungOrderDialog.css" />

        <prozessbaukasten:orderAnforderungenTable
            id="orderAnforderungenTable"
            anforderungenTab="#{cc.attrs.anforderungenTab}"
            anforderungenTabReorder="#{cc.attrs.anforderungenTabReorder}"
            />

        <div class="footer-container">
            <div class="footer">
                <h:panelGroup>
                    <p:commandButton value="#{msg.anwenden}" action="#{cc.attrs.anforderungenTabReorder.apply()}"/>
                </h:panelGroup>
            </div>
        </div>
    </cc:implementation>
</html>
