<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="prozessbaukastenZuordnenDialogPersist" type="de.interfaceag.bmw.pzbk.prozessbaukasten.zuordnen.ProzessbaukastenZuordnenDialogMethods"/>
        <cc:attribute required="true" name="prozessbaukastenZuordnenDialogFields" type="de.interfaceag.bmw.pzbk.prozessbaukasten.zuordnen.ProzessbaukastenZuordnenDialogFields"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:outputStylesheet library="css" name="public/color.css"/>
        <h:outputStylesheet library="css" name="public/icons.css"/>
        <h:outputStylesheet library="css" name="prozessbaukasten/prozessbaukastenZuordnenDialog.css" />

        <p:dataTable id="prozessbaukastenszuordnen"
                     var="prozessbaukasten"
                     widgetVar="prozessbaukastenTable"
                     scrollable="true"
                     class="prozessbaukastenZuordnenDataTable"
                     scrollHeight="400"
                     filteredValue="#{cc.attrs.prozessbaukastenZuordnenDialogFields.filteredProzessbaukasten}"
                     value="#{cc.attrs.prozessbaukastenZuordnenDialogFields.prozessbaukastenChoosable}"
                     scrollRows="20"
                     liveScroll="true"
                     >
            <f:facet name="header">
                <p:outputPanel styleClass="prozessbaukastenFilter" >
                    <p:inputText id="globalFilter"
                                 placeholder="#{msg.suche}"
                                 onkeyup="PF('prozessbaukastenTable').filter()" />
                </p:outputPanel>
            </f:facet>
            <p:column  style="width:20px">
                <p:commandLink rendered="#{!cc.attrs.prozessbaukastenZuordnenDialogFields.zugeordneterProzessbaukastenIsPresent()}"
                               actionListener="#{cc.attrs.prozessbaukastenZuordnenDialogFields.addProzessbaukasten(prozessbaukasten)}"
                               update='dialog:prozessbaukastenZuordnenForm:prozessbaukastenZuordnenDialogContent:zugeordneterProzessbaukastenFeld
                               dialog:prozessbaukastenZuordnenForm:prozessbaukastenZuordnenDialogContent:prozessbaukastenszuordnen'>
                    <span class="fa icon-plus"/>
                </p:commandLink>
            </p:column>
            <p:column class="prozessbaukastenZuordnenTableColumn" style="width:250px" filterBy="#{prozessbaukasten.nameForView}" filterMatchMode="contains" headerText="#{msg.prozessbaukastenzuordnendialog_bezeichnung}">
                <p:link id="prozessbaukastenZuordnenLink" class="prozessbaukastenZuordnenLink"
                        outcome="prozessbaukastenView"
                        value="#{prozessbaukasten.nameForView}"
                        >
                    <f:param name="fachId" value="#{prozessbaukasten.fachId}" />
                    <f:param name="version" value="#{prozessbaukasten.version}" />
                </p:link>
            </p:column>
            <p:column class="prozessbaukastenZuordnenTableColumn"
                      headerText="#{msg.prozessbaukastenzuordnendialog_beschreibung}"
                      filterBy="#{prozessbaukasten.beschreibung}"
                      filterMatchMode="contains"
                      >
                <h:outputText id="derivatProdlinieText"
                              value="#{prozessbaukasten.beschreibung}" />
            </p:column>
        </p:dataTable>

        <h3><span>#{msg.prozessbaukastenzuordnendialog_zugeordneterprozessbaukasten}</span></h3>

        <p:panelGrid class="zugeordneterProzessbaukastenFeld" id="zugeordneterProzessbaukastenFeld" columns="3">
            <p:column style="width:20px">
                <p:commandLink
                    actionListener="#{cc.attrs.prozessbaukastenZuordnenDialogFields.removeProzessbaukasten()}"
                    rendered="#{cc.attrs.prozessbaukastenZuordnenDialogFields.zugeordneterProzessbaukastenIsPresent()}"                    
                    update='dialog:prozessbaukastenZuordnenForm:prozessbaukastenZuordnenDialogContent:zugeordneterProzessbaukastenFeld
                    dialog:prozessbaukastenZuordnenForm:prozessbaukastenZuordnenDialogContent:prozessbaukastenszuordnen'>
                    <span class="fa icon-minus"/>
                </p:commandLink>
            </p:column>
            <p:column style="width:250px" headerText="#{msg.prozessbaukastenzuordnendialog_bezeichnung}">
                <h:outputText id="derivatNameText" value="#{cc.attrs.prozessbaukastenZuordnenDialogFields.nameForView}" />
            </p:column>

            <p:column headerText="#{msg.prozessbaukastenzuordnendialog_beschreibung}" style="text-align:center;">
                <h:outputText id="derivatProdlinieText" value="#{cc.attrs.prozessbaukastenZuordnenDialogFields.beschreibung}" />
            </p:column>
        </p:panelGrid>

        <div class="footer-container">
            <div class="footer">
                <p:commandButton id="confirmDialogJaButton"
                                 value="#{msg.prozessbaukastenzuordnendialog_prozessbaukastenzuordnen_button}"
                                 styleClass="ui-confirmdialog-yes margin-right-5px"
                                 action="#{cc.attrs.prozessbaukastenZuordnenDialogPersist.prozessbaukastenZuordnen()}"
                                 process="@form"
                                 />
                <p:commandButton id="confirmDialogNeinButton"
                                 value="#{msg.abbrechen}"
                                 styleClass="ui-confirmdialog-no"
                                 actionListener="#{cc.attrs.prozessbaukastenZuordnenDialogPersist.resetProzessbaukastenZuordnenDialog()}"
                                 update='dialog:prozessbaukastenZuordnenForm:prozessbaukastenZuordnenDialogContent:zugeordneterProzessbaukastenFeld
                                 dialog:prozessbaukastenZuordnenForm:prozessbaukastenZuordnenDialogContent:prozessbaukastenszuordnen'
                                 />
            </div>
        </div>
    </cc:implementation>
</html>