<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="sensorCocFields" type="de.interfaceag.bmw.pzbk.controller.dialogs.SensorCocDialogFields"/>
        <cc:attribute required="true" name="sensorCocMethods" type="de.interfaceag.bmw.pzbk.controller.dialogs.SensorCocDialogMethods"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:outputPanel deferred="true" deferredMode="visible">
            <div id="#{cc.clientId}">
                <f:facet name="last">
                    <h:outputStylesheet library="css" name="sensorCoCDialog.css"  />
                </f:facet>
                <p:focus context="scocAutoComplete"/>
                <p:autoComplete id="scocAutoComplete"
                                placeholder="#{msg.suche}"
                                styleClass="scocAutoComplete"
                                cache="true"
                                value="#{cc.attrs.sensorCocFields.sensorCocAutoComplete}"
                                var="scoc"
                                minQueryLength="2"
                                itemValue="#{scoc}"
                                itemLabel="#{scoc.pathToString()}"
                                completeMethod="#{cc.attrs.sensorCocFields.completeSensorCoc}"
                                converter="#{cc.attrs.sensorCocFields.sensorCocConverter}"
                                scrollHeight="200">
                    <p:ajax event="itemSelect"
                            process="@this"
                            listener="#{cc.attrs.sensorCocFields.refresh()}"
                            update="@this :#{p:component('sensorCocTabelPanel')}"/>
                </p:autoComplete>
                <p:remoteCommand name="scocModulInputChanged"
                                 update=""
                                 value="scocModulInputChanged"
                                 async="true" />
                <p:panelGrid id="sensorCocTabelPanel" columns="2" class="scocGrid" columnClasses="scocROColumn, scocTechnColumn">
                    <p:column>
                        <div class="scocGridHeader" >
                            <p:outputLabel value="#{msg.ressortOrtung}" />
                        </div>
                        <p:dataTable
                            id="scocROTable"
                            class="scocROTable"
                            value="#{cc.attrs.sensorCocFields.sensorCocRessortOrtungList}"
                            var="ortung"
                            rowKey="#{ortung}"
                            selectionMode="single"
                            selection="#{cc.attrs.sensorCocFields.inputSensorCocRessortOrtung}"
                            disabledTextSelection="false"
                            scrollable="true"
                            scrollRows="25"
                            emptyMessage="#{msg.keinSensorCocGefunden}"
                            liveScroll="true"
                            widgetVar="scocROTable">
                            <p:ajax event="rowSelect"
                                    process="@this"
                                    update="dialog:sensorCocForm:sensorCocDlgContent:scocTechnologieTable dialog:sensorCocForm:sensorCocDlgContent:scocROTable dialog:sensorCocForm:sensorCocDlgContent:scocAutoComplete"
                                    listener="#{cc.attrs.sensorCocFields.refresh()}"/>
                            <p:column>
                                #{ortung}
                            </p:column>
                        </p:dataTable>
                    </p:column>
                    <p:column>
                        <div class="scocGridHeader" >
                            <p:outputLabel value="#{msg.technologie}" />
                        </div>
                        <p:dataTable
                            id="scocTechnologieTable"
                            class="scocTechnologieTable"
                            value="#{cc.attrs.sensorCocFields.sensorCocTechnologieList}"
                            var="technologie"
                            lazy="true"
                            rowIndexVar="rowIndex"
                            rowKey="#{technologie}"
                            selectionMode="single"
                            emptyMessage=""
                            selection="#{cc.attrs.sensorCocFields.inputSensorCocTechnologie}"
                            disabledTextSelection="false"
                            scrollable="true"
                            scrollRows="25"
                            liveScroll="true"
                            widgetVar="scocTechnologieTable">
                            <p:ajax event="rowSelect"
                                    listener="#{cc.attrs.sensorCocFields.refresh()}"
                                    update="dialog:sensorCocForm:sensorCocDlgContent:scocTechnologieTable dialog:sensorCocForm:sensorCocDlgContent:scocROTable dialog:sensorCocForm:sensorCocDlgContent:scocAutoComplete"
                                    process="@this"/>
                            <p:column>
                                #{technologie}
                            </p:column>
                        </p:dataTable>
                    </p:column>
                </p:panelGrid>
                <div class="footer-container">
                    <div class="footer">
                        <h:panelGroup>
                            <p:commandButton value="#{msg.ok}" process="@form"
                                             update="editAfo:anfoForm:anfoAccordion:sonsorCoCPanel editAfo:anfoForm:anfoAccordion:anfoSensorCoCLeiterOutput"
                                             actionListener="#{cc.attrs.sensorCocMethods.selectSensorCoC()}"
                                             onclick="PF('sensorCocDialog').hide()"/>
                            <p:commandButton value="#{msg.abbrechen}" onclick="PF('sensorCocDialog').hide()"/>
                        </h:panelGroup>
                    </div>
                </div>
            </div>
            <script>refreshSCoCDialogTable();</script>
        </p:outputPanel>
    </cc:implementation>
</html>