<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="anfoMgmtObjectCtrl" type="de.interfaceag.bmw.pzbk.controller.AbstractAnfoMgmtObjectController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:growl id="growl" sticky="false" severity="error" showDetail="true" />  
        <div id="#{cc.clientId}">
            <p:outputLabel for="statusChangeComment" value="#{msg.statusWechselKommentar}:"/>
            <p:inputTextarea rows="3" 
                             cols="50" 
                             id="statusChangeComment" 
                             class="kommentCol"
                             style="display: block; width: 100%;"
                             value="#{cc.attrs.anfoMgmtObjectCtrl.statusChangeKommentar}" 
                             required="#{cc.attrs.anfoMgmtObjectCtrl.isStatusChangeKommentarRequired()}">
                <p:ajax event="blur" update="statusChangeComment"/>
            </p:inputTextarea>
        </div>

        <div class="footer-container">
            <div class="footer">
                <h:panelGroup>
                    <p:commandButton id="proceedBtn"
                                     value="#{msg.weiter}" 
                                     immediate="true"
                                     action="#{cc.attrs.anfoMgmtObjectCtrl.save()}"                                                
                                     ajax="true"
                                     update="growl"
                                     >
                    </p:commandButton>
                    <p:commandButton value="#{msg.abbrechen}" onclick="PF('statusChangeConfirmDialog').hide()" immediate="true" />
                </h:panelGroup>
            </div>
        </div>
    </cc:implementation>
</html>
