<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="statusChangeMethodChangeDialog" type="de.interfaceag.bmw.pzbk.controller.dialogs.StatusChangeMethodChangeDialog"/>
        <cc:attribute required="true" name="statusChangeNextStatusDialog" type="de.interfaceag.bmw.pzbk.controller.dialogs.StatusChangeNextStatusDialog"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:outputStylesheet library="css" name="public/growl.css" />

        <p:growl id="growl" sticky="false" severity="error" showDetail="true" />  
        <div id="#{cc.clientId}">
            <p:outputLabel for="statusChangeComment" value="#{msg.statusWechselKommentar}:"/>
            <p:inputTextarea rows="3" 
                             cols="50" 
                             id="statusChangeComment" 
                             class="kommentCol" 
                             value="#{cc.attrs.statusChangeNextStatusDialog.statusChangeKommentar}" 
                             >
                <p:ajax event="blur" update="statusChangeComment"/>
            </p:inputTextarea>
        </div>

        <div class="footer-container">
            <div class="footer">
                <h:panelGroup>
                    <p:commandButton id="proceedBtn"
                                     value="#{msg.weiter}" 
                                     immediate="true"
                                     action="#{cc.attrs.statusChangeMethodChangeDialog.changeStatus(cc.attrs.statusChangeNextStatusDialog.selectedNextStatus)}"                                                
                                     ajax="true"
                                     update="growl"
                                     >
                    </p:commandButton>
                    <p:commandButton value="#{msg.abbrechen}" onclick="PF('statusChangeDialog').hide()"  />
                </h:panelGroup>
            </div>
        </div>
    </cc:implementation>
</html>
