<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="umsCtrl" type="de.interfaceag.bmw.pzbk.umsetzungsverwaltung.UmsetzungsbestaetigungController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:growl id="growl" sticky="false" severity="error" showDetail="true" autoUpdate="" />  

        <p:outputLabel for="ubComment" style="font-weight: bold;" value="#{msg.kommentarZurUbEing}" />
        <p:focus for="ubComment" />
        <p:inputTextarea rows="3" 
                         cols="70" 
                         value="#{cc.attrs.umsCtrl.viewData.umsetzungsbestaetigungDtoForComment.dialogComment}"
                         id="ubComment" 
                         class="kommentCol" >
        </p:inputTextarea>


        <div class="footer-container">
            <div class="footer">
                <h:panelGroup>
                    <p:commandButton id="setCommentButton"                                                                  
                                     ajax="true"
                                     value="#{msg.ok}"
                                     update="@form"
                                     actionListener="#{cc.attrs.umsCtrl.setCommentForUmsetzungsbestaetigung()}"
                                     style="margin-right: 10px"
                                     >
                    </p:commandButton>
                    <p:commandButton  value="#{msg.abbrechen}" onclick="PF('ubCommentDialog').hide()" />
                </h:panelGroup>
            </div>
        </div>
    </cc:implementation>
</html>
