<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="kovaCtrl" type="de.interfaceag.bmw.pzbk.umsetzungsverwaltung.KovAPhasenViewController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:panelGrid id="ubSensorCocTabelPanel" columns="1" class="scocGrid" columnClasses="scocROColumn, scocTechnColumn">
            <p:column>

            </p:column>
            <p:column>
                <p:dataTable 
                    id="ubBerechtigungTable"
                    value="#{cc.attrs.kovaCtrl.berechtigungList}"
                    var="berechtigung"                
                    paginator="true"           
                    paginatorPosition="bottom"
                    paginatorAlwaysVisible="false"
                    rows="10">
                    <p:column headerText="#{msg.sensorCoc}"
                              sortBy="#{berechtigung.sensorCoc.pathToString()}"
                              width="20%" >
                        <p:outputLabel value="#{berechtigung.sensorCoc.pathToString()}" />
                    </p:column>
                    <p:column rendered="false"
                              sortBy="#{cc.attrs.kovaCtrl.berechtigungListContains(berechtigung)}"
                              width="1%">
                        <p:outputPanel rendered="#{berechtigung.umsetzungsbestaetiger != null}">
                            <i class="fa fa-check-square-o"/>
                        </p:outputPanel>
                    </p:column>
                    <p:column headerText="#{msg.umsetzungsbest}" 
                              width="50%" 
                              rendered="#{cc.attrs.kovaCtrl.editMode}">
                        <p:selectCheckboxMenu id="multiple" value="#{berechtigung.umsetzungsbestaetiger}" label="" multiple="true"
                                              panelStyle="width:350px" converter="#{personalSettingsController.mitarbeiterConverter}">
                            <f:selectItems value="#{cc.attrs.kovaCtrl.getUmsetzungsbestaetigetListForSensorCoc(berechtigung.sensorCoc)}"
                                           var="ums" 
                                           itemValue="#{ums}" 
                                           itemLabel="#{ums.vorname} #{ums.nachname} #{ums.vorname != null ? '|' : ''} #{ums.abteilung}" />
                            <p:ajax event="change" async="true" listener="#{cc.attrs.kovaCtrl.onUmsetzungsbestaetigerChange(berechtigung)}" />
                        </p:selectCheckboxMenu>
                    </p:column>
                    <p:column headerText="#{msg.umsetzungsbest}" 
                              width="50%" 
                              rendered="#{!cc.attrs.kovaCtrl.editMode}">
                        <p:outputPanel rendered="#{cc.attrs.kovaCtrl.berechtigungListContains(berechtigung)}">
                            <ui:repeat value="#{berechtigung.umsetzungsbestaetiger}" var="umsetzungsbestaetiger">
                                <p:outputLabel value="#{umsetzungsbestaetiger.toString()}" style="margin-right: 15px;"/>
                            </ui:repeat>
                        </p:outputPanel>
                    </p:column>
                </p:dataTable>
            </p:column>
        </p:panelGrid>
        <div class="footer-container">
            <div class="footer">
                <h:panelGroup>
                    <p:outputLabel id="ubSensorCocEdit" rendered="#{cc.attrs.kovaCtrl.canEdit()}">
                        <p:commandLink actionListener="#{cc.attrs.kovaCtrl.toggleEditMode()}" 
                                       rendered="#{!cc.attrs.kovaCtrl.editMode}" 
                                       update="dialog:ubEditForm:ubEditDialogContent:ubSensorCocTabelPanel dialog:ubEditForm:ubEditDialogContent:ubSensorCocEdit">
                            <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_edit_black.png" title="#{msg.bearbeiten}" class="ui-button ui-widget ui-state-default ui-corner-all ub-dialog-button"/>  
                        </p:commandLink>  
                        <p:commandLink actionListener="#{cc.attrs.kovaCtrl.processChanges()}" 
                                       rendered="#{cc.attrs.kovaCtrl.editMode}" 
                                       update="dialog:ubEditForm:ubEditDialogContent:ubBerechtigungTable dialog:ubEditForm:ubEditDialogContent:ubSensorCocTabelPanel dialog:ubEditForm:ubEditDialogContent:ubSensorCocEdit" >
                            <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_save.png" title="#{msg.speichern}" class="ui-button ui-widget ui-state-default ui-corner-all ub-dialog-button ub-dialog-save-button"/> 
                        </p:commandLink> 
                        <p:commandLink actionListener="#{cc.attrs.kovaCtrl.toggleEditMode()}" 
                                       rendered="#{cc.attrs.kovaCtrl.editMode}" 
                                       update="dialog:ubEditForm:ubEditDialogContent:ubBerechtigungTable dialog:ubEditForm:ubEditDialogContent:ubSensorCocTabelPanel dialog:ubEditForm:ubEditDialogContent:ubSensorCocEdit" >
                            <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_cancel.png" title="#{msg.verwerfen}" class="ui-button ui-widget ui-state-default ui-corner-all ub-dialog-button"/> 
                        </p:commandLink> 
                    </p:outputLabel>
                    <p:commandButton value="#{msg.ok}" 
                                     update="umsKovAContent:umsDerivatAccordionPanel:umsDerivateForm:derivateTable"
                                     onclick="PF('ubEditDialog').hide()"/>              
                </h:panelGroup>
            </div>
        </div>
    </cc:implementation>
</html>