<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:anfoMgmtObjectComps="http://xmlns.jcp.org/jsf/composite/anfoMgmtObjectComps">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="anfoMgmtObjectCtrl" type="de.interfaceag.bmw.pzbk.controller.AbstractAnfoMgmtObjectController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <div id="#{cc.clientId}">
            <f:facet name="last">
                <h:outputStylesheet library="css" name="umsetzerDialog.css"  />
                <h:outputScript library="js" name="anforderung.js" />
            </f:facet>
            <p:growl id="growl" sticky="false" showDetail="true" severity="info" />
            <p:panelGrid columns="3" class="umseGrid" columnClasses="umseModuleColumn, umseTeamsColumn, umseKomponenteColumn">
                <p:column>
                    <div class="umseGridHeader" >
                        <p:outputLabel value="#{msg.egv}" />
                    </div>
                    <p:autoComplete placeholder="#{msg.suche}" 
                                    minQueryLength="0"
                                    styleClass="umseAutoComplete"
                                    cache="true" 
                                    value="#{cc.attrs.anfoMgmtObjectCtrl.umsetzerController.selectedModul}"
                                    var="modul" 
                                    itemValue="#{modul}" 
                                    itemLabel="#{modul.name}" 
                                    completeMethod="#{cc.attrs.anfoMgmtObjectCtrl.umsetzerController.completeModul}"
                                    converter="#{cc.attrs.anfoMgmtObjectCtrl.umsetzerController.modulConverter}"
                                    scrollHeight="200">
                        <p:ajax event="itemSelect" 
                                process="@this"
                                update="@this #{cc.clientId}:umseModulTable #{cc.clientId}:umseTeamTable #{cc.clientId}:umseKompTable"/>
                    </p:autoComplete>
                    <p:dataTable 
                        id="umseModulTable"
                        class="umseModulTable"
                        value="#{cc.attrs.anfoMgmtObjectCtrl.umsetzerController.umsetzerModulList}" 
                        var="modul" 
                        lazy="true"
                        rowIndexVar="rowIndex" 
                        rowKey="#{modul.name}"
                        selectionMode="single" 
                        selection="#{cc.attrs.anfoMgmtObjectCtrl.umsetzerController.selectedModul}" 
                        disabledTextSelection="false" 
                        scrollable="true"
                        scrollHeight="200" 
                        emptyMessage=""
                        scrollRows="25"
                        liveScroll="true"     
                        widgetVar="umseModulTable">
                        <p:ajax event="rowSelect" 
                                process="@this" 
                                update="#{cc.clientId}:umseTeamTable #{cc.clientId}:umseKompTable #{cc.clientId}:umseSeAutoComplete #{cc.clientId}:umseKompAutoComplete"/>
                        <p:column>
                            <h:outputText value="#{modul.name}" />
                        </p:column>
                    </p:dataTable>
                </p:column>
                <p:column>
                    <div class="umseGridHeader" >
                        <p:outputLabel value="#{msg.seTeams}" />
                    </div>
                    <p:autoComplete placeholder="#{msg.suche}" 
                                    minQueryLength="0"
                                    id="umseSeAutoComplete"
                                    styleClass="umseAutoComplete" 
                                    value="#{cc.attrs.anfoMgmtObjectCtrl.umsetzerController.selectedSe}"
                                    var="modulSeTeam"
                                    itemValue="#{modulSeTeam}"
                                    itemLabel="#{modulSeTeam.name}"
                                    completeMethod="#{cc.attrs.anfoMgmtObjectCtrl.umsetzerController.completeSeTeam}" 
                                    converter="#{cc.attrs.anfoMgmtObjectCtrl.umsetzerController.modulSeTeamConverter}"
                                    scrollHeight="200" 
                                    valueChangeListener="umseTeamInputChanged()">
                        <p:ajax event="itemSelect" 
                                process="@this"
                                update="@this #{cc.clientId}:umseModulTable #{cc.clientId}:umseTeamTable #{cc.clientId}:umseKompTable"/>
                    </p:autoComplete>
                    <p:remoteCommand name="umseTeamInputChanged" 
                                     update="#{cc.clientId}:umseTeamTable #{cc.clientId}:umseKompTable"
                                     value="umseTeamInputChanged" 
                                     async="true"/>
                    <p:dataTable
                        id="umseTeamTable"
                        class="umseTeamTable"
                        value="#{cc.attrs.anfoMgmtObjectCtrl.umsetzerController.umsetzerTeamList}" 
                        var="team" 
                        lazy="true"
                        rowIndexVar="rowIndex" 
                        rowKey="#{team.name}"
                        selectionMode="single" 
                        selection="#{cc.attrs.anfoMgmtObjectCtrl.umsetzerController.selectedSe}" 
                        disabledTextSelection="false" 
                        scrollable="true"
                        scrollHeight="200"
                        emptyMessage=""
                        scrollRows="25"
                        liveScroll="true"       
                        widgetVar="umseTeamTable">
                        <p:ajax event="rowSelect" 
                                process="@this"  
                                update="#{cc.clientId}:umseKompTable #{cc.clientId}:umseKompAutoComplete"/>
                        <p:column>
                            <h:outputText value="#{team.name}" />
                        </p:column>
                    </p:dataTable>
                </p:column>
                <p:column>
                    <div class="umseGridHeader" >
                        <p:outputLabel value="#{msg.komponente}" />
                    </div>
                    <p:autoComplete placeholder="#{msg.suche}" 
                                    id="umseKompAutoComplete"
                                    minQueryLength="0"
                                    styleClass="umseAutoComplete" 
                                    value="#{cc.attrs.anfoMgmtObjectCtrl.umsetzerController.selectedKomponente}"
                                    var="modulKomponente"
                                    itemValue="#{modulKomponente}"
                                    itemLabel="#{modulKomponente.name}#{modulKomponente ne null ? ' (' : ''}#{modulKomponente.ppg}#{modulKomponente ne null ? ')' : ''}"
                                    completeMethod="#{cc.attrs.anfoMgmtObjectCtrl.umsetzerController.completeKomponente}" 
                                    converter="#{cc.attrs.anfoMgmtObjectCtrl.umsetzerController.modulKomponenteConverter}"
                                    scrollHeight="200">
                        <p:ajax event="itemSelect" 
                                process="@this"
                                update="@this umseKompTable umseTeamTable umseModulTable"/>
                    </p:autoComplete>
                    <p:remoteCommand name="umseKompInputChanged" 
                                     update="#{cc.clientId}:umseKompTable"
                                     value="umseKompInputChanged" 
                                     async="true"/>
                    <p:dataTable 
                        id="umseKompTable"
                        class="umseKompTable"
                        value="#{cc.attrs.anfoMgmtObjectCtrl.umsetzerController.umsetzerKompList}" 
                        var="komp" 
                        lazy="true"
                        rowIndexVar="rowIndex" 
                        rowKey="#{komp.name}"
                        selectionMode="single" 
                        selection="#{cc.attrs.anfoMgmtObjectCtrl.umsetzerController.selectedKomponente}" 
                        disabledTextSelection="false" 
                        scrollable="true"
                        scrollHeight="200"
                        emptyMessage=""
                        scrollRows="25"
                        liveScroll="true"       
                        widgetVar="umseKompable">
                        <p:ajax event="rowSelect" 
                                process="@this"/>
                        <p:column>
                            <h:outputText value="#{komp.name} (#{komp.ppg})" />
                        </p:column>
                    </p:dataTable>
                </p:column>
            </p:panelGrid>
            <p:panelGrid>
                <p:commandButton id="addUmsetzerBtn" value="#{msg.hinzufuegen}" 
                                 process="@form" 
                                 update="dialog:umsetzerForm:umsetzerDlgContent:umsetzerListInDialog:umsetzerTable growl" 
                                 actionListener="#{cc.attrs.anfoMgmtObjectCtrl.umsetzerController.addUmsetzer()}"
                                 class="addButton-ums"/>
            </p:panelGrid>
            <p:outputPanel id="selectedUmsetzerPanel">
                <anfoMgmtObjectComps:umsetzerListComp id="umsetzerListInDialog"
                                                      anfoMgmtObjectCtrl="#{cc.attrs.anfoMgmtObjectCtrl}"
                                                      process="@form" 
                                                      update="@this editAfo:anfoForm:anfoAccordion:modulsPanel" />
            </p:outputPanel>

            <div class="footer-container">
                <div class="footer">
                    <h:panelGroup>
                        <p:commandButton id="applyChangesToUmsetzerBtn" value="#{msg.ok}"  
                                         actionListener="#{cc.attrs.anfoMgmtObjectCtrl.processUmsetzerChanges()}"
                                         update="selectedUmsetzerPanel editAfo:anfoForm:anfoAccordion:modulsPanel 
                                         growl"  
                                         onclick="PF('umsetzerDialog').hide()"/>      
                        <p:commandButton value="#{msg.abbrechen}" 
                                         actionListener="#{cc.attrs.anfoMgmtObjectCtrl.resetUmsetzerList()}"
                                         onclick="PF('umsetzerDialog').hide()"/>
                    </h:panelGroup>
                </div>
            </div>
        </div>
    </cc:implementation>
</html>