<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="versionPlusCreateNewVersionDialog" type="de.interfaceag.bmw.pzbk.controller.dialogs.VersionPlusCreateNewVersionDialog"/>
        <cc:attribute required="true" name="versionPlusKommentarDialog" type="de.interfaceag.bmw.pzbk.controller.dialogs.VersionPlusKommentarDialog"/>

    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <div id="#{cc.clientId}">
            <p:outputLabel for="neueVersionKomment" value="#{msg.versionplusKommentar}:"/>
            <p:inputTextarea rows="3" cols="50" id="neueVersionKomment" class="kommentCol" 
                             value="#{cc.attrs.versionPlusKommentarDialog.versionKommentar}" >
                <p:ajax event="blur" update="neueVersionKomment"/>
            </p:inputTextarea>
        </div>

        <div class="footer-container">
            <div class="footer">
                <h:panelGroup>
                    <p:commandButton id="proceedBtn"
                                     value="#{msg.weiter}" 
                                     immediate="true"
                                     action="#{cc.attrs.versionPlusCreateNewVersionDialog.createNewVersion()}" 
                                     onclick="PF('versionPlusDialog').hide()"                            
                                     ajax="true" 
                                     >
                    </p:commandButton>
                    <p:commandButton value="#{msg.abbrechen}" onclick="PF('versionPlusDialog').hide()" />
                </h:panelGroup>
            </div>
        </div>
    </cc:implementation>
</html>
