<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:define name="imports">
        <h:outputStylesheet library="css" name="public/growl.css" />
    </ui:define>

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="berichtswesenCtrl" type="de.interfaceag.bmw.pzbk.berichtswesen.BerichtswesenController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:growl id="growl" sticky="false" severity="error" showDetail="true" autoUpdate="" />  
        <div id="#{cc.clientId}">     
            <p:outputPanel class="no-border">
                <div class="ui-g-6">
                    <p:outputLabel value="#{msg.zakUebertrager}" style="font-weight: bold;" />
                </div>
                <div class="ui-g-6">
                    <p:outputLabel value="#{cc.attrs.berichtswesenCtrl.selectedAnforderungModul[5]}" />
                </div>
                <div class="ui-g-6">
                    <p:outputLabel value="#{msg.aenderungsdatum}:" style="font-weight: bold;" />
                </div>
                <div class="ui-g-6">
                    <p:outputLabel value="#{cc.attrs.berichtswesenCtrl.selectedAnforderungModul[6]}" />
                </div>
                <div class="ui-g-6">
                    <p:outputLabel value="#{msg.kommentar}:" style="font-weight: bold;" />
                </div>
                <div class="ui-g-6">
                    <p:outputLabel value="#{cc.attrs.berichtswesenCtrl.selectedAnforderungModul[7]}" />
                </div>
            </p:outputPanel>
        </div>

        <div class="footer-container">
            <div class="footer">
                <h:panelGroup>
                    <p:commandButton value="#{msg.ok}" onclick="PF('zakCommentDialog').hide()" />
                </h:panelGroup>
            </div>
        </div>
    </cc:implementation>
</html>
