<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="viewFields" type="de.interfaceag.bmw.pzbk.prozessbaukasten.zuordnen.ZuordnungAufhebenDialogFields"/>
        <cc:attribute required="true" name="controllerMethods" type="de.interfaceag.bmw.pzbk.prozessbaukasten.zuordnen.ZuordnungAufhebenDialogMethods"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:growl id="growl" sticky="false" severity="error" showDetail="false" />
        <div id="#{cc.clientId}">
            <p:outputLabel for="zuordnungAufhebenKomment" value="#{msg.prozessbaukasten_zuordnungaufheben_kommentar}:"/>
            <p:inputTextarea rows="3" cols="50" id="zuordnungAufhebenKomment" class="kommentCol"
                             value="#{cc.attrs.viewFields.zuordnungAufhebenKommentar}"
                             required="true"
                             requiredMessage="#{msg.prozessbaukasten_zuordnungaufheben_growlMessage} #{cc.attrs.viewFields.zugeordneteAnforderungToWithdraw.fachIdAndVersion}"
                             validatorMessage="#{msg.prozessbaukasten_zuordnungaufheben_unzulaessigeKommentar}">
                <f:validateRegex pattern="^(?!\s*$)[\D\d]+" />
                <p:ajax event="blur" update="zuordnungAufhebenKomment"/>
            </p:inputTextarea>
        </div>

        <div class="footer-container">
            <div class="footer">
                <h:panelGroup>
                    <p:commandButton id="proceedBtn"
                                     value="#{msg.weiter}"
                                     action="#{cc.attrs.controllerMethods.proceedWithZuordnungAufheben()}"
                                     update="growl">
                    </p:commandButton>
                    <p:commandButton value="#{msg.abbrechen}"
                                     actionListener="#{cc.attrs.controllerMethods.resetZuordnungAufhebenKommentar()}"
                                     ajax="true"
                                     update="zuordnungAufhebenKomment"
                                     onclick="PF('zuordnungAufhebenDialog').hide()"/>
                </h:panelGroup>
            </div>
        </div>
    </cc:implementation>
</html>
