<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
>

<cc:interface>
    <cc:attribute required="true" name="modulSeTeamId" type="de.interfaceag.bmw.pzbk.shared.objectIds.ModulSeTeamId"/>
    <cc:attribute required="true" name="anforderungEditFahrzeugmerkmalButtonData"
                  type="de.interfaceag.bmw.pzbk.anforderungsworkflow.edit.api.AnforderungEditFahrzeugmerkmalButtonData"/>
    <cc:attribute required="true" name="anforderungEditFahrzeugmerkmalButtonActions"
                  type="de.interfaceag.bmw.pzbk.anforderungsworkflow.edit.api.AnforderungEditFahrzeugmerkmalButtonActions"/>
</cc:interface>

<cc:implementation>
    <p:outputPanel id="fahrzeugmerkmalButtonWrapper"
                   styleClass="fahrzeugmerkmalButtonWrapper"
                   style="display: flex;" >

        <p:commandButton id="showFahrzeugmerkmalEditButton"
                         actionListener="#{cc.attrs.anforderungEditFahrzeugmerkmalButtonActions.showFahrzeugmerkmalEditDialogForModulSeTeam(cc.attrs.modulSeTeamId)}"
                         process="@this"
                         partialSubmit="true"
                         value="#{msg.fahrzeugmerkmale}"/>

        <p:outputPanel id="fahrzeugmerkmalImageWrapper"
                       styleClass="fahrzeugmerkmalImageWrapper"
                       rendered="#{cc.attrs.anforderungEditFahrzeugmerkmalButtonData.configured}"
                       style="width: 26px; height: 26px; margin-left: 5px; display: flex;align-items: center;">
            <img id="fahrzeugmerkmalOkIcon"
                 alt="#{msg.ok}"
                 width="20px"
                 height="20px"
                 src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon-check-green.png"/>
        </p:outputPanel>

    </p:outputPanel>
</cc:implementation>
</html>
