<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
>

<cc:interface>
    <cc:attribute required="true" name="anforderungEditFahrzeugmerkmalDialogData"
                  type="de.interfaceag.bmw.pzbk.anforderungsworkflow.edit.api.AnforderungEditFahrzeugmerkmalDialogData"/>
    <cc:attribute required="true" name="anforderungEditFahrzeugmerkmalDialogActions"
                  type="de.interfaceag.bmw.pzbk.anforderungsworkflow.edit.api.AnforderungEditFahrzeugmerkmalDialogActions"/>
</cc:interface>

<cc:implementation>

    <h:outputStylesheet library="css" name="anforderung/fahrzeugmerkmalEditDialog.css"/>
    <h:outputStylesheet library="css" name="fahrzeugmerkmal/fahrzeugmerkmalEditDialog.css"/>

    <h:form id="editDialogForm">
        <div class="dialogContentWrapper">

            <div class="inputWrapper">

                <h:outputLabel id="noFahrzeugmerkmalRelevantLabel"
                               value="#{msg.anforderung_fahrzeugmerkmal_no_merkmal_relevant}"
                               rendered="#{cc.attrs.anforderungEditFahrzeugmerkmalDialogData.fahrzeugmerkmale.isEmpty()}"/>

                <ui:repeat var="fahrzeugmerkmal"
                           value="#{cc.attrs.anforderungEditFahrzeugmerkmalDialogData.fahrzeugmerkmale}">

                    <div class="anforderungFahrzeugmerkmalInputRow">

                        <h:outputLabel id="fahrzeugmerkmalLabelSelectMenuLabel"
                                       for="fahrzeugmerkmalSelectMenu"
                                       styleClass="fahrzeugmerkmalLabelSelectMenuLabel"
                                       value="#{fahrzeugmerkmal.merkmal}"/>

                        <div class="fahrzeugmerkmalSelectMenuWrapper">

                            <p:selectCheckboxMenu id="fahrzeugmerkmalSelectMenu"
                                                  value="#{fahrzeugmerkmal.selectedAuspraegungen}"
                                                  label="#{fahrzeugmerkmal.merkmal}"
                                                  converter="#{fahrzeugmerkmal.auspraegungConverter}"
                                                  multiple="true"
                                                  panelStyleClass="fahrzeugmerkmalSelectMenuPanel">

                                <f:selectItems value="#{fahrzeugmerkmal.allAuspraegungen}"
                                               var="fahrzeugmerkmalAuspraegung"
                                               itemValue="#{fahrzeugmerkmalAuspraegung}"
                                               itemLabel="#{fahrzeugmerkmalAuspraegung.auspraegung}"
                                />

                            </p:selectCheckboxMenu>

                        </div>
                    </div>

                </ui:repeat>
            </div>

            <div class="buttonWrapper">
                <p:commandButton id="saveButton"
                                 process="@form"
                                 actionListener="#{cc.attrs.anforderungEditFahrzeugmerkmalDialogActions.processFahrzeugmerkmalChanges()}"
                                 onclick="PF('fahrzeugmerkmalEditDialog').hide();"
                                 update="@(.fahrzeugmerkmalButtonWrapper)"
                                 value="#{msg.ok}"
                />
            </div>
        </div>
    </h:form>
</cc:implementation>
</html>
