<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite"
>

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="kovaPhasenViewController" 
                      type="de.interfaceag.bmw.pzbk.umsetzungsverwaltung.KovAPhasenViewController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>      
        <div class="p-20">  
            <h:form id="kovaPhasenForm" 
                    rendered="#{cc.attrs.kovaPhasenViewController.viewPermission.page}">
                <p:growl id="growl" sticky="true" life="2000" severity="error" showDetail="false" />  
                <p:dataTable value="#{cc.attrs.kovaPhasenViewController.kovAPhasenImDerivat}" 
                             var="k" 
                             id="derivateTable" 
                             rowKey="#{k.id}"
                             editable="true"
                             emptyMessage="#{msg.keineKovAPhasenGefunden}"
                             class="selectable-table glass-table"
                             >   
                    <p:column headerText="#{msg.derivat}" width="10%" >
                        <h:outputText value="#{k.derivatName}" />
                    </p:column>
                    <p:column headerText="#{msg.kovAPhase}" width="10%">                     
                        <h:outputText value="#{k.kovAPhase.toString()}" />
                    </p:column>
                    <p:column headerText="#{msg.status}" width="10%">  
                        <h:outputText value="#{k.status.toString()}" />
                    </p:column>
                    <p:column headerText="#{msg.von}" width="10%">
                        <h:outputText value="#{k.startDate}" >
                            <f:convertDateTime pattern = "dd.MM.yyyy" />
                        </h:outputText>
                    </p:column>      
                    <p:column headerText="#{msg.bis}" width="10%">
                        <h:outputText value="#{k.endDate}" >
                            <f:convertDateTime pattern = "dd.MM.yyyy" />
                        </h:outputText>
                    </p:column>   

                    <p:column headerText="#{msg.fortschritt}" width="43%" class="db-fortschritt-cell">
                        <p:progressBar value="#{k.progressValue}" 
                                       labelTemplate="#{k.progressLabel}" 
                                       styleClass="umsetzungProgressbar #{k.finished ? 'umsetzungAbgeschlossen' : ''}"
                                       displayOnly="true"/>
                    </p:column>
                    <p:column class="ub-edit-button-cell" width="4%">
                        <p:link id="umsetzungsbestaetigungLink" 
                                outcome="umsetzungsbestaetigung">
                            <f:param name="id" value="#{k.id}" />
                            <div class="imageContainerSmall anfoListFreigabeButton ub-edit-button">
                                <img src="#{request.contextPath}/resources/images/icons/white/icon_edit.png"/>
                            </div>
                        </p:link>
                        <p:tooltip showDelay="500"  for="umsetzungsbestaetigungLink" 
                                   value="#{msg.bearbeitenKlein}"
                                   showEvent="mouseover" 
                                   hideEvent="mouseout" 
                                   styleClass="anfoKommentTooltip"
                                   trackMouse="true" 
                                   position="none"/>
                    </p:column>

                    <p:column class="db-fortschritt-cell" headerText="#{msg.umsetzungsbest}" 
                              width="17%" rendered="#{cc.attrs.kovaPhasenViewController.viewPermission.dialog}">   
                        <p:progressBar value="#{k.berechtigungProgressValue}" 
                                       labelTemplate="#{k.berechtigungProgressLabel}" 
                                       styleClass="umsetzungProgressbar #{k.berechtigungFinished ? 'umsetzungAbgeschlossen' : ''}"
                                       displayOnly="true"/>
                    </p:column>
                    <p:column class="ub-edit-button-cell" width="3%" 
                              rendered="#{cc.attrs.kovaPhasenViewController.viewPermission.dialog}">
                        <p:commandLink id="ubKonfigEditButton"
                                       ajax="true"
                                       async="true"
                                       actionListener="#{cc.attrs.kovaPhasenViewController.showBerechtigungBearbeitenDialog(k.id)}">
                            <div class="imageContainerSmall anfoListFreigabeButton ub-edit-button">
                                <img src="#{request.contextPath}/resources/images/icons/white/icon_edit.png"/>
                            </div>
                        </p:commandLink>
                        <p:tooltip showDelay="500"  for="ubKonfigEditButton" 
                                   position="none"
                                   value="#{msg.umsetzungsverwalterBearbeiten}" 
                                   styleClass="anfoKommentTooltip"
                                   trackMouse="true"/>
                    </p:column>
                </p:dataTable>
            </h:form>
            <p:panel id="umsForbiddenTab" 
                     header="#{msg.keinZugriff}" 
                     closable="false" 
                     rendered="#{!cc.attrs.kovaPhasenViewController.viewPermission.page}" />
        </div> 
    </cc:implementation>
</ui:composition>
