<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:filter="http://xmlns.jcp.org/jsf/composite/filter"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="kovaPhasenViewController" 
                      type="de.interfaceag.bmw.pzbk.umsetzungsverwaltung.KovAPhasenViewController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:growl id="growl" sticky="false" severity="error" showDetail="true" />  
        <h:form id="kovaPhasenFilterForm" class="h-100">
            <p:remoteCommand name="filter" process="@form"
                             action="#{cc.attrs.kovaPhasenViewController.filter()}" />


            <p:panel class="filter-wrapper"> 
                <p:commandButton ajax="false"
                                 id="kovaPhasenFilterResetButton" 
                                 class="resetButton" 
                                 value="#{msg.reset}" 
                                 action="#{cc.attrs.kovaPhasenViewController.reset()}"/>
                <p:panelGrid columns="1" class="filter-grid w-100" columnClasses="filter-element">

                    <filter:genericFilter id="statusFilter" 
                                          showTypeLabel="#{false}"
                                          headerLabel="#{msg.filter}"
                                          appendButtonFunction="appendStatusFilterButton()"
                                          searchFilter="#{kovAPhasenViewController.statusFilter}" />

                    <filter:genericFilter id="phaseFilter" 
                                          showTypeLabel="#{false}"
                                          appendButtonFunction="appendPhaseFilterButton()"
                                          searchFilter="#{kovAPhasenViewController.phaseFilter}" />

                    <filter:genericFilter id="derivatFilter" 
                                          showTypeLabel="#{false}"
                                          appendButtonFunction="appendDerivatFilterButton()"
                                          searchFilter="#{kovAPhasenViewController.derivatFilter}" />

                    <filter:filterHeader label="#{msg.startdatum}" smallTopMargin="#{true}" />

                    <filter:genericDateFilter id="vonStartDateFilter" 
                                              filter="filter()"
                                              searchFilter="#{kovAPhasenViewController.vonStartDateFilter}" />

                    <filter:genericDateFilter id="bisStartDateFilter" 
                                              filter="filter()"
                                              searchFilter="#{kovAPhasenViewController.bisStartDateFilter}" />

                    <filter:filterHeader label="#{msg.endDatum}" smallTopMargin="#{true}" />

                    <filter:genericDateFilter id="vonEndDateFilter" 
                                              filter="filter()"
                                              searchFilter="#{kovAPhasenViewController.vonEndDateFilter}" />

                    <filter:genericDateFilter id="bisEndDateFilter" 
                                              filter="filter()"
                                              searchFilter="#{kovAPhasenViewController.bisEndDateFilter}" />

                </p:panelGrid>

            </p:panel>
        </h:form>
    </cc:implementation>
</ui:composition>
