<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite"
        xmlns:link="http://xmlns.jcp.org/jsf/composite/link"
        xmlns:zuordnung="http://xmlns.jcp.org/jsf/composite/zuordnung">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="viewData"
                      type="de.interfaceag.bmw.pzbk.umsetzungsverwaltung.UmsetzungsbestaetigungViewDataContent"/>
        <cc:attribute required="true" name="controlMethods"
                      type="de.interfaceag.bmw.pzbk.umsetzungsverwaltung.UmsetzungsbestaetigungContent"/>
        <cc:attribute required="true" name="viewPermission"
                      type="de.interfaceag.bmw.pzbk.umsetzungsverwaltung.dto.UmsetzungsbestaetigungViewPermission"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:outputStylesheet library="css" name="public/color.css"/>
        <h:outputStylesheet library="css" name="umsetzungsbestaetigung/ums_content.css"/>
        <h:outputStylesheet library="css" name="button/button.css"/>

        <div class="p-20 margin-top-5px">
            <h:form id="umsForm" rendered="#{cc.attrs.viewPermission.page}">
                <p:growl id="growl" sticky="false" life="2000" severity="error" showDetail="true"/>
                <p:remoteCommand name="processUmsChanges" process="@form"
                                 action="#{cc.attrs.controlMethods.processChanges()}"/>
                <p:remoteCommand name="onCellEdit" update=":umsContent:umsForm:umsTable"/>
                <p:dataTable value="#{cc.attrs.viewData.umsetzungsbestaetigungen}"
                             var="ums"
                             id="umsTable"
                             selection="#{cc.attrs.viewData.selectedUmsetzungsbestaetigungen}"
                             rowKey="#{ums.id}"
                             rowSelectMode="checkbox"
                             rowIndexVar="rowIndex"
                             editable="true"
                             editMode="row"
                             scrollable="true"
                             scrollWidth="100%"
                             scrollHeight="50px"
                             liveScroll="true"
                             scrollRows="31"
                             emptyMessage="#{msg.keineUmsGefunden}"
                             rowStyleClass="no-hover #{ums.status.id ge 5 ? 'disableSelection' : ''}"
                             class="glass-table"
                >

                    <p:ajax event="rowEdit" listener="#{cc.attrs.controlMethods.onRowEdit}"/>

                    <p:column selectionMode="multiple" rendered="#{cc.attrs.viewPermission.editMode}"
                              style="width:16px;text-align:center" width="1%"/>
                    <p:column width="1%">
                        <p:outputPanel id="umsKommentarError" rendered="#{!ums.isUmsetzungsbestaetigungUmgesetzt()}">
                            <img alt=""
                                 src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon-ampel-orange.png"/>
                        </p:outputPanel>
                        <p:outputPanel id="umsKommentarOk" rendered="#{ums.isUmsetzungsbestaetigungUmgesetzt()}">
                            <img alt=""
                                 src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon-ampel-gruen.png"/>
                        </p:outputPanel>
                    </p:column>
                    <p:column headerText="#{msg.sensorCoc}"
                              width="5%"
                              sortBy="#{ums.sensorCoc.getTechnologie}">
                        <h:outputText id="umsSensorCoc" value="#{ums.sensorCoc.getTechnologie()}"/>
                        <p:tooltip rendered="#{cc.attrs.viewPermission.eingetrageneUmsetzerHover}" showDelay="500"
                                   for="umsSensorCoc" value="#{ums.eingetrageneUmsetzungsbestaetiger}"
                                   showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                                   trackMouse="true" position="none"/>
                    </p:column>

                    <p:column headerText="#{msg.anforderung}" width="5%" sortBy="#{ums.fachId}">
                        <link:anforderungLinkDirect id="anforderungShowLink"
                                                    anforderungId="#{ums.anforderungId}"
                                                    fachId="#{ums.fachId}"
                                                    version="#{ums.version}"/>
                    </p:column>

                    <p:column width="5%">
                        <zuordnung:prozessbaukastenLabel
                                prozessbaukastenlabel="#{ums.prozessbaukastenLabel}"
                                rendered="#{ums.isProzessbaukastenZugeordnet()}"/>
                    </p:column>

                    <p:column headerText="#{msg.modul}" width="4%" sortBy="#{ums.modul.name}">
                        <h:outputText value="#{ums.modul.name}"/>
                    </p:column>

                    <p:column headerText="#{msg.beschreibung}" width="10%">
                        <p:outputLabel id="beschreibungTextFull"
                                       class="bodyLabel"
                                       value="#{ums.fullText}"
                                       onclick="toggleBeschreibung(#{rowIndex})"
                                       styleClass="displayNone umsetzunBeschreibungText"/>
                        <p:outputLabel id="beschreibungTextPreview"
                                       class="bodyLabel"
                                       value="#{ums.shortText}"
                                       onclick="toggleBeschreibung(#{rowIndex})"
                                       styleClass="umsetzunBeschreibungText"/>
                    </p:column>
                    <!--Jetzt aus ViewData direkt laden-->
                    <p:column headerText="#{msg.status} #{cc.attrs.viewData.lastPhase.bezeichnung}"
                              rendered="#{cc.attrs.viewData.hasLastPhase()}"
                              width="6%">
                        <h:outputText value="#{ums.lastPhasestatusString} "/>
                    </p:column>
                    <p:column headerText="#{msg.status} #{cc.attrs.viewData.currentPhase.bezeichnung}"
                              width="10%"
                              styleClass="kovAcolumn"
                    >
                        <f:facet name="header">
                            <div class="header-comment-container">
                            <p:outputLabel rendered="#{!cc.attrs.viewPermission.editMode}"
                                           value="#{msg.status}  #{cc.attrs.viewData.currentPhase.bezeichnung}"/>
                            <p:selectOneMenu id="umsGroupStatus"
                                             rendered="#{cc.attrs.viewPermission.editMode}"
                                             value="#{cc.attrs.viewData.selectedGroupStatus}"
                                             onchange="changeStatus()"
                                             class="selectUmsStatus">
                                <f:selectItems value="#{cc.attrs.viewData.groupStatus}" var="status"
                                               itemValue="#{status}">
                                    <p:column>
                                        <p:outputLabel value="#{status.toString()}"/>
                                    </p:column>
                                </f:selectItems>
                            </p:selectOneMenu>
                                <div class="margin-top-5">
                                    <p:commandLink
                                            actionListener="#{cc.attrs.controlMethods.showGroupCommentDialog()}"
                                            update="dialog:ubCommentForm"
                                            styleClass="table-state-column-title link-bubble link-bubble-umsetzung link-bubble-umsetzung-head"
                                            id="umsShowGroupEditCommentDialog"
                                            rendered="#{cc.attrs.viewPermission.editMode}">
                                        <i class="fa fa-comment-o"/>
                                    </p:commandLink>
                                </div>
                            </div>
                        </f:facet>

                        <p:cellEditor rendered="#{cc.attrs.viewPermission.editButton}">
                            <f:facet name="output">
                                <h:outputText value="#{ums.status.toString()}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:selectOneMenu id="umsStatus"
                                                 value="#{ums.status}"
                                                 class="selectUmsStatus">
                                    <f:selectItems value="#{cc.attrs.viewData.groupStatus}" var="status"
                                                   itemValue="#{status}">
                                        <p:column>
                                            <p:outputLabel value="#{status.toString()}"/>
                                        </p:column>
                                    </f:selectItems>
                                </p:selectOneMenu>
                                <div class="comment-icon">
                                    <p:commandLink
                                            actionListener="#{cc.attrs.controlMethods.showEditCommentDialog(ums)}"
                                            oncomplete="showUBCommentDialog();"
                                            immediate="true"
                                            process="@this"
                                            id="umsShowEditCommentDialog"
                                            update="dialog:ubCommentForm"
                                            styleClass="link-bubble link-bubble-umsetzung link-bubble-umsetzung-content">
                                        <i class="fa fa-comment-o"/>
                                    </p:commandLink>
                                </div>
                            </f:facet>
                        </p:cellEditor>
                        <h:outputText value="#{ums.status.toString()}"
                                      rendered="#{!cc.attrs.viewPermission.editButton}"/>
                    </p:column>
                    <p:column width="1%" style="width:32px">
                        <p:rowEditor
                                rendered="#{!cc.attrs.viewPermission.editMode and cc.attrs.viewPermission.editButton}"/>
                    </p:column>
                    <p:column headerText="#{msg.kommentar}" width="8%">
                        <f:facet name="header">
                            <p:outputLabel value="#{msg.kommentar} #{cc.attrs.viewData.currentPhase.bezeichnung}"/>
                        </f:facet>
                        <h:outputText id="umsKommentarText" value="#{ums.comment}"/>
                    </p:column>
                </p:dataTable>

                <h:commandLink id="excelExportCommandLink"
                               style="visibility: hidden;"
                               actionListener="#{cc.attrs.controlMethods.downloadExcelExport()}">
                    <p:outputLabel value="#{msg.excelExport}"/>
                </h:commandLink>

            </h:form>
            <p:outputLabel value="#{msg.keinZugriff}" id="umsForbiddenTab"
                           rendered="#{!cc.attrs.viewPermission.page}"/>
        </div>
    </cc:implementation>
</ui:composition>
