<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <cc:interface>
        <cc:attribute required="true" name="phases"
                      type="de.interfaceag.bmw.pzbk.umsetzungsverwaltung.dto.UmsetzungsbestaetigungKovAPhasenPhases"/>
        <cc:attribute required="true" name="controlMethods"
                      type="de.interfaceag.bmw.pzbk.umsetzungsverwaltung.UmsetzungsbestaetigungContent"/>
        <cc:attribute required="true" name="viewPermission"
                      type="de.interfaceag.bmw.pzbk.umsetzungsverwaltung.dto.UmsetzungsbestaetigungViewPermission"/>
    </cc:interface>

    <cc:implementation>
        <h:outputStylesheet library="css" name="umsetzungsbestaetigung/ums_navComp.css"/>

        <p:growl id="growl" sticky="false" severity="error" showDetail="true"/>

        <h:form id="changePhaseForm">
            <div class="nav-comp-container">
                <div class="buttons-left-container">
                    <p:commandLink onclick="redirectBack()" id="umsBackBtn" styleClass="margin-right center-container">
                        <img alt=""
                             src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_arrow_back.png"
                             class="glass"/>
                    </p:commandLink>
                    <p:tooltip showDelay="500" for="umsBackBtn" value="#{msg.zurueck}"
                               showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                               trackMouse="true" position="none"/>
                    <p:outputLabel id="anzahlErgebnisse" class="headline labelFoundCounter"
                                   value="#{cc.attrs.controlMethods.viewData.anzahlTreffer} #{msg.ergebnisse}"/>
                    <p:tooltip showDelay="500" for="anzahlErgebnisse" position="bottom"
                               value="#{msg.tooltip_umsetzungsbestaetigung_anzahl_treffer}"/>
                </div>

                <div class="phase phase-container">
                    <p:commandButton disabled="#{!cc.attrs.phases.phaseIsConfig(1)}"
                                     styleClass="#{cc.attrs.phases.isCurrentPhase(1) ? 'current' : ''} first"
                                     action="#{cc.attrs.phases.goToPhase(1)}" value="VABG0"/>
                    <p:commandButton disabled="#{!cc.attrs.phases.phaseIsConfig(2)}"
                                     styleClass="#{cc.attrs.phases.isCurrentPhase(2) ? 'current' : ''} second"
                                     action="#{cc.attrs.phases.goToPhase(2)}" value="VABG1"/>
                    <p:commandButton disabled="#{!cc.attrs.phases.phaseIsConfig(3)}"
                                     styleClass="#{cc.attrs.phases.isCurrentPhase(3) ? 'current' : ''} third"
                                     action="#{cc.attrs.phases.goToPhase(3)}" value="VABG2"/>
                    <p:commandButton disabled="#{!cc.attrs.phases.phaseIsConfig(4)}"
                                     styleClass="#{cc.attrs.phases.isCurrentPhase(4) ? 'current' : ''} fourth"
                                     action="#{cc.attrs.phases.goToPhase(4)}" value="VA VKBG"/>
                    <p:commandButton disabled="#{!cc.attrs.phases.phaseIsConfig(5)}"
                                     styleClass="#{cc.attrs.phases.isCurrentPhase(5) ? 'current' : ''} fifth"
                                     action="#{cc.attrs.phases.goToPhase(5)}" value="VKBG"/>
                    <p:commandButton disabled="#{!cc.attrs.phases.phaseIsConfig(6)}"
                                     styleClass="#{cc.attrs.phases.isCurrentPhase(6) ? 'current' : ''} sixth"
                                     action="#{cc.attrs.phases.goToPhase(6)}" value="VA VBBG"/>
                    <p:commandButton disabled="#{!cc.attrs.phases.phaseIsConfig(7)}"
                                     styleClass="#{cc.attrs.phases.isCurrentPhase(7) ? 'current' : ''} fifth"
                                     action="#{cc.attrs.phases.goToPhase(7)}" value="VBBG"/>
                    <p:commandButton disabled="#{!cc.attrs.phases.phaseIsConfig(8)}"
                                     styleClass="#{cc.attrs.phases.isCurrentPhase(8) ? 'current' : ''} sixth"
                                     action="#{cc.attrs.phases.goToPhase(8)}" value="BBG"/>
                </div>

                <div class="buttons-right-container">
                    <p:commandButton id="toggler" type="button" value="#{msg.spalten}" rendered="false"
                                     onclick="removeEmptyColumns();" class="ums-excelButton margin-right"/>
                    <p:columnToggler datasource="umsContent:umsForm:umsTable" trigger="toggler"/>

                    <p:commandButton id="excelExportButton"
                                     value="#{msg.export}"
                                     class="ums-excelButton margin-right"
                                     onclick="$('#umsContent\\:umsForm\\:excelExportCommandLink').click();"
                    >
                    </p:commandButton>
                    <p:tooltip showDelay="500" for="excelExportButton" value="#{msg.inExcelExportieren}"
                               showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                               trackMouse="true" position="none"/>
                    <p:commandLink id="umsBearbeitenButton"
                                   ajax="true"
                                   process="@form"
                                   class="ums-bearbeitenButton margin-right"
                                   update="umsFilter:historyFilterForm"
                                   action="#{cc.attrs.controlMethods.edit()}"
                                   rendered="#{cc.attrs.viewPermission.editButton}"
                    >
                        <img alt=""
                             src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_edit.png"
                             class="glass phase-container"/>
                    </p:commandLink>
                    <p:tooltip showDelay="500" for="umsBearbeitenButton" value="#{msg.bearbeiten}"
                               showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                               trackMouse="true" position="none"/>
                    <p:commandLink id="processUmsetzungsbestButton"
                                   ajax="true"
                                   process="@form"
                                   class="ums-bearbeitenButton margin-right"
                                   onclick="processUmsChanges()"
                                   update="umsFilter:historyFilterForm"
                                   rendered="#{cc.attrs.viewPermission.processChangesButton}">
                        <img alt=""
                             src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_save.png"
                             class="glass phase-container"/>
                    </p:commandLink>
                    <p:tooltip showDelay="500" for="processUmsetzungsbestButton" value="#{msg.speichern}"
                               showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                               trackMouse="true" position="none"/>
                    <p:commandLink id="cancelUmsetzunsbestButton"
                                   ajax="true"
                                   class="ums-bearbeitenButton"
                                   action="#{cc.attrs.controlMethods.resetChanges()}"
                                   update="umsFilter:historyFilterForm"
                                   rendered="#{cc.attrs.viewPermission.cancelButton}">
                        <img alt=""
                             src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_cancel.png"
                             class="glass phase-container"/>
                    </p:commandLink>
                    <p:tooltip showDelay="500" for="cancelUmsetzunsbestButton" value="#{msg.verwerfen}"
                               showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                               trackMouse="true" position="none"/>
                </div>
            </div>
        </h:form>
    </cc:implementation>
</ui:composition>
