<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:dialogs="http://xmlns.jcp.org/jsf/composite/dialogs"
      xmlns:umsComps="http://xmlns.jcp.org/jsf/composite/umsComps">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="false" name="umsCtrl" type="de.interfaceag.bmw.pzbk.umsetzungsverwaltung.UmsetzungsbestaetigungController"/>
    </cc:interface>
    <cc:implementation>
        <f:facet name="last">
            <h:outputStylesheet library="css" name="auswirkungDialog.css"  />
        </f:facet>
        <h:form id="ubCommentForm">
            <p:dialog id="ubCommentDialog" class="customDialog"
                      dynamic="true"
                      header="#{msg.umsetzungsbestaetigung} #{msg.kommentar}"
                      widgetVar="ubCommentDialog"
                      modal="true"
                      closable="false"
                      resizable="true"
                      width="500"
                      onHide="PF('ubCommentDialog').content.empty()">
                <dialogs:ubCommentDialog id="ubCommentDialogContent" umsCtrl="#{cc.attrs.umsCtrl}" />
            </p:dialog>
            <p:remoteCommand name="showUBCommentDialog" actionListener="#{umsetzungsbestaetigungController.showCommentDialog()}"/>
        </h:form>
        <h:form id="ubGroupCommentForm">
            <p:dialog id="ubGroupCommentDialog" class="customDialog"
                      dynamic="true"
                      header="#{msg.umsetzungsbestaetigung} #{msg.kommentar}"
                      widgetVar="ubGroupCommentDialog"
                      modal="true"
                      closable="false"
                      resizable="true"
                      width="500"
                      onHide="PF('ubGroupCommentDialog').content.empty()">
                <umsComps:umsCommentGroupDialog id="ubCommentDialogContent" umsCtrl="#{cc.attrs.umsCtrl}" />
            </p:dialog>
        </h:form>
    </cc:implementation>
</html>
