<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite"
        xmlns:filter="http://xmlns.jcp.org/jsf/composite/filter">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="umsCtrl" type="de.interfaceag.bmw.pzbk.umsetzungsverwaltung.UmsetzungsbestaetigungController"/>
        <cc:attribute required="true" name="filter" type="de.interfaceag.bmw.pzbk.umsetzungsverwaltung.dto.UmsetzungsbestaetigungViewFilter"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:growl id="growl" sticky="false" severity="error" showDetail="true" />  
        <h:form id="historyFilterForm" class="h-100">


            <p:remoteCommand name="filter" process="@form"
                             action="#{cc.attrs.umsCtrl.filter()}" />

            <p:panel class="filter-wrapper umsFilter" >
                <p:commandButton ajax="false"
                                 id="UmsetzungsbestaetigungFilterResetButton"
                                 class="resetButton"
                                 value="Reset"
                                 action="#{cc.attrs.umsCtrl.reset()}"/>
                <p:tooltip showDelay="500"  for="UmsetzungsbestaetigungFilterResetButton" position="bottom" value="#{msg.tooltipp_zuordnung_filter_resetButton}" />



                <filter:genericInputFilter id="anforderungFilter" 
                                           showTypeLabel="#{false}"
                                           headerLabel="#{msg.anforderung}"
                                           filter="filter()"
                                           searchFilter="#{cc.attrs.filter.anforderungFilter}" />

                <filter:genericInputFilter id="beschreibungFilter" 
                                           showTypeLabel="#{false}"
                                           headerLabel="#{msg.beschreibung}"
                                           filter="filter()"
                                           searchFilter="#{cc.attrs.filter.beschreibungFilter}" />

                <filter:genericFilter id="sensorCocFilter"
                                      showTypeLabel="#{false}"
                                      headerLabel="#{msg.organisation}"
                                      appendButtonFunction="appendAnwendenButton()"
                                      searchFilter="#{cc.attrs.filter.sensorCocFilter}" />
                <filter:genericFilter id="modulFilter"
                                      showTypeLabel="#{false}"
                                      appendButtonFunction="appendAnwendenButton()"
                                      searchFilter="#{cc.attrs.filter.modulFilter}" />
                <filter:genericFilter id="prozessbaukastenFilter"
                                      showTypeLabel="#{false}"
                                      appendButtonFunction="appendAnwendenButton()"
                                      searchFilter="#{cc.attrs.filter.prozessbaukastenFilter}" />
                <filter:genericFilter id="themenklammerFilter"
                                      showTypeLabel="#{false}"
                                      appendButtonFunction="appendAnwendenButton()"
                                      searchFilter="#{cc.attrs.filter.themenklammerFilter}" />

                <div class="filter-header">
                    <p:outputLabel value="#{msg.status}" />
                </div>
                <p:outputPanel rendered="#{cc.attrs.umsCtrl.viewData.hasLastPhase()}" >

                    <filter:genericFilter id="umsetzungsbestaetigungPriviousStatusFilter" 
                                          showTypeLabel="#{false}"
                                          label="#{cc.attrs.umsCtrl.viewData.lastPhase.bezeichnung} #{msg.status}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{cc.attrs.filter.umsetzungsbestaetigungPriviousStatusFilter}" />

                </p:outputPanel>
                <filter:genericFilter id="umsetzungsbestaetigungStatusFilter" 
                                      showTypeLabel="#{false}"
                                      label="#{cc.attrs.umsCtrl.viewData.currentPhase.bezeichnung} #{msg.status}"
                                      appendButtonFunction="appendAnwendenButton()"
                                      searchFilter="#{cc.attrs.filter.umsetzungsbestaetigungStatusFilter}" />
            </p:panel>
        </h:form>
    </cc:implementation>
</ui:composition>
