<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui" xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:outputStylesheet library="css" name="main.css"/>
    <h:outputStylesheet library="css" name="berechtigungsAntrag.css"/>
    <h:outputStylesheet library="css" name="button/text_button.css"/>
    <h:outputStylesheet library="css" name="button/button.css"/>

    <div class="db-content-wrapper">
        <div class="db-content">
            <div class="db-logo-wrapper error-wrapper">
                <div class="error-text-wrapper">
                    <p:outputLabel>
                        #{msg.berechtigung_antrag_landingpage_header}
                    </p:outputLabel>

                    <p:outputLabel>
                        #{msg.berechtigung_antrag_landingpage_description}
                    </p:outputLabel>

                    <div class="button-register-content">
                        <h:form id="berechtigungWorkflowForm">
                            <p:commandButton id="berechtigungWorkflowButton"
                                             value="#{msg.berechtigung_beantragen}"
                                             styleClass="glass-button"
                                             action="berechtigung"/>
                        </h:form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui:composition>