<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition template="../templates/berechtigung-template.xhtml">

    <ui:define name="title">Berechtigung | BMW PZBK</ui:define>

    <ui:define name="content">
        <ui:include src="components/summaryContent.xhtml"/>
    </ui:define>

</ui:composition>

</html>

