<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:h="http://java.sun.com/jsf/html">

    <h:outputStylesheet library="css" name="navigation/topNav.css" />
    <h:outputScript library="js" name="topNav.js" />

    <h:form id="topnavForm">
        <div class="topnav_wrapper">
            <p:panelGrid id="topnavGridId" class="topnav_grid" columnClasses="logo, title, search, menu" columns="4">
                <p:column>
                    <p:column>
                        <p:link id="topnavDashboardIcon" href="dashboard.xhtml" style="text-decoration: none;">
                            <img alt="" class="db-logo-bmw clickable" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/misc/bmw_group_logo_white.png" />
                        </p:link>
                        <p:tooltip showDelay="500" for="topnavDashboardIcon"  position="bottom" value="#{msg.tooltipp_topnavcomp_dashboardIcon}" />
                    </p:column>
                    <p:tooltip showDelay="500" for="topnavDashboardIcon"  position="bottom" value="#{msg.tooltipp_topnavcomp_dashboardIcon}" />
                </p:column>
            </p:panelGrid>
        </div>
    </h:form>
</ui:composition>
