<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui">
    <h:outputStylesheet library="css" name="navigation/topNav.css" />
    <h:outputScript library="js" name="topNav.js" />
    <h:form id="topnavForm">
        <div class="topnav_wrapper">
            <p:panelGrid id="topnavGridId" class="topnav_grid" columnClasses="logo, title, search, menu" columns="4">
                <p:column>
                    <p:link id="topnavDashboardIcon" outcome="dashboard.xhtml" style="text-decoration: none;">
                        <img alt="" class="db-logo-bmw clickable" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/misc/bmw_group_logo_white.png" />
                    </p:link>
                    <p:tooltip showDelay="500" for="topnavDashboardIcon"  position="bottom" value="#{msg.tooltipp_topnavcomp_dashboardIcon}" />
                </p:column>
                <p:column>
                    <ui:insert name="titleType"/>
                    <ui:insert name="titleText"/>
                    <ui:insert name="titleVersion"/>
                    <ui:insert name="titleAddition"/>
                </p:column>
                <p:column>
                    <ui:insert name="filterMenu"/>
                    <ui:insert name="searchMenu"/>
                </p:column>

                <p:column>
                    <!-- ============= MENU ================= -->
                    <div class="topnav_menu_wrapper">
                        <!-- ========= NOTIF ================ -->
                        <div class="topnav_notif topnav_icon_wrapper">
                            <div class="topnav_notif_icon op-80 topnav_icon" onclick="toggleNotifMenu()">
                                <p:commandLink id="topnavArbeitsvorrat" rendered="#{dashboardController.viewPermission.menuButton}">
                                    <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_archiv.png" />
                                </p:commandLink>
                                <p:tooltip showDelay="500" for="topnavArbeitsvorrat" position="bottom" value="#{msg.tooltipp_topnavcomp_arbeitsvorrat}" />
                            </div>
                        </div>
                        <div class="topnav_notif_menu topnav_popup ui-shadow" style="display:none">
                            <div class="items">


                                <p:outputPanel rendered="#{dashboardController.viewPermission.stepOneToFourPanel}"
                                               class="dashboardMenuMarginBottom">
                                    <div class="items_header first-item-header">
                                        <p:outputLabel value="#{msg.meineAnforderungen}" class="label"/>
                                    </div>
                                    <p:outputPanel rendered="#{dashboardController.viewPermission.stepOne}" >
                                        <p:panelGrid columns="3" class="menu_grid first-item-body" columnClasses="icon,label,amount" >
                                            <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon-gluehbirne.png" class="item_icon" onclick="clickStepOne()"/>
                                            <p:column>
                                                <p:outputLabel id="entwurfLabel" value="#{msg.entwurf}" />
                                                <p:outputLabel id="munstimmigLabel" value="#{msg.unstimmig}" />
                                            </p:column>
                                            <p:outputLabel value="#{dashboardController.stepOneAmount}" styleClass="#{dashboardController.stepOneAmount == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>
                                    <p:outputPanel rendered="#{dashboardController.viewPermission.stepTwo}" >
                                        <p:panelGrid columns="3" class="menu_grid" columnClasses="icon,label,amount" >
                                            <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_edit.png" class="item_icon" onclick="clickStepTwo()"/>
                                            <p:column>
                                                <p:outputLabel id="gemeldetLabel" value="#{msg.gemeldet}" />
                                                <p:outputLabel id="inArbeitLabel" value="#{msg.inArbeit}" />
                                                <p:outputLabel id="aunstimmigLabel" value="#{msg.unstimmig}" />
                                            </p:column>
                                            <p:outputLabel value="#{dashboardController.stepTwoAmount}" styleClass="#{dashboardController.stepTwoAmount == 0 ? 'zero' : ''}" />
                                        </p:panelGrid>
                                    </p:outputPanel>
                                    <p:outputPanel rendered="#{dashboardController.viewPermission.stepThree}" >
                                        <p:panelGrid columns="3" class="menu_grid" columnClasses="icon,label,amount" >
                                            <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_verified.png" class="item_icon" onclick="clickStepThree()"/>
                                            <p:column>
                                                <p:outputLabel id="abgestimmtLabel" value="#{msg.abgestimmt}" />
                                                <p:outputLabel id="plausibilisiertLabel" value="#{msg.plausibilisiert}" />
                                            </p:column>
                                            <p:outputLabel value="#{dashboardController.stepThreeAmount}" styleClass="#{dashboardController.stepThreeAmount == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>
                                    <p:outputPanel rendered="#{dashboardController.viewPermission.stepFour}" >
                                        <p:panelGrid columns="3" class="menu_grid" columnClasses="icon,label,amount" >
                                            <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_approved.png" class="item_icon" onclick="clickStepFour()"/>
                                            <p:column>
                                                <p:outputLabel id="freigegebenLabel" value="#{msg.freigegeben}" />
                                            </p:column>
                                            <p:outputLabel value="#{dashboardController.stepFourAmount}" styleClass="#{dashboardController.stepFourAmount == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>
                                </p:outputPanel>
                                <p:outputPanel rendered="#{dashboardController.viewPermission.stepFiveToSevenPanel}"
                                               class="dashboardMenuMarginBottom">
                                    <div class="items_header">
                                        <p:outputLabel value="#{msg.derivatVorhanden}" class="label" />
                                    </div>
                                    <p:outputPanel rendered="#{dashboardController.viewPermission.stepFive}" >
                                        <p:panelGrid columns="3" class="menu_grid first-item-body" columnClasses="icon,label,amount">
                                            <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_plan.png" class="item_icon" onclick="clickStepFive()"/>
                                            <p:outputLabel id="vereinbartLabel" value="#{msg.vereinbart}" />
                                            <p:outputLabel id="fifthStepAmountLabel" value="#{dashboardController.stepFiveAmount}" styleClass="#{dashboardController.stepFiveAmount == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>
                                    <p:outputPanel rendered="#{dashboardController.viewPermission.stepSix}" >
                                        <p:panelGrid columns="3" class="menu_grid" columnClasses="icon,label,amount">
                                            <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon-2ampel-gruen.png" class="item_icon" onclick="clickStepSix()"/>
                                            <p:outputLabel id="umgesetztLabel" value="#{msg.umgesetzt}" />
                                            <p:outputLabel id="sixStepAmountLabel" value="#{dashboardController.stepSixAmount}" styleClass="#{dashboardController.stepSixAmount == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>                                    
                                </p:outputPanel>

                                <p:outputPanel rendered="#{dashboardController.viewPermission.stepEightToThirteenPanel}" class="dashboardMenuMarginBottom">
                                    <div class="items_header">
                                        <p:outputLabel value="#{msg.umsetzungsbestaetigung}" class="label" />
                                    </div>
                                    <p:outputPanel rendered="#{dashboardController.viewPermission.stepEight}" >
                                        <p:panelGrid columns="3" class="menu_grid first-item-body" columnClasses="icon,label,amount">
                                            <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_tools.png" class="item_icon" onclick="clickStepEight()"/>
                                            <p:outputLabel id="bestaetigerZuordnenLabel" value="#{msg.bestaetigerZuordnen}" />
                                            <p:outputLabel id="eightStepAmountLabel" value="#{dashboardController.stepEightAmount}" styleClass="#{dashboardController.stepEightAmount == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>
                                    <p:outputPanel rendered="#{dashboardController.viewPermission.stepTwelve}" >
                                        <p:panelGrid columns="3" class="menu_grid first-item-body" columnClasses="icon,label,amount">
                                            <img alt="" id="twelvethStepImg" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon-2ampel-g-gelb.png"
                                                 class="item_icon"
                                                 onclick="clickStepTwelve()"/>
                                            <p:outputLabel id="zakOffenLabel" value="#{msg.zakoffen}" />
                                            <p:outputLabel id="zakOffenAmountLabel" value="#{dashboardController.stepTwelveAmount}"
                                                           styleClass="#{dashboardController.stepTwelveAmount == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>
                                    <p:outputPanel id="StepThirteenPanel" rendered="#{dashboardController.viewPermission.stepThirteen}" >
                                        <p:panelGrid id="StepThirteenGrid" columns="3" class="menu_grid first-item-body" columnClasses="icon,label,amount">
                                            <img alt="" id="thirteenthStepImg" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon-2ampel-r-rot.png"
                                                 class="item_icon"
                                                 onclick="clickStepThirteen()"/>
                                            <p:outputLabel id="zakAbgelehntLabel" value="#{msg.zakabgelehnt}" />
                                            <p:outputLabel id="zakAbgelehntAmountLabel" value="#{dashboardController.stepThirteenAmount}"
                                                           styleClass="#{dashboardController.stepThirteenAmount == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>
                                    <p:outputPanel rendered="#{dashboardController.viewPermission.stepNine}" >
                                        <p:panelGrid columns="3" class="menu_grid" columnClasses="icon,label,amount">
                                            <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon-2ampel-leer.png" class="item_icon" onclick="clickStepNine()"/>
                                            <p:outputLabel id="umsetzungBestaetigenLabel" value="#{msg.umsetzungBestaetigen}" />
                                            <p:outputLabel id="ninethStepAmountLabel" value="#{dashboardController.stepNineAmount}" styleClass="#{dashboardController.stepNineAmount == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>
                                    <p:outputPanel rendered="#{dashboardController.viewPermission.stepEleven}" >
                                        <p:panelGrid columns="3" class="menu_grid" columnClasses="icon,label,amount">
                                            <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon-2ampel-r-rot.png"
                                                 class="item_icon"
                                                 onclick="clickStepEleven()"/>
                                            <p:outputLabel id="nichtUmgesetztLabel" value="#{msg.nichtumgesetzt}" />
                                            <p:outputLabel id="eleventhStepAmountLabel" value="#{dashboardController.stepElevenAmount}"
                                                           styleClass="#{dashboardController.stepElevenAmount == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>
                                    <p:outputPanel rendered="#{dashboardController.viewPermission.stepTen}" >
                                        <p:panelGrid columns="3" class="menu_grid" columnClasses="icon,label,amount">
                                            <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon-2ampel-g-gelb.png"
                                                 class="item_icon"
                                                 onclick="clickStepTen()"/>
                                            <p:outputLabel id="keineWeiterverfolgungLabel" value="#{msg.dashboard_umsetzungsverwaltung_unzureichendeAnforderungsqualitaet}" />
                                            <p:outputLabel id="tenthStepAmountLabel" value="#{dashboardController.stepTenAmount}"
                                                           styleClass="#{dashboardController.stepTenAmount == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>
                                    <p:outputPanel rendered="#{dashboardController.viewPermission.stepFourteen}" >
                                        <p:panelGrid columns="3" class="menu_grid" columnClasses="icon,label,amount">
                                            <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon-langlaeufer3.png"
                                                 class="item_icon"
                                                 onclick="clickStepFourteen()"/>
                                            <p:outputLabel id="langlauferLabel" value="#{msg.dashboard_langlaufer}" />
                                            <p:outputLabel id="fourteenStepAmountLabel" value="#{dashboardController.stepFourteenAmount}"
                                                           styleClass="#{dashboardController.stepFourteenAmount == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>
                                </p:outputPanel>

                                <p:outputPanel rendered="#{dashboardController.viewPermission.arbeitsvorratBerechtigungAntrag}"
                                               class="dashboardMenuMarginBottom">
                                    <div class="items_header">
                                        <p:outputLabel value="#{msg.berechtigungantrag_antragsverwaltung}" class="label" />
                                    </div>
                                    <p:outputPanel>
                                        <p:panelGrid columns="3" class="menu_grid first-item-body" columnClasses="icon,label,amount">
                                            <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_verified.png"
                                                 class="item_icon"
                                                 onclick="clickArbeitsvorratBerechtigungAntrag()"/>
                                            <p:outputLabel id="berechtigungArbeitsvorratLabel" value="#{msg.berechtigungantrag_offene_antraege}" />
                                            <p:outputLabel id="berechtigungArbeitsvorratAmountLabel" value="#{dashboardController.arbeitsvorratBerechtigungAntrag}"
                                                           styleClass="#{dashboardController.arbeitsvorratBerechtigungAntrag == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>
                                </p:outputPanel>

                            </div>
                            <p:remoteCommand action="#{dashboardController.stepOneClicked()}" name="clickStepOne" />
                            <p:remoteCommand action="#{dashboardController.stepTwoClicked()}" name="clickStepTwo" />
                            <p:remoteCommand action="#{dashboardController.stepThreeClicked()}" name="clickStepThree" />
                            <p:remoteCommand action="#{dashboardController.stepFourClicked()}" name="clickStepFour" />
                            <p:remoteCommand action="#{dashboardController.stepFiveClicked()}" name="clickStepFive" />
                            <p:remoteCommand action="#{dashboardController.stepSixClicked()}" name="clickStepSix" />
                            <p:remoteCommand action="#{dashboardController.stepEightClicked()}" name="clickStepEight" />
                            <p:remoteCommand action="#{dashboardController.stepNineClicked()}" name="clickStepNine" />
                            <p:remoteCommand action="#{dashboardController.stepTenClicked()}" name="clickStepTen"/>
                            <p:remoteCommand action="#{dashboardController.stepElevenClicked()}" name="clickStepEleven"/>
                            <p:remoteCommand action="#{dashboardController.stepTwelveClicked()}" name="clickStepTwelve"/>
                            <p:remoteCommand action="#{dashboardController.stepThirteenClicked()}" name="clickStepThirteen"/>
                            <p:remoteCommand action="#{dashboardController.stepFourteenClicked()}" name="clickStepFourteen"/>
                            <p:remoteCommand action="#{dashboardController.clickArbeitsvorratBerechtigungAntrag()}" name="clickArbeitsvorratBerechtigungAntrag"/>
                        </div>
                        <!-- ========= ACTION ============== -->
                        <div class="topnav_actions topnav_icon_wrapper">
                            <div id="actionsMenuBtn" class="topnav_actions_icon op-80 topnav_icon" onclick="toggleActionsMenu()">
                                <p:commandLink id="actionsMenuBtnIcon" rendered="true">
                                    <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_list.png" />
                                </p:commandLink>
                            </div>
                            <p:tooltip showDelay="500" for="actionsMenuBtnIcon" position="bottom" value="#{msg.tooltipp_topnavcomp_menuButton }" />
                        </div>
                        <div class="topnav_actions_menu topnav_popup ui-shadow" style="display:none; z-index: 101">
                            <div id="menuItemsList" class="items">
                                <p:outputPanel class="items_header">
                                    <p:outputLabel value="" class="label"  />
                                </p:outputPanel>
                                <p:menu styleClass="dashboardMenu" >
                                    <p:menuitem value="#{msg.dashboard}" url="dashboard.xhtml"
                                                styleClass="link"/>
                                </p:menu>
                                <p:outputPanel rendered="#{dashboardController.viewPermission.neueMeldungMenuItem}" class="items_header">
                                    <p:outputLabel value="#{msg.anforderungen}" class="label"  />
                                </p:outputPanel>
                                <p:menu styleClass="dashboardMenu" >
                                    <p:menuitem value="#{msg.meldungNeu}"
                                                url="meldungEdit.xhtml"
                                                styleClass="link"
                                                iconPos="left"
                                                icon="plus"
                                                rendered="#{dashboardController.viewPermission.neueMeldungMenuItem}" />
                                    <p:menuitem id="neueAnforderungButton"
                                                value="#{msg.dashboardbutton_neue_anforderung}"
                                                url="anforderungEdit.xhtml?new=true"
                                                styleClass="link"
                                                iconPos="left"
                                                icon="plus" 
                                                rendered="#{dashboardController.viewPermission.neueAnforderungMenuItem}"/>
                                    <p:menuitem id="reporting" value="Reporting" url="reporting.xhtml" styleClass="link" 
                                                rendered="#{dashboardController.viewPermission.reportingAnforderungMenuItem}"/>
                                </p:menu>
                                <p:outputPanel class="items_header"
                                               rendered="#{dashboardController.viewPermission.projektverwaltungMenuItem or
                                                           dashboardController.viewPermission.anforderungZuordnenMenuItem or
                                                           dashboardController.viewPermission.anforderungVereinbarenMenuItem or
                                                           dashboardController.viewPermission.berichtswesenMenuItem or
                                                           dashboardController.viewPermission.umsetzungsbestaetigungMenuItem or
                                                           dashboardController.viewPermission.reportingProjektMenuItem }" >
                                    <p:outputLabel value="#{msg.fahrzeugprojekte}" class="label" />
                                </p:outputPanel>
                                <p:menu styleClass="dashboardMenu">
                                    <p:menuitem value="#{msg.title_derivate}" url="derivateView.xhtml" styleClass="link"
                                                rendered="#{dashboardController.viewPermission.projektverwaltungMenuItem}" />
                                    <p:menuitem value="#{msg.title_anfoZuordnen}" url="zuordnung.xhtml" styleClass="link"
                                                rendered="#{dashboardController.viewPermission.anforderungZuordnenMenuItem}" />
                                    <p:menuitem value="#{msg.title_anfoVereinbaren}" url="addAnfoView.xhtml" styleClass="link"
                                                rendered="#{dashboardController.viewPermission.anforderungVereinbarenMenuItem}" />
                                    <p:menuitem value="#{msg.zakStatus}" url="zakStatus.xhtml" styleClass="link"
                                                rendered="#{dashboardController.viewPermission.berichtswesenMenuItem}" />
                                    <p:menuitem value="#{msg.umsetzungsbestaetigung}" url="kovaPhasen.xhtml" styleClass="link"
                                                rendered="#{dashboardController.viewPermission.umsetzungsbestaetigungMenuItem}" />
                                    <p:menuitem id="reportingRechts" value="Reporting" url="projektReporting.xhtml" styleClass="link" 
                                                rendered="#{dashboardController.viewPermission.reportingProjektMenuItem}" />
                                </p:menu>

                                <p:outputPanel class="items_header" rendered="#{dashboardController.viewPermission.neuerProzessbaukastenMenuItem}" >
                                    <p:outputLabel value="#{msg.prozessbaukasten}" class="label"  />
                                </p:outputPanel>
                                <p:menu styleClass="dashboardMenu prozessbaukastenMenu"  rendered="#{dashboardController.viewPermission.neuerProzessbaukastenMenuItem}" >
                                    <p:menuitem value="#{msg.dashboard_menu_prozessbaukastenNeu}" url="prozessbaukastenEdit.xhtml"
                                                styleClass="link padding-left-5px" iconPos="left" icon="plus"/>
                                </p:menu>

                                <p:remoteCommand action="#{navbarController.redirectAddAnforderung()}" name="redirectAddAnforderung"/>
                                <p:remoteCommand action="#{navbarController.redirectNeueMeldung()}" name="redirectAnfoNeu" />
                                <p:remoteCommand action="#{navbarController.redirectZakStatus()}" name="redirectZakStatus"/>
                                <p:remoteCommand action="#{navbarController.redirectUmsetzungsbestaetigung()}" name="redirectUmsetzungsbestaetigung" />
                                <p:remoteCommand action="#{navbarController.redirectFahrzeugprojekt()}" name="redirectFahrzeugprojekt" />
                            </div>
                        </div>
                        <!-- ========= PROFILE ============ -->
                        <div id="userProfileAccount" class="topnav_profile_account">
                            <div id="userProfileAccountLink" class="topnav_profile_icon op-80" onclick="toggleUserMenu()">
                                <p:outputLabel id="topNavUserMenu" value="#{userSession.userAcronym}" />
                                <p:tooltip showDelay="500" for="topNavUserMenu" position="bottom" value="#{msg.tooltipp_topnavcomp_usermenu}" />
                            </div>
                        </div>
                        <div class="topnav_profile_menu topnav_popup ui-shadow" style="display: none;">
                            <div class="info_wrapper">
                                <div class="info_profile_icon_wrapper">
                                    <div class="info_profile_icon">
                                        <p:outputLabel value="#{userSession.userAcronym}"/>
                                    </div>
                                </div>
                                <p:link id="topNavUserSettings" outcome="personalSettingsView.xhtml" value="#{userSession.user.name}"
                                        class="topnav_profile_link" style="text-decoration: none;" />
                                <p:tooltip showDelay="500" for="topNavUserSettings" position="bottom" value="#{msg.tooltipp_topnavcomp_usersettings}" />
                            </div>
                            <p:panelGrid columns="1" class="menu_grid">
                                <p:link class="link-style" outcome="adminView.xhtml" style="text-decoration: none;" >
                                    <p:panelGrid columns="2" rendered="#{dashboardController.viewPermission.benutzerverwaltung}">
                                        <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_user.png" class="item_icon"/>
                                        <p:commandLink action="adminView?faces-redirect=true" value="#{msg.benutzerverwaltung}" class="topnav_menu_link" />
                                    </p:panelGrid>
                                </p:link>

                                <p:link class="link-style" outcome="berechtigungAntragWorkflow?faces-redirect=true" style="text-decoration: none;" >
                                    <p:panelGrid columns="2">
                                        <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_check.png" class="item_icon"/>
                                        <p:commandLink action="berechtigungAntragWorkflow?faces-redirect=true" value="#{msg.kontextmenu_neue_berechtigung_beantragen}" class="topnav_menu_link" />
                                    </p:panelGrid>
                                </p:link>

                                <p:link class="link-style" outcome="berechtigungAntragVerwaltung?faces-redirect=true" style="text-decoration: none;" >
                                    <p:panelGrid columns="2" rendered="#{dashboardController.viewPermission.antragsverwaltung}">
                                        <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_verified.png" class="item_icon"/>
                                        <p:commandLink action="berechtigungAntragVerwaltung?faces-redirect=true" value="#{msg.berechtigungantrag_antragsverwaltung}" class="topnav_menu_link" />
                                    </p:panelGrid>
                                </p:link>

                                <p:link class="link-style" outcome="configView.xhtml" style="text-decoration: none;"  >
                                    <p:panelGrid columns="2" rendered="#{dashboardController.viewPermission.config}">
                                        <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_settings.png" class="item_icon"/>
                                        <p:commandLink action="configView?faces-redirect=true" value="#{msg.config}" class="topnav_menu_link" />
                                    </p:panelGrid>
                                </p:link>

                                <p:link class="link-style" outcome="fahrzeugmerkmalVerwaltung.xhtml" style="text-decoration: none;"  >
                                    <p:panelGrid columns="2" rendered="#{dashboardController.viewPermission.systemLog}">
                                        <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_approved.png" class="item_icon"/>
                                        <p:commandLink value="#{msg.fahrzeugmerkmal_verwaltung}" action="fahrzeugmerkmalVerwaltung?faces-redirect=true" class="topnav_menu_link" />
                                    </p:panelGrid>
                                </p:link>

                                <p:link class="link-style" outcome="systemMonitoring.xhtml" style="text-decoration: none;"  >
                                    <p:panelGrid columns="2" rendered="#{dashboardController.viewPermission.systemLog}">
                                        <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_plan.png" class="item_icon"/>
                                        <p:commandLink value="System Monitoring" action="systemMonitoring?faces-redirect=true" class="topnav_menu_link" />
                                    </p:panelGrid>
                                </p:link>

                            </p:panelGrid>
                        </div>
                    </div>
                    <!-- ========== ENDE MENU =============== -->
                </p:column>
            </p:panelGrid>
        </div>
    </h:form>
</ui:composition>
