<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <div class="topnav_search_wrapper">
        <h:outputStylesheet library="css" name="configview/searchMenu.css" />
        <h:outputStylesheet library="css" name="public/color.css"/>
        <h:outputStylesheet library="css" name="button/button.css" />

        <p:focus for="topnav_search_input" />
        <p:autoComplete id="topnav_search_input" 
                        styleClass="topnav_search_input"
                        placeholder="#{msg.suche}" 
                        minQueryLength="2"                                        
                        var="result"
                        autoHighlight="false"    
                        itemLabel="#{result.name}#{result.version != null ? ' | ' : ''} #{result.version != null ? result.version : ''}"
                        itemValue="#{result}"
                        multiple="true"
                        forceSelection="false"
                        emptyMessage="#{msg.keinErgebnis}"
                        maxResults="10"   
                        onkeyup="if (event.keyCode === 13) {
                                    searchSubmit();
                                }"  
                        groupBy="#{result.typ}"                              
                        converter="#{navbarController.searchResultDTOConverter}"
                        value="#{navbarController.searchQueries}"         
                        completeMethod="#{navbarController.completeSearch}">
            <p:ajax event="itemSelect" 
                    async="true"
                    listener="#{navbarController.doSearchOrGoToResult()}"/>

            <p:column>
                <p:outputLabel value="#{result.name}"/>
                <p:outputLabel value="#{result.version != null ? ' | ' : ''}#{result.version != null ? result.version : ''}"/>
            </p:column>
            <p:column>
                <p:outputLabel id="resultBeschreibungSnippetBefore" rendered="#{navbarController.querySubstring(result.beschreibung)[0] != null}"
                               value="#{result.beschreibung.subSequence(navbarController.querySubstring(result.beschreibung)[2], navbarController.querySubstring(result.beschreibung)[0])}"/>
                <p:outputLabel id="resultBeschreibungSnippet" styleClass="resultBeschreibungSnippet" rendered="#{navbarController.querySubstring(result.beschreibung)[0] != null}"
                               value="#{result.beschreibung.subSequence(navbarController.querySubstring(result.beschreibung)[0], navbarController.querySubstring(result.beschreibung)[1])}"/>
                <p:outputLabel id="resultBeschreibungSnippetAfter" rendered="#{navbarController.querySubstring(result.beschreibung)[0] != null}"
                               value="#{result.beschreibung.subSequence(navbarController.querySubstring(result.beschreibung)[1], navbarController.querySubstring(result.beschreibung)[3])}" />

                <p:outputLabel id="resultBeschreibungStaerkeSnippetBefore" 
                               rendered="#{navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[0] != null and navbarController.querySubstring(result.beschreibung)[0] == null}"
                               value="#{result.beschreibungStaerkeSchwaeche.subSequence(navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[2], navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[0])}"/>
                <p:outputLabel id="resultBeschreibungStaerkeSnippet" styleClass="resultBeschreibungStaerkeSnippet" 
                               rendered="#{navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[0] != null and navbarController.querySubstring(result.beschreibung)[0] == null}"
                               value="#{result.beschreibungStaerkeSchwaeche.subSequence(navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[0], navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[1])}"/>
                <p:outputLabel id="resultBeschreibungStaerkeSnippetAfter" 
                               rendered="#{navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[0] != null and navbarController.querySubstring(result.beschreibung)[0] == null}"
                               value="#{result.beschreibungStaerkeSchwaeche.subSequence(navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[1], navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[3])}" />
            </p:column>
        </p:autoComplete>

        <p:commandLink id="topNavSearchButton" class="topnav_search_link" 
                       action="#{navbarController.doSearchOrGoToResult()}"
                       process="@form">
            <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_search.png" class="topnav_search" />
        </p:commandLink>
        <p:tooltip showDelay="500"  for="topNavSearchButton" position="bottom" value="#{msg.tooltipp_topnavSearchSimple_searchButton}" />

        <p:remoteCommand id="searchSubmit" 
                         name="searchSubmit"
                         action="#{navbarController.doSearchOrGoToResult()}" 
                         process="@form"/>
    </div>
    <div class="topnav_save-search_wrapper">
        <p:commandButton id="dbSaveSearch" type="button" value="" class="save-search-icon" onclick="toggleSearchActionsMenu()" update="topnavForm:udssList"/>
    </div>
    <p:tooltip showDelay="500"  for="dbSaveSearch" position="bottom" value="#{msg.gespeicherteSuchen}" />
    <div class="save-search_actions_menu save-search_popup ui-shadow saveSearchActionsMenu" id="save-save-search_actions_menu">
        <div class="items">
            <div class="items_header">
                <p:outputLabel value="#{msg.gespeicherteSuchen}" class="label" />
            </div>
            <p:growl id="saveSearchError" sticky="false" severity="error" showDetail="true" />
            <p:dataTable id="udssList" var="uds" value="#{navbarController.udss}" class="menu_grid"
                         editable="true" emptyMessage="#{msg.keinegespeicherteSuchen}">
                <p:ajax event="rowEdit" listener="#{navbarController.updateUserDefinedSearch(uds)}" update="@this" />
                <p:column class="ui-panelgrid-cell icon">
                    <div class="glass imgButtonGlass">
                        <p:commandButton class="d-iflex suchenButton imgButton" 
                                         value=""
                                         action="#{navbarController.loadUserDefinedSearch(uds)}"/>
                    </div>
                </p:column>
                <p:column class="label">
                    <p:cellEditor>
                        <f:facet name="output">
                            <p:outputLabel value="#{uds.name}" class="save-search_menu_link display-name"/>
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="udsName" class="save-search-inputfield edit-name" value="#{uds.name}"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column class="ui-panelgrid-cell icon edit">
                    <p:rowEditor class="d-iflex bearbeitenButton imgButton imgButtonGlass"/>
                </p:column>
                <p:column class="ui-panelgrid-cell icon loeschenCol">
                    <div class="glass imgButtonGlass imgButtonSmall">
                        <p:commandButton class="d-iflex loeschenButton imgButton" 
                                         value=""
                                         action="#{navbarController.deleteUserDefinedSearch(uds)}" 
                                         update="udssList"/>
                    </div>
                </p:column>
            </p:dataTable>
        </div>
    </div>
</ui:composition>
