<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui">
    <div class="left">
        <p:commandLink ajax="true" onclick="redirectBack();" class="d-iflex" id="topnavBackCompBtn">
            <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_arrow_back.png" class="glass"/>
        </p:commandLink> 
        <p:tooltip showDelay="500" for="topnavBackCompBtn" value="#{msg.zurueck}"
                   showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                   trackMouse="true" position="none"/>
    </div>
</ui:composition>
