<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <cc:interface>
        <cc:attribute required="true" name="anforderungsuebersichtDialog" type="de.interfaceag.bmw.pzbk.reporting.anforderungsuebersicht.AnforderungsuebersichtDialog" />
        <cc:attribute required="true" name="anforderungsuebersichtDialogMethods" type="de.interfaceag.bmw.pzbk.reporting.anforderungsuebersicht.AnforderungsuebersichtDialogMethods" />
    </cc:interface>

    <cc:implementation>
        <p:dataTable id="anforderungsuebersichtTable"
                     var="anforderung"
                     widgetVar="anforderungsuebersichtTable"
                     value="#{cc.attrs.anforderungsuebersichtDialog.anforderungsuebersichtData}"
                     emptyMessage="#{msg.anforderung_reporting_keineAnforderungen}"
                     rowIndexVar="rowIndex"
                     paginator="true"
                     rows="10"
                     sortBy="#{anforderung.fachIdAndVersion}"
                     sortFunction="#{cc.attrs.anforderungsuebersichtDialogMethods.sortByFachIdAndVersion}"
                     paginatorAlwaysVisible="false"
                     paginatorPosition="bottom" >

            <p:column id="fachIdAndVersion" headerText="#{msg.fachId}"
                      sortBy="#{anforderung.fachIdAndVersion}"
                      sortable="true"
                      sortFunction="#{cc.attrs.anforderungsuebersichtDialogMethods.sortByFachIdAndVersion}">
                <p:link target="_blank" outcome="#{cc.attrs.anforderungsuebersichtDialogMethods.navigateToAnforderungOrMeldungView(anforderung.fachId)}"
                        value="#{anforderung.fachIdAndVersion}" style="color: black; width: 100%;">
                    <f:param name="id" value="#{anforderung.id}" />
                    <f:param name="fachId" value="#{anforderung.fachId}" />
                    <f:param name="version" value="#{anforderung.version}" />
                </p:link>
            </p:column>

            <p:column headerText="#{msg.anforderung_reporting_anforderungstext}" style="min-width: 250px; max-width: 500px; width: 300px;">

                <p:outputLabel id="beschreibungTextFull"
                               class="bodyLabel fullTextCollapsible"
                               value="#{anforderung.anforderungstext}"
                               onclick="toggleAnforderungstext(#{rowIndex})"
                               styleClass="displayNone textCollapsible" />
                <p:outputLabel id="beschreibungTextPreview"
                               class="textExpandable"
                               value="#{anforderung.anforderungstextShort}"
                               onclick="toggleAnforderungstext(#{rowIndex})" />
            </p:column>

            <p:column headerText="#{msg.anforderung_reporting_kommentar}" style="min-width: 250px; max-width: 500px; width: 300px;">
                <p:outputLabel id="kommentarTextFull"
                               class="bodyLabel fullTextCollapsible"
                               value="#{anforderung.kommentar}"
                               onclick="toggleAnforderungKommentar(#{rowIndex})"
                               styleClass="displayNone textCollapsible" />
                <p:outputLabel id="kommentarTextPreview"
                               class="textExpandable"
                               value="#{anforderung.kommentarShort}"
                               onclick="toggleAnforderungKommentar(#{rowIndex})" />
            </p:column>

            <p:column headerText="#{msg.anforderung_reporting_fachteam}" sortBy="#{anforderung.fachteam}">
                <p:outputLabel value="#{anforderung.fachteam}"/>
            </p:column>

            <p:column headerText="#{msg.anforderung_reporting_tteam}" sortBy="#{anforderung.tteam}">
                <p:outputLabel value="#{anforderung.tteam}"/>
            </p:column>

            <p:column headerText="#{msg.anforderung_reporting_status}">
                <p:outputLabel value="#{anforderung.status}"/>
            </p:column>

            <p:column headerText="#{cc.attrs.anforderungsuebersichtDialog.statusDatumLabel}">
                <p:outputLabel value="#{anforderung.datum}"/>
            </p:column>

            <p:column headerText="#{msg.anforderung_reporting_durchlaufzeit}" 
                      rendered="#{cc.attrs.anforderungsuebersichtDialog.hasDurchlaufzeitAndLanglaufer()}">
                <p:outputLabel value="#{anforderung.durchlaufzeit}"/>
            </p:column>

            <p:column headerText="#{msg.anforderung_reporting_langlaufer}"  
                      rendered="#{cc.attrs.anforderungsuebersichtDialog.hasDurchlaufzeitAndLanglaufer()}">
                <p:outputPanel rendered="#{anforderung.isLanglaufer()}">
                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon-langlaeufer3.png"
                         alt="" class="item_icon" style="width: 16px"/>
                </p:outputPanel>

            </p:column>

        </p:dataTable>

        <div class="footer-container">
            <div class="footer">
                <h:panelGroup>
                    <p:commandButton id="excelDownloadBtn"
                                     value="#{msg.excelExport}"
                                     ajax="false" process="@form"
                                     onclick="PF('anforderungsuebersichtDialog').hide()"
                                     actionListener="#{cc.attrs.anforderungsuebersichtDialogMethods.downloadExcelExportForKeyFigure()}"
                                     >
                    </p:commandButton>
                    <p:commandButton value="#{msg.ok}" style="margin-left: 10px; padding-left: 2px; padding-right: 2px;" onclick="PF('anforderungsuebersichtDialog').hide()"  />
                </h:panelGroup>
            </div>
        </div>
    </cc:implementation>
</html>
