<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:dialogs="http://xmlns.jcp.org/jsf/composite/dialogs">

    <cc:interface>
        <cc:attribute required="true" name="reportingViewController" type="de.interfaceag.bmw.pzbk.reporting.projekt.prozess.ProjectProcessViewController" />
    </cc:interface>

    <cc:implementation>
        <h:form id="anforderunguebersichtForm">
            <p:dialog id="anforderungsuebersichtDialog" class="customDialog"
                      dynamic="true"
                      header="#{msg.anforderung_reporting_anforderungsuebersicht}"
                      widgetVar="anforderungsuebersichtDialog"
                      modal="true"
                      resizable="true"
                      width="70%">
                <dialogs:projectReportingDialog id="drilldown"
                                                projectProcessDrilldown="#{cc.attrs.reportingViewController.projectProcessDrilldown}"/>

            </p:dialog>
        </h:form>



    </cc:implementation>
</html>
