<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <cc:interface>
        <cc:attribute required="true" name="statusabgleichController" type="de.interfaceag.bmw.pzbk.reporting.statusabgleich.ReportingStatusabgleichController" />        
    </cc:interface>

    <cc:implementation>

        <p:dataTable id="anforderungsuebersichtTable"
                     var="anforderung"
                     widgetVar="anforderungsuebersichtTable"
                     value="#{cc.attrs.statusabgleichController.drilldownDialogData}"
                     emptyMessage="#{msg.anforderung_reporting_keineAnforderungen}"
                     rowIndexVar="rowIndex"
                     paginator="true"
                     rows="10"
                     sortBy="#{anforderung.fachId}"
                     
                     paginatorAlwaysVisible="false"
                     paginatorPosition="bottom" >

            <p:column id="fachIdAndVersion" headerText="#{msg.fachId}" style="width: 5%">
                      <p:link target="_blank" outcome="anforderungView"
                        value="#{anforderung.fachIdAndVersion}" style="color: black; width: 100%;">
                    <f:param name="id" value="#{anforderung.anforderungId}" />
                    <f:param name="fachId" value="#{anforderung.fachId}" />
                    <f:param name="version" value="#{anforderung.version}" />
                </p:link>
            </p:column>

            <p:column headerText="Modul" style="width: 5%">
               <p:outputLabel value="#{anforderung.modulName}"/>
            </p:column>

            <p:column headerText="ZAK-ID" style="width: 5%">
               <p:outputLabel value="#{anforderung.zakId}"/>
            </p:column>

            <p:column headerText="Beschreibung" style="width: 70%">
                 
                 
                 <p:outputLabel id="beschreibungTextFull"
                               class="bodyLabel fullTextCollapsible"
                               value="#{anforderung.beschreibung}"
                               onclick="toggleAnforderungBeschreibung(#{rowIndex})"
                               styleClass="displayNone textCollapsible" />
                <p:outputLabel id="beschreibungTextPreview"
                               class="textExpandable"
                               value="#{anforderung.shortBeschreibung}"
                               onclick="toggleAnforderungBeschreibung(#{rowIndex})" />
            </p:column>

            <p:column headerText="Status" style="width: 5%">
                <p:outputLabel value="#{anforderung.derivatAnforderungModulStatus}"/>
            </p:column>

            <p:column headerText="ZAK Status" style="width: 5%">
                <p:outputLabel value="#{anforderung.zakStatus}"/>
            </p:column>

        </p:dataTable>

        <div class="footer-container">
            <div class="footer">
                <h:panelGroup>
                    <p:commandButton id="excelDownloadBtn"
                                     value="#{msg.excelExport}"
                                     ajax="false" process="@form"
                                     onclick="PF('anforderungsuebersichtDialog').hide()"
                                     actionListener="#{cc.attrs.statusabgleichController.downloadExcelExport()}"
                                     >
                    </p:commandButton>
                    <p:commandButton value="#{msg.ok}" style="margin-left: 10px; padding-left: 2px; padding-right: 2px;" onclick="PF('anforderungsuebersichtDialog').hide()"  />
                </h:panelGroup>
            </div>
        </div>
    </cc:implementation>
</html>
