<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:dialogs="http://xmlns.jcp.org/jsf/composite/reportingDialogs">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="statusabgleichController" type="de.interfaceag.bmw.pzbk.reporting.statusabgleich.ReportingStatusabgleichController" />       
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>       
            <h:form id="anforderungsuebersichtForm">
                <p:dialog id="anforderungsuebersichtDialog" class="customDialog"
                          dynamic="true"
                          header="#{msg.anforderung_reporting_anforderungsuebersicht}"
                          widgetVar="anforderungsuebersichtDialog"
                          modal="true"
                          resizable="true"
                          width="95%">
                    <dialogs:statusabgleichDrilldownDialog id="statusabgleichDrilldownDialog"
                                                           statusabgleichController="#{cc.attrs.statusabgleichController}"/>
                </p:dialog>
            </h:form>
    </cc:implementation>
</html>
