.anforderungFahrzeugmerkmalInputRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}

.fahrzeugmerkmalLabelSelectMenuLabel {
    width: 30%;
}

.fahrzeugmerkmalSelectMenuWrapper {
    max-width: 70%;
}

.fahrzeugmerkmalSelectMenuWrapper .ui-selectcheckboxmenu-multiple.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all {
    min-width: 393px;
    max-width: 393px;
}

.fahrzeugmerkmalSelectMenuPanel {
    width: 388px !important;
}