.antragHistoryTable {
    width: 99%;
}

.center-template .center {
    top: 130px;
}

.topnav_grid .title .text {
    padding-right: 0px;
    margin-right: 0px;
    border-right: none;
    font-weight: normal;
}