<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <h:outputScript library="js" target="body" name="main.js"/>
    </f:facet>
    <link rel="shortcut icon" type="image/x-icon" href="resources/images/bmw.ico"/>
    <h:outputStylesheet library="css" name="public/color.css"/>
    <h:outputStylesheet library="css" name="center-template.css"/>
    <h:outputStylesheet library="css" name="main.css"/>
    <title><ui:insert name="title">BMW PZBK</ui:insert></title>
    <ui:insert name="head"/>
</h:head>

<h:body class="center-template">
    <f:facet name="last">
        <ui:insert name="imports"/>
    </f:facet>
    <div class="top">
        <ui:include src="../components/generalComp/topnavComp.xhtml"/>
        <div class="secNavBar">
            <h:form id="navbarCompForm">
                <div class="buttons-wrapper">
                    <ui:insert name="secNavBar"/>
                </div>
            </h:form>
        </div>
    </div>
    <div class="center">
        <div class="content-wrapper">
            <div class="content">
                <ui:insert name="content"/>
            </div>
        </div>
    </div>
    <ui:insert name="dialogs"/>
</h:body>
<script> initMain();</script>
</html>