<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        </f:facet>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/bmw.ico"/>

        <h:outputStylesheet library="css" name="public/color.css"/>        
        <h:outputStylesheet library="css" name="public/datenschutzerklaerung.css"/>
        <h:outputStylesheet library="css" name="button/button.css"/>        
        <h:outputScript library="js" target="body" name="main.js" />

        <title>
            <ui:insert name="title">#{msg.datenschutzerklaerung}</ui:insert>
        </title>

    </h:head>

    <h:body class="center-template">
        <f:facet name="last">
            <ui:insert name="imports"></ui:insert>
        </f:facet>
        <div class="content">
            <ui:insert name="content"></ui:insert>
        </div>
    </h:body>
    <script> initMain();</script>
</html>
