<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    </f:facet>
    <link rel="shortcut icon" type="image/x-icon" href="resources/images/bmw.ico"/>

    <title>
        <ui:insert name="title">BMW PZBK - Home</ui:insert>
    </title>
</h:head>
<h:body class="center-template">
    <f:facet name="last">
        <ui:insert name="imports"/>
    </f:facet>
    <div class="content">
        <ui:insert name="topNav"/>
        <ui:insert name="content"/>
    </div>
    <ui:insert name="dialogs"/>
</h:body>
</html>