<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>

    <script>
        $(document).ready(function () {
            $("span[id $= 'keyFigure']").filter(function () {
                return $(this).text() === "0";
            }).addClass('ui-state-disabled');

            $("span[id $= 'keyFigure']").filter(function () {
                return $(this).text() !== "0";
            }).removeClass('ui-state-disabled');

        });
    </script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    </f:facet>
    <link rel="shortcut icon" type="image/x-icon" href="resources/images/bmw.ico"/>
    <h:outputScript library="js" target="body" name="main.js"/>
    <title><ui:insert name="title">BMW PZBK</ui:insert></title>
    <ui:insert name="head"/>
</h:head>

<h:body class="filter-template">
    <f:facet name="last">
        <h:outputStylesheet library="css" name="public/color.css"/>
        <h:outputStylesheet library="css" name="main.css"/>
        <h:outputStylesheet library="css" name="filter/filter-template.css"/>
        <ui:insert name="imports"/>
    </f:facet>
    <div class="top">
        <ui:include src="../components/generalComp/topnavComp.xhtml"/>
    </div>
    <div class="center">
        <div class="filter">
            <ui:insert name="filter"/>
        </div>
        <div class="content">
            <ui:insert name="content"/>
        </div>
    </div>
    <ui:insert name="dialogs"/>
</h:body>
<script> initMain();</script>
</html>