<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    </f:facet>
    <link rel="shortcut icon" type="image/x-icon" href="resources/images/bmw.ico"/>
    <h:outputStylesheet library="css" name="public/public-template.css"/>
    <title><ui:insert name="title">BMW PZBK</ui:insert></title>
    <ui:insert name="head"/>
</h:head>

<h:body class="public-template">
    <div class="top">
        <ui:insert name="top"/>
    </div>
    <div class="center">
        <div class="filter">
            <ui:insert name="filter"/>
        </div>
        <div class="content">
            <ui:insert name="content"/>
        </div>
    </div>
</h:body>
</html>