<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:p="http://primefaces.org/ui"
             xmlns:h="http://xmlns.jcp.org/jsf/html"
>

    <div class="tab-template">

        <h:outputStylesheet library="css" name="prozessbaukastenTabView.css"/>

        <div id="tabColumn" class="tabColumn">
            <p:tabView id="tabView"
                       activeIndex="#{activeIndex}"
                       styleClass="tabView">

                <p:ajax event="tabChange"
                        partialSubmit="true"/>

                <p:tab id="stammdaten"
                       title="#{msg.prozessbaukasten_stammdaten}"
                       titleStyleClass="tabTitle">

                    <ui:insert name="stammdaten"/>

                </p:tab>

                <p:tab id="anforderungen"
                       disabled="#{anforderungenTabDisabled}"
                       title="#{msg.prozessbaukasten_anforderungen}"
                       titleStyleClass="tabTitle">

                    <ui:insert name="anforderungen"/>

                </p:tab>

                <p:tab id="anhaenge"
                       disabled="#{anhangeTabDisabled}"
                       title="#{msg.prozessbaukasten_anhaenge}"
                       titleStyleClass="tabTitle">

                    <ui:insert name="anhaenge"/>

                </p:tab>                

            </p:tabView>
        </div>

        <div id="grafikenColumn" class="grafikenColumn">

            <ui:insert name="grafiken"/>

        </div>


    </div>


</ui:fragment>