:root {
    --white: rgb(255, 255, 255);
    --white_015: rgba(255, 255, 255, 0.15);
    --white_01: rgba(255, 255, 255, 0.1);
    --white_02: rgba(255, 255, 255, 0.2);
    --white_03: rgba(255, 255, 255, 0.3);
    --white_05: rgba(255, 255, 255, 0.5);
    --white_07: rgba(255, 255, 255, 0.7);
    --white_08: rgba(255, 255, 255, 0.8);
    --white_09: rgba(255, 255, 255, 0.9);

    --red_cc493c: rgb(204, 73, 60);
    --red_cc493c_08: rgba(204, 73, 60, 0.8);

    --green_32a918: rgb(58, 169, 24);

    --green_32a918_09: rgba(58, 169, 24, 0.9);

    --blue_7d9aab: rgb(125, 154, 171);
    --blue_5189cd: rgb(81, 137, 205);
    --blue_4279be: rgb(66, 121, 190);
    --blue_3766a1: rgb(55, 102, 161);
    --blue_123054: rgb(18, 48, 84);

    --blue_5189cd_03: rgba(81, 137, 205, 0.3);
    --blue_5189cd_05: rgba(81, 137, 205, 0.5);
    --blue_5189cd_06: rgba(81, 137, 205, 0.6);
    --blue_5189cd_07: rgba(81, 137, 205, 0.7);
    --blue_5189cd_08: rgba(81, 137, 205, 0.8);
    --blue_4279be_09: rgba(66, 121, 190, 0.9);
    --blue_123054_035: rgba(18, 48, 84, 0.35);
    --blue_3766a1_03: rgba(55, 102, 161, 0.3);
    --blue_3766a1_07: rgba(55, 102, 161, 0.7);

    --grey_f5f5f5: rgb(245, 245, 245);
    --grey_eeeeee: rgb(238, 238, 238);
    --grey_e5e5e5: rgb(229, 229, 229);
    --grey_bbbbbb: rgb(187, 187, 187);
    --grey_cccccc: rgb(204, 204, 204);
    --grey_cdcdcd: rgb(205, 205, 205);
    --grey_c0c6cc: rgb(192, 198, 204);
    --grey_a8a8a8: rgb(168, 168, 168);
    --grey_949494: rgb(148, 148, 148);
    --grey_999999: rgb(153, 153, 153);
    --grey_696d70: rgb(105, 109, 112);
    --grey_5d5d5d: rgb(93, 93, 93);
    --grey_1d2129: rgb(29, 33, 41);
    --grey_4f4f4f: rgb(79, 79, 79);

    --grey_1d2129_02: rgba(29, 33, 41, 0.2);
    --grey_1d2129_025: rgba(29, 33, 41, 0.25);
    --grey_1d2129_03: rgba(29, 33, 41, 0.3);
    --grey_1d2129_07: rgba(29, 33, 41, 0.7);
    --grey_222324_09: rgba(34, 35, 36, 0.9);
    --grey_cccccc_03: rgba(204, 204, 204, 0.3);
    --grey_cccccc_05: rgba(204, 204, 204, 0.5);
    --grey_cdcdcd_01: rgba(205, 205, 205, 0.1);
    --grey_949494_03: rgba(148, 148, 148, 0.3);


    --black_222324: rgb(34, 35, 36);
    --black_333333: rgb(51, 51, 51);
    --black_000000: rgb(0, 0, 0);

    --black_000000_03: rgba(0, 0, 0, 0.3);
    --black_222324_07: rgba(34, 35, 36, 0.7);
    --black_222324_09: rgba(34, 35, 36, 0.90);
    --black_222324_095: rgba(34, 35, 36, 0.95);
}

