
/* Datapicker */
.ui-datepicker {
    border: 1px solid rgb(55, 102, 161);
    border-radius: 3px;
    color: rgb(255, 255, 255);;
    background: rgba(34, 35, 36, 0.9);
    box-shadow: none;
}

.ui-datepicker-prev.ui-corner-all,
.ui-datepicker-next.ui-corner-all {
    box-shadow: none;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default {
    color: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    box-shadow: none;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default.ui-state-hover {
    background: rgb(81, 137, 205);
    color: rgb(255, 255, 255);;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default.ui-state-active {
    background-color: rgb(81, 137, 205);
    color: rgb(255, 255, 255);;
    text-shadow: none;
}

.ui-datepicker .ui-datepicker-header {
    background: transparent;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid transparent;
    border-radius: 0px;
    color: rgba(255, 255, 255, 0.7);
}

.ui-datepicker select.ui-datepicker-month option,
.ui-datepicker select.ui-datepicker-year option {
    color: rgb(79, 79, 79);
}

.ui-datepicker .ui-datepicker-buttonpane button {
    border: none;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    box-shadow: none;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-state-hover {
    box-shadow: none;
}