body {
    color: rgb(29, 33, 41);
    direction: ltr;
    line-height: 1.34;
    unicode-bidi: embed;
    font-size: 14px;
    font-family: AvenirWindows, "Segoe UI", Arial, sans-serif;
    background: url("#{request.contextPath}/resources/images/bg/db_bg_10-blurred.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.datenschutzerklaerungContent {
    display: flex;
    justify-content: center;
    align-items: center;

}

.contentTab {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 255); 
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1200px;
    max-height: 800px;  
    margin-top: 100px;
    opacity: 1.0;
}

.datenschutzContent {    
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 660px;
    max-width: 660px;
}

.datenschutzerklaerungPageTitle {
    margin-left: 10px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.datenschutzerklaerungTab {
    margin-bottom: 10px;
}

.readAndUnderstoodCheckbox {
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2.5%;
}

.ui-state-active .readAndUnderstoodCheckbox {    
    border: none !important;    
}

.infoLabelImportant {
    text-align: center; 
    color: #2e5cb8;    
}

div.readAndUnderstoodCheckbox .ui-icon-blank {
    width: 20px !important;
    height: 20px !important;
}

div.readAndUnderstoodCheckbox .ui-chkbox-icon.ui-icon.ui-c.ui-icon-check {    
    border-radius: 0px;
    padding-top: 3px;    
}

.akzeptiereButton {    
    margin-left: 25px;
}

.datenschutzFooter {
    margin-top: 10px;    
    margin-bottom: 25px;
    margin-right: 27px;
    margin-left: 2px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.datenschutzerklaerungPanel {
    min-width: 300px; 
    max-width: 300px;
}

.datenschutzerklaerungTab {
    min-width: 200px; 
    max-width: 200px;    
}

.datenschutzerklaerungWrapper {
    border: 1px solid #a8a8a8; 
    width: 650px; 
    height: 300px; 
    overflow-y: scroll;
    margin-top: 15px;
}

.datenschutzerklaerungText {    
    max-width:650px; 
    max-height: 300px;
    margin: 10px;    
    line-height: 1.34em;
    font: Arial,sans-serif;
    font-size: 1.1em;    
}

.tabtitle {
    line-height: 0px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: rgb(229, 229, 229);
    font-weight: 100;
    color: rgb(79, 79, 79);
    text-shadow: none;
}

@supports (--css: variables) {
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        background: var(--grey_e5e5e5);
        color: rgb(79, 79, 79);
    }
}

