
.glass-box, .glass-box *, .glass-table, .glass-table * {
    box-sizing: border-box;
}

.glass-box, .glass-table {
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 3px;
}

.glass-box .box-header, .glass-table thead {
    padding: 5px 20px;
    background: rgba(55, 102, 161, 0.3);
    color: rgb(255, 255, 255);
    font-size: 1.1em;
}

@supports (--css: variables) {
    .glass-box, .glass-table {
        border: 1px solid var(--white_07);
    }

    .glass-box .box-header, .glass-table thead {
        background: var(--blue_3766a1_03);
        color: var(--white);
    }
}

.glass-table.ui-datatable thead tr th {
    color: rgb(255, 255, 255);
    font-weight: normal;
    box-shadow: none;
}

.glass-box .box-content {
    background: rgb(255, 255, 255);
    padding: 10px 20px;
    display: table;
    width: 100%;
}

.glass-box .box-content .row {
    display: table-row;
}

.glass-box .box-content .row > div {
    display: table-cell;
    padding-bottom: 10px;
    padding-right: 10px;
}

.glass-box .box-content .row > div:first-of-type label {
    color: var(--blue_7d9aab);
    font-size: 0.98em;
}

.glass-box .box-content .row > div .icon {
    display: inline-flex;
    height: 1em;
    vertical-align: middle;
}

.glass-box .box-content .row > div:last-of-type {
    padding-right: 0;
    vertical-align: bottom;
}

.glass-box .box-content .row:last-of-type > div {
    padding-bottom: 0;
}

.glass-box .box-content.grid {
    display: flex;
}

.glass-box .box-content.grid .grid-50 {
    display: table;
    width: 50%;
}

.glass-box .box-content.grid .grid-50:first-of-type {
    margin-right: 10px;
}

.glass {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    background: rgba(29, 33, 41, 0.3);
    color: rgb(255, 255, 255);
}

.glass:hover {
    background: rgba(81, 137, 205, 0.3);
    border: 1px solid rgb(81, 137, 205)
}

@supports (--css: variables) {
    .glass {
        border: 1px solid var(--grey_cccccc);
        background: var(--grey_1d2129_03);
        color: var(--white);
    }

    .glass:hover {
        background: var(--blue_5189cd_03);
        border: 1px solid var(--blue_5189cd);
    }
}
