
/*Growl*/
.ui-growl.ui-widget {
    top: 100px;
    right: 35px;
    width: 255px;
}

.ui-growl-item {
    padding: 10px 10px 10px 20px;
}

.ui-growl-item-container {
    border-radius: 3px;
    text-shadow: none;
    width: 245px;
    height: 100%;
    padding: 0px 8px 0px 0px;
    color: rgb(255, 255, 255);
    margin: 0 0 10px 0;
    opacity: .85;
}

.ui-growl-item-container.ui-growl-error {
    background-color: rgba(204, 73, 60, 0.8);
}

.ui-growl-item-container.ui-growl-info {
    background-color: rgba(81, 137, 205, 0.8);
}

.ui-growl-image.ui-growl-image-error {
    display: none;
}

.ui-growl-image.ui-growl-image-info {
    display: none;
}

.ui-growl-item-container .ui-growl-item .ui-growl-icon-close {
    display: block !important;
    margin: 0px 1px 0px 0px;
    padding: 1px 2px 0px 0px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-aristo");
}

.ui-growl-item-container .ui-growl-item .ui-growl-icon-close:hover {
    background-color: rgb(51, 51, 51);
    border: 1px solid rgb(255, 255, 255);
}

.ui-growl-item .ui-growl-message .ui-growl-title {
    padding: 0;
}

.ui-growl-item .ui-growl-message {
    padding: 0;
}