
.icon-arrow-up-green {
    background: url("#{request.contextPath}/resources/images/icons/color/icon-arrow-up-green.png") no-repeat -2px 0px;
    background-size: 13px;
    width: 9px;
    height: 13px;
}

.icon-arrow-down-red {
    background: url("#{request.contextPath}/resources/images/icons/color/icon-arrow-down-red.png") no-repeat -2px 0px;
    background-size: 13px;
    width: 9px;
    height: 13px;
}

.icon-check-green {
    background: url("#{request.contextPath}/resources/images/icons/color/icon-check-green.png") no-repeat 0px 0px;
    background-size: 13px;
    width: 13px;
    height: 13px;
}

.icon-cancel-red {
    background: url("#{request.contextPath}/resources/images/icons/color/icon-cancel-red.png") no-repeat 0px 0px;
    background-size: 13px;
    width: 13px;
    height: 13px;
}


.icon-zielwert {
    background: url("#{request.contextPath}/resources/images/icons/color/icon-zielwert.png") no-repeat;
    background-size: 13px;
    width: 13px;
    height: 13px;
}

.icon-plus {
    background: url("#{request.contextPath}/resources/images/icons/color/icon-plus-grau.png") no-repeat;
    background-size: 13px;
    width: 13px;
    height: 13px;
    margin-top: 2px;
}
.icon-plus:hover {
    background: url("#{request.contextPath}/resources/images/icons/color/icon-plus-blau.png") no-repeat;
    background-size: 13px;
    width: 13px;
    height: 13px;
    margin-top: 2px;
}
.icon-minus {
    background: url("#{request.contextPath}/resources/images/icons/color/icon-minus-grau.png") no-repeat;
    background-size: 13px;
    width: 13px;
    height: 13px;
    margin-top: 2px;
}
.icon-minus:hover {
    background: url("#{request.contextPath}/resources/images/icons/color/icon-minus-blau.png") no-repeat;
    background-size: 13px;
    width: 13px;
    height: 13px;
    margin-top: 2px;
}
