
.top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    z-index: 100;
}


@media (max-width: 1310px) {
    .secNavBar {
        padding-right: 20px;
        padding-left: 20px;
    }
}

.flex {
    display: flex;
}

.margin-left-5px {
    margin-left: 5px;
}

.margin-right-5px {
    margin-right: 5px;
}

.d-flex {
    display: flex;
}

.d-iflex {
    display: inline-flex;
}

.d-iblock {
    display: inline-block;
}

.f-right {
    float: right;
}

.m-r-5 {
    margin-right: 5px;
}

.m-r-0 {
    margin-right: 0;
}

.m-l-0 {
    margin-left: 0;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.p-20 {
    padding: 0px 20px;
}

.p-60 {
    padding: 0px 60px;
}

.padding-top-20 {
    padding-top: 20px;
}

.borderless {
    border: 0 !important;
}

.transparent {
    background: transparent;
}

.bold {
    font-weight: bold;
}

.pre-wrap {
    white-space: pre-wrap;
}

.op-80 {
    opacity: 0.8;
}

.op-80:hover {
    opacity: 1;
    cursor: pointer;
}

.op-50 {
    opacity: 0.5;
}