
.ui-menuitem.ui-widget.ui-corner-all.ui-state-hover a.ui-menuitem-link,
.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-corner-all.ui-state-hover {
    background: rgb(81, 137, 205);
    text-shadow: none;
}

.ui-menu {
    background: transparent;
    border: none;
    border-radius: 3px;
    padding: 5px 0px 0px 0px;
}

.ui-menu .ui-menuitem.ui-widget.ui-corner-all .ui-menuitem-text {
    color: rgb(255, 255, 255);
    margin-left: 0px;
    text-shadow: none;
}

.ui-menu .ui-menuitem.ui-widget.ui-corner-all .ui-menuitem-link.ui-corner-all.add .ui-menuitem-text {
    color: rgba(255, 255, 255, 0.5);
}

.ui-menu .ui-menuitem.ui-widget.ui-corner-all .ui-menuitem-link.ui-corner-all.add {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.ui-menu .ui-menuitem.ui-widget.ui-corner-all.ui-state-hover .ui-menuitem-text {
    color: white !important;
}

.ui-menu .ui-menuitem.ui-widget.ui-corner-all .ui-menuitem-link.ui-corner-all.current .ui-menuitem-text {
    font-weight: bold;
}

.ui-menu .ui-menuitem.ui-widget.ui-corner-all .ui-menuitem-link.ui-corner-all:not(.add):not(.current) .ui-menuitem-icon {
    background: transparent;
}
