/*Paginator*/
.ui-paginator.ui-paginator-bottom.ui-widget-header.ui-corner-bottom {
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 0px;
    text-shadow: none;
    box-shadow: none;
}

.ui-paginator-page.ui-state-default.ui-corner-all {
    background-color: rgb(204, 204, 204);
    border-radius: 3px;
    border: none;
    color: rgb(34, 35, 36);
}

.ui-paginator-page.ui-state-default.ui-state-active.ui-corner-all {
    background-color: rgba(34, 35, 36, 0.9);
    color: rgb(255, 255, 255);
    border: none;
}

.ui-paginator-next.ui-state-default.ui-corner-all {
    background-color: rgb(204, 204, 204);
    border-radius: 3px;
    border: none;
}

.ui-paginator-prev.ui-state-default.ui-corner-all {
    background-color: rgb(204, 204, 204);
    border-radius: 3px;
    border: none;
}

.ui-paginator-last.ui-state-default.ui-corner-all {
    background-color: rgb(204, 204, 204);
    border-radius: 3px;
    border: none;
}

.ui-paginator-rpp-options.ui-state-default {
    background-color: rgb(204, 204, 204);
    border-radius: 3px;
    border: none;
    height: 23px;
}

.ui-paginator-rpp-options.ui-state-default.ui-state-hover {
    box-shadow: none;
    background-color: rgba(81, 137, 205, 0.3);
    cursor: pointer;
}

.ui-paginator-rpp-options.ui-state-default.ui-state-focus {
    box-shadow: none;
}

.ui-paginator .ui-state-default.ui-corner-all.ui-state-hover {
    box-shadow: none;
    background-color: rgba(81, 137, 205, 0.3);
}

.ui-paginator .ui-state-default.ui-corner-all.ui-state-focus {
    box-shadow: none;
}

.ui-paginator-first.ui-state-default.ui-corner-all {
    background-color: rgb(204, 204, 204);
    border-radius: 3px;
    border: none;
}

.ui-paginator-prev.ui-state-default.ui-corner-all.ui-state-disabled {
    background-color: rgb(204, 204, 204);
    border-radius: 3px;
    border: none;
}

.ui-paginator-first.ui-state-default.ui-corner-all.ui-state-disabled {
    background-color: rgb(204, 204, 204);
    border-radius: 3px;
    border: none;
}