* {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.top {
    height: 75px;
    background-color: #d7e3f3;
    border-bottom: 1px solid #3766a1;
    box-sizing: border-box;
}

.top .top-wrapper {
    height: 75px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.top .icon,
.top .icon img
{
    height: 40px;
}

.top .icon {
    margin-left: 20px;
}

.top .derivat {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    font-weight: bold;
    font-size: 24px;
}

.public-template .content {
    left: 250px;
    top: 25px;
}

.center {
    margin:auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 75px;
    background-color: transparent;
    color: #1d2129;
}

.filter {
    position: absolute;
    left: 0;
    width: 220px;
    height: 100%;
    overflow: auto;
    background-color: #d7e3f3;
    border-radius: 0;
}

.filter > div {
    height: 100%;
    padding: 0;
}

.content {
    position: absolute;
    left: 0px;
    right: 0;
    top: 53px;
    bottom: 0;
    overflow: auto;
}

.filter-template .content {
    top: 77px;
}


.filter-wrapper.ui-panel.ui-widget.ui-widget-content.ui-corner-all {
    padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.filter-wrapper {
    padding: 15px;
    width: calc(100% - 10px);
    height: 100%;
    box-sizing: border-box;
    background: transparent;
    padding-left: 10px !important;
}

.filter-wrapper .ui-panel-content.ui-widget-content {
    padding: 0;
}

.filter-wrapper > .ui-panel-content.ui-widget-content {
    padding-left: 14px;
}

.filter-headline{
    padding-left: 0px;
    margin-top: 11px;
}

.filter-headline > label {
    font-size: 1.1em !important;
    color: rgba(255,255,255,0.65);
}

.filter-header{
    margin-bottom: 5px;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 15px;
}

.filter-header ~ .filter-header {
    margin-top: 15px;
}

.filter-header label {
    color: #5189cd;
}

.filter-content {
    color: rgba(255, 255, 255, 0.8);
    font-size: 13px;
    padding-left: 0px;
    padding-top: 8px;
    width: 171px;
    letter-spacing: -0.1px;
}

.filter-grid {

}

.filter-grid .ui-widget-content {
    color: rgba(255, 255, 255, 0.8);
    background: transparent;
}


.filter-column.ui-panelgrid-cell {
    border:none;
    padding: 2px 2px 2px 10px;
    font-size: 0.9em;
}

.filter-column input.ui-inputfield {
    box-sizing: border-box;
    color: white;
    padding: 4px 10px;
    background: rgba(255, 255, 255, 0.1);
    border-color: transparent;
    border-radius: 0px;
}

.filter-column .input-max {
    width: 100%;
}

/* Selectboxmenü */
.ui-selectcheckboxmenu-panel.ui-widget.ui-widget-content.ui-corner-all.ui-helper-hidden {
    background-color: rgba(34, 35, 36, 0.9);
    border: 1px solid #3766a1;
    border-radius: 3px;
    box-shadow: none;
    width: auto !important;
    min-width: 160px !important;
}

.ui-selectcheckboxmenu-panel.ui-widget.ui-widget-content.ui-corner-all.ui-helper-hidden.filterPanel > .ui-selectcheckboxmenu-items-wrapper {
    overflow-x: hidden;
}

.ui-widget-header.ui-corner-all.ui-selectcheckboxmenu-header.ui-helper-clearfix {
    background: transparent;
    border-bottom: 1px solid #5189cd;
    border-radius: 0px;
}

.ui-selectcheckboxmenu-items.ui-selectcheckboxmenu-list.ui-widget-content.ui-widget.ui-corner-all.ui-helper-reset {
    background: transparent;
    color: rgba(255, 255, 255, 0.8);
}

.ui-selectcheckboxmenu-filter-container .ui-inputfield.ui-inputtext.ui-widget.ui-state-default.ui-corner-all {
    background: rgba(255, 255, 255, 0.1);
    border: transparent;
    color: white;
    margin-right: 5px;
    width: 120px;
}

.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-filter-container .ui-icon {
    position: absolute;
    right: 7px;
    top: 1px;
    opacity: 0.4;
}

.ui-selectcheckboxmenu-close.ui-corner-all.ui-state-hover,
.ui-selectcheckboxmenu-close.ui-corner-all.ui-state-highlight {
    background: transparent;
    border: none;
    box-shadow: none;
}

/* Filter Selectmenü */
.filter-wrapper .ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid transparent;
    border-radius: 0px;
    margin-left: 10px;
    box-shadow: none;
    width: 140px;
}

.filter-wrapper .ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all:hover {
    border: 1px solid #5189cd;
}


.filter-wrapper .ui-selectonemenu-label.ui-inputfield.ui-corner-all {
    background: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.8);
}

.filter-wrapper .ui-selectonemenu-trigger.ui-state-default.ui-corner-right {
    background: transparent;
    border: none;
    border-left: 1px solid #a8a8a8;
}


.filter-wrapper .ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all:hover .ui-selectonemenu-trigger.ui-state-default.ui-corner-right {
    border-left: 1px solid  #7096ab;
}

.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all.topnav_filtermenu {
    color: rgba(255, 255, 255, 0.8);
    box-shadow: none;
    padding-top: 2px;
    padding-left: 2px;
    text-shadow: none;
    width: 80px;
    position: absolute;
    height: 28px;
    margin-left: -74px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(205,205,205,0.6);
    border-radius: 3px;
}

.filter-template .ui-state-hover .ui-icon.ui-icon-triangle-1-s{
    background: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-aristo");
    background-position: -64px -16px;
}

.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all.topnav_filtermenu:hover {
    border: 1px solid #5189cd;
}

.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all.topnav_filtermenu .ui-state-hover {
    background: transparent;
    box-shadow: none;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.8);
}



.ui-inputfield.ui-widget.ui-state-default.ui-corner-all.hasDatepicker {
    width: 170px;
    border: 1px solid transparent;
}
.ui-inputfield.ui-widget.ui-state-default.ui-corner-all.hasDatepicker.ui-state-hover {
    border: 1px solid #5189cd;
}

.filter-wrapper .ui-widget-content .ui-button.ui-widget.ui-state-default.ui-corner-all.resetButton {
    position: absolute;
    top: 18px;
    left: 135px;
    z-index: 99;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #a8a8a8;
    border-radius: 3px;
    margin-left: 5px;
}

.filter-wrapper .ui-widget-content .ui-button.ui-widget.ui-state-default.ui-corner-all.resetButton:hover {
    cursor: pointer;
    background: rgba(81, 137, 205, 0.2);
    border: 1px solid #3766a1;
    color: #000;
}

.filter-wrapper .ui-widget-content .ui-button.ui-widget.ui-state-default.ui-corner-all.resetButton:focus {
    outline: none;
}

.filter-wrapper .ui-widget-content .ui-button.ui-widget.ui-state-default.ui-corner-all.resetButton .ui-button-text {
    padding: 1px 8px 1px 8px;
}

.filter-wrapper .ui-widget-content .ui-button.ui-widget.ui-state-default.ui-corner-all.resetButton.quickFilter {
    position: inherit;
    top: 0px;
    left: 0px;
    margin: 0px;
}

.filter-wrapper .ui-widget .filter-content .ui-button.ui-widget.ui-state-default.ui-corner-all.resetButton.filterButton {
    position: inherit;
    margin: 0px;
    color: rgba(255, 255, 255, 0.8);
    float: right;
    position: inherit;
    margin-top: -19px;
    font-size: 12px;
    padding: 0px;
    background: rgba(255, 255, 255, 0.1);
}

.filter-wrapper .ui-widget .filter-content .ui-button.ui-widget.ui-state-default.ui-corner-all.resetButton.filterButton:hover {
    cursor: pointer;
    background: rgba(81, 137, 205, 0.5);
    color: rgba(255, 255, 255, 0.9);
    border: 1px solid #5189CD;
}


.ui-button.ui-widget.ui-state-default.ui-corner-all.resetButton.filterButton span {
    padding: 2px;
}

.ui-widget .filter-content .ui-widget {
    font-size: 12px;
}

.filterPanelButton {
    background: url("#{resource['images:icons/white/icon_check.png']}") center center no-repeat;
    background-size: 15px 15px;
    width: 30px;
    /*background: rgba(255, 255, 255, 0.2);*/
    color: rgba(255, 255, 255, 0.9);
    height: 22px;
    cursor: pointer;
    border: 1px solid rgba(204, 204, 204, 0.5);
    z-index: 999999;
    text-shadow: none;
    float: right;
    margin-right: 4px;
    margin-bottom: 2px;
    padding-top: 2px;
    margin-top: -2px;
}

.filterPanelButton:hover {
    background: url("#{resource['images:icons/white/icon_check.png']}") transparent center center no-repeat;
    background-size: 15px 15px;
    cursor: pointer;
    background-color: rgba(81, 137, 205, 0.5);
    color: rgba(255, 255, 255, 1);
    border: 1px solid #5189CD;
}

.ui-button.ui-button-text-only.ui-selectbooleanbutton.ui-state-active .ui-button-text,
.ui-button.ui-button-text-only.ui-selectbooleanbutton.filterButton:hover .ui-button-text {
    background: transparent;
    border: 1px solid transparent;
    letter-spacing: -0.1px;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger .ui-icon {
    margin-top: 4px;
}

.ui-selectcheckboxmenu-trigger.ui-state-default.ui-corner-right {
    padding: 0px 4px 0px 3px;
}

.filter-wrapper .ui-panelgrid .ui-panelgrid-cell {
    padding: 2px 0px;
}

.ui-panelgrid-cell.filter-column.date td.ui-panelgrid-cell.filter-column.date label,
td.ui-panelgrid-cell.filter-column.date label {
    color: rgba(255, 255, 255, 0.8);
}

.filter-element input.ui-inputtext {
    box-sizing: border-box;
    color: white;
    padding: 4px 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0px;
    width: 170px;
    border: 1px solid transparent;
}

.umsFilter {
    padding: 25px !important;
}

body.public-dashboard-template,
body.public-template {
    margin: 0;
    padding: 0;
}

.dashboard-wrapper .reportingDashboardItemLink {
    background-color: #d7e3f3;
    border: 1px solid #5f85b4;
    border-radius: 3px;
}

.dashboard-wrapper .reportingDashboardItemLink:hover {
    background: rgba(81, 137, 205, 0.4);
    border: 1px solid #123054;
}

.dashboard-wrapper .reportingDashboardItemLink .dashboardImageWrapper {
    height: 230px;
    display: flex;
    justify-content: space-around;
}

.dashboard-wrapper .reportingDashboardItemLink .dashboardItemTitleWrapper {
    background-color: #5189cd;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
}

.dashboard-wrapper .reportingDashboardItemLink:hover .dashboardItemTitleWrapper{
    background: #3766a1;
}

a,
.dashboard-wrapper .reportingDashboardItemLink .dashboardItemTitleWrapper span {
    text-decoration: none;
    font-size: 18px;
}

.dashboard-wrapper .reportingDashboardItemLink .dashboardImageWrapper .dashboardImage {
    width: 80%;
    margin: auto;
}

.dashboard-wrapper  {
    width: 900px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}

.ui-widget-content {
    border: none;
}

.ui-panelgrid .ui-panelgrid-cell.filter-element
{
    border-width: 0;
}

.ui-state-hover, .ui-widget-content .ui-state-hover {
    box-shadow: none;
    font-weight: normal;
}

.ui-widget-content .ui-state-default {
    font-weight: normal;
    box-shadow: none;
}

.filter-wrapper .ui-widget-content .ui-button.ui-widget.ui-state-default.ui-corner-all.resetButton {
    position: absolute;
    top: 18px;
    left: 135px;
    z-index: 99;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #a8a8a8;
}

.filter-wrapper .ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all {
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid transparent;
    border-radius: 0px;
    margin-left: 10px;
    box-shadow: none;
    width: 140px;
}

.filter-wrapper .ui-selectonemenu-label.ui-inputfield.ui-corner-all {
    background: transparent;
    border: none;
    color: black;
}


.ui-selectonemenu .ui-selectonemenu-trigger.ui-corner-right {
    box-sizing: border-box;
    box-shadow: none;
    width: 26px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0 3px 3px 0;
    margin-right: -1px;
}

.ui-selectonemenu.ui-widget.ui-corner-all > label {
    border-radius: 0;
    box-shadow: none;
    border: none;
}

.ui-selectonemenu-panel.ui-widget.ui-widget-content.ui-corner-all.ui-helper-hidden.ui-shadow {
    box-shadow: none;
    border: 1px solid #3766a1;
    box-sizing: border-box;
    background: white;
    color: white;
}

.ui-selectonemenu-filter.ui-inputfield.ui-inputtext.ui-widget.ui-state-default.ui-corner-all {
    box-shadow: none;
}

.ui-corner-all {
    border-radius: 0;
}

.filterPanel .ui-selectonemenu-panel .ui-selectonemenu-list {
    padding: 0;
    border: 0 none;
}
.ui-state-hover, .ui-widget-content .ui-state-hover,
.ui-state-highlight, .ui-widget-content .ui-state-highlight {
    background: none;
    background-color: #d7e3f3;
    text-shadow: none;
    color: black;
}

.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-corner-all.ui-noselection-option {
    display: none;
}