/* Scrollbar */
.ui-scrollpanel-container .ui-scrollpanel-vbar {
    width: 12px;
}

.ui-scrollpanel-container .ui-scrollpanel-vbar .ui-scrollpanel-track {
    background: transparent
}

.ui-scrollpanel-container .ui-scrollpanel-vbar .ui-scrollpanel-track .ui-scrollpanel-drag.ui-state-highlight {
    background: var(--grey_1d2129_025);
    border-radius: 6px;
    border: 1px solid var(--grey_cccccc_03);
}