/*.ui-datatable tbody tr.ui-state-hover .ui-chkbox.ui-widget .ui-chkbox-box.ui-widget.ui-corner-all,*/
.ui-datatable tbody tr .ui-chkbox.ui-widget .ui-chkbox-box.ui-widget.ui-corner-all.ui-state-hover {
    border: 1px solid rgb(81, 137, 205);
}

/* ui-datatable */
.ui-datatable thead th.ui-state-default {
    border: none;
    border-bottom: 1px solid rgb(55, 102, 161);
    font-weight: bold;
    background: transparent;
    text-align: left;
}

@supports (--css: variables) {
    .ui-datatable thead th.ui-state-default {
        border-bottom: 1px solid rgb(55, 102, 161);
    }
}

.ui-datatable tbody.ui-datatable-data {
    text-align: left;
}

.ui-datatable.no-header .ui-widget-header.ui-datatable-scrollable-header {
    display: none;
}

.ui-datatable.no-header thead th.ui-state-default {
    border: 0;
}

.ui-datatable-odd {
    background: transparent;
}

.ui-datatable .ui-datatable-data tr:not(:last-of-type) {
    border-bottom: 1px solid rgb(204, 204, 204);
}

@supports (--css: variables) {
    .ui-datatable .ui-datatable-data tr:not(:last-of-type) {
        border-bottom: 1px solid rgb(204, 204, 204);
    }
}

.ui-datatable .ui-datatable-data td {
    border: none;
}

.ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-hover,
.ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-highlight {
    border-color: rgba(255, 255, 255, 0.3);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid rgb(204, 204, 204);
    box-shadow: none;
}


.ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable {
    border-radius: 3px;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-hover td,
.ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-highlight td {
    text-shadow: none;
    background: rgba(255, 255, 255, 0.3);
    color: rgb(79, 79, 79);
}

.ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable td .ui-datepicker-trigger.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only {
    background: #e5e5e5;
    border-radius: 0 3px 3px 0;
    border-top: 1px solid rgb(229, 229, 229);
    border-right: 1px solid rgb(229, 229, 229);
    border-bottom: 1px solid rgb(229, 229, 229);
    border-left: 1px solid transparent;
    width: 28px;
}

.ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable td .ui-datepicker-trigger.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-state-hover,
.ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable td .ui-datepicker-trigger.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-state-active {
    background: #e5e5e5;
    border: 1px solid rgb(81, 137, 205);
}

.ui-datatable:not(.no-header) tbody:before {
    line-height: 5px;
    color: white;
    display: block;
    visibility: hidden;
}

.ui-datatable.ui-widget.ui-datatable-scrollable .ui-widget-header.ui-datatable-scrollable-header {
    background: rgb(255, 255, 255);
}

.ui-datatable.ui-widget.ui-datatable-scrollable .ui-widget-header.ui-datatable-scrollable-header th {
    border-bottom: none;
}