<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="de" xml:lang="de"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
>

<cc:interface>
    <cc:attribute required="true" name="automaticZuordnung"
                  type="de.interfaceag.bmw.pzbk.zuordnung.automatic.AutomaticZuordnenDialogViewData"/>
</cc:interface>


<cc:implementation>

    <h:outputStylesheet library="css" name="zuordnung/automatischZuordnenDialog.css"/>
    <h:outputStylesheet library="css" name="button/button.css"/>

    <p:dataTable rendered="#{cc.attrs.automaticZuordnung ne null}"
                 id="automatischZugeordnetTable"
                 var="zuordnung"
                 widgetVar="zuordnungsuebersichtTable"
                 value="#{cc.attrs.automaticZuordnung.automaticZuordnenDtoList}"
                 emptyMessage="#{msg.automatic_zuordnung_dialog_empty_anforderung_list}"
                 rowIndexVar="rowIndex"
                 paginator="true"
                 rows="10"
                 paginatorAlwaysVisible="false"
                 paginatorPosition="bottom">

        <p:column width="10%" id="fachIdAndVersion" headerText="#{msg.reporting_RS_projektsicht_fachId}">

            <p:link target="_blank" outcome="anforderungView"
                    value="#{zuordnung.anforderungFachId}"
                    class="anforderung-link">
                <f:param name="id" value="#{zuordnung.anforderungId}"/>
                <f:param name="fachId" value="#{zuordnung.anforderungFachId}"/>
                <f:param name="version" value="#{zuordnung.anforderungVersion}"/>
            </p:link>

        </p:column>

        <p:column width="60%" headerText="#{msg.reporting_RS_projektsicht_beschreibung}">
            <p:outputLabel id="beschreibungTextFull"
                           class="bodyLabel fullTextCollapsible"
                           value="#{zuordnung.anforderungDescriptionLong}"
                           onclick="toggleAnforderungstext(#{rowIndex})"
                           styleClass="displayNone textCollapsible"/>
            <p:outputLabel id="beschreibungTextPreview"
                           class="textExpandable"
                           value="#{zuordnung.anforderungDescriptionShort}"
                           onclick="toggleAnforderungstext(#{rowIndex})"/>
        </p:column>
    </p:dataTable>

    <p:outputPanel rendered="#{cc.attrs.automaticZuordnung == null}">
        <h:outputLabel value="#{msg.automatic_zuordnung_dialog_empty_result}" />
    </p:outputPanel>
</cc:implementation>
</html>
