<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:link="http://xmlns.jcp.org/jsf/composite/link"
      xmlns:zuordnung="http://xmlns.jcp.org/jsf/composite/zuordnung">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="zuordnungView" type="de.interfaceag.bmw.pzbk.zuordnung.ZuordnungView"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <div class="p-20 padding-top-20">
            <h:form id="zuordnungForm">
                <p:growl id="growl" sticky="false" severity="info" showDetail="true" />

                <p:dataTable value="#{cc.attrs.zuordnungView.tableData}"
                             var="zuordnung"
                             id="zuordnungTable"
                             rowIndexVar="rowIndex"
                             class="glass-table anforderungZuordnenTable no-hover"
                             emptyMessage="#{msg.keineAnforderungenGefunden}"
                             selection="#{cc.attrs.zuordnungView.selectedTableData}"
                             rowSelectMode="checkbox"
                             rowKey="#{zuordnung.anforderungId}"
                             disabledSelection="#{!cc.attrs.zuordnungView.zuordnenMode and !cc.attrs.zuordnungView.zakMode}"
                             scrollable="true"
                             scrollWidth="100%"
                             scrollHeight="600px"
                             liveScroll="true"
                             scrollRows="30"
                             sortOrder="descending"
                             rowStyleClass="no-hover rowStyle"
                             tableStyle="" >
                    <p:ajax event="rowSelectCheckbox" process="@this" update="@form zuordnungContent:zuordnungForm:zuordnungTable"/>
                    <p:ajax event="rowUnselectCheckbox" process="@this" update="@form zuordnungContent:zuordnungForm:zuordnungTable"/>
                    <p:ajax event="toggleSelect"  process="@this" update="@form zuordnungContent:zuordnungForm:zuordnungTable"
                            listener="#{cc.attrs.zuordnungView.setAllSelected(!cc.attrs.zuordnungView.allSelected)}"/>

                    <!-- @Hack (override primeface)
                         this function is an override of the primeface-library checkbox selection in the table,
                         dont delete this function when livescroll is active,
                         it manages the checkbox selection
                    -->
                    <script type="text/javascript">
                        PrimeFaces.widget.DataTable.prototype.updateData = (function() {

                            var cached_function = PrimeFaces.widget.DataTable.prototype.updateData;
                            var reselectAll = false;

                            if (this.selection !== undefined || this.selection !== null) {
                                if (this.selection[0] === '@all' || this.selection.length === this.getTbody()[0].getElementsByTagName('tr').length) {
                                    reselectAll = true;
                                }
                            }

                            var result = cached_function.apply(this, arguments);
                            if (reselectAll) {
                                this.selectAllRows();
                            }
                            return result;
                        })();
                    </script>

                    <p:column id="zuordnungSelectAllinTable" selectionMode="multiple" style="#{(cc.attrs.zuordnungView.zuordnenMode or cc.attrs.zuordnungView.zakMode)
                                                                                               ? 'min-width: 36px; max-width: 36px; width: 36px; !important' : 'min-width: 0px; max-width: 0px; padding:0px; width: 0px; !important'} text-align: center;">
                    </p:column>

                    <p:column headerText="#{msg.anforderung}" style="min-width: 104px; max-width: 104px; width: 130px;">
                        <link:anforderungLinkDirect id="anforderungShowLink"
                                                    anforderungId="#{zuordnung.anforderungId}"
                                                    fachId="#{zuordnung.anforderungFachId}"
                                                    version="#{zuordnung.anforderungVersion}" />
                        <p:tooltip showDelay="500"  for="anforderungShowLink" position="bottom" value="#{msg.tooltipp_zuordnung_content_showAnforderung}" />
                    </p:column>
                    <p:column style="min-width: 120px; max-width: 120px; width: 120px;">
                        <zuordnung:prozessbaukastenLabel
                                prozessbaukastenlabel="#{zuordnung.prozessbaukastenLabel}"
                                rendered="#{zuordnung.isProzessbaukastenZugeordnet()}" />
                    </p:column>
                    <p:column headerText="#{msg.beschreibung}" style="min-width: 250px; max-width: 300px; width: 400px;">
                        <p:outputLabel id="beschreibungTextFull"
                                       class="bodyLabel"
                                       value="#{zuordnung.anforderungBeschreibungFull}"
                                       onclick="toggleBeschreibung(#{rowIndex})"
                                       styleClass="displayNone textCollapsible" />
                        <p:outputLabel id="beschreibungTextPreview"
                                       class="textExpandable"
                                       value="#{zuordnung.anforderungBeschreibungShort}"
                                       onclick="toggleBeschreibung(#{rowIndex})" />
                    </p:column>
                    <p:columns id="derivatColumns"
                               value="#{cc.attrs.zuordnungView.filteredDerivate}"
                               columnIndexVar="columnIndex"
                               headerText="#{derivat.name}"
                               sortable="true"
                               styleClass="column#{columnIndex} #{columnIndex % 2 == 0 ? 'grayBackgroud' : ''} zuordnenCol"
                               var="derivat"
                               style="#{cc.attrs.zuordnungView.selectedDerivat eq derivat ? 'background: rgba(81, 137, 205, 0.7) !important' : ''}">
                        <f:facet name="header">
                            <p:panelGrid>
                                <p:row>
                                    <p:column>
                                        <p:commandButton id="derivatButton" value="#{derivat.name}"
                                                         actionListener="#{cc.attrs.zuordnungView.enableDerivat(derivat)}"
                                                         ajax="true"
                                                         async="true"
                                                         process="@form"
                                                         partialSubmit="true"
                                                         immediate="true"
                                                         update="zuordnungContent:zuordnungForm:zuordnungTable zuordnungNavBar:changePhaseForm"
                                                         rendered="#{!cc.attrs.zuordnungView.zuordnenMode and !cc.attrs.zuordnungView.zakMode}"
                                                         styleClass="topNavButton_zuordnungNavigation">
                                        </p:commandButton>
                                        <p:outputLabel class="headerLabel" value="#{derivat.name}"
                                                       rendered="#{!(!cc.attrs.zuordnungView.zuordnenMode and !cc.attrs.zuordnungView.zakMode)}" />
                                        <p:outputLabel id="derivatStatusLabel"
                                                       styleClass="derivatStatusLabel"
                                                       value="#{cc.attrs.zuordnungView.viewData.derivatStatusNames.getNameForStatus(derivat.status)}" />
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel class="headerLabel" value="#{msg.status}" style="display: inline-block; width: 150px;"
                                                       rendered="#{derivat ne cc.attrs.zuordnungView.selectedDerivat or (derivat eq cc.attrs.zuordnungView.selectedDerivat and !cc.attrs.zuordnungView.zuordnenMode) or empty cc.attrs.zuordnungView.tableData}"/>
                                        <p:selectOneMenu id="derivatAnforderungModulGroupStatus"
                                                         style="width: 150px; min-width: 150px !important"
                                                         converter="zuordnungStatusConverter"
                                                         rendered="#{cc.attrs.zuordnungView.zuordnenMode and derivat eq cc.attrs.zuordnungView.selectedDerivat
                                                                     and not empty cc.attrs.zuordnungView.tableData}"
                                                         value="#{cc.attrs.zuordnungView.groupStatus}"
                                                         class="selectUmsStatus">
                                            <p:ajax event="change" update="@this" />
                                            <f:selectItem itemLabel="Status" itemValue="#{null}" noSelectionOption="true"/>
                                            <f:selectItems value="#{cc.attrs.zuordnungView.getAllNextStatusList()}" var="status"
                                                           itemValue="#{status}" itemLabel="#{status.toString()}"/>
                                        </p:selectOneMenu>
                                        <p:tooltip showDelay="500"  for="derivatAnforderungModulGroupStatus" position="bottom" value="#{msg.tooltipp_zuordnung_content_StatusSelectForAll}" />
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </f:facet>
                        <p:outputPanel id="zuordnungEdit" >
                            <p:panelGrid >
                                <p:row>
                                    <p:column rowspan="1" style="background-color: transparent; width: 160px">
                                        <p:outputLabel id="statusLabel" value="#{zuordnung.getZuordnungForDerivat(derivat).status.toString()}"
                                                       rendered="#{!zuordnung.getZuordnungForDerivat(derivat).isStatusChangeEnabled(cc.attrs.zuordnungView.selectedDerivat, cc.attrs.zuordnungView.zuordnenMode)}"
                                                       class="bodyLabel" style="width: 150px"/>
                                        <p:selectOneMenu id="derivatAnforderungModulStatus"
                                                         converter="zuordnungStatusConverter"
                                                         rendered="#{zuordnung.getZuordnungForDerivat(derivat).isStatusChangeEnabled(cc.attrs.zuordnungView.selectedDerivat, cc.attrs.zuordnungView.zuordnenMode)}"
                                                         value="#{zuordnung.getZuordnungForDerivat(derivat).status}"
                                                         class="selectUmsStatus" style="width: 150px">
                                            <p:ajax event="change" update="@this"
                                                    />
                                            <f:selectItem itemLabel="#{zuordnung.getZuordnungForDerivat(derivat).status.toString()}"
                                                          itemValue="#{zuordnung.getZuordnungForDerivat(derivat).status}"
                                                          noSelectionOption="true"/>
                                            <f:selectItems value="#{zuordnung.getZuordnungForDerivat(derivat).nextStatus}" var="status"
                                                           itemValue="#{status}" itemLabel="#{status.toString()}"/>
                                        </p:selectOneMenu>
                                        <p:tooltip showDelay="500"  for="derivatAnforderungModulStatus" position="bottom" value="#{msg.tooltipp_zuordnung_content_selectStatus}" />
                                    </p:column>
                                    <p:column rowspan="1" style="background-color: transparent; width: 55px">
                                        <p:outputLabel id="zakStatusLabel" value="#{zuordnung.standardvereinbarung ? msg.standard : msg.zak}"
                                                       rendered="#{zuordnung.getZuordnungForDerivat(derivat).isZakStatusRendered()}"
                                                       class="#{zuordnung.getZuordnungForDerivat(derivat).zakUebertragungSuccessful ? 'statusGrau' : 'statusRot'} "/>
                                        <p:tooltip showDelay="500"  for="zakStatusLabel" position="top" value="#{zuordnung.getZuordnungForDerivat(derivat).zakStatusTooltip}" />
                                    </p:column>
                                    <p:column rowspan="1" style="background-color: transparent; width: 66px">
                                        <p:outputLabel id="zeitpunktZuordnungLabel"
                                                       value="#{zuordnung.getZuordnungForDerivat(derivat).zeitpunktZuordnung}"
                                                       rendered="#{zuordnung.getZuordnungForDerivat(derivat).zeitpunktZuordnungRendered}"
                                                       class="statusBlau"/>
                                        <p:tooltip showDelay="500"  for="zeitpunktZuordnungLabel" position="top" value="#{msg.zuordnung_zeitpunkt_zuordnung}" />
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:outputPanel>
                    </p:columns>
                </p:dataTable>
            </h:form>
        </div>
    </cc:implementation>
</html>
