<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:filter="http://xmlns.jcp.org/jsf/composite/filter"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="filterController" type="de.interfaceag.bmw.pzbk.zuordnung.ZuordnungFilter"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:form id="zuordnungFilterForm" class="h-100">

            <p:remoteCommand name="filter" process="@form"
                             action="#{cc.attrs.filterController.filter()}" />

            <p:panel class="filter-wrapper">
                <p:commandButton ajax="false"
                                 id="kovaPhasenFilterResetButton"
                                 class="resetButton"
                                 value="Reset"
                                 action="#{cc.attrs.filterController.reset()}"/>
                <p:tooltip showDelay="500"  for="kovaPhasenFilterResetButton" position="bottom" value="#{msg.tooltipp_zuordnung_filter_resetButton}" />

                <div class="filter-header">
                    <p:outputLabel value="#{msg.quickfilter}" />
                </div>

                <p:panelGrid columns="1" class="filter-grid w-100" columnClasses="filter-element">

                    <filter:genericBooleanButton id="inProzessbaukastenFilter" 
                                                 searchFilter="#{cc.attrs.filterController.filter.inProzessbaukastenFilter}" 
                                                 offLabel="#{msg.searchFilter_in_prozessbaukasten_off}"/>
                    
                    <filter:genericBooleanButton id="notInProzessbaukastenFilter" 
                                                 searchFilter="#{cc.attrs.filterController.filter.notInProzessbaukastenFilter}" 
                                                 offLabel="#{msg.searchFilter_not_in_prozessbaukasten_off}"/>


                    <filter:genericInputFilter id="anforderungFilter"
                                               showTypeLabel="#{false}"
                                               headerLabel="#{msg.anforderung}"
                                               filter="filter()"
                                               searchFilter="#{cc.attrs.filterController.filter.anforderungFilter}" />

                    <filter:genericInputFilter id="beschreibungFilter"
                                               showTypeLabel="#{false}"
                                               headerLabel="#{msg.beschreibung}"
                                               filter="filter()"
                                               searchFilter="#{cc.attrs.filterController.filter.beschreibungFilter}" />

                    <filter:genericFilter id="sensorCocFilter"
                                          showTypeLabel="#{false}"
                                          headerLabel="#{msg.sensorCoc}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{cc.attrs.filterController.filter.sensorCocFilter}" />

                    <filter:genericFilter id="prozessbaukastenFilter"
                                          showTypeLabel="#{false}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{cc.attrs.filterController.filter.prozessbaukastenFilter}" />

                    <filter:genericFilter id="themenklammerFilter"
                                          showTypeLabel="#{false}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{cc.attrs.filterController.filter.themenklammerFilter}" />

                    <filter:genericFilter id="festgestelltInilter"
                                          showTypeLabel="#{false}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{cc.attrs.filterController.filter.festgestelltInFilter}" />

                    <filter:genericFilter id="phasenrelevanzFilter"
                                          showTypeLabel="#{false}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{cc.attrs.filterController.filter.phasenrelevanzFilter}" />

                    <filter:genericDateFilter id="freigegebenSeitFilter"
                                              filter="filter()"
                                              searchFilter="#{cc.attrs.filterController.filter.freigegebenSeitFilter}" />

                    <ui:repeat value="#{cc.attrs.filterController.filter.derivatVereinbarungStatusFilter}"
                               var="derivatZuordnungStatusFilter" >

                        <filter:derivatZuordnungStatusFilter id="derivatZuordnungStatusFilter"
                                                             appendButtonFunction="appendAnwendenButton();"
                                                             zuordnungStatusFilter="#{derivatZuordnungStatusFilter}"
                                                             />

                    </ui:repeat>
                </p:panelGrid>
            </p:panel>
        </h:form>
    </cc:implementation>
</ui:composition>
