<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite"
        xmlns:automatischZuordnenDialog="http://xmlns.jcp.org/jsf/composite/zuordnung">
    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="navbar" type="de.interfaceag.bmw.pzbk.zuordnung.ZuordnungNavbar"/>
    </cc:interface>


    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:growl id="growl" sticky="false" severity="error" showDetail="true"/>
        <p:outputPanel id="zuordnungNav" class="inline-table">
            <h:form id="changePhaseForm">

                <p:remoteCommand name="zuordnungDerivateSearch"
                                 action="#{cc.attrs.navbar.updateDerivatList()}"/>

                <div class="buttons-wrapper" style="display: flex;
                     align-items: center;
                     justify-content: space-between;">
                    <div style="display: flex">
                        <p:commandLink onclick="redirectBack()" class="d-iflex" id="zuordnungBackBtn">
                            <img alt=""
                                 src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_arrow_back.png"
                                 class="glass"/>
                        </p:commandLink>
                        <p:tooltip showDelay="500" for="zuordnungBackBtn" value="#{msg.zurueck}"
                                   showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                                   trackMouse="true" position="none"/>
                        <p:selectCheckboxMenu id="filterDerivate"
                                              class="contentNavSelectCheckbox"
                                              value="#{cc.attrs.navbar.filteredDerivate}"
                                              label="#{msg.derivate}"
                                              filter="true"
                                              rendered="#{!cc.attrs.navbar.derivate.isEmpty()}"
                                              filterMatchMode="contains"
                                              onShow="appendZuordnungDerivateButton();"
                                              panelStyleClass="filterStatusMeldungPanel filterPanel"
                                              converter="#{cc.attrs.navbar.derivatConverter}">
                            <f:selectItems value="#{cc.attrs.navbar.derivate}"
                                           class="whiteCheckbox"
                                           var="derivat"
                                           itemValue="#{derivat}"
                                           itemLabel="#{derivat.produktlinie} | #{derivat.name}"/>
                        </p:selectCheckboxMenu>
                        <p:outputLabel id="anzahlErgebnisse" class="headline d-iflex anfoListTextlabel"
                                       style="margin-top: 0px;"
                                       value="#{cc.attrs.navbar.numberOfResults} #{msg.ergebnisse}"/>
                        <p:tooltip showDelay="500" for="anzahlErgebnisse" position="bottom"
                                   value="#{msg.tooltipp_zuordnung_navComp_ErgebnisAnzeige}"/>
                    </div>

                    <div style="display: flex; align-items: center">
                        <p:growl id="growl" sticky="false" severity="info" showDetail="true"/>
                        <p:commandButton id="automaticZuordnenButton"
                                         value="automatisch zuordnen"
                                         class="d-iflex"
                                         action="#{cc.attrs.navbar.automatischZuordnen()}"
                                         update="zuordnungNavBar:zuordnungNav"
                                         disabled="#{!cc.attrs.navbar.isOnlyOneDerivatFiltered()}"
                                         rendered="#{cc.attrs.navbar.viewPermission.automaticAssignment}">
                        </p:commandButton>
                        <p:commandButton id="toggleZuordnenButton"
                                         value="#{msg.zuordnen}"
                                         class="d-iflex"
                                         action="#{cc.attrs.navbar.toggleZuordnenMode()}"
                                         update="zuordnungNavBar:zuordnungNav"
                                         rendered="#{cc.attrs.navbar.viewPermission.editButton}">
                        </p:commandButton>
                        <p:tooltip showDelay="500" for="toggleZuordnenButton" position="bottom"
                                   value="#{msg.tooltipp_zuordnung_navComp_zuordnenButton}"/>
                        <p:commandButton id="toggleZakButton"
                                         value="#{msg.nachZak}"
                                         class="d-iflex"
                                         action="#{cc.attrs.navbar.toggleZakMode()}"
                                         update="zuordnungNavBar:zuordnungNav"
                                         rendered="#{cc.attrs.navbar.viewPermission.zakButton}">
                        </p:commandButton>
                        <p:tooltip showDelay="500" for="toggleZakButton" position="bottom"
                                   value="#{msg.tooltipp_zuordnung_navComp_nachZakButton}"/>
                        <p:commandLink id="processButton"
                                       class="d-iflex"
                                       action="#{cc.attrs.navbar.process()}"
                                       rendered="#{cc.attrs.navbar.viewPermission.processChangesButton}">
                            <img alt=""
                                 src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_save.png"
                                 title="#{msg.speichern}" class="glass"/>
                        </p:commandLink>
                        <p:commandLink id="cancelButton"
                                       class="d-iflex"
                                       action="#{cc.attrs.navbar.cancel()}"
                                       rendered="#{cc.attrs.navbar.viewPermission.cancelButton}">
                            <img alt=""
                                 src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_cancel.png"
                                 title="#{msg.verwerfen}" class="glass"/>
                        </p:commandLink>
                    </div>
                </div>
            </h:form>
        </p:outputPanel>

        <h:form id="automatischZuordnenDialogForm">
            <p:dialog id="automatischZuordnenDialog"
                      dynamic="true"
                      header="#{msg.automatic_zuordnung_dialog_header}"
                      widgetVar="automatischZuordnenDialog"
                      modal="false"
                      closable="true"
                      resizable="false"
                      styleClass="customDialog"
                      width="600"
                      onHide="refreshTable();">
                <automatischZuordnenDialog:automatischZuordnenDialog id="automatischZuordnenDialogContent"
                                                                     automaticZuordnung="#{cc.attrs.navbar.automaticZuordnenDialogViewData}"/>
            </p:dialog>

            <p:remoteCommand name="refreshTable" action="#{cc.attrs.navbar.reloadPage()}" partialSubmit="true"
                             process="@this"/>
        </h:form>

    </cc:implementation>
</ui:composition>

