<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core">

<!-- INTERFACE -->
<cc:interface>
    <cc:attribute required="true" name="prozessbaukastenlabel"
                  type="de.interfaceag.bmw.pzbk.prozessbaukasten.dto.ProzessbaukastenLabelDto"/>
</cc:interface>

<!-- IMPLEMENTATION -->
<cc:implementation>

    <p:link id="prozessbaukastenLabel" value="#{cc.attrs.prozessbaukastenlabel.labelString}" class="statusBlau"
            outcome="prozessbaukastenView" target="_blank" style="color: white; text-decoration: none">
        <f:param name="fachId" value="#{cc.attrs.prozessbaukastenlabel.fachId}" />
        <f:param name="version" value="#{cc.attrs.prozessbaukastenlabel.version}" />
        <f:param name="faces-redirect" value="true" />
    </p:link>
    <p:tooltip showDelay="500" for="prozessbaukastenLabel"
               position="top"
               value="#{msg.zuordnung_in_prozessbaukasten}"/>

</cc:implementation>
</html>
