
/*
    the style file includes all styles for the berechtigung flow, files are
        - berechtigungContent.xhtml
        - berechtigungWaehlenContent.xhtml
        - endpageContent.xhtml
        - summaryContent.xhtml
.*/

.content-berechtigung-description{
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
}

.content-choose-role {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.berechtigung-header {
    background: linear-gradient(to right,rgba(33, 150, 243, 0.3), rgba(148, 148, 148, 0.3));
    padding: .5em .5em .5em 2.2em;
    font-size: 1.2em;
    padding-left: 20px;
}

.berechtigung-content {
    padding: 20px;
}

.berechtigung-content-choose {
    padding: 20px;
    display: flex;
}

.berechtigung-content-datenschutz {
    padding: 20px;
}

.berechtigung-accordion-panel-choose {
    width: 400px;
}

.padding-left {
    padding-left: 20px;
}

.berechtigung-accordion-panel-container {
    padding-bottom: 20px;
}

td {
    display: flex;
    word-break: inherit;
}

.berechtigung-accordion-panel {
    max-height: 600px;
    overflow: scroll;
}

.datenschutz-checkbox-container {
    display: flex;
}

.datenschutz-checkbox-container-description {
    padding-left: 10px;
}

.footer {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.footer-berechtigung-waehlen {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

/* override from main.css */
.ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default.ui-state-active > span {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_616161_256x240.png.xhtml?ln=primefaces-aristo") !important;
}

.ui-accordion-content.ui-helper-reset.ui-widget-content {
    max-height: 380px !important;
}





