.message {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.1);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-top: 5px;
    border: 1px solid white;
    padding-bottom: 5vh;
}

.message > .error-header {
    background: linear-gradient(to right, rgba(33, 150, 243, 0.3), rgba(148, 148, 148, 0.3));
    width: 100%;
    height: 5vh;
    margin-bottom: 3vh;
}

.message label {
    padding: 5px;
    font-weight: bold;
    line-height: 1em;
    color: white;
    font-size: 2em;
}

@supports (--css:variables) {
    .message > .error-header{
        background-color: var(--blue_5189cd_07);
    }
}