<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite"
    xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="name" />
        <cc:attribute required="true" name="uid" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <div class="dashboardImageWrapper">
            <h:graphicImage class="dashboardImage" 
                            name="#{cc.attrs.name}" 
                            id="#{cc.attrs.uid}" />  
        </div>
    </cc:implementation>
</ui:composition>
