<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite"
        xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="value" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <div class="dashboardItemTitleWrapper"> 
            <h:outputText class="dashboardItemTitle" value="#{cc.attrs.value}" />
        </div>

    </cc:implementation>
</ui:composition>
