<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:reportingComponents="http://xmlns.jcp.org/jsf/composite/reportingComponents">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="keyFigures" type="de.interfaceag.bmw.pzbk.reporting.fachteam.FachteamKeyFigures" />        
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:outputStylesheet library="css" name="reporting/reportingFachteamTable.css" />

        <div class="reporting-legend-layout-container">
            <div class="row ui-g-12">
                <div class="ui-g-4 reportingSensorCocTabelle">

                </div>

                <div class="ui-g-8 reportingFachteamTable">
                    <div class="reportingFachteamTableHead">
                        <span class="reportingFachteamTableHeadText">Fachteam</span>
                    </div>
                </div>
            </div>

            <div class="row ui-g-12 fachteam-table-container">
                <div class="ui-g-4 reportingSensorCocTabelle">
                    <p:dataTable  value="#{cc.attrs.keyFigures.keyFigures}" 
                                  var="keyFigure" 
                                  emptyMessage="Bitte SensorCoc im Filter auswählen!"
                                  rowKey="#{keyFigure.sensorCocId}"
                                  class="ui-datatable ui-widget glass-table no-hover no-header">

                        <p:column>
                            <h:outputLabel value="#{keyFigure.sensorCocDisplayName}" />
                        </p:column>
                    </p:dataTable>
                </div>

                <div class="ui-g-8 reportingFachteamTable">
                    <p:dataTable value="#{cc.attrs.keyFigures.keyFigures}" 
                                 var="keyFigure" 
                                 emptyMessage="Bitte SensorCoc im Filter auswählen!"
                                 rowKey="#{keyFigure.sensorCocId}"
                                 class="ui-datatable ui-widget glass-table no-hover">

                        <p:column headerText="" id="reportingTableHeadEingang" class="reportingTableHeadIcon reportingTableHeadIconEingang">
                            <f:facet name="header"><p:tooltip for="reportingTableHeadEingang" position="top" value="Eingang" /></f:facet>
                            <h:outputLabel value="#{keyFigure.getKeyFigureByTypeId(3).value}" />
                        </p:column>

                        <p:column  headerText="" id="reportingTableHeadBearbeitung" class="reportingTableHeadIcon reportingTableHeadIconBearbeitung">
                            <f:facet name="header"><p:tooltip for="reportingTableHeadBearbeitung" position="top" value="in Bearbeitung" /></f:facet>
                            <h:outputLabel value="#{keyFigure.getKeyFigureByTypeId(5).value}" />
                        </p:column>

                        <p:column  headerText="" id="reportingTableHeadAusgang" class="reportingTableHeadIcon reportingTableHeadIconAusgang">
                            <f:facet name="header"><p:tooltip for="reportingTableHeadAusgang" position="top" value="Ausgang" /></f:facet>
                            <h:outputLabel value="#{keyFigure.getKeyFigureByTypeId(6).value}" />
                        </p:column>

                        <p:column  headerText="" id="reportingTableHeadTrash" class="reportingTableHeadIcon reportingTableHeadIconTrash">
                            <f:facet name="header"><p:tooltip for="reportingTableHeadTrash" position="top" value="Gelöscht" /></f:facet>
                            <h:outputLabel value="#{keyFigure.getKeyFigureByTypeId(8).value}" />
                        </p:column>

                        <p:column  headerText="" id="reportingTableHeadDurchschLaufzeit" class="reportingTableHeadIcon reportingTableHeadIconDurchschLaufzeit">
                            <f:facet name="header"><p:tooltip for="reportingTableHeadDurchschLaufzeit" position="top" value="Durchschnittliche Druchlaufzeit (Tage)" /></f:facet>
                            <h:outputLabel value="#{keyFigure.durchlaufzeit}" />
                        </p:column>

                        <p:column  headerText="" id="reportingTableHeadLanglaufer" class="reportingTableHeadIcon reportingTableHeadIconLanglaufer">
                            <f:facet name="header"><p:tooltip for="reportingTableHeadLanglaufer" position="top" value="Nicht bearbeitet seit 40 Arbeitstagen (Anzahl)" /></f:facet>
                            <h:outputLabel value="#{keyFigure.langlauferCount}" />
                        </p:column>

                        <p:column  headerText="" id="reportingTableHeadFreigegeben" class="reportingTableHeadIcon reportingTableHeadIconFreigegeben">
                            <f:facet name="header"><p:tooltip for="reportingTableHeadFreigegeben" position="top" value="Freigegebene Anforderungen" /></f:facet>
                            <h:outputLabel value="#{keyFigure.getKeyFigureByTypeId(24).value}" />
                        </p:column>                       
                    </p:dataTable>                   
                </div>
            </div>
        </div>

        <div class="reporting-fachteam-content_width">
            <reportingComponents:reporting_tteam_fachteam_legend></reportingComponents:reporting_tteam_fachteam_legend>
        </div>

    </cc:implementation>
</ui:composition>
