<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite"
>

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="infotextController" type="de.interfaceag.bmw.pzbk.controller.InfotextController"/>
        <cc:attribute required="true" name="infoToShow" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <p:commandLink ajax="true" async="true" actionListener="#{cc.attrs.infotextController.showInfoTextDialog(cc.attrs.infoToShow)}">
            <span class="fa fa-info-circle op-80"/>
        </p:commandLink>

    </cc:implementation>
</ui:composition>
