<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite"
        xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="keyFigure" type="de.interfaceag.bmw.pzbk.reporting.keyfigures.KeyFigure" />
        <cc:attribute required="true" name="x" />
        <cc:attribute required="true" name="y" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <rect width="40" height="40" x="#{cc.attrs.x}" y="#{cc.attrs.y}" 
              style="fill: rgba(55, 102, 161, 0.3); stroke: #5189CD; stroke-width: 2" />
        <text x="#{cc.attrs.x + 20}" y="#{cc.attrs.y + 24}" fill="white" text-anchor="middle">      
            <h:link outcome="anforderungList" 
                    value="#{cc.attrs.keyFigure.value} " >
                <f:param name="aId" value="#{cc.attrs.keyFigure.anforderungIdsAsString}" />
                <f:param name="mId" value="#{cc.attrs.keyFigure.meldungIdsAsString}" />
            </h:link>
        </text>

    </cc:implementation>
</ui:composition>
