<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite" xmlns:h="http://xmlns.jcp.org/jsf/html">

<cc:interface>
</cc:interface>

<cc:implementation>
    <h:outputStylesheet library="css" name="reporting/permissionDenied.css" />

    <div class="p-20 permission-denied">
        #{msg.keinZugriff}
    </div>
</cc:implementation>
</html>
