<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:pzbk="http://java.sun.com/jsf/de/interfaceag/bmw/pzbk/reporting"
        xmlns:reportingComponents="http://xmlns.jcp.org/jsf/composite/reportingComponents">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="processOverviewController"
                      type="de.interfaceag.bmw.pzbk.reporting.processoverview.ReportingProcessOverviewController"/>
        <cc:attribute required="true" name="keyFigures"
                      type="de.interfaceag.bmw.pzbk.reporting.processoverview.ProcessOverviewKeyFigures"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <reportingComponents:reportingHinweis periodGetter="#{cc.attrs.processOverviewController.viewData}"/>


        <pzbk:SVGProcessOverviewDetail processOverviewController="#{cc.attrs.processOverviewController}"/>


        <div onclick="hideToolTipPanel();" id="tooltipWrapper" style="z-index: -1">
            <div id="tooltipHeader">
                Tooltip
                <span class="ui-icon ui-icon-closethick tooltip-closethick" onclick="hideToolTipPanel();"></span>
            </div>
            <p:outputPanel id="tooltipPanel"
                           class="tooltip-panel"
            >
                <h:outputText id="tooltipText" escape="false"
                              value="#{cc.attrs.processOverviewController.infoText}"></h:outputText>
            </p:outputPanel>

        </div>

    </cc:implementation>
</ui:composition>
