<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite"
        xmlns:p="http://primefaces.org/ui"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:pzbk="http://java.sun.com/jsf/de/interfaceag/bmw/pzbk/reporting"
        xmlns:reportingComponents="http://xmlns.jcp.org/jsf/composite/reportingComponents"
>


    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="processOverviewController" type="de.interfaceag.bmw.pzbk.reporting.processoverview.ReportingProcessOverviewSimpleController"/>
        <cc:attribute required="true" name="infotextController" type="de.interfaceag.bmw.pzbk.controller.InfotextController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <reportingComponents:reportingHinweis periodGetter="#{cc.attrs.processOverviewController.viewData}"/>

        <pzbk:SVGProcessOverviewSimple processOverviewController="#{cc.attrs.processOverviewController}"/> 

        <div onclick="hideToolTipPanelSimple();" id="tooltipWrapper" style="position: absolute; top: 100px; right: 10px; z-index: -1">
            <div id="tooltipHeader" style="position: absolute; visibility: hidden; background-color: wheat; width: 450px; top: -30px; height: 30px; ">
                Tooltip 
                <span class="ui-icon ui-icon-closethick" onclick="hideToolTipPanelSimple();" style="cursor: pointer; position: absolute; top: 5px; right: 15px"></span>
            </div>
            <p:outputPanel id="tooltipPanel" 
                           style="background-color: white; visibility: hidden; height: 800px; width: 450px" 
                           >
                <h:outputText id="tooltipText" escape="false" 
                              value="#{cc.attrs.processOverviewController.infoText}"></h:outputText>
            </p:outputPanel>
        </div>

    </cc:implementation>
</ui:composition>
