<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:reportingComponents="http://xmlns.jcp.org/jsf/composite/reportingComponents">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="projektReportingDashboardController" type="de.interfaceag.bmw.pzbk.reporting.projekt.dashboard.ProjektReportingDashboardController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <div class="p-20">
            <h:form id="zuordnungForm">
                <div class="reportingDashboardWrapper" >
                    <div class="ui-g">
                        <div class="ui-g-6">
                            <h:outputLink class="reportingDashboardItemLink dashboardImageGrob" value="#{projektReportingDashboardController.projectProcessUrl}" >
                                <reportingComponents:dashboardItemImage name="images/draft/ProjReporting-dunkel-ProjAnsicht-icon.png" uid="reportsimple"  />
                                <reportingComponents:dashboardItemTitle value="#{msg.reporting_dashboard_rechts_Projektansicht}" />

                            </h:outputLink>
                        </div>
                        <div class="ui-g-6">
                            <h:outputLink class="reportingDashboardItemLink dashboardImageFachteam" value="#{projektReportingDashboardController.statusabgleichUrl}" >
                                <reportingComponents:dashboardItemImage name="images/draft/ProjReporting-dunkel-StatAbgleich-icon.png" uid="reportfachteam" />
                                <reportingComponents:dashboardItemTitle value="#{msg.reporting_dashboard_rechts_Statusabgleich}" />
                            </h:outputLink>
                        </div>
                    </div>
                </div>
            </h:form>
        </div>
    </cc:implementation>
</html>
