<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite"
>

    <cc:interface>
        <cc:attribute required="true" name="periodGetter"
                      type="de.interfaceag.bmw.pzbk.reporting.ReportingPeriodGetter"/>
    </cc:interface>

    <cc:implementation>

        <p:outputLabel id="hinweisLabel" class="reportingZeitraum"
                       value="#{msg.reporting_hinweis}: #{cc.attrs.periodGetter.reportingPeriod}" />

    </cc:implementation>
</ui:composition>
