<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:reportingComponents="http://xmlns.jcp.org/jsf/composite/reportingComponents">

<!-- INTERFACE -->
<cc:interface>
    <cc:attribute required="true" name="reportingTteamController"
                  type="de.interfaceag.bmw.pzbk.reporting.tteam.ReportingTteamController"/>
</cc:interface>

<!-- IMPLEMENTATION -->
<cc:implementation>
    <div class="p-60">
        <h:form id="zuordnungForm">
            <p:growl id="growl" sticky="false" severity="info" showDetail="true"/>

            <div class="row reportingSensorCocTabelle">
                <reportingComponents:reportingHinweis periodGetter="#{cc.attrs.reportingTteamController.viewData}"/>
            </div>
            <reportingComponents:tteamTabelle
                    rendered="#{cc.attrs.reportingTteamController.viewPermission.tteamListView}"
                    id="tteamTabelle"
                    keyFigures="#{cc.attrs.reportingTteamController.viewData.tteamKeyFigures}"/>
            <reportingComponents:permissionDenied id="permissionDenied"
                                                  rendered="#{!cc.attrs.reportingTteamController.viewPermission.tteamListView}"/>
        </h:form>
    </div>
</cc:implementation>
</html>
