<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:reportingComponents="http://xmlns.jcp.org/jsf/composite/reportingComponents">

<!-- INTERFACE -->
<cc:interface>
    <cc:attribute required="true" name="reportingDashboardController"
                  type="de.interfaceag.bmw.pzbk.reporting.dashboard.ReportingDashboardController"/>
</cc:interface>

<!-- IMPLEMENTATION -->
<cc:implementation>
    <div class="p-20">
        <h:form id="zuordnungForm">
            <div class="reportingDashboardWrapper">
                <div class="ui-g">
                    <div class="ui-g-6">
                        <h:outputLink class="reportingDashboardItemLink dashboardImageGrob"
                                      value="#{reportingDashboardController.reportingProcessOverviewSimpleUrl}">
                            <reportingComponents:dashboardItemImage name="images/draft/reportgrob.png"
                                                                    uid="reportsimple"/>
                            <reportingComponents:dashboardItemTitle value="#{msg.reporting_dashboard_simple_titel}"/>

                        </h:outputLink>
                    </div>
                    <div class="ui-g-6">
                        <h:outputLink class="reportingDashboardItemLink dashboardImageDetail"
                                      value="#{reportingDashboardController.reportingProcessOverviewDetailUrl}">
                            <reportingComponents:dashboardItemImage name="images/draft/reportdetail.png"
                                                                    uid="reportdetail"/>
                            <reportingComponents:dashboardItemTitle value="#{msg.reporting_dashboard_detail_titel}"/>

                        </h:outputLink>
                    </div>
                    <div class="ui-g-6">
                        <h:outputLink class="reportingDashboardItemLink dashboardImageFachteam"
                                      rendered="#{reportingDashboardController.viewPermission.technologieListView}"
                                      value="#{reportingDashboardController.reportingFachteamUrl}">
                            <reportingComponents:dashboardItemImage name="images/draft/reportfachteam.png"
                                                                    uid="reportfachteam"/>
                            <reportingComponents:dashboardItemTitle value="#{msg.reporitng_dashboard_fachteam_titel}"/>
                        </h:outputLink>
                    </div>
                    <div class="ui-g-6">
                        <h:outputLink class="reportingDashboardItemLink dashboardImageTteam"
                                      rendered="#{reportingDashboardController.viewPermission.tteamListView}"
                                      value="#{reportingDashboardController.reportingTteamUrl}">
                            <reportingComponents:dashboardItemImage name="images/draft/reporttteam.png"
                                                                    uid="reporttteam"/>
                            <reportingComponents:dashboardItemTitle value="#{msg.reporting_dashboard_tteam_titel}"/>

                        </h:outputLink>
                    </div>
                </div>
            </div>
        </h:form>
    </div>
</cc:implementation>
</html>
