<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite" xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:outputStylesheet library="css" name="reporting/reportingTableLegend.css" />

        <div>
            <div class="reporting-legend-container">
                <div class="reporting-legend-icon-container">
                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/ssa-prozess/icon-eingang.png" class="glass"/>
                    <div>#{msg.reporting_fachteam_legend_entry}</div>
                </div>

                <div class="reporting-legend-icon-container">
                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/ssa-prozess/icon-in-bearbeitung.png" class="glass"/>
                    <div>#{msg.reporting_fachteam_legend_in_processing}</div>
                </div>

                <div class="reporting-legend-icon-container">
                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/ssa-prozess/icon-ausgang.png" class="glass"/>
                    <div>#{msg.reporting_fachteam_legend_exit}</div>
                </div>

                <div class="reporting-legend-icon-container">
                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/ssa-prozess/icon-trash.png" class="glass"/>
                    <div>#{msg.reporting_fachteam_legend_trash}
                        <br>#{msg.reporting_fachteam_legend_deleted}</br>
                    </div>
                </div>

                <div class="reporting-legend-icon-container">
                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/ssa-prozess/icon-uhr.png" class="glass"/>
                    <div>#{msg.reporting_fachteam_legend_average}
                        <br>#{msg.reporting_fachteam_legend_throughput_time}</br>
                        #{msg.reporting_fachteam_legend_days}
                    </div>
                </div>

                <div class="reporting-legend-icon-container">
                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/ssa-prozess/icon-langlaufer.png" class="glass"/>
                    <div>#{msg.reporting_fachteam_legend_not_edited_since}
                        <br>#{msg.reporting_fachteam_legend_working_days}</br>
                        #{msg.reporting_fachteam_legend_count}
                    </div>
                </div>

                <div class="reporting-legend-icon-container">
                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_check.png" class="glass"/>
                    <div>#{msg.reporting_fachteam_release}
                        <br>#{msg.reporting_fachteam_requirements}</br>
                    </div>
                </div>
            </div>
        </div>

    </cc:implementation>
</ui:composition>
