<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:filter="http://xmlns.jcp.org/jsf/composite/filter"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="reportingFilterController" type="de.interfaceag.bmw.pzbk.reporting.ReportingFilterController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:outputStylesheet library="css" name="reporting/reportingFilter.css" />

        <h:form id="filterForm" class="h-100">

            <p:remoteCommand name="filter" process="@form"
                             action="#{cc.attrs.reportingFilterController.filter()}" />

            <p:panel class="filter-wrapper">
                <p:commandButton ajax="false"
                                 id="kovaPhasenFilterResetButton"
                                 class="resetButton"
                                 value="Reset"
                                 action="#{cc.attrs.reportingFilterController.reset()}"/>
                <p:tooltip showDelay="500"  for="kovaPhasenFilterResetButton" position="bottom" value="#{msg.tooltipp_zuordnung_filter_resetButton}" />

                <p:panelGrid columns="1" class="filter-grid w-100" columnClasses="filter-element">

                    <filter:filterHeader label="#{msg.filter}" smallTopMargin="#{false}"/>


                    <p:commandButton ajax="false"
                                     id="toggleTooltipsButton"
                                     value="#{msg.reporting_toggle_tooltips}"
                                     class="resetButton quickFilter doubleHeightButton"
                                     action="#{cc.attrs.reportingFilterController.toggleTooltips()}"/>

                    <filter:filterHeader label="#{msg.reporting_auswertungszeitraum}" smallTopMargin="#{false}"/>

                    <filter:genericFilter id="sensorcocFilter"
                                          showTypeLabel="#{false}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          rendered="#{cc.attrs.reportingFilterController.filterViewPermission.sensorCocFilter}"
                                          searchFilter="#{cc.attrs.reportingFilterController.filter.sensorCocFilter}" />

                    <filter:genericFilter id="technologieFilter"
                                          showTypeLabel="#{false}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          rendered="#{cc.attrs.reportingFilterController.filterViewPermission.technologieFilter}"
                                          searchFilter="#{cc.attrs.reportingFilterController.filter.technologieFilter}" />

                    <filter:genericFilter id="werkFilter"
                                          showTypeLabel="#{false}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          rendered="#{cc.attrs.reportingFilterController.filterViewPermission.werkFilter}"
                                          searchFilter="#{cc.attrs.reportingFilterController.filter.werkFilter}" />

                    <filter:genericFilter id="derivatFilter"
                                          showTypeLabel="#{false}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          rendered="#{cc.attrs.reportingFilterController.filterViewPermission.derivatFilter}"
                                          searchFilter="#{cc.attrs.reportingFilterController.filter.derivatFilter}" />

                    <filter:genericFilter id="tteamFilter"
                                          showTypeLabel="#{false}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          rendered="#{cc.attrs.reportingFilterController.filterViewPermission.tteamFilter}"
                                          searchFilter="#{cc.attrs.reportingFilterController.filter.tteamFilter}" />

                    <filter:genericDateFilter id="vonDateFilter"
                                              filter="filter()"
                                              mindate="#{cc.attrs.reportingFilterController.minDate}"
                                              maxdate="#{cc.attrs.reportingFilterController.maxDate}"
                                              rendered="#{cc.attrs.reportingFilterController.filterViewPermission.dateFilter}"
                                              searchFilter="#{cc.attrs.reportingFilterController.filter.vonDateFilter}" />

                    <filter:genericDateFilter id="bisDateFilter"
                                              filter="filter()"
                                              mindate="#{cc.attrs.reportingFilterController.minDate}"
                                              maxdate="#{cc.attrs.reportingFilterController.maxDate}"
                                              rendered="#{cc.attrs.reportingFilterController.filterViewPermission.dateFilter}"
                                              searchFilter="#{cc.attrs.reportingFilterController.filter.bisDateFilter}" />

                </p:panelGrid>
            </p:panel>
        </h:form>
    </cc:implementation>
</ui:composition>
