<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:reportingComponents="http://xmlns.jcp.org/jsf/composite/reportingComponents">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="processOverviewController" type="de.interfaceag.bmw.pzbk.reporting.processoverview.ReportingProcessOverviewSimpleController"/>
        <cc:attribute required="true" name="infotextController" type="de.interfaceag.bmw.pzbk.controller.InfotextController"/>

    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <div class="p-20">  

            <p:growl id="growl" sticky="false" severity="info" showDetail="true" /> 

            <reportingComponents:processOverviewSimple 
                id="processOverviewSimple"    
                infotextController="#{cc.attrs.infotextController}"
                processOverviewController = "#{cc.attrs.processOverviewController}"/>
            <h:commandLink id="excelExportCommandLink" 
                           style="visibility: hidden;" 
                           actionListener="#{cc.attrs.processOverviewController.downloadExcelExport()}">
                <p:outputLabel value="#{msg.excelExport}" />
            </h:commandLink>

        </div>
    </cc:implementation>
</html>
