<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:reportingComponents="http://xmlns.jcp.org/jsf/composite/reportingComponents">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="processOverviewController" type="de.interfaceag.bmw.pzbk.reporting.processoverview.ReportingProcessOverviewController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <div class="p-20">  

            <p:growl id="growl" sticky="true" severity="info, warn" showDetail="true" /> 

            <reportingComponents:processOverviewDetail 
                id="processOverviewDetail"
                processOverviewController="#{cc.attrs.processOverviewController}"
                keyFigures="#{cc.attrs.processOverviewController.viewData.processOverviewKeyFigures}" />


        </div>
    </cc:implementation>
</html>
