<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite"
        xmlns:p="http://primefaces.org/ui"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:reportingComponents="http://xmlns.jcp.org/jsf/composite/reportingComponents">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="keyFigures" type="de.interfaceag.bmw.pzbk.reporting.tteam.TteamKeyFigures"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:outputStylesheet library="css" name="reporting/reportingTteamTable.css"/>

        <div class="reportingTteam">
            <div class="row ui-g-12">
                <div class="ui-g-4 reportingSensorCocTabelle">

                </div>

                <div class="ui-g-8 reportingTteamTable">
                    <div class="reportingTteamTableHead">
                        <span class="reportingFachteamTableHeadText">#{msg.tteam}</span>
                    </div>
                </div>
                <div class="ui-g-8 reportingCocTable">
                    <div class="reportingCocTableHead">
                        <span class="reportingFachteamTableHeadText">#{msg.reporting_tteam_vereinbarung_header}</span>
                    </div>
                </div>
            </div>

            <div class="row ui-g-12">
                <div class="ui-g-4 reportingSensorCocTabelle">
                    <p:dataTable value="#{cc.attrs.keyFigures.keyFigures}"
                                 var="keyFigure"
                                 emptyMessage=""
                                 rowKey="#{keyFigure.tteamId}"
                                 class="ui-datatable ui-widget glass-table no-hover no-header">

                        <p:column>
                            <h:outputLabel value="#{keyFigure.tteamName}"/>
                        </p:column>
                    </p:dataTable>
                </div>

                <div class="ui-g-8 reportingTteamTable">
                    <p:dataTable value="#{cc.attrs.keyFigures.keyFigures}"
                                 var="keyFigure"
                                 emptyMessage="#{msg.reporting_team_filter_empty}"
                                 rowKey="#{keyFigure.tteamId}"
                                 class="ui-datatable ui-widget glass-table no-hover">

                        <p:column headerText="" id="reportingTableHeadEingang"
                                  class="reportingTableHeadIcon reportingTableHeadIconEingang">
                            <f:facet name="header"><p:tooltip for="reportingTableHeadEingang" position="top"
                                                              value="Eingang"/></f:facet>
                            <h:outputLabel value="#{keyFigure.getKeyFigureByTypeId(7).value}"/>
                        </p:column>

                        <p:column headerText="" id="reportingTableHeadBearbeitung"
                                  class="reportingTableHeadIcon reportingTableHeadIconBearbeitung">
                            <f:facet name="header"><p:tooltip for="reportingTableHeadBearbeitung" position="top"
                                                              value="in Bearbeitung"/></f:facet>
                            <h:outputLabel value="#{keyFigure.getKeyFigureByTypeId(10).value}"/>
                        </p:column>

                        <p:column headerText="" id="reportingTableHeadAusgang"
                                  class="reportingTableHeadIcon reportingTableHeadIconAusgang">
                            <f:facet name="header"><p:tooltip for="reportingTableHeadAusgang" position="top"
                                                              value="Ausgang"/></f:facet>
                            <h:outputLabel value="#{keyFigure.getKeyFigureByTypeId(11).value}"/>
                        </p:column>

                        <p:column headerText="" id="reportingTableHeadTrash"
                                  class="reportingTableHeadIcon reportingTableHeadIconTrash">
                            <f:facet name="header"><p:tooltip for="reportingTableHeadTrash" position="top"
                                                              value="Gelöscht"/></f:facet>
                            <h:outputLabel value="#{keyFigure.getKeyFigureByTypeId(15).value}"/>
                        </p:column>

                        <p:column headerText="" id="reportingTableHeadDurchschLaufzeit"
                                  class="reportingTableHeadIcon reportingTableHeadIconDurchschLaufzeit">
                            <f:facet name="header"><p:tooltip for="reportingTableHeadDurchschLaufzeit" position="top"
                                                              value="Durchschnittliche Druchlaufzeit (Tage)"/></f:facet>
                            <h:outputLabel value="#{keyFigure.tteamDurchlaufzeit}"/>
                        </p:column>

                        <p:column headerText="" id="reportingTableHeadLanglaufer"
                                  class="reportingTableHeadIcon reportingTableHeadIconLanglaufer">
                            <f:facet name="header"><p:tooltip for="reportingTableHeadLanglaufer" position="top"
                                                              value="Nicht bearbeitet seit 40 Arbeitstagen (Anzahl)"/></f:facet>
                            <h:outputLabel value="#{keyFigure.tteamLanglauferCount}"/>
                        </p:column>
                    </p:dataTable>
                </div>

                <div class="ui-g-8 reportingCocTable">
                    <p:dataTable value="#{cc.attrs.keyFigures.keyFigures}"
                                 var="keyFigure"
                                 emptyMessage=""
                                 rowKey="#{keyFigure.tteamId}"
                                 class="ui-datatable ui-widget glass-table no-hover">

                        <p:column headerText="" id="reportingTableHeadPlausibilisiert"
                                  class="reportingTableHeadIcon reportingTableHeadIconEingang">
                            <f:facet name="header"><p:tooltip for="reportingTableHeadPlausibilisiert" position="top"
                                                              value="Eingang"/></f:facet>
                            <h:outputLabel value="#{keyFigure.getKeyFigureByTypeId(12).value}"/>
                        </p:column>
                        <p:column headerText="" id="reportingTableHeadVereinbarungInBearbeitung"
                                  class="reportingTableHeadIcon reportingTableHeadIconBearbeitung">
                            <f:facet name="header"><p:tooltip for="reportingTableHeadVereinbarungInBearbeitung"
                                                              position="top" value="in Bearbeitung"/></f:facet>
                            <h:outputLabel value="#{keyFigure.getKeyFigureByTypeId(14).value}"/>
                        </p:column>
                        <p:column headerText="" id="reportingTableHeadVereinbarungOutput"
                                  class="reportingTableHeadIcon reportingTableHeadIconAusgang">
                            <f:facet name="header"><p:tooltip for="reportingTableHeadVereinbarungOutput" position="top"
                                                              value="Ausgang"/></f:facet>
                            <h:outputLabel value="#{keyFigure.getKeyFigureByTypeId(17).value}"/>
                        </p:column>
                        <p:column headerText="" id="reportingTableHeadVereinbarungTrash"
                                  class="reportingTableHeadIcon reportingTableHeadIconTrash">
                            <f:facet name="header"><p:tooltip for="reportingTableHeadVereinbarungTrash" position="top"
                                                              value="Gelöscht"/></f:facet>
                            <h:outputLabel value="#{keyFigure.getKeyFigureByTypeId(20).value}"/>
                        </p:column>
                        <p:column headerText="" id="reportingTableHeadVereinbarungDurchlaufzeit"
                                  class="reportingTableHeadIcon reportingTableHeadIconDurchschLaufzeit">
                            <f:facet name="header"><p:tooltip for="reportingTableHeadVereinbarungDurchlaufzeit"
                                                              position="top"
                                                              value="Durchschnittliche Druchlaufzeit (Tage)"/></f:facet>
                            <h:outputLabel value="#{keyFigure.vereinbarungDurchlaufzeit}"/>
                        </p:column>
                        <p:column headerText="" id="reportingTableHeadVereinbarungLangläufer"
                                  class="reportingTableHeadIcon reportingTableHeadIconLanglaufer">
                            <f:facet name="header"><p:tooltip for="reportingTableHeadVereinbarungLangläufer"
                                                              position="top"
                                                              value="Nicht bearbeitet seit 40 Arbeitstagen (Anzahl)"/></f:facet>
                            <h:outputLabel value="#{keyFigure.vereinbarungLanglauferCount}"/>
                        </p:column>
                        <p:column headerText="" id="reportingTableHeadVereinbarungFreigegeben"
                                  class="reportingTableHeadIcon reportingTableHeadIconFreigegeben">
                            <f:facet name="header"><p:tooltip for="reportingTableHeadVereinbarungFreigegeben"
                                                              position="top"
                                                              value="Freigegebene Anforderungen"/></f:facet>
                            <h:outputLabel value="#{keyFigure.getKeyFigureByTypeId(19).value}"/>
                        </p:column>
                    </p:dataTable>
                </div>
            </div>
        </div>

        <div class="row ui-g-12 reporting-tteamTable-legend-content-width">
            <reportingComponents:reporting_tteam_fachteam_legend></reportingComponents:reporting_tteam_fachteam_legend>
        </div>

    </cc:implementation>
</ui:composition>
