.anforderung-autocomplete {
    border: 1px solid rgba(55, 102, 161, 0.7);
    border-radius: 3px;
}

.anforderung-autocomplete > input {
    width: auto;
}
.ui-autocomplete-panel.ui-widget-content.ui-corner-all.ui-helper-hidden.ui-shadow.anforderung-autocomplete-panel{
    width: 762px !important;
    max-height: 70% !important;
}

.anforderung-autocomplete-fachid-column {
    min-width: 80px;
}

.ui-datatable tbody tr.ui-widget-content:hover a.anforderungenZuordnenLink,
.ui-datatable tbody tr.ui-widget-content:hover a.anforderungenZuordnenLink.no-hover:hover {
    color: #4f4f4f;
}

.text-align-justify {
    text-align: justify;
}


.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.margin-right-5px {
    margin-right: 5px;
}