.table-state-column-title {
    display: inline-block;
    color: var(--black_000000);
    width: 22px;
    padding-left: 3px;
    position: relative;
    top: -4px;
    left: 2px;
    margin-left: 6px;
}

.comment-icon {
    color: black;
    display: flex;
    align-items: center;
    margin: 0px;
}

/* override from umsetzungsbestaetigung.css*/
.link-bubble-umsetzung {
    margin-left: 0px !important;
    margin-top: 0px !important;
}

/* override for more space in table cell */
.ui-datatable .ui-row-editing .ui-cell-editor .ui-cell-editor-input {
    display: flex;
    justify-content: space-evenly; /* same space start, middle, end */
    padding-top: 5px;
    padding-bottom: 5px;
}

