
.nav-comp-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons-left-container {
    display: flex;
    align-items: center;
}

.buttons-right-container {
    display: flex;
    align-items: center;
}

/** override dirty, but must have*/
.phase {
    margin-left: 0 !important;
    padding-left: 0 !important;
    float: none !important;
}

.phase-container {
    display: flex;
    align-items: center;
}

/*override table header margin*/
.ui-datatable-scrollable-header-box {
    margin-right: 0px !important;
}

.margin-right {
    margin-right: 5px !important;
}


.labelFoundCounter {
    border-radius: 3px;
    margin-left: 4px;
    background: rgba(255, 255, 255, 0.0);
    color: rgba(255, 255, 255, 1);
    padding-left: 3px;
}

.header-comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin-top-5 {
    margin-top: 5px;
}
