<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:prozessbaukasten="http://xmlns.jcp.org/jsf/composite/prozessbaukasten">

<!-- INTERFACE -->
<cc:interface>
    <cc:attribute required="true" name="konzept" type="de.interfaceag.bmw.pzbk.entities.Konzept"/>
    <cc:attribute required="true" name="anhangUploader"
                  type="de.interfaceag.bmw.pzbk.prozessbaukasten.edit.KonzeptAnhangUploader"/>
    <cc:attribute required="true" name="requiredAttributes"
                  type="de.interfaceag.bmw.pzbk.prozessbaukasten.edit.attributes.required.ProzessbaukastenRequiredAttributes"/>
    <cc:attribute required="true" name="addKonzept" method-signature="void f()"/>
</cc:interface>

<!-- IMPLEMENTATION -->
<cc:implementation>

    <h:outputStylesheet library="css" name="prozessbaukasten/addKonzeptDialog.css"/>

    <div class="add-konzept-dialog konzept-wrapper">
        <div class="konzept-content">
            <div class="konzept-header row prozessbaukastenAtrributeRow">
                <div class="prozessbaukastenAttributeLabel requiredAttribute">
                    <p:outputLabel id="konzepBezeichnungInputLabel"
                                   for="konzepBezeichnungInput"
                                   class="requiredAttribute"
                                   value="#{msg.bezeichnung}"/>
                </div>
                <div class="prozessbaukastenAtrributeValue">
                    <p:inputText id="konzepBezeichnungInput"
                                 maxlength="100"
                                 required="#{cc.attrs.requiredAttributes.konzeptBezeichnungRequired}"
                                 requiredMessage="#{msg.prozessbaukasten_edit_bezeichnungRequiredMessage}"
                                 class="inputText konzept-bezeichnung-input"
                                 validatorMessage="#{msg.prozessbaukasten_edit_bezeichnungRequiredMessage}"
                                 value="#{cc.attrs.konzept.bezeichnung}">
                        <f:validateRegex pattern="^(?!\s*$)[\D\d]+"/>
                    </p:inputText>
                </div>
            </div>

            <div class="row prozessbaukastenAtrributeRow">
                <div class="prozessbaukastenAttributeLabel requiredAttribute">
                    <p:outputLabel id="konzeptBeschreibungInputLabel"
                                   for="konzeptBeschreibungInput"
                                   class="requiredAttribute"
                                   value="#{msg.beschreibung}"/>
                </div>
                <div class="prozessbaukastenAtrributeValue">
                    <p:inputTextarea id="konzeptBeschreibungInput"
                                     maxlength="1000"
                                     cols="300"
                                     required="#{cc.attrs.requiredAttributes.konzeptBeschreibungRequired}"
                                     requiredMessage="#{msg.prozessbaukasten_edit_beschreibungRequiredMessage}"
                                     class="inputText konzept-beschreibung-input"
                                     validatorMessage="#{msg.prozessbaukasten_edit_beschreibungRequiredMessage}"
                                     value="#{cc.attrs.konzept.beschreibung}">
                        <f:validateRegex pattern="^(?!\s*$)[\D\d]+"/>
                    </p:inputTextarea>
                </div>
            </div>

            <p:outputPanel id="konzeptAnhangPanel" class="row prozessbaukastenAtrributeRow">
                <div class="prozessbaukastenAttributeLabel">
                    <p:outputLabel id="konzeptFileUploadInputLabel"
                                   value="#{msg.anhaenge}"/>
                </div>
                <div class="prozessbaukastenAtrributeValue">

                    #{cc.attrs.konzept.anhang.dateiname}

                    <prozessbaukasten:removeKonzeptAnhangButton id="removeAnhangButton"
                                                                anhang="#{cc.attrs.konzept.anhang}"
                                                                update="dialog:addKonzeptDialogForm:addKonzeptDialogContent:konzeptAnhangPanel"
                                                                remove="#{cc.attrs.konzept.removeAnhang()}"/>

                    <p:fileUpload id="konzeptFileUpload"
                                  rendered="#{cc.attrs.konzept.anhang eq null}"
                                  label="#{msg.hinzufuegenDnD}"
                                  mode="advanced"
                                  dragDropSupport="true"
                                  allowTypes="/(\.|\/)(jpg|jpeg|png)$/"
                                  invalidFileMessage="Es sind nur jpg oder png Bilder erlaubt!"
                                  fileUploadListener="#{cc.attrs.anhangUploader.uploadAnhang}"
                                  auto="true"
                                  multiple="false"
                                  update="dialog:addKonzeptDialogForm:addKonzeptDialogContent:konzeptAnhangPanel"
                                  styleClass="prozessbaukastenAnhangUpload"
                                  fileLimit="1"
                    >
                    </p:fileUpload>
                </div>
            </p:outputPanel>
        </div>
        <div class="dialog-buttons">
            <p:commandButton id="addKonzeptButton"
                             styleClass="margin-right-5px"
                             value="#{msg.prozessbaukasten_konzept_dialog_add_konzept_button}"
                             process="dialog:addKonzeptDialogForm"
                             update="editForm:content:tabView:stammdatenTab:konzepteInputPanel
                                 dialog:addKonzeptDialogForm:addKonzeptDialogContent:konzepBezeichnungInputLabel
                                 dialog:addKonzeptDialogForm:addKonzeptDialogContent:konzeptBeschreibungInputLabel
                                 editForm:growl"
                             actionListener="#{cc.attrs.addKonzept}"
            />

            <p:commandButton id="cancelButton"
                             value="#{msg.abbrechen}"
                             onclick="PF('addKonzeptDialog').hide();"
            />
        </div>
    </div>
</cc:implementation>
</html>
