<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="anhang" type="de.interfaceag.bmw.pzbk.entities.Anhang" />
        <cc:attribute required="true" name="anhangDownloader" type="de.interfaceag.bmw.pzbk.prozessbaukasten.AnhangDownloader" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:commandButton id="downloadStammdaten"
                         rendered="#{cc.attrs.anhang ne null}"
                         styleClass="prozessbaukastenDownloadButton"
                         icon="fa fa-fw fa-download"
                         value="#{cc.attrs.anhang.dateiname}"
                         ajax="false">
            <p:fileDownload value="#{cc.attrs.anhangDownloader.download(cc.attrs.anhang)}" />
        </p:commandButton>

        <p:outputLabel value="nicht vorhanden"
                       rendered="#{cc.attrs.anhang eq null}" />

    </cc:implementation>
</html>
