<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true"  name="fachId" />
        <cc:attribute required="true"  name="version" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:commandLink id="cancelButton" class="d-flex cancelButton"
                       title="#{msg.bearbeiten}" onclick="cancel();"
                       >
            <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_cancel.png" class="glass"/>
        </p:commandLink>

        <p:tooltip showDelay="500"  for="cancelButton" value="#{msg.verwerfen}"
                   showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                   trackMouse="true" position="none"/>

    </cc:implementation>
</html>
