<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:dialogs="http://xmlns.jcp.org/jsf/composite/dialogs"
      xmlns:prozessbaukasten="http://xmlns.jcp.org/jsf/composite/prozessbaukasten">


    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="false" name="statusChangeDialog" type="de.interfaceag.bmw.pzbk.prozessbaukasten.ProzessbaukastenStatusChangeDialog" />
        <cc:attribute required="false" name="addKonzeptDialog" type="de.interfaceag.bmw.pzbk.prozessbaukasten.edit.AddKonzeptDialog" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <h:form id="infoAnzeigenForm">
            <p:dialog id="infoAnzeigenDialog" class="customDialog"
                      dynamic="true"
                      header="#{msg.details}"
                      widgetVar="infoAnzeigenDialog"
                      modal="true"
                      resizable="true"
                      width="800">
                <dialogs:infoAnzeigenDialog id="infoAnzeigenDlgContent" infotextController="#{infotextController}" />
            </p:dialog>
            <p:remoteCommand name="showInfoAnzeigenDialog" actionListener="#{infotextController.showInfoTextDialog}" update="infoAnzeigenForm" />
        </h:form>

        <h:form id="statusChangeForm">
            <p:dialog id="statusChangeDialog" class="customDialog"
                      dynamic="true"
                      header="#{msg.prozessbaukasten_view_statusWechselHeader}"
                      widgetVar="statusChangeDialog"
                      modal="true"
                      resizable="true"
                      width="600">
                <dialogs:prozessbaukastenStatusChangeDialog id="statusChangeDlgContent" dialog="#{cc.attrs.statusChangeDialog}" />
            </p:dialog>
        </h:form>

        <h:form id="addKonzeptDialogForm">
            <p:dialog id="addKonzeptDialog" class="customDialog"
                      dynamic="true"
                      header="#{msg.prozessbaukasten_add_konzept}"
                      widgetVar="addKonzeptDialog"
                      modal="true"
                      resizable="false"
                      width="955">
                <prozessbaukasten:addKonzeptDialog
                    id="addKonzeptDialogContent"
                    konzept="#{cc.attrs.addKonzeptDialog.konzept}"
                    anhangUploader="#{cc.attrs.addKonzeptDialog.anhangUploader}"
                    requiredAttributes="#{cc.attrs.addKonzeptDialog.requiredAttributes}"
                    addKonzept="#{cc.attrs.addKonzeptDialog.addKonzept()}"
                    />
            </p:dialog>
        </h:form>

    </cc:implementation>
</html>
