<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:prozessbaukasten="http://xmlns.jcp.org/jsf/composite/prozessbaukasten"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <cc:interface>
        <cc:attribute required="true" name="stammdaten" type="de.interfaceag.bmw.pzbk.prozessbaukasten.edit.ProzessbaukastenEditStammdatenTab" />
        <cc:attribute required="true" name="controller" type="de.interfaceag.bmw.pzbk.prozessbaukasten.edit.ProzessbaukastenEditController" />
        <cc:attribute required="true" name="disabledAttributes" type="de.interfaceag.bmw.pzbk.prozessbaukasten.edit.attributes.ProzessbaukastenDisabledAttributes" />
        <cc:attribute required="true" name="requiredAttributes" type="de.interfaceag.bmw.pzbk.prozessbaukasten.edit.attributes.required.ProzessbaukastenRequiredAttributes" />
    </cc:interface>

    <cc:implementation>

        <h:outputStylesheet library="css" name="prozessbaukastenStammdatenTab.css" />
        <h:outputStylesheet library="css" name="prozessbaukastenStammdatenEditTab.css" />

        <p:outputPanel id="prozessbaukastenPanel" class="glass-box anfoAnsichtBox beschreibung prozessbaukastenPanel">
            <div class="box-header">#{msg.prozessbaukasten}</div>
            <div class="box-content row">
                <p:outputPanel id="bezeichnungInputPanel"
                               rendered="#{!cc.attrs.disabledAttributes.bezeichnungDisabled}"
                               class="row prozessbaukastenAtrributeRow">
                    <div class="prozessbaukastenAttributeLabel requiredAttribute">
                        <p:outputLabel id="bezeichnungInputLabel"
                                       for="bezeichnungInput"
                                       class="#{cc.attrs.requiredAttributes.bezeichnungRequired ? 'requiredAttribute' : 'notRequiredAttribute'}"
                                       value="#{msg.bezeichnung}" />
                    </div>
                    <div class="infotextIcon">
                        <prozessbaukasten:infotextIcon attributeValue="prozessbaukastenBezeichnung" />
                    </div>
                    <div class="prozessbaukastenAtrributeValue" >
                        <p:inputText id="bezeichnungInput"
                                     maxlength="100"
                                     required="#{cc.attrs.requiredAttributes.bezeichnungRequired}"
                                     requiredMessage="#{msg.prozessbaukasten_edit_bezeichnungRequiredMessage}"
                                     class="inputText"
                                     validatorMessage="#{msg.prozessbaukasten_edit_bezeichnungRequiredMessage}"
                                     value="#{cc.attrs.stammdaten.bezeichnung}">
                            <f:validateRegex pattern="^(?!\s*$)[\D\d]+" />
                        </p:inputText>
                    </div>
                </p:outputPanel>

                <p:outputPanel id="beschreibungInputPanel"
                               rendered="#{!cc.attrs.disabledAttributes.beschreibungDisabled}"
                               class="row prozessbaukastenAtrributeRow">
                    <div class="prozessbaukastenAttributeLabel">
                        <p:outputLabel id="beschreibungInputLabel"
                                       for="beschreibungInput"
                                       class="#{cc.attrs.requiredAttributes.beschreibungRequired ? 'requiredAttribute' : 'notRequiredAttribute'}"
                                       value="#{msg.beschreibung}" />
                    </div>
                    <div class="infotextIcon">
                        <prozessbaukasten:infotextIcon attributeValue="prozessbaukastenBeschreibung" />
                    </div>
                    <div class="prozessbaukastenAtrributeValue" >
                        <p:inputTextarea id="beschreibungInput"
                                         class="inputTextarea"
                                         required="#{cc.attrs.requiredAttributes.beschreibungRequired}"
                                         requiredMessage="#{msg.prozessbaukasten_edit_beschreibungRequiredMessage}"
                                         maxlength="400"
                                         validatorMessage="#{msg.prozessbaukasten_edit_beschreibungRequiredMessage}"
                                         value="#{cc.attrs.stammdaten.beschreibung}"
                                         >
                            <f:validateRegex pattern="^(?!\s*$)[\D\d]+" />
                        </p:inputTextarea>
                    </div>
                </p:outputPanel>
            </div>
        </p:outputPanel>

        <p:outputPanel id="verantwortlichkeitenPanel" class="glass-box anfoAnsichtBox beschreibung verantwortlichkeitenPanel">
            <div class="box-header">#{msg.verantwortlichkeiten}</div>
            <div class="box-content">
                <div class="ui-g-6">
                    <p:outputPanel id="tteamInputPanel"
                                   rendered="#{!cc.attrs.disabledAttributes.tteamDisabled}"
                                   class="row prozessbaukastenAtrributeRow">
                        <div class="prozessbaukastenAttributeLabel">
                            <p:outputLabel id="tteamInputLabel"
                                           for="tteamInput"
                                           value="#{msg.tteam}"
                                           class="#{cc.attrs.requiredAttributes.tteamRequired ? 'requiredAttribute' : 'notRequiredAttribute'}"
                                           />
                        </div>
                        <div class="infotextIcon">
                            <prozessbaukasten:infotextIcon attributeValue="prozessbaukastenTteam" />
                        </div>
                        <div class="prozessbaukastenAtrributeValue" >
                            <p:selectOneMenu id="tteamInput"
                                             value="#{cc.attrs.stammdaten.tteam}"
                                             filter="true"
                                             converter="#{cc.attrs.stammdaten.tteamConverter}"
                                             class="glass-button"
                                             required="#{cc.attrs.requiredAttributes.tteamRequired}"
                                             requiredMessage="#{msg.prozessbaukasten_edit_tteamRequiredMessage}"
                                             >
                                <p:ajax event="itemSelect"
                                        update="tteamLeiterLabel"
                                        listener="#{cc.attrs.controller.updateTteamleiter}"/>
                                <f:selectItem itemLabel="#{msg.tteamAuswahl}" itemValue="#{null}"
                                              noSelectionOption="true"/>
                                <f:selectItems value="#{cc.attrs.stammdaten.allTteams}"
                                               var="tteam" itemLabel="#{tteam}"
                                               itemValue="#{tteam}" class="T-TeamBox" />
                            </p:selectOneMenu>
                        </div>
                    </p:outputPanel>
                </div>

                <div class="ui-g-6">
                    <p:outputPanel id="tteamLeiterInputPanel"
                                   rendered="#{!cc.attrs.disabledAttributes.tteamDisabled}"
                                   class="row prozessbaukastenAtrributeRow">
                        <div class="prozessbaukastenAttributeLabel">
                            #{msg.teamleiter}
                        </div>
                        <div class="infotextIcon">
                            <prozessbaukasten:infotextIcon attributeValue="prozessbaukastenTteamleiter" />
                        </div>
                        <div class="prozessbaukastenAtrributeValue" >
                            <p:outputLabel id="tteamLeiterLabel" value="#{cc.attrs.stammdaten.tteamleiter}" />
                        </div>
                    </p:outputPanel>
                </div>

                <div class="ui-g-12">
                    <p:outputPanel id="leadTechnologieInputPanel"
                                   rendered="#{!cc.attrs.disabledAttributes.leadTechnologieDisabled}"
                                   class="row prozessbaukastenAtrributeRow">
                        <div class="prozessbaukastenAttributeLabel">
                            <p:outputLabel id="leadTechnologieInputLabel"
                                           for="editForm:content:tabView:stammdatenTab:leadTechnologieAutocompleteInput:leadTechnologieAutocomplete"
                                           value="#{msg.prozessbaukasten_leadTechnologie}"
                                           class="#{cc.attrs.requiredAttributes.leadTechnologieRequired ? 'requiredAttribute' : 'notRequiredAttribute'}"
                                           />
                        </div>
                        <div class="infotextIcon">
                            <prozessbaukasten:infotextIcon attributeValue="prozessbaukastenLeadTechnologie" />
                        </div>
                        <div class="prozessbaukastenAtrributeValue" >
                            <prozessbaukasten:leadTechnologieInput id="leadTechnologieAutocompleteInput"
                                                                   stammdaten="#{cc.attrs.stammdaten}"
                                                                   controller="#{cc.attrs.controller}"
                                                                   requiredAttributes="#{cc.attrs.requiredAttributes}"
                                                                   />
                        </div>
                    </p:outputPanel>
                </div>
            </div>
        </p:outputPanel>

        <p:outputPanel id="detailsPanel"
                       rendered="#{!cc.attrs.disabledAttributes.stammdatenDetailsPanelDisabled}"
                       class="glass-box anfoAnsichtBox beschreibung detailsPanel">
            <div class="box-header">#{msg.details}</div>
            <div class="box-content row">
                <p:outputPanel id="konzepteInputPanel"
                               rendered="#{!cc.attrs.disabledAttributes.konzeptDisabled}"
                               class="row prozessbaukastenAtrributeRow">
                    <div class="prozessbaukastenAttributeLabel">
                        <p:outputLabel id="konzepteInputLAbel"
                                       value="#{msg.prozessbaukasten_konzepte}"
                                       class="#{cc.attrs.requiredAttributes.konzeptRequired ? 'requiredAttribute' : 'notRequiredAttribute'}"
                                       />
                    </div>
                    <div class="infotextIcon">
                        <prozessbaukasten:infotextIcon attributeValue="prozessbaukastenKonzept" />
                    </div>
                    <div class="prozessbaukastenAtrributeValue" >
                        <prozessbaukasten:editKonzepteComponent id="editKonzepte"
                                                                stammdaten="#{cc.attrs.stammdaten}"
                                                                anhangDownloader="#{cc.attrs.controller}"
                                                                requiredAttributes="#{cc.attrs.requiredAttributes}"
                                                                />
                    </div>
                </p:outputPanel>

                <p:outputPanel id="standardisierterFertigungsprozessInputPanel"
                               rendered="#{!cc.attrs.disabledAttributes.standardisierterFertigungsprozessDisabled}"
                               class="row prozessbaukastenAtrributeRow">
                    <div class="prozessbaukastenAttributeLabel">
                        <p:outputLabel id="standardisierterFeritgungsprozessInputLabel"
                                       value="#{msg.prozessbaukasten_standardisierterFertigungsprozess}"
                                       for="standardisierterFertigungsprozessInput"
                                       class="#{cc.attrs.requiredAttributes.standardisierterFertigungsprozessRequired ? 'requiredAttribute' : 'notRequiredAttribute'}"
                                       />
                    </div>
                    <div class="infotextIcon">
                        <prozessbaukasten:infotextIcon attributeValue="prozessbaukastenStandFertigung" />
                    </div>
                    <div class="prozessbaukastenAtrributeValue" >
                        <p:inputTextarea id="standardisierterFertigungsprozessInput"
                                         class="inputTextarea"
                                         maxlength="1500"
                                         required="#{cc.attrs.requiredAttributes.standardisierterFertigungsprozessRequired}"
                                         value="#{cc.attrs.stammdaten.standardisierterFertigungsprozess}"
                                         />
                    </div>
                </p:outputPanel>

                <p:outputPanel id="erstanlauferInputPanel"
                               rendered="#{!cc.attrs.disabledAttributes.erstanlaeuferDisabled}"
                               class="row prozessbaukastenAtrributeRow">
                    <div class="prozessbaukastenAttributeValue">
                        <p:outputLabel id="erstanlauferInputLabel" for="erstanlaeuferInput"
                                       value="#{msg.prozessbaukasten_erstanlaufer}"
                                       class="#{cc.attrs.requiredAttributes.erstanlaeuferRequired ? 'requiredAttribute' : 'notRequiredAttribute'}"
                                       />
                    </div>
                    <div class="infotextIcon">
                        <prozessbaukasten:infotextIcon attributeValue="prozessbaukastenErstanlaeufer" />
                    </div>
                    <div class="prozessbaukastenAtrributeValue" >                        

                        <p:selectOneMenu id="erstanlaeuferInput"
                                         value="#{cc.attrs.stammdaten.erstanlaeufer}"
                                         filter="true" filterMatchMode="contains"
                                         converter="#{cc.attrs.stammdaten.derivatConverter}"
                                         class="glass-button"
                                         style="min-width: 289px;"
                                         required="#{cc.attrs.requiredAttributes.erstanlaeuferRequired}"
                                         requiredMessage="#{msg.prozessbaukasten_auswahlProjektRequiredMessage}">

                            <f:selectItem itemLabel="#{msg.prozessbaukasten_auswahlProjekt}" itemValue="#{null}"
                                          noSelectionOption="true"/>
                            <f:selectItems value="#{cc.attrs.stammdaten.allDerivate}"
                                           var="derivat" itemLabel="#{derivat}"
                                           itemValue="#{derivat}" class="T-TeamBox" />
                        </p:selectOneMenu>

                    </div>
                </p:outputPanel>
            </div>
        </p:outputPanel>

    </cc:implementation>
</html>
