<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:prozessbaukasten="http://xmlns.jcp.org/jsf/composite/prozessbaukasten">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="anhangTab" type="de.interfaceag.bmw.pzbk.prozessbaukasten.view.ProzessbaukastenAnhangTab" />
        <cc:attribute required="true" name="anhangEdit" type="de.interfaceag.bmw.pzbk.prozessbaukasten.edit.ProzessbaukastenEditAnhangTab" />
        <cc:attribute required="true" name="disabledAttributes" type="de.interfaceag.bmw.pzbk.prozessbaukasten.edit.attributes.ProzessbaukastenDisabledAttributes" />
        <cc:attribute required="true" name="requiredAttributes" type="de.interfaceag.bmw.pzbk.prozessbaukasten.edit.attributes.required.ProzessbaukastenRequiredAttributes" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <h:outputStylesheet library="css" name="prozessbaukastenAnhaengeTab.css" />

        <p:outputPanel id="definierteAnhaengePanel"
                       class="glass-box anfoAnsichtBox beschreibung definierteAnhaengePanel">
            <div class="box-header">#{msg.prozessbaukasten_definierter_anhang}</div>
            <div class="box-content row">
                <p:outputPanel id="anhangStartbriefInputPanel"
                               class="row prozessbaukastenAtrributeRow prozessbaukastenAtrributeInputRow">
                    <div class="prozessbaukastenAttributeLabel">

                        <p:outputLabel id='startbriefInputLabel'
                                       for="startbriefValidatorInput"
                                       class="#{cc.attrs.requiredAttributes.anhangStartbriefRequired ? 'requiredAttribute' : 'notRequiredAttribute'}"
                                       value=" #{msg.prozessbaukasten_startbrief}"
                                       />

                    </div>
                    <div class="infotextIcon">
                        <prozessbaukasten:infotextIcon attributeValue="prozessbaukastenAnhangStartbrief" />
                    </div>
                    <div class="prozessbaukastenAtrributeInput" >
                        <prozessbaukasten:anhangDownloadLink id="startbriefDownloadLink"
                                                             rendered="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.startbrief ne null}"
                                                             anhang="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.startbrief}"
                                                             anhangDownloader="#{cc.attrs.anhangTab}" />

                        <prozessbaukasten:removeAnhangButton id="removeStartbrief"
                                                             update="editForm:content:tabView:anhangEditTab:definierteAnhaengePanel"
                                                             anhang="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.startbrief}"
                                                             remove="#{cc.attrs.anhangEdit.removeStartbrief()}" />

                        <h:inputHidden id='startbriefValidatorInput'
                                       value='null'
                                       required="#{cc.attrs.requiredAttributes.anhangStartbriefRequired}"
                                       validator="#{cc.attrs.anhangEdit.validateStartbrief}" />

                        <p:fileUpload id="startbriefUpload"
                                      update="editForm:content:tabView:anhangEditTab:definierteAnhaengePanel"
                                      label="#{msg.hinzufuegenDnD}"
                                      mode="advanced"
                                      dragDropSupport="true"
                                      fileUploadListener="#{cc.attrs.anhangEdit.uploadStartbrief}"
                                      rendered="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.startbrief eq null}"
                                      auto="true"
                                      multiple="false"
                                      styleClass="prozessbaukastenAnhangUpload"
                                      fileLimit="1"
                                      >
                        </p:fileUpload>
                    </div>
                </p:outputPanel>

                <p:outputPanel id="anhangGrafikUmfangInputPanel"
                               rendered="#{!cc.attrs.disabledAttributes.anhangGrafikUmfangDisabled}"
                               class="row prozessbaukastenAtrributeRow prozessbaukastenAtrributeInputRow">
                    <div class="prozessbaukastenAttributeLabel">

                        <p:outputLabel id='grafikUmfangValidatorInputLabel'
                                       for="grafikUmfangValidatorInput"
                                       class="#{cc.attrs.requiredAttributes.anhangGrafikUmfangRequired ? 'requiredAttribute' : 'notRequiredAttribute'}"
                                       value=" #{msg.prozessbaukasten_grafikUmfang}"
                                       />

                    </div>
                    <div class="infotextIcon">
                        <prozessbaukasten:infotextIcon attributeValue="prozessbaukastenAnhangGrafikUmfang" />
                    </div>
                    <div class="prozessbaukastenAtrributeInput" >
                        <prozessbaukasten:anhangDownloadLink id="grafikUmfangDownloadLink"
                                                             rendered="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.grafikUmfang ne null}"
                                                             anhang="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.grafikUmfang}"
                                                             anhangDownloader="#{cc.attrs.anhangTab}" />

                        <prozessbaukasten:removeAnhangButton id="removeGrafikUmfang"
                                                             update="editForm:content:tabView:anhangEditTab:definierteAnhaengePanel"
                                                             anhang="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.grafikUmfang}"
                                                             remove="#{cc.attrs.anhangEdit.removeGrafikUmfang()}" />

                        <h:inputHidden id='grafikUmfangValidatorInput'
                                       value='null'
                                       required="#{cc.attrs.requiredAttributes.anhangGrafikUmfangRequired}"
                                       validator="#{cc.attrs.anhangEdit.validateGrafikUmfang}" />

                        <p:fileUpload id="grafikUmfangUpload"
                                      update="editForm:content:tabView:anhangEditTab:definierteAnhaengePanel"
                                      label="#{msg.hinzufuegenDnD}"
                                      mode="advanced"
                                      dragDropSupport="true"
                                      fileUploadListener="#{cc.attrs.anhangEdit.uploadGrafikUmfang}"
                                      rendered="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.grafikUmfang eq null}"
                                      auto="true"
                                      multiple="false"
                                      styleClass="prozessbaukastenAnhangUpload"
                                      fileLimit="1"
                                      >
                        </p:fileUpload>
                    </div>
                </p:outputPanel>

                <p:outputPanel id="anhangGrafikKonzeptbaumInputPanel"
                               rendered="#{!cc.attrs.disabledAttributes.anhangGrafikKonzeptbaumDisabled}"
                               class="row prozessbaukastenAtrributeRow prozessbaukastenAtrributeInputRow">
                    <div class="prozessbaukastenAttributeLabel">

                        <p:outputLabel id='grafikKonzeptbaumValidatorInputLabel'
                                       for="grafikKonzeptbaumValidatorInput"
                                       class="#{cc.attrs.requiredAttributes.anhangGrafikKonzeptbaumRequired ? 'requiredAttribute' : 'notRequiredAttribute'}"
                                       value=" #{msg.prozessbaukasten_konzeptbaum}"
                                       />

                    </div>
                    <div class="infotextIcon">
                        <prozessbaukasten:infotextIcon attributeValue="prozessbaukastenAnhangKonzeptbaum" />
                    </div>
                    <div class="prozessbaukastenAtrributeInput" >
                        <prozessbaukasten:anhangDownloadLink id="konzeptbaumDownloadLink"
                                                             anhang="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.konzeptbaum}"
                                                             rendered="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.konzeptbaum ne null}"
                                                             anhangDownloader="#{cc.attrs.anhangTab}" />

                        <prozessbaukasten:removeAnhangButton id="removeKonzeptbaum"
                                                             update="editForm:content:tabView:anhangEditTab:definierteAnhaengePanel"
                                                             anhang="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.konzeptbaum}"
                                                             remove="#{cc.attrs.anhangEdit.removeKonzeptbaum()}" />

                        <h:inputHidden id='grafikKonzeptbaumValidatorInput'
                                       value='null'
                                       required="#{cc.attrs.requiredAttributes.anhangGrafikKonzeptbaumRequired}"
                                       validator="#{cc.attrs.anhangEdit.validateKonzeptbaum}" />

                        <p:fileUpload id="konzeptbaumUpload"
                                      update="editForm:content:tabView:anhangEditTab:definierteAnhaengePanel"
                                      label="#{msg.hinzufuegenDnD}"
                                      mode="advanced"
                                      dragDropSupport="true"
                                      fileUploadListener="#{cc.attrs.anhangEdit.uploadKonzeptbaum}"
                                      rendered="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.konzeptbaum eq null}"
                                      auto="true"
                                      multiple="false"
                                      styleClass="prozessbaukastenAnhangUpload"
                                      fileLimit="1"
                                      >
                        </p:fileUpload>
                    </div>
                </p:outputPanel>

                <p:outputPanel id="anhangBeauftragungTPKInputPanel"
                               rendered="#{!cc.attrs.disabledAttributes.anhangBeauftragungTPKDisabled}"
                               class="row prozessbaukastenAtrributeRow prozessbaukastenAtrributeInputRow">
                    <div class="prozessbaukastenAttributeLabel">

                        <p:outputLabel id='beauftragungTPKValidatorInputLabel'
                                       for="beauftragungTPKValidatorInput"
                                       class="#{cc.attrs.requiredAttributes.anhangBeauftragungTPKRequired ? 'requiredAttribute' : 'notRequiredAttribute'}"
                                       value="#{msg.prozessbaukasten_beauftragungTPK}"
                                       />

                    </div>
                    <div class="infotextIcon">
                        <prozessbaukasten:infotextIcon attributeValue="prozessbaukastenAnhangBeauftragungTPK" />
                    </div>
                    <div class="prozessbaukastenAtrributeInput" >
                        <prozessbaukasten:anhangDownloadLink id="beauftragungTPKDownloadLink"
                                                             rendered="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.beauftragungTPK ne null}"
                                                             anhang="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.beauftragungTPK}"
                                                             anhangDownloader="#{cc.attrs.anhangTab}" />

                        <prozessbaukasten:removeAnhangButton id="removeBeauftragungTPK"
                                                             update="editForm:content:tabView:anhangEditTab:definierteAnhaengePanel"
                                                             anhang="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.beauftragungTPK}"
                                                             remove="#{cc.attrs.anhangEdit.removeBeauftragungTPK()}" />

                        <h:inputHidden id='beauftragungTPKValidatorInput'
                                       value='null'
                                       required="#{cc.attrs.requiredAttributes.anhangBeauftragungTPKRequired}"
                                       validator="#{cc.attrs.anhangEdit.validateBeauftragungTPK}" />

                        <p:fileUpload id="beauftragungTPKUpload"
                                      update="editForm:content:tabView:anhangEditTab:definierteAnhaengePanel"
                                      label="#{msg.hinzufuegenDnD}"
                                      mode="advanced"
                                      dragDropSupport="true"
                                      fileUploadListener="#{cc.attrs.anhangEdit.uploadBeauftragungTPK}"
                                      rendered="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.beauftragungTPK eq null}"
                                      auto="true"
                                      multiple="false"
                                      styleClass="prozessbaukastenAnhangUpload"
                                      fileLimit="1"
                                      >
                        </p:fileUpload>
                    </div>
                </p:outputPanel>

                <p:outputPanel id="anhangGenehmigungTPKInputPanel"
                               rendered="#{!cc.attrs.disabledAttributes.anhangGenehmigungTPKDisabled}"
                               class="row prozessbaukastenAtrributeRow prozessbaukastenAtrributeInputRow">
                    <div class="prozessbaukastenAttributeLabel">

                        <p:outputLabel id='genehmigungTPKValidatorInputLabel'
                                       for="genehmigungTPKValidatorInput"
                                       class="#{cc.attrs.requiredAttributes.anhangGenehmigungTPKRequired ? 'requiredAttribute' : 'notRequiredAttribute'}"
                                       value="#{msg.prozessbaukasten_genehmigungTPK}"
                                       />

                    </div>
                    <div class="infotextIcon">
                        <prozessbaukasten:infotextIcon attributeValue="prozessbaukastenAnhangGenehmigungTPK" />
                    </div>
                    <div class="prozessbaukastenAtrributeInput" >
                        <prozessbaukasten:anhangDownloadLink id="genehmigungTPKDownloadLink"
                                                             rendered="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.genehmigungTPK ne null}"
                                                             anhang="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.genehmigungTPK}"
                                                             anhangDownloader="#{cc.attrs.anhangTab}" />

                        <prozessbaukasten:removeAnhangButton id="removeGenehmigungTPK"
                                                             update="editForm:content:tabView:anhangEditTab:definierteAnhaengePanel"
                                                             anhang="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.genehmigungTPK}"
                                                             remove="#{cc.attrs.anhangEdit.removeGenehmigungTPK()}" />

                        <h:inputHidden id='genehmigungTPKValidatorInput'
                                       value='null'
                                       required="#{cc.attrs.requiredAttributes.anhangGenehmigungTPKRequired}"
                                       validator="#{cc.attrs.anhangEdit.validateGenehmigungTPK}" />

                        <p:fileUpload id="genehmigungTPKUpload"
                                      update="editForm:content:tabView:anhangEditTab:definierteAnhaengePanel"
                                      label="#{msg.hinzufuegenDnD}"
                                      mode="advanced"
                                      dragDropSupport="true"
                                      fileUploadListener="#{cc.attrs.anhangEdit.uploadGenehmigungTPK}"
                                      rendered="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.genehmigungTPK eq null}"
                                      auto="true"
                                      multiple="false"
                                      styleClass="prozessbaukastenAnhangUpload"
                                      fileLimit="1"
                                      >
                        </p:fileUpload>
                    </div>
                </p:outputPanel>
            </div>
        </p:outputPanel>

        <p:outputPanel id="weitereAnhaengePanel"
                       rendered="#{!cc.attrs.disabledAttributes.weitereAnhangeDisabled}"
                       class="glass-box anfoAnsichtBox beschreibung verantwortlichkeitenPanel">
            <div class="box-header">#{msg.prozessbaukasten_zusatzlicher_anhange}</div>

            <div class="box-content">
                <prozessbaukasten:editWeitereAnhaenge id="editWeitereAnhaenge"
                                                      anhangEdit="#{cc.attrs.anhangEdit}"
                                                      anhangTab="#{cc.attrs.anhangTab}"
                                                      />
            </div>
        </p:outputPanel>

    </cc:implementation>
</html>
