<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true"  name="viewData" type="de.interfaceag.bmw.pzbk.prozessbaukasten.edit.ProzessbaukastenEditViewData"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <div class="navbar">
            <div class="leftButtons" >
                <p:outputLabel id="newStatus"
                               rendered="#{cc.attrs.viewData.isStatusChange}"
                               value="#{msg.statusWechseln} #{cc.attrs.viewData.newStatusLabel}"
                               class="anforderungMeldungStatus prozessbaukastenBezeichnung" />
            </div>
            <div class="rightButtons" >
                <p:commandLink id="saveButton"
                               onclick="save();" >
                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_save.png" class="glass"/>
                </p:commandLink>
                <p:tooltip showDelay="500"  for="saveButton" value="#{msg.speichern}"
                           showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                           trackMouse="true" position="none"/>

                <p:commandLink id="cancelButton" class="d-flex cancelButton"
                               title="#{msg.bearbeiten}" immediate="true" action="#{prozessbaukastenEditController.cancel()}"
                               >
                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_cancel.png" class="glass"/>
                </p:commandLink>

                <p:tooltip showDelay="500"  for="cancelButton" value="#{msg.verwerfen}"
                           showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                           trackMouse="true" position="none"/>

            </div>
        </div>
    </cc:implementation>
</html>
