<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:prozessbaukasten="http://xmlns.jcp.org/jsf/composite/prozessbaukasten"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="stammdaten" type="de.interfaceag.bmw.pzbk.prozessbaukasten.edit.ProzessbaukastenEditStammdatenTab" />
        <cc:attribute required="true" name="anhangDownloader" type="de.interfaceag.bmw.pzbk.prozessbaukasten.AnhangDownloader" />
        <cc:attribute required="true" name="requiredAttributes" type="de.interfaceag.bmw.pzbk.prozessbaukasten.edit.attributes.required.ProzessbaukastenRequiredAttributes" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <h:outputStylesheet library="css" name="prozessbaukasten/konzepteComponent.css" />

        <p:outputPanel class="konzepte-wrapper">

            <p:outputPanel class="add-konzept-wrapper">
                <p:commandButton id="addKonzeptButton"
                                 value="#{msg.prozessbaukasten_add_konzept}"
                                 immediate="true"
                                 onmousedown="PF('addKonzeptDialog').show();"
                                 />
            </p:outputPanel>
            <ui:repeat id="konzepteRepeat"
                       value="#{cc.attrs.stammdaten.konzepte}"
                       varStatus="konzeptVarStatus"
                       var="konzept" >

                <prozessbaukasten:editKonzept id="konzeptComponent"
                                              index="#{konzeptVarStatus.index}"
                                              anhangUploader="#{cc.attrs.stammdaten.getKonzeptAnhangUploader(konzept)}"
                                              konzeptRemover="#{cc.attrs.stammdaten.getKonzeptRemover(konzept)}"
                                              anhangDownloader="#{cc.attrs.anhangDownloader}"
                                              requiredAttributes="#{cc.attrs.requiredAttributes}"
                                              anhangValidator="#{cc.attrs.stammdaten.getKonzeptAnhangValidator(konzept)}"
                                              konzept="#{konzept}" />

            </ui:repeat>

        </p:outputPanel>

    </cc:implementation>
</html>
