<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


    <cc:interface>
        <cc:attribute required="true" name="anforderungenTab" type="de.interfaceag.bmw.pzbk.prozessbaukasten.edit.ProzessbaukastenAnforderungenEditTab" />
    </cc:interface>

    <cc:implementation>
        <p:dataTable value="#{cc.attrs.anforderungenTab.anforderungen}"
                     var="anforderung"
                     widgetVar="prozessbaukastenAnforderungenEditTable"
                     id="prozessbaukastenAnforderungenEditTable"
                     filteredValue="#{cc.attrs.anforderungenTab.filteredAnforderungen}"
                     emptyMessage="#{msg.prozessbaukasten_anforderungentab_keineErgebnisse}"
                     class="glass-table prozessbaukastenAnforderungTable"
                     rowIndexVar="rowIndex"
                     >

            <f:facet name="header">
                <p:inputText id="globalFilter" onkeyup="PF('prozessbaukastenAnforderungenEditTable').filter()"
                             styleClass="anforderungTableHeaderInput"
                             placeholder="#{msg.suche}" style="width: 540px" />
            </f:facet>

            <p:column headerText="#{msg.prozessbaukasten_anforderungentab_anforderungsID}" filterBy="#{anforderung.fachIdAndVersion}" filterMatchMode="contains">
                <p:link outcome="anforderungView" value="#{anforderung.fachIdAndVersion}" style="color: black">
                    <f:param name="id" value="#{anforderung.id}" />
                    <f:param name="fachId" value="#{anforderung.fachId}" />
                    <f:param name="version" value="#{anforderung.version}" />
                </p:link>
            </p:column>

            <p:column headerText="#{msg.prozessbaukasten_anforderungentab_beschreibung}" filterBy="#{anforderung.beschreibung}" filterMatchMode="contains" style="min-width: 250px; max-width: 250px; width: 250px;">

                <p:outputLabel id="beschreibungTextFull"
                               class="bodyLabel"
                               value="#{anforderung.beschreibung}"
                               onclick="toggleBeschreibung(#{rowIndex})"
                               styleClass="displayNone vereinbarungBeschreibungText" />
                <p:outputLabel id="beschreibungTextPreview"
                               class="bodyLabel"
                               value="#{anforderung.beschreibungShort}"
                               onclick="toggleBeschreibung(#{rowIndex})"
                               styleClass="vereinbarungBeschreibungText" />
            </p:column>

            <p:column headerText="#{msg.prozessbaukasten_anforderungentab_anfGeber}"
                      filterBy="#{anforderung.sensorCoc}" filterMatchMode="contains">
                #{anforderung.sensorCoc}
            </p:column>

            <p:column headerText="#{msg.prozessbaukasten_anforderungentab_umsetzer}"
                      filterBy="#{anforderung.umsetzer}" filterMatchMode="contains">
                #{anforderung.umsetzer}
            </p:column>

            <p:column headerText="#{msg.prozessbaukasten_anforderungentab_konzept}">
                <p:selectCheckboxMenu id="anforderungKonzepteInput"
                                      label="#{msg.prozessbaukasten_konzepte}"
                                      panelStyleClass="filterStatusMeldungPanel filterPanel"
                                      class="konzeptSelectMenu filterManyCheckbox"
                                      filterMatchMode="contains"
                                      multiple="true"
                                      value="#{anforderung.anforderungKonzept}"
                                      converter="#{cc.attrs.anforderungenTab.konzepteConverter}"
                                      >
                    <f:selectItems value="#{cc.attrs.anforderungenTab.allKonzepte}"
                                   var="k" itemLabel="#{k.bezeichnung}"
                                   itemValue="#{k}" class="T-TeamBox" />
                </p:selectCheckboxMenu>
            </p:column>

            <p:column headerText="#{msg.configuration_themenklammer}">
                <p:selectCheckboxMenu id="anforderungThemenklammerInput"
                                      label="#{msg.searchFilterType_propertyName_themenklammer}"
                                      panelStyleClass="filterStatusMeldungPanel filterPanel"
                                      class="konzeptSelectMenu filterManyCheckbox"
                                      filterMatchMode="contains"
                                      multiple="true"
                                      value="#{anforderung.themenklammern}"
                                      converter="#{cc.attrs.anforderungenTab.themenklammerConverter}"
                >
                    <f:selectItems value="#{cc.attrs.anforderungenTab.allThemenklammern}"
                                   var="themenklammer" itemLabel="#{themenklammer.bezeichnung}"
                                   itemValue="#{themenklammer}" class="T-TeamBox" />
                </p:selectCheckboxMenu>
            </p:column>

            <p:column headerText="#{msg.prozessbaukasten_anforderungentab_status}"
                      filterBy="#{anforderung.status}" filterMatchMode="contains">
                #{anforderung.status}
            </p:column>

        </p:dataTable>
    </cc:implementation>
</html>

