<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="anhangTab" type="de.interfaceag.bmw.pzbk.prozessbaukasten.view.ProzessbaukastenAnhangTab" />
        <cc:attribute required="true" name="anhangEdit" type="de.interfaceag.bmw.pzbk.prozessbaukasten.edit.ProzessbaukastenEditAnhangTab" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:panel id="attachmentPanel" class="attachmentPanel">
            <p:fileUpload  id = "fileUploadCommandLink"
                           label="#{msg.hinzufuegenDnD}"
                           update="attachmentPanel"
                           mode="advanced"
                           dragDropSupport="true"
                           fileUploadListener="#{cc.attrs.anhangEdit.uploadWeiterenAnhang}"
                           auto="true"
                           styleClass="prozessbaukastenAnhangUpload"
                           multiple="true"
                           >

                <p:dataTable value="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.weitereAnhaenge}"
                             class="fileUploadTable"
                             var="anhang"
                             rowKey="#{anhang.dateiname}"
                             id="anhangTable"
                             rowIndexVar="index"
                             emptyMessage="#{msg.keinAnhangVorhanden}"
                             >

                    <p:column class="fileUploadTableColumn" headerText="#{msg.dateien}">
                        <p:commandButton ajax="false"
                                         id="anfoAnhangDl"
                                         class="fileDownloadButton"
                                         value="#{anhang.dateiname}"
                                         immediate="true"
                                         >
                            <p:fileDownload value="#{cc.attrs.anhangTab.download(anhang)}" />
                        </p:commandButton>
                    </p:column>

                    <p:column headerText="" width="100">
                        <p:commandLink class="anhangDelete"
                                       title="#{msg.entfernen}"
                                       id="fileuploadDeleteFile"
                                       actionListener="#{cc.attrs.anhangEdit.removeWeiterenAnhang(anhang)}"
                                       update=":#{cc.clientId}:attachmentPanel"
                                       process=":#{cc.clientId}:attachmentPanel">
                            <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                        </p:commandLink>
                        <p:tooltip showDelay="500"
                                   for="fileuploadDeleteFile"
                                   position="top"
                                   value="#{msg.tooltipp_anfoMgmtObjectAnhangEditComp_Fileupload_deleteFile}" />
                    </p:column>
                </p:dataTable>
            </p:fileUpload>
        </p:panel>
    </cc:implementation>
</html>