<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:prozessbaukasten="http://xmlns.jcp.org/jsf/composite/prozessbaukasten">

    <cc:interface>
        <cc:attribute required="true" name="controller" type="de.interfaceag.bmw.pzbk.prozessbaukasten.edit.ProzessbaukastenEditController"/>
    </cc:interface>

    <cc:implementation>

        <ui:param name="anforderungenTabDisabled"
                  value="#{cc.attrs.controller.viewData.prozessbaukastenDisabledAttributes.anforderungenTabDisabled}" />

        <ui:param name="anhangeTabDisabled"
                  value="#{cc.attrs.controller.viewData.prozessbaukastenDisabledAttributes.anhangeTabDisabled}" />
        
        <ui:decorate template="../../templates/tab-template.xhtml">
            <ui:define name="stammdaten">
                <prozessbaukasten:editTabStammdaten id="stammdatenTab"
                                                    stammdaten="#{cc.attrs.controller.viewData}"
                                                    controller="#{cc.attrs.controller}"
                                                    requiredAttributes="#{cc.attrs.controller.viewData.requiredAttributes}"
                                                    disabledAttributes="#{cc.attrs.controller.viewData.prozessbaukastenDisabledAttributes}"
                                                    />
            </ui:define>

            <ui:define name="anforderungen">
                <prozessbaukasten:editTabAnforderungen id="anforderungenTab"
                                                       anforderungenTab="#{cc.attrs.controller.viewData}"
                                                       />
            </ui:define>

            <ui:define name="anhaenge">
                <prozessbaukasten:editTabAnhaenge id="anhangEditTab"
                                                  anhangEdit="#{cc.attrs.controller.viewData}"
                                                  requiredAttributes="#{cc.attrs.controller.viewData.requiredAttributes}"
                                                  disabledAttributes="#{cc.attrs.controller.viewData.prozessbaukastenDisabledAttributes}"
                                                  anhangTab="#{cc.attrs.controller}" />
            </ui:define>            

            <ui:define id="grafiken" name="grafiken">
                <prozessbaukasten:grafikBox id="umfangGrafik"
                                            fachId="#{cc.attrs.controller.viewData.fachId}"
                                            version="#{cc.attrs.controller.viewData.version}"
                                            bild="grafikUmfang"
                                            label="#{msg.prozessbaukasten_grafikUmfang}" />
                <prozessbaukasten:grafikBox id="konzeptbaumGrafik"
                                            fachId="#{cc.attrs.controller.viewData.fachId}"
                                            version="#{cc.attrs.controller.viewData.version}"
                                            bild="konzeptbaum"
                                            label="#{msg.prozessbaukasten_konzeptbaum}" />
            </ui:define>

        </ui:decorate>
    </cc:implementation>
</html>
