<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:prozessbaukasten="http://xmlns.jcp.org/jsf/composite/prozessbaukasten">

<!-- INTERFACE -->
<cc:interface>
    <cc:attribute required="true" name="konzept" type="de.interfaceag.bmw.pzbk.entities.Konzept"/>
    <cc:attribute required="true" name="anhangUploader"
                  type="de.interfaceag.bmw.pzbk.prozessbaukasten.edit.KonzeptAnhangUploader"/>
    <cc:attribute required="true" name="konzeptRemover"
                  type="de.interfaceag.bmw.pzbk.prozessbaukasten.edit.KonzeptRemover"/>
    <cc:attribute required="true" name="anhangDownloader"
                  type="de.interfaceag.bmw.pzbk.prozessbaukasten.AnhangDownloader"/>
    <cc:attribute required="true" name="anhangValidator"
                  type="de.interfaceag.bmw.pzbk.prozessbaukasten.edit.KonzeptAnhangValidator"/>
    <cc:attribute required="true" name="index"/>
    <cc:attribute required="true" name="requiredAttributes"
                  type="de.interfaceag.bmw.pzbk.prozessbaukasten.edit.attributes.required.ProzessbaukastenRequiredAttributes"/>
</cc:interface>

<!-- IMPLEMENTATION -->
<cc:implementation>

    <div class="konzept-wrapper">
        <div class="konzept-content">
            <div class="konzept-header row prozessbaukastenAtrributeRow">
                <div class="prozessbaukastenAttributeLabel requiredAttribute">
                    <p:outputLabel id="konzepBezeichnungInputLabel"
                                   for="konzepBezeichnungInput"
                                   class="requiredAttribute"
                                   value="#{msg.bezeichnung}"/>
                </div>
                <div class="prozessbaukastenAtrributeValue">
                    <p:inputText id="konzepBezeichnungInput"
                                 maxlength="100"
                                 required="#{cc.attrs.requiredAttributes.konzeptBezeichnungRequired}"
                                 requiredMessage="#{msg.prozessbaukasten_edit_bezeichnungRequiredMessage}"
                                 class="inputText konzept-bezeichnung-input"
                                 validatorMessage="#{msg.prozessbaukasten_edit_bezeichnungRequiredMessage}"
                                 value="#{cc.attrs.konzept.bezeichnung}">
                        <f:validateRegex pattern="^(?!\s*$)[\D\d]+"/>
                    </p:inputText>
                </div>
            </div>

            <div class="row prozessbaukastenAtrributeRow">
                <div class="prozessbaukastenAttributeLabel requiredAttribute">
                    <p:outputLabel id="konzeptBeschreibungInputLabel"
                                   for="konzeptBeschreibungInput"
                                   class="requiredAttribute"
                                   value="#{msg.beschreibung}"/>
                </div>
                <div class="prozessbaukastenAtrributeValue">
                    <p:inputTextarea id="konzeptBeschreibungInput"
                                     maxlength="1000"
                                     cols="300"
                                     required="#{cc.attrs.requiredAttributes.konzeptBeschreibungRequired}"
                                     requiredMessage="#{msg.prozessbaukasten_edit_bezeichnungRequiredMessage}"
                                     class="inputText konzept-beschreibung-input"
                                     validatorMessage="#{msg.prozessbaukasten_edit_bezeichnungRequiredMessage}"
                                     value="#{cc.attrs.konzept.beschreibung}">
                        <f:validateRegex pattern="^(?!\s*$)[\D\d]+"/>
                    </p:inputTextarea>
                </div>
            </div>

            <p:outputPanel id="konzeptAnhangPanel" class="konzept-bild-anhang">
                <div class="prozessbaukastenAttributeLabel requiredAttribute">
                    <p:outputLabel id="konzeptFileUploadInputLabel"

                                   class="requiredAttribute"
                                   value="#{msg.anhaenge}"/>
                </div>

                <prozessbaukasten:anhangDownloadLink id="downloadAnhangButton"
                                                     rendered="#{cc.attrs.konzept.anhang ne null}"
                                                     anhangDownloader="#{cc.attrs.anhangDownloader}"
                                                     anhang="#{cc.attrs.konzept.anhang}"
                />

                <prozessbaukasten:removeKonzeptAnhangButton id="removeAnhangButton"
                                                            anhang="#{cc.attrs.konzept.anhang}"
                                                            update="editForm:content:tabView:stammdatenTab:detailsPanel"
                                                            remove="#{cc.attrs.konzept.removeAnhang()}"/>


                <p:fileUpload id="konzeptFileUpload"
                              rendered="#{cc.attrs.konzept.anhang eq null}"
                              label="#{msg.hinzufuegenDnD}"
                              mode="advanced"
                              dragDropSupport="true"
                              allowTypes="/(\.|\/)(jpg|jpeg|png)$/"
                              invalidFileMessage="Es sind nur jpg oder png Bilder erlaubt!"
                              fileUploadListener="#{cc.attrs.anhangUploader.uploadAnhang}"
                              update="editForm:content:tabView:stammdatenTab:editKonzepte:konzepteRepeat:#{cc.attrs.index}:konzeptComponent:konzeptAnhangPanel"
                              auto="true"
                              multiple="false"
                              styleClass="prozessbaukastenAnhangUpload"
                              fileLimit="1"
                >
                </p:fileUpload>
            </p:outputPanel>

            <div class="konzept-action-buttons">
                <p:commandButton id="removeKonzeptButton"
                                 styleClass="right"
                                 value="Entfernen"
                                 immediate="true"
                                 update="editForm:content:tabView:stammdatenTab:detailsPanel"
                                 actionListener="#{cc.attrs.konzeptRemover.remove()}"/>
            </div>
        </div>
    </div>
</cc:implementation>
</html>
