<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite"
    xmlns:p="http://primefaces.org/ui"
    xmlns:prozessbaukasten="http://xmlns.jcp.org/jsf/composite/prozessbaukasten"
    xmlns:h="http://xmlns.jcp.org/jsf/html">

    <cc:interface>
        <cc:attribute required="true" name="anforderungenTab" type="de.interfaceag.bmw.pzbk.prozessbaukasten.edit.ProzessbaukastenAnforderungenEditTab" />
    </cc:interface>


    <cc:implementation>
        <h:outputStylesheet library="css" name="prozessbaukastenAnforderungenTab.css" />
        <h:outputStylesheet library="css" name="prozessbaukasten/selectManyCheckbox.css" />

        <p:outputPanel id="anforderungenTablePanel" class="glass-box anfoAnsichtBox beschreibung prozessbaukastenPanel">
            <prozessbaukasten:editTabAnforderungenTable id="anforderungenTabContent" anforderungenTab="#{cc.attrs.anforderungenTab}" />
        </p:outputPanel>
    </cc:implementation>

</ui:composition>
