<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true"  name="controller" type="de.interfaceag.bmw.pzbk.prozessbaukasten.view.ProzessbaukastenViewController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <p:commandLink id="editButton" action="#{cc.attrs.controller.edit()}" >
            <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_edit.png" class="glass"/>
        </p:commandLink>

        <p:tooltip showDelay="500"  for="editButton" value="#{msg.bearbeiten}"
                   showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                   trackMouse="true" position="none"/>

    </cc:implementation>
</html>
