<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
>

<cc:interface>
    <cc:attribute required="true" name="controller" type="de.interfaceag.bmw.pzbk.prozessbaukasten.view.ProzessbaukastenViewController"/>
</cc:interface>

<cc:implementation>

    <p:commandButton id="excelExportButton"
                     value="#{msg.excelExport}"
                     ajax="false"
                     actionListener="#{cc.attrs.controller.downloadExcelExport()}"
                     style="background: transparent; color: white;"
                     styleClass="margin-left-5px"
    />
</cc:implementation>
</html>
