<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true"  name="fachId" />
        <cc:attribute required="true"  name="version" />
        <cc:attribute required="true"  name="bild" />
        <cc:attribute required="true"  name="label" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:outputPanel id="grafikPanel" class="glass-box anfoAnsichtBox grafik" >
            <div class="box-header">#{cc.attrs.label}</div>
            <div class="box-content">
                <p:graphicImage id="previewImage"
                                value="#{image.getProzessbaukastenImage()}"
                                cache="false"
                                onclick="PF('#{cc.attrs.bild}detailPanel').show();">
                    <f:param name="fachId" value="#{cc.attrs.fachId}" />
                    <f:param name="version" value="#{cc.attrs.version}" />
                    <f:param name="bild" value="#{cc.attrs.bild}" />
                    <f:param name="isLargeImage" value="false" />
                </p:graphicImage>
            </div>
            <p:panel id="#{cc.attrs.bild}detailPanel"
                     widgetVar="#{cc.attrs.bild}detailPanel"
                     visible="false"
                     style="position: fixed; top: 50px; left: 50px; z-index: 1000;" >
                <p:graphicImage
                    cache="false"
                    value="#{image.getProzessbaukastenImage()}">
                    <f:param name="fachId" value="#{cc.attrs.fachId}" />
                    <f:param name="version" value="#{cc.attrs.version}" />
                    <f:param name="bild" value="#{cc.attrs.bild}" />
                    <f:param name="isLargeImage" value="true" />
                </p:graphicImage>
                <p:commandLink class="grafik-close-button" onclick="PF('#{cc.attrs.bild}detailPanel').close();">
                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_cancel.png"
                         class="glass grafik-close-button"
                         style="background-color: rgba(55, 102, 161, 0.3);"/>
                </p:commandLink>
            </p:panel>
        </p:outputPanel>
    </cc:implementation>
</html>
