<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true"  name="objectId" />
        <cc:attribute required="true"  name="fachId" />
        <cc:attribute required="true"  name="version" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:link id="historyButton" class="d-flex afViewHistoryButton"
                outcome="anforderungHistory"
                title="#{msg.zeigeHistorie}"
                >
            <f:param name="kennzeichen" value="P" />
            <f:param name="id" value="#{cc.attrs.objectId}" />
            <f:param name="fachId" value="#{cc.attrs.fachId}" />
            <f:param name="version" value="#{cc.attrs.version}" />
            <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_history.png" class="glass"/>
        </p:link>
    </cc:implementation>
</html>
