<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="attributeValue" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <h:outputStylesheet library="css" name="prozessbaukastenInfotextIcon.css" />

        <h:link onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: '#{cc.attrs.attributeValue}'}]); return false;"
                class="infotextLink">
            <span class="fa fa-info-circle op-80"/>
        </h:link>

    </cc:implementation>
</html>
