<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:prozessbaukasten="http://xmlns.jcp.org/jsf/composite/prozessbaukasten">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="stammdaten" type="de.interfaceag.bmw.pzbk.prozessbaukasten.view.ProzessbaukastenStammdatenTab" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <h:outputStylesheet library="css" name="prozessbaukasten/konzepteComponent.css" />

        <p:outputPanel rendered="#{cc.attrs.stammdaten.konzepte.size() ge 1}" class="konzepte-wrapper">

            <ui:repeat id="konzepteRepeat"
                       value="#{cc.attrs.stammdaten.konzepte}"
                       var="konzept" >

                <prozessbaukasten:konzept id="konzeptComponent"
                                          konzept="#{konzept}" />

            </ui:repeat>

        </p:outputPanel>

    </cc:implementation>
</html>
