<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true"  name="konzeptId" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:graphicImage id="konzeptImage"
                        onclick="PF('konzept#{cc.attrs.konzeptId}ImagePanel').show();"
                        styleClass="konzept-image"
                        value="#{image.getKonzeptImage()}"
                        cache="false"
                        >
            <f:param name="konzeptId" value="#{cc.attrs.konzeptId}" />
            <f:param name="isLargeImage" value="false" />
        </p:graphicImage>

        <p:outputPanel id="grafikPanel" class="glass-box anfoAnsichtBox grafik" >
            <p:panel id="konzept#{cc.attrs.konzeptId}ImagePanel"
                     widgetVar="konzept#{cc.attrs.konzeptId}ImagePanel"
                     visible="false"
                     styleClass="konzeptImageDetailPanel"
                     style="position: fixed; top: 50px; left: 50px; z-index: 1000;" >
                <p:graphicImage
                    cache="false"
                    value="#{image.getKonzeptImage()}">
                    <f:param name="konzeptId" value="#{cc.attrs.konzeptId}" />
                    <f:param name="isLargeImage" value="true" />
                </p:graphicImage>
                <p:commandLink class="grafik-close-button" onclick="PF('konzept#{cc.attrs.konzeptId}ImagePanel').close();">
                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_cancel.png"
                         class="glass grafik-close-button"
                         style="background-color: rgba(55, 102, 161, 0.3);"/>
                </p:commandLink>
            </p:panel>

        </p:outputPanel>
    </cc:implementation>
</html>
