<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="stammdaten" type="de.interfaceag.bmw.pzbk.prozessbaukasten.edit.ProzessbaukastenEditStammdatenTab" />
        <cc:attribute required="true" name="controller" type="de.interfaceag.bmw.pzbk.prozessbaukasten.edit.ProzessbaukastenEditController" />
        <cc:attribute required="true" name="requiredAttributes" type="de.interfaceag.bmw.pzbk.prozessbaukasten.edit.attributes.required.ProzessbaukastenRequiredAttributes" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <p:autoComplete id="leadTechnologieAutocomplete"
                        var="mitarbeiter"
                        panelStyleClass="mitarbeiterAutocompletePanel"
                        styleClass="mitarbeiterAutocomplete"
                        itemValue="#{mitarbeiter}"
                        itemLabel="#{mitarbeiter.toString()}"
                        value="#{cc.attrs.stammdaten.leadTechnologie}"
                        converter="#{cc.attrs.controller.mitarbeiterConverter}"
                        completeMethod="#{cc.attrs.controller.completeLeadTechnologie}"
                        required="#{cc.attrs.requiredAttributes.bezeichnungRequired}"
                        requiredMessage="#{msg.prozessbaukasten_edit_leadTechnologieRequiredMessage}"
                        >

            <h:outputText value="#{mitarbeiter.vorname}"/>
            <h:outputText value="#{mitarbeiter.nachname}"/>
            <h:outputText value="#{mitarbeiter.abteilung}"/>

        </p:autoComplete>

    </cc:implementation>
</html>
