<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true"  name="fachId" />
        <cc:attribute required="true"  name="version" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:outputStylesheet library="css" name="link/glassLink.css" />

        <p:link id="historyButton" class="d-flex afViewHistoryButton"
                outcome="anforderungEdit"
                target="_blank"
                styleClass="glass-link margin-left-5px"
                >
            <f:param name="pzbkFachId" value="#{cc.attrs.fachId}" />
            <f:param name="pzbkVersion" value="#{cc.attrs.version}" />
            <f:param name="new" value="true" />
            <h:outputLabel value="#{msg.prozessbaukasten_anforderungentab_button_neueAnforderung}" />
        </p:link>
    </cc:implementation>
</html>
