<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true"  name="fachId" />
        <cc:attribute required="true"  name="version" />
        <cc:attribute required="true"  name="status" />
        <cc:attribute required="true"  name="nextStatusList" />
        <cc:attribute required="true"  name="controller" type="de.interfaceag.bmw.pzbk.prozessbaukasten.view.ProzessbaukastenViewController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <ui:repeat id="gotoNextStatus"
                   var="st"
                   value="#{cc.attrs.nextStatusList}"
                   rendered="#{cc.attrs.status ne 'GELOESCHT' and cc.attrs.status ne 'STILLGELEGT'}">
            <p:commandButton id="changeStatusButton"
                             value="#{localizationService.getValue(st.actionName)}"
                             ajax="true"
                             immediate="true"
                             update="navbarCompForm:navbarForm:navbar:growl"
                             styleClass="changeStatusButton"
                             action="#{cc.attrs.controller.processStatusChange(st)}" />
            <p:tooltip showDelay="500"  for="changeStatusButton"
                       value="#{msg.statusWechseln} '#{localizationService.getValue(st.localizationKey)}'"
                       showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                       trackMouse="true" position="none"/>
        </ui:repeat>
    </cc:implementation>
</html>
