<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


    <cc:interface>
        <cc:attribute required="true" name="anforderungenTab" type="de.interfaceag.bmw.pzbk.prozessbaukasten.view.ProzessbaukastenAnforderungenTab" />
        <cc:attribute required="true" name="anforderungenTabReorder" type="de.interfaceag.bmw.pzbk.prozessbaukasten.view.ProzessbaukastenAnforderungenTabReorder" />
    </cc:interface>

    <cc:implementation>
        <p:dataTable value="#{cc.attrs.anforderungenTab.anforderungen}"
                     var="anforderung"
                     widgetVar="prozessbaukastenAnforderungenTabelle"
                     id="prozessbaukastenAnforderungenTabelle"
                     emptyMessage="#{msg.prozessbaukasten_anforderungentab_keineErgebnisse}"
                     class="glass-table prozessbaukastenAnforderungTable anforderungOrderTable"
                     rowIndexVar="rowIndex"
                     draggableRows="true"
                     >

            <p:ajax event="rowReorder"
                    listener="#{cc.attrs.anforderungenTabReorder.onRowReorder}"
                    />

            <p:column headerText="#{msg.prozessbaukasten_anforderungentab_anforderungsID}" filterBy="#{anforderung.fachIdAndVersion}" filterMatchMode="contains">
                <p:link outcome="anforderungView" value="#{anforderung.fachIdAndVersion}" style="color: black">
                    <f:param name="id" value="#{anforderung.id}" />
                    <f:param name="fachId" value="#{anforderung.fachId}" />
                    <f:param name="version" value="#{anforderung.version}" />
                </p:link>
            </p:column>

            <p:column headerText="#{msg.prozessbaukasten_anforderungentab_beschreibung}" filterBy="#{anforderung.beschreibung}" filterMatchMode="contains" style="min-width: 250px; max-width: 250px; width: 250px;">

                <p:outputLabel id="beschreibungTextFull"
                               class="bodyLabel"
                               value="#{anforderung.beschreibung}"
                               onclick="toggleBeschreibung(#{rowIndex})"
                               styleClass="displayNone vereinbarungBeschreibungText" />
                <p:outputLabel id="beschreibungTextPreview"
                               class="bodyLabel"
                               value="#{anforderung.beschreibungShort}"
                               onclick="toggleBeschreibung(#{rowIndex})"
                               styleClass="vereinbarungBeschreibungText" />
            </p:column>

            <p:column headerText="#{msg.prozessbaukasten_anforderungentab_anfGeber}"
                      filterBy="#{anforderung.sensorCoc}" filterMatchMode="contains">
                #{anforderung.sensorCoc}
            </p:column>

            <p:column headerText="#{msg.prozessbaukasten_anforderungentab_umsetzer}"
                      filterBy="#{anforderung.umsetzer}" filterMatchMode="contains">
                #{anforderung.umsetzer}
            </p:column>

            <p:column headerText="#{msg.prozessbaukasten_anforderungentab_konzept}"
                      filterBy="#{anforderung.konzept}" filterMatchMode="contains">
                #{anforderung.konzept}
            </p:column>
            <p:column headerText="#{msg.prozessbaukasten_anforderungentab_status}"
                      styleClass="text-align-center"
                      filterBy="#{anforderung.status}" filterMatchMode="contains">
                #{anforderung.status}
            </p:column>

        </p:dataTable>
    </cc:implementation>
</html>

