<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <div class="navbar">
            <div class="leftButtons" >
                <p:commandLink id="leftButton" onclick="redirectBack()" class="d-iflex">
                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_arrow_back.png" class="glass"/>
                </p:commandLink>
                <p:tooltip showDelay="500"  for="leftButton" value="#{msg.zurueck}"
                           showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                           trackMouse="true" position="none"/>

                <p:outputLabel id="bezeichnung"
                               value="#{msg.keineBerechtigung}"
                               class="anforderungMeldungStatus prozessbaukastenBezeichnung" />
            </div>
            <div class="rightButtons" >
            </div>
        </div>
    </cc:implementation>
</html>
