<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="anhang" type="de.interfaceag.bmw.pzbk.entities.Anhang" />
        <cc:attribute required="true" name="remove" method-signature="void f()" />
        <cc:attribute required="true" name="update" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:commandButton id="removeGrafikUmfang"
                         styleClass="removeButton"
                         rendered="#{cc.attrs.anhang ne null}"
                         icon="fa fa-fw fa-trash"
                         actionListener="#{cc.attrs.remove}"
                         update="#{cc.attrs.update}"
                         value="#{msg.loeschen}"
                         />
    </cc:implementation>
</html>
