<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite"
    xmlns:p="http://primefaces.org/ui"
    xmlns:prozessbaukasten="http://xmlns.jcp.org/jsf/composite/prozessbaukasten"
    xmlns:h="http://xmlns.jcp.org/jsf/html">

    <cc:interface>
        <cc:attribute required="true" name="anforderungenTab" type="de.interfaceag.bmw.pzbk.prozessbaukasten.view.ProzessbaukastenAnforderungenTab" />
        <cc:attribute required="false" name="controller" type="de.interfaceag.bmw.pzbk.prozessbaukasten.zuordnen.ZuordnungAufhebenDialogVerwaltung" />
        <cc:attribute required="true" name="viewPermission" type="de.interfaceag.bmw.pzbk.prozessbaukasten.view.ProzessbaukastenViewPermission"/>
    </cc:interface>


    <cc:implementation>

        <h:outputStylesheet library="css" name="prozessbaukastenAnforderungenTab.css" />

        <p:outputPanel id="anforderungenTablePanel" class="glass-box anfoAnsichtBox beschreibung prozessbaukastenPanel">

            <h:form id="anforderungenTableForm">
                <prozessbaukasten:tabAnforderungenTable id="anforderungenTabContentEditMode"
                                                        anforderungenTab="#{cc.attrs.anforderungenTab}"
                                                        viewPermission="#{cc.attrs.viewPermission}"
                                                        controller="#{cc.attrs.controller}"/>
            </h:form>
        </p:outputPanel>

    </cc:implementation>

</ui:composition>
