<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:prozessbaukasten="http://xmlns.jcp.org/jsf/composite/prozessbaukasten"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="anhangTab" type="de.interfaceag.bmw.pzbk.prozessbaukasten.view.ProzessbaukastenAnhangTab" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <h:form id="anhangTabForm">

            <h:outputStylesheet library="css" name="prozessbaukastenAnhaengeTab.css" />

            <p:outputPanel id="definierteAnhaengePanel" class="glass-box anfoAnsichtBox beschreibung definierteAnhaengePanel">
                <div class="box-header">#{msg.prozessbaukasten_definierter_anhang}</div>
                <div class="box-content row">
                    <div class="row prozessbaukastenAtrributeRow">
                        <div class="prozessbaukastenAttributeLabel">
                            #{msg.prozessbaukasten_startbrief}
                        </div>
                        <div class="infotextIcon">
                            <prozessbaukasten:infotextIcon attributeValue="prozessbaukastenAnhangStartbrief" />
                        </div>
                        <div class="prozessbaukastenAtrributeValue" >
                            <prozessbaukasten:anhangDownloadLink anhang="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.startbrief}"
                                                                 anhangDownloader="#{cc.attrs.anhangTab}" />
                        </div>
                    </div>

                    <div class="row prozessbaukastenAtrributeRow">
                        <div class="prozessbaukastenAttributeLabel">
                            #{msg.prozessbaukasten_grafikUmfang}
                        </div>
                        <div class="infotextIcon">
                            <prozessbaukasten:infotextIcon attributeValue="prozessbaukastenAnhangGrafikUmfang" />
                        </div>
                        <div class="prozessbaukastenAtrributeValue" >
                            <prozessbaukasten:anhangDownloadLink anhang="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.grafikUmfang}"
                                                                 anhangDownloader="#{cc.attrs.anhangTab}" />
                        </div>
                    </div>

                    <div class="row prozessbaukastenAtrributeRow">
                        <div class="prozessbaukastenAttributeLabel">
                            #{msg.prozessbaukasten_konzeptbaum}
                        </div>
                        <div class="infotextIcon">
                            <prozessbaukasten:infotextIcon attributeValue="prozessbaukastenAnhangKonzeptbaum" />
                        </div>
                        <div class="prozessbaukastenAtrributeValue" >
                            <prozessbaukasten:anhangDownloadLink anhang="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.konzeptbaum}"
                                                                 anhangDownloader="#{cc.attrs.anhangTab}" />
                        </div>
                    </div>

                    <div class="row prozessbaukastenAtrributeRow">
                        <div class="prozessbaukastenAttributeLabel">
                            #{msg.prozessbaukasten_beauftragungTPK}
                        </div>
                        <div class="infotextIcon">
                            <prozessbaukasten:infotextIcon attributeValue="prozessbaukastenAnhangBeauftragungTPK" />
                        </div>
                        <div class="prozessbaukastenAtrributeValue" >
                            <prozessbaukasten:anhangDownloadLink anhang="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.beauftragungTPK}"
                                                                 anhangDownloader="#{cc.attrs.anhangTab}" />
                        </div>
                    </div>

                    <div class="row prozessbaukastenAtrributeRow">
                        <div class="prozessbaukastenAttributeLabel">
                            #{msg.prozessbaukasten_genehmigungTPK}
                        </div>
                        <div class="infotextIcon">
                            <prozessbaukasten:infotextIcon attributeValue="prozessbaukastenAnhangGenehmigungTPK" />
                        </div>
                        <div class="prozessbaukastenAtrributeValue" >
                            <prozessbaukasten:anhangDownloadLink anhang="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.genehmigungTPK}"
                                                                 anhangDownloader="#{cc.attrs.anhangTab}" />
                        </div>
                    </div>
                </div>
            </p:outputPanel>

            <p:outputPanel id="weitereAnhaengePanel"
                           rendered="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.existWeitereAnhange}"
                           class="glass-box anfoAnsichtBox beschreibung verantwortlichkeitenPanel">
                <div class="box-header">#{msg.prozessbaukasten_zusatzlicher_anhange}</div>
                <div class="box-content">

                    <ui:repeat value="#{cc.attrs.anhangTab.prozessbaukastenAnhangTabData.weitereAnhaenge}"
                               var="anhang" >
                        <prozessbaukasten:anhangRow anhang="#{anhang}"
                                                    anhangTab="#{cc.attrs.anhangTab}" />
                    </ui:repeat>

                </div>
            </p:outputPanel>

        </h:form>

    </cc:implementation>
</html>
