<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:prozessbaukasten="http://xmlns.jcp.org/jsf/composite/prozessbaukasten"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<cc:interface>
    <cc:attribute required="true" name="anforderungenTab"
                  type="de.interfaceag.bmw.pzbk.prozessbaukasten.view.ProzessbaukastenAnforderungenTab"/>
    <cc:attribute required="true" name="controller"
                  type="de.interfaceag.bmw.pzbk.prozessbaukasten.zuordnen.ZuordnungAufhebenDialogVerwaltung"/>
    <cc:attribute required="true" name="viewPermission"
                  type="de.interfaceag.bmw.pzbk.prozessbaukasten.view.ProzessbaukastenViewPermission"/>
</cc:interface>

<cc:implementation>

    <h:outputStylesheet library="css" name="button/button.css" />
    <h:outputStylesheet library="css" name="prozessbaukasten/anforderungenTable.css" />

    <p:dataTable value="#{cc.attrs.anforderungenTab.anforderungen}"
                 var="anforderung"
                 widgetVar="prozessbaukastenAnforderungenTabelle"
                 id="prozessbaukastenAnforderungenTabelle"
                 filteredValue="#{cc.attrs.anforderungenTab.filteredAnforderungen}"
                 emptyMessage="#{msg.prozessbaukasten_anforderungentab_keineErgebnisse}"
                 class="glass-table prozessbaukastenAnforderungTable"
                 rowIndexVar="rowIndex"
    >

        <f:facet name="header">
            <div class="anforderungTableHeaderWrapper">
                <div id="left" class="anforderungTableHeaderWrapperLeft">
                    <p:commandButton id="anforderungOrderDialogButton"
                                     icon="fa fa-sort-amount-asc"
                                     rendered="#{cc.attrs.viewPermission.editButton}"
                                     onclick="PF('anforderungOrderDialogVar').show();"
                                     class="glass-button anforderungTableButton"
                    />
                </div>
                <div id="center" class="anforderungTableHeaderWrapperCenter">
                    <p:tooltip showDelay="500"
                               for="anforderungOrderDialogButton"
                               value="#{msg.prozessbaukasten_anforderung_order_button}"
                               showEvent="mouseover"
                               hideEvent="mouseout"
                               styleClass="anfoKommentTooltip"
                               trackMouse="false"
                               position="right"
                    />

                    <p:inputText id="globalFilter" onkeyup="PF('prozessbaukastenAnforderungenTabelle').filter()"
                                 styleClass="anforderungTableHeaderInput anforderungTableHeaderInputText"
                                 placeholder="#{msg.suche}"/>

                </div>
                <div id="right" class="anforderungTableHeaderWrapperRight">
                    <prozessbaukasten:excelExportButton controller="#{cc.attrs.controller}" />
                </div>
            </div>
        </f:facet>

        <p:column headerText="#{msg.prozessbaukasten_anforderungentab_anforderungsID}"
                  filterBy="#{anforderung.fachIdAndVersion}" filterMatchMode="contains">
            <p:link outcome="anforderungView" value="#{anforderung.fachIdAndVersion}" style="color: black">
                <f:param name="id" value="#{anforderung.id}"/>
                <f:param name="fachId" value="#{anforderung.fachId}"/>
                <f:param name="version" value="#{anforderung.version}"/>
            </p:link>
        </p:column>

        <p:column headerText="#{msg.prozessbaukasten_anforderungentab_beschreibung}"
                  filterBy="#{anforderung.beschreibung}" filterMatchMode="contains"
                  style="min-width: 250px; max-width: 250px; width: 250px;">

            <p:outputLabel id="beschreibungTextFull"
                           class="bodyLabel"
                           value="#{anforderung.beschreibung}"
                           onclick="toggleBeschreibung(#{rowIndex})"
                           styleClass="displayNone vereinbarungBeschreibungText"/>
            <p:outputLabel id="beschreibungTextPreview"
                           class="bodyLabel"
                           value="#{anforderung.beschreibungShort}"
                           onclick="toggleBeschreibung(#{rowIndex})"
                           styleClass="vereinbarungBeschreibungText"/>
        </p:column>

        <p:column headerText="#{msg.prozessbaukasten_anforderungentab_anfGeber}"
                  filterBy="#{anforderung.sensorCoc}" filterMatchMode="contains">
            <p:outputLabel value="#{anforderung.sensorCoc}"/>
        </p:column>

        <p:column headerText="#{msg.prozessbaukasten_anforderungentab_umsetzer}"
                  filterBy="#{anforderung.umsetzer}" filterMatchMode="contains">
            <p:outputLabel value="#{anforderung.umsetzer}"/>
        </p:column>

        <p:column headerText="#{msg.prozessbaukasten_anforderungentab_konzept}"
                  filterBy="#{anforderung.konzept}" filterMatchMode="contains">
            <p:outputLabel value="#{anforderung.konzept}"/>
        </p:column>

        <p:column headerText="#{msg.configuration_themenklammer}"
                  filterBy="#{anforderung.themenklammer}" filterMatchMode="contains">
            <p:outputLabel value="#{anforderung.themenklammer}"/>

        </p:column>

        <p:column headerText="#{msg.prozessbaukasten_anforderungentab_status}"
                  styleClass="text-align-center"
                  filterBy="#{anforderung.status}" filterMatchMode="contains">
            <p:outputLabel value="#{anforderung.status}"/>
        </p:column>

        <p:column style="width:30px">
            <p:commandLink id="zuordnungAufhebenLink"
                           title="#{msg.prozessbaukasten_zuordnungaufheben}"
                           immediate="true"
                           styleClass="removeAnforderungIcon"
                           actionListener="#{cc.attrs.controller.openZuordnungAufhebenDialog(anforderung)}"
                           rendered="#{!cc.attrs.controller.prozessbaukastenGueltig}"
            >
                <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"
                     width="16px" height="16px"/>
            </p:commandLink>
        </p:column>

    </p:dataTable>

</cc:implementation>
</html>

