<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:prozessbaukasten="http://xmlns.jcp.org/jsf/composite/prozessbaukasten"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <cc:interface>
        <cc:attribute required="true" name="stammdaten" type="de.interfaceag.bmw.pzbk.prozessbaukasten.view.ProzessbaukastenStammdatenTab" />
    </cc:interface>

    <cc:implementation>

        <h:outputStylesheet library="css" name="prozessbaukastenStammdatenTab.css" />

        <p:outputPanel id="prozessbaukastenPanel" class="glass-box anfoAnsichtBox beschreibung prozessbaukastenPanel">
            <div class="box-header">#{msg.prozessbaukasten}</div>
            <div class="box-content row">
                <div class="row prozessbaukastenAtrributeRow">
                    <div class="prozessbaukastenAttributeLabel">
                        #{msg.bezeichnung}
                    </div>
                    <div class="infotextIcon">
                        <prozessbaukasten:infotextIcon attributeValue="prozessbaukastenBezeichnung" />
                    </div>
                    <div class="prozessbaukastenAtrributeValue" >
                        #{cc.attrs.stammdaten.bezeichnung}
                    </div>
                </div>

                <div class="row prozessbaukastenAtrributeRow">
                    <div class="prozessbaukastenAttributeLabel">
                        #{msg.beschreibung}
                    </div>
                    <div class="infotextIcon">
                        <prozessbaukasten:infotextIcon attributeValue="prozessbaukastenBeschreibung" />
                    </div>
                    <div class="prozessbaukastenAtrributeValue" >
                        #{cc.attrs.stammdaten.beschreibung}
                    </div>
                </div>
            </div>
        </p:outputPanel>

        <p:outputPanel id="verantwortlichkeitenPanel" class="glass-box anfoAnsichtBox beschreibung verantwortlichkeitenPanel">
            <div class="box-header">#{msg.verantwortlichkeiten}</div>
            <div class="box-content">
                <div class="ui-g-6">
                    <div class="row prozessbaukastenAtrributeRow">
                        <div class="prozessbaukastenAttributeLabel">
                            #{msg.tteam}
                        </div>
                        <div class="infotextIcon">
                            <prozessbaukasten:infotextIcon attributeValue="prozessbaukastenTteam" />
                        </div>
                        <div class="prozessbaukastenAtrributeValue" >
                            #{cc.attrs.stammdaten.tteam}
                        </div>
                    </div>
                </div>

                <div class="ui-g-6">
                    <div class="row prozessbaukastenAtrributeRow">
                        <div class="prozessbaukastenAttributeLabel">
                            #{msg.teamleiter}                        </div>
                        <div class="infotextIcon">
                            <prozessbaukasten:infotextIcon attributeValue="prozessbaukastenTteamleiter" />
                        </div>
                        <div class="prozessbaukastenAtrributeValue" >
                            #{cc.attrs.stammdaten.tteamleiter}
                        </div>
                    </div>
                </div>

                <div class="ui-g-6" style="color: white;">
                    .
                </div>

                <div class="ui-g-6 ui-g-offset-6">
                    <div class="row prozessbaukastenAtrributeRow">
                        <div class="prozessbaukastenAttributeLabel">
                            #{msg.prozessbaukasten_leadTechnologie}
                        </div>
                        <div class="infotextIcon">
                            <prozessbaukasten:infotextIcon attributeValue="prozessbaukastenLeadTechnologie" />
                        </div>
                        <div class="prozessbaukastenAtrributeValue" >
                            #{cc.attrs.stammdaten.leadTechnologie}
                        </div>
                    </div>
                </div>

            </div>
        </p:outputPanel>

        <p:outputPanel id="detailsPanel" class="glass-box anfoAnsichtBox beschreibung detailsPanel">
            <div class="box-header">#{msg.details}</div>
            <div class="box-content row">
                <div class="row prozessbaukastenAtrributeRow">
                    <div class="prozessbaukastenAttributeLabel">
                        #{msg.prozessbaukasten_konzepte}
                    </div>
                    <div class="infotextIcon">
                        <prozessbaukasten:infotextIcon attributeValue="prozessbaukastenKonzept" />
                    </div>
                    <div class="prozessbaukastenAtrributeValue" >
                        <prozessbaukasten:konzepteComponent id="konzepte"
                                                            stammdaten="#{cc.attrs.stammdaten}"
                                                            />
                    </div>
                </div>

                <div class="row prozessbaukastenAtrributeRow">
                    <div class="prozessbaukastenAttributeLabel">
                        #{msg.prozessbaukasten_standardisierterFertigungsprozess}
                    </div>
                    <div class="infotextIcon">
                        <prozessbaukasten:infotextIcon attributeValue="prozessbaukastenStandFertigung" />
                    </div>
                    <div class="prozessbaukastenAtrributeValue" >
                        #{cc.attrs.stammdaten.standardisierterFertigungsprozess}
                    </div>
                </div>

                <p:outputPanel id="erstanlauferOutputPanel" class="row prozessbaukastenAtrributeRow"
                               rendered="#{!cc.attrs.stammdaten.erstanlaeufer ne null}"
                               >

                    <div class="prozessbaukastenAttributeLabel">
                        #{msg.prozessbaukasten_erstanlaufer}
                    </div>
                    <div class="infotextIcon">
                        <prozessbaukasten:infotextIcon attributeValue="prozessbaukastenErstanlaeufer" />
                    </div>
                    <div class="prozessbaukastenAtrributeValue" >
                        #{cc.attrs.stammdaten.erstanlaeufer}
                    </div>

                </p:outputPanel>

            </div>
        </p:outputPanel>

    </cc:implementation>
</html>
