<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:prozessbaukasten="http://xmlns.jcp.org/jsf/composite/prozessbaukasten">

<!-- INTERFACE -->
<cc:interface>
    <cc:attribute required="true" name="viewData"
                  type="de.interfaceag.bmw.pzbk.prozessbaukasten.view.ProzessbaukastenViewData"/>
    <cc:attribute required="true" name="viewPermission"
                  type="de.interfaceag.bmw.pzbk.prozessbaukasten.view.ProzessbaukastenViewPermission"/>
    <cc:attribute required="true" name="controller"
                  type="de.interfaceag.bmw.pzbk.prozessbaukasten.view.ProzessbaukastenViewController"/>
</cc:interface>

<!-- IMPLEMENTATION -->
<cc:implementation>
    <p:growl id="growl" sticky="false" severity="error" showDetail="true"/>
    <div class="navbar">
        <div class="leftButtons">
            <p:commandLink id="leftButton" onclick="redirectBack()" class="d-iflex">
                <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_arrow_back.png"
                     class="glass"/>
            </p:commandLink>
            <p:tooltip showDelay="500" for="leftButton" value="#{msg.zurueck}"
                       showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                       trackMouse="true" position="none"/>

            <p:outputLabel id="bezeichnung"
                           value="#{cc.attrs.viewData.bezeichnung}"
                           class="anforderungMeldungStatus prozessbaukastenBezeichnung"/>

            <p:menuButton id="prozessbaukastenVersionButton"
                          styleClass="margin-left-5px" iconPos="right"
                          value="#{msg.version}"
                          model="#{cc.attrs.controller.versionsMenuItems}"
            />

            <prozessbaukasten:newAnforderungButton id="prozessbaukastenNewAnforderungButton"
                                                   fachId="#{cc.attrs.viewData.fachId}"
                                                   version="#{cc.attrs.viewData.version}"
                                                   rendered="#{cc.attrs.viewPermission.newAnforderungButton}"
            />

            <p:commandButton id="prozessbaukastenZuordnenDialogButton"
                             value="#{msg.prozessbaukasten_anforderungenzuordnen_dialog_header}"
                             action="#{cc.attrs.controller.openZuordnenDialog()}"
                             styleClass="margin-left-5px"
                             rendered="#{cc.attrs.viewPermission.addAnforderungButton}"
            />

        </div>
        <div class="rightButtons">
            <prozessbaukasten:nextStatusButtons fachId="#{cc.attrs.viewData.fachId}"
                                                version="#{cc.attrs.viewData.version}"
                                                status="#{cc.attrs.viewData.status}"
                                                nextStatusList="#{cc.attrs.viewData.naechsteStatus}"
                                                controller="#{cc.attrs.controller}"
                                                rendered="#{cc.attrs.viewPermission.statusChangeButton}"
            />

            <prozessbaukasten:historyButton objectId="#{cc.attrs.viewData.id}"
                                            fachId="#{cc.attrs.viewData.fachId}"
                                            version="#{cc.attrs.viewData.version}"/>

            <prozessbaukasten:editButton id="editButton"
                                         controller="#{cc.attrs.controller}"
                                         rendered="#{cc.attrs.viewPermission.editButton}"
            />
        </div>
    </div>
</cc:implementation>
</html>
