<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:prozessbaukasten="http://xmlns.jcp.org/jsf/composite/prozessbaukasten"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true"  name="viewData" type="de.interfaceag.bmw.pzbk.prozessbaukasten.view.ProzessbaukastenViewData"/>
        <cc:attribute required="true" name="controller" type="de.interfaceag.bmw.pzbk.prozessbaukasten.view.ProzessbaukastenViewController" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <ui:decorate template="../../templates/tab-template.xhtml">
            <ui:define name="stammdaten">
                <prozessbaukasten:tabStammdaten id="stammdatenTab" stammdaten="#{cc.attrs.viewData}" />
            </ui:define>

            <ui:define name="anforderungen">
                <h:form id="zugeordneteAnforderungenForm">
                    <prozessbaukasten:tabAnforderungen id="anforderungenTab"
                                                       anforderungenTab="#{cc.attrs.viewData}"
                                                       controller="#{cc.attrs.controller}"
                                                       viewPermission="#{cc.attrs.controller.viewPermission}"
                                                       />
                </h:form>
            </ui:define>

            <ui:define name="anhaenge">
                <prozessbaukasten:tabAnhaenge id="anhangTab"
                                              anhangTab="#{cc.attrs.controller}" />
            </ui:define>            

            <ui:define id="grafiken" name="grafiken">
                <prozessbaukasten:grafikBox id="umfangGrafik"
                                            fachId="#{cc.attrs.viewData.fachId}"
                                            version="#{cc.attrs.viewData.version}"
                                            bild="grafikUmfang"
                                            label="#{msg.prozessbaukasten_grafikUmfang}" />
                <prozessbaukasten:grafikBox id="konzeptbaumGrafik"
                                            fachId="#{cc.attrs.viewData.fachId}"
                                            version="#{cc.attrs.viewData.version}"
                                            bild="konzeptbaum"
                                            label="#{msg.prozessbaukasten_konzeptbaum}" />
            </ui:define>

        </ui:decorate>
    </cc:implementation>
</html>
