<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:dialogs="http://xmlns.jcp.org/jsf/composite/dialogs">

    <cc:interface>
        <cc:attribute required="false" name="statusChangeMethodChangeDialog" type="de.interfaceag.bmw.pzbk.controller.dialogs.StatusChangeMethodChangeDialog" />
        <cc:attribute required="false" name="statusChangeNextStatusDialog" type="de.interfaceag.bmw.pzbk.controller.dialogs.StatusChangeNextStatusDialog" />
        <cc:attribute required="false" name="bezeichnungDialog" type="de.interfaceag.bmw.pzbk.controller.dialogs.StatusChangeNextStatusDialog" />
        <cc:attribute required="false" name="versionPlusCreateNewVersionDialog" type="de.interfaceag.bmw.pzbk.controller.dialogs.VersionPlusCreateNewVersionDialog" />
        <cc:attribute required="false" name="versionPlusKommentarDialog" type="de.interfaceag.bmw.pzbk.controller.dialogs.VersionPlusKommentarDialog" />
        <cc:attribute required="false" name="anforderungenProzessbaukastenZuordnenMethods" type="de.interfaceag.bmw.pzbk.prozessbaukasten.zuordnen.AnforderungenProzessbaukastenZuordnenDialogMethods"/>
        <cc:attribute required="false" name="anforderungenProzessbaukastenZuordnenFields" type="de.interfaceag.bmw.pzbk.prozessbaukasten.zuordnen.AnforderungenProzessbaukastenZuordnenDialogFields" />
        <cc:attribute required="false" name="zuordnungAufhebenViewFields" type="de.interfaceag.bmw.pzbk.prozessbaukasten.zuordnen.ZuordnungAufhebenDialogFields"/>
        <cc:attribute required="false" name="zuordnungAufhebenControllerMethods" type="de.interfaceag.bmw.pzbk.prozessbaukasten.zuordnen.ZuordnungAufhebenDialogMethods"/>
        <cc:attribute required="true" name="anforderungenTab" type="de.interfaceag.bmw.pzbk.prozessbaukasten.view.ProzessbaukastenAnforderungenTab" />
        <cc:attribute required="true" name="anforderungenTabReorder" type="de.interfaceag.bmw.pzbk.prozessbaukasten.view.ProzessbaukastenAnforderungenTabReorder" />
    </cc:interface>

    <cc:implementation>
        <h:form id="statusChangeForm">
            <p:dialog id="statusChangeDialog" class="customDialog"
                      dynamic="true"
                      header="#{msg.prozessbaukasten_view_statusWechselHeader}"
                      widgetVar="statusChangeDialog"
                      modal="true"
                      resizable="true"
                      width="600">
                <dialogs:statusChangeDialog id="statusChangeDlgContent" statusChangeMethodChangeDialog="#{cc.attrs.statusChangeMethodChangeDialog}" statusChangeNextStatusDialog="#{cc.attrs.statusChangeNextStatusDialog}" />
            </p:dialog>
        </h:form>

        <h:form id="infoAnzeigenForm">
            <p:dialog id="infoAnzeigenDialog" class="customDialog"
                      dynamic="true"
                      header="#{msg.details}"
                      widgetVar="infoAnzeigenDialog"
                      modal="true"
                      resizable="true"
                      width="800">
                <dialogs:infoAnzeigenDialog id="infoAnzeigenDlgContent" infotextController="#{infotextController}" />
            </p:dialog>
            <p:remoteCommand name="showInfoAnzeigenDialog" actionListener="#{infotextController.showInfoTextDialog}" update="infoAnzeigenForm" />
        </h:form>

        <h:form id="versionPlusForm">
            <p:dialog id="versionPlusDialog" class="customDialog"
                      dynamic="true"
                      header="#{msg.versionplus}"
                      widgetVar="versionPlusDialog"
                      modal="true"
                      resizable="true"
                      width="600">
                <dialogs:versionPlusDialog id="versionPlusDlgContent" versionPlusCreateNewVersionDialog="#{cc.attrs.versionPlusCreateNewVersionDialog}"
                                           versionPlusKommentarDialog="#{cc.attrs.versionPlusKommentarDialog}" />
            </p:dialog>
        </h:form>

        <h:form id="anforderungenZuordnenForm">
            <p:dialog id="anforderungenZuordnenDialog" class="customDialog"
                      dynamic="true"
                      header="#{msg.prozessbaukasten_anforderungenzuordnen_dialog_title}"
                      widgetVar="anforderungenProzessbaukatenZuordnenDialog"
                      modal="true"
                      resizable="true"
                      width="800">
                <dialogs:anforderungenProzessbaukastenZuordnenDialog id="anforderungZuordnenDialogContent" proceedMethods="#{cc.attrs.anforderungenProzessbaukastenZuordnenMethods}"
                                                                     viewFields="#{cc.attrs.anforderungenProzessbaukastenZuordnenFields}"  />
            </p:dialog>
        </h:form>

        <h:form id="zuordnungAufhebenForm">
            <p:dialog id="zuordnungAufhebenDialog" class="customDialog"
                      dynamic="true"
                      header="#{msg.prozessbaukasten_zuordnungaufheben_dialog_title}"
                      widgetVar="zuordnungAufhebenDialog"
                      modal="true"
                      resizable="true"
                      width="600">
                <dialogs:zuordnungAufhebenDialog id="zuordnungAufhebenDlgContent"
                                                 viewFields="#{cc.attrs.zuordnungAufhebenViewFields}"
                                                 controllerMethods="#{cc.attrs.zuordnungAufhebenControllerMethods}"/>
            </p:dialog>
        </h:form>

        <h:form id="anforderungOrderForm">
            <p:dialog id="anforderungOrderDialog"
                      class="customDialog anforderungOrderDialogWrapper"
                      dynamic="true"
                      header="#{msg.prozessbaukasten_anforderung_order_button}"
                      widgetVar="anforderungOrderDialogVar"
                      resizable="false"
                      closable="false"
                      width="1200">
                <dialogs:prozessbaukastenAnforderungOrderDialog id="anforderungOrderDialogContent"
                                                                anforderungenTab="#{cc.attrs.anforderungenTab}"
                                                                anforderungenTabReorder="#{cc.attrs.anforderungenTabReorder}"
                                                                />
            </p:dialog>
        </h:form>
    </cc:implementation>
</html>
