.topnav_wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    background: rgba(34, 35, 36, 0.8);
    z-index: 1;
    padding: 0 20px;
    border-bottom: 1px solid #3766a1;
}

.topnav_grid.ui-panelgrid.ui-widget {
    width: 100%;
    height: 100%;
}

.topnav_grid > tbody > tr > .ui-panelgrid-cell {
    padding: 0;
    border: 0;
    padding-right: 2px;
}

.topnav_grid tr.ui-widget-content {
    background: transparent;
    border: none;
}

.topnav_grid .logo {
    width: 185px;
}

.topnav_grid .logo img {
    display: block;
    height: 25px;
    padding-top: 11px;
    padding-bottom: 10px;
    margin-right: 15px;
}

@media (min-width: 1715px) {
    .top:not(.full-search) .topnav_grid .logo img {
        margin-right: calc((100vw - 1280px) / 2 - 195px); /*((screen-width - max-ui-width) /2 - (logo-width + padding-left))*/
    }
}

.topnav_grid .ui-panelgrid-cell.title {
    width: 23%;
    min-width: 165px;
    padding-left: 35px;
}

.topnav_grid .title .type {
    color: white;
    font-size: 1.3em;
    margin-right: 5px;
}

.topnav_grid .title .text {
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.topnav_grid .title label {
    vertical-align: middle;
}

.topnav_grid .title .version {
    color: white;
    font-size: 1.1em;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.topnav_grid .title .addition {
    color: #5189cd;
    font-size: 1em;
    padding-left: 5px;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
}


.topnav_grid .search {
}


.topnav_grid .menu {
    width: 148px;
}

.topnav_search_wrapper {
    display: flex;
    max-width: 584px;
    margin-left: 14px;
    height: 30px;
    border: 1px solid rgba(205, 205, 205, 0.8);
    border-radius: 3px;
}

.topnav_search_input {
    min-width: 280px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: #fff;
    border-radius: 2px 0px 0px 2px;
}


.topnav_wrapper .ui-inputfield.ui-state-focus,
.topnav_search_input > input,
.topnav_wrapper .ui-autocomplete-input.ui-inputfield.ui-widget.ui-corner-all {
    min-width: 200px;
    border-radius: 0;
    width: 100%;
    border: none !important;
    box-shadow: none;
    height: 22px;
    padding-left: 10px;
    background: transparent;
    color: white;
}

.topnav_search_menu {
    background: white;
    width: 100%;
    height: 100px;
    position: absolute;
    border: 1px solid lightgrey !important;
    border-radius: 0;
    display: none;
}

.topnav_arrow_link {
    position: absolute;
    margin-top: 6px;
    margin-left: 7px;
    z-index: 1;
}

.topnav_arrow {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    height: 20px;
}

.topnav_search_link {
    background: rgba(81, 137, 205, 0.7);
    width: 45px;
    border-radius: 0 2px 2px 0px;
    margin-left: 0px;
    margin-right: 0px;
    z-index: 1;
}

.topnav_search_link:hover {
    background: rgba(81, 137, 205, 1);
    cursor: pointer;
}

.topnav_search {
    height: 20px;
    margin-top: 5px;
    margin-left: 11px;
    opacity: 1;
}

.topnav_menu_wrapper {
    display: table;
    margin-left: 55px;
    vertical-align: middle;
}

.topnav_menu_wrapper > div:not(.topnav_popup) {
    display: table-cell;
    vertical-align: middle;
}

.topnav_profile_icon {
    padding: 2px;
    color: white;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
    width: 24px;
    height: 22px;
    font-size: 14px;
    border: 1px solid white;
    line-height: 22px;
}

.topnav_profile_icon *:hover,
.topnav_profile_icon:hover {
    cursor: pointer;
}

.topnav_profile_link.ui-widget {
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}

.topnav_profile_link:hover {
    text-decoration: underline;
}

.topnav_popup {
    background: rgba(34, 35, 36, 0.9);
    border: 1px solid #3766a1;
    border-radius: 3px;
    padding: 15px;
    box-sizing: border-box;
    position: absolute;
    top: 55px;
}

.topnav_popup * {
    color: white;
}

.topnav_popup:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 8px solid transparent;
    border-bottom: 8px solid #5189CD;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    right: 6px;
    top: -16px;
}

.topnav_profile_menu {
    right: 26px;
    min-height: 240px;
    min-width: 200px;
    padding-bottom: 15px;
}

.topnav_profile_menu .info_wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.topnav_profile_menu .info_profile_icon_wrapper {
    display: table;
    margin: 10px auto;
}

.topnav_profile_menu .info_profile_icon {
    padding: 2px;
    background: #5189CD;
    color: white;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 65px;
    height: 65px;
    font-size: 14px;
}

.topnav_profile_menu .topnav_menu_logout_wrapper {
    margin: auto;
    text-align: center;
    position: absolute;
    bottom: 25px;
    width: calc(100% - 30px);
}

.topnav_profile_menu .topnav_menu_logout {
    border: 1px solid #5189CD;
    border-radius: 3px;
    padding: 5px 35px;
    color: #5189CD;
    text-decoration: none;
}

.topnav_profile_menu .topnav_menu_logout:hover {
    background: rgba(81, 137, 205, 0.3);
    border: 1px solid #5189CD;
    color: white;
}

.topnav_popup .menu_grid {
    width: 100%;
    margin-top: 5px;
}

.topnav_notif_menu .items .menu_grid {
    margin-top: 0px;
}

.topnav_notif_menu .items .menu_grid.first-item-body {
    margin-top: 5px;
}

.topnav_popup .menu_grid tr.zero {
    opacity: 0.5;
}

.topnav_popup .menu_grid tr:not(.zero) *:hover,
.topnav_popup .menu_grid tr:hover:not(.zero) {
    background: #5189cd;
    cursor: pointer;
}

.topnav_popup .menu_grid tr .ui-commandlink.ui-widget.topnav_menu_link {
    color: white;
}

.topnav_popup .menu_grid .topnav_menu_link {
    text-decoration: none;
}

.topnav_popup .menu_grid td.ui-panelgrid-cell {
    border: none;
}

.topnav_profile_menu .ui-panelgrid td.ui-panelgrid-cell {
    padding: 0px;
}

.topnav_profile_menu .ui-panelgrid td.ui-panelgrid-cell td.ui-panelgrid-cell {
    padding: 5px 10px;
}

.topnav_popup .menu_grid td.ui-panelgrid-cell img.item_icon {
    height: 24px;
    width: 24px;
}

.topnav_popup .menu_grid td.ui-panelgrid-cell tr.ui-widget-content {
    display: inherit;
}

.topnav_popup .menu_grid td.ui-panelgrid-cell img.item_icon_small {
    height: 1em;
    width: 1em;
    display: block;
}


.topnav_icon_wrapper {
    padding-right: 15px;
}

.topnav_icon_wrapper .topnav_icon {
    display: flex;
}

.topnav_icon_wrapper .topnav_icon img {
    height: 28px;
}

.topnav_icon_wrapper .topnav_icon img:hover {
    cursor: pointer;
}

.topnav_notif_menu {
    right: 109px;
}

.topnav_notif_menu .menu_grid td.ui-panelgrid-cell.label label {
    padding: 0px 4px;
    border-right: 2px solid rgba(255, 255, 255, 0.15);
}

.topnav_notif_menu .menu_grid td.ui-panelgrid-cell.label label:last-of-type {
    border: none;
}

.topnav_notif_menu .menu_grid td.ui-panelgrid-cell.amount {
    font-size: 15px;
    font-weight: bold;
}

.topnav_notif_menu .menu_grid td.ui-panelgrid-cell.amount label.zero {
    opacity: 0.65;
    font-weight: normal;
    color: inherit;
}

.topnav_notif_menu .menu_grid td.ui-panelgrid-cell.amount label {
    color: #5189CD;
}

.topnav_popup .menu_grid tr:hover:not(.zero) td.ui-panelgrid-cell.amount label {
    color: white;
}

.topnav_popup .items {
    max-width: 280px;
    margin: auto;
}

.topnav_popup .items_header {
    padding-bottom: 8px;
    border-bottom: 1px solid #5189cd;
    padding-right: 11px;
    margin-top: 15px;
}

.topnav_popup .items_header.first-item-header {
    margin-top: 0;
}

.topnav_popup .menu_grid .label {
    width: 100%;
}

.topnav_actions_menu {
    right: 70px;
    max-width: 245px;
    padding-top: 0px;
    min-width: 230px;
}

/* ---------- secnavbar ----------- */
.secNavBar > form,
.secNavBar > div {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: inline-table;
}

.secNavBar .buttons-wrapper {
    width: 100%;
    vertical-align: middle;
    display: table-cell;
    padding-bottom: 10px;
    padding-top: 20px;
    min-width: 984px;
}

.secNavBar .buttons-wrapper .right {
    display: table-cell;
    white-space: nowrap;
}

.secNavBar .buttons-wrapper .left {
    float: left;
}

.secNavBar .buttons-wrapper .right {
    float: right;
}

.secNavBar .buttons-wrapper .right > div {
    display: inline-block;
    vertical-align: middle;
}

.secNavBar .ui-button.ui-widget.ui-state-default.ui-corner-all,
.secNavBar button {
    border-radius: 3px;
    background: rgba(29, 33, 41, 0.3);
    box-shadow: 0 0;
    text-shadow: 0 0;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(204, 204, 204, 0.7);
}

.secNavBar .ui-commandlink {
    margin-right: 3px;
}

.editButtonWrapper {
    margin-right: -3px;
}


.secNavBar .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-state-hover,
.secNavBar button:hover,
.secNavBar .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-state-active,
.secNavBar button:active {
    background: rgba(81, 137, 205, 0.3);
    border-color: #5189CD;
}


/*Save Search Icon*/
.topnav_save-search_wrapper {
    position: absolute;
    top: 9px;
    margin-left: 604px;
    background: rgba(255, 255, 255, 0.1);
    padding: 2px 6px 0px 6px;
    border: 1px solid rgba(205, 205, 205, 0.8);
    border-radius: 3px;
    opacity: 0.8;
    height: 28px;
}

.topnav_save-search_wrapper:hover {
    background: rgba(81, 137, 205, 0.7);
    opacity: 1;
    cursor: pointer;
}

.save-search_actions_menu {
    margin-left: 230px;
    width: 412px;
}

.save-search_actions_menu a {
    text-decoration: none;
}

.save-search_popup {
    background: rgba(34, 35, 36, 0.9);
    border: 1px solid #3766a1;
    border-radius: 3px;
    padding: 15px;
    padding-bottom: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 55px;
    z-index: 10;
    display: block;
}

.save-search_popup * {
    color: white;
}

.save-search_popup:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 8px solid transparent;
    border-bottom: 8px solid #5189CD;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    right: 10px;
    top: -16px;
}

.save-search_popup .menu_grid {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.save-search_popup .menu_grid tr.zero {
    opacity: 0.5;
}

.save-search_popup .menu_grid tr:not(.zero) *:hover,
.save-search_popup .menu_grid tr:hover:not(.zero) {
}

.save-search_popup .menu_grid tr .ui-commandlink.ui-widget.save-search_menu_link {
    color: white;
}

.save-search_popup .menu_grid .save-search_menu_link {
    text-decoration: none;
}

.save-search_popup .menu_grid td.ui-panelgrid-cell {
    border: none;
}

.save-search_popup .menu_grid td.ui-panelgrid-cell img.item_icon {
    height: 24px;
    width: 24px;
    display: block;
}

.save-search_popup .menu_grid td.ui-panelgrid-cell img.item_icon_small {
    height: 1em;
    width: 1em;
    display: block;
}

.save-search_popup .menu_grid tr td.ui-panelgrid-cell:first-of-type {
    padding-right: 5px;
    padding-top: 5px;
    padding-left: 5px;
}

.save-search_popup .menu_grid tr:hover:not(.zero) td.ui-panelgrid-cell.amount label {
    color: white;
}

.save-search_popup .items {
    max-width: 468px;
    margin: auto;
}

.save-search_popup .items_header {
    padding-bottom: 10px;
    border-bottom: 1px solid #5189cd;
    padding-right: 11px;
    margin-top: 15px;
}

.save-search_popup .items_header:first-of-type {
    margin-top: 0;
}

.save-search_popup .items_footer {
    padding-top: 0px;
    border-top: 1px solid #5189cd;
    margin-bottom: 0px;
}

.save-search_popup .menu_grid tr .ui-commandlink.ui-widget.save-search_menu_link {
    color: white;
}

.save-search_popup .menu_grid .save-search_menu_link {
    text-decoration: none;
}

.save-search_popup .ui-panelgrid.ui-widget.menu_grid {
    margin: 10px 0px 5px 0px;
}

.save-search_popup .ui-panelgrid.ui-widget.menu_grid.save-search-inputfield-grid {
    margin: 6px 0px 0px 0px;
}

.save-search_popup .ui-widget-content .ui-inputfield.save-search-inputfield {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid transparent;
    width: 334px;
    height: 18px;
    padding: 2px 5px 2px 9px;
    color: white;
    margin-top: -2px;
    border-radius: 0px;
}

.save-search_popup .ui-widget-content .ui-inputfield.save-search-inputfield.ui-state-focus,
.save-search_popup .ui-widget-content .ui-inputfield.save-search-inputfield.ui-state-hover {
    border: 1px solid #5189CD !important;
}

.save-search_popup .ui-widget-content .ui-inputfield.save-search-inputfield.edit-name {
    width: 278px;
    margin-top: 1px;
    margin-left: 5px;
    padding-left: 4px;
}

.save-search_popup .ui-widget-content .ui-panelgrid-cell.icon {
    padding: 5px 5px 5px 0px;
    width: 20px;
}

.save-search_popup .items_footer .ui-widget-content .ui-panelgrid-cell.icon {
    padding-right: 0px;
}

.save-search_popup .menu_grid.save-search-inputfield-grid tr td.ui-panelgrid-cell.label:first-of-type {
    padding: 0px;
    padding-top: 2px;
}

.save-search_actions_menu .items_header label.ui-outputlabel.ui-widget.label {
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.65);
}

.save-search_popup .menu_grid .ui-datatable-tablewrapper .ui-widget-content {
    background: transparent;
}

.save-search_popup .menu_grid thead {
    display: none;
}

.save-search_actions_menu .ui-datatable.menu_grid .ui-datatable-data tr {
    border: none;
}

.save-search_actions_menu .ui-datatable.menu_grid .ui-datatable-data tr:not(:last-of-type) {
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
}

.save-search_actions_menu .ui-datatable.menu_grid .ui-panelgrid-cell.icon.right {
    padding-top: 5px;
}

@media (max-width: 1300px) {
    .topnav_save-search_wrapper {
        margin-left: 430px;
    }

    .topnav_search_wrapper {
        width: 414px;
        margin-left: 12px;
    }

    .save-search_actions_menu {
        margin-left: 57px;
    }

    .topnav_grid .ui-panelgrid-cell.title {
        padding-left: 0px;
    }
}

.imgButton,
.ui-button.ui-widget.ui-state-default.ui-corner-all.imgButton {
    background-repeat: no-repeat;
    background-position: center;
    width: 22px;
    height: 22px;
    position: absolute;
    border: 1px solid transparent;
    opacity: 0.9;
}

.imgButton.ui-state-hover,
.imgButton.ui-state-focus,
.ui-button.ui-widget.ui-state-default.ui-corner-all.imgButton.ui-state-focus.ui-state-hover {
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    box-shadow: none;
    opacity: 1;
    cursor: pointer;
}

.imgButtonGlass {
    width: 22px;
    height: 22px;
}

.imgButtonGlass:hover {
    cursor: pointer;
}

.ui-widget-content .ui-state-default.loeschenButton {
    background: url("#{request.contextPath}/resources/images/icons/white/icon-trash.png");
    background-size: 12px;
}

.ui-state-default.loeschenButton.ui-state-hover,
.ui-state-default.loeschenButton.ui-state-focus,
.ui-state-default.loeschenButton.ui-state-focus.ui-state-hover {
    background: url("#{request.contextPath}/resources/images/icons/white/icon-trash.png");
    background-size: 12px;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.imgButton.speichernButton,
.speichernButton {
    background: url("#{request.contextPath}/resources/images/icons/white/icon_save.png");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.imgButton.speichernButton:hover,
.ui-button.ui-widget.ui-state-default.ui-corner-all.imgButton.speichernButton.ui-state-focus,
.speichernButton.ui-state-hover,
.speichernButton.ui-state-focus {
    background: url("#{request.contextPath}/resources/images/icons/white/icon_save.png");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
}

.save-search_popup .ui-widget-content .ui-panelgrid-cell.icon .ui-row-editor {
    border-radius: 3px;
    padding: 3px;
    border: 1px solid #ccc;
}

.ui-state-default.loeschenButton {
    background: url("#{request.contextPath}/resources/images/icons/white/icon-trash.png");
    background-size: 12px;
}

.ui-state-default.loeschenButton.ui-state-hover,
.ui-state-default.loeschenButton.ui-state-focus,
.ui-state-default.loeschenButton.ui-state-focus.ui-state-hover {
    background: url("#{request.contextPath}/resources/images/icons/white/icon-trash.png");
    background-size: 12px;
}

.save-search_popup .ui-widget-content .ui-row-editor.ui-helper-clearfix.d-iflex.bearbeitenButton.imgButton {
    width: 60px;
    height: 16px;
    border: none;
    padding: 0px;
    margin-top: -9px;
}

.save-search_popup .ui-widget-content .ui-row-editor.ui-helper-clearfix.d-iflex.bearbeitenButton.imgButton .ui-icon:hover,
.save-search_popup .ui-widget-content .ui-row-editor.ui-helper-clearfix.d-iflex.bearbeitenButton.imgButton .ui-icon:active {
    border-color: #5189CD;
}

.save-search_popup .ui-widget-content .ui-row-editor.ui-helper-clearfix.d-iflex.bearbeitenButton.imgButton .ui-icon.ui-icon-pencil {
    border-radius: 3px;
    padding: 3px;
    border: 1px solid #ccc;
    width: 12px;
    height: 12px;
    margin-left: 2px;
}

.save-search_popup .ui-widget-content .ui-row-editor.ui-helper-clearfix.d-iflex.bearbeitenButton.imgButton .ui-icon.ui-icon-check {
    border-radius: 3px;
    padding: 3px;
    border: 1px solid #ccc;
    width: 12px;
    height: 12px;
    margin-top: 0px;
    margin-left: 2px;
}


.ui-button.ui-widget.ui-state-default.ui-corner-all.imgButton.loeschenButton {
    width: 18px;
    height: 18px;
}

.imgButtonSmall {
    width: 18px;
    height: 18px;
}

.save-search_actions_menu .ui-datatable.menu_grid .ui-panelgrid-cell.icon.right.loeschenCol {
    padding-right: 4px;
    padding-top: 7px;
}

.save-search_actions_menu .ui-datatable.menu_grid .ui-panelgrid-cell.icon.edit {
    width: 22px;
    padding-top: 4px;
}

.ui-widget-content.ui-datatable-even.ui-state-highlight.ui-row-editing:first-of-type ~ .ui-widget-content .ui-panelgrid-cell.icon.right.loeschenCol,
.ui-widget-content.ui-datatable-even.ui-state-highlight.ui-row-editing:first-of-type .ui-panelgrid-cell.icon.right.loeschenCol {
    padding-right: 0px;
    margin-right: 0px;
}

.save-search_popup .ui-datatable .ui-row-editor.ui-helper-clearfix.d-iflex.bearbeitenButton.imgButton .ui-icon-pencil {
    background-image: url("#{request.contextPath}/resources/images/icons/white/icon_edit.png");
    background-position: center;
    background-size: 12px 12px;
    background-repeat: no-repeat;
}

.save-search_popup .ui-datatable .ui-row-editor.ui-helper-clearfix.d-iflex.bearbeitenButton.imgButton .ui-icon-close {
    background-image: url("#{request.contextPath}/resources/images/icons/white/icon_cancel.png");
    background-position: center;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    width: 0px;
    height: 0px;
    display: none;
    visibility: hidden;
}

.save-search_popup .ui-datatable .ui-row-editor.ui-helper-clearfix.d-iflex.bearbeitenButton.imgButton .ui-icon-check {
    background-image: url("#{request.contextPath}/resources/images/icons/white/icon_check.png");
    background-position: center;
    background-size: 12px 12px;
    background-repeat: no-repeat;
}

.save-search_popup .ui-datatable .ui-widget-content .ui-row-editor.ui-helper-clearfix.d-iflex.bearbeitenButton.imgButton .ui-icon-pencil:hover,
.save-search_popup .ui-datatable .ui-widget-content .ui-row-editor.ui-helper-clearfix.d-iflex.bearbeitenButton.imgButton .ui-icon-check:hover {
    border: 1px solid #5189CD;
    background-color: rgba(81, 137, 205, 0.3);
}

.plus {
    height: 16px;
    width: 16px;
    background:  url("#{resource['images/icons/white/icon_plus.png']}") no-repeat !important;
    background-size: 16px 16px !important;
    padding-right: 5px;
}

label.ui-outputlabel.ui-widget.label {
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.65);
}

.topnav_filtermenu .ui-selectcheckboxmenu-trigger {
    width: 20px;
}

.topnav_filtermenu .ui-selectcheckboxmenu-trigger .ui-icon.ui-icon-triangle-1-s {
    margin-top: 7px;
    margin-left: 2px;
}

.topnav_filtermenu.ui-selectcheckboxmenu .ui-selectcheckboxmenu-label {
    margin-top: 1px;
}

.ui-autocomplete-multiple-container.ui-inputfield {
    padding: 1px;
}

.topnav_search_wrapper .ui-autocomplete-multiple-container .ui-autocomplete-token.ui-state-active.ui-corner-all {
    background: rgba(34, 35, 36, 0.7);
}

.ui-menu.ui-widget.ui-widget-content.ui-corner-all.ui-helper-clearfix.dashboardMenu {
    width: 100%;
    overflow: hidden;
}