
.ui-button.ui-widget.ui-state-default.ui-corner-all.save-search-icon {
    background: url(#{request.contextPath}/resources/images/icons/white/icon-save-search-2.png);
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 26px;
    height: 25px;
    font-size: 1em;
}

/* design for all buttons in the content-navigation */
.contentNav .ui-button.ui-widget.ui-state-default.ui-corner-all, .contentNav button {
    border-radius: 3px;
    background-color: rgba(29, 33, 41, 0.3);
    box-shadow: 0 0;
    text-shadow: 0 0;
    font-weight: normal;
    color: rgb(255, 255, 255);
}

@supports (--css: variables) {
    .contentNav .ui-button.ui-widget.ui-state-default.ui-corner-all, .contentNav button {
        background-color: var(--grey_1d2129_03);
        color: var(--white);
    }
}

.ui-button.ui-widget.ui-state-default.ui-corner-all:hover, button:hover {
    background-color: rgba(81, 137, 205, 0.3);
    border: 1px rgb(81, 137, 205);
}

@supports (--css: variables) {
    .ui-button.ui-widget.ui-state-default.ui-corner-all:hover, button:hover {
        background-color: var(--blue_5189cd_03);
        border: 1px solid var(--blue_5189cd);
    }
}

.button-selectbox .show-more-left, .button-selectbox .show-more-right {
    display: inline-flex;
    height: 100%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.15);
}

@supports (--css: variables) {
    .button-selectbox .show-more-left, .button-selectbox .show-more-right {
        background: var(--white_015);
    }
}

.button-selectbox .show-more-left {
    border-radius: 3px 0 0 3px;
    border-right: 1px solid rgb(255, 255, 255);;
}

@supports (--css: variables) {
    .button-selectbox .show-more-left {
        border-right: 1px solid var(--white_05);
    }
}

.button-selectbox .show-more-right {
    border-radius: 0 3px 3px 0;
}

.button-selectbox .show-more-left span,
.button-selectbox .show-more-right span {
    height: 1em;
    padding: .3em;
    border: 1px solid transparent;
}


.button-selectbox button.ui-button.ui-widget.ui-corner-all {
    border-radius: 0;
    margin: 0;
    background: transparent;
    color: rgba(255, 255, 255, 0.7);
    border: 0 rgba(255, 255, 255, 0.5);
    border-right: 1px solid;
}

@supports (--css: variables) {
    .button-selectbox button.ui-button.ui-widget.ui-corner-all {
        color: var(--white_07);
        border-color: var(--white_05);
    }
}

.button-selectbox button.ui-button.ui-widget.ui-corner-all:last-of-type {
    border-right: 0;
}

.button-selectbox.bg-white button.ui-button.ui-widget.ui-corner-all {
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgb(255, 255, 255);
}

.button-selectbox button.ui-button.ui-widget.ui-corner-all > span {
    background: rgb(255, 255, 255);
}

.button-selectbox button.ui-button.ui-widget.ui-corner-all.ui-state-active:not(.selected),
.button-selectbox button.ui-button.ui-widget.ui-corner-all.ui-state-hover:not(.selected) {
    color: rgb(81, 137, 205);
    background: transparent;
}

.button-selectbox button.ui-button.ui-widget.ui-corner-all.selected > span {
    background: rgba(81, 137, 205, 0.7);
}

@supports (--css: variables) {
    .button-selectbox.bg-white button.ui-button.ui-widget.ui-corner-all {
        border: 1px solid var(--white_03);
        color: var(--white);
    }

    .button-selectbox button.ui-button.ui-widget.ui-corner-all.ui-state-active:not(.selected),
    .button-selectbox button.ui-button.ui-widget.ui-corner-all.ui-state-hover:not(.selected) {
        color: var(--blue_5189cd);
    }

    .button-selectbox button.ui-button.ui-widget.ui-corner-all.selected > span {
        background: var(--blue_5189cd_07);
    }

    .button-selectbox button.ui-button.ui-widget.ui-corner-all:first-of-type > span,
    .button-selectbox button.ui-button.ui-widget.ui-corner-all:first-of-type {
        border-radius: 3px 0 0 3px;
    }

    .button-selectbox button.ui-button.ui-widget.ui-corner-all:last-of-type > span,
    .button-selectbox button.ui-button.ui-widget.ui-corner-all:last-of-type {
        border-radius: 0 3px 3px 0;
    }

    .button-selectbox button.ui-button.ui-widget.ui-corner-all:last-of-type:first-of-type > span,
    .button-selectbox button.ui-button.ui-widget.ui-corner-all:last-of-type:first-of-type {
        border-radius: 3px;
    }
}

.button-selectbox.more-than-one button.ui-button.ui-widget.ui-corner-all:last-of-type:first-of-type > span,
.button-selectbox.more-than-one button.ui-button.ui-widget.ui-corner-all:last-of-type:first-of-type {
    display: none;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only {
    margin-right: 0px;
}

.button-selectbox.bg-white button.ui-button.ui-widget.ui-corner-all,
.button-selectbox.bg-white button.ui-button.ui-widget.ui-corner-all.ui-state-active:not(.selected),
.button-selectbox.bg-white button.ui-button.ui-widget.ui-corner-all.ui-state-hover:not(.selected),
.glass-button.ui-button.ui-widget.ui-state-default.ui-corner-all,
button.glass-button,
#dialog .ui-widget-content .ui-datatable .ui-datatable-scrollable-body tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-highlight {
    background: url("#{request.contextPath}/resources/images/bg/db_bg_10-blurred.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(34, 35, 36, 0.90);
    text-shadow: none;
    color: rgb(255, 255, 255);
    border: 1px solid  rgba(255, 255, 255, 0.7);
}

.glass-button .ui-autocomplete-token.ui-state-active,
.glass-button .ui-autocomplete-dropdown.ui-button.ui-widget.ui-button-icon-only,
.ui-selectonemenu.glass-button .ui-selectonemenu-trigger.ui-corner-right,
.ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-highlight,
.ui-datatable tbody tr.ui-widget-content.ui-datatable-selectable.ui-state-hover,
.ui-datatable tbody tr.ui-widget-content.ui-state-highlight,
.ui-datatable tbody tr.ui-widget-content:hover {
    background: transparent;
    text-shadow: none;
    color: rgb(79, 79, 79);
}

/*Booleanbutton*/
.ui-button.ui-button-text-only.ui-selectbooleanbutton .ui-button-text {
    background: rgba(29, 33, 41, 0.3);
    border: 1px solid rgba(29, 33, 41, 0.2);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    text-shadow: none;
    padding: 3px 8px;
}

@supports (--css: variables) {
    .ui-button.ui-button-text-only.ui-selectbooleanbutton .ui-button-text {
        background: var(--grey_1d2129_03);
        border: 1px solid var(--grey_1d2129_02);
        color: var(--white);
    }
}

.ui-button.ui-button-text-only.ui-selectbooleanbutton.ui-state-active .ui-button-text {
    background: rgba(81, 137, 205, 0.6);
    border: 1px solid rgba(29, 33, 41, 0.2);
}

@supports (--css: variables) {
    .ui-button.ui-button-text-only.ui-selectbooleanbutton.ui-state-active .ui-button-text {
        background: var(--blue_5189cd_06);
        border: 1px solid var(--grey_1d2129_02);
    }
}

.ui-button.ui-button-text-only.ui-selectbooleanbutton.ui-state-active:hover .ui-button-text,
.ui-button.ui-button-text-only.ui-selectbooleanbutton:hover .ui-button-text {
    background: rgba(66, 121, 190, 0.9);
    border: 1px solid rgba(18, 48, 84, 0.35);
    cursor: pointer;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all, button {
    border-radius: 3px;
    box-shadow: 0 0;
    text-shadow: 0 0;
    font-weight: normal;
    color: #222324;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass-button.ui-button.ui-widget.ui-state-default.ui-corner-all,
button.glass-button {
    color: rgb(255, 255, 255);
}

.glass-button.ui-button.ui-widget.ui-state-default.ui-corner-all > .ui-button-text,
button.glass-button > .ui-button-text {
    background: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0.3);
}

.glass-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-state-hover > span,
button.glass-button:hover > span {
    /* color: rgb(81, 137, 205); */
}

.glass-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-state-active > span,
button.glass-button:active > span {
    color: rgb(81, 137, 205);
}

.glass-button .ui-autocomplete-dropdown.ui-button.ui-widget.ui-button-icon-only .ui-button-icon-primary,
.ui-selectonemenu.glass-button .ui-selectonemenu-trigger .ui-icon {
    position: absolute;
}


.glass-button .ui-autocomplete-token.ui-state-active,
.glass-button .ui-autocomplete-dropdown.ui-button.ui-widget.ui-button-icon-only {
    color: rgba(255, 255, 255, 0.9);
}

.glass-button .ui-autocomplete-dropdown.ui-button.ui-widget.ui-button-icon-only .ui-button-text,
.glass-button .ui-autocomplete-token.ui-state-active .ui-autocomplete-token-label {
    background: rgba(255, 255, 255, 0.3);
}

.glass-button .ui-autocomplete-dropdown.ui-button.ui-widget.ui-button-icon-only {
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 0 3px 3px 0;
}

/* Radio-Button */
.ui-radiobutton-box.ui-widget.ui-corner-all.ui-state-default {
    background: rgba(255, 255, 255, 0.8);
}

.ui-radiobutton-box.ui-widget.ui-corner-all.ui-state-hover {
    box-shadow: none;
    border-color: rgb(81, 137, 205);
    cursor: pointer;
}

.ui-radiobutton-box.ui-widget.ui-corner-all.ui-state-default.ui-state-active {
    border-color: transparent;
    background: transparent;
    box-shadow: none;
}

.ui-radiobutton-box.ui-widget.ui-corner-all.ui-state-default.ui-state-active span {
    background-image: url("#{request.contextPath}/resources/images/icons/white/icon_check.png");
    background-position: inherit;
    background-size: cover;
    margin: 0;
    border-radius: 0;
    height: 100%;
    width: 100%;
}

.glass-button.ui-button.ui-widget.ui-state-default.ui-corner-all > .ui-button-text, button.glass-button.image-button > .ui-button-text {
    background: rgba(255,255,255,0.3);
    color: white;
}

.margin-left-5px {
    margin-left: 5px;
}

.berechtigung-button.ui-state-hover span {
    color: white;
}


.ui-state-default.suchenButton {
    background-size: 16px;
    background-color: transparent;
    background-image: url("#{request.contextPath}/resources/images/icons/white/icon_search.png");
}

.ui-state-default.suchenButton.ui-state-hover,
.ui-state-default.suchenButton.ui-state-focus,
.ui-state-default.suchenButton.ui-state-focus.ui-state-hover {
    background-size: 16px;
    background-color: transparent;
    background-image: url("#{request.contextPath}/resources/images/icons/white/icon_search.png");
}


.ui-widget-content .ui-state-default.suchenButton {
    background-size: 16px;
    background-color: transparent;
    background-image: url("#{request.contextPath}/resources/images/icons/white/icon_search.png");
}

.ui-state-default.suchenButton.ui-state-hover,
.ui-state-default.suchenButton.ui-state-focus,
.ui-state-default.suchenButton.ui-state-focus.ui-state-hover {
    background-size: 16px;
    background-color: transparent;
    background-image: url("#{request.contextPath}/resources/images/icons/white/icon_search.png");
}

/**
    override relative padding.
 */
.ui-button-text-only .ui-button-text {
    padding: 5px;
}