
.clickableTextButton {
    text-align: center;
    vertical-align: middle;
    height: 22px;
    font-size: 14px;
    line-height: 22px;
    padding: 2px 6px;
    border-radius: 3px;
    background: rgba(29, 33, 41, 0.3);
    box-shadow: none;
    text-shadow: none;
    font-weight: normal;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(204, 204, 204, 0.5);
    text-decoration: none;
    opacity: 1;
}

@supports (--css: variables) {
    .clickableTextButton {
        background: var(--grey_1d2129_03);
        border: 1px solid var(--grey_cccccc_05);
        color: var(--white);
    }
}

.clickableTextButton:hover,
.clickableTextButton:active,
.clickableTextButton *:hover {
    cursor: pointer;
    background: rgba(81, 137, 205, 0.5);
    border-color: rgb(81, 137, 205);
    opacity: 1;
}

@supports (--css: variables) {
    .clickableTextButton:hover,
    .clickableTextButton:active,
    .clickableTextButton *:hover {
        background: var(--blue_5189cd_05);
        border-color: var(--blue_5189cd);
    }
}