<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="anfoMgmtObjectCtrl" type="de.interfaceag.bmw.pzbk.controller.AbstractAnfoMgmtObjectController"/>
        <cc:attribute required="false" name="update"/>
        <cc:attribute required="false" name="process"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <div id="#{cc.clientId}">
            <c:if test="#{not empty cc.attrs.anfoMgmtObjectCtrl}">
                <p:dataTable value="#{cc.attrs.anfoMgmtObjectCtrl.umsetzerController.dialogUmsetzerSet}"
                             var="umsetzer"                             
                             class="umsetzerDataTable"
                             rowKey="#{umsetzer.name}"
                             id="umsetzerTable"
                             emptyMessage="#{msg.keineUmsetzerVorhanden}">                    

                    <p:column headerText="#{msg.modul}">
                        <h:outputText value="#{umsetzer.modul.name}" />
                    </p:column>

                    <p:column headerText="#{msg.seTeam}">
                        <h:outputText value="#{umsetzer.seTeam.name}" />
                    </p:column>

                    <p:column headerText="#{msg.komponente}">
                        <h:outputText value="#{umsetzer.komponente.name} (#{umsetzer.komponente.ppg})" />
                    </p:column>

                    <p:column headerText="" width="16">
                        <p:commandLink class="umsetzerDelete" 
                                       title="#{msg.entfernen}" 
                                       rendered="#{cc.attrs.anfoMgmtObjectCtrl.umsetzerController.isNotFreigegeben(umsetzer)}"
                                       update="umsetzerTable" 
                                       actionListener="#{cc.attrs.anfoMgmtObjectCtrl.umsetzerController.removeUmsetzer(umsetzer)}">            
                            <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                        </p:commandLink>
                    </p:column>
                    <p:ajax event="rowSelect" update="#{cc.attrs.update}" process="#{cc.attrs.process}"/>
                </p:dataTable>
            </c:if>
        </div>
    </cc:implementation>
</html>