<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite"
    xmlns:link="http://xmlns.jcp.org/jsf/composite/link">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="anforderungLink" type="de.interfaceag.bmw.pzbk.shared.components.AnforderungLink"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <link:anforderungLinkDirect anforderungId="#{cc.attrs.anforderungLink.id}" 
                                    fachId="#{cc.attrs.anforderungLink.fachId}" 
                                    version="#{cc.attrs.anforderungLink.version}" /> 
    </cc:implementation>
</ui:composition>
