<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite"
        xmlns:p="http://primefaces.org/ui"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="anforderungId" type="java.lang.String"/>
        <cc:attribute required="true" name="fachId" type="java.lang.String"/>
        <cc:attribute required="true" name="version" type="java.lang.String"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:outputStylesheet library="css" name="public/color.css"/>
        <h:outputStylesheet library="css" name="link/anforderungLinkDirect.css"/>

        <p:link class="link-style" id="anforderungAnzeigenLink"
                target="_blank"
                outcome="#{'anforderungView'}">
            <f:param name="id" value="#{cc.attrs.anforderungId}"/>
            <f:param name="fachId" value="#{cc.attrs.fachId}"/>
            <f:param name="version" value="#{cc.attrs.version}"/>
            <h:outputText styleClass="link-style" value="#{cc.attrs.fachId} | V#{cc.attrs.version}"/>
        </p:link>
    </cc:implementation>
</ui:composition>
