<?xml version='1.0' encoding='UTF-8' ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

<cc:interface>
    <cc:attribute required="true" name="berechtigungAntragsverwaltungController"
                  type="de.interfaceag.bmw.pzbk.berechtigungantrag.verwaltung.BerechtigungAntragsverwaltungController"/>
</cc:interface>

<cc:implementation>
    <p:focus for="antragDialog"/>
    <p:outputLabel for="antragDialog" style="font-weight: bold;"
                   value="#{msg.berechtigungantrag_verwaltung_dialog_title_text}"/>
    <p:inputTextarea rows="3"
                     cols="55"
                     style="width: 450px;"
                     value="#{cc.attrs.berechtigungAntragsverwaltungController.antragToChange.kommentar}"
                     id="antragDialog"
                     class="kommentCol">
    </p:inputTextarea>

    <div class="footer-container">
        <div class="footer" style="display: flex;">
            <h:panelGroup>
                <p:commandButton id="setCommentButton"
                                 value="#{msg.berechtigungantrag_verwaltung_dialog_ablehnen_button}"
                                 action="#{cc.attrs.berechtigungAntragsverwaltungController.antragAbgelehntClicked()}"
                />
                <div style="padding-left: 10px">
                    <p:commandButton value="#{msg.abbrechen}" onclick="PF('abgelehntDialog').hide()"
                    />
                </div>
            </h:panelGroup>
        </div>
    </div>
</cc:implementation>

</html>