.add-konzept-dialog .konzept-content{
    display: block;
}

.add-konzept-dialog .dialog-buttons{
    float: right;
}

.add-konzept-dialog .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.margin-right-5px {
    margin-right: 5px;
}