@import url("#{request.contextPath}/resources/css/public/color.css");

.anforderungTableHeaderWrapper {
    display: flex;
    justify-content: space-between;
    align-content: end;
}

.anforderungTableHeaderWrapperLeft {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.anforderungTableHeaderWrapperRight {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.anforderungTableHeaderWrapperCenter {
    flex-grow: 2;
}

.anforderungTableHeaderInputText {
    width: 540px;
}

.anforderungTableButton {
    border-radius: 3px;
    border:1px solid var(--white);
    background: transparent;
}

