.anforderungOrderDialogWrapper.customDialog .ui-dialog-content.ui-widget-content {
    padding: 0px;
}

.anforderungOrderTable .ui-datatable-header.ui-widget-header.ui-corner-top {
    background-color: rgba(55, 102, 161, 0.7);
}

.anforderungOrderTable.glass-table thead {
    background: rgba(55, 102, 161, 0.7);
}

.anforderungOrderDialogWrapper.customDialog > .ui-dialog-content.ui-widget-content {
    background: transparent;
}

.anforderungOrderDialogWrapper.customDialog .footer-container {
    background-color: white;
}

.anforderungOrderDialogWrapper.customDialog .footer {
    padding: 5px;
    margin: 0;
    float: none;
    display: flex;
    flex-direction: row-reverse;
}
