.glass-box.transparent-box .box-content{
    background-color: transparent;
    padding: 0px;
}


.derivate-box .ui-datatable.ui-widget.glass-table.prozessbaukastenAnforderungTable th {
    text-align: left;
}
.derivate-box .ui-datatable tbody td,
.derivate-box .ui-datatable thead th {
    padding-left: 20px;
}
