.prozessbaukastenAtrributeRow div.konzepte-wrapper {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow-y: scroll;
    flex-basis: 1290px;
    flex-shrink: 0;
}

.prozessbaukastenAtrributeRow div.konzept-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(55, 102, 161, 0.3);
    border-radius: 3px;
    min-height: 84px;
    flex-shrink: 0;
    width: 99%;
}

.prozessbaukastenAtrributeRow div.konzept-wrapper:last-of-type {
    margin-bottom: 0px;
}

.konzept-wrapper div {
    display: initial;
}

.konzept-header {
    font-weight: bold;
    display: block;
    line-height: 25px;
}

.prozessbaukastenAtrributeRow div.konzept-content {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    flex-basis: 1180px;
    flex-shrink: 0;
}

.konzept-image-wrapper,
.konzept-image {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}

.konzept-image {
    border: 1px solid rgba(55, 102, 161, 0.3);
    transition: 1s;
}

.konzept-image:hover {
    cursor: pointer;
    border-color: rgba(55, 102, 161, 0.9);
}

.konzept-image-wrapper {
    margin-top: 5px;
    margin-left: 5px;
}

.konzept-image-wrapper:hover {
}

.prozessbaukastenAtrributeRow div.konzeptImageDetailPanel {
    display: none;
}


.ui-panel.ui-widget.ui-widget-content.ui-corner-all.konzeptImageDetailPanel.ui-helper-hidden .ui-panel-content.ui-widget-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.konzept-beschreibung-input,
.konzept-bezeichnung-input {
    width: 730px;
}

.konzept-bezeichnung-input {
    margin-top: 5px;
}

.prozessbaukastenAttributeLabel.requiredAttribute {
    vertical-align: top;
}

.add-konzept-wrapper {
    margin-bottom: 10px;
}
