.prozessbaukastenFilter input {
    width: 90%;
    border: 1px solid rgba(55, 102, 161, 0.7);
    border-radius: 3px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 16px;
    max-width: 700px;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.margin-right-5px {
    margin-right: 5px;
}