.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all.konzeptSelectMenu {
    width: 175px;
}

.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all.konzeptSelectMenu
.ui-selectcheckboxmenu-label-container {

}

.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all.konzeptSelectMenu
.ui-selectcheckboxmenu-trigger.ui-state-default.ui-corner-right {
    width: 25px;
    background: transparent;
    box-shadow: none;
}

.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all.konzeptSelectMenu
.ui-selectcheckboxmenu-trigger.ui-state-default.ui-corner-right.ui-state-hover {
    box-shadow: none;

}

.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all.filterManyCheckbox {
    background-color: rgba(55, 102, 161, 0.3);
    border: none;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: none;
    text-shadow: none;
}

.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all.filterManyCheckbox .ui-selectcheckboxmenu-label.ui-corner-all {
    border: 1px solid transparent;
}

.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all.filterManyCheckbox .ui-selectcheckboxmenu-label.ui-corner-all.ui-state-hover,
.ui-selectcheckboxmenu.ui-widget.ui-state-default.ui-corner-all.filterManyCheckbox.ui-state-focus:hover .ui-selectcheckboxmenu-label.ui-corner-all {
    background: transparent;
    border: 1px solid #5189cd;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
    box-shadow: none;
}

.ui-selectcheckboxmenu-panel.ui-widget.ui-widget-content.ui-corner-all.ui-helper-hidden {
    background-color: rgba(34, 35, 36, 0.9);
    border: 1px solid #3766a1;
    border-radius: 3px;
    box-shadow: none;
    width: auto !important;
    min-width: 168px !important;
}

.ui-selectcheckboxmenu-panel.ui-widget.ui-widget-content.ui-corner-all.ui-helper-hidden.filterPanel > .ui-selectcheckboxmenu-items-wrapper {
    overflow-x: hidden;
}

.ui-widget-header.ui-corner-all.ui-selectcheckboxmenu-header.ui-helper-clearfix {
    background: transparent;
    border-bottom: 1px solid #5189cd;
    border-radius: 0px;
}

.ui-selectcheckboxmenu-items.ui-selectcheckboxmenu-list.ui-widget-content.ui-widget.ui-corner-all.ui-helper-reset {
    background: transparent;
    color: rgba(255, 255, 255, 0.8);
}