@import url("#{request.contextPath}/resources/css/public/color.css");

/* -------- ACCORDION ------- */
.ui-accordion.ui-widget {
    padding: 0;
    margin: auto;
    height: 100%;
    background: transparent;
}

.ui-accordion.ui-widget .ui-accordion-content {
    padding: 0em 2.2em;
    border-top: 0;
    position: relative;
    top: 0px;
    margin-bottom: 0px;
    overflow: auto;
    zoom: 1;
    border-radius: 0 0 3px 3px;
}

.ui-accordion.ui-widget .ui-accordion-header .ui-icon {
    background-image: url("#{request.contextPath}/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-aristo");
}

.ui-accordion.ui-widget .ui-accordion-header.ui-state-default {
    text-shadow: initial;
    box-shadow: none;
    text-align: left;
    padding-left: 40px;
    font-weight: normal;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 2.2em;
    margin: 15px 0 0;
    border-radius: 3px;
    background-color: rgba(148, 148, 148, 0.3);
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.7);
}

@supports (--css: variables) {
    .ui-accordion.ui-widget .ui-accordion-header.ui-state-default {
        background: var(--grey_949494_03);
        color: var(--white);
        border: 1px solid var(--white_07);
    }
}

.ui-accordion.ui-widget > .ui-accordion-header.ui-state-default:nth-of-type(1) {
    margin-top: 0;
    background: linear-gradient(to right,rgba(33, 150, 243, 0.3), rgba(148, 148, 148, 0.3));
}

.ui-accordion.ui-widget > .ui-accordion-header.ui-state-default:nth-of-type(2) {
    background: linear-gradient(to right,rgba(255, 212, 0, 0.3), rgba(148, 148, 148, 0.3));
}
.ui-accordion.ui-widget > .ui-accordion-header.ui-state-default:nth-of-type(3) {
    background: linear-gradient(to right,rgba(204, 73, 60, 0.3), rgba(148, 148, 148, 0.3));
}
.ui-accordion.ui-widget > .ui-accordion-header.ui-state-default:nth-of-type(4) {
    background: linear-gradient(to right,rgba(201, 0, 253, 0.3), rgba(148, 148, 148, 0.3));
}

/* DialogMitarbeiter zuordnen/bearbeiten */
.ui-accordion-content.ui-helper-reset.ui-widget-content {
    padding: 10px 2.2em 10px 2.2em;
}