<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fahrzeugmerkmal="http://xmlns.jcp.org/jsf/composite/fahrzeugmerkmal"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
>

<cc:interface>
    <cc:attribute required="true"  name="fahrzeugmerkmalController" type="de.interfaceag.bmw.pzbk.fahrzeugmerkmal.verwaltung.FahrzeugmerkmalController"/>
</cc:interface>

<cc:implementation>
    <h:form id="fahrzeugmerkmalForm">
        <p:accordionPanel
                id="fahrzeugmerkmalAccordionPanel"
                dynamic="true"
                multiple="true"
        >
            <p:tab id="fahrzeugmerkmalTab"
                   rendered="#{cc.attrs.fahrzeugmerkmalController.viewPermission.page}"
                   title="#{msg.fahrzeugmerkmale}">
                <fahrzeugmerkmal:fahrzeugmerkmalTable tableData="#{cc.attrs.fahrzeugmerkmalController.viewData}"
                                                      methods="#{cc.attrs.fahrzeugmerkmalController}"
                                                      rendered="#{cc.attrs.fahrzeugmerkmalController.viewPermission.page}"
                />
            </p:tab>

            <p:tab id="noPermissionTab"
                   rendered="#{!cc.attrs.fahrzeugmerkmalController.viewPermission.page}"
                   title="#{msg.keineBerechtigung}" />
        </p:accordionPanel>
    </h:form>
</cc:implementation>
</html>
