<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<cc:interface>
</cc:interface>

<cc:implementation>

    <h:outputStylesheet library="css" name="fahrzeugmerkmal/fahrzeugmerkmalDerivatZuordnungNavbar.css"/>

    <div class="navbarContentWrapper">
        <p:link outcome="derivateView"
                class="d-iflex"
                id="projektverwaltungLink"
                includeViewParams="true">
            <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_arrow_back.png"
                 alt=""
                 class="glass"/>
        </p:link>
    </div>
</cc:implementation>
</html>
