<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:fahrzeugmerkmal="http://xmlns.jcp.org/jsf/composite/fahrzeugmerkmal"
>

<cc:interface>
    <cc:attribute required="true" name="controller"
                  type="de.interfaceag.bmw.pzbk.fahrzeugmerkmal.derivatzuordnung.FahrzeugmerkmalDerivatZuordnungController"/>
</cc:interface>

<cc:implementation>

    <h:outputStylesheet library="css" name="fahrzeugmerkmal/derivatZuordnungAuspraegungenContent.css"/>
    <h:outputStylesheet library="css" name="button/text_button.css"/>

    <p:accordionPanel id="auspraegungenPanel"
                      widgetVar="auspraegungenPanel">

        <p:tab id="auspraegungenTab"
               rendered="#{cc.attrs.controller.selectedFahrzeugmerkmalData ne null}"
               title="#{msg.fahrzeugmerkmal_verwaltung_auspraegungen}">

            <div class="selected-checkbox-content">
                <p:selectBooleanCheckbox value="#{cc.attrs.controller.selectedFahrzeugmerkmalData.fahrzeugmerkmalDerivatDto.notRelevant}">
                    <p:ajax update="@form" listener="#{cc.attrs.controller.checkboxClicked()}" />
                </p:selectBooleanCheckbox>
                <div class="selected-checkbox-description">#{msg.fahrzeugmerkmal_deriavat_zuordung}</div>
            </div>

            <fahrzeugmerkmal:derivatzuordnungAuspraegungenSelection id="auspraegungSelection"
                                                                    selectedFahrzeugmerkmal="#{cc.attrs.controller.selectedFahrzeugmerkmalData}"/>

            <p:commandButton class="ui-button-text saveButton"
                             action="#{cc.attrs.controller.persistSelectedAuspraegung}"
                             value="#{msg.fahrzeugmerkmal_deriavat_zuordung_save}" />
        </p:tab>

    </p:accordionPanel>
</cc:implementation>
</html>
