<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fahrzeugmerkmal="http://xmlns.jcp.org/jsf/composite/fahrzeugmerkmal"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
>

<cc:interface>
    <cc:attribute required="true" name="merkmale"
                  type="de.interfaceag.bmw.pzbk.fahrzeugmerkmal.derivatzuordnung.api.FahrzeugmerkmaleDerivatZuordnungMerkmalData"/>
    <cc:attribute required="true" name="tableMethods"
                  type="de.interfaceag.bmw.pzbk.fahrzeugmerkmal.derivatzuordnung.api.FahrzeugmerkmalDerivatZuordnungTableMethods"/>
    <cc:attribute required="true" name="viewPermission"
                  type="de.interfaceag.bmw.pzbk.fahrzeugmerkmal.derivatzuordnung.dto.FahrzeugmerkmalDerivatZuordnungViewPermission"/>
</cc:interface>

<cc:implementation>

    <p:accordionPanel id="fahrzeugmerkmalPanel"
                      widgetVar="fahrzeugmerkmalPanel">

        <p:tab id="fahrzeugmerkmalTab"
               rendered="#{cc.attrs.viewPermission.page}"
               title="#{msg.fahrzeugmerkmale}">

            <fahrzeugmerkmal:derivatzuordnungFahrzeugmerkmalTable id="fahrzeugmerkmalTable"
                                                                  merkmale="#{cc.attrs.merkmale}"
                                                                  tableMethods="#{cc.attrs.tableMethods}"/>
        </p:tab>

        <p:tab id="noPermissionTab"
               rendered="#{!cc.attrs.viewPermission.page}"
               title="#{msg.keineBerechtigung}">
        </p:tab>

    </p:accordionPanel>

</cc:implementation>
</html>
