<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fahrzeugmerkmal="http://xmlns.jcp.org/jsf/composite/fahrzeugmerkmal"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
>

<cc:interface>
    <cc:attribute required="true" name="merkmale"
                  type="de.interfaceag.bmw.pzbk.fahrzeugmerkmal.derivatzuordnung.api.FahrzeugmerkmaleDerivatZuordnungMerkmalData"/>
    <cc:attribute required="true" name="controller"
                  type="de.interfaceag.bmw.pzbk.fahrzeugmerkmal.derivatzuordnung.FahrzeugmerkmalDerivatZuordnungController"/>
</cc:interface>

<cc:implementation>

    <h:outputStylesheet library="css" name="fahrzeugmerkmal/fahrzeugmerkmalDerivatZuordnung.css"/>
    <h:outputStylesheet library="css" name="accordion/accordion.css"/>

    <h:form id="fahrzeugmerkalDerivatzuordungForm">

        <div class="contentWrapper">

            <div class="fahrzeugmerkmalContent">
                <fahrzeugmerkmal:derivatzuordnungFahrzeugmerkmalContent id="fahrzeugmerkmalContent"
                                                                        tableMethods="#{cc.attrs.controller}"
                                                                        viewPermission="#{cc.attrs.controller.viewPermission}"
                                                                        merkmale="#{cc.attrs.merkmale}"/>
            </div>

            <div class="auspraegungenContent">
                <fahrzeugmerkmal:derivatzuordnungAuspraegungenContent id="auspraegungenContent"
                                                                      rendered="#{fahrzeugmerkmalDerivatZuordnungController.viewPermission.page}"
                                                                      controller="#{cc.attrs.controller}"/>

            </div>
        </div>


    </h:form>
</cc:implementation>
</html>
