<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
>

<cc:interface>
    <cc:attribute required="true" name="fahrzeugmerkmal"
                  type="de.interfaceag.bmw.pzbk.fahrzeugmerkmal.derivatzuordnung.dto.FahrzeugmerkmalDerivatDto"/>
    <cc:attribute required="true" name="tableMethods"
                  type="de.interfaceag.bmw.pzbk.fahrzeugmerkmal.derivatzuordnung.api.FahrzeugmerkmalDerivatZuordnungTableMethods"/>
</cc:interface>

<cc:implementation>

    <div class="entryWrapper">
        <div class="entryButtonWrapper">
            <p:commandButton value="#{cc.attrs.fahrzeugmerkmal.fahrzeugmerkmalMerkmal}"
                             actionListener="#{cc.attrs.tableMethods.showDetailForFahrzeugmerkmal(cc.attrs.fahrzeugmerkmal)}"
                             process="@this"
                             update="fahrzeugmerkmalDerivatZuordnung:fahrzeugmerkalDerivatzuordungForm:auspraegungenContent:auspraegungenPanel:auspraegungSelection:auspraegungCheckboxes
                                     fahrzeugmerkmalDerivatZuordnung:fahrzeugmerkalDerivatzuordungForm:auspraegungenContent:auspraegungenPanel"/>
        </div>

        <div class="entryIconWrapper">
            <p:outputPanel rendered="#{cc.attrs.fahrzeugmerkmal.statusNichtBewertet}">
                <img alt=""
                     src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/#{cc.attrs.fahrzeugmerkmal.status.icon}"
                     height="15px" width="15px"/>
            </p:outputPanel>
        </div>

    </div>

</cc:implementation>
</html>
