<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fahrzeugmerkmal="http://xmlns.jcp.org/jsf/composite/fahrzeugmerkmal"
      xmlns:ui="http://java.sun.com/jsf/facelets"
>

<cc:interface>
    <cc:attribute required="true" name="merkmale"
                  type="de.interfaceag.bmw.pzbk.fahrzeugmerkmal.derivatzuordnung.api.FahrzeugmerkmaleDerivatZuordnungMerkmalData"/>
    <cc:attribute required="true" name="tableMethods"
                  type="de.interfaceag.bmw.pzbk.fahrzeugmerkmal.derivatzuordnung.api.FahrzeugmerkmalDerivatZuordnungTableMethods"/>
</cc:interface>

<cc:implementation>
    <ui:repeat id="derivatZuordnungTable"
               value="#{cc.attrs.merkmale.allFahrzeugmerkmaleForDerivat}"
               var="fahrzeugmerkmal">
        <fahrzeugmerkmal:derivatzuordnungFahrzeugmerkmalListEntry id="listEntry"
                                                                  tableMethods="#{cc.attrs.tableMethods}"
                                                                  fahrzeugmerkmal="#{fahrzeugmerkmal}"/>
    </ui:repeat>
</cc:implementation>
</html>
