<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
>

<cc:interface>
    <cc:attribute required="true" name="selectedFahrzeugmerkmal"
                  type="de.interfaceag.bmw.pzbk.fahrzeugmerkmal.derivatzuordnung.dto.SelectedFahrzeugmerkmalData"/>
</cc:interface>

<cc:implementation>
    <p:selectManyCheckbox id="auspraegungCheckboxes"
                          disabled="#{cc.attrs.selectedFahrzeugmerkmal.fahrzeugmerkmalDerivatDto.notRelevant}"
                          value="#{cc.attrs.selectedFahrzeugmerkmal.selectedAuspraegungen}"
                          converter="#{cc.attrs.selectedFahrzeugmerkmal.auspraegungConverter}"
                          layout="grid"
                          columns="1">
        <f:selectItems value="#{cc.attrs.selectedFahrzeugmerkmal.allAuspraegungen}"
                       var="auspraegung"
                       itemLabel="#{auspraegung.auspraegung}"
                       itemValue="#{auspraegung}"/>
    </p:selectManyCheckbox>



</cc:implementation>
</html>
