<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fahrzeugmerkmal="http://xmlns.jcp.org/jsf/composite/fahrzeugmerkmal"
>

<cc:interface>
    <cc:attribute required="true" name="fahrzeugmerkmalController"
                  type="de.interfaceag.bmw.pzbk.fahrzeugmerkmal.verwaltung.FahrzeugmerkmalController"/>
</cc:interface>

<cc:implementation>
    <p:dialog id="fahrzeugmerkmalEditDialog"
              dynamic="true"
              header="#{msg.fahrzeugmerkmal_verwaltung_merkmal} #{msg.bearbeitenKlein}"
              widgetVar="fahrzeugmerkmalEditDialog"
              modal="true"
              closable="false"
              resizable="false"
              width="600"
    >
        <fahrzeugmerkmal:editDialog id="editDialogContent" dialog="#{cc.attrs.fahrzeugmerkmalController}"/>
    </p:dialog>
</cc:implementation>
</html>

