<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
>

<cc:interface>
    <cc:attribute required="true" name="dialog"
                  type="de.interfaceag.bmw.pzbk.fahrzeugmerkmal.verwaltung.api.FahrzeugmerkmalEditDialog"/>
</cc:interface>

<cc:implementation>

    <h:outputStylesheet library="css" name="fahrzeugmerkmal/fahrzeugmerkmalEditDialog.css"/>

    <h:form id="editDialogForm">
        <div class="dialogContentWrapper">
            <div class="inputWrapper">
                <div class="inputRow">
                    <p:outputLabel id="fahrzeugmerkmalValueLabel"
                                   for="fahrzeugmerkmalValue"
                                   styleClass="fahrzeugmerkmalLabel"
                                   value="#{msg.fahrzeugmerkmal_verwaltung_merkmal}"
                    />
                    <p:inputText id="fahrzeugmerkmalValue"
                                 styleClass="fahrzeugmerkmalInput"
                                 validatorMessage="#{msg.fahrzeugmerkmal_verwaltung_merkmal_validation_message}"
                                 value="#{cc.attrs.dialog.dialogData.fahrzeugmerkmalLabel}"
                    >
                        <f:validateRegex pattern="^(?!\s*$)[\D\d]+"/>
                    </p:inputText>
                    <h:message id="fahrzeugmerkmalValueValidationMessage" for="fahrzeugmerkmalValue" style="color:red"/>
                </div>

                <div class="inputRow">
                    <p:outputLabel id="modulAutocompleteLabel"
                                   for="modulAutocomplete"
                                   styleClass="fahrzeugmerkmalLabel"
                                   value="#{msg.module}"
                    />
                    <p:autoComplete
                            id="modulAutocomplete"
                            value="#{cc.attrs.dialog.dialogData.modulSeTeams}"
                            var="modul"
                            multiple="true"
                            styleClass="fahrzeugmerkmalModulInput"
                            placeholder="#{msg.fahrzeugmerkmal_modul_input_placeholder}"
                            panelStyleClass="fahrzeugmerkmalAutocompletePanel"
                            itemValue="#{modul}"
                            itemLabel="#{modul.bezeichnung}"
                            converter="#{cc.attrs.dialog.dialogData.modulConverter}"
                            completeMethod="#{cc.attrs.dialog.dialogData.completeModule}"
                    />
                </div>

                <div class="inputRow">
                    <p:outputLabel id="auspraegungenLabel"
                                   styleClass="fahrzeugmerkmalLabel"
                                   value="#{msg.fahrzeugmerkmal_verwaltung_auspraegungen}"
                    />

                    <div class="auspraegungWrapper">

                        <div class="newAuspraegungWrapper">

                            <p:inputText id="newAuspraegungValue"
                                         styleClass="fahrzeugmerkmalAuspraegungInput"
                                         placeholder="#{msg.fahrzeugmerkmal_verwaltung_neu_auspraegung}"
                                         value="#{cc.attrs.dialog.dialogData.newAuspraegung}"
                                         validatorMessage="#{msg.fahrzeugmerkmal_verwaltung_neu_auspraegung_validation_message}"
                            >
                                <f:validateRegex pattern="^(?!\s*$)[\D\d]+"/>
                            </p:inputText>

                            <p:commandButton id="addNewAuspraegungButton"
                                             value="#{msg.hinzufuegen}"
                                             process="@this dialogs:editDialogContent:editDialogForm:newAuspraegungValue"
                                             partialSubmit="true"
                                             update="dialogs:editDialogContent:editDialogForm:auspraegungenTable
                                             dialogs:editDialogContent:editDialogForm:newAuspraegungValue
                                             dialogs:editDialogContent:editDialogForm:newAuspraegungValueValidationMessage
                                             dialogs:editDialogContent:editDialogForm:auspraegungInputHidden"
                                             actionListener="#{cc.attrs.dialog.dialogData.addAuspraegung()}"
                            />

                        </div>

                        <h:message id="newAuspraegungValueValidationMessage" for="newAuspraegungValue"
                                   style="color:red"/>


                        <h:inputHidden id="auspraegungInputHidden"
                                       validatorMessage="#{msg.fahrzeugmerkmal_verwaltung_neu_auspraegung_validation_message}"
                                       value="#{cc.attrs.dialog.dialogData.auspraegungenForValidation}">
                            <f:converter converterId="ListValidationConverter"/>
                            <f:validateRequired/>
                        </h:inputHidden>

                        <h:message id="auspraegungInputHiddenValidationMessage" for="auspraegungInputHidden"
                                   style="color:red"/>

                        <p:dataTable
                                id="auspraegungenTable"
                                value="#{cc.attrs.dialog.dialogData.auspraegungen}"
                                var="auspraegung"
                                editMode="row"
                                editable="true"
                        >

                            <p:column headerText="#{msg.fahrzeugmerkmal_verwaltung_auspraegung}">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText id="auspraegungValue"
                                                      value="#{auspraegung.auspraegung}"
                                        />
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:inputText id="auspraegungInput"
                                                     styleClass="fahrzeugmerkmalAuspraegungTableInput"
                                                     value="#{auspraegung.auspraegung}"
                                                     validatorMessage="#{msg.fahrzeugmerkmal_verwaltung_neu_auspraegung_validation_message}"
                                        >
                                            <f:validateRegex pattern="^(?!\s*$)[\D\d]+"/>
                                        </p:inputText>

                                        <h:message id="auspraegungInputValidationMessage" for="auspraegungInput"
                                                   style="color:red"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column style="width:35px">
                                <p:rowEditor/>
                            </p:column>

                        </p:dataTable>


                    </div>
                </div>
            </div>

            <div class="buttonWrapper">
                <p:commandButton id="cancelButton"
                                 action="#{cc.attrs.dialog.hide}"
                                 immediate="true"
                                 process="@form"
                                 value="#{msg.abbrechen}"
                                 styleClass="cancelButton"
                />
                <p:commandButton id="saveButton"
                                 process="@(form :not(.fahrzeugmerkmalAuspraegungInput))"
                                 update="dialogs:editDialogContent:editDialogForm:fahrzeugmerkmalValueValidationMessage
                                 dialogs:editDialogContent:editDialogForm:auspraegungInputHiddenValidationMessage"
                                 action="#{cc.attrs.dialog.save}"
                                 value="#{msg.speichern}"
                />

            </div>
        </div>
    </h:form>
</cc:implementation>
</html>
