<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:fahrzeugmerkmal="http://xmlns.jcp.org/jsf/composite/fahrzeugmerkmal"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
>

<cc:interface>
    <cc:attribute required="true"  name="tableData" type="de.interfaceag.bmw.pzbk.fahrzeugmerkmal.verwaltung.api.FahrzeugmerkmalTableData"/>
    <cc:attribute required="true"  name="methods" type="de.interfaceag.bmw.pzbk.fahrzeugmerkmal.verwaltung.api.FahrzeugmerkmalTableMethods"/>
</cc:interface>

<cc:implementation>
    <p:dataTable
            id="fahrzeugmerkmalTable"
            value="#{cc.attrs.tableData.fahrzeugmerkmalTableEntries}"
            var="fahrzeugmerkmal"
            paginatorPosition="bottom"
            paginator="true"
            rows="11"
    >

        <p:column headerText="#{msg.fahrzeugmerkmal_verwaltung_merkmal}">
            <h:outputText value="#{fahrzeugmerkmal.merkmal}"/>
        </p:column>

        <p:column headerText="#{msg.fahrzeugmerkmal_verwaltung_auspraegungen}">
            <h:outputText value="#{fahrzeugmerkmal.auspraegungen}"/>
        </p:column>

        <p:column headerText="#{msg.fahrzeugmerkmal_verwaltung_module}">
            <h:outputText value="#{fahrzeugmerkmal.module}"/>
        </p:column>

        <p:column>
            <fahrzeugmerkmal:verwaltungEditButton methods="#{cc.attrs.methods}" fahrzeugmerkmal="#{fahrzeugmerkmal}" />
        </p:column>

    </p:dataTable>
</cc:implementation>
</html>
