<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui">

    <cc:interface>
        <cc:attribute required="true" name="fahrzeugmerkmalController" type="de.interfaceag.bmw.pzbk.fahrzeugmerkmal.verwaltung.FahrzeugmerkmalController"/>
    </cc:interface>

    <cc:implementation>
        <p:commandButton id="changeStatusButton"
                         value="#{msg.fahrzeugmerkmal_verwaltung_neues_merkmal}"
                         ajax="true"
                         actionListener="#{cc.attrs.fahrzeugmerkmalController.showNewMerkmalDialog()}" />
    </cc:implementation>
</html>
