<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:outputStylesheet library="css" name="main.css" />
    <h:outputStylesheet library="css" name="button/text_button.css"/>
    <h:outputStylesheet library="css" name="button/button.css"/>
    <h:outputStylesheet library="css" name="errorPage_403.css"/>


    <div class="db-content-wrapper">
        <div class="db-content">
            <div class="db-logo-wrapper error-wrapper">
                <div class="error-text-wrapper">
                    <p:outputLabel value="#{msg.siebesitzenkeineReche}"/>

                    <div class="button-wrapper">
                        <h:form>
                            <p:commandButton id="berechtigungWorkflowButton"
                                             value="#{msg.berechtigung_beantragen}"
                                             styleClass="glass-button"
                                             action="berechtigung"/>
                        </h:form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui:composition>