<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:h="http://java.sun.com/jsf/html">

    <h:outputStylesheet library="css" name="errorPage_404.css" />
    <h:outputStylesheet library="css" name="button/button.css" />
    <h:outputStylesheet library="css" name="button/text_button.css" />

    <div class="db-content-wrapper">
        <div class="db-content">
            <div class="db-logo-wrapper error-wrapper">
                <div class="error-text-wrapper">
                    <p:outputLabel class="ui-g-12">
                        #{msg.errorCode}
                    </p:outputLabel>
                    <p:outputLabel class="ui-g-12">
                        #{msg.seiteNichtGefunden}
                    </p:outputLabel>
                    <p:outputLabel class="ui-g-12">
                        #{msg.alteUrlAufgerufen} <br/>#{msg.nocheinmalpruefen}
                    </p:outputLabel>
                    <p:outputLabel class="ui-g-12">
                        #{msg.startseiteFinden}
                    </p:outputLabel>
                    <p:outputLabel class="zurStartseiteLabel ui-g-12">
                        <p:link outcome="dashboard.xhtml" 
                                value="#{msg.zurStartseite}" 
                                class="clickableTextButton zurStartseiteButton" />
                    </p:outputLabel>
                </div>
            </div>
        </div>
    </div>
</ui:composition>