<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:filter="http://xmlns.jcp.org/jsf/composite/filter"
>

    <h:form id="anfoFilterForm" class="h-100">
        <p:panel id="anfoListFilter" class="filter-wrapper">
            <p:remoteCommand name="filter" process="@form"
                             action="#{globalSearchController.filter()}" />

            <div class="filter-headline">
                <p:outputLabel value="#{msg.filternNach}" />
            </div>

            <p:outputPanel id="statusFilterPanel" rendered="true">
                <div class="filter-header">
                    <p:outputLabel value="#{msg.status}" />
                </div>

                    <filter:genericFilter id="meldungStatusFilter"
                                          showTypeLabel="#{false}"
                                          label="#{msg.meldung}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{globalSearchController.filter.meldungStatusFilter}" />

                    <filter:genericFilter id="anforderungStatusFilter"
                                          showTypeLabel="#{false}"
                                          label="#{msg.anforderung}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{globalSearchController.filter.anforderungStatusFilter}" />

                    <filter:genericFilter id="prozessbaukastenStatusFilter"
                                          showTypeLabel="#{false}"
                                          label="#{msg.prozessbaukasten}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{globalSearchController.filter.prozessbaukastenStatusFilter}" />

                <div class="filter-content">
                    <p:outputLabel value="#{msg.anforderungList_filter_geloeschtesElement}" />

                    <div class="filter-grid w-100">
                        <p:selectBooleanButton id="showDeletedElementsCheckbox"
                                               class="resetButton filterButton"
                                               offLabel="#{msg.anforderungList_filter_geloeschtesElementoff}" onLabel="#{msg.anforderungList_filter_geloeschtesElementon}"
                                               immediate="false"

                                               value="#{globalSearchController.filter.showStatusGeloeschtFilter.value}"
                                               onchange="filter();" />
                        <p:tooltip showDelay="500" for="showDeletedElementsCheckbox" position="bottom" value="#{msg.tooltipp_anforderungList_filter_geloeschteElementeButton}" />
                    </div>
                </div>


                <div class="filter-header">
                    <p:outputLabel value="#{msg.datumStatusaenderung} " />
                </div>

                <filter:genericVonBisDateFilter id="datumStatusaenderungFilter"
                                                filter="filter()"
                                                searchFilter="#{globalSearchController.filter.datumStatusaenderungFilter}" />

            </p:outputPanel>

            <p:outputPanel id="SensorCocFilterPanel" rendered="true">
                <div class="filter-header">
                    <p:outputLabel value="#{msg.organisation}" />
                </div>
                <p:panelGrid columns="1" class="filter-grid w-100" columnClasses="filter-column">

                    <filter:genericFilter id="sensorCocFilter"
                                          showTypeLabel="#{false}"
                                          label="#{msg.sensorCoc}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{globalSearchController.filter.sensorCocFilter}" />

                    <filter:genericFilter id="tteamFilter"
                                          showTypeLabel="#{false}"
                                          label="#{msg.tteam}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{globalSearchController.filter.tteamFilter}" />

                    <filter:genericFilter id="derivatFilter"
                                          showTypeLabel="#{false}"
                                          label="#{msg.derivat}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{globalSearchController.filter.derivatFilter}" />

                    <filter:genericFilter id="phasenrelevanzFilter"
                                          showTypeLabel="#{false}"
                                          label="#{msg.phasenrelevanz}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{globalSearchController.filter.phasenrelevanzFilter}" />

                    <filter:genericFilter id="festgestelltInFilter"
                                          showTypeLabel="#{false}"
                                          label="#{msg.festgestelltIn}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{globalSearchController.filter.festgestelltInFilter}" />

                    <filter:genericFilter id="modulFilter"
                                          showTypeLabel="#{false}"
                                          label="#{msg.modul}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{globalSearchController.filter.modulFilter}" />

                    <filter:genericFilter id="modulSeTeamFilter"
                                          showTypeLabel="#{false}"
                                          label="#{msg.seTeam}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{globalSearchController.filter.modulSeTeamFilter}" />

                    <filter:genericFilter id="referenzSystemFilter"
                                          showTypeLabel="#{false}"
                                          label="#{msg.suche_referenzsystem}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{globalSearchController.filter.referenzSystemFilter}" />

                    <filter:genericFilter id="kategorieFilter"
                                          rendered="false"
                                          showTypeLabel="#{false}"
                                          label="#{msg.suche_kategorie}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{globalSearchController.filter.kategorieFilter}" />

                    <filter:genericFilter id="prozessbaukastenFilter"
                                          showTypeLabel="#{false}"                                         
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{globalSearchController.filter.prozessbaukastenFilter}" />

                    <filter:genericFilter id="themenklammerFilter"
                                          showTypeLabel="#{false}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{globalSearchController.filter.themenklammerFilter}" />

                </p:panelGrid>

            </p:outputPanel>
            <p:outputPanel id="dateTimeFilterPanel">

                <div class="filter-header">
                    <p:outputLabel value="#{msg.erstellungsdatum} " />
                </div>
                <filter:genericVonBisDateFilter id="erstellungsdatumFilter"
                                                filter="filter()"
                                                searchFilter="#{globalSearchController.filter.erstellungsdatumFilter}" />

                <div class="filter-header">
                    <p:outputLabel value="#{msg.aenderungsdatum} " />
                </div>

                <filter:genericVonBisDateFilter id="aenderungsdatumFilter"
                                                filter="filter()"
                                                searchFilter="#{globalSearchController.filter.aenderungsdatumFilter}" />

            </p:outputPanel>

        </p:panel>
    </h:form>
</ui:composition>
