<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <h:outputStylesheet library="css" name="button/button.css"/>
    <h:outputStylesheet library="css" name="button/text_button.css"/>

    <h:form id="anfoListForm">
        <div class="contentFilter">
            <div class="left">
                <p:commandButton id="resetFilterButton"
                                 value="#{msg.reset}"
                                 class="resetButton"
                                 immediate="true"
                                 action="#{globalSearchController.reset()}">
                </p:commandButton>
                <p:tooltip showDelay="500" for="resetFilterButton" position="bottom" value="#{msg.tooltipp_anforderungList_content_resetButton}" />

            </div>
        </div>
        <div class="activeFiltersAutocomplete" style="height:26px">
            <ui:repeat value="#{globalSearchController.filter.activeFilterSelectedValues}"
                       var="filter">
                <p:commandButton id="removeFilter"
                                 value="#{filter.name}"
                                 icon="ui-icon-close"
                                 class="resetButton  d-iflex"
                                 iconPos="right"
                                 style="position: relative;"
                                 action="#{globalSearchController.removeFilter(filter)}" />
                <p:tooltip showDelay="500" for="removeFilter" position="bottom" value="#{msg.tooltipp_anforderungList_content_resetSingleFilter}" />
            </ui:repeat>
        </div>


        <div class="contentNav">
            <div class="left">
                <div class="clickableTextButton anfoListItemBox">
                    <p:selectBooleanButton id="allSelected"
                                           onLabel="#{globalSearchController.viewData.numberOfResults==0 ? 'kein' : globalSearchController.viewData.numberOfResults} Ergebnis#{globalSearchController.viewData.numberOfResults > 1 ? 'se' : ''}"
                                           offLabel="#{globalSearchController.viewData.numberOfResults==0 ? 'kein' : globalSearchController.viewData.numberOfResults} Ergebnis#{globalSearchController.viewData.numberOfResults > 1 ? 'se' : ''}"
                                           disabled="#{globalSearchController.viewData.numberOfResults == 0}"
                                           value="#{globalSearchController.allSelected}"
                                           class="anfoListItemStatus anfoListItemButton">

                        <p:ajax listener="#{globalSearchController.updateSelectedSearchResult()}"
                                update="anfoListForm:aktionPanel anfoListForm:numberResults anfoListForm:anfoList"/>
                    </p:selectBooleanButton>
                    <p:tooltip showDelay="500" for="allSelected" position="bottom" value="#{msg.tooltipp_anforderungList_content_allSelected}" />
                    <div class="anfoListItemSelectAll"></div>
                </div>

                <p:outputLabel id="sortByLabel" class="anfoListTextLabel sortByLabel"
                               value="#{msg.sortierenNachLabel}" />

                <p:selectOneMenu id="selectSortMenu"
                                 class="anfoListSelectSort"
                                 value="#{globalSearchController.filter.sortingFilter.selectedValue}"
                                 label="Sortierung"
                                 converter="#{globalSearchController.filter.sortingFilter.converter}"
                                 filterMatchMode="startsWith"
                                 panelStyle="width:250px">
                    <f:selectItems value="#{globalSearchController.filter.sortingFilter.all}" var="sortierung"
                                   itemLabel="#{localizationService.getValue(sortierung.name)}" />
                </p:selectOneMenu>
                <p:tooltip showDelay="500" for="selectSortMenu" position="bottom" value="#{msg.tooltipp_anforderungList_content_selectSort}" />
                <p:commandButton id="applyFilterButton"
                                 value="#{msg.anwenden}"
                                 class="resetButton anwendenButton"
                                 ajax="false"
                                 action="#{globalSearchController.filter()}">
                </p:commandButton>
                <p:tooltip showDelay="500" for="applyFilterButton" position="bottom" value="#{msg.tooltipp_anforderungList_content_sortAnwenden}" />
            </div>
            <div id="listAktionPanel" class="right d-iflex anfoList_menu_wrapper">
                <div>
                    <div class="clickableTextButton anfoList_actions_icon" onclick="toggleAnfoListActionsMenu()">
                        <p:commandLink value="#{msg.aktion}" actionListener="#{globalSearchController.updateUrl()}"
                                       style="color: white; text-decoration: none;" id="anforderungLsitContentAktionMenu"
                                       update="anfoListForm:numberResults urlwert" />
                        <p:tooltip showDelay="500" for="anforderungLsitContentAktionMenu" position="bottom" value="#{msg.tooltipp_anforderungList_content_aktionMenu}" />
                    </div>
                </div>
                <div class="anfoList_actions_menu anfoList_popup ui-shadow" style="display:none">
                    <div class="items">
                        <div class="items_header">
                            <p:outputLabel id="numberResults" value="#{globalSearchController.numberOfResults} #{msg.ausgewaehlt}" class="label" />
                        </div>
                        <p:growl id="growl" sticky="false" severity="info" showDetail="true" />
                        <p:panelGrid id="aktionPanel" columns="1" class="menu_grid" columnClasses="icon,label">
                            <p:row>
                                <p:commandLink value="#{msg.linkGenerieren}"
                                               class="anfoList_menu_link"
                                               process="@this"
                                               actionListener="#{copyLinkDialogController.show(globalSearchController.url)}"
                                               >
                                </p:commandLink>
                                <p:inputText id="urlwert" value="#{globalSearchController.url}" style="display:none;"/>
                            </p:row>
                            <p:row>
                                <p:commandLink value="#{msg.auswahlSpeichern}" class="anfoList_menu_link sucheSpeichernLink"  ajax="true" async="true"
                                               onclick="toggleSaveSelection()"/>

                                <p:row>
                                    <div class="sucheSpeichernInputRow">
                                        <p:column>
                                            <p:inputText id="newSearch"
                                                         class="save-search-inputfield saveSelection hide"
                                                         placeholder="#{msg.aktuelleSuche}"
                                                         value="#{globalSearchController.viewData.newUserDefinedSearch.name}"/>

                                            <p:commandButton action="#{globalSearchController.addSelectionAsUserDefinedSearch()}"
                                                             id="saveSelection"
                                                             icon="ui-icon-disk"
                                                             title="Icon Only"
                                                             update="newSearch topnavForm:udssList topnavForm:newSearchName topnavForm:saveSearchError anfoListForm:aktionPanel"
                                                             class="saveSelection speichernButton imgButton hide"
                                                             oncomplete="toggleAnfoListActionsMenu()"/>
                                        </p:column>
                                    </div>
                                </p:row>
                            </p:row>
                            <p:row rendered="#{globalSearchController.viewPermission.anforderungZuordnenButton}">
                                <p:commandLink value="#{msg.anforderungenZuordnen}" update="growl"
                                               action="#{globalSearchController.goToAnforderungDerivatZuordnenView()}"
                                               class="anfoList_menu_link" />
                            </p:row>
                            <p:row>
                                <h:commandLink onclick="toggleAnfoListActionsMenu()"
                                               actionListener="#{globalSearchController.downloadExcelExport()}">
                                    <p:outputLabel value="#{msg.excelExport}" />
                                </h:commandLink>
                            </p:row>
                        </p:panelGrid>
                    </div>
                </div>
            </div>
        </div>

        <p:outputPanel id="anfoListPanel" class="p-20">

            <p:dataList id="anfoList"
                        class="anfoList"
                        rows="#{globalSearchController.anzahlTreffer}"
                        itemStyleClass="anfoListItemWrapper"
                        emptyMessage=""
                        var="result"
                        rowIndexVar="anfoCount"
                        value="#{globalSearchController.searchResult}">
                <div class="anfoListItem ui-shadow  #{result.typ eq 'Pzbk' ? 'pzbk' : ''}">
                    <div class="anfoListLeftHeight left">
                        <p:selectBooleanButton  class="anfoListItemSelect" offLabel="" onLabel="" value="#{result.selected}">
                            <p:ajax listener="#{globalSearchController.updateSelectedSearchResult(result)}"
                                    update="@this anfoListForm:allSelected anfoListForm:aktionPanel anfoListForm:numberResults anfoListForm:anfoList"/>
                        </p:selectBooleanButton>
                    </div>
                    <div class="anfoListItemHeader right">
                        <p:link outcome="#{result.url}" style="text-decoration: none;">
                            <f:param name="id" value="#{result.id}"/>
                            <f:param name="fachId" value="#{result.name}"/>
                            <f:param name="version" value="#{result.version}"/>
                            <div class="anfoListItemImage clickable d-iblock" >
                                <p:graphicImage id="anforderungListContentImageButton" value="#{result.imageAsStreamedContent}" stream="false">
                                </p:graphicImage>
                                <p:tooltip showDelay="500" for="anforderungListContentImageButton" position="bottom" value="#{msg.tooltipp_anforderungList_content_AnforderungIdButton}" />
                            </div>
                        </p:link>


                        <!-- Anforderungs-Typ anzeigen -->

                        <!-- <p:outputLabel id="Artlabel" class="headline d-iblock anfoListTextlabel anfoListArtLabel" value="STD"/> -->


                        <p:link id="anforderungListContentIdButton" outcome="#{result.url}" style="text-decoration: none;">
                            <f:param name="id" value="#{result.id}"/>
                            <f:param name="fachId" value="#{result.name}"/>
                            <f:param name="version" value="#{result.version}"/>
                            <div class="headline d-iblock clickable" >
                                <h:outputText id="anfoDetailsLink"  class="anfoListItemId"
                                              value="#{result.displayName}"/>
                            </div>
                        </p:link>
                        <p:tooltip showDelay="500" for="anforderungListContentIdButton" position="bottom" value="#{msg.tooltipp_anforderungList_content_AnforderungIdButton}" />
                        <ui:repeat id="modulLabels"
                                   var="m"
                                   rendered="#{result.typ == 'Anforderung' or result.typ == 'Prozessbaukasten'}"
                                   value="#{result.module}">
                            <p:outputLabel id="HMlabel"
                                           class="headline d-iblock anfoListTextlabel"
                                           value="#{m}"/>
                        </ui:repeat>


                        <div class="headline d-iblock search-sensorcoc-label">
                            <p:outputLabel class="anfoListItemSCoC" value="#{result.sensorCoc eq null ? '' : result.sensorCoc}" />
                        </div>
                        <p:outputLabel id="statusLabel" class="anfoListItemStatus f-right" value="#{result.status}"/>

                        <div class="anfoListItemSCoCWrapper anfoListItemBody anfoListItemText">
                            <p:outputLabel value="#{result.beschreibung.length() gt 200 ? result.beschreibung.substring(0,197).concat('...') : result.beschreibung}"
                                           styleClass="anfoListItemBeschr #{result.beschreibung.length() gt 200 ? 'kurz': ''}" />
                            <p:outputLabel rendered="#{result.beschreibung.length() gt 200}"
                                           value="#{result.beschreibung}"
                                           style="display:none;"
                                           class="anfoListItemBeschr lang" />
                        </div>
                    </div>
                </div>
            </p:dataList>

            <p:commandLink value="#{msg.vorherigeSeite}"
                           id="previousPageButton"
                           disabled="#{globalSearchController.firstResultPage}"
                           action="#{globalSearchController.previousPage()}"
                           style="left: -207px;"
                           class="clickableTextButton ErgebnisseLadenButton"/>

            <p:commandLink value="#{msg.naechsteSeite}"
                           id="showMoreResultsButton"
                           disabled="#{globalSearchController.lastResultPage}"
                           action="#{globalSearchController.nextPage()}"
                           class="clickableTextButton ErgebnisseLadenButton"/>



        </p:outputPanel>
    </h:form>
</ui:composition>
