<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
>
    <h:form id="historyFilterForm" class="h-100">
        <p:panel class="filter-wrapper">
            <div class="filter-headline">
                <p:outputLabel value="#{msg.filternNach}" />
            </div>            

            <div class="filter-header">
                <p:outputLabel value="#{msg.benutzer}" />
            </div>
            <p:panelGrid columns="1" class="filter-grid w-100" columnClasses="filter-column">
                <p:column>
                    <p:inputText id="filter-input-user" class="filter-input-user input-max" placeholder="Name" >
                        <p:ajax event="keyup" async="true" process="@this" oncomplete="filterUser()"/>
                    </p:inputText>
                    <p:remoteCommand name="filterUser" oncomplete="PF('anfoHistoryTable').filter()" 
                                     onstart="pipeInput('.filter-input-user','#anfoHistoryForm\\:anfoHistoryTable\\:hiddenFilterUser')" />
                </p:column>
            </p:panelGrid>
            <div class="filter-header">
                <p:outputLabel value="#{msg.aenderung}" />
            </div>
            <p:panelGrid columns="1" class="filter-grid w-100" columnClasses="filter-column">
                <p:column>
                    <p:inputText id="filter-input-attribute" class="filter-input-attribute input-max" placeholder="#{msg.attribut}" >
                        <p:ajax event="keyup" async="true" process="@this" oncomplete="filterAttribute()"/>
                    </p:inputText>
                    <p:remoteCommand name="filterAttribute" oncomplete="PF('anfoHistoryTable').filter()" 
                                     onstart="pipeInput('.filter-input-attribute','#anfoHistoryForm\\:anfoHistoryTable\\:hiddenFilterAttribute')" />
                </p:column>
                <p:column>
                    <p:inputText id="filter-input-oldvalue" class="filter-input-oldvalue input-max" placeholder="#{msg.von}" >
                        <p:ajax event="keyup" async="true" process="@this" oncomplete="filterOldValue()"/>
                    </p:inputText>
                    <p:remoteCommand name="filterOldValue" oncomplete="PF('anfoHistoryTable').filter()" 
                                     onstart="pipeInput('.filter-input-oldvalue','#anfoHistoryForm\\:anfoHistoryTable\\:hiddenFilterOldValue')" />
                </p:column>
                <p:column>
                    <p:inputText id="filter-input-newvalue" class="filter-input-newvalue input-max" placeholder="#{msg.auf}" >
                        <p:ajax event="keyup" async="true" process="@this" oncomplete="filterNewValue()"/>
                    </p:inputText>
                    <p:remoteCommand name="filterNewValue" oncomplete="PF('anfoHistoryTable').filter()" 
                                     onstart="pipeInput('.filter-input-newvalue','#anfoHistoryForm\\:anfoHistoryTable\\:hiddenFilterNewValue')" />
                </p:column>
            </p:panelGrid>
        </p:panel>
    </h:form>
</ui:composition>
