<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <div class="p-20">
        <h:form id="backNavForm">            
            <p:commandLink onclick="redirectBack();" class="d-iflex">
                <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_arrow_back.png" title="#{msg.zurueck}" class="glass"/>
            </p:commandLink> 
        </h:form>
        <h:form id="anfoHistoryForm">
            <p:dataTable value="#{anforderungHistoryController.getHistoryForAnforderung()}" 
                         var="modification" 
                         widgetVar="anfoHistoryTable"
                         id="anfoHistoryTable"
                         emptyMessage="#{msg.keineAenderungen}"
                         filteredValue="#{anforderungHistoryController.filteredHistory}"
                         class="glass-table anfoHistoryTable">
                <p:column headerText="#{msg.zeitpunkt}" class="column-date">                    
                    <h:outputText id="modificationDatum" value="#{modification.zeitpunkt}" />                    
                </p:column> 

                <p:column headerText="#{msg.benutzer}" filterBy="#{modification.benutzer}" filterMatchMode="contains" class="column-user">
                    <f:facet name="filter">
                        <h:inputHidden id="hiddenFilterUser" value="#{anforderungHistoryController.benutzerFilter}"/>
                    </f:facet>
                    <h:outputText id="modificationUser" value="#{modification.benutzer}" />
                </p:column> 

                <p:column headerText="#{msg.attribut}" filterBy="#{modification.attribut}" filterMatchMode="contains" class="column-attribute">
                    <f:facet name="filter">
                        <h:inputHidden id="hiddenFilterAttribute" value="#{anforderungHistoryController.attributFilter}"/>
                    </f:facet>
                    <h:outputText id="modificationAttribut" value="#{modification.attribut}" />
                </p:column> 

                <p:column headerText="#{msg.von}" filterBy="#{modification.von}" filterMatchMode="contains" class="column-oldvalue">
                    <f:facet name="filter">
                        <h:inputHidden id="hiddenFilterOldValue" value="#{anforderungHistoryController.vonFilter}"/>
                    </f:facet>
                    <h:outputText id="modificationVon" value="#{modification.von}" />
                </p:column>

                <p:column headerText="#{msg.auf}" filterBy="#{modification.auf}" filterMatchMode="contains" class="column-newvalue">
                    <f:facet name="filter">
                        <h:inputHidden id="hiddenFilterNewValue" value="#{anforderungHistoryController.aufFilter}"/>
                    </f:facet>
                    <h:outputText id="modificationAuf" value="#{modification.auf}" style="word-wrap: break-word"/>
                </p:column>
            </p:dataTable>
        </h:form>
    </div>
</ui:composition>
