<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="de" xml:lang="de"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:configuration="http://xmlns.jcp.org/jsf/composite/configuration"
      xmlns:adminComps="http://xmlns.jcp.org/jsf/composite/adminComps">

<head>
    <title></title>
</head>

<ui:composition>
    <h:outputStylesheet library="css" name="configview/content.css" />
    <h:outputStylesheet library="css" name="public/color.css"/>
    <h:outputStylesheet library="css" name="button/button.css"/>
    <h:outputStylesheet library="css" name="accordion/accordion.css"/>

    <p:panel class="anfoContent">
        <div class="anfoFormular">
            <h:form id="settingsForm">
                <p:growl id="growl" sticky="true" showDetail="false"/>
                <p:remoteCommand name="processAnfoForm" update="@form" action="#{anforderungController.save()}"/>
                <p:accordionPanel
                        id="adminAccordionPanel"
                        dynamic="true"
                        multiple="true"
                        activeIndex=""
                        styleClass="anfoFormularPanel adminAccordionPanel"                        
                        rendered="#{configurationController.admin}">
                    <p:tab id="wertebereicheTab" title="#{msg.wertebereiche}">
                        <p:selectOneMenu id="attributeDropdown" value="#{configurationController.attribut}"
                                         styleClass="menu attributeDropdown" panelStyleClass="panel">
                            <p:ajax event="change" update="wertIterator"
                                    listener="#{configurationController.dropdownChangeListener(attribut)}"/>
                            <f:selectItem itemLabel="#{msg.attribute}" noSelectionOption="true"/>
                            <f:selectItems value="#{configurationController.attribute}"/>
                        </p:selectOneMenu>


                        <h:panelGrid id="wertIterator" columns="2">
                            <p:commandButton rendered="#{not empty configurationController.attribut}"
                                             value="#{msg.speichern}" id="werteSubmitButton" ajax="true" type="submit"
                                             action="#{configurationController.persistWerte()}"
                                             onclick="PF('dlg1').show();"/> <br/>

                            <ui:repeat value="#{configurationController.werte}" var="wertAusIterator">
                                <p:inputText class="anfoTabInput" id="wertInput" value="#{wertAusIterator.wert}">
                                    <p:ajax event="blur" update="wertInput"
                                            listener="#{configurationController.persistWert(wertAusIterator)}"/>
                                </p:inputText>
                                <p:commandButton immediate="true" value="#{msg.loeschen}"
                                                 action="#{configurationController.removeWert(wertAusIterator)}"
                                                 ajax="true" update="settingsForm:adminAccordionPanel:wertIterator"/>
                                <br/>
                            </ui:repeat>
                            <br/>
                            <p:commandButton id="attrHinzufuegenBtn"
                                             rendered="#{not empty configurationController.attribut}" immediate="true"
                                             value="#{msg.wertHinzufuegen}"
                                             action="#{configurationController.addWert(configurationController.attribut)}"
                                             ajax="true" update="settingsForm:adminAccordionPanel:wertIterator"/>

                            <p:dialog header="#{msg.wertelisteGespeichert}" widgetVar="dlg1" minHeight="40">
                                <h:outputText value="#{msg.wertelisteAktualisiert}"/>
                                <br/>
                                <p:commandButton value="#{msg.ok}" onclick="PF('dlg1').hide();"
                                                 class="wertebereichDialogButton"/>
                            </p:dialog>
                        </h:panelGrid>
                    </p:tab>
                    <p:tab title="#{msg.festgestelltInVerwalten}" id="festgestelltInTab">
                        <p:dataTable value="#{configurationController.festgestelltIn}"
                                     var="fi" id="festgestelltInTable"
                                     scrollable="true"
                                     scrollRows="30"
                                     scrollHeight="400"
                                     resizableColumns="true">
                            <p:column>
                                <p:inputText class="anfoTabInput" id="festgestelltInInput" value="#{fi.wert}">
                                    <p:ajax listener="#{configurationController.addFestgestelltInToSaveList(fi)}"/>
                                </p:inputText>
                            </p:column>
                            <p:column>
                                <p:commandButton immediate="true" value="#{msg.loeschen}"
                                                 action="#{configurationController.removeFestgestelltIn(fi)}"
                                                 ajax="true"
                                                 update="settingsForm:adminAccordionPanel:festgestelltInTable"/>
                            </p:column>
                        </p:dataTable>

                        <p:commandButton id="festgestInHinzufuegenBtn" value="#{msg.festgestelltInHinzufuegen}"
                                         action="#{configurationController.addFestgestlltIn()}"
                                         oncomplete="$('.ui-datatable-scrollable-body').scrollTop(100000);"
                                         update="settingsForm:adminAccordionPanel:festgestelltInTable"/>

                        <p:commandButton value="#{msg.speichern}" id="festgestlltInSubmitButton"
                                         type="submit" action="#{configurationController.persistFestgestelltIn()}"
                                         update="settingsForm:growl"/> <br/>


                    </p:tab>
                    <p:tab id="themenklammerConfiguration"
                           title="#{msg.configuration_themenklammer}">

                        <configuration:themenklammer id="themenklammerTableComponent"
                                                     controller="#{themenklammerConfigurationController}"/>

                    </p:tab>
                    <p:tab title="#{msg.infotexteVerwalten}" id="infoTexte">
                        <p:dataTable value="#{configurationController.infoTexte}" var="infoText" id="infoTextTable"
                                     resizableColumns="true" class="auswTable">
                            <p:columnGroup type="header">
                                <p:row>
                                    <p:column headerText="#{msg.bezeichnung}"/>
                                    <p:column headerText="#{msg.informationstext}"/>
                                    <p:column styleClass="infoTexte action"/>
                                </p:row>
                            </p:columnGroup>
                            <p:column>
                                <h:outputText value="#{infoText.feldBeschreibungLang}"/>
                            </p:column>
                            <p:column>
                                <h:outputText value="#{infoText.beschreibungsText}" escape="false"/>
                            </p:column>
                            <p:column styleClass="infoTexte action">
                                <p:commandLink
                                        action="#{configurationController.showInfoBearbeitenDialog(infoText.feldName, infoText.id)}">
                                    <span class="fa fa-edit"/>
                                </p:commandLink>
                            </p:column>
                        </p:dataTable>
                    </p:tab>


                    <p:tab id="reportingBereich" title="#{msg.reporting_verwaltung}">
                        <h:panelGrid id="reportingConfig" columns="3" styleClass="reportingConfig">
                            Startdatum Reporting
                            <p:calendar value="#{configurationController.reportingStartDate}"
                                        showOn="both"
                                        pattern="dd.MM.yyyy"
                                        showButtonPanel="true"
                                        navigator="true"
                                        size="10"
                                        widgetVar="startDateCalendar"
                                        >
                            </p:calendar>
                            <h:commandButton value="#{msg.speichern}"
                                             action="#{configurationController.persistReportingStartDate()}"/>

                            Langläufer T-Team
                            <p:inputText value="#{configurationController.langlauferTteam}"/>
                            <h:commandButton value="#{msg.speichern}"
                                             action="#{configurationController.persistLanglauferTteam()}"/>

                            Langläufer Fachteam
                            <p:inputText value="#{configurationController.langlauferFachteam}"/>
                            <h:commandButton value="#{msg.speichern}"
                                             action="#{configurationController.persistLanglauferFachteam()}"/>
                        </h:panelGrid>
                    </p:tab>


                </p:accordionPanel>
            </h:form>
            <p:accordionPanel
                    id="adminAccordionPanel2"
                    dynamic="true"
                    multiple="true"
                    activeIndex=""
                    styleClass="anfoFormularPanel adminAccordionPanel2"                    
                    rendered="#{configurationController.admin}">
                <p:tab id="excelUploadTab" title="#{msg.excelUpload}" rendered="#{configurationController.isAdmin()}">
                    <adminComps:uploadExcelComp id="excepUploadCompContent" adminCtrl="#{configurationController}"/>
                </p:tab>
                <p:tab id="anhanglUploadTab" title="#{msg.anheangeHochladen}"
                       rendered="#{configurationController.isAdmin() and configurationController.testMode}">
                    <adminComps:uploadAnhaengeComp id="anhangUploadCompContent"
                                                   configurationController="#{configurationController}"/>
                </p:tab>
                <p:tab id="modulOrgaUploadTag" title="ModulOrgSheets hochladen"
                       rendered="#{configurationController.isAdmin() and configurationController.testMode}">
                    <adminComps:uploadModulOrgComp id="modulOrgUploadCompContent"
                                                   configurationController="#{configurationController}"/>
                </p:tab>
            </p:accordionPanel>
            <h:form id="testForm">
                <p:accordionPanel rendered="#{configurationController.admin and configurationController.testMode}">
                    <p:tab>
                        <p:commandButton value="ZAK GET" actionListener="#{configurationController.testZakGet()}"/>
                        <p:commandButton value="ZAK POST" actionListener="#{configurationController.testZakPost()}"/>
                        <p:commandButton value="File System Export"
                                         actionListener="#{configurationController.downloadFileSystemExport()}"/>
                        <p:commandButton value="Update ZeitpunktStatusaenderung"
                                         actionListener="#{configurationController.updateZeitpunktStatusaenderung()}"/>
                        <p:commandButton value="Update DerivatAnforderungModul"
                                         actionListener="#{configurationController.updateLatestDerivatAnforderungModulHistory()}"/>
                        <p:commandButton value="Link Anforderungen with Meldungen"
                                         actionListener="#{configurationController.linkAnforderungenWithoutMeldungenWithMatchingMeldung()}"/>
                        <p:commandButton value="Migrate Anforderung For Reporting"
                                         actionListener="#{configurationController.migrateAnforderungen()}"/>
                        <p:commandButton value="Migrate Meldungen For Reporting"
                                         actionListener="#{configurationController.migrateMeldungen()}"/>


                        <p:inputText id="zakUpdateIdInput" value="#{configurationController.zakUpdateId}"/>

                        <p:commandButton ajax="false" id="downloadZakUpdate" value="Zak Update Download">
                            <p:fileDownload value="#{configurationController.downloadZakUpdate()}"/>
                        </p:commandButton><br/>

                        <p:terminal id="terminal" widgetVar="term"
                                    prompt=">>"
                                    commandHandler="#{configurationController.handleCommand}"
                                    welcomeMessage="Welcome to the Admin Terminal..."/>
                    </p:tab>
                </p:accordionPanel>
            </h:form>

            <p:accordionPanel rendered="#{!configurationController.admin}">
                <p:tab>
                    <p:outputLabel value="#{msg.keineBerechtigung}"/>
                </p:tab>
            </p:accordionPanel>
        </div>
    </p:panel>
</ui:composition>
</html>
