<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    <div class="db-content-wrapper">
        <h:form>
        <div class="db-content">
            <div class="db-logo-wrapper">
                <img alt="" class="db-logo-bmw" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/misc/bmw_logo.png" />
                <div class="text-wrapper">
                    <p:outputLabel value="BMW Group"/>
                    <p:outputLabel value="T-Anforderungsmanagement"/>
                </div>
            </div>
            <div class="db-search-wrapper " id="searchForm">
                <div class="db-search">
                        <p:focus for="db-search-input" />
                        <p:autoComplete id="db-search-input"
                                        styleClass="db-search-input"
                                        placeholder="#{msg.suche}"
                                        minQueryLength="2"
                                        var="result"
                                        autoHighlight="false"
                                        itemLabel="#{result.name}#{result.version != null ? ' | ' : ''} #{result.version != null ? result.version : ''}"
                                        itemValue="#{result}"
                                        multiple="true"
                                        forceSelection="false"
                                        emptyMessage="#{msg.keinErgebnis}"
                                        maxResults="10"
                                        onkeyup="if (event.keyCode === 13) {
                                                    searchSubmit();
                                                }"
                                        groupBy="#{result.typ}"
                                        converter="#{navbarController.searchResultDTOConverter}"
                                        value="#{navbarController.searchQueries}"
                                        completeMethod="#{navbarController.completeSearch}">
                            <p:ajax event="itemSelect"
                                    async="true"
                                    listener="#{navbarController.doSearchOrGoToResult()}"/>

                            <p:column>
                                <p:outputLabel value="#{result.name}"/>
                                <p:outputLabel value="#{result.version != null ? ' | ' : ''}#{result.version != null ? result.version : ''}"/>
                            </p:column>
                            <p:column>
                                <p:outputLabel id="resultBeschreibungSnippetBefore" rendered="#{navbarController.querySubstring(result.beschreibung)[0] != null}"
                                               value="#{result.beschreibung.subSequence(navbarController.querySubstring(result.beschreibung)[2], navbarController.querySubstring(result.beschreibung)[0])}"/>
                                <p:outputLabel id="resultBeschreibungSnippet" style="font-weight: bold;" rendered="#{navbarController.querySubstring(result.beschreibung)[0] != null}"
                                               value="#{result.beschreibung.subSequence(navbarController.querySubstring(result.beschreibung)[0], navbarController.querySubstring(result.beschreibung)[1])}"/>
                                <p:outputLabel id="resultBeschreibungSnippetAfter" rendered="#{navbarController.querySubstring(result.beschreibung)[0] != null}"
                                               value="#{result.beschreibung.subSequence(navbarController.querySubstring(result.beschreibung)[1], navbarController.querySubstring(result.beschreibung)[3])}" />

                                <p:outputLabel id="resultBeschreibungStaerkeSnippetBefore"
                                               rendered="#{navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[0] != null and navbarController.querySubstring(result.beschreibung)[0] == null}"
                                               value="#{result.beschreibungStaerkeSchwaeche.subSequence(navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[2], navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[0])}"/>
                                <p:outputLabel id="resultBeschreibungStaerkeSnippet" style="font-weight: bold;"
                                               rendered="#{navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[0] != null and navbarController.querySubstring(result.beschreibung)[0] == null}"
                                               value="#{result.beschreibungStaerkeSchwaeche.subSequence(navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[0], navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[1])}"/>
                                <p:outputLabel id="resultBeschreibungStaerkeSnippetAfter"
                                               rendered="#{navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[0] != null and navbarController.querySubstring(result.beschreibung)[0] == null}"
                                               value="#{result.beschreibungStaerkeSchwaeche.subSequence(navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[1], navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[3])}" />
                            </p:column>
                        </p:autoComplete>

                        <p:commandLink class="db-search-link"  id="dashboardSearchButton"
                                       action="#{navbarController.doSearchOrGoToResult()}"
                                       process="@form">
                            <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_search.png" class="db-search-icon" />
                        </p:commandLink>
                        <p:tooltip showDelay="500" for="dashboardSearchButton" position="bottom" value="#{msg.tooltipp_dashboard_content_searchButton}" />

                        <p:remoteCommand id="searchSubmit"
                                         name="searchSubmit"
                                         action="#{navbarController.doSearchOrGoToResult()}"
                                         process="@form"/>
                </div>
                <div class="db-save-search-wrapper" onclick="toggleDBSearchActionsMenu()">
                    <div class="db_save-search_button" >
                        <p:commandButton id="dbSaveSearch" value="" class="save-search-icon" />
                    </div>
                </div>
                <p:tooltip showDelay="500" for="dbSaveSearch" position="bottom" value="#{msg.gespeicherteSuchen}" />
                <div class="db-save-search-actions-menu-wrapper">
                    <div class="save-search_actions_menu save-search_popup ui-shadow hide">
                        <div class="items">
                            <div class="items_header">
                                <p:outputLabel value="#{msg.gespeicherteSuchen}" class="label" />
                            </div>
                            <p:growl id="saveSearchError" sticky="false" severity="error" showDetail="true" />
                            <p:dataTable id="udssList" var="uds" value="#{navbarController.udss}" class="menu_grid"
                                         editable="true" emptyMessage="noch keine gespeicherten Suchen">
                                <p:ajax event="rowEdit" listener="#{navbarController.updateUserDefinedSearch(uds)}" />
                                <p:column class="ui-panelgrid-cell icon">
                                    <div class="glass imgButtonGlass">
                                        <p:commandButton class="d-iflex suchenButton imgButton"
                                                         value=""
                                                         action="#{navbarController.loadUserDefinedSearch(uds)}"/>
                                    </div>
                                </p:column>
                                <p:column class="label">
                                    <p:cellEditor>
                                        <f:facet name="output">
                                            <p:outputLabel value="#{uds.name}" class="save-search_menu_link display-name"/>
                                        </f:facet>
                                        <f:facet name="input">
                                            <p:inputText id="udsName" class="save-search-inputfield edit-name" value="#{uds.name}">
                                            </p:inputText>
                                        </f:facet>
                                    </p:cellEditor>
                                </p:column>
                                <p:column class="ui-panelgrid-cell icon edit">
                                    <p:rowEditor class="d-iflex inputCellEditor bearbeitenButton imgButton imgButtonGlass"/>
                                </p:column>
                                <p:column class="ui-panelgrid-cell icon loeschenCol">
                                    <div class="glass imgButtonGlass imgButtonSmall">
                                        <p:commandButton class="d-iflex loeschenButton imgButton"
                                                         value=""
                                                         action="#{navbarController.deleteUserDefinedSearch(uds)}"
                                                         update="udssList"/>
                                    </div>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                </div>
            </div>

            <p:outputPanel>
                    <div class="db-qlinks-wrapper" id="dashboardMenuForm">
                        <div class="db-qlinks">

                            <!-- menu item for Anforderung -->
                            <div class="db-qlink-anfo">
                                <div class="db-qlink-header" onclick="toggleQlinkMenu(0)" style="#{dashboardController.isAnforderungMenuDisabled()}">
                                    <p:outputLabel id="dashbaordAnforderungMenu" value="#{msg.anforderung}"/>
                                    <p:tooltip showDelay="500" for="dashbaordAnforderungMenu" position="bottom" value="#{msg.tooltipp_dashboard_content_anforderungMenu}" />
                                </div>
                                <div class="db-qlink-menu-wrapper">
                                    <div class="db-qlink-menu">
                                        <p:menu id="anforderungMenu" styleClass="dashboardMenu" >
                                            <p:menuitem id="meldungNeu"
                                                        value="#{msg.meldungNeu}"
                                                        url="meldungEdit.xhtml"
                                                        styleClass="link padding-left-5px"
                                                        iconPos="left"
                                                        icon="plus"
                                                        rendered="#{dashboardController.viewPermission.neueMeldungMenuItem}" />
                                            <p:menuitem id="neueAnforderungButton"
                                                        value="#{msg.dashboardbutton_neue_anforderung}"
                                                        url="anforderungEdit.xhtml?new=true"
                                                        styleClass="link padding-left-5px"
                                                        iconPos="left"
                                                        icon="plus"
                                                        rendered="#{dashboardController.viewPermission.neueAnforderungMenuItem}"/>
                                            <p:menuitem id="reportingMenuItem" value="#{msg.reporting_title}" url="reporting.xhtml"
                                                        styleClass="link"
                                                        rendered="#{dashboardController.viewPermission.reportingAnforderungMenuItem}"/>
                                        </p:menu>
                                    </div>
                                </div>
                            </div>

                            <!-- menu-items for Projekte -->
                            <div class="db-qlink-fproj" >
                                <div class="db-qlink-header" onclick="toggleQlinkMenu(1)" style="#{dashboardController.isProjekteMenuDisabled()}">
                                    <p:outputLabel id="dashboardProjektMenu" value="#{msg.fahrzeugprojekte}"/>
                                    <p:tooltip showDelay="500" for="dashboardProjektMenu" position="bottom" value="#{msg.tooltipp_dashboard_content_projektMenu}" />
                                </div>
                                <div class="db-qlink-menu-wrapper">
                                    <div class="db-qlink-menu">
                                        <p:menu styleClass="dashboardMenu">
                                            <p:menuitem value="#{msg.title_derivate}" url="derivateView.xhtml" styleClass="link"
                                                        rendered="#{dashboardController.viewPermission.projektverwaltungMenuItem}" />
                                            <p:menuitem value="#{msg.title_anfoZuordnen}" url="zuordnung.xhtml" styleClass="link"
                                                        rendered="#{dashboardController.viewPermission.anforderungZuordnenMenuItem}" />
                                            <p:menuitem value="#{msg.title_anfoVereinbaren}" url="addAnfoView.xhtml" styleClass="link"
                                                        rendered="#{dashboardController.viewPermission.anforderungVereinbarenMenuItem}" />
                                            <p:menuitem value="#{msg.zakStatus}" url="zakStatus.xhtml" styleClass="link"
                                                        rendered="#{dashboardController.viewPermission.berichtswesenMenuItem}" />
                                            <p:menuitem value="#{msg.umsetzungsbestaetigung}" url="kovaPhasen.xhtml" styleClass="link"
                                                        rendered="#{dashboardController.viewPermission.umsetzungsbestaetigungMenuItem}" />
                                            <p:menuitem id="reporting" value="#{msg.reporting_title}" url="projektReporting.xhtml" styleClass="link"
                                                        rendered="#{dashboardController.viewPermission.reportingProjektMenuItem}"/>
                                        </p:menu>
                                    </div>
                                </div>
                            </div>

                            <!-- menu-items for Prozessbaukasten -->
                            <div class="db-qlink-pzbk"  >
                                <div class="db-qlink-header" onclick="toggleQlinkMenu(2)"  style="#{dashboardController.isProzessbaukastenMenuDisabled()}">
                                    <p:outputLabel id="dashboardPzbkMenu" value="#{msg.prozessbaukasten}" />
                                    <p:tooltip showDelay="500" for="dashboardPzbkMenu" position="bottom" value="#{msg.tooltipp_dashboard_content_prozessbaukasten_menu}" />
                                </div>
                                <div class="db-qlink-menu-wrapper">
                                    <div class="db-qlink-menu">
                                        <p:menu styleClass="dashboardMenu prozessbaukastenMenu"  rendered="#{dashboardController.viewPermission.neuerProzessbaukastenMenuItem}"  >
                                            <p:menuitem value="#{msg.dashboard_menu_prozessbaukastenNeu}" url="prozessbaukastenEdit.xhtml"
                                                        styleClass="link padding-left-5px" iconPos="left" icon="plus"/>
                                        </p:menu>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </p:outputPanel>

            <div class="version">
                <p:outputLabel value="#{dashboardController.version}" />
            </div>
        </div>
        </h:form>
    </div>
</ui:composition>
