<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui">
    <div class="db-topnav-wrapper">
        <div class="db-topnav">
            <div class="db-topnav-logo-wrapper">

            </div>
            <div class="db-topnav-notif-wrapper">
                <div class="db-topnav-notif">
                    <h:form id="notifForm">
                        <div class="db-topnav-notif-icon">
                            <div onclick="toggleNotifMenu()" class="op-80">
                                <p:commandLink id="dashboardArbeitsvorrat"
                                               rendered="#{dashboardController.viewPermission.menuButton}">
                                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_archiv.png"/>
                                </p:commandLink>
                                <p:tooltip showDelay="500" for="dashboardArbeitsvorrat" position="bottom"
                                           value="#{msg.tooltipp_dashboard_content_arbeitsvorrat}"/>
                            </div>
                        </div>
                        <div class="db-topnav-notif-menu">
                            <div class="db-items">
                                <p:outputPanel id="firstToFourthStepPanel"
                                               rendered="#{dashboardController.viewPermission.stepOneToFourPanel}"
                                               class="dashboardMenuMarginBottom">
                                    <div class="db-items-header">
                                        <p:outputLabel value="#{msg.meineAnforderungen}" class="label"/>
                                    </div>
                                    <p:outputPanel id="firstStepPanel"
                                                   rendered="#{dashboardController.viewPermission.stepOne}">
                                        <p:panelGrid id="firstStepGrid" columns="3" class="db-items-grid"
                                                     columnClasses="icon,label,amount">
                                            <img id="firstStepImg"
                                                 src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon-gluehbirne.png"
                                                 class="db-item-icon" onclick="clickStepOne()"/>
                                            <p:column>
                                                <p:outputLabel id="entwurfLabel" value="#{msg.entwurf}"/>
                                                <p:outputLabel id="munstimmigLabel" value="#{msg.unstimmig}"/>
                                            </p:column>
                                            <p:outputLabel id="firstStepAmountLabel"
                                                           value="#{dashboardController.stepOneAmount}"
                                                           styleClass="#{dashboardController.stepOneAmount == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>
                                    <p:outputPanel id="secondStepPanel"
                                                   rendered="#{dashboardController.viewPermission.stepTwo}">
                                        <p:panelGrid id="secondStepGrid" columns="3" class="db-items-grid"
                                                     columnClasses="icon,label,amount">
                                            <img id="secondStepImg"
                                                 src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_edit.png"
                                                 class="db-item-icon" onclick="clickStepTwo()"/>
                                            <p:column>
                                                <p:outputLabel id="gemeldetLabel" value="#{msg.gemeldet}"/>
                                                <p:outputLabel id="inArbeitLabel" value="#{msg.inArbeit}"/>
                                                <p:outputLabel id="aunstimmigLabel" value="#{msg.unstimmig}"/>
                                            </p:column>
                                            <p:outputLabel id="secondStepAmountLabel"
                                                           value="#{dashboardController.stepTwoAmount}"
                                                           styleClass="#{dashboardController.stepTwoAmount == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>
                                    <p:outputPanel id="thirdStepPanel"
                                                   rendered="#{dashboardController.viewPermission.stepThree}">
                                        <p:panelGrid id="thirdStepGrid" columns="3" class="db-items-grid"
                                                     columnClasses="icon,label,amount">
                                            <img id="thirdStepImg"
                                                 src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_verified.png"
                                                 class="db-item-icon" onclick="clickStepThree()"/>
                                            <p:column>
                                                <p:outputLabel id="abgestimmtLabel" value="#{msg.abgestimmt}"/>
                                                <p:outputLabel id="plausibilisiertLabel"
                                                               value="#{msg.plausibilisiert}"/>
                                            </p:column>
                                            <p:outputLabel id="thirdStepAmountLabel"
                                                           value="#{dashboardController.stepThreeAmount}"
                                                           styleClass="#{dashboardController.stepThreeAmount == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>
                                    <p:outputPanel id="fourthStepPanel"
                                                   rendered="#{dashboardController.viewPermission.stepFour}">
                                        <p:panelGrid id="fourthStepGrid" columns="3" class="db-items-grid"
                                                     columnClasses="icon,label,amount">
                                            <img id="fourthStepImg"
                                                 src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_approved.png"
                                                 class="db-item-icon" onclick="clickStepFour()"/>
                                            <p:column>
                                                <p:outputLabel id="freigegebenLabel" value="#{msg.freigegeben}"/>
                                            </p:column>
                                            <p:outputLabel id="fourthStepAmountLabel"
                                                           value="#{dashboardController.stepFourAmount}"
                                                           styleClass="#{dashboardController.stepFourAmount == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>
                                </p:outputPanel>
                                <p:outputPanel id="fifthToSeventhStepPanel"
                                               rendered="#{dashboardController.viewPermission.stepFiveToSevenPanel}"
                                               class="dashboardMenuMarginBottom">
                                    <div class="db-items-header">
                                        <p:outputLabel value="#{msg.derivatVorhanden}" class="label"/>
                                    </div>
                                    <p:outputPanel id="fifthStepPanel"
                                                   rendered="#{dashboardController.viewPermission.stepFive}">
                                        <p:panelGrid id="fifthStepGrid" columns="3" class="db-items-grid"
                                                     columnClasses="icon,label,amount">
                                            <img id="fifthStepImg"
                                                 src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_plan.png"
                                                 class="db-item-icon" onclick="clickStepFive()"/>
                                            <p:outputLabel id="vereinbartLabel" value="#{msg.vereinbart}"/>
                                            <p:outputLabel id="fifthStepAmountLabel"
                                                           value="#{dashboardController.stepFiveAmount}"
                                                           styleClass="#{dashboardController.stepFiveAmount == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>
                                    <p:outputPanel id="sixStepPanel"
                                                   rendered="#{dashboardController.viewPermission.stepSix}">
                                        <p:panelGrid id="sixStepGrid" columns="3" class="db-items-grid"
                                                     columnClasses="icon,label,amount">
                                            <img id="sixStepImg"
                                                 src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon-2ampel-gruen.png"
                                                 class="db-item-icon" onclick="clickStepSix()"/>
                                            <p:outputLabel id="umgesetztLabel" value="#{msg.umgesetzt}"/>
                                            <p:outputLabel id="sixStepAmountLabel"
                                                           value="#{dashboardController.stepSixAmount}"
                                                           styleClass="#{dashboardController.stepSixAmount == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>
                                </p:outputPanel>

                                <p:outputPanel id="eightToNineStepPanel"
                                               rendered="#{dashboardController.viewPermission.stepEightToThirteenPanel}"
                                               class="dashboardMenuMarginBottom">
                                    <div class="db-items-header">
                                        <p:outputLabel value="#{msg.umsetzungsbestaetigung}" class="label"/>
                                    </div>
                                    <p:outputPanel id="eightStepPanel"
                                                   rendered="#{dashboardController.viewPermission.stepEight}">
                                        <p:panelGrid id="eightStepGrid" columns="3" class="db-items-grid"
                                                     columnClasses="icon,label,amount">
                                            <img id="eightStepImg"
                                                 src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_tools.png"
                                                 class="db-item-icon" onclick="clickStepEight()"/>
                                            <p:outputLabel id="bestaetigerZuordnenLabel"
                                                           value="#{msg.bestaetigerZuordnen}"/>
                                            <p:outputLabel id="eightStepAmountLabel"
                                                           value="#{dashboardController.stepEightAmount}"
                                                           styleClass="#{dashboardController.stepEightAmount == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>
                                    <p:outputPanel id="StepTwelvePanel"
                                                   rendered="#{dashboardController.viewPermission.stepTwelve}">
                                        <p:panelGrid id="StepTwelveGrid" columns="3" class="db-items-grid"
                                                     columnClasses="icon,label,amount">
                                            <img id="twelvethStepImg"
                                                 src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon-2ampel-g-gelb.png"
                                                 class="db-item-icon"
                                                 onclick="clickStepTwelve()"/>
                                            <p:outputLabel id="zakOffenLabel" value="ZAK | offen"/>
                                            <p:outputLabel id="zakOffenAmountLabel"
                                                           value="#{dashboardController.stepTwelveAmount}"
                                                           styleClass="#{dashboardController.stepTwelveAmount == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>
                                    <p:outputPanel id="StepThirteenPanel"
                                                   rendered="#{dashboardController.viewPermission.stepThirteen}">
                                        <p:panelGrid id="StepThirteenGrid" columns="3" class="db-items-grid"
                                                     columnClasses="icon,label,amount">
                                            <img id="thirteenthStepImg"
                                                 src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon-2ampel-r-rot.png"
                                                 class="db-item-icon"
                                                 onclick="clickStepThirteen()"/>
                                            <p:outputLabel id="zakAbgelehntLabel" value="ZAK | abgelehnt"/>
                                            <p:outputLabel id="zakAbgelehntAmountLabel"
                                                           value="#{dashboardController.stepThirteenAmount}"
                                                           styleClass="#{dashboardController.stepThirteenAmount == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>
                                    <p:outputPanel id="ninethStepPanel"
                                                   rendered="#{dashboardController.viewPermission.stepNine}">
                                        <p:panelGrid id="ninethStepGrid" columns="3" class="db-items-grid"
                                                     columnClasses="icon,label,amount">
                                            <img id="ninethStepImg"
                                                 src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon-2ampel-leer.png"
                                                 class="db-item-icon" onclick="clickStepNine()"/>
                                            <p:outputLabel id="umsetzungBestaetigenLabel"
                                                           value="#{msg.umsetzungBestaetigen}"/>
                                            <p:outputLabel id="ninethStepAmountLabel"
                                                           value="#{dashboardController.stepNineAmount}"
                                                           styleClass="#{dashboardController.stepNineAmount == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>
                                    <p:outputPanel id="eleventhStepPanel"
                                                   rendered="#{dashboardController.viewPermission.stepEleven}">
                                        <p:panelGrid id="eleventhStepGrid" columns="3" class="db-items-grid"
                                                     columnClasses="icon,label,amount">
                                            <img id="eleventhStepImg"
                                                 src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon-2ampel-r-rot.png"
                                                 class="db-item-icon"
                                                 onclick="clickStepEleven()"/>
                                            <p:outputLabel id="nichtUmgesetztLabel" value="nicht umgesetzt"/>
                                            <p:outputLabel id="eleventhStepAmountLabel"
                                                           value="#{dashboardController.stepElevenAmount}"
                                                           styleClass="#{dashboardController.stepElevenAmount == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>
                                    <p:outputPanel id="tenthStepPanel"
                                                   rendered="#{dashboardController.viewPermission.stepTen}">
                                        <p:panelGrid id="tenthStepGrid" columns="3" class="db-items-grid"
                                                     columnClasses="icon,label,amount">
                                            <img id="tenthStepImg"
                                                 src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon-2ampel-g-gelb.png"
                                                 class="db-item-icon"
                                                 onclick="clickStepTen()"/>
                                            <p:outputLabel id="keineWeiterverfolgungLabel"
                                                           value="#{msg.dashboard_umsetzungsverwaltung_unzureichendeAnforderungsqualitaet}"/>
                                            <p:outputLabel id="tenthStepAmountLabel"
                                                           value="#{dashboardController.stepTenAmount}"
                                                           styleClass="#{dashboardController.stepTenAmount == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>
                                    <p:outputPanel id="fourteenStepPanel"
                                                   rendered="#{dashboardController.viewPermission.stepFourteen}">
                                        <p:panelGrid id="fourteenStepGrid" columns="3" class="db-items-grid"
                                                     columnClasses="icon,label,amount">
                                            <img id="fourteenStepImg"
                                                 src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon-langlaeufer3.png"
                                                 class="db-item-icon"
                                                 onclick="clickStepFourteen()"/>
                                            <p:outputLabel id="langlauferLabel" value="#{msg.dashboard_langlaufer}"/>
                                            <p:outputLabel id="fourteenStepAmountLabel"
                                                           value="#{dashboardController.stepFourteenAmount}"
                                                           styleClass="#{dashboardController.stepFourteenAmount == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>
                                    <p:panelGrid columns="3" class="db-items-grid" columnClasses="icon,label,amount">
                                    </p:panelGrid>
                                </p:outputPanel>

                                <p:outputPanel id="berechtigungArbeitsvorratPanelWrapper"
                                               rendered="#{dashboardController.viewPermission.arbeitsvorratBerechtigungAntrag}"
                                               class="dashboardMenuMarginBottom">
                                    <div class="db-items-header">
                                        <p:outputLabel value="#{msg.berechtigungantrag_antragsverwaltung}" class="label"/>
                                    </div>
                                    <p:outputPanel id="berechtigungArbeitsvorratPanel">
                                        <p:panelGrid id="berechtigungArbeitsvorratPanelGrid" columns="3" class="db-items-grid"
                                                     columnClasses="icon,label,amount">
                                            <img id="berechtigungArbeitsvorratPanelWrapperImage"
                                                 src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_verified.png"
                                                 class="db-item-icon"
                                                 onclick="clickArbeitsvorratBerechtigungAntrag()"/>
                                            <p:outputLabel id="berechtigungArbeitsvorratLabel"
                                                           value="#{msg.berechtigungantrag_offene_antraege}"/>
                                            <p:outputLabel id="berechtigungArbeitsvorratAmountLabel"
                                                           value="#{dashboardController.arbeitsvorratBerechtigungAntrag}"
                                                           styleClass="#{dashboardController.arbeitsvorratBerechtigungAntrag == 0 ? 'zero' : ''}"/>
                                        </p:panelGrid>
                                    </p:outputPanel>
                                </p:outputPanel>
                            </div>
                        </div>
                        <p:remoteCommand action="#{dashboardController.stepOneClicked()}" name="clickStepOne"/>
                        <p:remoteCommand action="#{dashboardController.stepTwoClicked()}" name="clickStepTwo"/>
                        <p:remoteCommand action="#{dashboardController.stepThreeClicked()}" name="clickStepThree"/>
                        <p:remoteCommand action="#{dashboardController.stepFourClicked()}" name="clickStepFour"/>
                        <p:remoteCommand action="#{dashboardController.stepFiveClicked()}" name="clickStepFive"/>
                        <p:remoteCommand action="#{dashboardController.stepSixClicked()}" name="clickStepSix"/>
                        <p:remoteCommand action="#{dashboardController.stepEightClicked()}" name="clickStepEight"/>
                        <p:remoteCommand action="#{dashboardController.stepNineClicked()}" name="clickStepNine"/>
                        <p:remoteCommand action="#{dashboardController.stepTenClicked()}" name="clickStepTen"/>
                        <p:remoteCommand action="#{dashboardController.stepElevenClicked()}" name="clickStepEleven"/>
                        <p:remoteCommand action="#{dashboardController.stepTwelveClicked()}" name="clickStepTwelve"/>
                        <p:remoteCommand action="#{dashboardController.stepThirteenClicked()}"
                                         name="clickStepThirteen"/>
                        <p:remoteCommand action="#{dashboardController.stepFourteenClicked()}"
                                         name="clickStepFourteen"/>
                        <p:remoteCommand action="#{dashboardController.clickArbeitsvorratBerechtigungAntrag()}"
                                         name="clickArbeitsvorratBerechtigungAntrag"/>
                    </h:form>
                </div>
            </div>

            <div class="db-topnav-profile-wrapper">
                <div class="db-topnav-profile">
                    <div id="userProfileAccountLink" class="db-topnav-profile-icon" onclick="toggleUserMenu()">
                        <p:outputLabel id="dashbaordUserMenü" value="#{userSession.userAcronym}"/>
                        <p:tooltip showDelay="500" for="dashbaordUserMenü" position="bottom"
                                   value="#{msg.tooltipp_dashboard_content_usermenu}"/>
                    </div>
                    <div class="db-topnav-profile-menu ui-shadow" style="display: none;">
                        <div class="info-wrapper">
                            <div class="info-profile-icon-wrapper">
                                <div class="info-profile-icon">
                                    <p:outputLabel value="#{userSession.userAcronym}"/>
                                </div>
                            </div>
                            <p:commandLink id="userNameProfileLink" value="#{userSession.user.name}"
                                           class="db-topnav-profile-link"
                                           action="personalSettingsView?faces-redirect=true"/>
                            <p:tooltip showDelay="500" for="userNameProfileLink" position="bottom"
                                       value="#{msg.tooltipp_dashboard_content_usersettings}"/>
                        </div>
                        <p:panelGrid columns="1" class="menu-grid" columnClasses="nopadding">
                            <p:panelGrid class="db-topnav-profile-table" columns="2"
                                         rendered="#{dashboardController.viewPermission.benutzerverwaltung}">
                                <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_user.png"
                                     class="item_icon"/>
                                <p:commandLink value="#{msg.benutzerverwaltung}" class="db-topnav-menu-link"
                                               action="adminView?faces-redirect=true"/>
                            </p:panelGrid>

                            <p:panelGrid class="db-topnav-profile-table" columns="2" >
                                <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_check.png"
                                     class="item_icon"/>
                                <p:commandLink value="#{msg.kontextmenu_neue_berechtigung_beantragen}" class="db-topnav-menu-link"
                                               action="berechtigungAntragWorkflow?faces-redirect=true"/>
                            </p:panelGrid>

                            <p:panelGrid class="db-topnav-profile-table" columns="2"
                                         rendered="#{dashboardController.viewPermission.antragsverwaltung}">
                                <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_verified.png"
                                     class="item_icon"/>
                                <p:commandLink value="#{msg.berechtigungantrag_antragsverwaltung}" class="db-topnav-menu-link"
                                               action="berechtigungAntragVerwaltung?faces-redirect=true"/>
                            </p:panelGrid>

                            <p:panelGrid class="db-topnav-profile-table" columns="2"
                                         rendered="#{dashboardController.viewPermission.config}">
                                <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_settings.png"
                                     class="item_icon"/>
                                <p:commandLink value="#{msg.config}" class="db-topnav-menu-link"
                                               action="configView?faces-redirect=true"/>
                            </p:panelGrid>

                            <p:panelGrid class="db-topnav-profile-table" columns="2"
                                         rendered="#{dashboardController.viewPermission.systemLog}">
                                <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_approved.png"
                                     class="item_icon"/>
                                <p:link outcome="fahrzeugmerkmalVerwaltung" value="#{msg.fahrzeugmerkmal_verwaltung}" class="db-topnav-menu-link" />
                            </p:panelGrid>

                            <p:panelGrid class="db-topnav-profile-table" columns="2"
                                         rendered="#{dashboardController.viewPermission.systemLog}">
                                <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_plan.png"
                                     class="item_icon"/>
                                <p:commandLink value="System Monitoring" class="db-topnav-menu-link"
                                               action="systemMonitoring?faces-redirect=true"/>
                            </p:panelGrid>
                        </p:panelGrid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ui:composition>
