<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:filter="http://xmlns.jcp.org/jsf/composite/filter">
    <p:panel class="anfoHistTable">
        <div class="anfoFormular">
            <p:accordionPanel
                    id="derivatAccordionPanel"
                    dynamic="true"
                    multiple="true"
                    activeIndex="0,1"
                    styleClass="anfoFormularPanel"
                    style="margin-bottom:0"
            >
                <p:tab title="#{msg.neuesDerivat}" rendered="#{derivatController.viewPermission.neuesDerivatPanel}">
                    <h:form id="derivatAnlegenForm">
                        <p:growl id="growl" sticky="false" severity="info" showDetail="true"/>
                        <p:remoteCommand name="startTimerProcess" process="@this" update="growl"
                                         actionListener="#{derivatController.aktualisierePhasen()}"/>

                        <h:panelGrid columns="2" class="anfoTabTable" width="100%"
                                     columnClasses="small-column, max-column">
                            <p:outputLabel for="derivatBeschrInput" value="#{msg.name} :"/>
                            <p:inputText id="derivatBeschrInput" class="anfoTabInput"
                                         value="#{derivatController.derivatViewData.derivat.name}" required="true"/>

                            <p:outputLabel for="derivatBezeichnungInput" value="#{msg.bezeichnung} :"/>
                            <p:inputText id="derivatBezeichnungInput" class="anfoTabInput"
                                         value="#{derivatController.derivatViewData.derivat.bezeichnung}"/>

                            <p:outputLabel for="derivatProdLinieInput" value="#{msg.produktlinie} :"/>
                            <p:selectOneMenu id="derivatProdLinieInput"
                                             value="#{derivatController.derivatViewData.derivat.produktlinie}"
                                             required="true">
                                <f:selectItems
                                        value="#{derivatController.derivatViewData.allProduktlinien}"
                                        var="produktlinie"
                                        itemLabel="#{produktlinie}"
                                        itemValue="#{produktlinie}"/>
                            </p:selectOneMenu>
                        </h:panelGrid>
                        <h:panelGrid columns="3" class="anfoTabTable" width="100%"
                                     columnClasses="small-column,month-column, max-column">
                            <p:commandButton id="btn_add" value="#{msg.hinzufuegen}" update="@form"
                                             action="#{derivatController.saveNewDerivat}">
                                <p:collector value="#{derivatController.derivatViewData.derivat}"
                                             addTo="#{derivatController.derivatViewData.derivate}" unique="true"/>
                            </p:commandButton>
                        </h:panelGrid>
                    </h:form>
                </p:tab>

                <p:tab title="#{msg.derivateVerwalten}" id="derivate">

                    <h:form id="derivateForm">
                        <p:remoteCommand name="filter" process="@form"
                                         action="#{derivatController.filter()}"/>
                        <div class="ui-g">

                            <div class="derivateFilterDiv">
                                <filter:genericInputFilter id="derivatFilter"
                                                           showTypeLabel="#{false}"
                                                           headerLabel="#{msg.derivat}"
                                                           filter="filter()"
                                                           searchFilter="#{derivatController.filter.derivateFilter}"/>

                            </div>
                            <div class="derivateFilterDiv">
                                <filter:genericInputFilter id="produktlinieFilter"
                                                           showTypeLabel="#{false}"
                                                           headerLabel="#{msg.produktlinie}"
                                                           filter="filter()"
                                                           searchFilter="#{derivatController.filter.produktlinieFilter}"/>
                            </div>
                            <div class="ui-g-3">

                            </div>
                            <div class="ui-g-3">
                                <p:commandButton id="filterResetButton" value="#{msg.filterZuruecksetzen}"
                                                 action="#{derivatController.reset()}"/>
                            </div>

                            <div class="ui-g-3">
                                <p:inputSwitch id="aktiveStatusFilter"
                                               value="#{derivatController.derivatViewData.onlyActiveFilter}"
                                               onLabel="#{msg.derivat_filterLabel_onlyActive}"
                                               offLabel="#{msg.derivat_filterLabel_alleDerivate}"
                                               rendered="#{derivatController.viewPermission.derivatBearbeitenButton}">
                                    <p:ajax event="change" listener="#{derivatController.filterByAktiveStatus()}"
                                            process="@this"/>
                                </p:inputSwitch>
                            </div>
                        </div>

                        <p:dataTable value="#{derivatController.derivatViewData.filteredDerivate}"
                                     var="derivat"
                                     widgetVar="derivateTableWidgetVar"
                                     id="derivateTable" editable="true"
                                     class="projects"
                                     selection="#{derivatController.derivatViewData.selectedDerivat}"
                                     selectionMode="single"
                                     rowKey="#{derivat.id}"
                                     paginator="true"
                                     rows="11"
                                     paginatorAlwaysVisible="false"
                                     paginatorPosition="bottom"
                                     rowExpandMode="single">
                            <p:ajax event="rowEdit" listener="#{derivatController.onRowEdit}"
                                    update="derivatAccordionPanel:derivateForm:derivateTable" process="@this"/>

                            <p:columnGroup type="header">
                                <p:row>
                                    <p:column headerText="#{msg.name}" width="5%"/>
                                    <p:column headerText="#{msg.bezeichnung}" width="10%"/>
                                    <p:column headerText="#{msg.produktlinie}" width="5%" style="text-align: center;"/>
                                    <p:column headerText="Status" width="8%"/>
                                    <p:column width="5%"/>
                                    <p:column width="2%"/>
                                    <p:column headerText="#{msg.fahrzeugmerkmale}" width="8%"
                                              style="text-align: center;"/>                                    
                                    <p:column width="8%"/>
                                </p:row>
                            </p:columnGroup>

                            <p:column>
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{derivat.name}"/>
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:inputText id="nameChangeInput" value="#{derivat.name}" required="true"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>
                            <p:growl id="dateCheckGrowl" for="dateCheck" sticky="false" severity="warn"
                                     showDetail="true"/>

                            <p:column>
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{derivat.bezeichnung}"/>
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:inputText id="bezeichnungChangeInput" value="#{derivat.bezeichnung}"/>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column style="text-align: center;">
                                <p:cellEditor>
                                    <f:facet name="output">
                                        <h:outputText value="#{derivat.produktlinie}"/>
                                    </f:facet>
                                    <f:facet name="input">
                                        <p:selectOneMenu id="derivatProdLinieInput"
                                                         value="#{derivat.produktlinie}"
                                                         required="true">
                                            <f:selectItems
                                                    value="#{derivatController.derivatViewData.allProduktlinien}"
                                                    var="produktlinie"
                                                    itemLabel="#{produktlinie}"
                                                    itemValue="#{produktlinie}"/>
                                        </p:selectOneMenu>
                                    </f:facet>
                                </p:cellEditor>
                            </p:column>

                            <p:column style="width:150px">
                                <p:commandButton
                                        id="derivatChangeStatusButton"
                                        value="#{derivatController.convertDerivatStatusToString(derivat)}"
                                        immediate="true"
                                        actionListener="#{derivatController.openChangeDerivatStatusDialog(derivat)}"
                                        disabled="#{!derivatController.isStatusChangeEnabled(derivat)}"
                                />
                                <p:tooltip showDelay="500" for="derivatChangeStatusButton"
                                           rendered="#{derivatController.isStatusChangeEnabled(derivat)}"
                                           position="bottom" value="#{msg.derivat_change_status_dialog_titel}"/>

                            </p:column>

                            <p:column>
                                <p:rowToggler/>
                            </p:column>

                            <p:column style="width:2px">
                                <p:rowEditor
                                        rendered="#{derivatController.viewPermission.derivatBearbeitenButton and !derivat.status.isInaktiv()}"
                                        style="width: 5px"/>
                            </p:column>

                            <p:column style="width:150px; cursor:default;">
                                <p:link id="fahrzeugmerkmaleLink"
                                        outcome="fahrzeugmerkmalDerivatzuordnung.xhtml"
                                        target="_blank">
                                    <f:param name="derivat" value="#{derivat.name}"/>
                                    <p:progressBar id="fahrzeugmerkmaleProgressbar"
                                                   value="#{derivatController.derivatViewData.getProgressValueForDerivat(derivat)}"
                                                   labelTemplate="#{derivatController.derivatViewData.getProgressBarLabelForDerivat(derivat)}"
                                                   styleClass="auspraegungenProgressbar #{derivatController.derivatViewData.isAbgeschlossenForDerivat(derivat) ? 'abgeschlossen' : ''}"
                                                   displayOnly="true">
                                    </p:progressBar>
                                </p:link>
                            </p:column>

                            <p:column style="width:200px">
                                <p:commandButton id="derivatInaktivSetzenLink"
                                                 value="#{msg.derivat_inaktivSetzen}"
                                                 immediate="true"
                                                 styleClass="derivat-button derivat-active-button"
                                                 actionListener="#{derivatController.openDeleteDerivatDialog(derivat)}"
                                                 rendered="#{derivatController.viewPermission.derivatBearbeitenButton and !derivat.status.isInaktiv()}">
                                </p:commandButton>

                                <p:commandButton id="derivatAktivSetzenLink"
                                                 value="#{msg.derivat_aktivSetzen}"
                                                 immediate="true"
                                                 styleClass="derivat-button derivat-inactive-button"
                                                 actionListener="#{derivatController.restoreDeletedDerivat(derivat)}"
                                                 rendered="#{derivatController.viewPermission.derivatBearbeitenButton and derivat.status.isInaktiv()}">
                                </p:commandButton>
                            </p:column>


                            <p:rowExpansion>
                                <p:dataTable value="#{derivat.kovAPhasen}"
                                             var="phase"
                                             widgetVar="kovAPhaseTableWidgetVar"
                                             id="kovAPhaseTable"
                                             editable="true"
                                             class="auswTable"
                                             rowKey="#{phase.id}"
                                             sortBy="#{phase.kovAPhase.id}"
                                >
                                    <p:ajax event="rowEdit"
                                            listener="#{derivatController.onKovAPhaseEdit}"
                                            update="@this"/>

                                    <p:ajax event="rowEditCancel"
                                            listener="#{derivatController.onKovAPhaseClear}"
                                            update="@this"/>

                                    <p:columnGroup type="header">
                                        <p:row>
                                            <p:column headerText="#{msg.phase}" width="20%" style="padding-left: 5%;"/>
                                            <p:column headerText="#{msg.startdatum}" width="20%"
                                                      style=" text-align: center;"/>
                                            <p:column headerText="#{msg.endDatum}" width="20%"
                                                      style=" text-align: center;"/>
                                            <p:column headerText="" width="40%"/>
                                        </p:row>
                                    </p:columnGroup>

                                    <p:column style="width: 20%; padding-left: 5%;">
                                        <p:outputLabel value="#{phase.kovAPhase.toString()}:"/>
                                    </p:column>

                                    <p:column style="width: 20%; text-align: center;">
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <p:outputLabel value="#{phase.startDate}">
                                                    <f:converter converterId="dateTimeConverter"/>
                                                </p:outputLabel>
                                            </f:facet>

                                            <f:facet name="input">
                                                <p:calendar id="startDateKovaPhase"
                                                            value="#{phase.startDate}"
                                                            showOn="both"
                                                            pattern="yyyy-MM-dd"
                                                            mindate="#{derivatController.derivatViewData.currentDate}"
                                                            maxdate="#{derivatController.derivatViewData.endDate}"
                                                            showButtonPanel="true"
                                                            readonlyInput="true"
                                                            navigator="true"
                                                            size="10"
                                                            rendered="#{derivatController.viewPermission.getKovaPhasenBearbeitenButton()}">
                                                    <f:converter converterId="dateTimeConverter"/>
                                                    <p:ajax event="dateSelect"
                                                            listener="#{derivatController.derivatViewData.setStartDate(phase.startDate)}"
                                                            update="endDateKovaPhase"/>
                                                </p:calendar>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column style="width: 20%; text-align: center;">
                                        <p:cellEditor>
                                            <f:facet name="output">
                                                <p:outputLabel value="#{phase.endDate}">
                                                    <f:converter converterId="dateTimeConverter"/>
                                                </p:outputLabel>
                                            </f:facet>

                                            <f:facet name="input">
                                                <p:calendar id="endDateKovaPhase"
                                                            value="#{phase.endDate}"
                                                            showOn="both"
                                                            pattern="yyyy-MM-dd"
                                                            mindate="#{derivatController.derivatViewData.startDate}"
                                                            showButtonPanel="true"
                                                            readonlyInput="true"
                                                            navigator="true"
                                                            size="10"
                                                            rendered="#{derivatController.viewPermission.getKovaPhasenBearbeitenButton()}">
                                                    <f:converter converterId="dateTimeConverter"/>
                                                    <p:ajax event="dateSelect"
                                                            listener="#{derivatController.derivatViewData.setEndDate(phase.endDate)}"
                                                            update="startDateKovaPhase"/>
                                                </p:calendar>
                                            </f:facet>
                                        </p:cellEditor>
                                    </p:column>

                                    <p:column style="width: 40%;">
                                        <p:rowEditor
                                                rendered="#{derivatController.viewPermission.getKovaPhasenBearbeitenButton()}"/>
                                    </p:column>

                                </p:dataTable>

                            </p:rowExpansion>
                        </p:dataTable>
                    </h:form>
                </p:tab>
            </p:accordionPanel>
            <p:accordionPanel rendered="#{!derivatController.viewPermission.page}">
                <p:tab>
                    <p:outputLabel value="#{msg.keineBerechtigung}"></p:outputLabel>
                </p:tab>
            </p:accordionPanel>
        </div>
    </p:panel>
</ui:composition>
