<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui">
    <div class="left">
        <p:commandLink onclick="redirectBack()" class="d-iflex">
            <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_arrow_back.png" title="#{msg.zurueck}" class="glass"/>
        </p:commandLink> 
    </div>
    <div class="right">
        <p:commandButton rendered="#{derivatController.viewPermission.aktualisierungButton}" id="aktualisierungStarten" onclick="startTimerProcess()" class="d-iflex" value="#{msg.aktualisierungStarten}" />
        <p:tooltip showDelay="500" for="aktualisierungStarten"  position="bottom" value="#{msg.tooltipp_derivate_nav_aktualisierungButton}" />
    </div>
</ui:composition>
