<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui">
    <div class="db-content-wrapper">
        <div class="db-content">
            <div class="db-logo-wrapper error-wrapper">
                <div class="error-text-wrapper">
                    <p:outputLabel class="ui-g-12">
                        #{msg.esIstEinFehler}
                    </p:outputLabel>
                    <p:outputLabel class="ui-g-12">
                        #{msg.bitteWendenSieSich}
                    </p:outputLabel>
                    <p:outputLabel class="ui-g-12">
                        #{msg.sieWerdenAutomatisch}
                    </p:outputLabel>
                    <p:outputLabel class="zurStartseiteLabel ui-g-12">
                        <p:link outcome="index.xhtml" 
                                value="#{msg.zurStartseite}" 
                                class="clickableTextButton zurStartseiteButton" />
                    </p:outputLabel>
                </div>
            </div>
        </div>
    </div>
</ui:composition>