<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <h:outputStylesheet library="css" name="accordion/accordion.css" />

    <p:panel class="anfoContent">
        <h:form id="settingsForm">
            <p:remoteCommand name="changeUser" action="#{personalSettingsController.refreshAfterUserChange()}" />
            <p:remoteCommand name="changeLocation" action="#{personalSettingsController.changeUserLocation()}" />
            <div class="anfoFormular">
                <p:accordionPanel
                    id="adminAccordionPanel"
                    dynamic="true"
                    multiple="true"
                    activeIndex="0,1,2"
                    styleClass="anfoFormularPanel" 
                    style="margin-bottom:0">
                    <p:tab title="#{msg.persoenlicheEinstellungen}">
                        <h:panelGrid columns="2" class="anfoTabTable" width="100%" columnClasses="small-column, max-column">
                            <p:outputLabel value="#{msg.aktuellerNutzer}" rendered="#{personalSettingsController.isBmwUmgebung()}" />
                            <p:outputLabel value="#{personalSettingsController.user.toString()}" rendered="#{personalSettingsController.isBmwUmgebung()}" />


                            <p:outputLabel for="currentUserMenu" value="#{msg.aktuellerUser}" rendered="#{!personalSettingsController.isBmwUmgebung()}" />                           
                            <p:selectOneMenu id="currentUserMenu" 
                                             rendered="#{!personalSettingsController.isBmwUmgebung()}"
                                             value="#{personalSettingsController.user}" 
                                             converter="#{personalSettingsController.mitarbeiterConverter}" 
                                             onchange="changeUser();">
                                <f:selectItems value="#{personalSettingsController.allMitarbeiter}" itemLabel="#{n.vorname} #{n.nachname}" var="n" itemValue="#{n}"/>
                            </p:selectOneMenu>


                            <p:outputLabel for="setUserLocation" value="#{msg.sprache}" />
                            <p:selectOneMenu id="setUserLocation" 
                                             value="#{personalSettingsController.user.location}" onchange="changeLocation();"  >

                                <f:selectItems value="#{personalSettingsController.allLocations}" itemLabel="#{n}" var="n" itemValue="#{n}"/>   
                            </p:selectOneMenu>
                            <p:outputLabel for="tableRollen" value="#{msg.mailAktivieren}: "/>
                            <p:inputSwitch id="receiveMail" value="#{personalSettingsController.user.mailReceiptEnabled}" >
                                <p:ajax event="change" listener="#{personalSettingsController.saveUser()}" />                                
                            </p:inputSwitch>

                            <p:outputLabel for="tableRollen" value="#{msg.rollen}: "/>
                            <p:dataTable id="tableRollen" var="rolle" value="#{personalSettingsController.rollen}">
                                <p:column headerText="#{msg.rolle}">
                                    <h:outputText value="#{rolle.bezeichnung}"/>
                                </p:column>
                            </p:dataTable>
                        </h:panelGrid>
                    </p:tab>

                    <p:tab title="#{msg.berechtigungen}" >
                        <p:panel id="mitarbeiterAdminPanel" header="#{msg.admin}" 
                                 rendered="#{personalSettingsController.viewPermission.adminPanel}" />

                        <p:panel id="mitarbeiterSensorPanel" header="#{msg.sensor}" 
                                 rendered="#{personalSettingsController.viewPermission.sensorPanel}">
                            <div class="ui-g MitarbeiterBearbeitenTable">
                                <div class="ui-g-6">
                                    <p:dataTable id="mitarbeiterSensorTable" 
                                                 var="b" 
                                                 emptyMessage="#{msg.keinSensorCocSchreibrecht}"
                                                 value="#{personalSettingsController.sensorCocAsSensorSchreibend}" 
                                                 class="auswTable">
                                        <p:column headerText="#{msg.schreibend}">
                                            #{b.name}
                                        </p:column>
                                    </p:dataTable>
                                </div>
                                <div class="ui-g-6">
                                    <p:dataTable id="mitarbeiterSensorLeseTable" 
                                                 var="b" 
                                                 emptyMessage="#{msg.keinSensorCocLeserecht}"
                                                 value="#{personalSettingsController.sensorCocAsSensorLesend}" 
                                                 class="auswTable">
                                        <p:column headerText="#{msg.lesend}">
                                            #{b.name}
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </div>
                        </p:panel>

                        <p:panel id="mitarbeiterSensorEingPanel" header="#{msg.SensorEing}" 
                                 rendered="#{personalSettingsController.viewPermission.sensorEingeschraenktPanel}">
                            <div class="ui-g MitarbeiterBearbeitenTable">
                                <div class="ui-g-12">
                                    <p:dataTable id="mitarbeiterSensorEingTable" 
                                                 var="b" 
                                                 emptyMessage="#{msg.keinSensorCocSchreibrecht}"
                                                 value="#{personalSettingsController.sensorCocAsSensorEingSchreibend}" 
                                                 class="auswTable">
                                        <p:column headerText="#{msg.schreibend}">
                                            #{b.name}
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </div>
                        </p:panel>

                        <p:panel id="mitarbeiterSensorCoCLeiterPanel" header="#{msg.sensorCoCLeiter}" 
                                 rendered="#{personalSettingsController.viewPermission.sensorCoCLeiterPanel}">           
                            <div class="ui-g MitarbeiterBearbeitenTable">                                
                                <div class="ui-g-6">
                                    <p:dataTable id="mitarbeiterVerantwortlicherFTSSensorTable" 
                                                 var="b" 
                                                 emptyMessage="#{msg.keinSensorCocSchreibrecht}"
                                                 value="#{personalSettingsController.sensorCocAsSensorCocLeiterSchreibend}" 
                                                 class="auswTable">
                                        <p:column headerText="#{msg.schreibend}">
                                            #{b.name}
                                        </p:column>
                                    </p:dataTable>
                                </div>
                                <div class="ui-g-6">
                                    <p:dataTable id="mitarbeiterVerantwortlicherFTSSensorLeseTable" 
                                                 var="b" 
                                                 emptyMessage="#{msg.keinSensorCocLeserecht}"
                                                 value="#{personalSettingsController.sensorCocAsSensorCocLeiterLesend}" 
                                                 class="auswTable">
                                        <p:column headerText="#{msg.lesend}">
                                            #{b.name}
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </div>
                        </p:panel>

                        <p:panel id="mitarbeiterVertreterSCLPanel" header="#{msg.vertreterSCL}"
                                 rendered="#{personalSettingsController.viewPermission.vertreterSCLPanel}">          
                            <div class="ui-g MitarbeiterBearbeitenTable">
                                <div class="ui-g-6">
                                    <p:dataTable id="mitarbeiterFTSSensorTable" 
                                                 var="b" 
                                                 emptyMessage="#{msg.keinSensorCocSchreibrecht}"
                                                 value="#{personalSettingsController.sensorCocAsVertreterSCLSchreibend}" 
                                                 class="auswTable">
                                        <p:column headerText="#{msg.schreibend}">
                                            #{b.name}
                                        </p:column>
                                    </p:dataTable>
                                </div>
                                <div class="ui-g-6">
                                    <p:dataTable id="mitarbeiterFTSSensorLeseTable" 
                                                 var="b" 
                                                 emptyMessage="#{msg.keinSensorCocLeserecht}"
                                                 value="#{personalSettingsController.sensorCocAsVertreterSCLLesend}" 
                                                 class="auswTable">
                                        <p:column headerText="#{msg.lesend}">
                                            #{b.name}
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </div>
                        </p:panel>


                        <p:panel id="mitarbeiterTteamleiterPanel" header="#{msg.tteamleiter}" 
                                 rendered="#{personalSettingsController.viewPermission.tteamleiterPanel}">
                            <div class="ui-g MitarbeiterBearbeitenTable">
                                <div class="ui-g-12">
                                    <p:dataTable id="mitarbeiterTTLTable" 
                                                 var="b" 
                                                 emptyMessage="#{msg.keinTteam}"
                                                 value="#{personalSettingsController.tteamAsTteamleiterSchreibend}" 
                                                 class="auswTable">
                                        <p:column headerText="#{msg.tteam}">
                                            #{b.name}
                                        </p:column>
                                    </p:dataTable>
                                </div>

                            </div>
                        </p:panel>
                        <p:panel id="mitarbeiterTteamVertreterPanel" header="#{msg.tteamvertreter}" 
                                 rendered="#{personalSettingsController.viewPermission.tteamVertreterPanel}">
                            <div class="ui-g MitarbeiterBearbeitenTable">
                                <div class="ui-g-12">
                                    <p:dataTable id="mitarbeiterTTVTable" 
                                                 var="b" 
                                                 emptyMessage="#{msg.keinTteam}"
                                                 value="#{personalSettingsController.tteamVertreter}" 
                                                 class="auswTable">
                                        <p:column headerText="#{msg.tteam}">
                                            #{b}
                                        </p:column>
                                    </p:dataTable>
                                </div>

                            </div>
                        </p:panel>
                        <p:panel id="mitarbeiterTteamMitgliedPanel" header="#{msg.tteammitglied}" 
                                 rendered="#{personalSettingsController.viewPermission.tteamMitgliedPanel}">           
                            <div class="ui-g MitarbeiterBearbeitenTable">                                
                                <div class="ui-g-6">
                                    <p:dataTable id="mitarbeiterTteamMitgliedTable" 
                                                 var="b" 
                                                 emptyMessage="#{msg.keintteamMitgliedSchreibrecht}"
                                                 value="#{personalSettingsController.tteamMitgliedSchreibend}" 
                                                 class="auswTable">
                                        <p:column headerText="#{msg.schreibend}">
                                            #{b}
                                        </p:column>
                                    </p:dataTable>
                                </div>
                                <div class="ui-g-6">
                                    <p:dataTable id="mitarbeiterTteamMitgliedLesendTable" 
                                                 var="b" 
                                                 emptyMessage="#{msg.keintteamMitgliedLeserecht}"
                                                 value="#{personalSettingsController.tteamMitgliedLeser}" 
                                                 class="auswTable">
                                        <p:column headerText="#{msg.lesend}">
                                            #{b}
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </div>
                        </p:panel>
                        <p:panel id="mitarbeiterEcoCPanel" header="#{msg.ecoc}" 
                                 rendered="#{personalSettingsController.viewPermission.ecocPanel}">
                            <div class="ui-g MitarbeiterBearbeitenTable">
                                <div class="ui-g-12">
                                    <p:dataTable id="mitarbeiterECocTable" 
                                                 var="b" 
                                                 emptyMessage="#{msg.keinModul}"
                                                 value="#{personalSettingsController.modulSeTeamAsEcocSchreibend}" 
                                                 class="auswTable">
                                        <p:column headerText="#{msg.seTeam}">
                                            #{b.name}
                                        </p:column>
                                    </p:dataTable>
                                </div>                
                            </div>
                        </p:panel>

                        <p:panel id="mitarbeiterAnfordererPanel" header="#{msg.anforderer}" 
                                 rendered="#{personalSettingsController.viewPermission.anfordererPanel}">
                            <div class="ui-g MitarbeiterBearbeitenTable">
                                <div class="ui-g-6">
                                    <p:dataTable id="mitarbeiterAnfordererTable" 
                                                 var="b" 
                                                 emptyMessage="#{msg.keinDerivat}"
                                                 value="#{personalSettingsController.derivatAsAnfordererSchreibend}"
                                                 class="auswTable">
                                        <p:column headerText="#{msg.derivat}">
                                            #{b.name}
                                        </p:column>
                                    </p:dataTable>
                                </div>
                                <div class="ui-g-6">
                                    <p:dataTable id="mitarbeiterAnfordererZakTable" 
                                                 var="b" 
                                                 emptyMessage="#{msg.keineZak}"
                                                 value="#{personalSettingsController.zakEinordnungAsAnfordererSchreibend}" 
                                                 class="auswTable">
                                        <p:column headerText="#{msg.zakEinordnung}">
                                            #{b.name}
                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </div>
                        </p:panel>

                        <p:panel id="mitarbeiterUmsetzungsbestaetigerPanel" header="#{msg.umsetzungsbest}" 
                                 rendered="#{personalSettingsController.viewPermission.umsetzungsbestaetigerPanel}">
                            <div class="ui-g MitarbeiterBearbeitenTable">
                                <div class="ui-g-12">
                                    <p:dataTable id="mitarbeiterUmsBestSensorTable" 
                                                 var="b" 
                                                 emptyMessage="#{msg.keinSensorCoc}"
                                                 value="#{personalSettingsController.sensorCocAsUmsetzungsbestaetigerSchreibend}" 
                                                 class="auswTable">
                                        <p:column>
                                            #{b.name}
                                        </p:column>
                                    </p:dataTable>
                                </div>  
                            </div>
                        </p:panel>

                        <p:panel id="mitarbeiterLeserPanel" header="#{msg.leser}" 
                                 rendered="#{personalSettingsController.viewPermission.leserPanel}">
                            <div class="ui-g MitarbeiterBearbeitenTable">
                                <div class="ui-g-12">
                                    <p:dataTable id="mitarbeiterLeserBestSensorTable" 
                                                 var="b" 
                                                 emptyMessage="#{msg.keinSensorCoc}"
                                                 value="#{personalSettingsController.sensorCocAsLeser}" 
                                                 class="auswTable">
                                        <p:column>
                                            #{b.name}
                                        </p:column>
                                    </p:dataTable>
                                </div>  
                            </div>
                        </p:panel>
                    </p:tab>
                </p:accordionPanel>
            </div>
        </h:form>
    </p:panel>
</ui:composition>
