<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:outputStylesheet library="css" name="public/color.css"/>
    <h:outputStylesheet library="css" name="main.css"/>
    <h:outputStylesheet library="css" name="button/button.css"/>
    <h:outputStylesheet library="css" name="button/text_button.css"/>
    <h:outputStylesheet library="css" name="viewExpired.css"/>
    <h:outputScript library="js" name="dashboard.js" target="head"/>

    <div class="db-content">
        <div class="db-logo-wrapper error-wrapper">
            <div class="error-text-wrapper">
                <p:outputLabel class="ui-g-12">
                    #{msg.ihreSitzungIstAbgelaufen}
                </p:outputLabel>
                <p:outputLabel class="ui-g-12">
                    #{msg.sieWerdenAutomatisch}
                </p:outputLabel>
                <h:form>
                    <p:commandButton id="berechtigungWorkflowButton"
                                     value="#{msg.zurStartseite}"
                                     styleClass="glass-button"
                                     action="index.xhtml?faces-redirect=true"/>
                </h:form>
            </div>
        </div>
    </div>
</ui:composition>