<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    <p:panel class="anfoContent">
        <h:form id="settingsForm">
            <p:remoteCommand name="processAnfoForm" update="@form" action="#{anforderungController.save()}" />
            <div class="anfoFormular">
                <p:accordionPanel
                    id="adminAccordionPanel"
                    dynamic="true"
                    multiple="true"
                    activeIndex="0,1,2"
                    styleClass="anfoFormularPanel" 
                    style="margin-bottom:0">
                    <p:tab title="#{msg.wertebereiche}">
                        <p:selectOneMenu id="attributeDropdown" value="#{configurationController.attribut}" styleClass="menu" panelStyleClass="panel"  style="top:0;">
                            <p:ajax event="change" update="wertIterator" listener="#{configurationController.dropdownChangeListener(attribut)}" />
                            <f:selectItem itemLabel="#{msg.attribute}" noSelectionOption="true" />
                            <f:selectItems value="#{configurationController.attribute}"/>
                        </p:selectOneMenu>

                        <h:panelGrid id="wertIterator" columns="2">
                            <p:commandButton rendered="#{not empty configurationController.attribut}" value="#{msg.speichern}" id="werteSubmitButton" ajax="true" type="submit" action="#{configurationController.persistWerte()}" onclick="PF('dlg1').show();" /> <br/>

                            <ui:repeat value="#{configurationController.werte}" var="wertAusIterator" >
                                <p:inputText class="anfoTabInput" id="wertInput" value="#{wertAusIterator.wert}"> 
                                    <p:ajax event="blur" update="wertInput" listener="#{configurationController.persistWert(wertAusIterator)}"/>
                                </p:inputText>
                                <p:commandButton immediate="true" value="#{msg.loeschen}" action="#{configurationController.removeWert(wertAusIterator)}" ajax="true" update="settingsForm:adminAccordionPanel:wertIterator"/>
                                <br/>
                            </ui:repeat>
                            <br/>
                            <p:commandButton rendered="#{not empty configurationController.attribut}" immediate="true" value="#{msg.wertHinzufuegen}" action="#{configurationController.addWert(configurationController.attribut)}" ajax="true" update="settingsForm:adminAccordionPanel:wertIterator"/>

                            <p:dialog header="#{msg.wertelisteGespeichert}" widgetVar="dlg1" minHeight="40">
                                <h:outputText value="#{msg.wertelisteAktualisiert}"/>
                                <br/>
                                <p:commandButton value="#{msg.ok}" onclick="PF('dlg1').hide();" class="wertebereichDialogButton"/>
                            </p:dialog>
                        </h:panelGrid>
                    </p:tab>
                </p:accordionPanel>
            </div>
        </h:form>
    </p:panel>
</ui:composition>