.adminAccordionPanel {
    margin-bottom: 0px;
}

.attributeDropdown {
    top: 0px;
}

.infoTexte.action {
    width: 32px;
}

.reportingConfig {
    display: grid;
    margin-top: 20px;
}

.adminAccordionPanel2 {
    margin-bottom: 0px;
    margin-top: 20px !important;
}

