.resultBeschreibungSnippet {
    font-weight: bold;
}

.resultBeschreibungStaerkeSnippet {
    font-weight: bold;
}

.save-search_actions_menu.save-search_popup.ui-shadow.saveSearchActionsMenu {
    display: none;
}
