<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:link="http://xmlns.jcp.org/jsf/composite/link"
      xmlns:zuordnung="http://xmlns.jcp.org/jsf/composite/zuordnung"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:define name="imports">
        <h:outputStylesheet library="css" name="public/growl.css" />
    </ui:define>

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="addAnfoCtrl" type="de.interfaceag.bmw.pzbk.vereinbarung.VereinbarungController"/>
        <cc:attribute required="true" name="vereinbarungHistoryController" type="de.interfaceag.bmw.pzbk.vereinbarung.history.VereinbarungHistoryController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <div class="p-20 padding-top-20">
            <h:form id="addAnfoForm">

                <p:growl id="growl" sticky="false" severity="info" showDetail="true" />

                <p:dataTable value="#{cc.attrs.addAnfoCtrl.tableData}"
                             var="row"
                             id="addAnfoTable"
                             rowIndexVar="rowIndex"
                             class="glass-table anforderungVereinbarenTable no-hover"
                             emptyMessage="#{msg.keineAnforderungenGefunden}"
                             selection="#{cc.attrs.addAnfoCtrl.selectedTableData}"
                             rowSelectMode="checkbox"
                             rowKey="#{row.key}"
                             scrollable="true"
                             scrollWidth="100%"
                             scrollHeight="600px"
                             liveScroll="true"
                             scrollRows="30"
                             rowStyleClass="no-hover rowStyle"
                             tableStyle="" >
                    <p:ajax event="rowSelectCheckbox" process="@this" update="@form addAnfoContent:addAnfoForm:addAnfoTable"/>
                    <p:ajax event="rowUnselectCheckbox" process="@this" update="@form addAnfoContent:addAnfoForm:addAnfoTable"/>
                    <p:ajax event="toggleSelect"  process="@this" update="@form addAnfoContent:addAnfoForm:addAnfoTable"
                            listener="#{cc.attrs.addAnfoCtrl.selectAllAnforderungen(!cc.attrs.addAnfoCtrl.allSelected)}"/>

                    <p:column selectionMode="multiple"
                              style="min-width: 36px; max-width: 36px; text-align: center;">
                    </p:column>
                    <p:column headerText="#{msg.anforderung}" style="min-width: 104px; max-width: 104px;">
                        <link:anforderungLink id="anforderungAnzeigenLink" anforderungLink="#{row}" />
                        <p:tooltip showDelay="500"  for="anforderungAnzeigenLink" position="bottom" value="#{msg.tooltipp_addAnfoView_content_showAnforderung}" />
                    </p:column>

                    <p:column style="min-width: 120px; max-width: 120px; width: 120px;">
                        <zuordnung:prozessbaukastenLabel
                                prozessbaukastenlabel="#{row.prozessbaukastenLabel}"
                                rendered="#{row.isProzessbaukastenZugeordnet()}" />
                    </p:column>

                    <p:column headerText="#{msg.modul}" style="min-width: 104px; max-width: 104px;">
                        <h:outputText styleClass="bodyLabel" value="#{row.modulName}" />
                    </p:column>
                    <p:column headerText="#{msg.zakid}" style="min-width: 90px; max-width: 90px;">
                        <a href="#{cc.attrs.addAnfoCtrl.buildZakUrl(row.zakId)}">
                            <h:outputText value="#{row.zakId}" />
                        </a>
                    </p:column>
                    <p:column headerText="#{msg.beschreibung}" style="min-width: 250px; max-width: 250px; width: 250px;">
                        <p:outputLabel id="beschreibungTextFull"
                                       class="bodyLabel"
                                       value="#{row.anforderungBeschreibungFull}"
                                       onclick="toggleBeschreibung(#{rowIndex})"
                                       styleClass="displayNone vereinbarungBeschreibungText" />
                        <p:outputLabel id="beschreibungTextPreview"
                                       class="bodyLabel"
                                       styleClass="vereinbarungBeschreibungText"
                                       value="#{row.anforderungBeschreibungShort}"
                                       onclick="toggleBeschreibung(#{rowIndex})" />
                    </p:column>
                    <p:columns id="derivatColumns"
                               value="#{cc.attrs.addAnfoCtrl.viewData.filteredDerivate}"
                               columnIndexVar="columnIndex"
                               headerText="#{row.get(columnIndex).derivatName}"
                               sortable="true"
                               styleClass="column#{columnIndex} #{columnIndex % 2 == 0 ? 'grayBackgroud' : ''}
                               #{cc.attrs.addAnfoCtrl.viewData.kommentarDerivate.contains(derivat)? 'commentShown' : 'noComment'}"
                               var="derivat"
                               width="800"
                               style="#{cc.attrs.addAnfoCtrl.selectedDerivat eq derivat ? 'background: rgba(81, 137, 205, 0.7) !important' : ''}">
                        <f:facet name="header">
                            <p:panelGrid>
                                <p:row>
                                    <p:column>
                                        <p:commandButton id="derivatButton" value="#{derivat.name}"
                                                         rendered="#{!cc.attrs.addAnfoCtrl.editMode}"
                                                         styleClass="topNavButton_addAnfoNavigation"
                                                         >
                                            <p:ajax listener="#{cc.attrs.addAnfoCtrl.enableDerivat(derivat)}"
                                                    update="addAnfoContent:addAnfoForm:addAnfoTable addAnfoViewNavBar:changePhaseForm" />
                                        </p:commandButton>
                                        <p:tooltip showDelay="500"  for="derivatButton"  position="bottom" value="#{msg.tooltipp_addAnfoView_content_derivatButton}" />
                                        <p:outputLabel class="headerLabel" value="#{derivat.name}"
                                                       rendered="#{cc.attrs.addAnfoCtrl.editMode}" />
                                        <p:outputLabel id="derivatStatusLabel"
                                                       styleClass="derivatStatusLabel"
                                                       value="#{cc.attrs.addAnfoCtrl.viewData.derivatStatusNames.getNameForStatus(derivat.status)}" />
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel class="headerLabel" value="#{msg.status}" style="display: inline-block; width: 180px;"
                                                       rendered="#{derivat ne cc.attrs.addAnfoCtrl.selectedDerivat or
                                                                   (derivat eq cc.attrs.addAnfoCtrl.selectedDerivat and
                                                                   !cc.attrs.addAnfoCtrl.editMode)
                                                                   or empty cc.attrs.addAnfoCtrl.tableData}"/>
                                        <p:selectOneMenu id="derivatAnforderungModulGroupStatus"
                                                         style="width: 180px"
                                                         converter="#{cc.attrs.addAnfoCtrl.derivatAnforderungModulStatusConverter}"
                                                         rendered="#{(cc.attrs.addAnfoCtrl.editMode)
                                                                     and derivat eq cc.attrs.addAnfoCtrl.selectedDerivat
                                                                     and not empty cc.attrs.addAnfoCtrl.tableData}"
                                                         value="#{cc.attrs.addAnfoCtrl.groupStatus}"
                                                         class="selectUmsStatus">
                                            <p:ajax event="change" update="@this" />
                                            <f:selectItem itemLabel="Status" itemValue="#{null}" noSelectionOption="true"/>
                                            <f:selectItems value="#{cc.attrs.addAnfoCtrl.getAllNextStatusList()}" var="status"
                                                           itemValue="#{status}" itemLabel="#{status.toString()}"/>
                                        </p:selectOneMenu>
                                        <p:tooltip showDelay="500"  for="derivatAnforderungModulGroupStatus" position="bottom" value="#{msg.tooltipp_addAnfoView_content_statusSelectForAll}" />

                                        <p:outputLabel class="headerLabel kommentarLabel" value="#{msg.kommentar}"
                                                       style="display: inline-block; width: 150px; padding-left: 355px;"
                                                       rendered="#{cc.attrs.addAnfoCtrl.viewData.kommentarDerivate.contains(derivat)}"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </f:facet>

                        <p:column rowspan="1" style="background-color: transparent; width: 230px; display: inline;">

                            <p:outputLabel rendered="#{!row.getVereinbarungForDerivat(derivat.id).zugeordnet}"
                                           id="keineZuordnung" class="bodyLabel" style="display: inline-block; width: 206px;"  value="#{msg.vereinbarung_Derivat_nicht_Zugeordnet_Label}" />

                            <p:outputLabel id="statusLabel"
                                           value="#{row.getVereinbarungForDerivat(derivat.id).currentVereinbarungStatus.toString()}"
                                           class="bodyLabel"
                                           style="display: inline-block; width: 206px"
                                           rendered="#{row.getVereinbarungForDerivat(derivat.id).zugeordnet and
                                                       !row.getVereinbarungForDerivat(derivat.id).inEditMode}"/>

                            <p:selectOneMenu id="derivatAnforderungModulStatus"
                                             rendered="#{row.getVereinbarungForDerivat(derivat.id).zugeordnet and
                                                         row.getVereinbarungForDerivat(derivat.id).inEditMode and
                                                         row.getVereinbarungForDerivat(derivat.id).disabled}"
                                             converter="#{cc.attrs.addAnfoCtrl.derivatAnforderungModulStatusConverter}"
                                             value="#{row.getVereinbarungForDerivat(derivat.id).newVereinbarungStatus}"
                                             class="selectUmsStatus" style="width: 180px">
                                <f:selectItem itemLabel="#{row.getVereinbarungForDerivat(derivat.id).newVereinbarungStatus.toString()}"
                                              itemValue="#{row.getVereinbarungForDerivat(derivat.id).newVereinbarungStatus}"
                                              noSelectionOption="true"/>
                                <f:selectItems value="#{row.getVereinbarungForDerivat(derivat.id).nextStatusList}"
                                               var="status"
                                               itemValue="#{status}" itemLabel="#{status.toString()}"/>
                            </p:selectOneMenu>

                            <p:commandLink id="showEditCommentDialog"
                                           actionListener="#{cc.attrs.addAnfoCtrl.showEditCommentDialog(row.getVereinbarungForDerivat(derivat.id))}"
                                           style="display: inline-block; color: black;width: 18px; padding-left: 2px; position: relative; top: -8px; left: 2px; margin-left: 6px;"
                                           immediate="true"
                                           ajax="true"
                                           async="true"
                                           process="@this"
                                           styleClass="link-bubble historyButton"
                                           rendered="#{row.getVereinbarungForDerivat(derivat.id).zugeordnet and
                                                       row.getVereinbarungForDerivat(derivat.id).inEditMode}">
                                <i class="fa fa-comment-o"/>
                            </p:commandLink>
                            <p:tooltip showDelay="500"  for="showEditCommentDialog" position="top"
                                       value="#{msg.kommentarStatuswechsel}"
                                       rendered="#{row.getVereinbarungForDerivat(derivat.id).zugeordnet and
                                                   row.getVereinbarungForDerivat(derivat.id).inEditMode}"/>

                        </p:column>
                        <p:column  rendered="#{row.getVereinbarungForDerivat(derivat.id).zugeordnet}" width="1%" style="width:32px">

                            <p:commandLink  rendered="#{row.getVereinbarungForDerivat(derivat.id).disabled and !row.getVereinbarungForDerivat(derivat.id).inEditMode and  row.getVereinbarungForDerivat(derivat.id).derivatVereinbarungActive}"
                                            id="editButton" class="ui-icon ui-icon-pencil" style="display:inline-block; margin: 0px 8px;"  ajax="true"
                                            actionListener="#{cc.attrs.addAnfoCtrl.switchDerivatVereinbarungEditMode(row.getVereinbarungForDerivat(derivat.id))}"
                                            value="edit" update="@form addAnfoContent:addAnfoForm:addAnfoTable"/>

                            <p:commandLink  rendered="#{row.getVereinbarungForDerivat(derivat.id).disabled and row.getVereinbarungForDerivat(derivat.id).inEditMode}"
                                            id="sendButton" class="ui-icon ui-icon-check ui-c" style="display:inline-block; margin: 0px -8px 12px 8px;"  ajax="true"
                                            actionListener="#{cc.attrs.addAnfoCtrl.saveDerivatVereinbarungEdit(row, derivat)}"
                                            value="send" update="@form addAnfoContent:addAnfoForm:addAnfoTable"/>

                            <p:commandLink  rendered="#{row.getVereinbarungForDerivat(derivat.id).disabled and row.getVereinbarungForDerivat(derivat.id).inEditMode}"
                                            id="cancelButton" class="ui-icon ui-icon-close ui-c" style="display:inline-block; margin: 0px 8px -6px -8px;"  ajax="true"
                                            actionListener="#{cc.attrs.addAnfoCtrl.switchDerivatVereinbarungEditMode(row.getVereinbarungForDerivat(derivat.id))}"
                                            value="cancel" update="@form addAnfoContent:addAnfoForm:addAnfoTable"/>

                            <p:panel style="width: 32px; display: inline-block;" rendered="#{!row.getVereinbarungForDerivat(derivat.id).disabled}" />

                        </p:column>
                        <p:column  rendered="#{row.getVereinbarungForDerivat(derivat.id).zugeordnet}" rowspan="1" style="background-color: transparent; width: 60px">
                            <div style="width: 52px; display: inline-block;" class="statusLabel statusSpalte">
                                <p:outputLabel id="zakStatusLabel"
                                               style="width: 52px;"
                                               rendered="#{row.getVereinbarungForDerivat(derivat.id).zak}"
                                               value="#{row.getVereinbarungForDerivat(derivat.id).zakLabel}"
                                               class="#{row.getVereinbarungForDerivat(derivat.id).zakColor}"/>
                                <p:tooltip showDelay="500"  for="zakStatusLabel" position="top" value="#{row.getVereinbarungForDerivat(derivat.id).zakStatus}" />
                            </div>

                        </p:column>
                        <p:column  rendered="#{row.getVereinbarungForDerivat(derivat.id).zugeordnet}" rowspan="1" style="background-color: transparent; width: 102px;">
                            <div style="width: 74px; display: inline-block;" class="statusLabel statusSpalte">
                                <p:outputLabel id="ubStatusLabel"
                                               value="#{row.getVereinbarungForDerivat(derivat.id).ubLabel}"
                                               rendered="#{row.getVereinbarungForDerivat(derivat.id).ub}"
                                               style=" margin-left: 2px; width: 84px;"
                                               class="#{row.getVereinbarungForDerivat(derivat.id).ubColor}"/>
                                <p:tooltip showDelay="500"  for="ubStatusLabel" position="top" value="#{row.getVereinbarungForDerivat(derivat.id).umsetzungsBestaetigungStatus}" />
                            </div>
                        </p:column>
                        <p:column   rowspan="1"
                                    rendered="#{cc.attrs.addAnfoCtrl.viewData.kommentarDerivate.contains(derivat)}"
                                    style="background-color: transparent; width: 250px; display:
                                    inline-block;">
                            <div style="width: 250px !important; display: inline-block;" class="kommentarSpalte statusSpalte">
                                <p:outputLabel id="umsKommentar"
                                               class="bodyLabel"
                                               style="word-wrap: break-word"
                                               escape="false"
                                               value="#{row.getVereinbarungForDerivat(derivat.id).kommentar}"
                                               onclick="toggleKommentar(#{rowIndex},#{columnIndex})"
                                               styleClass="displayNone" />
                                <p:outputLabel id="umsKommentarShort"
                                               class="bodyLabel"
                                               style="word-wrap: break-word"
                                               escape="false"
                                               value="#{row.getVereinbarungForDerivat(derivat.id).kommentarShort}"
                                               onclick="toggleKommentar(#{rowIndex},#{columnIndex})" />


                                <p:tooltip showDelay="500"  for="umsKommentar"
                                           position="top"
                                           value="#{msg.kommentar} zu #{row.anforderungDisplayName} - #{row.getVereinbarungForDerivat(derivat.id).derivatName}: #{row.modulName}" />
                            </div>
                        </p:column>
                        <p:column rowspan="1"
                                  rendered="#{cc.attrs.addAnfoCtrl.viewData.kommentarDerivate.contains(derivat)}"
                                  style="background-color: transparent; width: 30px; display:
                                  inline-block;">
                            <p:commandLink  rendered="#{row.getVereinbarungForDerivat(derivat.id).zugeordnet}" id="historyButton" class="historyLabel" style="display:inline-block;"  ajax="true"
                                            actionListener="#{cc.attrs.vereinbarungHistoryController.showDaHistorieDialog(row.getVereinbarungForDerivat(derivat.id))}">
                                <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_history.png" class="historyButton"/>
                            </p:commandLink>
                            <p:tooltip showDelay="500"  for="historyButton" position="bottom" value="#{msg.tooltipp_addAnfoView_content_historieButton}" />
                        </p:column>
                    </p:columns>
                </p:dataTable>

                <h:commandLink id="excelExportCommandLink"
                               style="visibility: hidden;"
                               actionListener="#{cc.attrs.addAnfoCtrl.downloadExcelExport()}">
                    <p:outputLabel value="#{msg.excelExport}" />
                </h:commandLink>
            </h:form>
        </div>
    </cc:implementation>
</html>
