<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite"
>
    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="addAnfoCtrl" type="de.interfaceag.bmw.pzbk.vereinbarung.VereinbarungController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:growl id="growl" sticky="false" severity="error" showDetail="true" />
        <p:outputPanel id="addAnfoNav">
            <h:form id="changePhaseForm" >

                <p:remoteCommand name="vereinbarungDerivateSearch"
                                 action="#{cc.attrs.addAnfoCtrl.updateDerivatList()}"/>
                <p:remoteCommand name="updateKommentarDerivate"
                                 actionListener="#{cc.attrs.addAnfoCtrl.updateKommetarDerivate()}"
                                 update="addAnfoContent:addAnfoForm:addAnfoTable "
                                 />

                <div class="buttons-wrapper" style="display: flex;
                     align-items: center;
                     margin-right: 20px;
                     justify-content: space-between;">
                    <div class="left inline-flex" style="align-items: center;">

                        <p:commandLink onclick="redirectBack()" class="d-iflex" id="addAnfoViewBackBtn">
                            <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_arrow_back.png" class="glass"/>
                        </p:commandLink>
                        <p:tooltip showDelay="500"  for="addAnfoViewBackBtn" value="#{msg.zurueck}"
                                   showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                                   trackMouse="true" position="none"/>
                        <p:selectCheckboxMenu id="filterDerivate"
                                              class="contentNavSelectCheckbox"
                                              value="#{cc.attrs.addAnfoCtrl.viewData.filteredDerivate}"
                                              label="#{msg.derivate}"
                                              filter="true"
                                              rendered="#{!cc.attrs.addAnfoCtrl.viewData.derivate.isEmpty()}"
                                              filterMatchMode="contains"
                                              onShow="appendAddAnfoDerivateButton();"
                                              panelStyleClass="filterStatusMeldungPanel filterPanel"
                                              converter="#{cc.attrs.addAnfoCtrl.viewData.derivatConverter}">
                            <f:selectItems value="#{cc.attrs.addAnfoCtrl.viewData.derivate}"
                                           class="whiteCheckbox"
                                           var="derivat"
                                           itemValue="#{derivat}" itemLabel="#{derivat.produktlinie} | #{derivat.name}"  />
                        </p:selectCheckboxMenu>
                        <p:selectCheckboxMenu id="kommentarDerivate"
                                              class="contentNavSelectCheckbox"
                                              value="#{cc.attrs.addAnfoCtrl.viewData.kommentarDerivate}"
                                              label="#{msg.kommentar}e"
                                              filter="true"
                                              filterMatchMode="contains"
                                              onShow="appendAddAnfoDerivateKommentarButton();"
                                              panelStyleClass="filterStatusMeldungPanel filterPanel"
                                              converter="#{cc.attrs.addAnfoCtrl.viewData.derivatConverter}" >
                            <f:selectItems value="#{cc.attrs.addAnfoCtrl.viewData.filteredDerivate}"
                                           class="whiteCheckbox"
                                           var="derivat"
                                           actionListener=""
                                           itemValue="#{derivat}" itemLabel="#{derivat.produktlinie} | #{derivat.name}"  />
                        </p:selectCheckboxMenu>
                        <p:outputLabel id="anzahlErgebnisse" class="headline d-iflex anfoListTextlabel"
                                       style="margin-top: 0px;"
                                       value="#{cc.attrs.addAnfoCtrl.tableData.size()} #{msg.ergebnisse}" />
                        <p:tooltip showDelay="500"  for="anzahlErgebnisse" position="bottom" value="#{msg.tooltipp_addAnfoView_navComp_ergebnisAnzeige}" />

                        
                    </div>
                    <div class="right d-iflex">
                        <p:commandButton id="excelExportButton"
                                         value="#{msg.export}"
                                         class="d-iflex"
                                         onclick="$('#addAnfoContent\\:addAnfoForm\\:excelExportCommandLink').click();"
                                         >
                        </p:commandButton>
                        <p:tooltip showDelay="500"  for="excelExportButton" value="#{msg.inExcelExportieren}"
                                   showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                                   trackMouse="true" position="none"/>

                        <p:commandButton id="generateLinkButton"
                                         value="#{msg.linkGenerieren}"
                                         class="d-iflex"
                                         process="@this">
                            <f:actionListener binding="#{copyLinkDialogController.show(cc.attrs.addAnfoCtrl.url)}"/>
                        </p:commandButton>
                        <p:inputText id="urlwert" value="#{cc.attrs.addAnfoCtrl.url}" style="display:none;"/>
                        <p:tooltip showDelay="500"  for="generateLinkButton" value="#{msg.linkFuerDieAuswahl}"
                                   showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                                   trackMouse="true" position="none"/>
                        <p:growl id="growl" sticky="false" showDetail="true" />
                        <p:commandLink id="editVereinbarungButton"
                                       ajax="true"
                                       async="true"
                                       class="d-iflex"
                                       title="#{msg.speichern}"
                                       update="addAnfoViewNavBar:addAnfoNav"
                                       action="#{cc.attrs.addAnfoCtrl.edit()}"
                                       rendered="#{cc.attrs.addAnfoCtrl.viewPermission.editButton}" >
                            <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_edit.png" class="glass"/>
                        </p:commandLink>
                        <p:tooltip showDelay="500"  for="editVereinbarungButton" value="#{msg.bearbeiten}"
                                   showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                                   trackMouse="true" position="none"/>
                        <p:commandLink id="processVereinbarungButton"
                                       class="d-iflex"
                                       title="#{msg.speichern}"
                                       action="#{cc.attrs.addAnfoCtrl.process()}"
                                       rendered="#{cc.attrs.addAnfoCtrl.viewPermission.processChangesButton}" >
                            <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_save.png" class="glass"/>
                        </p:commandLink>
                        <p:tooltip showDelay="500"  for="processVereinbarungButton" value="#{msg.speichern}"
                                   showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                                   trackMouse="true" position="none"/>
                        <p:commandLink id="cancelVereinbarungButton"
                                       class="d-iflex"
                                       title="#{msg.verwerfen}"
                                       action="#{cc.attrs.addAnfoCtrl.reset()}"
                                       rendered="#{cc.attrs.addAnfoCtrl.viewPermission.cancelButton}">
                            <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_cancel.png" class="glass"/>
                        </p:commandLink>
                        <p:tooltip showDelay="500"  for="cancelVereinbarungButton" value="#{msg.verwerfen}"
                                   showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                                   trackMouse="true" position="none"/>
                    </div>
                </div>
            </h:form>
        </p:outputPanel>
    </cc:implementation>
</ui:composition>
