<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:filter="http://xmlns.jcp.org/jsf/composite/filter"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="addAnfoCtrl" type="de.interfaceag.bmw.pzbk.vereinbarung.VereinbarungController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:form id="addAnfoFilterForm" class="h-100">

            <p:remoteCommand name="filter" process="@form"
                             action="#{cc.attrs.addAnfoCtrl.filter()}" />

            <p:panel class="filter-wrapper">
                <p:commandButton ajax="false"
                                 id="FilterUmsFormResetButton"
                                 class="resetButton"
                                 value="Reset"
                                 action="#{cc.attrs.addAnfoCtrl.reset()}"/>
                <p:tooltip showDelay="500"  for="FilterUmsFormResetButton" position="right" value="#{msg.tooltipp_addAnfo_filter_resetButton}" />


                <div class="filter-header">
                    <p:outputLabel value="#{msg.quickfilter}" />
                </div>
                <p:panelGrid columns="1" class="filter-grid w-100" columnClasses="filter-column">
                    <p:commandButton id="toggleVereinbarenButton"
                                     value="#{msg.zuVereinbaren}"
                                     ajax="true"
                                     async="true"
                                     class="resetButton quickFilter"
                                     action="#{cc.attrs.addAnfoCtrl.toggleVereinbarenMode()}"
                                     update="addAnfoViewNavBar:addAnfoNav addAnfoContent:addAnfoForm:addAnfoTable ">
                    </p:commandButton>
                    <p:tooltip showDelay="500"  for="toggleVereinbarenButton" position="right" value="#{msg.tooltipp_addAnfo_filter_zuVereinbarenButton}" />
                </p:panelGrid>
                <p:panelGrid columns="1" class="filter-grid w-100" columnClasses="filter-column">
                    <p:commandButton id="toggleFpZakButton"
                                     value="#{msg.handlungsbedarfZAKangenommen}"
                                     ajax="true"
                                     async="true"
                                     class="resetButton quickFilter doubleHeigtButton"
                                     action="#{cc.attrs.addAnfoCtrl.toggleFpZakMode()}"
                                     update="addAnfoViewNavBar:addAnfoNav addAnfoContent:addAnfoForm:addAnfoTable ">
                    </p:commandButton>
                    <p:tooltip showDelay="500"  for="toggleFpZakButton" position="right" value="#{msg.tooltipp_addAnfo_filter_handlungsbedarfZAKangenommenButton}" />
                </p:panelGrid>
                <p:panelGrid columns="1" class="filter-grid w-100" columnClasses="filter-column">
                    <p:commandButton id="toggleFolgeprozessZakKeineWeiterverfolgungButton"
                                     value="#{msg.handlungsbedarfZAKkeineWeiterverfolgung}"
                                     ajax="true"
                                     async="true"
                                     class="resetButton quickFilter trippleHeigtButton"
                                     action="#{cc.attrs.addAnfoCtrl.toggleFolgeprozessZakKeineWeiterverfolgungMode()}"
                                     update="addAnfoViewNavBar:addAnfoNav addAnfoContent:addAnfoForm:addAnfoTable ">
                    </p:commandButton>
                    <p:tooltip showDelay="500"  for="toggleFolgeprozessZakKeineWeiterverfolgungButton" position="right" value="#{msg.tooltipp_addAnfo_filter_handlungsbedarfZAKkeineWiterverfolgungButton}" />
                </p:panelGrid>
                <p:panelGrid columns="1" class="filter-grid w-100" columnClasses="filter-column">
                    <p:commandButton id="toggleFpUbButton"
                                     value="#{msg.handlungsbedarfUB}"
                                     ajax="true"
                                     async="true"
                                     class="resetButton quickFilter"
                                     action="#{cc.attrs.addAnfoCtrl.toggleFpUbMode()}"
                                     update="addAnfoViewNavBar:addAnfoNav addAnfoContent:addAnfoForm:addAnfoTable " >
                    </p:commandButton>
                    <p:tooltip showDelay="500"  for="toggleFpUbButton" position="right" value="#{msg.tooltipp_addAnfo_filter_handlungsbedarfUBButton}" />
                </p:panelGrid>

                <filter:genericBooleanButton id="inProzessbaukastenFilter" 
                                             searchFilter="#{cc.attrs.addAnfoCtrl.filter.inProzessbaukastenFilter}" 
                                             offLabel="#{msg.searchFilter_in_prozessbaukasten_off}"/>

                <filter:genericBooleanButton id="notInProzessbaukastenFilter" 
                                             searchFilter="#{cc.attrs.addAnfoCtrl.filter.notInProzessbaukastenFilter}" 
                                             offLabel="#{msg.searchFilter_not_in_prozessbaukasten_off}"/>

                <p:panelGrid columns="1" class="filter-grid w-100" columnClasses="filter-element">
                    <filter:genericInputFilter id="anforderungFilter"
                                               showTypeLabel="#{false}"
                                               headerLabel="#{msg.anforderung}"
                                               filter="filter()"
                                               searchFilter="#{cc.attrs.addAnfoCtrl.filter.anforderungFilter}" />

                    <filter:genericInputFilter id="beschreibungFilter"
                                               showTypeLabel="#{false}"
                                               headerLabel="#{msg.beschreibung}"
                                               filter="filter()"
                                               searchFilter="#{cc.attrs.addAnfoCtrl.filter.beschreibungFilter}" />

                    <filter:genericFilter id="sensorCocFilter"
                                          showTypeLabel="#{false}"
                                          headerLabel="#{msg.attribute}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{cc.attrs.addAnfoCtrl.filter.sensorCocFilter}" />

                    <filter:genericFilter id="modulFilter"
                                          showTypeLabel="#{false}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{cc.attrs.addAnfoCtrl.filter.modulFilter}" />

                    <filter:genericFilter id="festgestelltInFilter"
                                          showTypeLabel="#{false}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{cc.attrs.addAnfoCtrl.filter.festgestelltInFilter}" />

                    <filter:genericFilter id="prozessbaukastenFilter"
                                          showTypeLabel="#{false}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{cc.attrs.addAnfoCtrl.filter.prozessbaukastenFilter}" />

                    <filter:genericFilter id="phasenrelevanzFilter"
                                          showTypeLabel="#{false}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{cc.attrs.addAnfoCtrl.filter.phasenrelevanzFilter}" />

                    <filter:genericFilter id="themenklammerFilter"
                                          showTypeLabel="#{false}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{cc.attrs.addAnfoCtrl.filter.themenklammerFilter}" />

                    <filter:genericDateFilter id="freigegebenSeitFilter"
                                              filter="filter()"
                                              searchFilter="#{cc.attrs.addAnfoCtrl.filter.freigegebenSeitFilter}" />

                    <ui:repeat value="#{cc.attrs.addAnfoCtrl.filter.derivatVereinbarungStatusFilter}"
                               var="derivatVereinbarungStatusFilter" >

                        <filter:derivatVereinbarungStatusFilter id="derivatVereinbarungStatusFilter"
                                                                appendButtonFunction="appendAnwendenButton();"
                                                                vereinbarungStatusFilter="#{derivatVereinbarungStatusFilter}"
                                                                />

                    </ui:repeat>
                </p:panelGrid>
            </p:panel>
        </h:form>
    </cc:implementation>
</ui:composition>
