<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<!-- INTERFACE -->
<cc:interface>
    <cc:attribute required="true" name="anfoCtrl"
                  type="de.interfaceag.bmw.pzbk.controller.AbstractAnforderungController"/>
    <cc:attribute required="false" name="anforderungsCtrl"
                  type="de.interfaceag.bmw.pzbk.controller.AnforderungController"/>
</cc:interface>

<!-- IMPLEMENTATION -->
<cc:implementation>
    <h:outputStylesheet library="css" name="public/icons.css" />

    <div id="#{cc.clientId}">
        <p:outputLabel id="viewNichtBerechtigt" value="#{msg.nichtBerechtigt}"
                       style="color: white; font-size: 1.3em; padding-left: 30px;"
                       rendered="#{!cc.attrs.anfoCtrl.viewPermission.page}"/>
        <h:form id="anfoOverviewForm">
            <p:panel class="anfoAnsichtPanel transparent"
                     rendered="#{cc.attrs.anfoCtrl.viewPermission.page}">
                <div class="left">
                    <!-- Beschreibung -->
                    <p:outputPanel class="glass-box anfoAnsichtBox beschreibung">
                        <div class="box-header">#{msg.anforderung}</div>
                        <div class="box-content row">
                            <div class="ui-g-12">
                                <div class="row">
                                    <div class="anfoSmallColumn">
                                        <p:outputLabel value="#{msg.beschreibungAnforderung}:"/>
                                    </div>
                                    <div class="anfoBigTextColumn">
                                        <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_flag_ger.png"
                                             class="icon m-r-5"/>
                                        <p:inplace id="inplaceBeschreibung" effect="fade" editor="true"
                                                   disabled="#{cc.attrs.anfoCtrl.isViewDisableEdit()}">
                                            <f:facet name="output">
                                                <p:outputLabel id="anfoBeschrDeText" class="pre-wrap"
                                                               value="#{cc.attrs.anfoCtrl.anfoMgmtObject.beschreibungAnforderungDe}"/>
                                                <p:graphicImage rendered="#{!cc.attrs.anfoCtrl.isViewDisableEdit()}"
                                                                url="/resources/images/icons/white/icon_edit.png"
                                                                class="glass inplace_edit_button"/>
                                            </f:facet>
                                            <f:facet name="input">


                                                <p:ajax event="save" listener="#{cc.attrs.anfoCtrl.saveFromView()}"
                                                        update="@form"/>
                                                <p:inputTextarea style="width: 100%;"
                                                                 value="#{cc.attrs.anfoCtrl.anfoMgmtObject.beschreibungAnforderungDe}"
                                                                 required="true"
                                                                 label="#{msg.beschreibungAnforderung}"/>
                                            </f:facet>
                                        </p:inplace>
                                    </div>
                                    <div>

                                    </div>
                                </div>
                                <ui:fragment
                                        rendered="#{! empty cc.attrs.anfoCtrl.anfoMgmtObject.beschreibungAnforderungEn}">
                                    <div class="row">
                                        <div class="anfoSmallColumn"></div>
                                        <div class="anfoBigTextColumn">
                                            <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_flag_eng.png"
                                                 class="icon m-r-5"/>
                                            <p:outputLabel id="anfoBeschrEnText" class="pre-wrap"
                                                           value="#{cc.attrs.anfoCtrl.anfoMgmtObject.beschreibungAnforderungEn}"/>
                                        </div>
                                    </div>
                                </ui:fragment>
                                <ui:fragment rendered="#{! empty cc.attrs.anfoCtrl.anfoMgmtObject.loesungsvorschlag}">
                                    <div class="row">
                                        <div class="anfoSmallColumn">
                                            <p:outputLabel value="#{msg.loesungsvorschlag}:"/>
                                        </div>
                                        <div class="anfoBigTextColumn">
                                            <p:inplace id="inplaceLoesungsvorschlag" editor="true"
                                                       disabled="#{cc.attrs.anfoCtrl.isViewDisableEdit()}">
                                                <f:facet name="output">
                                                    <p:outputLabel id="anfoLoesungsvorschlagText" class="pre-wrap"
                                                                   value="#{cc.attrs.anfoCtrl.anfoMgmtObject.loesungsvorschlag}"/>
                                                    <p:graphicImage rendered="#{!cc.attrs.anfoCtrl.isViewDisableEdit()}"
                                                                    url="/resources/images/icons/white/icon_edit.png"
                                                                    class="glass inplace_edit_button"/>
                                                </f:facet>
                                                <f:facet name="input">
                                                    <p:ajax event="save"
                                                            listener="#{cc.attrs.anfoCtrl.saveValidatedData()}"
                                                            update="@form"/>
                                                    <p:inputTextarea style="width: 100%;"
                                                                     value="#{cc.attrs.anfoCtrl.anfoMgmtObject.loesungsvorschlag}"
                                                                     required="true" label="msg.loesungsvorschlag"
                                                                     autoResize="true"/>
                                                </f:facet>
                                            </p:inplace>
                                        </div>
                                    </div>
                                </ui:fragment>
                                <div class="ui-g-6">
                                    <div class="row">
                                        <div class="anfoSmallColumn">
                                            <p:outputLabel value="#{msg.zielwert}:"/>
                                        </div>
                                        <div class="anfoSmallTextColumn">
                                            <p:outputLabel styleClass="fa icon-zielwert m-r-5"/>
                                            <p:outputLabel id="anfoZielwertWertText" class="pre-wrap"
                                                           value="#{cc.attrs.anfoCtrl.anfoMgmtObject.zielwert.wert} "/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="anfoSmallColumn">
                                            <p:outputLabel value="#{msg.zielwertKommentar}:"/>
                                        </div>
                                        <div class="anfoSmallTextColumn">
                                            <p:outputLabel id="anfoZielwertKommentarText" class="pre-wrap"
                                                           value="#{cc.attrs.anfoCtrl.anfoMgmtObject.zielwert.kommentar}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-6">
                                    <ui:fragment
                                            rendered="#{cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId != 0 and cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId != 1}">
                                        <div>
                                            <p:dataTable id="freigegebeneModulsTable" class="modulsTable"
                                                         value="#{cc.attrs.anfoCtrl.anfoMgmtObject.anfoFreigabeBeiModul}"
                                                         var="modulFreigabe"
                                                         emptyMessage="#{msg.modulFreigabeEmpty}"
                                                         rendered="#{facesContext.externalContext.requestServletPath == '/anforderungView.xhtml'}"
                                                         rowKey="#{modulFreigabe.modulSeTeam}"
                                                         scrollable="true"
                                                         scrollHeight="90"
                                            >
                                                <p:column class="modulNameContainer" headerText="#{msg.umsetzer}">
                                                    <h:outputText id="modulId"
                                                                  value="#{modulFreigabe.modulSeTeam.elternModul.name} > #{modulFreigabe.modulSeTeam.name}"/>
                                                </p:column>

                                                <p:column class="dropDownIconConainter">
                                                    <p:rowToggler
                                                            rendered="#{!cc.attrs.anfoCtrl.getUmsetzerListFilteredByModulSeTeam(modulFreigabe.modulSeTeam).isEmpty()}"/>
                                                </p:column>

                                                <p:column class="markVereinbarungConainter"
                                                          headerText="#{msg.vereinbarung}">
                                                    <p:outputLabel value="#{modulFreigabe.vereinbarungType}"
                                                                   rendered="#{cc.attrs.anfoCtrl.getZakId(modulFreigabe) == null}">
                                                        <f:converter converterId="vereinbarungTypeConverter"/>
                                                    </p:outputLabel>
                                                    <a href="#{cc.attrs.anfoCtrl.buildZakUrl(modulFreigabe)}"
                                                       style="color: rgb(79, 79, 79) !important;">
                                                        <h:outputText
                                                                value="#{cc.attrs.anfoCtrl.getZakId(modulFreigabe)}"/>
                                                    </a>
                                                </p:column>

                                                <p:column class="markFreigabeConainter" headerText="#{msg.status}">
                                                    <p:outputLabel class="imageContainer"
                                                                   rendered="#{modulFreigabe.freigabe}"><span
                                                            class="fa icon-check-green"/></p:outputLabel>
                                                    <p:outputLabel id="modulAbgelehntMark" class="imageContainer"
                                                                   rendered="#{modulFreigabe.abgelehnt}"><span
                                                            class="fa icon-cancel-red"/></p:outputLabel>
                                                    <p:commandLink id="emptyCommentMark"
                                                                   update="dialog:anfoModulCommentForm:anfoModulCommentDialogContent:modulCommentPanel"
                                                                   actionListener="#{cc.attrs.anfoCtrl.showAnfoModulCommentDialog(modulFreigabe)}"
                                                                   class="commentContainer link-bubble-freigabe"
                                                                   rendered="#{modulFreigabe.kommentar != null and modulFreigabe.kommentar != ''}">
                                                        <span class="fa fa-comment-o"/>
                                                    </p:commandLink>
                                                    <p:tooltip showDelay="500" for="emptyCommentMark"
                                                               value="#{modulFreigabe.kommentar}"
                                                               showEvent="mouseover" hideEvent="mouseout"
                                                               styleClass="anfoKommentTooltip"
                                                               trackMouse="true" position="none"
                                                               rendered="#{modulFreigabe.kommentar != null and modulFreigabe.kommentar != ''}"/>
                                                </p:column>

                                                <p:column class="markEditContainer"
                                                          rendered="#{not modulFreigabe.freigabe and (cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 8 or cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 13)}">
                                                    <p:commandLink id="modulFreigebenBtn" class="freigebenAnnehmenModul"
                                                                   rendered="#{cc.attrs.anfoCtrl.isAuthorizedForModulSeTeam(modulFreigabe.modulSeTeam)}"
                                                                   actionListener="#{cc.attrs.anfoCtrl.showModulFreigebenDialog(modulFreigabe, true)}">
                                                        <div class="imageContainerSmall anfoListFreigabeButton"><img
                                                                src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_check.png"/>
                                                        </div>
                                                    </p:commandLink>
                                                    <p:tooltip showDelay="500" for="modulFreigebenBtn"
                                                               value="#{msg.modulfreigabe}"
                                                               showEvent="mouseover" hideEvent="mouseout"
                                                               styleClass="anfoKommentTooltip"
                                                               trackMouse="true" position="none"/>

                                                    <p:commandLink id="modulAblehnenBtn" class="freigebenAblehnenModul"
                                                                   rendered="#{!modulFreigabe.abgelehnt and cc.attrs.anfoCtrl.isAuthorizedForModulSeTeam(modulFreigabe.modulSeTeam)}"
                                                                   actionListener="#{cc.attrs.anfoCtrl.showModulFreigebenDialog(modulFreigabe, false)}">
                                                        <div class="imageContainerSmall anfoListFreigabeButton"><img
                                                                src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_cancel.png"/>
                                                        </div>
                                                    </p:commandLink>
                                                    <p:tooltip showDelay="500" for="modulAblehnenBtn"
                                                               value="#{msg.modulAblehnen}"
                                                               showEvent="mouseover" hideEvent="mouseout"
                                                               styleClass="anfoKommentTooltip"
                                                               trackMouse="true" position="none"/>
                                                </p:column>

                                                <p:rowExpansion>
                                                    <p:dataTable
                                                            value="#{cc.attrs.anfoCtrl.getUmsetzerListFilteredByModulSeTeam(modulFreigabe.modulSeTeam)}"
                                                            class="no-header"
                                                            var="filteredUmsetzer">
                                                        <p:column width="4%"/>
                                                        <p:column>
                                                            <h:outputText
                                                                    value="#{filteredUmsetzer.komponente.name} (#{filteredUmsetzer.komponente.ppg})"/>
                                                        </p:column>
                                                    </p:dataTable>
                                                </p:rowExpansion>

                                            </p:dataTable>
                                        </div>
                                    </ui:fragment>
                                </div>
                            </div>
                        </div>


                    </p:outputPanel>


                    <!-- Verantwortlichkeiten -->
                    <p:outputPanel class="glass-box anfoAnsichtBox details">
                        <div class="box-header">#{msg.verantwortlichkeiten}</div>
                        <div class="box-content grid ui-g row">
                            <div class="ui-g-6">
                                <ui:fragment rendered="#{cc.attrs.anfoCtrl.anfoMgmtObject.sensorCoc ne null}">
                                    <div class="row">
                                        <div class="anfoSmallColumn"><p:outputLabel value="#{msg.sensorCoc}:"/></div>
                                        <div class="anfoSmallTextColumn"><p:outputLabel id="anfoSensorCoCText"
                                                                                        value="#{cc.attrs.anfoCtrl.anfoMgmtObject.sensorCoc.technologie}"/>
                                        </div>
                                    </div>
                                </ui:fragment>

                                <ui:fragment rendered="#{cc.attrs.anfoCtrl.afoMgmtObjectInstanceOfAnforderung}">
                                    <ui:fragment rendered="#{cc.attrs.anfoCtrl.anfoMgmtObject.tteam ne null}">
                                        <div class="row">
                                            <div class="anfoSmallColumn"><p:outputLabel value="#{msg.tteam}:"/></div>
                                            <div class="anfoSmallTextColumn"><p:outputLabel id="anfoTteamText"
                                                                                            value="#{cc.attrs.anfoCtrl.anfoMgmtObject.tteam.teamName}"/>
                                            </div>
                                        </div>
                                    </ui:fragment>
                                </ui:fragment>


                            </div>
                            <div class="ui-g-6">
                                <div class="row">
                                    <div class="anfoSmallColumn"><p:outputLabel value="#{msg.sensorCoCLeiter}:"/></div>
                                    <div class="anfoSmallTextColumn"><p:outputLabel id="anfoSensorCoCLeiterText"
                                                                                    value="#{cc.attrs.anfoCtrl.anfoMgmtObject.sensorCoc.sensorCoCLeiter.name}"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="anfoSmallColumn"><p:outputLabel value="#{msg.teamleiter}:"
                                                                                rendered="#{facesContext.externalContext.requestServletPath == '/anforderungView.xhtml'}"/>
                                    </div>
                                    <div class="anfoSmallTextColumn"><p:outputLabel id="teamleiterText"
                                                                                    value="#{cc.attrs.anfoCtrl.anfoMgmtObject.tteam.teamleiter.name}"
                                                                                    rendered="#{facesContext.externalContext.requestServletPath == '/anforderungView.xhtml'}"/>
                                    </div>
                                </div>

                            </div>

                            <div class="ui-g-12">
                                <div class="row">
                                    <div class="anfoSmallColumn"><p:outputLabel
                                            value="#{msg.anforderungEdit_detektoren}:"/></div>
                                    <div class="anfoSmallTextColumn"><p:outputLabel id="detektorenAsString"
                                                                                    value="#{cc.attrs.anfoCtrl.anfoMgmtObject.detektorenAsString}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p:outputPanel>


                    <!-- Details -->
                    <p:outputPanel id="detailsPanel" class="glass-box anfoAnsichtBox details">
                        <div class="box-header">#{msg.details}</div>
                        <div class="box-content grid ui-g row">
                            <div class="ui-g-12">
                                <div class="row">
                                    <div class="anfoSmallColumn"><p:outputLabel
                                            value="#{msg.staerke}/#{msg.schwaeche}:"/></div>
                                    <div class="anfoBigTextColumn">
                                        <p:outputLabel
                                                styleClass="fa icon-#{cc.attrs.anfoCtrl.anfoMgmtObject.staerkeSchwaeche ? 'arrow-up-green': 'arrow-down-red'} m-r-5"/>
                                        <p:outputLabel id="anfoStaerkeSchwaecheText"
                                                       value="#{cc.attrs.anfoCtrl.anfoMgmtObject.staerkeSchwaeche eq true ? msg.staerke : msg.schwaeche}"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="anfoSmallColumn"><p:outputLabel
                                            value="#{cc.attrs.anfoCtrl.anfoMgmtObject.staerkeSchwaeche eq true ? msg.staerkeBedarfsbeschreibung: msg.schwaecheBedarfsbeschreibung}:"/>
                                    </div>
                                    <div class="anfoBigTextColumn"><p:outputLabel id="anfoStaerkeSchwaecheBeschrText"
                                                                                  value="#{cc.attrs.anfoCtrl.anfoMgmtObject.beschreibungStaerkeSchwaeche}"/>
                                    </div>
                                </div>

                                <ui:fragment rendered="#{! empty cc.attrs.anfoCtrl.anfoMgmtObject.ursache}">
                                    <div class="row">
                                        <div class="anfoSmallColumn"><p:outputLabel value="#{msg.ursache}:"/></div>
                                        <div class="anfoBigTextColumn"><p:outputLabel id="anfoUracheText"
                                                                                      value="#{cc.attrs.anfoCtrl.anfoMgmtObject.ursache}"/>
                                        </div>
                                    </div>
                                </ui:fragment>
                                <div class="ui-g-6">
                                    <ui:fragment rendered="#{! empty cc.attrs.anfoCtrl.anfoMgmtObject.referenzen}">
                                        <div class="row">
                                            <div class="anfoSmallColumn"><p:outputLabel value="#{msg.referenzen}:"/>
                                            </div>
                                            <div class="anfoSmallTextColumn"><p:outputLabel id="anfoReferenzText"
                                                                                            value="#{cc.attrs.anfoCtrl.anfoMgmtObject.referenzen}"/>
                                            </div>
                                        </div>
                                    </ui:fragment>
                                    <div class="row">
                                        <div class="anfoSmallColumn"><p:outputLabel value="#{msg.auswirkungen}:"/></div>
                                        <div id="auswirkungenList" class="anfoSmallTextColumn">
                                            <ui:repeat value="#{cc.attrs.anfoCtrl.anfoMgmtObject.auswirkungen}"
                                                       var="ausw">
                                                <p:outputLabel id="anfoAuswirkungText" value="#{ausw.auswirkung}: "/>
                                                <p:outputLabel id="anfoAuswirkungwertText" value="#{ausw.wert}"/><br/>
                                            </ui:repeat>
                                        </div>
                                    </div>

                                    <ui:fragment rendered="#{cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 4 or
                                                                 cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 5 or
                                                                 cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 6 or
                                                                 cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 8 or
                                                                 cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 9}">
                                        <div class="row">
                                            <div class="anfoSmallColumn"><p:outputLabel value="#{msg.phasenbezug}:"/>
                                            </div>
                                            <div class="anfoSmallTextColumn"><p:outputLabel id="anfoPhasenbezugText"
                                                                                            value="#{cc.attrs.anfoCtrl.anfoMgmtObject.phasenbezug eq true ? msg.konzeptrelevant : msg.architekturrelevant}"/>
                                            </div>
                                        </div>
                                    </ui:fragment>
                                    <ui:fragment rendered="#{cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 5 or
                                                                 cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 6 or
                                                                 cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 8 or
                                                                 cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 9}">
                                        <div class="row">
                                            <div class="anfoSmallColumn"><p:outputLabel
                                                    value="#{msg.zeitpktUmsetzungsbest}:"/></div>
                                            <div class="anfoSmallTextColumn"><p:outputLabel id="anfoztpktUmsetzText"
                                                                                            value="#{cc.attrs.anfoCtrl.anfoMgmtObject.zeitpktUmsetzungsbest eq true ? msg.vkbg : msg.vabg}"/>
                                            </div>
                                        </div>
                                    </ui:fragment>
                                    <ui:fragment rendered="#{cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 6 or
                                                                 cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 8 or
                                                                 cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 9}">
                                        <div class="row">
                                            <div class="anfoSmallColumn"><p:outputLabel
                                                    value="#{msg.potentialStandardisierung}:"/></div>
                                            <div class="anfoSmallTextColumn">
                                                <p:outputLabel
                                                        styleClass="fa icon-#{cc.attrs.anfoCtrl.anfoMgmtObject.potentialStandardisierung ? 'check-green': 'cancel-red'} m-r-5"/>
                                                <p:outputLabel id="anfoPotentialStandardisierungText"
                                                               value="#{cc.attrs.anfoCtrl.anfoMgmtObject.potentialStandardisierung eq true ? msg.ja : msg.nein}"/>
                                            </div>
                                        </div>
                                    </ui:fragment>
                                </div>
                                <div class="ui-g-6">
                                    <div class="row">
                                        <div class="anfoSmallColumn">
                                            <p:outputLabel value="#{msg.festgestelltIn}:"/>
                                        </div>
                                        <div id="festgestelltInList" class="anfoSmallTextColumn">
                                            <p:outputLabel id="anfoFestgestelltInText" class="pre-wrap"
                                                           value="#{cc.attrs.anfoCtrl.anfoMgmtObject.festgestelltInToString()}"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="anfoSmallColumn">
                                            <p:outputLabel value="#{msg.werk}:"/>
                                        </div>
                                        <div id="werkList" class="anfoSmallTextColumn">
                                            <p:outputLabel id="anfoWerkText" class="pre-wrap"
                                                           value="#{cc.attrs.anfoCtrl.anfoMgmtObject.werk.name}"/>
                                        </div>
                                    </div>
                                    <ui:fragment
                                            rendered="#{! empty cc.attrs.anfoCtrl.anfoMgmtObject.kommentarAnforderung}">
                                        <div class="row">
                                            <div class="anfoSmallColumn"><p:outputLabel value="#{msg.kommentar}:"/>
                                            </div>
                                            <div class="anfoSmallTextColumn"><p:outputLabel id="anfoKommentarText"
                                                                                            class="pre-wrap"
                                                                                            value="#{cc.attrs.anfoCtrl.anfoMgmtObject.kommentarAnforderung}"/>
                                            </div>
                                        </div>
                                    </ui:fragment>
                                    <div class="row">
                                        <div class="anfoSmallColumn"><p:outputLabel value="#{msg.sensor}:"/></div>
                                        <div class="anfoSmallTextColumn"><p:outputLabel id="anfoSensorText"
                                                                                        value="#{cc.attrs.anfoCtrl.anfoMgmtObject.sensor.fullName}"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="anfoSmallColumn"><p:outputLabel value="#{msg.erstellungsdatum}:"/>
                                        </div>
                                        <div class="anfoSmallTextColumn"><p:outputLabel
                                                id="erstellungsdatum"
                                                value="#{cc.attrs.anfoCtrl.anfoMgmtObject.erstellungsdatum}">
                                            <f:convertDateTime pattern="dd.MM.yyyy" type="date"/>
                                        </p:outputLabel></div>
                                    </div>
                                    <ui:fragment
                                            rendered="#{false and cc.attrs.anfoCtrl.anfoMgmtObject.kategorie ne null}">
                                        <div class="row">
                                            <div class="anfoSmallColumn"><p:outputLabel
                                                    value="#{msg.anforderung_kategorie}:"/></div>
                                            <div class="anfoSmallTextColumn"><p:outputLabel id="kategorie"
                                                                                            value="#{cc.attrs.anfoCtrl.anfoMgmtObject.kategorie}"/>
                                            </div>
                                        </div>
                                    </ui:fragment>
                                </div>
                            </div>
                        </div>
                    </p:outputPanel>
                </div>
                <div class="right">
                    <!-- Grafik -->
                    <p:outputPanel class="glass-box anfoAnsichtBox grafik">
                        <div class="box-header">Grafik</div>
                        <div class="box-content">
                            <p:graphicImage value="#{image.getImageForAnforderungMeldungPzbk()}"
                                            cache="false"
                                            onclick="PF('detailPanel').show();">
                                <f:param name="objectId" value="#{cc.attrs.anfoCtrl.anfoMgmtObject.id}"/>
                                <f:param name="parameter" value="1"/>
                                <f:param name="type"
                                         value="#{cc.attrs.anfoCtrl.anfoMgmtObject.fachId.subSequence(0, 1)}"/>
                            </p:graphicImage>
                        </div>
                        <p:panel id="detailPanel" widgetVar="detailPanel" visible="false"
                                 style="position: fixed; top: 50px; left: 50px; z-index: 1000;">
                            <p:graphicImage
                                    cache="false"
                                    value="#{image.getImageForAnforderungMeldungPzbk()}">
                                <f:param name="objectId" value="#{cc.attrs.anfoCtrl.anfoMgmtObject.id}"/>
                                <f:param name="parameter" value="2"/>
                                <f:param name="type"
                                         value="#{cc.attrs.anfoCtrl.anfoMgmtObject.fachId.subSequence(0, 1)}"/>
                            </p:graphicImage>
                            <p:commandLink class="grafik-close-button" onclick="PF('detailPanel').close();">
                                <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_cancel.png"
                                     class="glass grafik-close-button"
                                     style="background-color: rgba(55, 102, 161, 0.3);"/>
                            </p:commandLink>
                        </p:panel>
                    </p:outputPanel>
                    <!-- Anhaenge -->
                    <p:outputPanel id="anhaengePanel" class="glass-box anfoAnsichtBox verantwortlichkeit"
                                   rendered="#{! empty cc.attrs.anfoCtrl.anfoMgmtObject.anhaenge}">
                        <div class="box-header">#{msg.anhaenge}</div>
                        <div id="anhaengeFragment" class="box-content">
                            <ui:fragment rendered="#{! empty cc.attrs.anfoCtrl.anfoMgmtObject.anhaenge}">
                                <h:form id="formAnhaenge" class="formAnhaengeContainer">
                                    <ui:repeat value="#{cc.attrs.anfoCtrl.anfoMgmtObject.anhaenge.toArray()}" var="anh">
                                        <div class="row anfoViewAnaengeZeile">
                                            <p:outputPanel>
                                                <div class="ui-icon ui-icon-download"></div>
                                            </p:outputPanel>
                                            <p:outputPanel class="formAnhaengeContainer-links">
                                                <p:commandButton ajax="false" id="anfoAnhangDl"
                                                                 class="fileDownloadButton" value="#{anh.dateiname}">
                                                    <p:fileDownload value="#{cc.attrs.anfoCtrl.downloadAnhang(anh)}"/>
                                                </p:commandButton><br/>
                                            </p:outputPanel>
                                        </div>
                                    </ui:repeat>
                                </h:form>
                            </ui:fragment>
                        </div>
                    </p:outputPanel>
                    <!-- Derivate -->
                    <h:form id="updateDerivateForm">
                        <p:remoteCommand name="updateDerivate"
                                         actionListener="#{cc.attrs.anfoCtrl.updateDerivate()}"
                                         update="derivateDataTable"/>
                        <p:outputPanel id="derivatePanel"
                                       class="glass-box anfoAnsichtBox verantwortlichkeit"
                                       style="overflow: hidden;"
                                       rendered="#{cc.attrs.anfoCtrl.viewPermission.derivatPanel}">
                            <div class="box-header">#{msg.derivat}</div>
                            <div class="box-content">
                                <p:dataTable id="derivateDataTable"
                                             class="modulsTable no-header"
                                             scrollable="true"
                                             style="max-height: 150px; border: 0px;"
                                             scrollHeight="#{cc.attrs.anfoCtrl.deriAnforderungen.size() > 3 ? '150' : ''}"
                                             var="da"
                                             emptyMessage="#{msg.keinemDerivatZugeordnet}"
                                             value="#{cc.attrs.anfoCtrl.anforderungDerivatList}">
                                    <p:column width="75">
                                        <p:outputLabel value="#{da.derivatName}"/>
                                    </p:column>
                                    <p:column width="120">
                                        <p:outputLabel value="#{da.status.toString()}"/>
                                    </p:column>
                                    <p:column width="25" rendered="#{da.zurKenntnisGenommenColumn}">
                                        <p:outputLabel id="kenntnisLabel" class="imageContainer"
                                                       rendered="#{da.zurKenntnisGenommenLabel}"
                                        ><span class="fa icon-check-green"/>
                                        </p:outputLabel>
                                        <p:tooltip showDelay="500" for="kenntnisLabel" value="#{zurKenntnisGenommen}"
                                                   showEvent="mouseover" hideEvent="mouseout"
                                                   styleClass="anfoKommentTooltip"
                                                   trackMouse="true" position="none"/>
                                        <p:commandLink id="kenntnisBtn" class="freigebenAnnehmenModul"
                                                       rendered="#{da.zurKenntnisGenommenButton}"
                                                       process="@form"
                                                       action="#{cc.attrs.anfoCtrl.acceptZurKenntnisGenommen(da)}">
                                            <div class="imageContainerSmall anfoListFreigabeButton"><img
                                                    src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_check.png"/>
                                            </div>
                                        </p:commandLink>
                                        <p:tooltip showDelay="500" for="kenntnisBtn" value="#{msg.zurKenntnisNehmen}"
                                                   showEvent="mouseover" hideEvent="mouseout"
                                                   styleClass="anfoKommentTooltip"
                                                   trackMouse="true" position="none"/>
                                    </p:column>
                                    <p:column width="40">
                                        <p:outputLabel value="#{da.isNachZakUebertragen() ? 'ZAK' : ''}"/>
                                    </p:column>
                                </p:dataTable>
                            </div>
                        </p:outputPanel>
                    </h:form>
                </div>
            </p:panel>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton id="confirmDialogJaButton" value="#{msg.ja}" type="button"
                                 styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
                <p:commandButton id="confirmDialogNeinButton" value="#{msg.nein}" type="button"
                                 styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
            </p:confirmDialog>
        </h:form>
    </div>
</cc:implementation>
</html>
