<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:anfoComps="http://xmlns.jcp.org/jsf/composite/anfoComps"
      xmlns:anfoMgmtObjectComps="http://xmlns.jcp.org/jsf/composite/anfoMgmtObjectComps"
      xmlns:anforderungEdit="http://xmlns.jcp.org/jsf/composite/anforderungEdit"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<!-- INTERFACE -->
<cc:interface>
    <cc:attribute required="true" name="anfoCtrl"
                  type="de.interfaceag.bmw.pzbk.controller.AbstractAnforderungController"/>
    <cc:attribute required="false" name="anforderungsCtrl"
                  type="de.interfaceag.bmw.pzbk.controller.AnforderungController"/>
</cc:interface>

<!-- IMPLEMENTATION -->
<cc:implementation>

    <p:outputLabel id="editNichtBerechtigt" value="#{msg.nichtBerechtigt}"
                   style="color: white; font-size: 1.3em; padding-left: 30px;"
                   rendered="#{cc.attrs.anfoCtrl.berechtigt eq false}"/>
    <p:panel class="anfoContent anfoAnsichtBox" rendered="#{cc.attrs.anfoCtrl.berechtigt}">
        <h:form id="anfoForm" enctype="multipart/form-data">
            <p:growl id="growl" sticky="true" severity="error"/>
            <p:remoteCommand name="processAnfoForm"
                             update="@form"
                             action="#{cc.attrs.anfoCtrl.save}"
                             process="@(form :not(.newDetektor)) dialog:fahrzeugmerkmalEditDialogContent:editDialogForm"/>
            <p:remoteCommand name="proceedWithStatusChange"
                             update="@form"
                             process="@(form :not(.newDetektor))"
                             action="#{cc.attrs.anfoCtrl.proceedWithStatusChange}"/>
            <p:remoteCommand name="remoteCmdSensor"
                             id="remoteCmdSensor"
                             actionListener="#{cc.attrs.anfoCtrl.anfoMgmtObject.setSensor(userSession.user)}"
                             autoRun="true"
                             process="@this"
                             update="anfoSensorInput #{cc.clientId}:anfoForm:anfoAccordion:anfoSensorOutput"
                             rendered="#{empty cc.attrs.anfoCtrl.anfoMgmtObject.sensor}"/>
            <p:inputText id="anfoSensorInput"
                         type="hidden"
                         readonly="#{cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId != 0}"
                         disabled="true" class="anfoTabInput"
                         value="#{cc.attrs.anfoCtrl.anfoMgmtObject.sensor}"
                         converter="#{cc.attrs.anfoCtrl.mitarbeiterConverter}"/>
            <div class="anfoFormular">
                <p:accordionPanel
                        id="anfoAccordion"
                        dynamic="true"
                        multiple="true"
                        activeIndex="0,1,2,3"
                        styleClass="anfoFormularPanel"
                        style="margin-bottom:0">
                    <p:tab id="headerTab" title="#{msg.themenfindung}">
                        <p:tooltip showDelay="500" for="anfoFestgestelltInInput" position="bottom"
                                   value="#{msg.tooltipp_afoMeldEditComp_festgestelltInButton}"/>
                        <p:tooltip showDelay="500" for="sensorCoCHinzufuegenButton" position="bottom"
                                   value="#{msg.tooltipp_afoMeldEditComp_addSensorCoc}"/>
                        <p:tooltip showDelay="500" for="deleteSensorCoc" position="bottom"
                                   value="#{msg.tooltipp_afoMeldEditComp_deleteSensorCoc}"/>

                        <h:panelGrid id="anfoHeader" columns="3" class="anfoTabTable" width="100%"
                                     columnClasses="small-column,info-column,max-column">
                            <p:outputLabel for="anfoSensorOutput" value="#{msg.sensor}(#{msg.mitarbeitername}):"/>
                            <h:link onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoSensorOutput'}]); return false;">
                                <span class="fa fa-info-circle op-80"/>
                            </h:link>
                            <p:outputLabel id="anfoSensorOutput"
                                           value="#{cc.attrs.anfoCtrl.anfoMgmtObject.sensor.name}"/>
                            <p:outputLabel id="festgestelltInLabel" for="anfoFestgestelltInInput"
                                           value="#{msg.festgestelltIn}:" class="anfoListPflichtfeld"/>
                            <h:link onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoFestgestelltInInput'}]); return false;">
                                <span class="fa fa-info-circle op-80"/>
                            </h:link>
                            <p:autoComplete id="anfoFestgestelltInInput"
                                            multiple="true"
                                            dropdown="true"
                                            value="#{cc.attrs.anfoCtrl.anfoMgmtObject.festgestelltInList}"
                                            var="fi"
                                            requiredMessage="#{msg.festgestelltInError}"
                                            itemValue="#{fi}"
                                            itemLabel="#{fi.wert}"
                                            completeMethod="#{cc.attrs.anfoCtrl.completeFestgestelltIn}"
                                            converter="#{cc.attrs.anfoCtrl.festgestelltInConverter}"
                                            styleClass="festgestelltInInput glass-button"
                                            required="#{cc.attrs.anfoCtrl.requiredByMelden}"
                                            appendTo="@this"
                            >
                                <p:ajax event="itemUnselect" update="anfoFestgestelltInInput"/>
                                <p:ajax event="itemSelect" update="anfoFestgestelltInInput"/>

                            </p:autoComplete>


                            <p:outputLabel id="werkLabel" for="anfoWerkInput" value="#{msg.werk}:"
                                           class="anfoListPflichtfeld"/>
                            <h:link onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoWerkInput'}]); return false;">
                                <span class="fa fa-info-circle op-80"/>
                            </h:link>

                            <p:selectOneMenu id="anfoWerkInput"
                                             value="#{cc.attrs.anfoCtrl.anfoMgmtObject.werk}"
                                             class="glass-button"
                                             filter="true"
                                             requiredMessage="#{msg.werkError}"
                                             disabled="#{cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 9}"
                                             required="#{cc.attrs.anfoCtrl.requiredByMelden}"
                                             converter="#{cc.attrs.anfoCtrl.werkConverter}"
                                             appendTo="@this">
                                <f:selectItem itemLabel="#{msg.auswahl}" itemValue="#{null}" noSelectionOption="true"
                                              itemDisabled="#{true}"/>
                                <f:selectItems value="#{cc.attrs.anfoCtrl.allWerk}" var="we" itemLabel="#{we.name}"
                                               itemValue="#{we}"/>
                            </p:selectOneMenu>
                            <p:outputLabel id="stswLabel" for="anfoStaerkeSwitch"
                                           value="#{msg.staerke}/#{msg.schwaeche}:"/>
                            <h:commandLink
                                    onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoStSchInput'}]); return false;">
                                <span class="fa fa-info-circle op-80"/>
                            </h:commandLink>

                            <p:column>
                                <div class="d-iblock">
                                    <p:outputPanel class="ContentBooleanButton" id="anfoStSchInput">
                                        <p:selectBooleanButton id="anfoStaerkeSwitch"
                                                               value="#{cc.attrs.anfoCtrl.anfoMgmtObject.staerkeSchwaeche}"
                                                               disabled="#{cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 9}"
                                                               onLabel="#{msg.staerke}" offLabel="#{msg.schwaeche}"
                                                               immediate="true">
                                            <p:ajax event="change"
                                                    process="@form"
                                                    update="@this anfoRefInput"
                                                    oncomplete="changeRequiredReferenz('#{cc.attrs.anfoCtrl.anfoMgmtObject.staerkeSchwaeche}')"
                                            />
                                        </p:selectBooleanButton>
                                    </p:outputPanel>
                                </div>
                            </p:column>
                            <p:outputLabel id="anfoStaerkeBeschreibungLabel" for="anfoBeschrStSchInput"
                                           class="anfoListPflichtfeld" value="#{msg.beschreibungStaerkeSchwaeche}:"/>
                            <h:commandLink
                                    onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoBeschrStSchInput'}]); return false;">
                                <span class="fa fa-info-circle op-80"/>
                            </h:commandLink>
                            <p:inputTextarea rows="1" cols="50" id="anfoBeschrStSchInput"
                                             requiredMessage="#{msg.beschreibungStaerkeSchwaecheError}"
                                             class="anfoTabInput" maxlength="1024"
                                             disabled="#{cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 9}"
                                             value="#{cc.attrs.anfoCtrl.anfoMgmtObject.beschreibungStaerkeSchwaeche}"
                                             required="true"/>

                            <p:outputLabel id="ursacheLabel" value="#{msg.ursache}:"/>
                            <h:commandLink
                                    onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'ursache'}]); return false;">
                                <span class="fa fa-info-circle op-80"/>
                            </h:commandLink>
                            <p:inputTextarea id="ursacheInput" rows="1" cols="50" maxlength="1024"
                                             disabled="#{cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 9}"
                                             class="anfoTabInput" value="#{cc.attrs.anfoCtrl.anfoMgmtObject.ursache}"
                                             required="false"/>

                            <p:outputLabel id="anfoRefLabel" for="anfoRefInput" value="#{msg.referenzen}:"
                                           class="anfoListPflichtfeld-3"/>
                            <h:commandLink
                                    onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoRefInput'}]); return false;">
                                <span class="fa fa-info-circle op-80"/>
                            </h:commandLink>
                            <p:inputText id="anfoRefInput" class="anfoTabInput"
                                         value="#{cc.attrs.anfoCtrl.anfoMgmtObject.referenzen}"
                                         requiredMessage="#{msg.esMussEineReferenzAngegebenWerden}"
                                         disabled="#{cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 9}"
                                         required="#{cc.attrs.anfoCtrl.anfoMgmtObject.staerkeSchwaeche == false and cc.attrs.anfoCtrl.requiredByMelden}"/>

                            <p:panelGrid>
                                <p:outputLabel id="auswirkungenLabel" value="#{msg.auswirkungen}:"
                                               for="validationAuswirkungen" class="anfoListPflichtfeld"/>
                                <h:inputHidden id="validationAuswirkungen"
                                               validator="#{cc.attrs.anfoCtrl.validateAuswirkungen}"
                                               value="null"
                                               required="#{cc.attrs.anfoCtrl.requiredByMelden}"
                                               validatorMessage="#{msg.auswirkungError}"/>
                            </p:panelGrid>
                            <h:commandLink id="addAuswirkungLink"
                                           onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoAuswirkInput'}]); return false;">
                                <span class="fa fa-info-circle op-80"/>
                            </h:commandLink>
                            <h:panelGrid id="auswirkungenPanel" class="auswirkungenPanel">
                                <div>
                                    <h:form id="auswirkungenForm" class="auswirkungenForm">
                                        <p:commandButton rendered="#{cc.attrs.anfoCtrl.auswirkungAssigned eq true}"
                                                         id="addAuswirkungBtn"
                                                         disabled="#{cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 9}"
                                                         icon="ui-icon-plus"
                                                         ajax="true"
                                                         onclick="showAuswirkungInput()"
                                                         styleClass="glass-button anfoAuswBtn inline">
                                        </p:commandButton>
                                        <p:commandButton rendered="#{cc.attrs.anfoCtrl.auswirkungAssigned eq false}"
                                                         id="addAnotherAuswirkung"
                                                         value="#{msg.neueAuswirkung}"
                                                         ajax="true"
                                                         onclick="showAuswirkungInput()"
                                                         styleClass="glass-button anfoAuswBtn">
                                        </p:commandButton>
                                        <p:outputPanel class="auswInputPanel" id="auswInputPanel">
                                            <p:selectOneMenu
                                                    id="auswAuswirkInput"
                                                    filter="true"
                                                    styleClass="menu glass-button"
                                                    panelStyleClass="panel"
                                                    value="#{cc.attrs.anfoCtrl.auswirkung.auswirkung}"
                                                    style="top:0;">
                                                <f:selectItem itemLabel="#{msg.auswirkungen}" itemValue="#{null}"
                                                              noSelectionOption="true" itemDisabled="#{true}"/>
                                                <f:selectItems value="#{cc.attrs.anfoCtrl.auswirkungsArten}"/>
                                            </p:selectOneMenu>
                                            <p:inputText
                                                    validatorMessage="#{msg.auswirkung}"
                                                    id="auswWertInput"
                                                    class="anfoTabInput auswWertInput"
                                                    placeholder="#{msg.auswirkungWert}"
                                                    value="#{cc.attrs.anfoCtrl.auswirkung.wert}">
                                            </p:inputText>
                                            <p:commandButton id="addAuswirkung"
                                                             process="@form"
                                                             actionListener="#{cc.attrs.anfoCtrl.addAuswirkung()}"
                                                             async="true"
                                                             update="editAfo:anfoForm:anfoAccordion:auswirkungenPanel"
                                                             icon="ui-icon-plus"
                                                             styleClass="glass-button inline">
                                            </p:commandButton>

                                        </p:outputPanel>
                                    </h:form>
                                </div>
                                <p:outputPanel id="auswirkungen" rendered="#{cc.attrs.anfoCtrl.auswirkungAssigned}">
                                    <anfoComps:auswikungenListComp id="AuswirkungenListInAfo"
                                                                   abstractAnforderung="#{cc.attrs.anfoCtrl.anfoMgmtObject}"
                                    />
                                </p:outputPanel>

                            </h:panelGrid>


                            <p:outputLabel id="detektorenLabel" value="#{msg.anforderungEdit_detektoren}:"/>
                            <h:commandLink
                                    onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'detektorInput'}]); return false;">
                                <span class="fa fa-info-circle op-80"/>
                            </h:commandLink>
                            <anfoComps:detektorComponent id="detektorComponent"
                                                         abstractAnforderung="#{cc.attrs.anfoCtrl.anfoMgmtObject}"
                                                         abstractAnforderungController="#{cc.attrs.anfoCtrl}"/>
                        </h:panelGrid>

                    </p:tab>
                    <p:tab title="#{msg.anfoderungsformulierung}">
                        <h:panelGrid id="anforderungsformulierungTable" columns="3" class="anfoTabTable" width="100%"
                                     columnClasses="small-column,info-column,max-column">
                            <p:panelGrid>
                                <p:outputLabel id="sensorCocLabel" value="#{msg.sensorCoc}:" for="validationSensorCoc"
                                               class="anfoListPflichtfeld"/>
                                <h:inputHidden id="validationSensorCoc"
                                               validator="#{cc.attrs.anfoCtrl.validateSensorCoc}"
                                               value="null"
                                               required="true"
                                               validatorMessage="#{msg.sensorCocError}"/>
                            </p:panelGrid>
                            <h:commandLink
                                    onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoSensorCoCInput'}]); return false;">
                                <span class="fa fa-info-circle op-80"/>
                            </h:commandLink>
                            <h:panelGrid columns="2" id="sonsorCoCPanel" class="sonsorCoCPanel">
                                <p:commandButton
                                        id="sensorCoCHinzufuegenButton"
                                        value="#{msg.sensorCoc} #{msg.hinzufuegenKlein}"
                                        type="button"
                                        styleClass="glass-button image-button"
                                        onclick="showSensorCocDialog()"
                                        rendered="#{!cc.attrs.anfoCtrl.sensorCoCSelected}"/>
                                <p:outputPanel rendered="#{cc.attrs.anfoCtrl.sensorCoCSelected}"
                                               class="sensorCoCArrowsPanel">
                                    <ul>
                                        <li><p:outputLabel
                                                value="#{cc.attrs.anfoCtrl.anfoMgmtObject.sensorCoc.ressort}"/></li>
                                        <li><p:outputLabel
                                                value="#{cc.attrs.anfoCtrl.anfoMgmtObject.sensorCoc.ortung}"/></li>
                                        <li>
                                            <p:outputLabel
                                                    value="#{cc.attrs.anfoCtrl.anfoMgmtObject.sensorCoc.technologie}"/>
                                            <p:commandLink class="sencosCoCDelete" title="#{msg.entfernen}"
                                                           rendered="#{cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId le 8}"
                                                           onclick="deselectSCoC()" id="deleteSensorCoc">
                                                <img alt=""
                                                     src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_cancel.png"/>
                                            </p:commandLink>
                                        </li>
                                    </ul>
                                </p:outputPanel>
                                <p:remoteCommand name="deselectSCoC"
                                                 action="#{cc.attrs.anfoCtrl.sensorCocDialogController.deselectSensorCoC()}"
                                                 update="sonsorCoCPanel :#{p:component('sensorCocDialog')} anfoSensorCoCLeiterOutput"
                                                 process="@this"/>
                            </h:panelGrid>

                            <p:outputLabel value="#{msg.sensorCoCLeiter}:"/>
                            <h:commandLink
                                    onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'sensorCoCLeiter'}]); return false;">
                                <span class="fa fa-info-circle op-80"/>
                            </h:commandLink>
                            <p:outputLabel id="anfoSensorCoCLeiterOutput" class="anfoTabInput borderless"
                                           value="#{cc.attrs.anfoCtrl.anfoMgmtObject.sensorCoc.sensorCoCLeiter.name}"/>

                            <p:outputLabel id="tteamLabel" for="anfoTteamInput" value="#{msg.tteam}:"
                                           rendered="#{facesContext.externalContext.requestServletPath == '/anforderungEdit.xhtml'}"
                                           class="anfoListPflichtfeld-2"/>
                            <h:commandLink
                                    onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoTeamInput'}]); return false;"
                                    rendered="#{facesContext.externalContext.requestServletPath == '/anforderungEdit.xhtml'}">
                                <span class="fa fa-info-circle op-80"/>
                            </h:commandLink>
                            <p:selectOneMenu id="anfoTteamInput"
                                             value="#{cc.attrs.anfoCtrl.anfoMgmtObject.tteam}"
                                             filter="true"
                                             disabled="#{cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 9}"
                                             converter="#{cc.attrs.anfoCtrl.tteamConverter}"
                                             required="#{cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 4}"
                                             requiredMessage="#{msg.tteamError}"
                                             rendered="#{facesContext.externalContext.requestServletPath == '/anforderungEdit.xhtml'
                                                             and cc.attrs.anfoCtrl.hasRightToSetTteam()}"
                                             class="glass-button"
                                             appendTo="@this"
                            >
                                <p:ajax event="itemSelect" update="tteamleiterOutput"
                                        listener="#{cc.attrs.anfoCtrl.updateTteamleiter()}"/>
                                <f:selectItem itemLabel="#{msg.tteamAuswahl}" itemValue="#{null}"
                                              noSelectionOption="true"/>
                                <f:selectItems value="#{cc.attrs.anfoCtrl.allTTeams}" var="aTT" itemLabel="#{aTT}"
                                               itemValue="#{aTT}" class="T-TeamBox"/>

                            </p:selectOneMenu>

                            <p:outputLabel id="anfoTteamOutput" value="#{cc.attrs.anfoCtrl.anfoMgmtObject.tteam}"
                                           rendered="#{facesContext.externalContext.requestServletPath == '/anforderungEdit.xhtml' and !cc.attrs.anfoCtrl.hasRightToSetTteam()}"/>

                            <p:outputLabel for="tteamleiterOutput" value="#{msg.tteamleiter}:"
                                           rendered="#{facesContext.externalContext.requestServletPath == '/anforderungEdit.xhtml'}"/>
                            <h:commandLink
                                    onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoTeamInput'}]); return false;"
                                    rendered="#{facesContext.externalContext.requestServletPath == '/anforderungEdit.xhtml'}">
                                <span class="fa fa-info-circle op-80"/>
                            </h:commandLink>
                            <p:outputLabel id="tteamleiterOutput" class="anfoTabInput borderless"
                                           value="#{cc.attrs.anfoCtrl.anfoMgmtObject.tteam.teamleiter.name}"
                                           rendered="#{facesContext.externalContext.requestServletPath == '/anforderungEdit.xhtml'}"/>

                            <p:outputLabel id="beschreibungDELabel" for="anfoBeschrAfoDEInput"
                                           value="#{msg.beschreibungAnforderung} DE:" class="anfoListPflichtfeld"/>
                            <h:commandLink
                                    onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoBeschrAfoDEInput'}]); return false;">
                                <span class="fa fa-info-circle op-80"/>
                            </h:commandLink>
                            <p:inputTextarea id="anfoBeschrAfoDEInput" rows="1" cols="50" maxlength="1024"
                                             disabled="#{cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 9}"
                                             class="anfoTabInput"
                                             value="#{cc.attrs.anfoCtrl.anfoMgmtObject.beschreibungAnforderungDe}"
                                             required="#{cc.attrs.anfoCtrl.requiredByMelden}"
                                             requiredMessage="#{msg.esMussEineBeschreibungAngegebenWerden}">
                            </p:inputTextarea>

                            <p:outputLabel id="beschreibungENLabel" for="anfoBeschrAfoENInput"
                                           value="#{msg.beschreibungAnforderung} #{msg.en}"
                                           rendered="true"/>
                            <h:commandLink
                                    onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoBeschrAfoENInput'}]); return false;">
                                <span class="fa fa-info-circle op-80"/>
                            </h:commandLink>
                            <p:inputTextarea id="anfoBeschrAfoENInput" rows="1" cols="50" maxlength="1024"
                                             disabled="#{cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 9}"
                                             class="anfoTabInput"
                                             value="#{cc.attrs.anfoCtrl.anfoMgmtObject.beschreibungAnforderungEn}"
                                             required="false"
                                             rendered="true"/>

                            <p:outputLabel for="anfoKommentarInput" value="#{msg.kommentarAnforderung}:"
                                           rendered="true"/>
                            <h:commandLink
                                    onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoKommentarInput'}]); return false;">
                                <span class="fa fa-info-circle op-80"/>
                            </h:commandLink>
                            <p:inputTextarea id="anfoKommentarInput" rows="1" cols="50"
                                             class="anfoTabInput"
                                             value="#{cc.attrs.anfoCtrl.anfoMgmtObject.kommentarAnforderung}"
                                             required="false"
                                             rendered="true"/>

                            <p:outputLabel id="zielwertLabel" for="anfoZielwertInput" value="#{msg.zielwert}:"
                                           class="anfoListPflichtfeld"/>
                            <h:commandLink
                                    onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoZielwertInput'}]); return false;">
                                <span class="fa fa-info-circle op-80"/>
                            </h:commandLink>
                            <p:inputTextarea id="anfoZielwertInput"
                                             rows="1" cols="50" maxlength="1024"
                                             disabled="#{cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 9}"
                                             class="anfoTabInput"
                                             value="#{cc.attrs.anfoCtrl.anfoMgmtObject.zielwert.wert}"
                                             required="#{cc.attrs.anfoCtrl.requiredByMelden}"
                                             requiredMessage="#{msg.esIstEinZielwertErforderlich}"/>

                            <p:outputLabel for="anfoZielwertKommentarInput" value="#{msg.zielwertKommentar}:"/>
                            <h:commandLink
                                    onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoZielwertKommentarInput'}]); return false;">
                                <span class="fa fa-info-circle op-80"/>
                            </h:commandLink>
                            <p:inputTextarea id="anfoZielwertKommentarInput"
                                             rows="1" cols="50" maxlength="1024"
                                             disabled="#{cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 9}"
                                             class="anfoTabInput"
                                             value="#{cc.attrs.anfoCtrl.anfoMgmtObject.zielwert.kommentar}"
                                             required="false"/>

                            <p:outputLabel id="loesungsvorschlagLabel" for="anfoLoesungsvorschlagInput"
                                           value="#{msg.loesungsvorschlag}:"
                                           rendered="true"/>
                            <h:commandLink
                                    onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoLoesungsvorschlagInput'}]); return false;">
                                <span class="fa fa-info-circle op-80"/>
                            </h:commandLink>
                            <p:inputTextarea id="anfoLoesungsvorschlagInput" rows="1" cols="50" maxlength="1024"
                                             class="anfoTabInput"
                                             value="#{cc.attrs.anfoCtrl.anfoMgmtObject.loesungsvorschlag}"
                                             required="false"
                                             disabled="#{cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 9}"
                                             rendered="true"/>

                            <p:panelGrid rendered="#{cc.attrs.anforderungsCtrl.editViewPermission.umsetzerPanel}">
                                <p:outputLabel id="umsetzerLabel" value="#{msg.umsetzer}:" for="validationUmsetzer"
                                               class="anfoListPflichtfeld-2"/>
                                <h:inputHidden id="validationUmsetzer"
                                               validator="#{cc.attrs.anfoCtrl.validateUmsetzer}"
                                               value="null"
                                               required="#{cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId >= 3 and cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId lt 11}"
                                               validatorMessage="#{msg.umsetzerError}"/>

                                <h:inputHidden id="validationFahrzeugmerkmale"
                                               validator="#{cc.attrs.anfoCtrl.validateFahrzeugmerkmale}"
                                               value="null"
                                               required=""
                                               validatorMessage="#{msg.fahrzeugmerkmal_not_configured}"/>
                            </p:panelGrid>

                            <h:commandLink
                                    onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'umsetzer'}]); return false;"
                                    rendered="#{cc.attrs.anforderungsCtrl.editViewPermission.umsetzerPanel}">
                                <span class="fa fa-info-circle op-80"/>
                            </h:commandLink>

                            <h:panelGrid id="umsetzerPanel" columns="1" rendered="#{cc.attrs.anforderungsCtrl.editViewPermission.umsetzerPanel}">

                                <p:commandButton id="umsetzerBearbeitenButton" value="#{msg.umsetzer} #{msg.bearbeiten}"
                                                 type="button"
                                                 onclick="showUmsetzerDialog()"
                                                 disabled="#{cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 9}"
                                                 class="umsetzerBearbeitenButton glass-button"/>
                                <p:tooltip showDelay="500" for="umsetzerBearbeitenButton" position="bottom"
                                           value="#{msg.tooltipp_afoMeldEditComp_umsetzerBearbeitenButton}"/>
                                <h:panelGrid id="modulsPanel" columns="1" class="modulsPanel">
                                    <p:dataTable id="modulsTable" class="modulsTable"
                                                 value="#{cc.attrs.anfoCtrl.anforderungFreigabeBeiModul}"
                                                 var="modulFreigabe"
                                                 emptyMessage="#{msg.modulFreigabeEmpty}"
                                                 rendered="#{cc.attrs.anfoCtrl.anforderungFreigabeBeiModulRendered}"
                                                 rowKey="#{modulFreigabe.modulSeTeam}">
                                        <p:ajax event="rowSelectRadio" listener="#{cc.attrs.anfoCtrl.onHMselect}"
                                                process="modulsTable"
                                                update="#{cc.clientId}:anfoForm:anfoAccordion:modulsTable modulId @this"/>

                                        <p:column id="modulNameColumn" class="modulNameContainer"
                                                  headerText="#{msg.modul}">
                                            <h:outputText
                                                    id="modulId"
                                                    value="#{modulFreigabe.modulSeTeam.elternModul.name} > #{modulFreigabe.modulSeTeam.name}"
                                                    styleClass="#{cc.attrs.anfoCtrl.isMyModulSeTeam(modulFreigabe.modulSeTeam) ? 'bold' : ''}"/>
                                        </p:column>
                                        <p:column class="dropDownIconConainter">
                                            <p:rowToggler id="rowToggler"/>
                                        </p:column>
                                        <p:column class="markVereinbarungConainter"
                                                  headerText="#{msg.vereinbarungstyp}">
                                            <p:selectBooleanButton id="vereinbarungTypeInput"
                                                                   value="#{modulFreigabe.zak}"
                                                                   disabled="#{cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 9}"
                                                                   onLabel="ZAK" offLabel="STD">
                                                <p:ajax listener="#{cc.attrs.anforderungsCtrl.onModulEdit(modulFreigabe)}"/>
                                            </p:selectBooleanButton>
                                            <p:tooltip showDelay="500" for="vereinbarungTypeInput" position="bottom"
                                                       value="#{msg.tooltipp_afoMeldEditComp_vereinbarenTypInput}"/>
                                        </p:column>
                                        <p:column class="markFreigabeConainter" headerText="#{msg.freigabe}">
                                            <ui:fragment rendered="#{modulFreigabe.freigabe}">
                                                <div class="imageContainer"><img alt=""
                                                                                 src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon-check-green.png"/>
                                                </div>
                                            </ui:fragment>
                                        </p:column>
                                        <p:column id="fahrzeugmerkmalColumn" headerText="#{msg.fahrzeugmerkmale}" >
                                            <anforderungEdit:fahrzeugmerkmalEditButton id="fahrzeugmerkmalEditButton"
                                                                                       anforderungEditFahrzeugmerkmalButtonActions="#{cc.attrs.anforderungsCtrl}"
                                                                                       anforderungEditFahrzeugmerkmalButtonData="#{modulFreigabe}"
                                                                                       modulSeTeamId="#{modulFreigabe.modulSeTeam.modulSeTeamId}" 
                                                                                       rendered="#{cc.attrs.anforderungsCtrl.editViewPermission.fahrzeugmerkmaleButton}"/>
                                        </p:column>
                                        <p:column width="16">
                                            <p:commandLink immediate="true"
                                                           rendered="#{modulFreigabe.freigabe eq false}"
                                                           id="umsetzerDeleteButton"
                                                           disabled="#{cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 9}"
                                                           update="modulsTable"
                                                           actionListener="#{cc.attrs.anforderungsCtrl.removeModulFreigabe(modulFreigabe)}">
                                                <img alt=""
                                                     src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"
                                                     width="16px" height="16px"/>
                                            </p:commandLink>
                                            <p:tooltip showDelay="500" for="umsetzerDeleteButton" position="bottom"
                                                       value="#{msg.tooltipp_afoMeldEditComp_umsetzerDeleteButton}"/>
                                        </p:column>
                                        <p:rowExpansion>
                                            <p:dataTable
                                                    value="#{cc.attrs.anforderungsCtrl.getUmsetzerListFilteredByModulSeTeam(modulFreigabe.modulSeTeam)}"
                                                    class="no-header"
                                                    var="filteredUmsetzer">
                                                <p:column>
                                                    <h:outputText value="#{filteredUmsetzer.komponente.name}"/>
                                                </p:column>
                                            </p:dataTable>
                                        </p:rowExpansion>
                                    </p:dataTable>
                                </h:panelGrid>
                            </h:panelGrid>

                            <p:outputLabel for="anfoPhasenbezug" value="#{msg.phasenbezug}:"
                                           rendered="#{(cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId ne null and
                                                           (cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId >= 3 and cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId lt 11)) or
                                                           (cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId >= 3 and cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId lt 11)}"/>
                            <h:commandLink
                                    onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoPhasenbezug'}]); return false;"
                                    rendered="#{(cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId ne null and
                                                           (cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId >= 3 and cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId lt 11)) or
                                                           (cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId >= 3 and cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId lt 11)}">
                                <span class="fa fa-info-circle op-80"/>
                            </h:commandLink>
                            <p:column rendered="#{(cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId ne null and
                                                      (cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId >= 3 and cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId lt 11)) or
                                                      (cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId >= 3 and cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId lt 11)}">
                                <div class="d-iblock">
                                    <p:outputPanel class="ContentBooleanButton" id="anfoPhasenbezug">
                                        <p:selectBooleanButton id="anfoKonzeptrelevantInputSwitch"
                                                               disabled="#{cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 9}"
                                                               value="#{cc.attrs.anforderungsCtrl.anfoMgmtObject.phasenbezug}"
                                                               onLabel="#{msg.konzeptrelevant}"
                                                               offLabel="#{msg.architekturrelevant}"/>
                                        <p:tooltip showDelay="500" for="anfoKonzeptrelevantInputSwitch"
                                                   position="bottom"
                                                   value="#{msg.tooltipp_afoMeldEditComp_anfoKonzeptrelevantInputSwitch}"/>
                                    </p:outputPanel>
                                </div>
                            </p:column>

                            <p:outputLabel for="anfoPotentialStandardInput"
                                           value="#{msg.potentialStandardisierung}:"
                                           rendered="#{(cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId ne null and
                                                           (cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId >= 5 and cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId lt 11)) or
                                                           (cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId >= 5 and cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId lt 11)}"/>
                            <h:commandLink
                                    onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anfoPotentialStandardInput'}]); return false;"
                                    rendered="#{(cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId ne null and
                                                           (cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId >= 5 and cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId lt 11)) or
                                                           (cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId >= 5 and cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId lt 11)}">
                                <span class="fa fa-info-circle op-80"/>
                            </h:commandLink>
                            <p:column rendered="#{(cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId ne null and
                                                      (cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId >= 5 and cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId lt 11)) or
                                                      (cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId >= 5 and cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId lt 11)}">
                                <div class="d-iblock">
                                    <p:outputPanel class="ContentBooleanButton" id="anfoPotentialStandardInput">
                                        <p:selectBooleanButton id="anfoPotentialStandardInputSwitch"
                                                               disabled="#{cc.attrs.anfoCtrl.anfoMgmtObject.status.statusId == 9}"
                                                               value="#{cc.attrs.anforderungsCtrl.anfoMgmtObject.potentialStandardisierung}"
                                                               onLabel="#{msg.ja}" offLabel="#{msg.nein}"/>
                                    </p:outputPanel>
                                </div>
                            </p:column>

                            <p:outputLabel for="anhangUpload" value="#{msg.anhaenge}:"/>
                            <h:commandLink
                                    onclick="showInfoAnzeigenDialog([{name: 'infoToShow', value: 'anhangUpload'}]); return false;">
                                <span class="fa fa-info-circle op-80"/>
                            </h:commandLink>
                            <anfoMgmtObjectComps:anfoMgmtObjectAnhangEditComp id="anhangUpload"
                                                                              anfoMgmtObjectCtrl="#{cc.attrs.anfoCtrl}"/>
                        </h:panelGrid>
                    </p:tab>
                </p:accordionPanel>
            </div>
        </h:form>
    </p:panel>

</cc:implementation>
</html>
