<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="anfoCtrl" type="de.interfaceag.bmw.pzbk.controller.AbstractAnforderungController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:growl id="growl" sticky="false" severity="error" autoUpdate="true" showDetail="false" />

        <div class="anfoViewButtonsBar">
            <div class="left flex" >
                <p:commandLink id="leftButton" onclick="redirectBack()" class="d-iflex">
                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_arrow_back.png" class="glass"/>
                </p:commandLink>
                <p:tooltip showDelay="500"  for="leftButton" value="#{msg.zurueck}"
                           showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                           trackMouse="true" position="none"/>
                <p:menuButton id="zuAnfoButton"
                              class="zuAnfoButton"
                              styleClass ="zuAnfoButton"
                              value="#{msg.anforderungen}"
                              model="#{cc.attrs.anfoCtrl.anforderungListMenuModel}"
                              rendered="#{facesContext.externalContext.requestServletPath == '/meldungView.xhtml' and (not empty cc.attrs.anfoCtrl.anforderungList)}"
                              />
                <p:menuButton id="zugMeldungenButton"
                              class="zugMeldungenButton"
                              value="#{msg.zugeordneteMeldungen}"
                              rendered="#{facesContext.externalContext.requestServletPath == '/anforderungView.xhtml'}"
                              model="#{cc.attrs.anfoCtrl.zugeordneteMeldungenMenuItems}"
                              iconPos="right"
                              />
                <p:tooltip showDelay="500"  for="zugMeldungenButton" value="#{msg.zugeordneteMeldungenAnzeigenOderNeueMeldungZuordnen}"
                           showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                           trackMouse="false" position="right"/>
                <p:menuButton id="anfoVersionButton"
                              class="zugMeldungenButto" iconPos="right"
                              value="#{msg.version}"
                              rendered="#{facesContext.externalContext.requestServletPath == '/anforderungView.xhtml'}"
                              model="#{anforderungController.versionsMenuItems}"
                              />
                <p:tooltip showDelay="500"  for="anfoVersionButton" value="#{msg.versionAnzeigenOderNeueVersionHinzufuegen}"
                           showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                           trackMouse="false" position="right"/>
                <p:commandButton  id="prozessbaukastenZuordnenDialogButton"
                                  styleClass="changeStatusButton margin-left-5px #{cc.attrs.anfoCtrl.anforderung.isProzessbaukastenZugeordnet() ? 'prozessbaukastenLink' : ''}"
                                  iconPos="right"
                                  value="#{anforderungController.prozessbaukastenZuordnenButtonName}"
                                  rendered="#{facesContext.externalContext.requestServletPath == '/anforderungView.xhtml'
                                              and cc.attrs.anfoCtrl.viewPermission.prozessbaukastenButton.rendered
                                              and cc.attrs.anfoCtrl.isAnforderungZuordnungErlaubt()}"
                                  action="#{cc.attrs.anfoCtrl.prozessbaukastenZuordnungButton()}"
                                  disabled="#{!cc.attrs.anfoCtrl.viewPermission.prozessbaukastenButton.hasRightToEdit()}"
                                  />
                <p:menuButton id="zugProzessbaukastenButton"
                              class="zugMeldungenButto" iconPos="right"
                              value="#{msg.anforderung_view_zugeordneten_prozessbaukasten}"
                              rendered="#{facesContext.externalContext.requestServletPath == '/anforderungView.xhtml'
                                          and not cc.attrs.anfoCtrl.isAnforderungZuordnungErlaubt()}"
                              model="#{cc.attrs.anfoCtrl.zugeordneteProzessbaukastenMenuItems}"
                              />
                <p:tooltip showDelay="500"  for="zugProzessbaukastenButton" value="#{msg.anforderung_view_zugeordneten_prozessbaukastenAnzeigen}"
                           showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                           trackMouse="false" position="right"/>
            </div>
            <div class="right anfoViewButtonsRight" >
                <div class="statusButtonWrapper">
                    <h:panelGroup id="goToNextStatusPanel" class="statusButtonPanel">
                        <!--this div is only used to hide the ui-repeat element if status is changed-->
                        <p:fragment id="statusUpdate" autoUpdate="true">
                            <ui:repeat id="gotoNextStatus"
                                       var="st"
                                       value="#{cc.attrs.anfoCtrl.nextStatusList}"
                                       rendered="#{not empty cc.attrs.anfoCtrl.anfoMgmtObject.id and cc.attrs.anfoCtrl.anfoMgmtObject.status ne 'M_ZUGEORDNET'}">
                                <p:commandButton id="changeStatusButton"
                                                 value="#{localizationService.getValue(st.propertyName)}"
                                                 styleClass="#{st.aktion}"
                                                 ajax="true"
                                                 rendered="#{st.aktion != 'löschen' and st.aktion != 'anlegen'
                                                             and cc.attrs.anfoCtrl.viewPermission.statusTransition}"
                                                 update="@form"
                                                 action="#{cc.attrs.anfoCtrl.processStatusChange(st)}" />
                                <p:tooltip showDelay="500"  for="changeStatusButton" value="#{msg.statusWechseln}  '#{st.statusBezeichnung}'"
                                           showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                                           trackMouse="true" position="none"/>

                            </ui:repeat>
                        </p:fragment>
                    </h:panelGroup>
                </div>
                <div class="editButtonWrapper">
                    <p:fragment id="editableUpdate" autoUpdate="true">
                        <p:commandButton id="derivatZuordnenButton"
                                         value="#{msg.derivateZuordnen}"
                                         onclick="showDerivateZuordnenDialog();"
                                         rendered="#{cc.attrs.anfoCtrl.viewPermission.derivatZuordnenButton}">
                        </p:commandButton>
                        <p:tooltip showDelay="500"  for="derivatZuordnenButton"  position="bottom" value="#{msg.tooltipp_afoMeldView_navbarComp_derivatZuordnenButton}" />
                        <p:commandButton id="derivatenAnzeigenButton"
                                         value="#{msg.derivatzustand}"
                                         onclick="showDerivatenAnzeigenDialog();"
                                         rendered="#{cc.attrs.anfoCtrl.viewPermission.derivatZustandButton}">
                        </p:commandButton>
                        <p:tooltip showDelay="500"  for="derivatenAnzeigenButton"  position="bottom" value="#{msg.tooltipp_afoMeldView_navbarComp_derivatAnzeigenButton}" />
                        <p:commandButton id="wiederherstellenButton"
                                         value="#{msg.wiederherstellen}"
                                         rendered="#{cc.attrs.anfoCtrl.viewPermission.wiederherstellenButton}"
                                         action="#{cc.attrs.anfoCtrl.restore()}" >
                        </p:commandButton>
                        <p:tooltip showDelay="500"  for="wiederherstellenButton"  position="bottom" value="#{msg.tooltipp_afoMeldView_navbarComp_wiederherstellenButton}" />
                        <p:link id="historyButton" class="d-flex afViewHistoryButton"
                                outcome="anforderungHistory"
                                title="#{msg.zeigeHistorie}"
                                >
                            <f:param name="kennzeichen" value="#{cc.attrs.anfoCtrl.anfoMgmtObject.kennzeichen}" />
                            <f:param name="id" value="#{cc.attrs.anfoCtrl.anfoMgmtObject.id}" />
                            <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_history.png" class="glass"/>
                        </p:link>
                        <p:tooltip showDelay="500"  for="historyButton" value="#{msg.zeigeHistorie}"
                                   showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                                   trackMouse="true" position="none"/>
                        <p:commandLink id="changeStatusCommandLink"
                                       class="d-flex"
                                       rendered="#{cc.attrs.anfoCtrl.viewPermission.loeschenButton}"
                                       style="text-decoration: none; position: relative;"
                                       action="#{cc.attrs.anfoCtrl.processGeloeschtStatusChange()}">
                            <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon-trash.png" class="glass"/>
                        </p:commandLink>
                        <p:tooltip showDelay="500"  for="changeStatusCommandLink" value="#{msg.loeschen}"
                                   showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                                   trackMouse="true" position="none"/>
                        <p:commandLink id="EditAnfoButton" class="d-flex"
                                       action="#{cc.attrs.anfoCtrl.edit()}"
                                       title="#{msg.bearbeiten}"
                                       rendered="#{cc.attrs.anfoCtrl.viewPermission.editButton}">
                            <f:param name="id" value="#{cc.attrs.anfoCtrl.anfoMgmtObject.id}" />
                            <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_edit.png" class="glass"/>
                        </p:commandLink>
                        <p:tooltip showDelay="500"  for="EditAnfoButton" value="#{msg.bearbeiten}"
                                   showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                                   trackMouse="true" position="none"/>
                    </p:fragment>
                </div>
            </div>
        </div>
    </cc:implementation>
</html>
