<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="anfoCtrl" type="de.interfaceag.bmw.pzbk.controller.AbstractAnforderungController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <div class="right editButtonWrapper">
            <p:commandLink ajax="true" class="d-iflex" id="AnfoEditSpeichernBtn"
                           onclick="if (#{cc.attrs.anfoCtrl.toBeOpenedInEditMode()}) {
                                       proceedWithStatusChange();
                                   } else {
                                       processAnfoForm();
                                   }">
                <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_save.png" class="glass"/>
            </p:commandLink>
            <p:tooltip showDelay="500"  for="AnfoEditSpeichernBtn" value="#{msg.speichern}"
                       showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                       trackMouse="true" position="none"/>
            <p:commandLink id="cancelAnfoButton" class="d-iflex" 
                           ajax="false" action="#{cc.attrs.anfoCtrl.cancel()}">
                <img alt="" src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_cancel.png" class="glass"/>
            </p:commandLink>
            <p:tooltip showDelay="500"  for="cancelAnfoButton" value="#{msg.verwerfen}"
                       showEvent="mouseover" hideEvent="mouseout" styleClass="anfoKommentTooltip"
                       trackMouse="true" position="none"/>
        </div>
    </cc:implementation>
</html>
