<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="abstractAnforderung" type="de.interfaceag.bmw.pzbk.entities.AbstractAnforderung"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <div id="#{cc.clientId}">          
            <p:dataTable value="#{cc.attrs.abstractAnforderung.auswirkungen}" var="ausw" 
                         editable="true"
                         editMode="row"
                         id="auswTable" class="auswTable" >
                <p:column headerText="#{msg.auswirkung}">
                    <h:outputText id="anfoAuswirkungText" value="#{ausw.auswirkung}" class="anfoAuswText"/>
                </p:column>
                <p:column headerText="#{msg.auswirkungWert}" >
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText id="anfoAuswirkungWert" value="#{ausw.wert}" 
                                          class="anfoAuswWert" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText id="nameChangeInput" value="#{ausw.wert}" 
                                         class="anfoAuswWert" 
                                         required="true" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column style="width:32px">
                    <p:rowEditor />
                </p:column>
                <p:column width="30">
                    <p:commandLink id="auswirkungLoeschenLink" 
                                   title="#{msg.entfernen}" 
                                   update ="editAfo:anfoForm:anfoAccordion:auswirkungenPanel" 
                                   process="@this"
                                   disabled="#{cc.attrs.abstractAnforderung.status.statusId == 9}"
                                   class="anfoAuswDelete">
                        <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                        <p:collector id="auswirkungLoeschenCollector" value="#{ausw}" 
                                     removeFrom="#{cc.attrs.abstractAnforderung.auswirkungen}" unique="true"/>
                    </p:commandLink>
                </p:column>
            </p:dataTable>
        </div>
    </cc:implementation>
</html>