<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<!-- INTERFACE -->
<cc:interface>
    <cc:attribute required="true" name="abstractAnforderungController"
                  type="de.interfaceag.bmw.pzbk.controller.AbstractAnforderungController"/>
    <cc:attribute required="true" name="abstractAnforderung"
                  type="de.interfaceag.bmw.pzbk.entities.AbstractAnforderung"/>
</cc:interface>

<!-- IMPLEMENTATION -->
<cc:implementation>
    <h:panelGrid id="detektorPanel" class="auswirkungenPanel">


        <p:inputText style="width: 250px" id="newDetektor"
                     placeholder="#{msg.anforderungEdit_neuerDetektor}"
                     value="#{cc.attrs.abstractAnforderungController.newDetektor}">
        </p:inputText>
        <p:commandButton id="addDetektorButton"
                         icon="ui-icon-plus"
                         update="editAfo:anfoForm:anfoAccordion:detektorComponent:detektorPanel editAfo:anfoForm:growl"
                         actionListener="#{cc.attrs.abstractAnforderungController.addNewDetektor()}"
                         process="@this editAfo:anfoForm:anfoAccordion:detektorComponent:newDetektor"
                         partialSubmit="true"
                         async="true"
                         styleClass="glass-button inline margin-left-5px">
        </p:commandButton>
        <p:tooltip showDelay="500" for="addDetektorButton" position="bottom"
                   value="#{msg.tooltipp_detektorComponent_addButton}"/>

        <p:dataTable id="detektorenTable"
                     editable="true"
                     editMode="row"
                     value="#{cc.attrs.abstractAnforderungController.detektoren}"
                     var="detektor">

            <p:column headerText="#{msg.anforderungEdit_detektor}">

                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText id="detektorValue" value="#{detektor.value}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText id="nameChangeInput"
                                     value="#{detektor.value}"
                                     validator="MailValidator"
                                     validatorMessage="#{msg.anforderungEdit_gueltigeMailEingeben}"
                                     required="true"/>
                        <p:message id="nameChangeInputMessage" for="nameChangeInput"/>
                    </f:facet>
                </p:cellEditor>

            </p:column>

            <p:column style="width:32px">
                <p:rowEditor saveTitle="#{msg.anwenden}" cancelTitle="#{msg.verwerfen}"/>
            </p:column>

            <p:column width="30">
                <p:commandLink id="removeDetektorCommandLink"
                               title="#{msg.entfernen}"
                               class="anfoAuswDelete"
                               update="editAfo:anfoForm:anfoAccordion:detektorComponent:detektorPanel"
                               process="@this">
                    <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/color/icon_trash.png"/>
                    <p:collector id="detektorLoeschenCollector" value="#{detektor}"
                                 removeFrom="#{cc.attrs.abstractAnforderungController.detektoren}" unique="true"/>
                </p:commandLink>

                <p:tooltip showDelay="500" for="removeDetektorCommandLink" position="bottom"
                           value="#{msg.tooltipp_detektorComponent_deleteButton}"/>

            </p:column>

        </p:dataTable>
    </h:panelGrid>
</cc:implementation>
</html>
