<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
    <ui:composition template="templates/error-template.xhtml">
        <ui:define name="title">#{msg.title_403} #{msg.title_default}</ui:define>
        <ui:define name="content">
            <ui:include src="components/403_content.xhtml" />
        </ui:define>
    </ui:composition>
</html>

