<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:anfoComps="http://xmlns.jcp.org/jsf/composite/anfoComps"
      xmlns:p="http://primefaces.org/ui"
      xmlns:dialogs="http://xmlns.jcp.org/jsf/composite/dialogs">
    <ui:composition template="templates/filter-title-template.xhtml">
        <ui:define name="imports">
            <h:outputStylesheet library="css" name="public/color.css"/>
            <h:outputStylesheet library="css" name="main.css" />
            <h:outputStylesheet library="css" name="button/button.css" />

            <h:outputStylesheet library="css" name="anforderungZuordnen.css" />
            <h:outputStylesheet library="css" name="anforderung.css" />
            <h:outputStylesheet library="css" name="anforderungHistory.css" />
            <h:outputStylesheet library="css" name="anforderungList.css" />
            <h:outputStylesheet library="css" name="derivateView.css" />
            <h:outputStylesheet library="css" name="umsetzungsbestaetigung.css" />
            <h:outputStylesheet library="css" name="vereinbarung.css" />
            <h:outputStylesheet library="css" name="copyLinkDialog.css" />

            <h:outputScript library="js" name="main.js" target="head"/>
            <h:outputScript library="js" name="addAnfo.js" target="head"/>

            <h:outputScript library="js" target="body" name="anforderungList.js" />
            <h:outputScript library="js" target="body" name="primefacesLocaleDe.js" />
            <h:outputScript library="js" target="body" name="filter.js" />
        </ui:define>
        <ui:define name="title">#{msg.title_anfoVereinbaren} #{msg.title_default}</ui:define>
        <ui:define name="titleType"><p:outputLabel value="#{msg.title_anfoVereinbaren}" class="type"/></ui:define>
        <ui:define name="searchMenu">
            <ui:include src="/components/generalComp/topnavSearchSimple.xhtml" />
        </ui:define>

        <ui:define name="filter">
            <anfoComps:addAnfo_filter id="addAnfoFilter" addAnfoCtrl="#{vereinbarungController}" />
        </ui:define>
        <ui:define name="content">
            <div class="contentNav">
                <anfoComps:addAnfoView_navComp id="addAnfoViewNavBar" addAnfoCtrl="#{vereinbarungController}" />
            </div>
            <anfoComps:addAnfoView_content id="addAnfoContent"
                                           vereinbarungHistoryController="#{vereinbarungHistoryController}"
                                           addAnfoCtrl="#{vereinbarungController}" />
        </ui:define>
        <ui:define name="dialogs">
            <dialogs:dialogs id="dialog"
                             addAnfoCtrl="#{vereinbarungController}"
                             vereinbarungHistoryController="#{vereinbarungHistoryController}"
                             editCommentCtrl="#{vereinbarungController.editCommentDialogController}"
                             copyLinkDialogController="#{copyLinkDialogController}" />
        </ui:define>
    </ui:composition>
</html>
