<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:adminComps="http://xmlns.jcp.org/jsf/composite/adminComps"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="templates/filter-title-template.xhtml">
        <ui:define name="imports">
            <h:outputStylesheet library="css" name="admin.css" />
            <h:outputStylesheet library="css" name="benutzerverwaltung.css" />
            <h:outputStylesheet library="css" name="anforderungList.css" />
            <h:outputStylesheet library="css" name="filter/filter-template.css" />
            <h:outputScript library="js" target="body" name="anforderung.js" />
            <h:outputScript library="js" target="body" name="filter.js" />
        </ui:define>

        <ui:define name="title">#{msg.title_admin} #{msg.title_default}</ui:define>
        <ui:define name="titleType"><p:outputLabel value="#{msg.title_admin}" class="type"/></ui:define>  
        <ui:define name="searchMenu">
            <ui:include src="/components/generalComp/topnavSearchSimple.xhtml" />
        </ui:define>
        <ui:define name="filter">
            <adminComps:adminView_filter id="adminViewFilter" berechtigungCtrl="#{berechtigungController}" />
        </ui:define>
        <ui:define name="content" >
            <div class="contentNav">
                <adminComps:admView_navbarComp id="viewAdmNav" berechtigungCtrl="#{berechtigungController}" 
                                               rendered="#{berechtigungController.viewPermission.page}" />
            </div>
            <adminComps:admViewContentComp  id="viewAdmContent" 
                                            berechtigungCtrl="#{berechtigungController}" 
                                            bearbeitenDialogController="#{mitarbeiterBearbeitenDialogController}"/>
        </ui:define>        
        <ui:define name="dialogs">
            <adminComps:berechtigungDialogs id="dialog" 
                                            mitarbeiterBearbeitenDialogController="#{mitarbeiterBearbeitenDialogController}"
                                            berechtigungCtrl="#{berechtigungController}"
                                            changeController="#{mitarbeiterQnumberChangeController}"/>
        </ui:define>
    </ui:composition>
</html>
