<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:anfoComps="http://xmlns.jcp.org/jsf/composite/anfoComps"
      xmlns:dialogs="http://xmlns.jcp.org/jsf/composite/dialogs"> 
    <ui:composition template="templates/center-template.xhtml"  >
        <ui:define name="imports">
            <h:outputStylesheet library="css" name="anforderung.css"  />
            <h:outputStylesheet library="css" name="anforderungAnsicht.css" />
            <h:outputStylesheet library="css" name="versionPlusDialog.css" />
            <h:outputScript library="js" target="body" name="felderAttributeAendern.js" />
        </ui:define>

        <ui:define name="title">
            #{msg.anforderung} #{anforderungController.viewPermission.page ? anforderungController.anfoMgmtObject.fachId : null} #{msg.title_default}
        </ui:define>

        <ui:define name="titleText">
            <p:outputLabel id="fachIdLabel" value="#{anforderungController.anfoMgmtObject.fachId}" class="text" rendered="#{anforderungController.viewPermission.page}"/>
        </ui:define>

        <ui:define name="titleVersion">
            <p:outputLabel id="versionLabel" class="version" 
                           value="#{anforderungController.vsLabel}" 
                           rendered="#{facesContext.externalContext.requestServletPath == '/anforderungView.xhtml' and anforderungController.viewPermission.page}"/>
        </ui:define>

        <ui:define name="titleAddition">
            <p:outputLabel id="statusLabel" value="#{anforderungController.anfoMgmtObject.status.statusBezeichnung}" class="anforderungMeldungStatus" rendered="#{anforderungController.viewPermission.page}"/>
        </ui:define>      

        <ui:define name="searchMenu">
            <ui:include src="/components/generalComp/topnavSearchSimple.xhtml" />
        </ui:define>

        <ui:define name="secNavBar">
            <anfoComps:afoMeldView_navbarComp id="viewAfoNav" anfoCtrl="#{anforderungController}" 
                                              rendered="#{anforderungController.viewPermission.page}"/>
        </ui:define>

        <ui:define name="content">
            <anfoComps:afoMeldViewComp id="viewAfo" anfoCtrl="#{anforderungController}"/>
        </ui:define>

        <ui:define name="dialogs">
            <dialogs:dialogs id="dialog" 
                             anfoMgmtObjectCtrl="#{anforderungController}"
                             anforderungCtrl="#{anforderungController}"
                             abstractAnforderungCtrl="#{anforderungController}"
                             meldungZuordnungsDialogController="#{meldungZuordnungsDialogController}"
                             rendered="#{anforderungController.viewPermission.page}"
                             anforderungPlausiKomChangedCtrl="#{anforderungController}"
                             modulFreigabeCommentDialog="#{anforderungController}"
                             modulFreigabeProceedDialog="#{anforderungController}"
                             versionPlusCreateNewVersionDialog="#{anforderungController}"
                             versionPlusKommentarDialog="#{anforderungController}"
                             changeVersionProceedDialog="#{anforderungController}"
                             statusChangeMethodChangeDialog="#{anforderungController}"
                             statusChangeNextStatusDialog="#{anforderungController}"
                             prozessbaukastenZuordnenDialogFields="#{anforderungController.prozessbaukastenZuordnenDialogViewData}"
                             prozessbaukastenZuordnenDialogPersist="#{anforderungController}"
                             />
        </ui:define>
    </ui:composition>
</html>
