<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:dialogs="http://xmlns.jcp.org/jsf/composite/dialogs">
<ui:composition template="templates/filter-template.xhtml">
    <ui:define name="imports">
        <h:outputStylesheet library="css" name="anforderungList.css"/>
        <h:outputStylesheet library="css" name="copyLinkDialog.css"/>
        <h:outputScript library="js" target="body" name="anforderungList.js"/>
        <h:outputScript library="js" target="body" name="filter.js"/>
        <h:outputStylesheet library="css" name="umsetzungsbestaetigung.css"/>
        <h:outputStylesheet library="css" name="anforderungListFilter.css"/>
    </ui:define>
    <ui:define name="title">#{msg.title_anforderungList} #{msg.title_default} </ui:define>
    <ui:define name="filterMenu">

        <p:remoteCommand name="filterHeader"
                         process="@form"
                         action="#{globalSearchController.filter()}"/>

        <p:selectCheckboxMenu id="menu"
                              label="#{msg.filter}"
                              class="topnav_filtermenu"
                              panelStyle="width:250px"
                              value="#{globalSearchController.filter.typeFilter.selectedValues}"
                              onShow="appendGlobalSearchHeaderFilterAnwendenButton();"
                              converter="#{globalSearchController.filter.typeFilter.converter}"
                              panelStyleClass="filterStatusMeldungPanel filterPanel">
            <f:selectItems value="#{globalSearchController.filter.typeFilter.all}"
                           var="type"
                           itemLabel="#{type.name}"
                           itemValue="#{type}"/>
        </p:selectCheckboxMenu>

    </ui:define>
    <ui:define name="searchMenu">
        <div class="topnav_search_wrapper">
            <p:focus for="topnav-search-input"/>
            <p:autoComplete id="topnav-search-input"
                            styleClass="topnav_search_input"
                            placeholder="#{msg.suche}"
                            minQueryLength="2"
                            var="result"
                            autoHighlight="false"
                            itemLabel="#{result.name}#{result.version != null ? ' | ' : ''} #{result.version != null ? result.version : ''}"
                            itemValue="#{result}"
                            multiple="true"
                            forceSelection="false"
                            emptyMessage="#{msg.keinErgebnis}"
                            maxResults="10"
                            onkeyup="if (event.keyCode === 13) {
                                            searchSubmit();
                                            return false;
                                        }"
                            groupBy="#{result.typ}"
                            converter="#{navbarController.searchResultDTOConverter}"
                            value="#{globalSearchController.searchQueries}"
                            completeMethod="#{navbarController.completeSearch}">
                <p:ajax event="itemSelect"
                        async="true"
                        listener="#{globalSearchController.handleQueryInputAndFilter()}"/>
                <p:column>
                    <p:outputLabel value="#{result.name}"/>
                    <p:outputLabel
                            value="#{result.version != null ? ' | ' : ''}#{result.version != null ? result.version : ''}"/>
                </p:column>
                <p:column>
                    <p:outputLabel id="resultBeschreibungSnippetBefore"
                                   rendered="#{navbarController.querySubstring(result.beschreibung)[0] != null}"
                                   value="#{result.beschreibung.subSequence(navbarController.querySubstring(result.beschreibung)[2], navbarController.querySubstring(result.beschreibung)[0])}"/>
                    <p:outputLabel id="resultBeschreibungSnippet" style="font-weight: bold;"
                                   rendered="#{navbarController.querySubstring(result.beschreibung)[0] != null}"
                                   value="#{result.beschreibung.subSequence(navbarController.querySubstring(result.beschreibung)[0], navbarController.querySubstring(result.beschreibung)[1])}"/>
                    <p:outputLabel id="resultBeschreibungSnippetAfter"
                                   rendered="#{navbarController.querySubstring(result.beschreibung)[0] != null}"
                                   value="#{result.beschreibung.subSequence(navbarController.querySubstring(result.beschreibung)[1], navbarController.querySubstring(result.beschreibung)[3])}"/>
                    <p:outputLabel id="resultBeschreibungStaerkeSnippetBefore"
                                   rendered="#{navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[0] != null and navbarController.querySubstring(result.beschreibung)[0] == null}"
                                   value="#{result.beschreibungStaerkeSchwaeche.subSequence(navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[2], navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[0])}"/>
                    <p:outputLabel id="resultBeschreibungStaerkeSnippet" style="font-weight: bold;"
                                   rendered="#{navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[0] != null and navbarController.querySubstring(result.beschreibung)[0] == null}"
                                   value="#{result.beschreibungStaerkeSchwaeche.subSequence(navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[0], navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[1])}"/>
                    <p:outputLabel id="resultBeschreibungStaerkeSnippetAfter"
                                   rendered="#{navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[0] != null and navbarController.querySubstring(result.beschreibung)[0] == null}"
                                   value="#{result.beschreibungStaerkeSchwaeche.subSequence(navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[1], navbarController.querySubstring(result.beschreibungStaerkeSchwaeche)[3])}"/>
                </p:column>
            </p:autoComplete>

            <p:commandLink class="topnav_search_link" id="topNavSearchButtonAnforderungList"
                           action="#{globalSearchController.handleQueryInputAndFilter()}"
                           process="@form"
                           update="topnavForm:topnav-search-input anfoListForm:anfoList anfoListForm:showMoreResultsButton anfoListForm:resetFilterButton anfoFilterForm:anfoListFilter">
                <img alt=""
                     src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_search.png"
                     class="topnav_search"/>
            </p:commandLink>
            <p:tooltip showDelay="500" for="topNavSearchButtonAnforderungList" position="bottom"
                       value="#{msg.tooltipp_topnavSearchSimple_searchButton}"/>


            <p:remoteCommand id="searchSubmit"
                             name="searchSubmit"
                             action="#{globalSearchController.handleQueryInputAndFilter()}"
                             process="@form"
                             update="topnavForm:topnav-search-input"/>
        </div>
        <div class="topnav_save-search_wrapper">
            <p:commandButton id="afoListSaveSearch" value=""
                             type="button"
                             onclick="toggleSearchActionsMenu()"
                             class="save-search-icon" update="topnavForm:udssList"/>
        </div>
        <p:tooltip showDelay="500" for="afoListSaveSearch" position="bottom" value="#{msg.gespeicherteSuchen}"/>
        <div class="save-search_actions_menu save-search_popup ui-shadow" style="display:none">

            <div class="items">
                <div class="items_header">
                    <p:outputLabel value="#{msg.gespeicherteSuchen}" class="label"/>
                </div>
                <p:growl id="saveSearchError" sticky="false" severity="error" showDetail="true"/>
                <p:dataTable id="udssList" var="uds" value="#{globalSearchController.viewData.userDefinedSearches}"
                             class="menu_grid"
                             editable="true" emptyMessage="#{msg.keinegespeicherteSuchen}">
                    <p:ajax event="rowEdit" listener="#{navbarController.updateUserDefinedSearch(uds)}" update="@this"/>
                    <p:column class="ui-panelgrid-cell icon">
                        <div class="glass imgButtonGlass">
                            <p:commandButton class="d-iflex suchenButton imgButton"
                                             value=""
                                             action="#{globalSearchController.loadUserDefinedSearch(uds)}"/>
                        </div>
                    </p:column>
                    <p:column class="label">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel value="#{uds.name}" class="save-search_menu_link display-name"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText id="udsName" class="save-search-inputfield edit-name" value="#{uds.name}"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column class="ui-panelgrid-cell icon edit">
                        <p:rowEditor class="d-iflex bearbeitenButton imgButton imgButtonGlass"/>
                    </p:column>
                    <p:column class="ui-panelgrid-cell icon loeschenCol">
                        <div class="glass imgButtonGlass imgButtonSmall">
                            <p:commandButton class="d-iflex loeschenButton imgButton"
                                             value=""
                                             action="#{globalSearchController.deleteUserDefinedSearch(uds)}"
                                             update="udssList"/>
                        </div>
                    </p:column>
                </p:dataTable>
                <div class="items_footer">
                    <p:panelGrid columns="2" class="menu_grid save-search-inputfield-grid" columnClasses="label, icon">
                        <p:column>
                            <p:inputText id="newSearchName" class="save-search-inputfield" placeholder="aktuelle Suche"
                                         value="#{globalSearchController.viewData.newUserDefinedSearch.name}"/>
                        </p:column>
                        <p:column>
                            <div class="glass imgButtonGlass">
                                <p:commandButton title=""
                                                 class="d-iflex speichernButton imgButton"
                                                 action="#{globalSearchController.addUserDefinedSearch()}"
                                                 update="udssList newSearchName saveSearchError"/>
                            </div>
                        </p:column>
                    </p:panelGrid>
                </div>

            </div>
        </div>
    </ui:define>
    <ui:define name="filter">
        <ui:include src="components/anforderungList_filter.xhtml"/>
    </ui:define>
    <ui:define name="content">
        <ui:include src="components/anforderungList_content.xhtml"/>
    </ui:define>

    <ui:define name="dialogs">
        <dialogs:dialogs id="dialog" copyLinkDialogController="#{copyLinkDialogController}"/>
    </ui:define>
</ui:composition>
</html>
