<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:anforderungOhneMeldungComs="http://xmlns.jcp.org/jsf/composite/anforderungOhneMeldungComps"
      >
    <ui:composition template="templates/center-template.xhtml">
        <ui:define name="imports">
            <h:outputStylesheet library="css" name="anforderung.css"  />
            <h:outputStylesheet library="css" name="anforderungAnsicht.css" />
            <h:outputStylesheet library="css" name="anforderungOhneMeldungView.css" />
            <h:outputStylesheet library="css" name="versionPlusDialog.css" />
            <h:outputScript library="js" target="body" name="felderAttributeAendern.js" />
        </ui:define>

        <ui:define name="title">
            #{msg.anforderung} #{anforderungOhneMeldungViewController.viewPermission.page ? anforderungOhneMeldungViewController.viewData.fachId : null} #{msg.title_default}
        </ui:define>

        <ui:define name="titleText">
            <p:outputLabel id="fachIdLabel" value="#{anforderungOhneMeldungViewController.viewData.fachId }" class="text" rendered="#{anforderungOhneMeldungViewController.viewPermission.page}"/>
        </ui:define>

        <ui:define name="titleVersion">
            <p:outputLabel id="versionLabel" class="version"
                           value="V#{anforderungOhneMeldungViewController.viewData.version}"
                           rendered="#{anforderungOhneMeldungViewController.viewPermission.page}"/>
        </ui:define>

        <ui:define name="titleAddition">
            <p:outputLabel id="statusLabel" value="#{anforderungOhneMeldungViewController.viewData.status.statusBezeichnung}" class="anforderungMeldungStatus" rendered="#{anforderungOhneMeldungViewController.viewPermission.page}"/>
        </ui:define>

        <ui:define name="searchMenu">
            <ui:include src="/components/generalComp/topnavSearchSimple.xhtml" />
        </ui:define>

        <ui:define name="secNavBar">
            <anforderungOhneMeldungComs:anforderungOhneMeldung_navbarComp id="viewAfoNav" anforderungOhneMeldungController="#{anforderungOhneMeldungViewController}"
                                                                          viewData="#{anforderungOhneMeldungViewController.viewData}"
                                                                          rendered="#{anforderungOhneMeldungViewController.viewPermission.page}"/>
        </ui:define>

        <ui:define name="content">
            <anforderungOhneMeldungComs:anforderungOhneMeldungViewComp id="viewAfo" anforderungOhneMeldungController="#{anforderungOhneMeldungViewController}"
                                                                       viewData="#{anforderungOhneMeldungViewController.viewData}" />
        </ui:define>

        <ui:define name="dialogs">
            <anforderungOhneMeldungComs:anforderungOhneMeldungViewDialogs id="dialog"
                                                                          rendered="#{anforderungOhneMeldungViewController.viewPermission.page}"
                                                                          anforderungPlausiKomChangedCtrl="#{anforderungOhneMeldungViewController}"
                                                                          modulFreigabeCommentDialog="#{anforderungOhneMeldungViewController.anforderungOhneMeldungViewWorkFields}"
                                                                          modulFreigabeProceedDialog="#{anforderungOhneMeldungViewController}"
                                                                          versionPlusCreateNewVersionDialog="#{anforderungOhneMeldungViewController}"
                                                                          versionPlusKommentarDialog="#{anforderungOhneMeldungViewController.anforderungOhneMeldungViewWorkFields}"
                                                                          changeVersionProceedDialog="#{anforderungOhneMeldungViewController}"
                                                                          statusChangeMethodChangeDialog="#{anforderungOhneMeldungViewController}"
                                                                          statusChangeNextStatusDialog="#{anforderungOhneMeldungViewController.anforderungOhneMeldungViewWorkFields}"
                                                                          derivatZuordnenDialogPersistDerivat="#{anforderungOhneMeldungViewController}"
                                                                          derivatZuordnenDialog="#{anforderungOhneMeldungViewController.anforderungOhneMeldungViewDerivatZuordnenWorkFields}"
                                                                          derivatAnzeigenDialogDerivatForAnforderungList="#{anforderungOhneMeldungViewController.anforderungOhneMeldungDerivatAnzeigenWorkFields}"
                                                                          derivatAnzeigenProceedDialog="#{anforderungOhneMeldungViewController}"
                                                                          prozessbaukastenZuordnenDialogFields="#{anforderungOhneMeldungViewController.prozessbaukastenZuordnenDialogViewData}"
                                                                          prozessbaukastenZuordnenDialogPersist="#{anforderungOhneMeldungViewController}"/>

        </ui:define>
    </ui:composition>
</html>
