<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="templates/filter-title-template.xhtml">
        <ui:define name="imports">
            <h:outputStylesheet library="css" name="anforderungAnsicht.css" />
            <h:outputStylesheet library="css" name="anforderungHistory.css" />
        </ui:define>
        <ui:define name="title">#{msg.title_history} #{anforderungHistoryController.basisData.fachId} #{msg.title_default}</ui:define>

        <ui:define name="titleType"><p:outputLabel value="#{msg.title_history}" class="type"/></ui:define>
        <ui:define name="titleText"><p:outputLabel value="#{anforderungHistoryController.basisData.fachId}" class="text"/></ui:define>
        <ui:define name="titleVersion">
            <p:outputLabel value="#{anforderungHistoryController.vsLabel}" class="version"/>
        </ui:define>
        <ui:define name="titleAddition"><p:outputLabel value="#{anforderungHistoryController.basisData.status}" class="anforderungMeldungStatus"/></ui:define>  
        <ui:define name="searchMenu">
            <ui:include src="/components/generalComp/topnavSearchSimple.xhtml" />
        </ui:define>

        <ui:define name="filter">
            <ui:include src="components/anforderungHistory_filter.xhtml" />
        </ui:define>
        <ui:define name="content"> 
            <ui:include src="components/anforderungHistory_content.xhtml" />
        </ui:define>
    </ui:composition>
</html>
