<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:anforderungOhneMeldungComs="http://xmlns.jcp.org/jsf/composite/anforderungOhneMeldungComps">

    <ui:composition template="templates/center-template.xhtml">
        <ui:define name="imports">
            <h:outputStylesheet library="css" name="public/growl.css"/>

            <h:outputStylesheet library="css" name="anforderung.css" />
            <h:outputStylesheet library="css" name="anforderungAnsicht.css" />
            <h:outputStylesheet library="css" name="auswirkungComponent.css" />
            <h:outputStylesheet library="css" name="anforderungOhneMeldungEdit.css" />
            <h:outputScript library="js" target="body" name="anforderung.js" />
            <h:outputScript library="js" target="body" name="felderAttributeAendern.js" />
        </ui:define>
        <ui:define name="title">#{msg.title_anforderungEdit} #{msg.title_default}</ui:define>

        <ui:define name="titleText">
            <ui:fragment rendered="#{empty anforderungOhneMeldungEditController.viewData.fachId and anforderungOhneMeldungEditController.viewPermission.page}"><p:outputLabel value="#{msg.title_anforderungNeu}" class="text"/></ui:fragment>
            <ui:fragment rendered="#{not empty anforderungOhneMeldungEditController.viewData.fachId and anforderungOhneMeldungEditController.viewPermission.page}"><p:outputLabel value="#{anforderungOhneMeldungEditController.viewData.fachId}" class="text"/></ui:fragment>
        </ui:define>
        <ui:define name="titleVersion"><p:outputLabel value="V#{anforderungOhneMeldungEditController.viewData.version}" class="version" rendered="#{anforderungOhneMeldungEditController.viewPermission.page}"/></ui:define>
        <ui:define name="titleAddition"><p:outputLabel value="#{anforderungOhneMeldungEditController.viewData.status.statusBezeichnung}" class="anforderungMeldungStatus" rendered="#{anforderungOhneMeldungEditController.viewPermission.page}"/></ui:define>

        <ui:define name="searchMenu">
            <ui:include src="/components/generalComp/topnavSearchSimple.xhtml" />
        </ui:define>

        <ui:define name="secNavBar">
            <anforderungOhneMeldungComs:anforderungOhneMeldungEdit_navbarComp id="editAfoNav"
                                                                              anforderungOhneMeldungEditController="#{anforderungOhneMeldungEditController}"
                                                                              rendered="#{anforderungOhneMeldungEditController.viewPermission.page}"/>
        </ui:define>
        <ui:define name="content">
            <anforderungOhneMeldungComs:anforderungOhneMeldungEditViewComp id="editAfo" anforderungOhneMeldungEditController="#{anforderungOhneMeldungEditController}"
                                                                           viewData="#{anforderungOhneMeldungEditController.viewData}"
                                                                           viewPermission="#{anforderungOhneMeldungEditController.viewPermission}" />
        </ui:define>
        <ui:define name="dialogs">
            <anforderungOhneMeldungComs:anforderungOhneMeldungEditDialogs id="dialog"
                                                                          anhang="#{anforderungOhneMeldungEditController.viewData.selectedAnhang}"
                                                                          anforderungPlausiKomChangedCtrl="#{anforderungOhneMeldungEditController}"
                                                                          sensorCocDialogFields="#{anforderungOhneMeldungEditController.sensorCocDialogViewData}"
                                                                          sensorCocDialogMethods="#{anforderungOhneMeldungEditController}"
                                                                          umsetzerDialogFields="#{anforderungOhneMeldungEditController.umsetzerDialogViewData}"
                                                                          umsetzerDialogMethods="#{anforderungOhneMeldungEditController}"
                                                                          rendered="#{anforderungOhneMeldungEditController.viewPermission.page}"
                                                                          anforderungEditFahrzeugmerkmalDialogData="#{anforderungOhneMeldungEditController.anforderungEditFahrzeugmerkmalDialogData}"
                                                                          anforderungEditFahrzeugmerkmalDialogActions="#{anforderungOhneMeldungEditController}"
                                                                          />
        </ui:define>
    </ui:composition>
</html>
