<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:anfoComps="http://xmlns.jcp.org/jsf/composite/anfoComps"
      xmlns:dialogs="http://xmlns.jcp.org/jsf/composite/dialogs">
<ui:composition template="templates/center-template.xhtml">
    <ui:define name="imports">
        <h:outputStylesheet library="css" name="public/growl.css"/>

        <h:outputStylesheet library="css" name="anforderung.css"/>
        <h:outputStylesheet library="css" name="anforderungAnsicht.css"/>
        <h:outputStylesheet library="css" name="auswirkungComponent.css"/>
        <h:outputScript library="js" target="body" name="anforderung.js"/>
        <h:outputScript library="js" target="body" name="felderAttributeAendern.js"/>
    </ui:define>
    <ui:define name="title">#{msg.title_anforderungEdit} #{msg.title_default}</ui:define>

    <ui:define name="titleText">
        <ui:fragment
                rendered="#{empty anforderungController.anfoMgmtObject.fachId and anforderungController.berechtigt}"><p:outputLabel
                value="#{msg.title_anforderungNeu}" class="text"/></ui:fragment>
        <ui:fragment
                rendered="#{not empty anforderungController.anfoMgmtObject.fachId and anforderungController.berechtigt}"><p:outputLabel
                value="#{anforderungController.anfoMgmtObject.fachId}" class="text"/></ui:fragment>
    </ui:define>
    <ui:define name="titleVersion"><p:outputLabel value="#{anforderungController.vsLabel}" class="version"
                                                  rendered="#{anforderungController.berechtigt}"/></ui:define>
    <ui:define name="titleAddition"><p:outputLabel
            value="#{anforderungController.anfoMgmtObject.status.statusBezeichnung}" class="anforderungMeldungStatus"
            rendered="#{anforderungController.berechtigt}"/></ui:define>

    <ui:define name="searchMenu">
        <ui:include src="/components/generalComp/topnavSearchSimple.xhtml"/>
    </ui:define>

    <ui:define name="secNavBar">
        <anfoComps:afoMeldEdit_navbarComp id="editAfoNav" anfoCtrl="#{anforderungController}"
                                          rendered="#{anforderungController.berechtigt}"/>
    </ui:define>
    <ui:define name="content">
        <anfoComps:afoMeldEditComp id="editAfo" anfoCtrl="#{anforderungController}"
                                   anforderungsCtrl="#{anforderungController}"/>
    </ui:define>
    <ui:define name="dialogs">
        <dialogs:dialogs id="dialog"
                         anfoMgmtObjectCtrl="#{anforderungController}"
                         abstractAnforderungCtrl="#{anforderungController}"
                         anforderungCtrl="#{anforderungController}"
                         infotextController="#{infotextController}"
                         anforderungPlausiKomChangedCtrl="#{anforderungController}"
                         anforderungEditFahrzeugmerkmalDialogData="#{anforderungController.anforderungEditFahrzeugmerkmalDialogData}"
                         anforderungEditFahrzeugmerkmalDialogActions="#{anforderungController}"
                         rendered="#{anforderungController.berechtigt}"/>
    </ui:define>
</ui:composition>
</html>
