<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="imports">
        <h:outputStylesheet library="css" name="public/growl.css" />
    </ui:define>

    <f:metadata>
        <f:viewParam name="id" value="#{anforderungViewController.id}" />
        <f:viewParam name="fachId" value="#{anforderungViewController.fachId}" />
        <f:viewParam name="version" value="#{anforderungViewController.version}" />
        <f:viewAction action="#{anforderungViewController.init}" />
    </f:metadata>    

    <c:choose>
        <c:when test="#{anforderungViewController.hasMeldung}">
            <ui:include src="anforderungMitMeldungView.xhtml" />
        </c:when>
        <c:otherwise>
            <ui:include src="anforderungOhneMeldungView.xhtml" />
        </c:otherwise>    
    </c:choose>

</html>
