<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:composition template="templates/berechtigung-template.xhtml">
        <ui:define name="title">#{msg.kontextmenu_neue_berechtigung_beantragen} #{msg.title_default}</ui:define>
        <ui:define name="content">
            <ui:include src="berechtigung/berechtigung_antrag_content.xhtml" />
        </ui:define>
    </ui:composition>
</html>

