<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:dialogs="http://xmlns.jcp.org/jsf/composite/berechtigungsantrag">

<ui:composition template="templates/center-template.xhtml">
    <ui:define name="imports">
        <h:outputStylesheet library="css" name="main.css" />
        <h:outputStylesheet library="css" name="public/growl.css" />
        <h:outputScript library="js" target="body" name="primefacesLocaleDe.js" />
    </ui:define>

    <ui:define  name="title">Berechtigungsantrag #{msg.title_default}</ui:define>

    <ui:define name="titleType"><p:outputLabel value="Berechtigungsantrag" class="type"/></ui:define>
    <ui:define name="searchMenu">
        <ui:include src="/components/generalComp/topnavSearchSimple.xhtml"/>
    </ui:define>

    <ui:define name="secNavBar">
        <ui:include src="resources/berechtigungsantrag/berechtigungsantrag_nav.xhtml"/>
    </ui:define>
    <ui:define name="content">
        <ui:include src="resources/berechtigungsantrag/berechtigungsantrag_content.xhtml"/>
    </ui:define>
    <ui:define name="dialogs">
        <dialogs:berechtigungsantrag_dialog id="dialogComponent" berechtigungAntragsverwaltungController="#{berechtigungAntragsverwaltungController}"/>
    </ui:define>
</ui:composition>
</html>
