<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:berechtigungAntrag="http://xmlns.jcp.org/jsf/composite/berechtigungsantrag/history">

<ui:composition template="templates/center-template.xhtml">
    <ui:define name="imports">
        <h:outputStylesheet library="css" name="public/color.css"/>
        <h:outputStylesheet library="css" name="main.css"/>
        <h:outputStylesheet library="css" name="berechtigungHistory/antragBerechtigungHistory.css"/>
    </ui:define>

    <ui:define name="titleType"><p:outputLabel value="#{msg.title_history}" class="type"/></ui:define>
    <ui:define name="titleText"><p:outputLabel value="#{msg.berechtigungantrag_history_titel}"
                                               class="text"/></ui:define>

    <ui:define name="searchMenu">
        <ui:include src="/components/generalComp/topnavSearchSimple.xhtml"/>
    </ui:define>

    <ui:define name="secNavBar">
        <ui:include src="resources/berechtigungsantrag/history/berechtigungsantrag_historie_nav.xhtml" />
    </ui:define>

    <ui:define name="filter">
        <berechtigungAntrag:filter id="filter" historyController="#{berechtigungAntragVerwaltungHistoryController}"/>

    </ui:define>
    <ui:define name="content">
        <berechtigungAntrag:content id="content"
                                    historyController="#{berechtigungAntragVerwaltungHistoryController}"/>
    </ui:define>
</ui:composition>
</html>
