<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
    <ui:composition template="templates/dashboard-template.xhtml">
        <ui:define name="imports">
            <h:outputStylesheet library="css" name="public/color.css" />
            <h:outputStylesheet library="css" name="button/button.css" />
            <h:outputStylesheet library="css" name="main.css" />

            <h:outputStylesheet library="css" name="dashboard.css" />
            <h:outputStylesheet library="css" name="navigation/topNav.css" />
            <h:outputStylesheet library="css" name="anforderungList.css" />
            <h:outputScript library="js" name="dashboard.js" target="head"/>
        </ui:define>
        <ui:define name="title">#{msg.title_dashboard} #{msg.title_default}</ui:define>
        <ui:define name="content">
            <ui:include src="components/dashboard_topNav.xhtml" />
            <ui:include src="components/dashboard_content.xhtml" />
        </ui:define>
    </ui:composition>
</html>