<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:dialogs="http://xmlns.jcp.org/jsf/composite/dialogs">

    <ui:composition template="templates/center-template.xhtml">
        <ui:define name="imports">
            <h:outputStylesheet library="css" name="public/growl.css"/>
            <h:outputStylesheet library="css" name="button/button.css"/>
            <h:outputStylesheet library="css" name="accordion/accordion.css"/>
            <h:outputStylesheet library="css" name="public/color.css"/>

            <h:outputStylesheet library="css" name="anforderung.css" />
            <h:outputStylesheet library="css" name="main.css" />
            <h:outputStylesheet library="css" name="anforderungHistory.css" />
            <h:outputStylesheet library="css" name="derivateView.css" />

            <h:outputScript library="js" target="body" name="primefacesLocaleDe.js" />
        </ui:define>
        <ui:define  name="title">#{msg.title_derivate} #{msg.title_default}</ui:define>

        <ui:define name="titleType"><p:outputLabel rendered="#{derivatController.viewPermission.page}" value="#{msg.title_derivate}" class="type"/></ui:define>
        <ui:define name="searchMenu">
            <ui:include src="/components/generalComp/topnavSearchSimple.xhtml" />
        </ui:define>

        <ui:define name="secNavBar">
            <ui:include rendered="#{derivatController.viewPermission.page}" src="components/derivate_nav.xhtml" />
        </ui:define>
        <ui:define name="content">
            <ui:include src="components/derivate_content.xhtml" />
        </ui:define>
        <ui:define name="dialogs">
            <dialogs:dialogs id="dialog" derivatCtrl="#{derivatController}" rendered="#{derivatController.viewPermission.page}" />
        </ui:define>
    </ui:composition>
</html>
