<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:fahrzeugmerkmal="http://xmlns.jcp.org/jsf/composite/fahrzeugmerkmal">
    <ui:composition template="templates/center-template.xhtml">
        <ui:define name="imports">
            <h:outputStylesheet library="css" name="main.css" />
        </ui:define>
        <ui:define name="title">#{msg.derivat} #{msg.fahrzeugmerkmale} #{msg.title_default}</ui:define>
        <ui:define name="titleType"><p:outputLabel value="#{msg.derivat} #{msg.fahrzeugmerkmale}" class="type"/></ui:define>
        <ui:define name="searchMenu">
            <ui:include src="/components/generalComp/topnavSearchSimple.xhtml" />
        </ui:define>

        <ui:define name="secNavBar">
            <fahrzeugmerkmal:derivatzuordnungFahrzeugmerkmalNavbar id="fahrzeugmerkmalDerivatZuordnungNavbar"
                                                                   rendered="#{fahrzeugmerkmalDerivatZuordnungController.viewPermission.page}" />
        </ui:define>

        <ui:define name="content">
            <fahrzeugmerkmal:derivatzuordnungContent id="fahrzeugmerkmalDerivatZuordnung"
                                                     merkmale="#{fahrzeugmerkmalDerivatZuordnungController}"
                                                     controller="#{fahrzeugmerkmalDerivatZuordnungController}"
                               />
        </ui:define>
    </ui:composition>
</html>
