<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:fahrzeugmerkmal="http://xmlns.jcp.org/jsf/composite/fahrzeugmerkmal"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="templates/center-template.xhtml">
        <ui:define name="imports">
            <h:outputStylesheet library="css" name="fahrzeugmerkmal/fahrzeugmerkmalVerwaltung.css" />
        </ui:define>
        <ui:define name="title">#{msg.fahrzeugmerkmal_verwaltung} #{msg.title_default}</ui:define>

        <ui:define name="titleType"><p:outputLabel value="#{msg.fahrzeugmerkmal_verwaltung}" class="type"/></ui:define>
        <ui:define name="searchMenu">
            <ui:include src="/components/generalComp/topnavSearchSimple.xhtml" />
        </ui:define>
        <ui:define name="secNavBar">
            <fahrzeugmerkmal:navbar id="navbar"
                                    rendered="#{fahrzeugmerkmalController.viewPermission.page}"
                                    fahrzeugmerkmalController="#{fahrzeugmerkmalController}" />
        </ui:define>
        <ui:define name="content">
            <fahrzeugmerkmal:content id="content"
                                     fahrzeugmerkmalController="#{fahrzeugmerkmalController}" />
        </ui:define>
        <ui:define name="dialogs">
            <fahrzeugmerkmal:dialogs id="dialogs"
                                     rendered="#{fahrzeugmerkmalController.viewPermission.page}"
                                     fahrzeugmerkmalController="#{fahrzeugmerkmalController}" />
        </ui:define>
    </ui:composition>
</html>
