<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:umsComps="http://xmlns.jcp.org/jsf/composite/umsComps"
      xmlns:dialogs="http://xmlns.jcp.org/jsf/composite/dialogs">
    <ui:composition template="templates/filter-title-template.xhtml">
        <ui:define name="imports">
            <h:outputStylesheet library="css" name="public/color.css"/>
            <h:outputStylesheet library="css" name="anforderung.css" />
            <h:outputStylesheet library="css" name="anforderungHistory.css" />
            <h:outputStylesheet library="css" name="anforderungList.css" />
            <h:outputStylesheet library="css" name="derivateView.css" />
            <h:outputStylesheet library="css" name="main.css" />
            <h:outputStylesheet library="css" name="kovaPhasen.css" />

            <h:outputScript library="js" target="body" name="filter.js" />
            <h:outputScript library="js" target="body" name="primefacesLocaleDe.js" />            
        </ui:define>
        <ui:define name="title">#{msg.umsetzungsbestaetigung} #{msg.title_default}</ui:define>

        <ui:define name="titleType"><p:outputLabel value="#{msg.umsetzungsbestaetigung}" class="type"/></ui:define>  
        <ui:define name="searchMenu">
            <ui:include src="/components/generalComp/topnavSearchSimple.xhtml" rendered="#{kovAPhasenViewController.viewPermission.page}" />
        </ui:define>

        <ui:define name="secNavBar">
            <ui:include src="components/generalComp/topnavBackComp.xhtml" rendered="#{kovAPhasenViewController.viewPermission.page}" />
        </ui:define>
        <ui:define name="filter">
            <umsComps:kovaPhasenFilter id="kovaPhasenFilter" 
                                       kovaPhasenViewController="#{kovAPhasenViewController}"
                                       rendered="#{kovAPhasenViewController.viewPermission.page}" />
        </ui:define>
        <ui:define name="content">
            <umsComps:kovaPhasenContent id="kovaPhasenContent" 
                                        kovaPhasenViewController="#{kovAPhasenViewController}" />
        </ui:define>
        <ui:define name="dialogs">
            <dialogs:dialogs id="dialog" kovaPhasenViewController="#{kovAPhasenViewController}" />
        </ui:define>
    </ui:composition>
</html>
