<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:anfoComps="http://xmlns.jcp.org/jsf/composite/anfoComps"
      xmlns:dialogs="http://xmlns.jcp.org/jsf/composite/dialogs">
    <ui:composition template="templates/center-template.xhtml">
        <ui:define name="imports">
            <h:outputStylesheet library="css" name="accordion/accordion.css" />
            <h:outputStylesheet library="css" name="public/growl.css" />

            <h:outputStylesheet library="css" name="anforderung.css" />
            <h:outputStylesheet library="css" name="anforderungAnsicht.css" />
            <h:outputScript library="js" target="body" name="anforderung.js" />
            <h:outputScript library="js" target="body" name="felderAttributeAendern.js" />
        </ui:define>

        <ui:define name="title">
            <ui:fragment rendered="#{meldungController.neueMeldung eq true and meldungController.berechtigt}">#{msg.title_meldungNeu} #{msg.title_default}</ui:fragment>
            <ui:fragment rendered="#{meldungController.neueMeldung eq false or meldungController.berechtigt eq false}">#{msg.title_meldungEdit} #{msg.title_default}</ui:fragment>
        </ui:define>

        <ui:define name="titleText">
            <ui:fragment rendered="#{meldungController.neueMeldung eq true and meldungController.berechtigt}"><p:outputLabel value="#{msg.title_meldungNeu}" class="text"/></ui:fragment>
            <ui:fragment rendered="#{meldungController.neueMeldung eq false and meldungController.berechtigt}"><p:outputLabel value="#{meldungController.anfoMgmtObject.fachId}" class="text"/></ui:fragment>
        </ui:define>

        <ui:define name="titleAddition"><p:outputLabel value="#{meldungController.anfoMgmtObject.status.statusBezeichnung}" class="anforderungMeldungStatus" rendered="#{meldungController.berechtigt}"/></ui:define>   

        <ui:define name="searchMenu">
            <ui:include src="/components/generalComp/topnavSearchSimple.xhtml" />
        </ui:define>   

        <ui:define name="secNavBar">
            <anfoComps:afoMeldEdit_navbarComp id="editAfoNav" anfoCtrl="#{meldungController}" rendered="#{meldungController.berechtigt}"/>
        </ui:define>
        <ui:define name="content">
            <anfoComps:afoMeldEditComp id="editAfo" anfoCtrl="#{meldungController}" />
        </ui:define>
        <ui:define name="dialogs">
            <dialogs:dialogs id="dialog" 
                             anfoMgmtObjectCtrl="#{meldungController}"
                             abstractAnforderungCtrl="#{meldungController}"
                             infotextController="#{infotextController}"
                             rendered="#{anforderungController.berechtigt}"/>
        </ui:define>
    </ui:composition>
</html>
