<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:projektReporting="http://xmlns.jcp.org/jsf/composite/projektReporting"
      xmlns:reportingDialogs="http://xmlns.jcp.org/jsf/composite/reportingDialogs">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </h:head>
    <ui:composition template="templates/filter-title-template.xhtml">
        <ui:define name="imports">
            <h:outputStylesheet library="css" name="public/color.css"/>
            <h:outputStylesheet library="css" name="main.css" />
            <h:outputScript library="js" name="main.js" target="head"/>
            <h:outputScript library="js" name="addAnfo.js" target="head"/>
            <h:outputStylesheet library="css" name="anforderungZuordnen.css" />
            <h:outputStylesheet library="css" name="anforderung.css" />
            <h:outputStylesheet library="css" name="anforderungHistory.css" />
            <h:outputStylesheet library="css" name="anforderungList.css" />
            <h:outputStylesheet library="css" name="derivateView.css" />
            <h:outputStylesheet library="css" name="umsetzungsbestaetigung.css" />
            <h:outputStylesheet library="css" name="reporting/reporting.css" />
            <h:outputStylesheet library="css" name="reportingSidebar.css" />
            <h:outputStylesheet library="css" name="projektReportingProzess.css" />

            <h:outputScript library="js" target="body" name="primefacesLocaleDe.js" />
            <h:outputScript library="js" target="body" name="filter.js" />
            <h:outputScript library="js" target="body" name="svgZoom.js" />
            <h:outputScript library="js" target="body" name="tooltipToggle.js" />
            <h:outputScript library="js" target="body" name="projectReporting.js" />
        </ui:define>
        <ui:define name="title">#{msg.reporting_title} #{msg.title_default}</ui:define>
        <ui:define name="titleType"><p:outputLabel value="#{msg.reporting_title}" class="type"/></ui:define>
        <ui:define name="searchMenu">
            <ui:include src="/components/generalComp/topnavSearchSimple.xhtml" />
        </ui:define>


        <ui:define name="filter">
            <projektReporting:prozessFilter id="filter" filterController="#{projectProcessViewController.filterController}" />
        </ui:define>

        <ui:define name="content">
            <h:form id="reportingProcessOverviewForm">

                <div class="contentNav">
                    <projektReporting:prozessNavbar id="navbar" controller="#{projectProcessViewController}" />
                </div>
                <projektReporting:prozessContent id="content" controller="#{projectProcessViewController}" />

                <ui:repeat id="ausleitungDrilldownDialog" value="#{projectProcessViewController.allAvailableDrilldownKeyFigures}" var="keyFigure" >
                    <p:commandLink id="keyFigure"
                                   process="@this"
                                   class="keyFigure#{keyFigure}"                                   
                                   disabled="#{projectProcessViewController.viewData.filter.isSnapshot()}"
                                   actionListener="#{projectProcessViewController.openDialog(keyFigure)}"
                                   />
                </ui:repeat>
            </h:form>
        </ui:define>
        <ui:define name="dialogs" >
            <reportingDialogs:projektAnsichtDialogs id="reportingDialogs"
                                                    reportingViewController="#{projectProcessViewController}" />
        </ui:define>

    </ui:composition>
</html>
