<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:reportingComponents="http://xmlns.jcp.org/jsf/composite/reportingComponents">
    <ui:composition template="templates/filter-title-template.xhtml">
        <ui:define name="imports">
            <h:outputStylesheet library="css" name="public/color.css"/>
            <h:outputStylesheet library="css" name="main.css" />
            <h:outputScript library="js" name="main.js" target="head"/>
            <h:outputScript library="js" name="addAnfo.js" target="head"/>
            <h:outputStylesheet library="css" name="anforderungZuordnen.css" />
            <h:outputStylesheet library="css" name="anforderung.css" />
            <h:outputStylesheet library="css" name="anforderungHistory.css" />
            <h:outputStylesheet library="css" name="anforderungList.css" />
            <h:outputStylesheet library="css" name="derivateView.css" />
            <h:outputStylesheet library="css" name="umsetzungsbestaetigung.css" />
            <h:outputStylesheet library="css" name="reporting/reporting.css" />

            <h:outputScript library="js" target="body" name="primefacesLocaleDe.js" /> 
            <h:outputScript library="js" target="body" name="filter.js" />
        </ui:define>
        <ui:define name="title">#{msg.reporting_title} #{msg.title_default}</ui:define>
        <ui:define name="titleType"><p:outputLabel value="#{msg.reporting_title}" class="type"/></ui:define>  
        <ui:define name="searchMenu">
            <ui:include src="/components/generalComp/topnavSearchSimple.xhtml" />
        </ui:define>

        <ui:define name="filter">
<!--            <reportingComponents:projekt_reporting_filter id="filter" reportingFilterController="#{projektReportingDashboardController}" />-->
        </ui:define>
        <ui:define name="content">
            <div class="contentNav">
                <!--<reportingComponents:reporting_navComp id="navbar" reportingNavbarController="#{reportingDashboardController}" />-->
            </div>
            <reportingComponents:projekt_reporting_content id="content" projektReportingDashboardController="#{projektReportingDashboardController}" />
        </ui:define>
    </ui:composition>
</html>
