<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:projektReporting="http://xmlns.jcp.org/jsf/composite/projektReporting"
      xmlns:reportingDialogs="http://xmlns.jcp.org/jsf/composite/reportingDialogs">
    <ui:composition template="templates/filter-title-template.xhtml">
        <ui:define name="imports">
            <h:outputStylesheet library="css" name="public/color.css"/>
            <h:outputStylesheet library="css" name="main.css" />
            <h:outputScript library="js" name="main.js" target="head"/>
            <h:outputScript library="js" name="addAnfo.js" target="head"/>
            <h:outputStylesheet library="css" name="anforderungZuordnen.css" />
            <h:outputStylesheet library="css" name="anforderung.css" />
            <h:outputStylesheet library="css" name="anforderungHistory.css" />
            <h:outputStylesheet library="css" name="anforderungList.css" />
            <h:outputStylesheet library="css" name="derivateView.css" />
            <h:outputStylesheet library="css" name="umsetzungsbestaetigung.css" />
            <h:outputStylesheet library="css" name="reporting/reporting.css" />

            <h:outputScript library="js" target="body" name="primefacesLocaleDe.js" />
            <h:outputScript library="js" target="body" name="filter.js" />
            <h:outputScript library="js" target="body" name="statusabgleich.js" />
        </ui:define>
        <ui:define name="title">#{msg.reporting_title} #{msg.title_default}</ui:define>
        <ui:define name="titleType"><p:outputLabel value="#{msg.reporting_title}" class="type"/></ui:define>
        <ui:define name="searchMenu">
            <ui:include src="/components/generalComp/topnavSearchSimple.xhtml" />
        </ui:define>

        <ui:define name="filter">
            <projektReporting:statusabgleichFilter id="filter" filterController="#{reportingStatusabgleichController.filter}" />
        </ui:define>
        <ui:define name="content">
            <h:outputStylesheet library="css" name="statusabgleichContent.css" />
            <div class="contentNav">
                <projektReporting:statusabgleichNavbar id="navbar" reportingStatusabgleichController="#{reportingStatusabgleichController}" />
            </div>
            <projektReporting:statusabgleichContent id="content"
                                                    viewData="#{reportingStatusabgleichController.viewData}" 
                                                    controller="#{reportingStatusabgleichController}"/>
        </ui:define>
        <ui:define name="dialogs" >
            <reportingDialogs:statusabgleichDialogs id="reportingDialogs"
                                                           statusabgleichController="#{reportingStatusabgleichController}" />
        </ui:define>
    </ui:composition>
</html>
