<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"

      xmlns:prozessbaukasten="http://xmlns.jcp.org/jsf/composite/prozessbaukasten">
    <ui:composition template="templates/center-template.xhtml">
        <ui:define name="imports">
            <h:outputStylesheet library="css" name="public/growl.css"  />
            <h:outputStylesheet library="css" name="anforderung.css"  />
            <h:outputStylesheet library="css" name="anforderungAnsicht.css" />
            <h:outputStylesheet library="css" name="versionPlusDialog.css" />
            <h:outputScript library="js" target="body" name="felderAttributeAendern.js" />
            <h:outputScript library="js" target="body" name="prozessbaukastenView.js" />
        </ui:define>

        <ui:define name="title">
            #{prozessbaukastenEditController.viewPermission.page ? prozessbaukastenEditController.viewData.fachId : null} | V#{prozessbaukastenEditController.viewPermission.page ? prozessbaukastenEditController.viewData.version : null} #{msg.title_default}
        </ui:define>

        <ui:define name="titleText">
            <p:outputLabel id="fachIdLabel" value="#{prozessbaukastenEditController.viewData.fachId }" class="text" rendered="#{prozessbaukastenEditController.viewPermission.page}"/>
        </ui:define>

        <ui:define name="titleVersion">
            <p:outputLabel id="versionLabel" class="version"
                           value="V#{prozessbaukastenEditController.viewData.version}"
                           rendered="#{prozessbaukastenEditController.viewPermission.page}"/>
        </ui:define>

        <ui:define name="titleAddition">
            <p:outputLabel id="statusLabel" value="#{prozessbaukastenEditController.viewData.statusLabel}" class="anforderungMeldungStatus" rendered="#{prozessbaukastenEditController.viewPermission.page}"/>
        </ui:define>

        <ui:define name="searchMenu">
            <ui:include src="/components/generalComp/topnavSearchSimple.xhtml" />
        </ui:define>

        <ui:define name="secNavBar">
            <prozessbaukasten:editNavbar id="navbar"
                                         viewData="#{prozessbaukastenEditController.viewData}"
                                         rendered="#{prozessbaukastenEditController.viewPermission.page}"/>
        </ui:define>

        <ui:define name="content">
            <h:form id="editForm">

                <ui:param name="activeIndex" value="#{prozessbaukastenEditController.activeIndex.index}" />

                <p:growl id="growl"
                         severity="error"
                         sticky="true" />

                <p:remoteCommand name="save"
                                 action="#{prozessbaukastenEditController.save()}"
                                 update="@form" />

                <p:remoteCommand name="cancel"
                                 action="#{prozessbaukastenEditController.cancel()}"
                                 immediate="true" />


                <prozessbaukasten:editContent id="content"
                                              controller="#{prozessbaukastenEditController}" />
            </h:form>
        </ui:define>

        <ui:define name="dialogs">
            <prozessbaukasten:editDialogs id="dialog"
                                          statusChangeDialog="#{prozessbaukastenEditController}"
                                          addKonzeptDialog="#{prozessbaukastenEditController.viewData.addKonzeptDialog}"
                                          />
        </ui:define>



    </ui:composition>
</html>
