<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:prozessbaukasten="http://xmlns.jcp.org/jsf/composite/prozessbaukasten">
    <ui:composition template="templates/center-template.xhtml">
        <ui:define name="imports">
            <h:outputStylesheet library="css" name="public/growl.css"  />

            <h:outputStylesheet library="css" name="anforderung.css"  />
            <h:outputStylesheet library="css" name="anforderungAnsicht.css" />
            <h:outputStylesheet library="css" name="versionPlusDialog.css" />
            <h:outputScript library="js" target="body" name="felderAttributeAendern.js" />
            <h:outputScript library="js" target="body" name="prozessbaukastenView.js" />
        </ui:define>

        <ui:define name="title">
            #{msg.pzbk} #{prozessbaukastenViewController.viewPermission.page ? prozessbaukastenViewController.viewData.fachId : null} #{msg.title_default}
        </ui:define>

        <ui:define name="titleText">
            <p:outputLabel id="fachIdLabel" value="#{prozessbaukastenViewController.viewData.fachId }" class="text" rendered="#{prozessbaukastenViewController.viewPermission.page}"/>
        </ui:define>

        <ui:define name="titleVersion">
            <p:outputLabel id="versionLabel" class="version"
                           value="V#{prozessbaukastenViewController.viewData.version}"
                           rendered="#{prozessbaukastenViewController.viewPermission.page}"/>
        </ui:define>

        <ui:define name="titleAddition">
            <p:outputLabel id="statusLabel" value="#{prozessbaukastenViewController.viewData.statusLabel}" class="anforderungMeldungStatus" rendered="#{prozessbaukastenViewController.viewPermission.page}"/>
        </ui:define>

        <ui:define name="searchMenu">
            <ui:include src="/components/generalComp/topnavSearchSimple.xhtml" />
        </ui:define>

        <ui:define name="secNavBar">
            <h:form id="navbarForm">

                <ui:param name="activeIndex" value="#{prozessbaukastenViewController.activeIndex.index}" />

                <prozessbaukasten:viewNavbar id="navbar"
                                             viewData="#{prozessbaukastenViewController.viewData}"
                                             controller="#{prozessbaukastenViewController}"
                                             rendered="#{prozessbaukastenViewController.viewPermission.page}"
                                             viewPermission="#{prozessbaukastenViewController.viewPermission}"
                                             />

                <prozessbaukasten:permissionDeniedNavbar id="permissionDeniedNavbar"
                                                         rendered="#{!prozessbaukastenViewController.viewPermission.page}"
                                                         />

            </h:form>
        </ui:define>

        <ui:define name="content">
            <h:form id="contentForm">

                <p:growl id="growl"
                         severity="error"
                         sticky="true" />

                <prozessbaukasten:viewContent id="content"
                                              rendered="#{prozessbaukastenViewController.viewPermission.page}"
                                              viewData="#{prozessbaukastenViewController.viewData}"
                                              controller="#{prozessbaukastenViewController}"
                                              />
            </h:form>
        </ui:define>

        <ui:define name="dialogs">
            <prozessbaukasten:viewDialogs id="dialog"
                                          statusChangeMethodChangeDialog="#{prozessbaukastenViewController}"
                                          statusChangeNextStatusDialog="#{prozessbaukastenViewController.viewData}"
                                          versionPlusCreateNewVersionDialog="#{prozessbaukastenViewController}"
                                          versionPlusKommentarDialog="#{prozessbaukastenViewController.viewData}"
                                          anforderungenProzessbaukastenZuordnenFields="#{prozessbaukastenViewController.viewData.anforderungenProzessbaukastenZuordnenViewData}"
                                          anforderungenProzessbaukastenZuordnenMethods="#{prozessbaukastenViewController}"
                                          zuordnungAufhebenViewFields="#{prozessbaukastenViewController.viewData}"
                                          zuordnungAufhebenControllerMethods="#{prozessbaukastenViewController}"
                                          anforderungenTab="#{prozessbaukastenViewController.viewData}"
                                          anforderungenTabReorder="#{prozessbaukastenViewController}"
                                          />
        </ui:define>
    </ui:composition>
</html>
