<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:reportingComponents="http://xmlns.jcp.org/jsf/composite/reportingComponents"
      xmlns:reportingDialogs="http://xmlns.jcp.org/jsf/composite/reportingDialogs">

    <ui:composition template="templates/filter-title-template.xhtml">
        <ui:define name="imports">
            <h:outputStylesheet library="css" name="public/color.css"/>
            <h:outputStylesheet library="css" name="main.css" />
            <h:outputScript library="js" name="main.js" target="head"/>
            <h:outputScript library="js" name="addAnfo.js" target="head"/>
            <h:outputStylesheet library="css" name="anforderungZuordnen.css" />
            <h:outputStylesheet library="css" name="anforderung.css" />
            <h:outputStylesheet library="css" name="anforderungHistory.css" />
            <h:outputStylesheet library="css" name="anforderungList.css" />
            <h:outputStylesheet library="css" name="derivateView.css" />
            <h:outputStylesheet library="css" name="umsetzungsbestaetigung.css" />
            <h:outputStylesheet library="css" name="reporting/reporting.css" />

            <h:outputScript library="js" target="body" name="primefacesLocaleDe.js" />
            <h:outputScript library="js" target="body" name="filter.js" />
            <h:outputScript library="js" target="body" name="tooltipToggle.js" />

        </ui:define>
        <ui:define name="title">#{msg.reporting_title} #{msg.title_default}</ui:define>
        <ui:define name="titleType"><p:outputLabel value="#{msg.reporting_title}" class="type"/></ui:define>
        <ui:define name="searchMenu">
            <ui:include src="/components/generalComp/topnavSearchSimple.xhtml" />
        </ui:define>


        <ui:define name="filter">
            <reportingComponents:reporting_gesamtprozess_filter id="filter"
                                                                rendered="#{reportingProcessOverviewController.viewPermission.page}"
                                                                reportingFilterController="#{reportingProcessOverviewSimpleController}" />
        </ui:define>

        <ui:define name="content">
            <h:form id="reportingProcessOverviewForm" rendered="#{reportingProcessOverviewController.viewPermission.page}">

                <p:remoteCommand name="showTooltip"
                                 actionListener="#{reportingProcessOverviewSimpleController.showTooltip}"
                                 async="true"
                                 update="reportingProcessOverviewForm:processOverviewContent:processOverviewSimple:tooltipPanel"
                                 oncomplete="showToolTipPanelSimple();"
                                 immediate="true" />

                <div class="contentNav">
                    <reportingComponents:reporting_navComp id="navbar" reportingNavbarController="#{reportingProcessOverviewSimpleController}" />
                </div>
                <reportingComponents:reportingProcessOverviewSimple_content id="processOverviewContent" processOverviewController="#{reportingProcessOverviewSimpleController}" infotextController="#{infotextController}" />

                <ui:repeat id="excelExportCommandLinks" value="#{reportingProcessOverviewSimpleController.viewData.processOverviewKeyFigures.keyFigures.keyFiguresAsList}" var="keyFigure" >
                    <p:commandLink id="keyFigure"
                                   class="keyFigure#{keyFigure.keyTypeId}"
                                   process="@this"
                                   update="dialog:anforderungsuebersichtForm:anforderungsuebersichtDlgContent:anforderungsuebersichtTable"
                                   actionListener="#{reportingProcessOverviewSimpleController.showAnforderungsuebersichtForKeyFigure(keyFigure.keyTypeId)}"
                                   />
                </ui:repeat>


            </h:form>
        </ui:define>

        <ui:define name="dialogs" >

            <reportingDialogs:processOverviewSimpleDialogs id="dialog"
                                                           reportingProcessOverviewSimpleController="#{reportingProcessOverviewSimpleController}" />

        </ui:define>
    </ui:composition>
</html>
