<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:systemComps="http://xmlns.jcp.org/jsf/composite/systemMonitoring"
      xmlns:p="http://primefaces.org/ui"
      xmlns:dialogs="http://xmlns.jcp.org/jsf/composite/dialogs">
    <ui:composition template="templates/filter-title-template.xhtml">
        <ui:define name="imports">
            <h:outputStylesheet library="css" name="public/color.css" />
            <h:outputStylesheet library="css" name="main.css" />
            <h:outputStylesheet library="css" name="systemMonitoring.css" />
            <h:outputScript library="js" target="body" name="primefacesLocaleDe.js" /> 
            <h:outputScript library="js" target="body" name="filter.js" />
        </ui:define>
        <ui:define name="title">System Monitoring #{msg.title_default}</ui:define>
        <ui:define name="titleType"><p:outputLabel value="System Monitoring" class="type"/></ui:define>
        <ui:define name="searchMenu">
            <ui:include src="/components/generalComp/topnavSearchSimple.xhtml" />
        </ui:define>

        <ui:define name="filter">
            <systemComps:systemMonitoring_filter id="systemMonitoringFilter" systemMonitoringController="#{systemMonitoringController}" />
        </ui:define>
        <ui:define name="content">
            <div class="contentNav">
                <systemComps:systemMonitoring_navComp id="systemMonitoringNavigation" systemMonitoringController="#{systemMonitoringController}" />
            </div>
            <systemComps:systemMonitoring_content id="systemMonitoringDashboardContent" systemMonitoringController="#{systemMonitoringController}" />
        </ui:define>
        <ui:define name="dialogs">
            <dialogs:dialogs id="dialog" systemMonitoringController="#{systemMonitoringController}" />
        </ui:define>
    </ui:composition>
</html>
