<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:umsComps="http://xmlns.jcp.org/jsf/composite/umsComps">
    <ui:composition template="templates/filter-title-template.xhtml">
        <ui:define name="imports">
            <h:outputStylesheet library="css" name="anforderung.css" />
            <h:outputStylesheet library="css" name="anforderungHistory.css" />
            <h:outputStylesheet library="css" name="anforderungList.css" />

            <h:outputStylesheet library="css" name="umsetzungsbestaetigung.css" />
            <h:outputStylesheet library="css" name="public/growl.css" />

            <h:outputStylesheet library="css" name="scrollTable.css" />
            <h:outputStylesheet library="css" name="filter_genericTextFilter.css" />

            <h:outputScript library="js" target="body" name="primefacesLocaleDe.js" /> 
            <h:outputScript library="js" target="body" name="umsetzungsbestaetigung.js" /> 
            <h:outputScript library="js" target="body" name="filter.js" />
        </ui:define>
        <ui:define name="title">#{msg.umsetzungsbestaetigung} #{msg.title_default}</ui:define>

        <ui:define name="titleType">
            <p:outputLabel 
                value="#{msg.umsetzungsbestaetigung} #{umsetzungsbestaetigungController.viewData.kovAPhaseImDerivat.derivat.name}" 
                class="type"/>
        </ui:define>  
        <ui:define name="searchMenu">
            <ui:include src="/components/generalComp/topnavSearchSimple.xhtml" />
        </ui:define>

        <ui:define name="secNavBar">

        </ui:define>
        <ui:define name="filter">
            <umsComps:ums_filter id="umsFilter" umsCtrl="#{umsetzungsbestaetigungController}" filter="#{umsetzungsbestaetigungController.viewData.viewFilter}" />
        </ui:define>
        <ui:define name="content">
            <div class="contentNav actualContentNav">
                <umsComps:ums_navComp id ="umsNavbar" controlMethods="#{umsetzungsbestaetigungController}" viewPermission="#{umsetzungsbestaetigungController.viewPermission}" phases="#{umsetzungsbestaetigungController.viewData.phaseHeader}" />
            </div>
            <umsComps:ums_content id="umsContent" viewData="#{umsetzungsbestaetigungController.viewData}" viewPermission="#{umsetzungsbestaetigungController.viewPermission}" controlMethods="#{umsetzungsbestaetigungController}" />
        </ui:define>
        <ui:define name="dialogs">
            <umsComps:ums_dialogs id="dialog" 
                                  umsCtrl="#{umsetzungsbestaetigungController}"/>
        </ui:define>
    </ui:composition>
</html>
