<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="templates/center-template.xhtml">
        <ui:define name="imports">
            <h:outputStylesheet library="css" name="anforderung.css" />
        </ui:define>
        <ui:define name="title">#{msg.title_werte} #{msg.title_default}</ui:define>

        <ui:define name="titleType"><p:outputLabel value="#{msg.title_werte}" class="type"/></ui:define>  
        <ui:define name="searchMenu">
            <ui:include src="/components/generalComp/topnavSearchSimple.xhtml" />
        </ui:define>

        <ui:define name="secNavBar">
            <ui:include src="components/generalComp/topnavBackComp.xhtml" />
        </ui:define>
        <ui:define name="content">
            <ui:include src="components/wertebereiche_content.xhtml" />
        </ui:define>
    </ui:composition>
</html>
