<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:zakComps="http://xmlns.jcp.org/jsf/composite/zakComps"
      xmlns:p="http://primefaces.org/ui"
      xmlns:dialogs="http://xmlns.jcp.org/jsf/composite/dialogs">

    <ui:composition template="templates/filter-title-template.xhtml">
        <ui:define name="imports">
            <h:outputStylesheet library="css" name="button/button.css" />
            <h:outputStylesheet library="css" name="main.css" />
            <h:outputStylesheet library="css" name="public/color.css"/>

            <h:outputScript library="js" name="main.js" target="head"/>
            <h:outputScript library="js" name="zakStatus.js" target="head"/>
            <h:outputStylesheet library="css" name="anforderung.css" />
            <h:outputStylesheet library="css" name="anforderungHistory.css" />
            <h:outputStylesheet library="css" name="anforderungList.css" />
            <h:outputStylesheet library="css" name="umsetzungsbestaetigung.css" />
            <h:outputStylesheet library="css" name="zakStatus.css" />

            <h:outputScript library="js" target="body" name="primefacesLocaleDe.js" />  
            <h:outputScript library="js" target="body" name="filterBerichtswesen.js" />
        </ui:define>
        <ui:define name="title">#{msg.zakStatus} #{msg.title_default}</ui:define>
        <ui:define name="titleType"><p:outputLabel value="#{msg.zakStatus}" class="type"/></ui:define>  
        <ui:define name="searchMenu">
            <ui:include src="/components/generalComp/topnavSearchSimple.xhtml" />
        </ui:define>

        <ui:define name="filter">
            <zakComps:zakFilterComp  rendered="#{berichtswesenController.viewPermission.page}" id="zakStatusFitler" berichtswesenCtrl="#{berichtswesenController}" />
        </ui:define>
        <ui:define name="content">
            <div class="contentNav">
                <zakComps:zakNavComp rendered="#{berichtswesenController.viewPermission.page}" id="zakStatusNavBar" berichtswesenCtrl="#{berichtswesenController}" />
            </div>
            <zakComps:zakContent rendered="#{berichtswesenController.viewPermission.page}" id="zakStatusContent" berichtswesenCtrl="#{berichtswesenController}" />
        </ui:define>
        <ui:define name="dialogs">
            <dialogs:dialogs id="dialog" 
                             berichtswesenCtrl="#{berichtswesenController}"
                             displayCommentCtrl="#{zakStatusController.commentDialogController}"
                             copyLinkDialogController="#{copyLinkDialogController}"
                             rendered="#{berichtswesenController.viewPermission.page}"
                             />
        </ui:define>
    </ui:composition>
</html>