<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:zuordnung="http://xmlns.jcp.org/jsf/composite/zuordnung">
    <ui:composition template="templates/filter-title-template.xhtml">
        <ui:define name="imports">
            <h:outputStylesheet library="css" name="public/color.css"/>
            <h:outputStylesheet library="css" name="main.css" />
            <h:outputScript library="js" name="main.js" target="head"/>
            <h:outputStylesheet library="css" name="anforderungZuordnen.css" />
            <h:outputStylesheet library="css" name="anforderung.css" />
            <h:outputStylesheet library="css" name="anforderungHistory.css" />
            <h:outputStylesheet library="css" name="anforderungList.css" />
            <h:outputStylesheet library="css" name="derivateView.css" />
            <h:outputStylesheet library="css" name="umsetzungsbestaetigung.css" />

            <h:outputScript library="js" target="body" name="zuordnung.js" />
            <h:outputScript library="js" target="body" name="primefacesLocaleDe.js" />
            <h:outputScript library="js" target="body" name="filter.js" />
            <h:outputScript library="js" target="body" name="automatischZuordnenDialog.js"/>
        </ui:define>
        <ui:define name="title">#{msg.title_anfoZuordnen} #{msg.title_default}</ui:define>
        <ui:define name="titleType"><p:outputLabel value="#{msg.title_anfoZuordnen}" class="type"/></ui:define>
        <ui:define name="searchMenu">
            <ui:include src="/components/generalComp/topnavSearchSimple.xhtml" />
        </ui:define>

        <ui:define name="filter">
            <zuordnung:filter id="zuordnungFilter"
                              filterController="#{zuordnungController}" />
        </ui:define>
        <ui:define name="content">
            <div class="contentNav">
                <zuordnung:navbar id="zuordnungNavBar"
                                  navbar="#{zuordnungController}"
                                  />
            </div>
            <zuordnung:content id="zuordnungContent"
                               zuordnungView="#{zuordnungController}"
                               />
        </ui:define>
    </ui:composition>
</html>
