
.center-template {
    display: flex;
    justify-content: center;

    color: white;

    background: url("#{request.contextPath}/resources/images/bg/db_bg_10.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    padding-top: 100px;
}

.center-template .content {
    border: 1px solid rgba(255, 255, 255, 0.7);
    background: rgba(34, 35, 36, 0.35);
    border-radius: 0 0 3px 3px;
}

.ui-widget {
    font-size: 1em;
}