<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:filter="http://xmlns.jcp.org/jsf/composite/filter"
    xmlns:cc="http://xmlns.jcp.org/jsf/composite">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="berechtigungCtrl" type="de.interfaceag.bmw.pzbk.berechtigung.BerechtigungController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:form id="adminViewFilterForm" class="h-100">

            <p:remoteCommand name="filter" process="@form"
                             action="#{cc.attrs.berechtigungCtrl.filter()}" />

            <p:panel class="filter-wrapper"> 
                <p:commandButton ajax="false"
                                 id="kovaPhasenFilterResetButton" 
                                 class="resetButton" 
                                 value="Reset" 
                                 action="#{cc.attrs.berechtigungCtrl.reset()}"/>
                <p:tooltip showDelay="500"  for="kovaPhasenFilterResetButton"  position="bottom" value="#{msg.tooltipp_adminView_filter_resetButton}" />
                <p:outputPanel id="berechtigungFilterPanel" class="berechtigungFilterPanel" rendered="true">
                    <div class="filter-content">
                        <p:outputLabel class="berechtigungShowOnly" value="#{msg.benutzerverwaltung_filter_berechtigteBenutzer}" />

                        <div columns="2" class="filter-grid w-100 showOnlyButtonDiv" columnClasses="filter-column">        
                            <p:selectBooleanButton id="showDeletedElementsCheckbox" 
                                                   class="resetButton filterButton showOnlyButton"
                                                   offLabel="#{msg.benutzerverwaltung_filter_mitBerechtigungOffLable}" onLabel="#{msg.benutzerverwaltung_filter_mitBerechtigungOnLable}" 
                                                   immediate="false"
                                                   value="#{cc.attrs.berechtigungCtrl.filter.nurMitBerechtigungFilter.value}" 
                                                   onchange="filter();"  />
                            <p:tooltip showDelay="500"  for="showDeletedElementsCheckbox"  position="bottom" value="#{msg.tooltipp_adminView_filter_nurBerechtigteButton}" />
                        </div>
                    </div> 
                </p:outputPanel>
                <p:panelGrid columns="1" class="filter-grid w-100" columnClasses="filter-element">


                    <filter:genericInputFilter id="nachnameFilter" 
                                               showTypeLabel="#{false}"
                                               headerLabel="#{msg.nachname}"
                                               filter="filter()"
                                               searchFilter="#{cc.attrs.berechtigungCtrl.filter.nachnameFilter}" />

                    <filter:genericInputFilter id="vornameFilter" 
                                               showTypeLabel="#{false}"
                                               headerLabel="#{msg.vorname}"
                                               filter="filter()"
                                               searchFilter="#{cc.attrs.berechtigungCtrl.filter.vornameFilter}" />

                    <filter:genericFilter id="abteilungFilter" 
                                          showTypeLabel="#{false}"
                                          headerLabel="#{msg.abteilung}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{cc.attrs.berechtigungCtrl.filter.abteilungFilter}" />

                    <filter:genericFilter id="rolleFilter" 
                                          showTypeLabel="#{false}"
                                          headerLabel="#{msg.rolle}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{cc.attrs.berechtigungCtrl.filter.rolleFilter}" />


                    <filter:genericFilter id="sensorCocFilterLesend" 
                                          showTypeLabel="#{false}"
                                          headerLabel="#{msg.sensorCoc}"
                                          rendered="#{cc.attrs.berechtigungCtrl.viewPermission.sensorCocFilter}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{cc.attrs.berechtigungCtrl.filter.sensorCocFilterLesend}" />
                    <filter:genericFilter id="sensorCocFilterSchreibend" 
                                          showTypeLabel="#{false}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          rendered="#{cc.attrs.berechtigungCtrl.viewPermission.sensorCocFilter}"
                                          searchFilter="#{cc.attrs.berechtigungCtrl.filter.sensorCocFilterSchreibend}" />

                    <filter:genericFilter id="modulSeTeamFilter" 
                                          showTypeLabel="#{false}"
                                          headerLabel="#{msg.attribute}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          rendered="#{cc.attrs.berechtigungCtrl.viewPermission.admin}"
                                          searchFilter="#{cc.attrs.berechtigungCtrl.filter.modulSeTeamFilter}" />

                    <filter:genericFilter id="derivatFilter" 
                                          showTypeLabel="#{false}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          rendered="#{cc.attrs.berechtigungCtrl.viewPermission.admin}"
                                          searchFilter="#{cc.attrs.berechtigungCtrl.filter.derivatFilter}" />

                    <filter:genericFilter id="tteamFilter" 
                                          showTypeLabel="#{false}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          rendered="#{cc.attrs.berechtigungCtrl.viewPermission.tteamFilter}"
                                          searchFilter="#{cc.attrs.berechtigungCtrl.filter.gettTeamFilter()}" />

                    <filter:genericFilter id="zakEinordnungFilter" 
                                          showTypeLabel="#{false}"
                                          rendered="#{cc.attrs.berechtigungCtrl.viewPermission.admin}"
                                          appendButtonFunction="appendAnwendenButton()"
                                          searchFilter="#{cc.attrs.berechtigungCtrl.filter.zakEinordnungFilter}" />


                </p:panelGrid>
            </p:panel>
        </h:form>
    </cc:implementation>
</ui:composition>
