<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="berechtigungCtrl" type="de.interfaceag.bmw.pzbk.berechtigung.BerechtigungController"/>
        <cc:attribute name="bearbeitenDialogController" type="de.interfaceag.bmw.pzbk.berechtigung.MitarbeiterBearbeitenDialogController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <p:growl id="growl" sticky="true" severity="info" showDetail="true" />

        <p:panel class="anfoContent adminContent">
            <div class="anfoFormular">
                <p:accordionPanel
                    id="adminAccordionPanel"
                    dynamic="true"
                    multiple="true"
                    activeIndex="0,1,2"
                    styleClass="anfoFormularPanel" 
                    style="margin-bottom:0">
                    <p:tab title="#{msg.berechtigungen}" id="benutzerverwaltungTab" rendered="#{cc.attrs.berechtigungCtrl.viewPermission.page}">


                        <h:form id="benutzerverwaltungForm">
                            <div class="ui-g">


                                <div class="ui-g-12">
                                    <p:dataTable id="tableBerechtigteNutzer"
                                                 var="nutzer"
                                                 value="#{cc.attrs.berechtigungCtrl.tableData}"
                                                 class="auswTable meldungZuordnenTable"
                                                 widgetVar="berechtigteNutzerTable"
                                                 paginator="true"
                                                 sortBy="#{nutzer.nachname}"
                                                 paginatorPosition="bottom"
                                                 rows="20"
                                                 >

                                        <p:column headerText="#{msg.nachname}" sortBy="#{nutzer.nachname}">
                                            <h:outputText value="#{nutzer.nachname}"/>
                                        </p:column>
                                        <p:column headerText="#{msg.vorname}" sortBy="#{nutzer.vorname}">
                                            <h:outputText value="#{nutzer.vorname}"/>
                                        </p:column>
                                        <p:column headerText="#{msg.abteilung}" sortBy="#{nutzer.abteilung}">
                                            <h:outputText value="#{nutzer.abteilung}"/>
                                        </p:column>
                                        <p:column headerText="#{msg.rollen}">
                                            <ui:repeat value="#{nutzer.rollen}" var="rolle">
                                                <h:outputText value="#{rolle.bezeichnung}"/>
                                                <br/>
                                            </ui:repeat>
                                        </p:column>
                                        <p:column headerText="#{msg.benutzerverwaltung_Tabelle_Berechtigung}">
                                            <p:commandLink action="#{cc.attrs.bearbeitenDialogController.showMitarbeiterBearbeitenDialog(nutzer.id, cc.attrs.berechtigungCtrl.filter())}" 
                                                           rendered="#{nutzer.QNumber ne null}" 
                                                           id="benutzerAnzeigenLink"
                                                           update="tableBerechtigteNutzer">
                                                <span class="fa fa-edit"/>
                                            </p:commandLink>
                                            <p:tooltip showDelay="500"  for="benutzerAnzeigenLink"  position="bottom" value="#{msg.tooltipp_adminViewContentComp_benutzerAnzeigenLink}" />

                                        </p:column>
                                    </p:dataTable>
                                </div>
                            </div>
                        </h:form>


                    </p:tab>
                    <p:tab rendered="#{!cc.attrs.berechtigungCtrl.viewPermission.page}">
                        <p:outputLabel value="#{msg.keineBerechtigung}"></p:outputLabel>
                    </p:tab> 
                </p:accordionPanel>
            </div>
        </p:panel>
    </cc:implementation>
</html>