<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="berechtigungCtrl" type="de.interfaceag.bmw.pzbk.berechtigung.BerechtigungController"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:form id="navbarCompForm">
            <div id="admButtons" class="admButtons">
                <p:commandButton id="newBerechtigungButton" class="neueBerechtigungButton"
                                 value="#{msg.erstelleNeueBerechtigung}" 
                                 action="#{cc.attrs.berechtigungCtrl.mitarbeiterZuordnenDialogController.showMitarbeiterZuordnenDialog()}" />
            </div>
        </h:form>
    </cc:implementation>
</html>
