<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:dialogs="http://xmlns.jcp.org/jsf/composite/dialogs"
      xmlns:adminComps="http://xmlns.jcp.org/jsf/composite/adminComps">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="berechtigungCtrl" type="de.interfaceag.bmw.pzbk.berechtigung.BerechtigungController"/>
        <cc:attribute required="true" name="mitarbeiterBearbeitenDialogController" type="de.interfaceag.bmw.pzbk.berechtigung.MitarbeiterBearbeitenDialogController"/>
        <cc:attribute required="true" name="changeController" type="de.interfaceag.bmw.pzbk.berechtigung.MitarbeiterQnumberChangeController"/>
    </cc:interface>

    <cc:implementation>


        <h:form id="mitarbeiterBearbeitenForm">
            <p:dialog id="mitarbeiterBearbeitenDialog" class="customDialog"
                      dynamic="true"
                      header="#{msg.mitarbeiterBearbeiten}"
                      widgetVar="mitarbeiterBearbeitenDialog"
                      modal="true"
                      resizable="false"
                      closable="true"
                      width="60%"
                      fitViewport="true"
                      position="center top">
                <dialogs:mitarbeiterBearbeitenDialog id="mitarbeiterBearbeitenDlgContent"
                                                     berechtigungCtrl="#{cc.attrs.berechtigungCtrl}"
                                                     dialogController="#{cc.attrs.mitarbeiterBearbeitenDialogController}"
                                                     changeController="#{cc.attrs.changeController}"
                                                     />
            </p:dialog>
        </h:form>
        <h:form id="mitarbeiterZuordnenForm">
            <p:dialog id="mitarbeiterZuordnenDialog" class="customDialog"
                      dynamic="true"
                      header="#{msg.mitarbeiterZuordnen}"
                      widgetVar="mitarbeiterZuordnenDialog"
                      modal="true"
                      resizable="false"
                      width="70%"
                      fitViewport="true"
                      position="center top">
                <dialogs:mitarbeiterZuordnenDialog id="mitarbeiterZuordnenDlgContent" berechtigungCtrl="#{cc.attrs.berechtigungCtrl}"/>
            </p:dialog>
            <p:remoteCommand name="showMitarbeiterZuordnenDialog" actionListener="#{cc.attrs.berechtigungCtrl.showMitarbeiterZuordnenDialog}" update="mitarbeiterZuordnenForm"/>
        </h:form>

        <h:form id="changeQnumberDialogForm">
            <p:dialog id="changeQnumberDialog" class="customDialog"
                      dynamic="true"
                      header="#{msg.qnumberchangedialog_show_button}"
                      widgetVar="changeQnumberDialog"
                      modal="true"
                      resizable="true"
                      width="30%"
                      fitViewport="true"
                      position="center top">
                <adminComps:changeQnumberDialog id="changeQnumberDialogContent" changeController="#{cc.attrs.changeController}"/>
            </p:dialog>
        </h:form>
    </cc:implementation>
</html>
