<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite">

<!-- INTERFACE -->
<cc:interface>
    <cc:attribute required="true" name="changeController"
                  type="de.interfaceag.bmw.pzbk.berechtigung.MitarbeiterQnumberChangeController"/>
</cc:interface>


<cc:implementation>
    <f:facet name="last">
        <h:outputStylesheet library="css" name="sensorCoCDialog.css"/>
        <h:outputStylesheet library="css" name="berechtigung/mitarbeiterZuordnenDialog.css"/>
    </f:facet>

    <p:growl id="growl" sticky="false" autoUpdate="true" showDetail="false"/>

    <h3 class="mitarbeiter-zuordnen-h3">#{msg.qnumberchangedialog_mitarbeiter_to_change} #{cc.attrs.changeController.mitarbeiterToEdit.toString()}</h3>

    <h:panelGrid id="anfoHeaderSearch" columns="1" class="anfoTabTable" width="100%">
        <p:inputText id="suchInputQnumber" class="max-column"
                     validatorMessage="#{msg.qnumberchangedialog_qnumber_not_valid}"
                     style="border-radius: 3px; border: 1px solid rgba(204, 204, 204, 0.7); padding: 5px;"
                     value="#{cc.attrs.changeController.qnumberToSearch}">
            <f:validateRegex pattern="[qQ]{1}[0-9a-zA-Z]{6}"/>
            <p:watermark for="suchInputQnumber" value="#{msg.qnumberchangedialog_search_field}"/>
        </p:inputText>
    </h:panelGrid>

    <h:panelGrid width="100%" columns="1">
        <p:commandButton value="#{msg.qnumberchangedialog_ldap_search_button}"
                         action="#{cc.attrs.changeController.handleSuche}"
                         process="@form"
                         update="dialog:changeQnumberDialogForm:changeQnumberDialogContent:foundMitarbeiter"
                         class="searchButton"/>
    </h:panelGrid>

    <h:panelGrid id="foundMitarbeiter" columns="2" class="scrollTable">
        <p:outputLabel value="#{msg.vorname}:" for="foundVorname" rendered="#{cc.attrs.changeController.mitarbeiterFound ne null}" />
        <p:outputLabel id="foundVorname" class="pre-wrap"
                       value="#{cc.attrs.changeController.mitarbeiterFound.vorname}" rendered="#{cc.attrs.changeController.mitarbeiterFound ne null}"/>

        <p:outputLabel value="#{msg.nachname}:" for="foundNachname" rendered="#{cc.attrs.changeController.mitarbeiterFound ne null}"/>
        <p:outputLabel id="foundNachname" class="pre-wrap"
                       value="#{cc.attrs.changeController.mitarbeiterFound.nachname}" rendered="#{cc.attrs.changeController.mitarbeiterFound ne null}"/>

        <p:outputLabel value="#{msg.abteilung}:" for="foundAbteilung" rendered="#{cc.attrs.changeController.mitarbeiterFound ne null}" />
        <p:outputLabel id="foundAbteilung" class="pre-wrap"
                       value="#{cc.attrs.changeController.mitarbeiterFound.abteilung}" rendered="#{cc.attrs.changeController.mitarbeiterFound ne null}"/>
    </h:panelGrid>

    <div class="footer-container">
        <div class="footer">
            <h:panelGrid columns="2">
                <p:commandButton id="confirmDialogJaButton"
                                 value="#{msg.speichern}"
                                 styleClass="ui-confirmdialog-yes"
                                 action="#{cc.attrs.changeController.processChanges()}"
                                 update="growl"/>
                <p:commandButton id="abbrechenButton" onclick="PF('changeQnumberDialog').hide();"
                                 value="#{msg.abbrechen}"/>
            </h:panelGrid>
        </div>
    </div>

</cc:implementation>
</html>
