<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:dialogs="http://xmlns.jcp.org/jsf/composite/dialogs">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="adminCtrl" type="de.interfaceag.bmw.pzbk.controller.ConfigurationController"/>
        <cc:attribute required="false" name="update"/>
        <cc:attribute required="false" name="process"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <h:form id="excelUploadForm" enctype="multipart/form-data">
            <p:commandButton value="#{msg.downloadBeispiel}" ajax="false" actionListener="#{cc.attrs.adminCtrl.getExampleWithExistingData()}" />

            <p:commandButton value="#{msg.result}" ajax="false" actionListener="#{cc.attrs.adminCtrl.getResult()}" />

            <br/><br/>

            <p:panel id="attachmentPanel" class="attachmentPanel">
                <p:fileUpload update="attachmentPanel"
                              label="#{msg.hinzufuegenDnD}"
                              mode="advanced"  
                              dragDropSupport="true"
                              fileUploadListener="#{cc.attrs.adminCtrl.uploadExcelSheet}" 
                              auto="false"
                              multiple="false" 
                              fileLimit="1"
                              allowTypes="/(\.|\/)(xlsx|zip)$/"
                              styleClass="empty">
                </p:fileUpload>
                <p:dialog id="excelUploadResultDialog" class="customDialog"
                          dynamic="true"
                          header="#{msg.excelUloadFinished}"
                          widgetVar="excelUploadResultDlg"
                          modal="true"
                          resizable="false"
                          width="300">
                    <dialogs:excelUploadResultDialog id="excelUploadResultDlgContent" confCtrl="#{cc.attrs.adminCtrl}" />
                </p:dialog>  
                <p:dialog id="excelUploadDialog" class="customDialog"
                          dynamic="true"
                          header="#{msg.excelUloadMessage}"
                          widgetVar="excelUploadDlg"
                          modal="true"
                          resizable="false"
                          width="300">
                    <dialogs:excelUploadDialog id="excelUploadDlgContent" confCtrl="#{cc.attrs.adminCtrl}" />
                </p:dialog>
            </p:panel>
        </h:form>
    </cc:implementation>
</html>