<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute required="true" name="configurationController" type="de.interfaceag.bmw.pzbk.controller.ConfigurationController"/>
        <cc:attribute required="false" name="update"/>
        <cc:attribute required="false" name="process"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        <h:form id="anhangUploadForm" enctype="multipart/form-data">
            <p:panel id="attachmentPanel" class="attachmentPanel">
                <p:fileUpload update="attachmentPanel"
                              label="#{msg.hinzufuegenDnD}"
                              mode="advanced"  
                              dragDropSupport="true"
                              fileUploadListener="#{cc.attrs.configurationController.uploadModulOrgaSheets}" 
                              auto="false"
                              multiple="false" 
                              fileLimit="1"
                              allowTypes="/(\.|\/)(xlsx|zip)$/"
                              styleClass="empty">
                </p:fileUpload>
            </p:panel>
        </h:form>
    </cc:implementation>
</html>