<?xml version='1.0' encoding='UTF-8' ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:dialogs="http://xmlns.jcp.org/jsf/composite/berechtigungsantrag/dialogs">

<cc:interface>
    <cc:attribute required="true" name="berechtigungAntragsverwaltungController"
                  type="de.interfaceag.bmw.pzbk.berechtigungantrag.verwaltung.BerechtigungAntragsverwaltungController"/>
</cc:interface>

<cc:implementation>
    <h:form id="berechtigungsantragForm">
        <p:growl id="growl" showDetail="true" sticky="false" />
        <div class="berechtigungantrag-content">
            <div class="berechtigungantrag-subcontent berechtigungantrag-subcontent-left-side">
                <div class="panelHeader">
                    <p:outputLabel value="#{msg.benutzer}"/>
                </div>

                <p:dataTable id="berechtigungAntragUserTable"
                             var="antrag"
                             styleClass="filterHeaderTable"
                             value="#{cc.attrs.berechtigungAntragsverwaltungController.viewData.berechtigungAntragMitarbeiter}"
                             emptyMessage="Keine Einträge gefunden">

                    <p:column filterBy="#{antrag.getMitarbeiterLabel()}"
                              filterMatchMode="contains">
                        <p:commandButton value="#{antrag.getMitarbeiterLabel()}"
                                         styleClass="table-button-element glass-link mitarbeiterButton"
                                         update="authorizedContent:berechtigungsantragForm"
                                         actionListener="#{cc.attrs.berechtigungAntragsverwaltungController.openAntraege(antrag)}">
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
            </div>

            <div class="berechtigungantrag-subcontent berechtigungantrag-subcontent-padding">
                <div class="panelHeader">
                    <p:outputLabel
                            value="#{msg.berechtigungantrag_benutzer_antraege} #{cc.attrs.berechtigungAntragsverwaltungController.selectedMitarbeiter}"/>
                </div>

                <div class="contentWrapper">
                    <ui:repeat id="berechtigungAntragTable"
                               var="antrag"
                               value="#{cc.attrs.berechtigungAntragsverwaltungController.selectedAntraege}">

                        <div class="rowWrapper">
                            <div class="roleColumn rowcolumn" style="width: 100px">
                                <p:outputLabel value="#{antrag.rolle.bezeichnung}"/>
                            </div>
                            <div class="labelColumn rowcolumn" style="width: 1000px">
                                <p:outputLabel value="#{antrag.berechtigungLabel}"/>
                            </div>
                            <div class="roleColumn rowcolumn" style="width: 100px">
                                <p:outputLabel value="#{antrag.rechttype}"/>
                            </div>
                            <div class="roleColumn rowcolumn" style="width: 200px">
                                <p:outputLabel value="#{antrag.getErstellungsdatumForAusgabe()}"/>
                            </div>
                            <div class="actionColumn rowcolumn">
                                <p:commandLink id="acceptButton"
                                               action="#{cc.attrs.berechtigungAntragsverwaltungController.openAnnehmenDialog(antrag)}">
                                    <div class="imageContainerSmall">
                                        <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_check.png"
                                             alt="Annehmen"/>
                                    </div>
                                </p:commandLink>

                                <p:commandLink id="declineButton"
                                               action="#{cc.attrs.berechtigungAntragsverwaltungController.openAbgelehntDialog(antrag)}">
                                    <div class="imageContainerSmall">
                                        <img src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_cancel.png"
                                             alt="Ablehnen"/>
                                    </div>
                                </p:commandLink>
                            </div>
                        </div>
                    </ui:repeat>
                </div>
            </div>
        </div>
    </h:form>

</cc:implementation>
</html>