<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:berechtigungsantrag="http://xmlns.jcp.org/jsf/composite/berechtigungsantrag">

    <h:outputStylesheet library="css" name="berechtigungsantrag/berechtigungsantrag_content.css"/>

    <berechtigungsantrag:authorized_content id="authorizedContent"
                                            berechtigungAntragsverwaltungController="#{berechtigungAntragsverwaltungController}"
                                            rendered="#{berechtigungAntragsverwaltungController.viewPermission.page}"/>

    <berechtigungsantrag:not_authorized_content id="unAuthorizedContent"
                                                rendered="#{!berechtigungAntragsverwaltungController.viewPermission.page}"/>

</ui:composition>