<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:dialogs="http://xmlns.jcp.org/jsf/composite/berechtigungsantrag/dialogs">

<!-- INTERFACE -->
<cc:interface>
    <cc:attribute required="true" name="berechtigungAntragsverwaltungController"
                  type="de.interfaceag.bmw.pzbk.berechtigungantrag.verwaltung.BerechtigungAntragsverwaltungController"/>
</cc:interface>

<!-- IMPLEMENTATION -->
<cc:implementation>
    <h:form id="dialogAngenommenForm">
        <p:dialog header="#{msg.berechtigungantrag_verwaltung_dialog_header_text_angenommen}" widgetVar="angenommenDialog" id="angenommenDialog"
                  class="customDialog"
                  dynamic="true"
                  modal="true"
                  resizable="false"
                  width="500">
            <dialogs:dialogAngenommen
                    berechtigungAntragsverwaltungController="#{cc.attrs.berechtigungAntragsverwaltungController}"/>
        </p:dialog>
    </h:form>
    <h:form id="dialogAbgelehntForm">
        <p:dialog header="#{msg.berechtigungantrag_verwaltung_dialog_header_text_abgelehnt}" widgetVar="abgelehntDialog" id="abgelehntDialog"
                  class="customDialog"
                  dynamic="true"
                  modal="true"
                  resizable="false"
                  width="500">
            <dialogs:dialogAbgelehnt
                    berechtigungAntragsverwaltungController="#{cc.attrs.berechtigungAntragsverwaltungController}"/>
        </p:dialog>
    </h:form>

</cc:implementation>
</html>

