<?xml version='1.0' encoding='UTF-8' ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

<cc:interface>

</cc:interface>

<cc:implementation>
    <h:form id="berechtigungsantragForm">
        <div class="berechtigungantrag-content">
            <div class="berechtigungantrag-subcontent berechtigungantrag-subcontent-left-side">
                <div class="panelHeader">
                    <p:outputLabel value="#{msg.keinZugriff}"/>
                </div>
            </div>
        </div>
    </h:form>
</cc:implementation>
</html>