.glass-link {
    text-decoration: none;
    border-radius: 3px;
    background: rgba(29, 33, 41, 0.3);
    box-shadow: 0 0;
    text-shadow: 0 0;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(204, 204, 204, 0.7);
    line-height: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

.glass-link:hover {
    background: rgba(81, 137, 205, 0.3);
    border-color: #5189CD;
    cursor: pointer;
}
