<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:cc="http://xmlns.jcp.org/jsf/composite"
        xmlns:p="http://primefaces.org/ui"
>

    <cc:interface>
        <cc:attribute required="true" name="controller"
                      type="de.interfaceag.bmw.pzbk.config.ThemenklammerConfigurationController"/>
    </cc:interface>

    <cc:implementation>

        <p:dataTable
                id="themenklammerTable"
                value="#{cc.attrs.controller.themenklammern}"
                var="themenklammer"
                scrollable="true"
                scrollRows="30"
                scrollHeight="400"
                resizableColumns="false">
            <p:column>
                <p:inputText id="themenklammerInput" value="#{themenklammer.bezeichnung}" />
            </p:column>
        </p:dataTable>

        <p:commandButton id="addThemenklammerButton"
                         value="#{msg.configuration_add_themenklammer}"
                         actionListener="#{cc.attrs.controller.addNewThemenklammer()}"
                         oncomplete="$('.ui-datatable-scrollable-body').scrollTop(100000);"
                         update="settingsForm:adminAccordionPanel:themenklammerTableComponent:themenklammerTable"/>

        <p:commandButton value="#{msg.speichern}"
                         id="saveThemenklammerButton"
                         process="@form"
                         type="submit"
                         action="#{cc.attrs.controller.saveThemenklammern}" />

    </cc:implementation>
</ui:composition>
