<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:p="http://primefaces.org/ui">

    <h:outputStylesheet library="css" name="public/navbar.css"/>

    <p:outputPanel id="berechtigungsantragNav" class="inline-table">
        <h:form id="berechtigungsantragForm">
            <div class="navbarWrapper">
                <div class="leftWrapper">
                    <p:commandLink onclick="redirectBack()" id="backButton">
                        <img alt="back"
                             src="${facesContext.externalContext.requestContextPath}/resources/images/icons/white/icon_arrow_back.png"
                             class="glass"/>
                    </p:commandLink>
                </div>
            </div>
        </h:form>
    </p:outputPanel>
</ui:composition>
