<?xml version='1.0' encoding='UTF-8' ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<cc:interface>
    <cc:attribute required="true" name="historyController"
                  type="de.interfaceag.bmw.pzbk.berechtigungantrag.history.BerechtigungAntragVerwaltungHistoryController"/>
</cc:interface>

<cc:implementation>

    <h:outputStylesheet library="css" name="berechtigungHistory/datatableGlobalSearch.css"/>

    <h:form id="antragHistoryForm">
        <p:dataTable var="antrag"
                     value="#{cc.attrs.historyController.viewData.berechtigungAntragVerwaltungHistoryDtoList}"
                     id="antragHistoryTable"
                     emptyMessage="#{msg.keineAenderungen}"
                     widgetVar="antragTable"
                     class="glass-table antragHistoryTable">

            <f:facet name="header">
                <div class="antragTableHeaderWrapper">
                    <p:inputText id="globalFilter" onkeyup="PF('antragTable').filter()"
                                 styleClass="antragTableHeaderInput antragTableHeaderInputText"
                                 placeholder="#{msg.suche}"/>
                </div>
            </f:facet>

            <p:column headerText="#{msg.berechtigungantrag_history_datatable_antragsteller}"
                      filterBy="#{antrag.antragsteller}" filterMatchMode="contains" filterStyle="display: none">
                <h:outputText value="#{antrag.antragsteller}"/>
            </p:column>

            <p:column headerText="#{msg.berechtigungantrag_history_datatable_erstellungsdatum}"
                      filterBy="#{antrag.erstelungsdatum}" filterMatchMode="exact"
                      filterFunction="#{cc.attrs.historyController.filter.customDateFilter}"
                      filterStyle="display: none">
                <f:facet name="filter">
                    <p:calendar pattern="dd.MM.yyyy" rendered="false">
                        <p:ajax event="dateSelect" oncomplete="PF('antragTable').filter()"/>
                    </p:calendar>
                </f:facet>
                <h:outputText value="#{antrag.erstelungsdatum}"/>
            </p:column>

            <p:column headerText="#{msg.berechtigungantrag_history_datatable_rolle}" filterBy="#{antrag.rolle}"
                      filterMatchMode="contains" filterStyle="display: none">

                <h:outputText value="#{antrag.rolle.bezeichnung}"/>
            </p:column>

            <p:column headerText="#{msg.berechtigungantrag_history_datatable_berechtigung}"
                      filterBy="#{antrag.berechtigung}" filterMatchMode="contains" filterStyle="display: none">
                <h:outputText value="#{antrag.berechtigung}"/>
            </p:column>

            <p:column headerText="#{msg.berechtigungantrag_history_datatable_rechttype}" filterBy="#{antrag.rechttype}"
                      filterMatchMode="contains" filterStyle="display: none">
                <h:outputText value="#{antrag.rechttype.toString()}"/>
            </p:column>

            <p:column headerText="#{msg.berechtigungantrag_history_datatable_status}" filterBy="#{antrag.antragStatus}"
                      filterMatchMode="contains" filterStyle="display: none">
                <h:outputText value="#{antrag.antragStatus.bezeichnung}"/>
            </p:column>

            <p:column headerText="#{msg.berechtigungantrag_history_datatable_kommentar}" filterBy="#{antrag.kommentar}"
                      filterMatchMode="contains" filterStyle="display: none">
                <h:outputText value="#{antrag.kommentar}"/>
            </p:column>

            <p:column headerText="#{msg.berechtigungantrag_history_datatable_bearbeiter}"
                      filterBy="#{antrag.bearbeiter}" filterMatchMode="contains" filterStyle="display: none">
                <h:outputText value="#{antrag.bearbeiter}"/>
            </p:column>

            <p:column headerText="#{msg.berechtigungantrag_history_datatable_bearbeitungsdatum}"
                      filterBy="#{antrag.aenderungsdatum}" filterMatchMode="exact"
                      filterFunction="#{cc.attrs.historyController.filter.customDateFilter}"
                      filterStyle="display: none">
                <f:facet name="filter">
                    <p:calendar pattern="dd.MM.yyyy" rendered="false">
                        <p:ajax event="dateSelect" oncomplete="PF('antragTable').filter()"/>
                    </p:calendar>
                </f:facet>

                <h:outputText value="#{antrag.aenderungsdatum}"/>
            </p:column>

        </p:dataTable>
    </h:form>
</cc:implementation>
</html>