<?xml version='1.0' encoding='UTF-8' ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

<cc:interface>
    <cc:attribute required="true" name="historyController"
                  type="de.interfaceag.bmw.pzbk.berechtigungantrag.history.BerechtigungAntragVerwaltungHistoryController"/>
</cc:interface>

<cc:implementation>
    <h:form id="antragHisotryFilterForm" class="h-100">

        <!--p:remoteCommand name="filter" process="@form"
                         action="#{cc.attrs.filterController.filter()}"/-->
    </h:form>
</cc:implementation>
</html>