<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"      
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:public="http://xmlns.jcp.org/jsf/composite/public">
    
    <ui:composition template="../templates/datenschutzerklaerung-template.xhtml">

        <ui:define name="title">Datenschutzerklärung | BMW PZBK</ui:define>

        <ui:define name="content">
            <public:datenschutzerklaerung_content id="datenschutzerklaerungContent" controller="#{datenschutzerklaerungController}" 
                                                  viewData="#{datenschutzerklaerungController.viewData}"/>
        </ui:define>


    </ui:composition>
</html>
