<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:projektReporting="http://xmlns.jcp.org/jsf/composite/projektReporting"
      xmlns:public="http://xmlns.jcp.org/jsf/composite/public">
    <ui:composition template="../templates/public-template.xhtml">
        <ui:define name="imports">
            <h:outputScript library="js" target="body" name="primefacesLocaleDe.js" />
        </ui:define>
        <ui:define name="title">#{msg.reporting_title} #{msg.title_default}</ui:define>
        <ui:define name="titleType"><p:outputLabel value="#{msg.reporting_title}" class="type"/></ui:define>

        <ui:define name="top">
            <public:top derivat="#{projektReportingPublicProcessController.derivat}" />
        </ui:define>
        <ui:define name="filter">
            <public:filter id="filter" filterController="#{projektReportingPublicProcessController.filter}" />
        </ui:define>
        <ui:define name="content">
            <h:outputStylesheet library="css" name="public/processPublicContent.css" />
            <projektReporting:prozessPublicContent id="content"
                                                   dateLabel="#{projektReportingPublicProcessController.dateLabel}"
                                                   keyFigureController="#{projektReportingPublicProcessController.keyFigureAccessController}" />
        </ui:define>
    </ui:composition>
</html>
